{#
/**
 * @file
 * Theme implementation to display a basic block.
 *
 * Available variables:
 * - elements: Array with fields from the featured highlights block .
 *
 * @ingroup themeable
 */
#}
<article
    class="block basic-block">
    <div class="inner-wrapper">
        {{ elements }}
    </div>
</article>
