@font-face {
  font-family: 'YMCA';
  src: url(../fonts/YMCA.eot);
}

@font-face {
  font-family: 'YMCA';
  src:
      url('../fonts/ymca-normal/ymca-normal.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ymca-normal/ymca-normal.woff') format('woff'),
      url('../fonts/ymca-normal/ymca-normal.ttf')  format('truetype'),
      url('../fonts/ymca-normal/ymca-normal#YMCA') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cachet';
  src: url('../fonts/cachetstd-book-webfont.eot');
  src: url('../fonts/cachetstd-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cachetstd-book-webfont.woff') format('woff'),
  url('../fonts/cachetstd-book-webfont.svg#cachetstd-book-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cachet Bold';
  src: url('../fonts/cachetstd-bold-webfont.eot');
  src: url('../fonts/cachetstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cachetstd-bold-webfont.woff') format('woff'),
  url('../fonts/cachetstd-bold-webfont.svg#cachetstd-bold-webfont') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cachet Medium';
  src: url('../fonts/cachetstd-medium-webfont.eot');
  src: url('../fonts/cachetstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cachetstd-medium-webfont.woff') format('woff'),
  url('../fonts/cachetstd-medium-webfont.svg#cachetstd-medium-webfont') format('svg');
  font-weight: 600;
  font-style: normal;
}

@mixin cachet() {
  font-family: "Cachet", Arial, sans-serif;
  letter-spacing: -0.025em;
}

@mixin cachet-normal() {
  @include cachet();
  font-weight: normal;
}

@mixin cachet-bold() {
  @include cachet();
  font-weight: bold;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  font-family: 'Cachet', Helvetica, Arial, sans-serif;
}

h1, .h1 {
  font-size: 36px
}

h2, .h2 {
  font-size: 30px
}

h3, .h3 {
  font-size: 24px
}

h4, .h4 {
  font-size: 18px
}

h5, .h5 {
  font-size: 14px
}

h6, .h6 {
  font-size: 12px
}