$rhythm-unit: 'rem';
$breakpoint-to-ems: true;

$base-font-size: 10px;

// Colors

// Mobile.
$mobile-bp: 320px;
$mobile-landscape: 480px;

// Tablet.
$tablet-portrait: 640px;
$tablet: 768px;
$tablet-landscape: 960px;
$tablet-start: 992px;


// Desktop.
$desktop-small: 1024px;
$desktop: 1200px;


// Max width.
$mobile-narrow-only: 0 320px;
$mobile-bp-only: 0 479px;
$mobile-only: 0 639px;
$mobile-tablet-portrait-only: 767px 0;
$mobile-max: max-width 767px;
$tablet-only: 640px 1023px;
$mobile-tablet-only: 0 1023px;
$desktop-small-only: 1024px 1199px;
