.locations .node--type-branch.node--view-mode-teaser.hb-selected {
  border: solid 1px #33b737;
}
.locations .node--type-branch .hb-location-checkbox-wrapper {
  padding: 20px;
}
.locations .node--type-branch .hb-location-checkbox-wrapper input {
  margin-right: 10px;
}
