.hb-menu-selector__modal {
  font-size: 14px;
  position: absolute;
  z-index: 100;
  top: 150px;
  right: 50%;
  width: 400px;
}

@media (min-width: 1200px) {
  .hb-menu-selector__modal {
    right: 180%;
  }
}

/* modal > header */
.hb-menu-selector__modal--header {
  display: block;
  overflow: hidden;
  clear: both;
  border-bottom: #0a001f solid 1px;
}
.hb-menu-selector__modal--header h4 {
  float: left;
  padding: 5px 0 0 20px;
  text-transform: uppercase;
}
.hb-menu-selector__modal--header button {
  float: right;
  font-size: 27px;
  opacity: .8;
}

.hb-menu-selector__modal--header button.close {
  padding: 10px;
  background: #0e5188;
  color: white;
  font-weight: 400;
}

.hb-menu-selector__modal--header button.close .fa{
  color: white;
}
/* modal > body */
.hb-menu-selector__modal .modal-content {
  border-radius: unset;
}
.hb-menu-selector__modal--body {
  margin: 15px 0;
  padding: 20px;
}

.hb-menu-selector__modal .modal-content .dont-ask {
  margin: 15px 0;
  font-weight: 400;
}

.hb-menu-selector__modal .modal-content .dont-ask label{
  font-weight: 400;
}
/* modal > footer */

.hb-menu-selector__modal--footer {
  overflow: hidden;
  padding: 20px;
}

.hb-menu-selector__modal--footer .btn {
  font-size: 14px;
}

.hb-menu-selector__modal--footer .btn.btn-default {
  border: #0a6eb4 2px solid;
}

.hb-menu-selector__modal--footer .btn.btn-success {
  float: right;
}
/* modal > animation (provided by vue transition) */
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-content,
.modal-leave-active .modal-content {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hb-menu-selector-wrapper {
  position: relative;
  padding-top: 11px;
  padding-bottom: 12px;
  cursor: pointer;
}
