@charset "UTF-8";
body {
  color: #636466;
  font-family: "Helvetica Neue LT W01_55 Roman", Verdana, sans-serif;
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  font-family: "Cachet W01 Book", Verdana, sans-serif;
}

h1,
.h1 {
  font-size: 44px;
}

h2,
.h2 {
  font-size: 36px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

@media (min-width: 992px) {
  .pull-right-lg {
    float: right !important;
  }
}

.ajax-progress-throbber {
  position: absolute;
  opacity: 0.2;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height, .modal-body .fieldset-wrapper > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ng-hide {
  display: none !important;
}

body {
  padding-top: 70px !important;
}
@media (min-width: 992px) {
  body {
    padding-top: 132px !important;
  }
}

.layout-container {
  position: relative;
}

.footer {
  background-color: #4f4f4f;
  color: #fff;
  font-size: 12px;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .footer .container {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .footer .container {
    padding: 0;
  }
}
.footer .footer__brand {
  background: url("../logo_y.svg") no-repeat 0 0;
  background-size: contain;
  display: block;
  height: 56px;
  width: 72px;
}
@media (min-width: 768px) {
  .footer .footer__brand {
    height: 75px;
    width: 99px;
  }
}
.footer .footer__nav nav {
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .footer .footer__nav nav {
    border-bottom: none;
    display: inline-block;
    float: left;
    width: 33%;
  }
}
.footer .footer__nav nav ul {
  padding: 0 30px 0 0;
  margin: 0;
  list-style: none;
}
.footer .footer__nav nav ul li {
  margin: 0 0 18px;
  padding: 0;
}
.footer .footer__nav nav ul li a {
  color: #fff;
  font-family: "Cachet W01 Book", Verdana, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  text-decoration: none;
}
.footer .footer__nav nav ul li ul {
  padding-top: 5px;
  margin-bottom: -3px;
}
.footer .footer__nav nav ul li ul li {
  margin: 0 0 14px;
}
@media (min-width: 768px) {
  .footer .footer__nav nav ul li ul li {
    margin: 0;
  }
}
.footer .footer__nav nav ul li ul li a {
  font-size: 14px;
  text-transform: none;
}
@media (min-width: 768px) {
  .footer .footer__nav nav ul li ul li a {
    font-size: 12px;
  }
}
.footer .footer__social {
  border-top: 1px solid #979797;
  margin: -21px -15px 0;
  padding: 25px 45px 10px 60px;
}
@media (min-width: 768px) {
  .footer .footer__social {
    border-top: none;
    margin: 0 0 0;
    padding: 0 0 10px;
  }
}
.footer .footer__social .fa {
  background-color: #fff;
  border-radius: 16px;
  color: #4f4f4f;
  font-size: 0;
  height: 32px;
  margin-right: 20px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  width: 32px;
}
.footer .footer__social .fa:before {
  font-size: 22px;
}
.footer .footer__social form {
  margin: 30px 0;
  max-width: 400px;
}
.footer .footer__social form label {
  font-family: "Cachet W01 Book", Verdana, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}
.footer .footer__social form .form-control {
  border: solid 1px #ccc;
  float: left;
  height: 40px;
  width: 70%;
}
@media (min-width: 768px) {
  .footer .footer__social form .form-control {
    margin-right: 20px;
  }
}
.footer .footer__social form .btn, .footer .footer__social form .button {
  float: left;
  height: 40px;
}
.footer .footer__social p {
  margin: 0;
}

.page-head__logo {
  display: inline-block;
}
@media (min-width: 992px) {
  .page-head__logo {
    border-bottom: none;
    display: block;
    padding-bottom: 9px;
    position: absolute;
    z-index: 1001;
  }
}
.page-head__logo img {
  height: 38px;
  margin: 16px;
}
@media (min-width: 992px) {
  .page-head__logo img {
    height: 94px;
  }
}
.page-head__search {
  padding-left: 140px;
  z-index: 50;
}
.page-head__search .search-form-wrapper {
  background-color: #0089d0;
  padding-bottom: 22px;
}
.page-head__search form {
  display: inline-block;
}
.page-head__search input[type="submit"] {
  display: none;
}
.page-head__search .search-input {
  width: 676px;
  display: inline-block;
}
@media (min-width: 1200px) {
  .page-head__search .search-input {
    width: 838px;
  }
}
.page-head__search-close {
  color: #fff;
  padding-left: 22px;
  text-transform: uppercase;
}
.page-head__search-close:hover {
  color: #ccc;
  text-decoration: none;
}
.page-head__search-close .fa {
  font-size: 34px;
  vertical-align: top;
}
.page-head__top-menu {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #979797;
}
.page-head__top-menu .navbar-nav > li > a {
  text-shadow: none;
}
.page-head__top-menu a {
  font-family: "Cachet W01 Book", Verdana, sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 1.06;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .page-head__top-menu {
    border-bottom: none;
  }
  .page-head__top-menu a {
    font-size: 12px;
    line-height: 1.42;
  }
}
.page-head__main-menu a {
  font-family: "Cachet W01 Book", Verdana, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .page-head__main-menu {
    border-bottom: none;
  }
  .page-head__main-menu .nav-level-2 > a,
  .page-head__main-menu .nav-level-3 > a {
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    white-space: normal;
  }
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  line-height: 26px;
  padding: 7px 10px 7px 35px;
}

.search-input-decoration {
  position: absolute;
  font-size: 22px;
  color: #0089d0;
  margin-top: 8px;
  margin-left: 8px;
}

.top-navs {
  height: 70px;
  background-color: #0089d0;
}
.viewport .top-navs {
  height: 132px;
  border-bottom: none;
}
.top-navs .navbar-default {
  background: none;
  border: none;
  box-shadow: none;
}

.viewport {
  overflow: hidden;
  -webkit-filter: none;
}

@media (min-width: 0) and (max-width: 991px) {
  .icon-bar {
    transition: -webkit-transform .35s .35s ease-out, height .35s .35s, width .35s .35s, padding-bottom .35s .35s;
  }

  .sidebar-in .navbar-toggle .icon-bar {
    height: 8px;
    transition-delay: 0s;
    width: 28px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
  }
  .sidebar-in .navbar-toggle .icon-bar:first-child {
    -webkit-transform: translate(0, 8px) rotate(-45deg);
    transform: translate(0, 8px) rotate(-45deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
  .sidebar-in .navbar-toggle .icon-bar:last-child {
    -webkit-transform: translate(0px, -18px) rotate(45deg);
    transform: translate(0px, -18px) rotate(45deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
  .sidebar-in .navbar-toggle .icon-bar:nth-child(2) {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.modal-open .viewport {
  -ms-filter: blur(5px);
  -webkit-transition: -webkit-filter 0s .25s linear;
  -moz-transition: -moz-filter 0s .25s linear;
  -ms-transition: -ms-filter 0s .25s linear;
  -o-transition: -o-filter 0s .25s linear;
  transition: filter 0s .25s linear;
  -moz-filter: blur(5px);
}

.sidebar .search-form-wrapper {
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
  padding-bottom: 22px;
  padding-top: 22px;
}
@media (min-width: 992px) {
  body .sidebar {
    display: none !important;
  }
}

@media (min-width: 0) and (max-width: 991px) {
  .sidebar.collapsing-in,
  .sidebar.collapsing-out {
    width: 100% !important;
  }

  .sidebar.collasping-in + .viewport:after {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .viewport:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: -1px;
    z-index: 1001;
    display: block;
    background-color: transparent;
    content: '';
    -webkit-transition: background-color .2s .2s ease-out, bottom 0s .4s linear;
    -moz-transition: background-color .2s .2s ease-out, bottom 0s .4s linear;
    -ms-transition: background-color .2s .2s ease-out, bottom 0s .4s linear;
    transition: background-color .2s .2s ease-out, bottom 0s .4s linear;
  }
  .viewport.in:after, .viewport.collapsing-in:after {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.64);
    -webkit-transition-delay: 0s, 0s;
  }

  .navbar > .container .navbar-brand {
    left: 50%;
    float: none;
    margin-left: -24px;
    padding: 0;
    height: 80%;
    background-position: left top;
    background-size: contain;
  }

  .collapsing-in .nav-global, .in .nav-global, .collapsing-out .nav-global {
    position: absolute;
    margin-top: -50px;
  }

  .viewport.collapsing-out {
    -webkit-transition: -webkit-transform .35s ease-out;
    -moz-transition: -moz-transform .35s ease-out;
    -ms-transition: -ms-transform .35s ease-out;
    transition: transform .35s ease-out;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .sidebar > .nav {
    overflow: hidden;
    width: 100%;
  }

  .viewport {
    position: relative;
    z-index: 41;
    width: 100%;
  }
  .viewport.collapsing-in, .viewport.collapsing-out {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .viewport.collapsing-in {
    -webkit-transition: -webkit-transform .35s ease-out;
    -moz-transition: -moz-transform .35s ease-out;
    -ms-transition: -ms-transform .35s ease-out;
    transition: transform .35s ease-out;
  }
  .viewport.in {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .viewport.collapsing-in {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  html.sidebar-in {
    overflow: hidden;
  }
}
.navbar-toggle {
  border: none;
  margin-bottom: 13px;
  margin-top: 13px;
  padding: 9px 6px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
  background-color: #0089d0;
  cursor: pointer;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar {
  background-color: #fff;
}

.navbar-toggle .icon-bar {
  border-radius: 1px;
  display: block;
  height: 5px;
  width: 31px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.viewport .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.viewport .nav-global > .container > .row {
  height: 132px;
  position: relative;
}
.viewport .nav-global > .container > .row .header-content {
  bottom: 0;
  position: absolute;
}
.viewport .header-content .page-head__search {
  bottom: 1px;
  position: absolute;
  width: 100%;
}

.toolbar-fixed.toolbar-horizontal .viewport,
.toolbar-fixed.toolbar-horizontal .top-navs {
  margin-top: 39px;
}
.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .viewport,
.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .top-navs {
  margin-top: 79px;
}
.toolbar-fixed.toolbar-vertical .viewport,
.toolbar-fixed.toolbar-vertical .top-navs {
  margin-top: 39px;
}
.toolbar-fixed.toolbar-vertical .sidebar {
  top: 109px;
}
.toolbar-fixed.toolbar-vertical.toolbar-tray-open .viewport .top-navs {
  margin-left: 15rem;
}

.nav.dropdown-menu {
  background-color: #0060af;
  border: 1px solid #fff;
}

.nav-home li.dropdown {
  position: static;
  visibility: inherit;
}
.nav-home .dropdown-menu {
  position: absolute;
  bottom: auto;
  overflow: auto;
  top: auto;
}

.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  z-index: 40;
  display: block !important;
  visibility: visible;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: inherit;
  height: auto;
  background: #0089d0;
  -webkit-overflow-scrolling: touch;
}
.sidebar.collapse {
  width: 0 !important;
}
.sidebar.collapse.in {
  width: 100% !important;
}
.sidebar.collapsing-out {
  -webkit-transition: visibility 0s .4s linear;
  -moz-transition: visibility 0s .4s linear;
  -ms-transition: visibility 0s .4s linear;
}
.sidebar .search-form-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
}
.sidebar .search-form-wrapper input[type="search"]:-moz-placeholder {
  font-size: 18px;
}
.sidebar .search-form-wrapper input[type="search"]::-moz-placeholder {
  font-size: 18px;
}
.sidebar .search-form-wrapper input[type="search"]:-ms-input-placeholder {
  font-size: 18px;
}
.sidebar .search-form-wrapper input[type="search"]::-webkit-input-placeholder {
  font-size: 18px;
}
.sidebar .caret {
  margin-left: 7px;
}
.sidebar .dropdown-menu {
  position: relative;
  top: 0;
  z-index: 0;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  background-color: #0089d0;
}
.sidebar .active > a {
  -webkit-transition: height .3s .3s ease-out,opacity .3s 0s ease-out,background-color .2s .6s ease-out,color .2s .6s ease-out,color .2s .6s ease-out,border-color 0s ease-out;
  -moz-transition: height .3s .3s ease-out,opacity .3s 0s ease-out,background-color .2s .6s ease-out,color .2s .6s ease-out,color .2s .6s ease-out,border-color 0s ease-out;
  -ms-transition: height .3s .3s ease-out,opacity .3s 0s ease-out,background-color .2s .6s ease-out,color .2s .6s ease-out,color .2s .6s ease-out,border-color 0s ease-out;
}
.sidebar .nav a {
  overflow: hidden;
  padding: 0 15px;
  text-overflow: ellipsis;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: height .3s 0s ease-out,opacity .3s 0s ease-out;
  -moz-transition: height .3s 0s ease-out,opacity .3s 0s ease-out;
  -ms-transition: height .3s 0s ease-out,opacity .3s 0s ease-out;
  -o-transition: height .3s 0s ease-out,opacity .3s 0s ease-out;
  transition: height .3s 0s ease-out,opacity .3s 0s ease-out;
}
.sidebar .nav-level-2 .row-level-2 {
  display: none;
}
.sidebar .nav-level-2.open .row-level-2 {
  display: block;
  border-bottom: 1px solid #979797;
}
.sidebar .nav-stacked > li {
  margin: 0;
}
.sidebar .nav-stacked > li + li {
  margin: 0;
}
.sidebar .page-head__main-menu {
  padding-top: 9px;
}
.sidebar .page-head__top-menu {
  overflow: visible;
  padding-bottom: 5px;
  padding-top: 5px;
}
.sidebar .page-head__top-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar .row-level-3 {
  display: none;
}
.sidebar input[type="submit"] {
  display: none;
}
.sidebar .navbar-nav {
  margin: 0 -15px;
}
.sidebar .nav-level-2 a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.sidebar .nav-level-2.open,
.sidebar .row-level-2 {
  background-color: #0060af;
}
.sidebar .navbar-nav .open .dropdown-menu > li > a,
.sidebar .navbar-nav .open .dropdown-menu .dropdown-header {
  color: #fff;
  padding: 12px 15px 12px 23px;
}
.sidebar .dropdown-menu > li > a:hover,
.sidebar .dropdown-menu > li > a:focus {
  color: #fff;
  background: none;
}
.sidebar .section-icon {
  display: none;
}

@media (min-width: 1200px) {
  .viewport .page-head__top-menu {
    padding-right: 15px;
  }
}
.viewport .page-head__main-menu .nav-level-2 > a:hover,
.viewport .page-head__main-menu .nav-level-2 > a:focus {
  color: #D8D8D8;
  text-decoration: none;
}
.viewport .page-head__main-menu .dropdown-menu > li > a:focus,
.viewport .page-head__main-menu .dropdown-menu > li > a:hover {
  background: none;
  color: #fff;
}
.viewport .page-head__main-menu .nav-level-3 {
  padding-top: 25px;
}
.viewport .page-head__main-menu .nav-level-3 > a {
  min-height: 34px;
  display: inline-block;
  padding: 0;
  position: relative;
}
@media (min-width: 1200px) {
  .viewport .page-head__main-menu .nav-level-3 > a {
    display: block;
    min-height: 134px;
  }
}
.viewport .page-head__main-menu .nav-level-3 .section-icon {
  display: none;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 1200px) {
  .viewport .page-head__main-menu .nav-level-3 .section-icon {
    display: block;
  }
}
.viewport .page-head__main-menu .nav-level-3 .section-icon img {
  width: 50px;
}
.viewport .page-head__main-menu .row-level-2 {
  padding: 22px 25px 37px 41px;
}
.viewport .nav-level-2 > a {
  padding-bottom: 31px;
}
@media (min-width: 1200px) {
  .viewport .nav-level-2 > a {
    padding: 10px 30px 31px 30px;
  }
}
.viewport .nav-level-2 > a:hover, .viewport .nav-level-2 > a:focus {
  background: none;
  color: #D8D8D8;
}
.viewport .nav-level-2.open {
  background-color: #0060af;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #0060af;
  margin-top: -1px;
}
.viewport .nav-level-2.open > .dropdown-menu {
  margin-top: -1px;
}
.viewport .nav-level-2.open > a,
.viewport .nav-level-2.open > a:focus {
  color: #fff;
  position: relative;
  z-index: 1001;
  padding: 15px 14px 30px 14px;
  background: #0060af;
}
@media (min-width: 1200px) {
  .viewport .nav-level-2.open > a,
  .viewport .nav-level-2.open > a:focus {
    padding: 10px 29px 30px 29px;
  }
}
.viewport .nav-level-2.open > a:hover,
.viewport .nav-level-2.open > a:focus:hover {
  color: #00aeef;
}
.viewport .row-level-3,
.viewport .nav-level-4 {
  list-style: none;
  padding-left: 0;
}
.viewport .nav-level-4 {
  padding: 2px 0;
}
.viewport .nav-level-4 a {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li {
    float: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row-level-2 > li:nth-child(3n + 1) {
    clear: both;
  }
}
.section-icon {
  background-position: 33% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
}
.section-icon img {
  display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-nav {
    float: none;
  }
}
.page-head__main-menu .nav-level-2 .fa-caret-up {
  display: none;
}
.page-head__main-menu .nav-level-2.open .fa-caret-up {
  display: inline;
}
.page-head__main-menu .nav-level-2.open .fa-caret-down {
  display: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.form-control {
  border: 1px solid #979797;
  border-radius: 0;
  text-shadow: none;
  padding: 6px 12px 6px 5px;
}

.btn, .button {
  font-family: "Cachet W01 Book", Verdana, sans-serif;
  background-image: none;
  border-radius: 0;
  border: none;
  text-shadow: none;
  text-transform: uppercase;
}
.btn.blue, .blue.button, .modal-body .button {
  background-color: #00aeef;
  color: #fff;
}
.btn.blue:hover, .blue.button:hover, .modal-body .button:hover {
  color: #0060af;
}
.btn.blue a, .blue.button a, .modal-body .button a {
  color: #fff;
  text-decoration: none;
}
.btn.blue a:hover, .blue.button a:hover, .modal-body .button a:hover {
  color: #0060af;
}
.btn.white-blue, .white-blue.button {
  background-color: #fff;
  color: #00aeef;
  border: 1px solid #00aeef;
}
.btn.white-blue:hover, .white-blue.button:hover {
  color: #0060af;
}
.btn.white-blue a, .white-blue.button a {
  color: #00aeef;
  text-decoration: none;
}
.btn.white-blue a:hover, .white-blue.button a:hover {
  color: #0060af;
}
.btn.transparent-blue, .transparent-blue.button {
  background-color: transparent;
  color: #0089d0;
  border: 1px solid #0089d0;
}
.btn.transparent-blue:hover, .transparent-blue.button:hover {
  color: #0060af;
}
.btn.transparent-blue a, .transparent-blue.button a {
  color: #0089d0;
  text-decoration: none;
}
.btn.transparent-blue a:hover, .transparent-blue.button a:hover {
  color: #0060af;
}
.btn.btn-link, .btn-link.button {
  text-decoration: none;
}

.form-select {
  border: 1px solid #979797;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url('../img/arrow_down.svg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: white;
  padding-right: 25px;
}
.form-select ::-ms-expand {
  display: none;
}

.pager li.load_more_button > a {
  padding: 12px 35px;
  border: none;
  border-radius: 0;
  background-color: #00aeef;
  font-size: 20px;
}

/* Prevent iphone from zooming in when filling out a form. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  input,
  textarea {
    font-size: 16px !important;
  }
}
.styleguide .sg-color {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-family: 'Cachet';
  margin-bottom: 12px;
  min-height: 50px;
  padding: 12px;
}
.styleguide .sg-color.bg-white {
  border: 1px solid #636466;
  color: #000;
  padding: 11px;
}
.styleguide .bg-white {
  background-color: #fff;
}
.styleguide .bg-black {
  background-color: #000;
}
.styleguide .bg-sky-blue {
  background-color: #bfe1f3;
}
.styleguide .bg-light-blue {
  background-color: #00aeef;
}
.styleguide .bg-blue {
  background-color: #0089d0;
}
.styleguide .bg-dark-blue {
  background-color: #0060af;
}
.styleguide .bg-pink {
  background-color: #c6168d;
}
.styleguide .bg-dark-magenta {
  background-color: #92278f;
}
.styleguide .bg-purple {
  background-color: #5c2e91;
}
.styleguide .bg-orange {
  background-color: #f15922;
}
.styleguide .bg-yellow {
  background-color: #fcaf17;
}
.styleguide .bg-lighter-grey {
  background-color: #ebebeb;
}
.styleguide .bg-light-grey {
  background-color: #ccc;
}
.styleguide .bg-medium-grey {
  background-color: #979797;
}
.styleguide .bg-default-grey {
  background-color: #636466;
}
.styleguide .bg-dark-grey {
  background-color: #4f4f4f;
}
.styleguide .bs-docs-section {
  margin-bottom: 100px;
}
.styleguide .bs-example {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
  *zoom: 1;
}
.styleguide .bs-example:before, .styleguide .bs-example:after {
  display: table;
  content: "";
}
.styleguide .bs-example:after {
  clear: both;
}
.styleguide .highlight {
  border-left: 3px solid #0060af;
}
.styleguide .fontawesome-icon-list .fa-hover a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
}
.styleguide .fontawesome-icon-list .fa-hover a .fa {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.styleguide .fontawesome-icon-list .fa-hover a:hover {
  background-color: #1d9d74;
  color: #fff;
  text-decoration: none;
}
.styleguide .fontawesome-icon-list .fa-hover a:hover .fa {
  font-size: 28px;
  vertical-align: -6px;
}
.styleguide .underline {
  border-bottom: 3px solid #0060af;
  padding-bottom: 10px;
}

.slick-dotted {
  margin-bottom: 75px;
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 60px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

body .branch-popup {
  border-radius: 0px;
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  padding: 0;
  max-width: 600px;
  min-width: 300px;
  z-index: 1031 !important;
}
body .branch-popup .ui-dialog-titlebar {
  display: none;
}
body .branch-popup .ui-dialog-content {
  padding: 0;
  overflow-x: hidden;
}
body .branch-popup + .ui-widget-overlay {
  z-index: 1030 !important;
  opacity: 0.5;
}

.modal-body {
  overflow: hidden;
}
.modal-body + .modal-body {
  padding-top: 0;
  margin-top: -10px;
}
.modal-body .fieldset-legend {
  font-weight: bold;
}
@media (min-width: 768px) {
  .modal-body .fieldset-legend {
    font-size: 38px;
  }
}
.modal-body .button {
  height: 40px;
  float: right;
  font-weight: bold;
  padding: 10px 20px;
  font-family: "Cachet W01 Book", Verdana, sans-serif;
}
.modal-body legend {
  border-bottom: 0;
  margin-bottom: 0px;
}
.modal-body img {
  max-width: 100%;
  height: auto;
}
.modal-body [class*='form-type-radio'] {
  display: inline-block;
  padding: 15px;
}
@media (min-width: 768px) {
  .modal-body [class*='form-type-radio'] {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .modal-body [class*='form-type-radio'] {
    width: 33.33%;
  }
}
.modal-body [class*='form-type-radio'] input {
  margin: 4px 5px 0 0;
  margin-top: 1px \9;
}
.modal-body [class*='form-type-radio'] label {
  display: inline;
}

/*# sourceMappingURL=styles.css.map */
