.breadcrumbs-wrapper {
  position: relative;
  top: -25px;
}

.breadcrumbs {
  list-style: none;
  display: flex;

  li {

    span,
    a {
      @include cachet();
      display: block;
      float: left;
      height: 50px;
      text-align: center;
      padding: 10px 20px 10px 50px;
      position: relative;
      margin: 0;
      font-size: 20px;
      text-decoration: none;

      // first level
      &:after {
        content: "";
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid $gray-100;
        position: absolute;
        right: -25px;
        top: 0;
        z-index: 1;
      }

      &:before {
        content: "";
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid white;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    // parent breadcrumb (links)
    a {
      color: $cyan;
      background: lighten($gray-100, 3%);

      &:after {
        border-left-color: lighten($gray-100, 3%);
      }
    }

    // active breadcrumb (title)
    span {
      color: $gray-500;
      background: lighten($gray-200, 10%);

      &:after {
        border-left-color: lighten($gray-200, 10%);
      }
    }

    // hover for links
    //a:hover {
    //  background: $primary;
    //  color: white;
    //
    //  &:after {
    //    border-left-color: $primary;
    //    color: white;
    //  }
    //}

    // first child remove arrow before
    &:first-child a {
      padding-left: 30px;

      &:before {
        display: none;
      }
    }
  }
}
