.childcare-payment-history--pdf {
  font-family: sans-serif;
}
.childcare-payment-history--pdf p {
  margin: 0;
}
.childcare-payment-history--pdf .header {
  margin-bottom: 20px;
}
.childcare-payment-history--pdf .header .branding {
  float: left;
  width: 200px;
}
.childcare-payment-history--pdf .header .document_info {
  text-align: center;
  width: 300px;
}
.childcare-payment-history--pdf .header .document_info .first {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
.childcare-payment-history--pdf .header .tax_id {
  text-align: right;
  font-weight: bold;
  margin: 20px 0;
}
.childcare-payment-history--pdf .header .customer_info {
  clear: left;
  margin: 20px 0 40px 40px;
  font-weight: bold;
  float: left;
  width: 400px;
}
.childcare-payment-history--pdf .header .bill_customer_id {
  margin: 40px 0 0 40px;
  font-weight: bold;
}
.childcare-payment-history--pdf .header .filters {
  clear: left;
  margin-left: 15px;
}
.childcare-payment-history--pdf .caption {
  padding: 5px 15px;
  background-color: #f8f8f8;
  font-size: 15px;
  font-weight: bold;
}
.childcare-payment-history--pdf table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}
.childcare-payment-history--pdf table th {
  background-color: #696969;
  color: #fff;
  border: 1px solid #f8f8f8;
  padding: 5px 15px;
  font-family: sans-serif;
  text-align: left;
}
.childcare-payment-history--pdf table td {
  padding: 5px 15px;
  border: 1px solid #f8f8f8;
  font-family: sans-serif;
  text-align: left;
}
.childcare-payment-history--pdf table .order {
  width: 150px;
}
.childcare-payment-history--pdf table .amount {
  width: 150px;
}
.childcare-payment-history--pdf table .total-for-child {
  background-color: #f8f8f8;
  font-weight: bold;
  text-align: right;
}
.childcare-payment-history--pdf table .total-for-child-amount {
  background-color: #f8f8f8;
  font-weight: bold;
}
.childcare-payment-history--pdf .total {
  font-size: 16px;
  float: right;
  font-weight: bold;
  width: 250px;
}
.childcare-payment-history--pdf .total td.left {
  background-color: #696969;
  border: 1px solid #696969;
  color: #fff;
  font-weight: bold;
}
.childcare-payment-history--pdf .total td.right {
  border: 1px solid #696969;
  font-weight: bold;
  width: 150px;
}

.childcare-payment-history--pdf--footer {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 25px;
  text-align: center;
}
