@font-face {
	font-family: "Cachet-Book";
	src: url("../fonts/cachet-book/Cachet-Book.ttf") format("truetype"),
	url("../fonts/cachet-book/Cachet-Book.eot?#iefix") format("embedded-opentype"),
	url("../fonts/cachet-book/Cachet-Book.woff") format("woff"),
	url("../fonts/cachet-book/Cachet-Book.svg#Cachet-Book") format("svg");
}

@font-face {
	font-family: "Cachet-Bold";
	src: url("../fonts/cachet-bold/Cachet-Bold.ttf") format("truetype"),
	url("../fonts/cachet-bold/Cachet-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/cachet-bold/Cachet-Bold.woff") format("woff"),
	url("../fonts/cachet-bold/Cachet-Bold.svg#Cachet-Bold") format("svg");
}
