// Accordion.
.accordion {
  &__item {
    margin: rem(15px) 0px;
    padding: rem(15px);
    border: 1px solid $grey-e;
    background-color: $grey-e;
    border-radius: rem(5px);
    transition: border 300ms ease;
    &:hover {
      border: 1px solid $grey-a;
    }

    &--content {
      display: block !important;
      padding: rem(0px 10px);
      transition: max-height 0.25s ease-out;
      min-height: 0;
      max-height: 0;
      overflow: hidden;

      .accordion__item-active & {
        max-height: rem(2000px);
        transition: max-height 0.25s ease-in;
      }

      p {
        margin-bottom: rem(10px);
        &:first-child {
          margin-top: rem(10px);
        }
      }
    }

    &.accordion__item-active {
      h2 {
        @extend .icon-minus;
      }
    }

    h2 {
      @extend .icon-plus;
      font-size: rem(26px);
      cursor: pointer;
      user-select: none;
      transition: color 300ms ease;

      span {
        cursor: pointer;
        font-size: rem(18px);
        font-weight: 300;
        color: $grey-6;
        vertical-align: rem(1px);
        margin-left: rem(15px);
      }

      &:before {
        @extend %icons;
        color: $grey-6;
        font-size: rem(14px);
        margin-right: rem(10px);
        margin-left: rem(5px);
        vertical-align: rem(2px);
      }
    }
    &:hover {
      h2 {
        color: $dark-blue;
      }
    }
  }



  &__content {

  }
}