// Banners
.banner {
  background-color: $grey-3;
  position: relative;
  color: #fff;
  padding: rem(30px 0);

  @include susy-media(tablet) {
    background-color: $grey-3;
  }

  section {
    overflow: none;
    height: auto;

    @include susy-media(tablet) {
      overflow: hidden;
      height: 100%;
    }

    &:after {
      @include susy-media(tablet) {
        position: absolute;
        top: 0;
        left: -21%;
        z-index: 1;
        width: 80%;
        height: 100%;
        background: $grey-3;
        content: '';
        transform: skew(20deg);
      }
    }
  }

  &__image-container {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;

    @include susy-media(tablet) {
      padding-right: rem(30px);
      width: 50%;
      opacity: 1;
    }
  }

  h1 {
    font-size: rem(48px);
    margin-bottom: rem(8px);
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    z-index: 2000;
    position: relative;

    @include susy-media(desktop) {
      font-size: rem(65px);
    }
  }

  h2 {
    font-weight: normal;
    font-size: rem(24px);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    z-index: 2000;
    position: relative;
    @include susy-media(tablet) {
      max-width: 50%;
    }
  }

  &__description {
    text-align: center;

    @include susy-media(tablet) {
      text-align: left;
    }

    .container {
      padding: rem(30px 0);
      position: relative;

      @include susy-media(tablet) {
        padding: rem(40px 0);
      }

      @include susy-media(desktop) {
        padding: rem(60px 0);
      }
    }
  }

  &__section-category {
    position: relative;
    z-index: 999;

    @include susy-media(tablet) {
      @include span(4 of 8);
      position: relative;
      left: rem(-18px);
    }

    @include susy-media(desktop) {
      @include span(4 of 10);
    }
  }
}