{#
/**
 * @file
 * GroupEx Pro day schedule template.
 *
 * Available variables:
 * - classes: an array of classes;
 * - title: (string) short title of Location;
 * - pdf_href: string link to pdf file on groupex;
 *
 * @ingroup themeable
 */
#}
<figure id="group-ex-results">
  <div class="row">
    <div class="col-xs-12">
      {% for class in classes %}
        {{ class }}
      {% endfor %}
    </div>
  </div>
</figure>
