{% block activity_icon %}
<table class="align-center container layout-icon"  width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/strength-200.png" width="79" height="79"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/cardio-200.png" width="79" height="79"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/aquatics-200.png" width="79" height="79"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/yoga-200.png" width="79" height="79"></td>
  </tr>
  <tr>
    <td class="icon__title">Strength</td>
    <td class="icon__title">Cardio</td>
    <td class="icon__title">Aquatics</td>
    <td class="icon__title">Yoga</td>
  </tr>
</table>
</br>
</br>
<table class="align-center container layout-icon"  width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/dance-200.png" width="79" height="79"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/run-200.png" width="79" height="79"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/camp-200.png" width="79" height="79"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/family-200.png" width="79" height="79"></td>
  </tr>
  <tr>
    <td class="icon__title">Dance</td>
    <td class="icon__title">Run</td>
    <td class="icon__title">Camp</td>
    <td class="icon__title">Family</td>
  </tr>
</table>
{% endblock %}
