<div class="block-hero block-hero--top block-hero--bg--orange">
  <table border="0" cellspacing="0" width="650">
    <tr width="650">
      <td class="block-hero__title">May Member News</td>
    </tr>
    <tr width="650">
      <td>
        <img width="650" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/hero1.png" alt="hero1">
      </td>
    </tr>
    <tr height="50">
      <td width="100%"></td>
    </tr>
  </table>
</div>
