{% block marketing_icon %}
<table class="align-center container layout-icon"  width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/discount-2x.png" width="70" height="70"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/donate-2x.png" width="70" height="70"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/event-2x.png" width="70" height="70"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/prize-2x.png" width="70" height="70"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/promotion-2x.png" width="70" height="70"></td>
  </tr>
  <tr>
    <td class="icon__title">Discount</td>
    <td class="icon__title">Donate</td>
    <td class="icon__title">Event</td>
    <td class="icon__title">Prize</td>
    <td class="icon__title">Promotion</td>
  </tr>
</table>
{% endblock %}
