{% block text_icons %}
<div class="block-text-icon">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr>
        <td align="left" class="text-icon">
          <table>
            <tbody>
              <tr>
                <td class="padding-right"><img width="15" height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/date-2x.png" width="23" height="25"></td>
                <td>Friday, April 15,</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" width="570" class="text-icon">
          <table class="text-size">
            <tbody>
              <tr>
                <td class="padding-right"><img width="15" height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/time-2x.png" width="23" height="23"></td>
                <td>11:00 am - 7:00 pm</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr height="22">
        <td></td>
      </tr>
      <tr>
        <td align="left" >
          <a href="#" class="link link--has-icon link--green">
            <table>
              <tbody>
                <tr>
                  <td class="padding-right"><img width="15" height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bulb-green-2x.png" width="14" height="19" class="img-left"></td>
                  <td class="padding-right">View tips: preparing for lessons</td>
                  <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/arrow-right-green.png" class="img-right"></td>
                </tr>
              </tbody>
            </table>
          </a>
        </td>
      </tr>
      <tr>
        <td align="left" class="text-indent" >
          <table>
            <tr><td class="padding">Administration and Training Center</td></tr>
            <tr><td class="padding">2125 East Hennepin Avenue</td></tr>
            <tr><td class="padding">Minneapolis, MN 55413</td></tr>
          </table>
        </td>
      </tr>
      <tr height="30">
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

