.path-frontpage {
  #block-tabs {
    margin-top: 60px;
  }
  .masthead {
    position: relative;
    z-index: 99;
    padding: 25px 0 10px;
    @include breakpoint ($tablet $tablet-start) {
      padding: 25px 0 !important;
    }
    @include transition(top 0.2s ease);
    background: #0060af;
    @include breakpoint (0 767px) {
      padding: 0 0 15px;
      min-height: 128px;
    }
    .location-search-column {
      position: absolute;
      bottom: 0;
      left: 64.666667%;
      margin: 0;
      top: 0;
      @include breakpoint (0 767px) {
        position: static;
      }

    }
    .masthead-brand {
      color: white;
      border-color: #0e5188;
      transition: background-color .3s;
      -webkit-transition: background-color .3s;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      @include cachet();
      line-height: 1.3em;
      font-size: 54px;
      @include breakpoint ($desktop 1350px) {
        font-size: 44px;
      }
      @include breakpoint (0 $desktop) {
        font-size: 44px;
      }
      @include breakpoint (0 $tablet-start) {
        font-size: 32px;
      }
      @include breakpoint (0 767px) {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
        min-height: 0;
        text-align: center;
        text-decoration: none;
        font-size: 26px;
      }
    }
    .find-locations {
      position: absolute;
      padding-top: 18px;
      height: 100%;
      white-space: nowrap;
      right: 20px;
      left: 0;

      .location-search {
        position: absolute;
        bottom: 8px;
        right: 265px;
        @include breakpoint (0 $desktop) {
          bottom: 5px;
          right: -20px !important;
        }
        @include breakpoint (0 $tablet-start) {
          bottom: -2px;
        }
        @include breakpoint ($tablet $tablet-start) {
          top: 12px;
        }
        .control-label {
          display: none;
          &.in {
            display: block;
          }
        }
        .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
        .location-search-collapse {
          margin-bottom: 10px;
          .input-group {
            max-width: 300px;
            margin: 0 auto;
            .btn {
              @extend .pink-button;
              padding: 8px 12px;
            }
          }
          &.collapse {
            display: none;
            &.in {
              display: block;
            }
          }
        }

      }
      @include breakpoint (0 767px) {
        position: static;
        padding-top: 0;
        .location-search {
          position: static;
        }
      }
    }
    .newsletter-link-wrapper {
      position: absolute;
      top: 42px;
      right: 47px;
      width: auto;
      @include breakpoint (0 $desktop) {
        top: 53px !important;
        right: 0 !important;
      }
      @include breakpoint ($tablet $tablet-start) {
        top: 48px;
      }
      @include breakpoint (0 767px) {
        position: static;
        width: 100%;
      }
    }
    .location-search .btn-info,
    .newsletter-link-wrapper a {
      background-color: #0f74c7;
      max-width: 240px;
      width: 230px;
      display: inline-block;
      transition: background-color .3s;
      -webkit-transition: background-color .3s;
      -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0 1px rgba(255, 255, 255, 0.1);
      margin: 0;
      color: white;
      text-transform: uppercase;
      @include cachet();
      font-size: 13px;
      font-weight: normal;
      line-height: 1.428571429;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid #0a5696;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .site-phone {
      color: white;
      font-size: 22px;
      display: block;
      margin-top: 18px;
      position: absolute;
      right: 40px;
      @include breakpoint ($mobile-tablet-only) {
        font-size: 20px;
      }
      @include breakpoint ($tablet $tablet-start) {
        display: none;
      }
      @include breakpoint (0 767px) {
        position: static;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0 0 15px;
      }
    }
    @include breakpoint ($tablet 1499px) {
      .location-search {
        top: 15px;
        right: 27px !important;
      }
      .newsletter-link-wrapper {
        top: 50px;
      }
      .site-phone {
        right: -40px;
      }
    }
  }
}
