.two-column-fixed .affix {
  top: 126px;
  position: static;
  @include breakpoint($screen-sm) {
    width: 220px;
    position: fixed;
  }
  @include breakpoint($screen-md) {
    width: 294px;
  }
  @include breakpoint($screen-lg) {
    width: 360px;
  }
  .toolbar-fixed & {
    top: 166px;
  }
}

.embedded-entity {
  .media-image.view-mode-link {
    display: inline;
  }

  img {
    display: inline-block;
    padding: 10px 0;
  }
}
