.paragraph--type--prgf-location-finder {
  .views-element-container {
    padding: 0;
    .locations-list {
      padding: 20px 0;

      h1 {
        color: #636466 !important;
      }
      .views-element-container {
        .locations-list {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.label-for-field-location-fax,
.label-for-field-location-phone,
.label-for-field-location-email {
  text-transform: lowercase;
  display: inline;
}
.field-location-fax,
.field-location-phone,
.field-location-email {
  display: inline;
}

.form__locations {
  .tag_filters {
    label {
      background-color: white;
      color: #333;
    }
  }
}
