body.path-search {
  #block-mainpagecontent {
    background-color: #fff;
    overflow: hidden;

    > form,
    > h2 {
      display: none;
    }
    ol {
      padding: 0;
    }
    li {
      list-style-type: none;
      list-style-image: none;
    }
  }
}

.path-search-results {

  #block-tabs {
    display: none;
  }
}

#search-box {
  position: fixed;
  top: 0;
  background: $grey24;
  padding: 0 100px;
  z-index: 100;
  max-height: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  @include transition(all 0.2s linear);
  input {
    padding: 12px 20px;
    height: 48px;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }
  button {
    padding: 11px 20px;
    outline: 0;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    background-color: #9c1f7b;
    background-image: -webkit-linear-gradient(#b92f9e, rgba(171, 36, 144, 0));
    background-image: -moz-linear-gradient(#b92f9e, rgba(171, 36, 144, 0));
    background-image: -ms-linear-gradient(#b92f9e, rgba(171, 36, 144, 0));
    background-image: linear-gradient(#b92f9e, rgba(171, 36, 144, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: bold;
    @include cachet();
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.expanded-search {
    max-height: 88px;
    padding: 20px 100px;
    z-index: 9999;
  }
  .toolbar-fixed & {
    top: 39px;
  }
  @include breakpoint (0 $tablet-start) {
    display: none;
  }
}

.search-toggle {
  margin: 0;
  float: right;
  cursor: pointer;
  line-height: 98px;
  position: relative;
  z-index: 9999;
  padding: 0 10px;
  color: $gray-dark;
  border-top: 2px solid transparent;
  font-size: 14px;
  @include transition(all 0.2s linear);
  &:hover {
    border-top: 2px solid #aa228d;
    background-color: #fff;
    color: black;
  }
}

.search-results {
  padding: 40px 30px;
  @include breakpoint($desktop) {
    padding: 40px 100px;
  }
  .views-exposed-form {
    display: none;
  }
  .views-row {
    padding: 15px 0;
    max-width: 430px;
    .views-field-title {
      font-size: 18px;
      @include cachet();
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.no-results {
  font-size: 24px;
  font-weight: bold;
}
