{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="panelizer-wizard">
  <div class="panelizer-wizard-actions">
    {{ form.wizard_actions }}
  </div>
  <div class="panelizer-wizard-main clearfix">
    <div class="panelizer-wizard-tree">
      {{ form.wizard_tree }}
    </div>
    <div class="panelizer-wizard-form">
      {{ form|without('wizard_actions', 'wizard_tree', 'actions') }}
    </div>
  </div>

  <div class="panelizer-wizard-form-actions">
    {{ form.actions }}
  </div>
</div>
