@media (min-width: 62em) {
  body .branch-popup .ui-dialog-content .branch-popup-map {
    position: relative;
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.3s;
  }
  body .branch-popup .ui-dialog-content .branch-popup-map:hover {
    max-height: 500px;
  }
}