{#
/**
 * @file openy_upgrade_log.html.twig
 * Default theme implementation to present Openy upgrade log data.
 *
 * This template is used when viewing Openy upgrade log pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openy_upgrade_log()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openy_upgrade_log') }}>
  {% if data %}
    {{- data -}}
  {% endif %}
</div>
