body {
  color: $default-grey;
  font-family: Verdana, sans-serif;
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  @include cachet();
}

h1,
.h1 {
  font-size: $h1-size;
}

h2,
.h2 {
  font-size: $h2-size;
}

h3,
.h3 {
  font-size: $h3-size;
}

p {
  word-wrap: break-word;
}

figcaption {
  font-size: 13px;
  font-style: italic;
  text-align: right;
}

.visually-hidden {
  color: black;
  background-color: white;
}
