@import 'breakpoint';
@import 'global/colors';
@import 'bootstrap/variables';
@import 'global/fonts';
.banner {
  background: $grey7;
  overflow: hidden;
  position: relative;

  &-image {
    @include breakpoint($screen-sm) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
      position: absolute;
      height: 100%;
      right: 0;
      width: calc(50% + #{ceil($container-desktop/6 - $grid-gutter-width)});
      * {
        height: 100%;
      }
    }

    @include breakpoint($screen-lg) {
      width: calc(50% + #{ceil($container-large-desktop/6 - $grid-gutter-width)});
    }

    img {
      max-height: 100%;
      width: auto;
      height: auto !important;
      max-width: none;
    }
  }

  &-cta-section {
    padding-bottom: 18px;

    @include breakpoint($screen-sm) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include breakpoint($screen-lg) {
      padding-bottom: 75px;
    }
  }

  &-title {
    @include cachet();
    color: $white;
    font-size: 24px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 5px;

    @include breakpoint($screen-sm) {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 15px;
    }

    @include breakpoint($screen-lg) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &-description {
    color: $white;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;

    @include breakpoint($screen-sm) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .btn {
    white-space: normal;
    font-size: 18px;
    padding: 0;
    width: 100%;
    margin: 0 0 5px;
    background: $white;

    a {
      display: block;
      padding: 12px;
      color: $blue-medium;
      @include cachet-bold();
      text-transform: uppercase;
    }
  }

  &--small {
    min-height: 105px;

    @include breakpoint($screen-sm) {
      min-height: 160px;
    }

    .banner-image {

      @include breakpoint($screen-sm) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
      }
      @include breakpoint($screen-md) {
        width: calc(50% - 65px);
      }
      @include breakpoint($screen-lg) {
        width: calc(50% - 70px);
      }
    }

    .banner-cta-section {
      padding: 20px 0;

      @include breakpoint($screen-sm) {
        padding: 30px 0;
      }
    }

    .banner-title {
      margin: 0 0 5px;

      @include breakpoint($screen-sm) {
        margin: 0 0 15px;
      }

    }

    &.color-assigned {
      background: none;
    }
  }
}
