.top-nav {
  position: absolute;
  width: 100%;
  z-index: 102;

  .back-link {
    @include cachet-bold();
    @include rem(padding, 24px 20px 24px 37px);
    @include rem(line-height, 21px);
    color: $white;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: relative;

    @include breakpoint($tablet) {
      @include rem(margin-top, 15px);
      @include rem(padding-left, 50px);
    }

    @include breakpoint($desktop-small) {
      @include rem(padding-left, 120px);
    }

    &:before {
      @include rem(height, 9px);
      @include rem(margin-left, -17px);
      @include rem(margin-top, -5px);
      @include rem(width, 11px);
      background-image: url(../prototypes/yfr/img/hero/back-arrow.png);
      background-size: cover;
      content: ' ';
      position: absolute;
      top: 50%;
    }
  }

  .ysr-menu {
    @include rem(padding, 24px 20px);
    display: inline-block;
    float: right;
    list-style: none;
    margin: 0;

    @include breakpoint($tablet) {
      float: none;
      @include rem(margin-top, 15px);
    }

    li {

      a {
        @include cachet-normal();
        @include rem(line-height, 21px);
        color: $orange-light;
        font-size: 18px;
      }
    }
  }
}

.hero-section {
  @include rem(height, 270px);
  background-color: #804114;
  position: relative;

  @include breakpoint($tablet) {
    @include rem(height, 450px);
  }

  &:before {
    @include rem(height, 200px);
    background-image: linear-gradient(to bottom, #6d4446, rgba(109, 68, 70, 0));
    content: " ";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  &__background {
    opacity: .6;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #fff url(../prototypes/yfr/img/hero/hero-mobile.jpg) 0 0 no-repeat;
    @include background-size(cover);

    @include breakpoint($tablet) {
       background: #fff url(../prototypes/yfr/img/hero/hero-desktop-1400x2.jpg) 50% 0 no-repeat;
       @include background-size(cover);
    }



    /* img { */
    /*   bottom: 0; */
    /*   height: auto; */
    /*   max-height: 100%; */
    /*   left: 0; */
    /*   right: 0; */
    /*   position: absolute; */
    /*   width: auto; */
    /*   min-width: 100%; */

    /*   @include breakpoint(550px) { */
    /*     height: auto; */
    /*     width: 100%; */
    /*   } */

    /*   @include breakpoint($tablet) { */
    /*     //height: 100%; */
    /*     width: auto; */
    /*   } */

    /*   @include breakpoint($tablet-landscape) { */
    /*     height: auto; */
    /*     width: 100%; */
    /*   } */
    /* } */
  }

  &__content {
    @include rem(padding-top, 84px);
    position: relative;
    z-index: 101;

    @include breakpoint($tablet) {
      @include rem(padding-top, 80px);
    }

    @include breakpoint($desktop-small) {
      @include rem(padding-top, 160px);
    }
  }

  &__logo {
    @include rem(height, 103px);
    @include rem(width, 178px);
    background: url(../prototypes/yfr/img/hero/logo-spirit.svg) no-repeat 50% 50%;
    background-size: contain;
    margin: auto;

    @include breakpoint($tablet) {
      @include rem(height, 190px);
      @include rem(width, 390px);
    }

    @include breakpoint(992px) {
      float: right;
      margin: 0;
    }
  }

  &__slogan,
  &__date {
    @include cachet-bold();
    @include rem(line-height, 25px);
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 21px $black;
    text-transform: uppercase;

    @include breakpoint($tablet) {
      @include rem(line-height, 45px);
    }

    @include breakpoint(992px) {
      text-align: left;
    }
  }

  &__slogan {
    color: $white;

    @include breakpoint($tablet) {
      @include rem(margin-top, 75px);
      font-size: 50px;
    }
  }

  &__date {
    color: $orange-light;

    @include breakpoint($tablet) {
      @include rem(padding-top, 4px);
      font-size: 40px;
    }
  }
}

.ysr-user-menu {
  background-color: $red-dark-lighter;
  @include rem(padding, 17px 30px 17px 20px);
  @include rem(height, 55px);

  &__greetings {
    @include cachet-normal();
    @include rem(line-height, 21px);
    @include rem(padding-left, 30px);
    color: $white;
    display: inline-block;
    font-size: 18px;
    position: relative;

    span, a {
      &:before {
        @include rem(height, 21px);
        @include rem(width, 21px);
        background-size: cover;
        content: ' ';
        display: block;
        left: 0;
        position: absolute;
      }
    }

    span {
      &:before {
        background-image: inline-image('../prototypes/yfr/img/hero/icon-user.svg');
      }
    }

    a {
      color: inherit;

      &:before {
        background-image: inline-image('../prototypes/yfr/img/hero/icon-user-active.svg');
      }
    }
  }

  &__logout {
    @include rem(padding-left, 20px);
    display: inline-block;
    float: right;

    a {
      @include cachet-normal();
      @include rem(line-height, 21px);
      color: $orange-light;
      font-size: 18px;

      @include breakpoint($tablet) {
        color: $orange-medium-lighter;
      }
    }
  }

  @include breakpoint($tablet) {
    @include rem(top, 15px);
    @include rem(padding, 24px 30px 24px 20px);
    background: none;
    position: absolute;
    right: 0;
    z-index: 103;
  }

  @include breakpoint($desktop-small) {
    @include rem(padding-right, 100px);
  }
}

.page-register__fall_retention {
  background: #804114 url(../prototypes/yfr/img/hero/hero-1400-register-mobile.jpg) 50% 0 no-repeat;
  @include background-size(cover);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  &.user-logged-in {
    .viewport {
      @include rem(padding-top, 40px);
    }
  }

  &.toolbar-fixed.toolbar-vertical {
    margin-top: 0;
  }

  picture {
    display: none;
  }

  .page-middle {
    background: none;
    margin-top: 0;
  }

  .hero-section__background {
    display: none;
  }

  @include breakpoint($tablet){
    background: #804114 url(../prototypes/yfr/img/hero/hero-1400-register.jpg) 50% 0 no-repeat;
    @include background-size(cover);
  }

  .viewport {
    background: transparent;
    padding: 0 15px;
  }

  .hero-section__content {
    @include rem(margin-bottom, 80px);
    padding-top: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;

    @include breakpoint($tablet){
      @include rem(margin-bottom, 70px);
      @include rem(margin-top, 50px);
    }

    @include breakpoint($desktop-small) {
      @include rem(margin-bottom, 80px);
      @include rem(margin-top, 60px);
    }

    @media all and (max-height: 766px) {
      margin-top: 0;
    }
  }

  .hero-section__slogan {
    @include breakpoint($tablet){
      @include rem(margin-top, 34px);
    }

    @include breakpoint($desktop-small){
      @include rem(margin-top, 75px);
    }
  }

  .yfr-form-register,
  #registration {
    @include rem(padding, 20px);
    @include border-radius(6px);
    background: rgba(57, 9, 11, 0.7);
    margin: 0 auto 20px;
    max-width: 644px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

    .btn {
      width: 100%;
      line-height: 22px;
    }

    .container {
      padding: 0;
    }

    .form-item {
      margin-bottom: 0;

      @include breakpoint($tablet){
        margin: 0;
      }
    }

    .form-control {
      height: auto;
    }

    .form-text,
    .form-number {
      @include border-radius(4px);
      @include rem(padding, 10px 28px);
      font-size: 14px;
      width: 100%;
      border: none;
      color: $grey7;
      line-height: 26px;
      -webkit-appearance: textfield;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button{
        display: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      @include input-placeholder {
        color: $grey4;
        font-style: italic;
        line-height: 26px;
      }
    }

    .col-sm-push-2 {
      left: 0;
    }

    form {
      clear: both;
      overflow: hidden;
    }

    .col-xs-1 {
      display: none;
    }

    .col-sm-2 {
      width: 100%;
      margin-bottom: 15px;
      position: relative;

      .ajax-progress {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }

      @include breakpoint($tablet){
        width: 100% / 12 * 4;
        margin-bottom: 0;
      }
    }

    .col-sm-5 {
      width: 100%;
      margin-bottom: 15px;

      @include breakpoint($tablet){
        width: 100% / 12 * 8;
        margin-bottom: 0;
      }
    }

    .ysr-form-messages {
      width: 100%;
      margin-top: 15px;

      .alert-error {
        margin-bottom: 0;
      }

      .alert-success {

      }
    }
  }

  .yfr-form-register__alert {
    max-width: 644px;
    margin: 0 auto;

    .alert-success {
      background: rgba(0,107,107, 0.7);
      border-color: rgba(0,107,107, 0.7);
      color: #fff;
    }

    .alert-danger {
      background: rgba(169,43,49, 0.7);
      border-color: rgba(169,43,49, 0.7);
      color: #fff;
    }
  }
}
