<section class="page-header page-title">
  <div class="container title-container">
    <div class="row">
      <div class="col-sm-6 header-copy">
        {% block label_and_description %}{% endblock %}
      </div>

      <div class="col-sm-6 header-image header-button" style="{% block backgroundimage_url %}{% endblock %}">
        {% block content_image %}{% endblock %}
      </div>
    </div>
  </div>
</section>

