{#
/**
 * @file
 * Expander block template.
 *
 * Available variables:
 * - header: Block header.
 * - content: Block content.
 *
 * @ingroup themeable
 */
#}
<div class="expander-block collapsed">
  <h4>
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <i class="fa fa-minus-circle" aria-hidden="true"></i>
    {{ header }}
  </h4>
  <div class="content">{{ content }}</div>
</div>
