/**
 * @file
 * Styles for Entity reference items.
 *
 * These styles are compatible with Bartik, Seven, and Classy themes.
 */

/**
 * Entity reference items.
 */
.field--widget-entity-browser-entity-reference .entities-list .item-container {
    display: inline-block;
    margin: 10px 10px 15px;
    vertical-align: text-bottom;
}

.field--widget-entity-browser-entity-reference .entities-list .item-container > img, .field--widget-entity-browser-entity-reference .entities-list .item-container > input {
    display: block;
    margin: 5px auto 0;
}

.field--widget-entity-browser-entity-reference .entities-list .rendered-entity {
    display: block;
}
