{% if content.field_content|render|trim is not empty %}
  <div class="container">
    <div class="row">
      <article{{ attributes.removeClass(header_classes).addClass(content_classes) }}>
        <div class="main-region col-sm-12">
          {{ content.field_content }}
        </div>
      </article>
    </div>
  </div>
{% endif %}
