{% if content.field_content|render|trim is not empty %}
  <div class="container">
    <div class="row">
      <article{{ attributes.removeClass(header_classes).addClass(content_classes) }}>
        <div class="two-column">
          <div class="main-region col-sm-8">
            {{ content.field_content }}
          </div>
          <div class="sidebar-region col-sm-4">
            <article{{ attributes.removeClass(header_classes).removeClass(content_classes).addClass(sidebar_classes) }}>
              {{ content.field_sidebar_content }}
            </article>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endif %}
