{#
/**
 * @file
 * Two columns with left sidebar layout.
 *
 * Available variables are documented in node--landing-page--full.html.twig
 *
 * @see template_preprocess_node()
 */
#}

{% if not content.field_content.isEmpty() %}
  <div class="container">
    <div class="row">
      <article{{ attributes.removeClass(header_classes).addClass(content_classes) }}>
        <div class="two-column">
          <div class="sidebar-region col-sm-4">
            <article{{ attributes.removeClass(header_classes).removeClass(content_classes).addClass(sidebar_classes) }}>
              {{ content.field_sidebar_content }}
            </article>
          </div>
          <div class="main-region col-sm-8">
            {{ content.field_content }}
          </div>
        </div>
      </article>
    </div>
  </div>
{% endif %}
