
{% extends 'blocks/layout.twig' %}

{% block title %}Main Activity Finder Home{% endblock %}

{% block page_heading %}Main Activity Finder Home{% endblock %}



{% set utility_bar_data = [
  {
    'title': '<span class="amount--circle"><span class="amount">0</span></span><ins id="heart-counter">Favorites</ins>',
    'href': '#',
  }
]
%}

{% set activities = [
    {'title':'Aquatics','image':'images/activities/offset_259369.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Health & Fitness','image':'images/activities/offset_250707.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Sports & Recreation','image':'images/activities/offset_202198.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Outdoor adventure','image':'images/activities/offset_157023.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Arts & Enrichment','image':'images/activities/offset_164520.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Certifications & Training','image':'images/activities/offset_111370.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Parties & Rental','image':'images/activities/offset_228919.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Amenities','image':'images/activities/offset_148616.jpg','heart': TRUE, 'link' : 'category.html'},
    {'title':'Adaptive','image':'images/activities/offset_193973.jpg','heart': TRUE, 'link' : 'category.html'}
] %}

{% set playlist_data = [
  {
  'title':'<a href="#">Sport Enthusiast<span>&#62;</span></a>',
  'content':'<p>Spend your days playing floor hockey, learning archery or imroving your free throw with our variety of sports activities.</p>',
  'link': '',
  },
  {
  'title':'<a href="#">Homemade Fun<span>&#62;</span></a>',
  'content':"<p>If you like to make things we've got you covered. Learn everything from knitting to ceramincs to cooking.</p>",
  'link': '',
  },
  {
  'title':'<a href="#">Outdoor Adventure<span>&#62;</span></a>',
  'content':"<p>Like spending your days outside? We've got the perfect activities lined up so you will make the most of this summer.</p>",
  'link': '',
  },
] %}

{% block banner %}
  <aside class="banner banner__description">
      <div class="container">
          <h1>Activity Finder</h1>
          <h2>Browse and discover YMCA programs and activities for your children.</h2>
      </div>
      <section>
      <div class="banner__image-container">
        <div class="banner__image" style="background-image: url(../images/headers/offset_142891.jpg);">
        </div>
      </div>
    </section>
  </aside>
{% endblock %}
{% block filters %}
  <aside class="filter">
    <div class="container">
      <div class="container-gap">
        {% include "blocks/filter.twig" %}
      </div>
    </div>
  </aside>
{% endblock %}

{% block content %}
  {% include "blocks/utility-bar.twig" %}
  {% include "blocks/activities-grid--alt.twig" %}
  <section>
    <h2>Summer Playlist: Ideas for  Everyone</h2>
    {% include "blocks/playlist-grid.twig" %}
  </section>
{% endblock %}
