
{% extends 'blocks/layout.twig' %}

{% block title %}Product Page{% endblock %}

{% block page_heading %}Product Page{% endblock %}


{% set section_dropdown_data = [
  {
    'name': 'Swim Lessons',
  },
  {
    'name': 'Diving',
  },
  {
    'name': 'Lap Swim',
  },
  {
    'name': 'Open Swim',
  },
  {
    'name': 'Swim Team',
  },
  {
    'name': 'Water activities',
  },
  {
    'name': 'Water Exercise',
  }
]
%}

{% set product_dropdown_data = [
  {
    'name': 'Preschool Child',
  },
  {
    'name': 'School-Age Child',
  },
  {
    'name': 'Teen',
  },
  {
    'name': 'Adult',
  }
]
%}

{% set breadcrumbs_data = [
  {
    'title': 'All activities',
    'link': 'index.html'
  },
  {
    'title': 'Aquatics',
    'link': 'category.html'
  },
  {
    'title': 'Swim Lessons',
    'link': 'sub-category.html'
  }
]
%}

{% set activities = [
    {'title':'OUTDOOR ACTIVITIES','image':'images/activities/offset_259369.jpg'},
    {'title':'AMENITIES','image':'images/activities/offset_250707.jpg'},
    {'title':'HEALTH &amp; FITNESS','image':'images/activities/offset_202198.jpg'},
] %}

{% block banner %}
  <aside class="banner">
      <div class="container">
        {% include "blocks/section-dropdown.twig" %}
      </div>
      <section>
      <div class="banner__image-container">
        <div class="banner__image" style="background-image: url(../images/activities/offset_259369.jpg);">
        </div>
      </div>
    </section>
  </aside>
{% endblock %}

{% block filters %}
  <aside class="filter">
    <div class="container">
      {% include "blocks/filter.twig" %}
    </div>
  </aside>
{% endblock %}

{% block content %}
  {% include "blocks/utility-bar.twig" %}

  <div class="columns">
    <div class="columns__left">
      {% include "blocks/product-dropdown.twig" %}

      <p>Hop in the pull to help your little one learn</p>
      <p><strong>Class length:</strong> 30 minutes</p>
      <p><strong>Five class session cost:</strong> $45 for Y members and $100 for non members</p>
      <p><strong>Eight class summer session cost:</strong> $51 for Y members and $114 for non members</p>
      <p><strong>Note:</strong> Participating child must be a Y member to recieve the discounted rate</p>
      <p><strong>Parent participation:</strong> One parent per child must be in the pull for the entire lesson</p>

      <div class="accordion">
        <article class="accordion__item">
          <h2>Sea Turtle<span>6 - 18 months</span></h2>
          <div class="accordion__item--content" style="display:none">
            <p>In this water adjustment class, certified instructors guide parents in teaching their children fundamental safety and aquatic skills.</p>
            <p><strong>Ages:</strong> Typically for ages six to 18 months&#8211;must be at least six months old on first day of class</p>
            <p><strong>Ratio:</strong> 10 parent/child pairs to one instructor</p>
            <p><strong>Requirements:</strong> Child must have ability to control head movement</p>
            <p><strong>Compare to:</strong> American Red Cross - Parent Child Program, Foss - Backfloat baby 1</p>
            <a class="button button--blue">Find Classes</a>
          </div>
        </article>

        <article class="accordion__item">
          <h2>Sea Lion<span>12 - 30 months</span></h2>
          <div class="accordion__item--content" style="display:none">
            <p>In this water adjustment class, certified instructors guide parents in teaching their children fundamental safety and aquatic skills.</p>
            <p><strong>Ages:</strong> Typically for ages six to 18 months&#8211;must be at least six months old on first day of class</p>
            <p><strong>Ratio:</strong> 10 parent/child pairs to one instructor</p>
            <p><strong>Requirements:</strong> Child must have ability to control head movement</p>
            <p><strong>Compare to:</strong> American Red Cross - Parent Child Program, Foss - Backfloat baby 1</p>
            <a class="button button--blue">Find Classes</a>
          </div>
        </article>

        <article class="accordion__item">
          <h2>Sea Horse<span>18 months - 3 years</span></h2>
          <div class="accordion__item--content" style="display:none">
            <p>In this water adjustment class, certified instructors guide parents in teaching their children fundamental safety and aquatic skills.</p>
            <p><strong>Ages:</strong> Typically for ages six to 18 months&#8211;must be at least six months old on first day of class</p>
            <p><strong>Ratio:</strong> 10 parent/child pairs to one instructor</p>
            <p><strong>Requirements:</strong> Child must have ability to control head movement</p>
            <p><strong>Compare to:</strong> American Red Cross - Parent Child Program, Foss - Backfloat baby 1</p>
            <a class="button button--blue">Find Classes</a>
          </div>
        </article>
      </div>
    </div>
    <div class="columns__right">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423772.3604791263!2d-76.84229344481696!3d39.518839190421794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xfd3d6b5af82b7b6a!2sYMCA!5e0!3m2!1sen!2s!4v1441921487635" width="600" height="450" allowfullscreen></iframe>
    </div>
  </div>
  <section>
    <h2>Related Activities</h2>
    {% include "blocks/activities-grid.twig" %}
  </section>
{% endblock %}

