
{% extends 'blocks/layout.twig' %}

{% block title %}Styleguide{% endblock %}

{% block page_heading %}Styleguide{% endblock %}

{% block content %}
  <div class="container">
    <div class="styleguide-section">
      <h2>Typography</h2>
      <div class="styleguide-element">
          <div class="styles-display"><h1>Heading H1</h1></div>
          <div class="styles-params">
              <div class="class-name">Tag: h1</div>
              <p><strong>Mobile:</strong>font-family: 'Open Sans', font-size:26px</p>
              <p><strong>Tablet:</strong>font-family: 'Open Sans', font-size: 40px</p>
              <p><strong>Desktop:</strong>font-family: 'Open Sans', font-size: 32px</p>
          </div>
      </div>
      <div class="styleguide-element">
          <div class="styles-display"><h2>Heading H2</h2></div>
          <div class="styles-params">
              <div class="class-name">Tag: h2</div>
              <p><strong>Mobile:</strong>font-family: 'Open Sans', font-size:20px</p>
              <p><strong>Tablet:</strong>font-family: 'Open Sans', font-size: 30px</p>
              <p><strong>Desktop:</strong>font-family: 'Open Sans', font-size: 24px</p>
          </div>
      </div>
    </div>
    <div class="styleguide-section">
      <h2>Icons</h2>
      <div id="icons"></div>
    </div>
  </div>
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
  <script src="js/styleguide.js"></script>
{% endblock %}

{% block content_sidebar %}{% endblock %}
