{#
    List block template.
#}
<div class="container">
    <section class="wrapper-field-content">
        <div class="social-post-list">
            <div class="header">
                {% if title %}
                    <h2 class="h1 text-center">{{ title }}</h2>
                {% endif %}
                {% if description %}
                    <div class="description text-center">{{ description }}</div>
                {% endif %}
            </div>

            {% if posts|length > 0 %}
                {{ posts }}
            {% endif %}
        </div>
    </section>
</div>
