<ul class="activities-grid--alt">
  {% for activity in activities %}
    <li class="activity--alt">
      <a href="{{ activity.link }}" class="activity--alt__link">
        <div class="activity--alt__link__image-container">
          <span class="activity--alt__link__arrow"></span>
          <img class="activity--alt__link__image" src='{{ activity.image }}' alt="Image of {{ activity.title }}" />
        </div>
        <div class="activity--alt__link__text">
          <h2>{{ activity.title }}</h2>
        </div>
      </a>
      {% if activity.heart %}
        <a href="#" class="activity--alt__heart"></a>
      {% endif %}
    </li>
  {% endfor %}
</ul>