<ul>
  <li>
    <a href="/health__fitness/">Health &amp; Fitness</a>
  </li>
  <li>
    <a href="/swimming/">Swimming</a>
  </li>
  <li>
    <a href="/child_care__preschool/">Child Care &amp; Preschool</a>
  </li>
  <li>
    <a href="/kid__teen_activities/">Kid &amp; Teen Activities</a>
  </li>
  <li>
    <a href="/camps/">Camps</a>
  </li>
  <li>
    <a href="/community_programs/">Community Programs</a>
  </li>
</ul>
<ul>
  <li>
    <a href="/membership/">Membership</a>
  </li>
  <li>
    <a href="/locations/">Locations</a>
  </li>
  <li>
    <a href="/all_y_schedules/">All Y Schedules</a>
  </li>
  <li>
    <a href="/about/">About</a>
  </li>
  <li>
    <a href="/contact_us/">Contact</a>
  </li>
  <li>
    <a href="/give/">Give</a>
  </li>
</ul>
<ul>
  <li>
    <a href="/news/">News</a>
  </li>
  <li>
    <a href="/jobs/">Jobs</a>
  </li>
  <li>
    <a href="/suppliers/">Suppliers</a>
  </li>
  <li>
    <a href="/blog/">Blog</a>
  </li>
  <li>
    <a href="/privacy_policy/">Privacy Policy</a>
  </li>
</ul>
