<div class="index-links">
  <input type="checkbox" id="index-link">
  <label for="index-link">Go to page</label>
  <nav>
    <a href="index.html">Index</a>
    <a href="index--alt.html">Index - Alt</a>
    <a href="category.html">Category</a>
    <a href="sub-category.html">Sub Category</a>
    <a href="product.html">Product</a>
  </nav>
</div>