<ul>
  <li class="active">
    <a href="/">YMCA Twin Cities</a>
  </li>
  <li>
    <a href="/membership/">Membership</a>
  </li>
  <li>
    <a href="/locations/">Locations</a>
  </li>
  <li>
    <a href="/all_y_schedules/">All Y Schedules</a>
  </li>
  <li>
    <a href="/about/">About</a>
  </li>
  <li>
    <a href="/contact_us/">Contact</a>
  </li>
  <li>
    <a href="/give/">Give</a>
  </li>
  <li>
    <a href="https://account.ymcamn.org/PersonifyEBusiness/Default.aspx?TabID=337">Sign In</a>
  </li>
  <li>
    <a class="header__main-menu--search" href="#">Search</a>
  </li>
</ul>