<div class="banner__section-category">
  <select class="chosen-select">
    {% for item in section_dropdown_data %}
      <option value="{{ item.image }}">{{ item.name }}</option>
    {% endfor %}
  </select>
</div>