.embedded-entity {
  .media-image.view-mode-link {
    display: inline;
  }

  img {
    display: inline-block;
    padding: 10px 0;
  }
}

.field-landing-body {
  .paragraph--type--group-schedules {
    padding-top: 55px;
  }
  .paragraph--type--gallery {
    padding-top: 55px;
  }
}
