.form__locations {
  background-color: $lighter-grey;
  height: 92px;
  display: table;
  width: 100%;
  padding: 35px 0px 17px;
  @include breakpoint(tablet) {
    padding: 35px 25px 17px;
  }
  .form-group {
    @include breakpoint(tablet) {
      margin-bottom: 0px;
    }
  }
  label {
    text-transform: none;
    padding: 6px 8px;
    left: -1px;
    margin: 10px 10px 0 0;
    @include breakpoint(tablet) {
      left: -20px;
      margin: 0 10px 0 0;
    }
  }
  input[type="checkbox"] {
    margin: 0 10px 0px 0;
    vertical-align: middle;
  }
  .btn-group-justified {
    border-spacing: 1px;
    margin: -1px -1px 5px 1px;
    min-width: 234px;
    @include breakpoint(tablet) {
      border-spacing: 10px;
      margin: -10px -10px -10px 10px;
    }
  }
  .tag_filters img {
    margin: -2px 0 0 3px;
    width: 13px;
  }
}

.locations-list {
  margin: -20px;

 h1 {
   margin: 40px 15px 20px;
   font-size: 28px;
   text-align: center;
   @include breakpoint(tablet) {
     font-size: 40px;
     text-align: left;
   }
 }

  .views-row__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
    margin: 0 0 20px;
  }

  .views-row {
    display: flex;

    flex-basis: 100%;

    @media (min-width: 600px) and (max-width: 1025px) {
      flex-basis: 50%;
    }

    @media (min-width: 1025px) {
      flex-basis: 33.33%;
    }

    .node--view-mode-teaser {
      flex-basis: 100%;
      align-self: stretch;
    }
  }
  header h2 {
    padding-left: 20px;
    padding-bottom: 0px;
    clear: both;
    margin-top: 0;
    font-weight: bold;
  }
  h2.color-purple {
    color: $purple;
  }
  .field_state {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    font-size: 10px;
    color: #231f20;
    width: 100px;
    height: 32px;
    vertical-align: bottom;
    background: #fcaf17;
    line-height: 1.2;
    font-style: italic;
    .fa {
      color: white;
      height: 32px;
      float: left;
      font-size: 16px;
      padding-right: 6px;
    }
    span {
      display: block;
    }
  }
}

.node--type-branch.node--view-mode-teaser,
.node--type-camp.node--view-mode-teaser {
  border: solid 1px $yellow;
  padding: 20px;
  min-height: 300px;
  margin: 20px;
  position: relative;
  font-size: 15px;
  [class*="sidebar"] & {
    height: auto;
    margin: 0 0 20px;
    border-color: $light-grey;
    h2 a {
      color: $purple;
    }
  }
  .marker_tooltip & {
    background: $white;
    border-bottom: none;
    border-top: none;
    height: auto;
    margin: 0;
    min-height: 0;
  }
  h2 {
    font-size: 22px;
    @include cachet();
    margin: 20px 0 33px;
    font-weight: bold;
    .marker_tooltip & {
      margin: 0 0 5px;
    }
  }
  .branch-hours {
    margin-top: 15px;
    td:first-child {
      padding-right: 10px;
    }
  }
  .field-branch-area {
    position: static;
    top: 15px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    @include breakpoint (desktop) {
      letter-spacing: 2px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .label-for-field-address,
  .label-for-field-phone {
    display: none;
  }
}
