.programs-search-block-form {
  fieldset {
    legend {
      span {
        border: none;
        color: $purple;
        font-size: 36px;
        @include cachet();
      }
    }
    .js-webform-radios {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      .js-form-type-radio {
        flex-basis: 100%;
        padding-right: 15px;
        margin: 0 0 10px;
        position: relative;
        padding-left: 20px;
        line-height: 20px;
        @include breakpoint(tablet) {
          flex-basis: 50%;
        }
        @include breakpoint(laptop) {
          flex-basis: 25%;
        }
        label {
          @include helvetica-neue();
          font-size: 15px;
          margin: 0 0 0 7px;
          vertical-align: top;
        }
        input {
          margin: 0;
          position: absolute;
          left: 0;
          top: 5px;
          vertical-align: top;
        }
        .ajax-progress-throbber {
          position: absolute;
          left: -7px;
          .throbber {
            padding: 1px 6px 2px;
          }
        }
      }
    }
  }
  .result {
    font-size: 24px;
    color: $pink;
    margin: 40px 0 100px;
    @include cachet();
    a {
      color: $pink;
      text-decoration: underline;
      font-style: normal;
      @include cachet-medium();
      em {
        font-style: normal;
      }
    }
  }
}
