.node-testimonial-form,
.node-testimonial-edit-form {
  margin: 20px 0;

  .field--type-language,
  .vertical-tabs,
  .filter-wrapper {
    display: none;
  }

  .js-text-full {
    font-style: italic;
    color: $medium-grey;
    margin: 5px 0;
    &.form-text, &.form-textarea {
      font-style: normal;
      color: #555555;
    }
  }

  .form-actions {
    margin: 30px 0;
    .dropbutton-single {
      margin-bottom: 20px;
    }
  }

  .form-submit {
    margin-right: 20px;
  }
}

.node--type-testimonial {
  font-size: 15px;

    &.node--view-mode-full {
      margin-bottom: 50px;
    }

    h1 {
      letter-spacing: -1.2px;
      padding-top: 32px;
      padding-bottom: 8px;
    }

    h2 {
      margin-bottom: 33px;
      font-size: 22px;
      color: $purple;
      @include cachet-bold();
    }

    &.node--view-mode-sidebar {
      margin-top: 118px;
    }

    &.node--view-mode-listing-teaser {
      @include clearfix();
      margin: 20px 0 25px;
      @include breakpoint(tablet) {
        margin: 20px 0 45px;
      }

      .image {
        text-align: center;
        @include breakpoint(tablet) {
          text-align: right;
        }
      }

      .browse-classes-btn {
        display: block;
        @include breakpoint(tablet) {
          max-width: 360px;
        }
      }
    }

    h4.label {
      color: $color-gray;
      font-size: inherit;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 0;
    }

    p {
      line-height: 1.62em;
    }

    p + h2 {
      margin-top: 1em;
    }
}

.layout-container.testimonial {
  margin: 0;
}
