/**
 * @file browser.css
 */

nav.eb-tabs ul {
  border-bottom-color: #d0d0d0;
}
nav.eb-tabs ul li a {
  border-radius: 1em 1em 0 0;
}
nav.eb-tabs ul li.active {
  border-bottom-width: 0;
}
nav.eb-tabs ul li.active a {
  background-color: #d6d6d6;
}

nav.eb-tabs ~ div .browser {
  height: calc(100vh - 41px);
}

.browser-toolbar .browser-toolbar__item:first-child {
  display: none;
}

.view.eb-media .views-exposed-form {
  padding: 1.5em;
  background-color: #efefef;
}
.view.eb-media .views-exposed-form .form--inline .form-item,
.view.eb-media .views-exposed-form .form--inline .form-actions {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
.view.eb-media .view-content {
  margin: 2em 0;
}
.view.eb-media .views-col {
  float: left;
  height: 100%;
  text-align: center;
}
.view.eb-media .views-col .views-field {
  padding: 2px;
}
.view.eb-media .views-col img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.view.eb-media .pager,
.view.eb-media .pager__item {
  margin-left: 0;
  padding-left: 0;
}
.view.eb-media .pager .button {
  border-bottom: none;
}

.view.view-documents-library .views-col .views-field,
.view.view-videos-library .views-col .views-field,
.view.view-local-videos-library .views-col .views-field {
  padding: 10px;
}

.view.view-documents-library .media,
.view.view-videos-library .media,
.view.view-local-videos-library .media {
  background-color: #efefef;
  padding: 10px;
}

.view.view-images-library .views-col.selected img,
.view.view-documents-library .views-col.selected .media,
.view.view-videos-library .views-col.selected .media,
.view.view-local-videos-library .views-col.selected .media {
  box-shadow: 0 0 10px #0089d0;
}
