{#
/**
 * @file
 * Sub navigation template.
 *
 * Available variables:
 * - files: Files to list.
 *
 * @ingroup themeable
 */
#}
{% if files is not empty %}
  <ul>
    {% for file in files %}
      <li>
        <a class="btn btn-primary btn-lg" href="{{ file.url }}">{{ file.label }}</a> {{ file.date }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  {{ 'There are no builds.'|t }}
{% endif %}