.campaign-scorecard {
  table {
    thead {
      th {
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
      }
    }
    tfoot {
      td {
        text-align: right;
      }
    }
    th[align="center"],
    td[align="center"] {
      text-align: center;
    }
    th[align="right"],
    td[align="right"] {
      text-align: right;
    }
    td, th {
      padding: 2px 5px;
      font-size: 11px;
      min-width: 40px;
      &.separator {
        min-width: 20px;
        width: 30px;
        background: $white;
        border: none;
      }
      &.green {
        background: $yet-another-green;
        color: $white;
      }
      &.blue {
        background: $dark-blue;
        color: $white;
      }
      &.violet {
        background: $dark-magenta;
        color: $white;
      }
      &.dark-green {
        background: $yet-another-green;
      }
      &.orange {
        background: $yellow;
      }
      &.grey {
        background: $one-more-grey;
      }
      &.green-text {
        color: $yet-another-green;
        text-transform: uppercase;
        font-weight: bold;
      }
      &.blue-text {
        color: $dark-blue;
        text-transform: uppercase;
        font-weight: bold;
      }
      &.violet-text {
        color: $dark-magenta;
        text-transform: uppercase;
        font-weight: bold;
      }
      &.blue-outline {
        color: $dark-blue;
        background: $white;
        border: 1px solid $dark-blue;
      }

      &.violet-outline {
        color: $dark-magenta;
        background: $white;
        border: 1px solid $dark-magenta;
      }
      &.bold {
        font-weight: bold;
      }
    }
  }
}
