{#
/**
 * @file
 * Alert block template.
 *
 * Available variables:
 * - title: Title to display;
 * - message: Alert block message;
 * - inner_attributes: attributes object for inner span.
 *
 * @ingroup themeable
 */
#}

  {% if show %}
  <div id="alerts" class="hidden alert-messages alert alert-block alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="message"><span {{ inner_attributes }}>{{ message }}</span></span>
  </div>
  {% endif %}


