{#
/**
 * @file
 * Alert block template.
 *
 * Available variables:
 * - message: Alert block message;
 * - inner_attributes: attributes object for inner span.
 *
 * @ingroup themeable
 */
#}

<section class="messages">
  <div id="alerts" class="hidden alert-messages alert alert-block alert-info alert-dismissable ">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Special Alert:</strong>
    <span class="message"><span {{ inner_attributes }}>{{ message }}</span></span>
  </div>
</section>
