{#
/**
 * @file
 * Sidebar navigation template.
 *
 * Available variables:
 * - attributes: Attributes.
 * - title_suffix: Title suffix. To place contextual links.
 * - content: Block content.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_suffix }}
  {{ content }}
</div>