@page {
  margin: 2%; /* <any of the usual CSS values for margins> */
}
.openy-repeat--pdf--table--activity .header {
  margin-bottom: 20px;
}
.openy-repeat--pdf--table--activity .header .branding {
  float: left;
  width: 15%;
}
.openy-repeat--pdf--table--activity .header .title {
  font-family: "Cachet Bold", sans-serif;
  float: left;
  text-align: center;
  font-size: 20px;
  padding: 50px 20px 0;
  width: 75%;
}
.openy-repeat--pdf--table--activity table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}
.openy-repeat--pdf--table--activity table th {
  font-family: "Cachet Bold", sans-serif;
  border: 1px solid #aaa;
  padding: 5px 5px;
  text-align: center;
}
.openy-repeat--pdf--table--activity table td {
  padding: 5px 5px;
  border: 1px solid #aaa;
  font-size: 10px;
  font-family: "Cachet Book", sans-serif;
  text-align: left;
  vertical-align: top;
  width: 12%;
}
.openy-repeat--pdf--table--activity table td:first-child {
  width: 16%;
}
.openy-repeat--pdf--table--day .header {
  margin-bottom: 20px;
}
.openy-repeat--pdf--table--day .header .branding {
  float: left;
  width: 15%;
}
.openy-repeat--pdf--table--day .header .title {
  font-family: "Cachet Bold", sans-serif;
  float: left;
  text-align: center;
  font-size: 20px;
  padding: 50px 20px 0;
  width: 75%;
}
.openy-repeat--pdf--table--day table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}
.openy-repeat--pdf--table--day table th {
  font-family: "Cachet Bold", sans-serif;
  text-align: left;
  background-color: #eee;
  padding: 5px 5px;
}
.openy-repeat--pdf--table--day table td {
  padding: 5px 5px;
  border: 1px solid #fff;
  font-size: 14px;
  font-family: "Cachet Book", sans-serif;
  text-align: left;
  vertical-align: top;
}
.openy-repeat--pdf--table--day table td.time {width: 10%;}
.openy-repeat--pdf--table--day table td.name {width: 40%;}
.openy-repeat--pdf--table--day table td.room {width: 20%;}
.openy-repeat--pdf--table--day table td.instructor {width: 20%;}
.openy-repeat--pdf--table--day table tbody tr:nth-child(even) td {
  background-color: #eee;
}

