.DS_Store
.sass-cache/
*.css.map
.idea
./contrib
./libraries
./vendor
./bin
./build/reports
./docroot


# Ignore custom theme build artifacts
#themes/openy_themes/*/dist
themes/openy_themes/*/node_modules

vendor
bin
build/reports