.paragraph--type--all-events  {

  form {
    background-color: $lighter-grey;
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin: 0 15px 25px;
    clear: both;
    @include breakpoint(laptop) {
      margin: 0 15px 50px;
    }

    .form-item-field-event-date-range, .form-item-field-event-date-range-1 {
      float: left;
      padding-right: 35px;
      width: 160px;
    }

    .form-item-search-api-fulltext {
      position: absolute;
      float: none;
      right: 125px;
      top: 37px;
    }

    .form-actions {
      position: absolute;
      right: 35px;
      top: 37px;
    }
  }

  .views-row {
    clear: both;
    margin-bottom: 50px;
  }
}

.node--view-mode-listing-teaser {
  &.node--type-event {
    margin-bottom: 45px;
    margin-top: 20px;
    h2 {
      margin-bottom: 13px;
    }
    .field-event-date-range {
      margin-top: 13px;
      margin-bottom: 13px;
      font-family: CachetMedium;
    }
    .field-prgf-sc-body p {
      margin-bottom: 0;
    }
    .conent-wrapper {
      min-height: auto;
    }
  }

  .browse-classes-btn {
    @include btn-large-purple();
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
  }
}
