.form__locations {
  background-color: $lighter-grey;
  height: 92px;
  display: table;
  width: 100%;
  padding: 35px 0px 17px;
  @include breakpoint(tablet) {
    padding: 35px 25px 17px;
  }
  .form-group {
    @include breakpoint(tablet) {
      margin-bottom: 0px;
    }
  }
  label {
    text-transform: none;
    padding: 6px 8px;
    left: -1px;
    margin: 10px 10px 0 0;
    @include breakpoint(tablet) {
      left: -20px;
      margin: 0 10px 0 0;
    }
  }
  input[type="checkbox"] {
    margin: 0 10px 0px 0;
    vertical-align: middle;
  }
  .btn-group-justified {
    border-spacing: 1px;
    margin: -1px -1px 5px 1px;
    min-width: 234px;
    @include breakpoint(tablet) {
      border-spacing: 10px;
      margin: -10px -10px -10px 10px;
    }
  }
  .tag_filters img {
    margin: -2px 0 0 3px;
    width: 13px;
  }
}

.locations-list {
  margin: -20px;

 h1 {
   margin: 40px 15px 20px;
   font-size: 28px;
   text-align: center;
   @include breakpoint(tablet) {
     font-size: 40px;
     text-align: left;
   }
 }

  .views-row__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
    margin: 0 0 20px;
  }

  .views-row {
    display: flex;

    flex-basis: 100%;

    @media (min-width: 600px) and (max-width: 1025px) {
      flex-basis: 50%;
    }

    @media (min-width: 1025px) {
      flex-basis: 33.33%;
    }

    .node--view-mode-teaser {
      flex-basis: 100%;
      align-self: stretch;
      .field-branch-hours {
        table td {
          padding-right: 10px;
        }
      }
    }
  }
  header h2 {
    padding-left: 20px;
    padding-bottom: 0px;
    margin-top: 30px;
    font-size: 30px;
    clear: both;
    font-weight: bold;
  }
  h2.color-purple {
    color: $purple;
  }
  .field_state {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    font-size: 10px;
    color: #231f20;
    width: 100px;
    height: 32px;
    vertical-align: bottom;
    background: #fcaf17;
    line-height: 1.2;
    font-style: italic;
    .fa {
      color: white;
      height: 32px;
      float: left;
      font-size: 16px;
      padding-right: 6px;
    }
    span {
      display: block;
    }
  }
}

.node--type-branch.node--view-mode-full {
  .banner {
    background: linear-gradient(to top, $blue, $lighter-blue);
  }
}

.node--type-branch.node--view-mode-teaser,
.node--type-camp.node--view-mode-teaser {
  border: solid 1px $yellow;
  padding: 20px;
  min-height: 300px;
  margin: 20px;
  position: relative;
  font-size: 15px;
  [class*="sidebar"] & {
    height: auto;
    margin: 0 0 20px;
    border-color: $light-grey;
    h2 a {
      color: $purple;
    }
  }
  .marker_tooltip & {
    background: $white;
    border-bottom: none;
    border-top: none;
    height: auto;
    margin: 0;
    min-height: 0;
    width: 270px;
  }
  h2 {
    font-size: 22px;
    @include cachet();
    margin: 20px 0 33px;
    font-weight: bold;
    .marker_tooltip & {
      margin: 0 0 5px;
    }
  }
  .branch-hours {
    margin-top: 15px;
    table {
      td:first-child {
        padding-right: 10px;
      }
    }
  }
  .field-branch-area {
    position: static;
    top: 15px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    @include breakpoint (desktop) {
      letter-spacing: 2px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .label-for-field-address,
  .label-for-field-phone {
    display: none;
  }
}

.branch-header {
  .ajax-progress-throbber {
    display: none;
  }
  .desktop {
    background-color: $purple;
    color: $white;
    padding: 15px 0;
    min-height: 70px;

    .column {
      flex-basis: 30%;
      width: auto;
      &:first-child {
        margin-left: 0;
      }
      &.address-wrapper {
        flex-basis: 25%;
        br,
        .country {
          display: none;
        }
      }
      &.phone-wrapper {
        flex-basis: 15%;
      }
      .field-phone a {
        @include cachet();
      }
      .ygh-branch-selector {
        margin-top: 22px;
        a {
          @include cachet();
        }
      }
    }

    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    @include cachet();
    @include breakpoint(768px 992px) {
      font-size: 14px;
    }

    h4 {
      font-size: 16px;
      line-height: 1.1;
      text-transform: uppercase;
      margin: 0 0 5px;
    }

    a {
      color: $white;
    }

    .today-hours {
      position: relative;
      margin: 0 0 7px 0;
      .today {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 5px;
      }
      .show-link,
      .hide-link {
        @include cachet();
      }
      .show-link {
        display: inline-block;
      }
      .branch-hours {
        position: absolute;
        top: 77px;
        background: $purple;
        padding: 5px 15px;
        width: auto;
        left: -15px;
        z-index: 1;
        @include breakpoint(laptop) {
          top: 45px;
        }
        table {
          td {
            padding: 0 10px 5px 0;
            white-space: nowrap;
          }
          caption {
            color: $white;
          }
        }
      }
    }
    .branch-header-inner {
      display: flex;
      justify-content: space-around;

      .branch-header__item {
        @include breakpoint($screen-lg) {
          margin-left: 0;
          float: none;
        }

        @include breakpoint($screen-sm) {
          margin-left: 0;
          float: none;

          flex-basis: 20%;
          padding: 0 5px;
        }

        p {
          line-height: 20px;
        }
      }

      .save-link {
        align-self: center;

        @include breakpoint($screen-sm $screen-desktop) {
          align-self: flex-end;
        }
      }

      .field-branch-hours {
        h5 {
          text-transform: uppercase;
          font-size: 16px;
        }
      }

      .ygh-branch-selector {
        margin-top: 0;

        a {
          display: inline-block;
        }
      }
    }
  }

  .mobile {
    background-color: $purple;
    color: $white;
    padding: 12px 0 0;
    position: relative;

    h4 {
      font-size: 14px;
      line-height: 1.2;
      margin: 0 0 5px;
    }

    p {
      font-size: 16px;
      line-height: 1.1;
      @include cachet();
      margin: 0 0 5px;
    }

    .ui-tabs {
      background: none;
      border-radius: 0;
      border: none;
      clear: both;
      padding: 0;

      .ui-tabs-nav {
        padding: 0;
        background: none;
        border-radius: 0;
        border: none;

        li {
          background: none;
          border: none;
          border-radius: 0;
          margin: 0 10px 0 0;
        }

        .ui-tabs-active {
          background: $dark-magenta;
        }

        .ui-tabs-anchor {
          color: #fff;
          font-size: 24px;
          outline: none;
          padding: 4px 20px;
        }
      }

      .ui-tabs-panel {
        background: $dark-magenta;
        border-radius: 0;
        color: $white;
        border: none;
        font-size: 16px;
        padding: 18px 15px;
        min-height: 80px;

        h4 {
          color: $white;
          font-size: 16px;
          line-height: 1.1;
          text-transform: uppercase;
          margin: 0 0 5px;
        }

        p {
          color: $white;
          font-size: 16px;
          line-height: 1.1;
          margin: 0;
          @include cachet();
        }

        a {
          color: $white;
        }
      }
      .field-branch-hours {
        h5 {
          text-transform: uppercase;
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      .today-hours {
        @include cachet();
        .today {
          margin-right: 10px;
        }
        .show-link,
        .hide-link {
          color: $light-grey;
        }
        .branch-hours {
          padding: 20px 0 12px;
          table {
            td {
              padding: 4px 10px 0 2px;
            }
            caption {
              color: $white;
            }
          }
        }
      }
    }
    #save-location {
      position: absolute;
      right: 15px;
      text-align: right;
      top: 8px;
      max-width: 155px;
      line-height: 14px;
      a {
        color: $white;
        @include cachet();
      }
    }
  }

  &.camp {
    .desktop {
      background-color: $dark-green;
      .column {
        width: inherit;
      }
      .title-wrapper {
        padding-right: 40px;
      }
      .address-wrapper {
        padding-right: 40px;
      }
    }
    .mobile {
      background-color: $dark-green;
      .ui-tabs {
        .ui-tabs-panel {
          background: $green;
        }
        .ui-tabs-nav .ui-tabs-active {
          background: $green;
        }
      }
    }
  }
}

.node--type-camp {
  .banner {
    background: linear-gradient(to top, #01a490, $light-blue);
  }
}

.field-prgf-location-finder {

  .openy-map-canvas {
    height: 250px;
    @include breakpoint(tablet) {
      height: 500px;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url("../img/select-arrows.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-color: $white;
    padding-right: 25px;
    &::-ms-expand {
      display: none;
    }
    @include breakpoint(tablet) {
      max-width: 225px;
    }
  }

}

.wrapper-field-branch-body {
  .field-branch-body {
    margin: 35px 0 0;
  }
}
