#membership-calc-wrapper {
  h2 {
    @include cachet();
    font-weight: normal;
    font-size: 28px;
    color: $default-grey;
    @include breakpoint(tablet) {
      font-size: 40px;
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
  }
  fieldset {
    clear: both;
    margin: 0;
    legend {
      @include breakpoint(tablet) {
        margin-bottom: 30px;
      }
      span {
        @include cachet();
        border: none;
        border: none;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: -1px;
        color: $dark-grey;
        @include breakpoint(tablet) {
          font-size: 36px;
          color: $purple;
        }
      }
    }
  }

  .form-submit {
    display: none;
  }

  .js-form-type-membership-type-radio {
    padding: 0;
    @include breakpoint(tablet) {
      &:nth-child(odd) {
        clear: both;
        padding-right: 15px;
      }
      &:nth-child(even) {
        padding-left: 15px;
      }
    }
    .ajax-progress-throbber {
      position: absolute;
      left: 29px;
      bottom: 30px;
    }
    .form-element-wrapper {
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 30px;
      @include breakpoint(tablet) {
        border-bottom: 2px solid $darker-grey;
      }
      .left {
        padding-left: 0;
        padding-right: 15px;
      }
      .right {
        padding: 0;
      };
    }
    input {
      display: none;
    }
    h3 {
      @include cachet();
      font-size: 28px;
      letter-spacing: -1px;
      color: $purple;
      margin: 0 0 15px;
      @include breakpoint(tablet) {
        font-size: 36px;
      }
    }
    p {
      @include helvetica-neue();
      font-size: 15px;
      line-height: 1.47;
      color: $darker-grey;
      margin-bottom: 15px;
    }
    label {
      width: 100%;
    }
    .btn {
      @include btn-large-purple();
      width: 100%;
    }
  }

  a[href="#step2"],
  a[href="#step3"] {
    pointer-events: none;
  }
  .description {
    color: $purple;
    @include cachet();
    font-size: 18px;
    line-height: 1.22em;
    @include breakpoint(tablet) {
      font-size: 20px;
      line-height: 1.45em;
    }
  }
  .nav-pills {
    display: table;
    width: 111%;
    @include cachet();
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 13px;
    margin: 0 -15px;
    @include breakpoint(tablet) {
      width: 100%;
      font-size: 20px;
      line-height: 42px;
      margin: 0;
    }
    & > li {
      display: table-cell;
      float: none;
      vertical-align: middle;

      &:last-child {
        a {
          padding-left: 25px;
          width: 100%;
        }
      }

      a {
        text-decoration: none;
        position: relative;
        border-radius: 0;
        color: $white;
        background-color: #c6168d;
        width: calc(100% - 30px);
        text-align: left;
        height: 68px;
        @include breakpoint(tablet) {
          display: block;
          white-space: nowrap;
          text-align: center;
          height: auto;
        }
        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 30px solid $white;
          position: absolute;
          top: 50%;
          margin-top: -60px;
          margin-left: 1px;
          left: 100%;
          z-index: 1;
        }
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 30px solid  #c6168d;
          position: absolute;
          top: 50%;
          margin-top: -60px;
          margin-left: -1px;
          left: 100%;
          z-index: 2;
        }

        .nav-pills__text {
          position: relative;
          z-index: 3;
        }
      }
      a[href="#step1"],
      a[href="#step2"] {
        width: calc(100% - 15px);
        padding-left: 25px;
      }
      &.active a,
      &:first-child a{
        background-color: $purple;
      }
      &:first-child a:after,
      &.active a:after {
        border-left: 30px solid $purple;
      }
    }
  }
}
