@import "./base/variables";
@import "./bootstrap";
@import "./base/mixins";
@import "./base/sprite";
@import "./base/mixins-sprite";
@import "./base/fonts";
@import "./base/decor";

@import "./structs/front";
@import "./structs/header";
@import "./structs/navigation";
@import "./structs/sidebars";
@import "./structs/content";
@import "./structs/footer";

@import "./blocks/block-description";
@import "./blocks/paragraph-header";

/// @todo Below is a list of temporary elements to be removed after the theming header

.toolbar-horizontal {
  .navbar-fixed-top {
    top: 79px;
  }

  header {
    padding-bottom: 40px;
  }
}

.toolbar-vertical {
  .navbar-fixed-top {
    position: static;
  }
}
