{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="row">
    <div class="activity-group col-12 text-center">
      {% if title %}
        <h2 class="text-purple">{{ title }}</h2>
      {% endif %}
      <div class="activity-group-slider px-3 px-md-5">
        {% for row in rows %}
          {{ row.content }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
