.paragraph--type--faq-item {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #a3a4a6;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  .field-question {
    color: #fff;
    background-color: #337ab7;
    border-color: #a3a4a6;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-family: 'Cachet', Verdana, Geneva, sans-serif;
  }
  .field-answer {
    display: none;
    padding: 15px;
  }
}
