<section id="carousel" class="carousel slide carousel-fade  masthead-carousel" data-interval="false">
  <div class="hidden slide-data" id="slide-data">
    {% for slide in field_promo_slideshow_referenced_items %}
    <article class="richtext">
      <p><img src="{{ slide.img_url }}" alt="{{ slide.title }}" width="1200" height="600" /></p>
      <h1>{{ slide.title }}</h1>
      {% if slide.description %}
        {{ slide.description }}
      {% endif %}
    </article>
    {% endfor %}
  </div>

  <a class="left carousel-control hidden-xs hidden" href="#carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control hidden-xs hidden" href="#carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</section>
