{#
/**
 * @file
 * Display Instant Win game and history.
 */
#}
<div class="ng-hide login-required"
     data-ng-controller="TodaysInsightController as todayInC"
     data-ng-show="retentionC.storage.member">
  <div data-ng-bind-html="getArticle()"> </div>

</div>
