{#
/**
 * @file
 * Display retention campaign intro information.
 */
#}
<div class="compain-header--content">
  <div class="container">
    <div class="logo">
      <img alt="logo" src="{{ base_path ~ directory }}/prototypes/ysr_2017/img/logo-phoenix.svg"/>
    </div>

    <div class="content">
      <div class="title">{{ content.slogan }}</div>
      <div class="date">{{ content.dates }}</div>
    </div>
  </div>
</div>
