<div class="yfr-game-section"
     data-ng-controller="InstantWinController as instantWinC">
  <div class="yfr-game__title">
    <div class="ng-hide"
         data-ng-show="instantWinC.state == 'game' && instantWinC.storage.instantWinCount">
      <div class="title">You have <span class="title-highlight">{{ '{{instantWinC.storage.instantWinCount}}' }} chances to win</span></div>
    </div>

    <div class="hg-hide"
         data-ng-show="instantWinC.state == 'game' && !instantWinC.storage.instantWinCount">
      <div class="title">You need to earn more</div>
      <div class="title"><span class="title-highlight">instant win chances.</span></div>
    </div>

    <div class="hg-hide"
         data-ng-show="instantWinC.state == 'result'">
      <div class="title"><span class="title-highlight">Congratulations,</span></div>
      <div class="title"><small>You have won</small></div>
    </div>
  </div>
  <div class="yfr-game__widget _disabled">
    <!-- <div class="yfr-game"></div> -->

    <!-- <div class="yfr-game-btn">
         <button class="btn btn-lg btn-primary orange-medium">Spin the wheel</button>
         <button class="btn btn-lg btn-primary red-medium">unavailable</button>
         </div> -->

    <div class="yfr-game__win">
      <div class="win">
        <span>$5</span>
      </div>
      <div class="description">
        Check <span>your e-mail</span>
        to retrive the Tango Card!
      </div>
      <div class="actions">
        <input type="submit" value="OK">
      </div>
    </div>
  </div>
</div>

<div class="inner-container">
  <div class="yfr-game__history">
    <div class="history-info">
      <h2>Game History</h2>
      <p>You have already won three cards so far.</p>
      <p>Please, check your e-mails for further instructions.</p>
    </div>

    <table class="yfr-table-win">
      <tr>
        <td>
          <div class="info-date">
            <span class="date">4 dec</span>
            <span class="time">3:04 pm</span>
          </div>
        </td>
        <td class="info active">won $5 card!</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">4 dec</span>
            <span class="time">3:10 pm</span>
          </div>
        </td>
        <td class="info">keep trying</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">2 dec</span>
            <span class="time">8:43 am</span>
          </div>
        </td>
        <td class="info">no luck</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">1 dec</span>
            <span class="time">5:11 pm</span>
          </div>
        </td>
        <td class="info">it was close</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">30 nov</span>
            <span class="time">6:27 pm</span>
          </div>
        </td>
        <td class="info active">won $25 card!</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">30 nov</span>
            <span class="time">10:04 am</span>
          </div>
        </td>
        <td class="info">keep trying</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">28 nov</span>
            <span class="time">9:19 pm</span>
          </div>
        </td>
        <td class="info">it was close</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">28 nov</span>
            <span class="time">9:08 pm</span>
          </div>
        </td>
        <td class="info">no luck</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">27 nov</span>
            <span class="time">1:04 pm</span>
          </div>
        </td>
        <td class="info">no luck</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">27 nov</span>
            <span class="time">1:00 pm</span>
          </div>
        </td>
        <td class="info">won $5 card!</td>
      </tr>

      <tr>
        <td>
          <div class="info-date">
            <span class="date">26 nov</span>
            <span class="time">11:51 am</span>
          </div>
        </td>
        <td class="info">another time</td>
      </tr>
    </table>
  </div>
</div>
