<div class="yfr-instant-win"
     data-ng-controller="InstantWinController as instantWinController">
  <p>This is just a test, no need to translate it.</p>
  <p>You have {{ '{{instantWinController.storage.member_chances.length}}' }} chances to win!</p>
</div>
