{#
/**
 * @file
 * Display retention campaign winners information.
 */
#}

<div class="inner-container" id="instant-win">
  <div class="compain-tab-header clearfix">
    <div class="icon-win">
    </div>
  </div>

  <div class="compain-content-win">
    <div class="content">
      <h2>{{ 'to be announced!'|t }}</h2>
      <p>{{ 'The drawing will take place at the end of the challenge.'|t }}<br><br>
        <b>{{ description }}</b>
      </p>
      <h3>{{ 'good luck!'|t }}</h3>
    </div>
  </div>
</div>
