{#
/**
 * @file
 * Display tabs selector on the page.
 */
#}
<div class="container">
  <ul class="nav nav-tabs yfr-tabs">
    <li class="active"><a href="#about" data-toggle="tab">{{ 'About the Campaign'|t }}</a></li>
    <li><a href="#track" data-toggle="tab">{{ 'Track Activities'|t }}</a></li>
    <li><a href="#progress" data-toggle="tab">{{ 'My Progress'|t }}</a></li>
    <li class="yfr-tabs__instant-win"><a href="#instant-win" data-toggle="tab">{{ 'Instant Win'|t }} <span class="yfr-instant-win-star">2</span></a></li>
  </ul>
</div>
