<div class="yfr-instant-win ng-hide login-required"
     data-ng-controller="InstantWinController as instantWinC">
  <p>This is just a test, no need to translate it.</p>
  <p>You have {{ '{{instantWinC.storage.member_chances.length}}' }} chances to win!</p>
</div>
