{#
/**
 * @file
 * Display user menu on the page.
 */
#}
<div class="ysr-user-menu">
  <div class="ysr-user-menu__greetings">Hi, Christopher!</div>
  <div class="ysr-user-menu__logout">
    <a href="#" data-toggle="modal" data-target="#login-modal">Logout</a>
  </div>
</div>
