<div class="yfr-content-info">
  <div class="row">
    <div class="col-sm-12">
      <p><strong> {{ 'Your registration is successful!'|t }}</strong></p>
      <p>{{ 'Keep up the good work and share your Y Spirit.'|t }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#" class="btn btn-lg btn-primary orange-light-lighter" data-dismiss="modal">{{ 'OK'|t }}</a>
    </div>
  </div>
</div>
