{#
/**
 * @file
 * Display user menu on the page.
 */
#}
<div class="ysr-user-menu">
  <div class="ysr-user-menu__greetings">Hi, Chris!</div>
  <div class="ysr-user-menu__logout">
    <a href="#" data-toggle="modal" data-target="#ymca-retention-modal" data-type="register">{{ 'Register'|t }}</a>
  </div>
  <div class="ysr-user-menu__logout">
    <a href="#" data-toggle="modal" data-target="#ymca-retention-modal" data-type="login">{{ 'Login'|t }}</a>
  </div>
  <div class="ysr-user-menu__forms" style="display: none;">
    <div id="ymca-retention-user-menu-register-form" class="ysr-user-menu__form" data-type="register">
      {{ content.register_form }}
    </div>
    <div id="ymca-retention-user-menu-login-form" class="ysr-user-menu__form" data-type="login">
      {{ content.login_form }}
    </div>
  </div>
</div>
