<div class="yfr-ticker ymca-retention-recent-winners">
  <marquee class="yfr-ticker__marquee clearfix">
    <div class="item-ticker">
      <div class="content-ticker">
        {{ 'Lucky Winner'|t }}: <span class="user">kelly n.</span>
      </div>
      <div class="time">30 min ago</div>
    </div>

    <div class="item-ticker">
      <div class="content-ticker">
        {{ 'Lucky Winner'|t }}: <span class="user">CHrishpoher R.</span>
      </div>
      <div class="time">2 hours ago</div>
    </div>

    <div class="item-ticker">
      <div class="content-ticker">
        {{ 'Lucky Winner'|t }}: <span class="user">ARchie</span>
      </div>
      <div class="time">30 min ago</div>
    </div>
  </marquee>
  <div class="yfr-ticker__btn">
    <button class="btn-close">{{ 'Close'|t }}</button>
  </div>
</div>
