{#
/**
 * @file
 * Implementation for a geolocation with latitude, longitude in sexagesimal notation.
 *
 * Available variables:
 * - lat: The latitude value.
 * - lng: The longitude value.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<span class="geolocation-sexagesimal">{{ lat }}, {{ lng }}</span>