{#
/**
 * @file
 * Default microdata theme implementation for a geolocation with latitude, longitude.
 *
 * Available variables:
 * - lat: The latitude value.
 * - lng: The longitude value.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<span typeof="Place">
  <span property="geo" typeof="GeoCoordinates">
    <meta property="latitude" content="{{ lat }}">
    <meta property="longitude" content="{{ lng }}">
  </span>
  <span class="geolocation-latlng">{{ lat }}, {{ lng }}</span>
</span>
