{#
/**
 * @file
 * Default microdata theme implementation for a geolocation with latitude, longitude.
 *
 * Available variables:
 * - lat: The latitude value.
 * - lng: The longitude value.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <span itemscope itemtype="http://schema.org/GeoCoordinates">
    <meta itemprop="latitude" content="{{ lat }}">
    <meta itemprop="longitude" content="{{ lng }}">
    <span class="geolocation-latlng">{{ lat }}, {{ lng }}</span>
  </span>
{% endspaceless %}
