{#
/**
 * @file
 * Implementation for a geolocation with latitude, longitude in sexagesimal notation.
 *
 * Available variables:
 * - lat: The latitude value.
 * - lng: The longitude value.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<span typeof="Place">
    <span property="geo" typeof="GeoCoordinates">
        <meta property="latitude" content="{{ lat }}">
        <meta property="longitude" content="{{ lng }}">
    </span>
    <span class="geolocation-sexagesimal">{{ lat }}, {{ lng }}</span>
</span>