{#
/**
 * @file
 *
 * @ingroup themeable
 */
#}
<br/>
<br/>
<div class="childcare-payment-history--pdf--footer">
  {{ 'Have questions about this statement? http://ymcatwincities.custhelp.com or call 612-230-9622'|t }}
</div>
