{#
/**
 * @file
 * Default Camp menu block template implementation.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

<div class="camp-menu-wrapper">
  <div class="container">
    <nav class="columns">
      <h2 class="visually-hidden">{{ 'Camp Menu'|t }}</h2>
      <div class="wrapper">
        <ul class="camp-menu">
          {% for link in links %}
            <li class="camp-menu__item">
              {{ link }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>
