// Filter elements.

.filter {
  background-color: $light-grey;
  padding: rem(15px 0 14px);
  position: relative;


  &-form {
    @include susy-media(tablet) {
      @include clearfix;
    }

    // All inputs in the filter.
    input {
      &[type='text'] {
        border: none;
        background-color: transparent;
      }

      &[type='image'] {
        position: absolute;
        width: rem(20px);
        top: 50%;
        right: rem(15px);
        margin-top: rem(-10px);
        color: $logo-blue;
      }

      &:focus {
        outline: none;
        user-select: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &[type='checkbox'], &[type='radio'] {
        display: none;

        &+label {
          position: relative;
          display: block;
          padding: rem(5px 10px);
          padding-left: rem(30px);
          margin: rem(5px 0);
          color: $grey-3;
          vertical-align: middle;
          opacity: .7;
          transition: all .25s ease-in-out;
          word-break: break-word;

          &:hover {
            cursor: pointer;
            opacity: 1;
            color: $dark-blue
          }

          &:before, &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }

          &:before {
            width: 15px;
            height: 15px;
            border: 1px solid $grey-b;
            background-color: white;
            border-radius: 2px;
          }

          &:after {
            width: 3px;
            height: 6px;
            left: 6px;
            border: solid $grey-3;
            border-width: 0 2px 2px 0;
            border-radius: 2px;
            opacity: 0;
            transform: translateY(-50%) rotate(45deg) scale(0.5);
            transition: all .35s ease-in-out;
          }
        }

        &:checked  {
          &+label {
            opacity: 1;
            &:after {
              transform: translateY(-50%) rotate(45deg) scale(1);
              opacity: 1;
            }
          }
        }
      }

      &[type='radio'] {
        &+label {
          &:before {
            border-radius: 50%;
          }
          &:after {
            width: 5px;
            height: 5px;
            left: 6px;
            background-color: $grey-3;
            border: none;
            opacity: 0;
            transform: translateY(-50%) rotate(45deg) scale(0.5);
            transition: all .35s ease-in-out;
          }
        }
      }
    }

    // Fieldset general styles.
    &__fieldset {
      border-top: 1px solid $grey-d;
      padding-top: rem(20px);
      margin-bottom: rem(20px);
      opacity: 0;
      transition: opacity 0.45s ease-in-out;

      &:first-child {
        margin-top: 10px;
      }

      // Arrange in grid all items.
      ul {
        @extend %clearfix;
      }

      li {
        @include gallery(2 of 4);
        position: relative;
        margin-bottom: rem(5px);

        @include susy-media(tablet) {
          @include gallery(2 of 8);
        }
      }
    }

    &__times {
      @include span(8 of 8);

      @include susy-media(desktop) {
        @include span(2 of 12);
      }
    }

    &__days {
      @include span(8 of 8);
      margin-bottom: 0;
      opacity: 1;
      @include susy-media(desktop) {
        @include span(14 of 24);
        @include prefix(1 of 48);
        border-top: none;
        padding-top: 0;
        margin-bottom: 0;

        $days-gallery: (
          gutters: 0
        );

        @include with-layout($days-gallery) {
          li {
            @include gallery(1 of 6);
            margin-top: rem(4px);
          }
        }
      }

      legend {
        display: none;
      }
    }

    &__container {
      display: block !important;
      transition: max-height 0.35s ease-in-out;
      min-height: 0;
      max-height: 0;
      overflow: hidden;
      clear: both;
      color: $default-light;

      legend {
        display: block;
        float: left;
        width: 100%;
        margin-bottom: rem(10px);
        font-size: rem(22px);
        color: $dark-blue;
      }
    }

    // Date select blocks.
    &__date-select,
    &__search-autocomplete span {
      background-color: white;
      border: 1px solid $grey-c;
      padding: rem(10px 15px);
    }

    &__search-autocomplete {
      padding-top: rem(30px);
      margin-bottom: rem(30px);
      span {
        @extend .icon-search;
        @include span(4 of 4);
        position: relative;
        color: $grey-c;

        @include susy-media(tablet) {
          @include span(4 of 8);
        }

        &:before {
          @extend %icons;
          position: absolute;
          right: rem(15px);
          top: 50%;
          margin-top: rem(-10px);
          font-size: rem(20px);
          color: $grey-3;
        }
      }
    }

    // Search button.
    &__search-button {
      padding-top: rem(20px);
    }

    &__show-more {
      user-select: none;
      text-align: right;
      cursor: pointer;
      color: $grey-6;
      float: right;
      transition: color 300ms ease;
      padding-left: rem(10px) !important;

      @include susy-media(desktop) {
        @include span(last 3 of 24);
        margin-top: 10px !important;
      }

      &:hover {
        color: $dark-blue;
      }
    }

    &__top-submit {
      @include susy-media(desktop) {
        @include span(last 1 of 12);
        margin-top: 10px !important;
        float: right;
      }
    }
  }

  // Active state behaviour.
  #show-more-less {
    display: none;

    ~ label {
      &:before {
        content: '+ More ';
        display: inline;
        height: auto;
        width: auto;
        background-color: transparent;
        position: static;
        transform: none;
        border: none;
      }
    }

    &:checked {
      ~ .filter-form__container {
        max-height: rem(1500px);

        .filter-form__fieldset {
          opacity: 1;
        }
      }

      ~ label {
        &:before {
          content: '- Less ';
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

#more-locations {
  display: none;
}

label[for="more-locations"] {
  color: $links;
}