// Header

.footer {
  font-size: rem(14px);
  position: relative;
  padding: rem(30px 0);

  @include susy-media(tablet) {
    padding: rem(60px 0);
    overflow: hidden;
  }


  &:before {
    @include susy-media(tablet) {
      position: absolute;
      top: 0;
      left: 63%;
      display: block;
      width: 80%;
      height: 100%;
      background-image: linear-gradient(rgba(255,255,255,.43),rgba(255,255,255,0));
      content: '';
      transform: skew(-30deg);
    }
  }

  .container {
    position: relative;
  }

  &__logo {
    @include cachet-bold;
    position: relative;
    color: $blue;
    display: block;
    padding-left: rem(115px);
    padding-top: rem(43px);
    font-size: rem(11px);
    text-transform: uppercase;
    letter-spacing: -.04em;
    margin-bottom: rem(25px);

    @include susy-media(tablet) {
      @include span(3 of 10);
      margin-bottom: 0;
    }

    img {
      display: block;
      width: rem(104px);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__nav {
    @extend %clearfix;
    @include helvetica;
    margin-bottom: rem(25px);

    @include susy-media(tablet) {
      @include span(4 of 10);
      margin-bottom: 0;
    }

    ul {
      @include gallery(2 of 4);

      @include susy-media(tablet) {
        @include gallery(4 of 12);
      }
    }

    a {
      padding: rem(5px 15px);
      cursor: pointer;
      transition: background-color .2s ease-out;
      display: block;

      &:hover {
        border-radius: 2px;
        background: rgba(255,255,255,.69);
        transition-duration: 0s;
      }
    }
  }

  &__ymca{
    &--info {
      @include susy-media(tablet) {
        @include span(last 3 of 10);
      }
    }

    &-social {
      font-size: 0;
      margin-bottom: rem(25px);

      a {
        margin-left: rem(20px);

        &:before {
          font-size: rem(28px);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-copyright {
      margin-bottom: rem(30px);

      strong {
        margin-bottom: rem(10px);
        display: block;
      }

      p {
        line-height: 1.45;
      }
    }

    &-partners {
      img {
        margin-bottom: rem(4px);
      }

      figcaption {
        font-size: rem(11px);
        color: $grey-6;
        @include helvetica;
      }
    }
  }
}