.utility-bar {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  margin-bottom: rem(20px);
  position: relative;
  color: $links;

  @include susy-media(tablet) {
    @include clearfix;
    margin-bottom: rem(0px);
  }

  // Breadcrumbs behavior.
  &__breadcrumb {
    font-size: 0;

    @include susy-media(tablet) {
      @include span(4 of 8);
    }

    a {
      font-size: rem(16px);

      &:after {
        content: '/';
        margin: rem(0 5px);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  // Right links.
  &__links {
    @include span(4 of 4);
    margin-bottom: rem(20px);

    @include susy-media(tablet) {
      @include span(last 4 of 8);
      margin-bottom: rem(0px);
    }
    text-align: right;

    a {
      display: block;
      position: relative;
      margin-left: rem(20px);
      display: inline-block;
    }

    .amount--circle {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: -2px; left: 0;
      background-color: $maroon;
      border-radius: 50%;
      margin-right: 5px;
      .amount {
        position: absolute;
        display: block;
        text-align: center;
        font-size: rem(12px);
        line-height: rem(12px);
        font-style: normal;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        color: #fff;
      }
    }

    ins {
      margin-left: rem(30px);
      text-decoration: none;
      color: $maroon;
    }
  }
}
