.paragraph--type--gallery-cta-content {
  position: relative;
  .field-prgf-image {
    @include breakpoint (0 767px) {
      margin: 0 -135px;
      .paragraph--type--gallery-cta & {
        margin: 0;
      }
    }
  }
  .cta-group-wrapper {
    @include breakpoint (0 767px) {
      margin: 0;
      .paragraph--type--gallery-cta & {
        margin: 0 135px;
      }
    }
    @include breakpoint (768px) {
      position: absolute;
      max-height: 100%;
      width: 100%;
      left: 60px;
      bottom: auto;
      transform: translate(0, -50%);
      top: 50%;
    }
    @include breakpoint (1368px) {
      left: 0;
      top: 70px !important;
      bottom: auto;
      transform: none;
    }
    .cta-group {
      background-color: rgba(215, 215, 215, 0.25);
      padding: 23px 15px;
      @include breakpoint (768px) {
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 400px;
      }
      @include breakpoint (1024px) {
        background-color: rgba(255, 255, 255, 0.8);
      }
      @include breakpoint (1024px) {
        padding: 25px 20px;
      }
      h1 {
        margin: 0;
        color: $pink;
        font-size: 32px;
        @include breakpoint (768px) {
          margin: 0 0 15px;
          font-size: 32px;
        }
        @include breakpoint (1024px) {
          font-size: 46px;
          line-height: 50px;
          margin: 0 0 10px;
        }
      }
      .text {
        @include cachet();
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        @include breakpoint (768px) {
          font-size: 20px;
          margin-bottom: 15px;
        }
        @include breakpoint (1024px) {
          font-size: 20px;
          margin-bottom: 30px;
        }
        @include breakpoint (1025px) {
          line-height: 23px;
        }
      }
      .btn {
        white-space: normal;
        font-size: 18px;
        padding: 0px;
        width: 100%;
        @include breakpoint (768px) {
          font-size: 20px;
        }
        a {
          display: block;
          padding: 12px;
          @include breakpoint (1025px) {
            padding: 15px;
          }
        }
      }
    }
  }

}

.item__caption__wrapper {
  position: relative;
}

.item__caption {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: $purple;
  font-size: 14px;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.43;
  max-width: 260px;
  padding: 10px;
}

.paragraph--type--gallery-cta {
  position: relative;
  .carousel {
    margin: 0px -135px;
    @include breakpoint (768px) {
      margin: 0;
    }
    @include breakpoint (1024px) {
      margin: 0;
    }
    .carousel-control {
      background-color: rgba(255, 255, 255, 0.5);
      background-image: none;
      height: 46px;
      opacity: 1;
      width: 46px;
      z-index: 1;
      @include breakpoint (768px) {
        background: none;
        text-shadow: none;
        opacity: 0.5;
        height: 54px;
        width: 44px;
      }
      @include breakpoint (1024px) {
        height: 74px;
        width: 58px;
      }
      .fa {
        font-size: 34px;
        line-height: 46px;
        color: $white;
        @include breakpoint (768px) {
          font-size: 54px;
          line-height: 54px;
        }
        @include breakpoint (1024px) {
          font-size: 74px;
          line-height: 74px;
        }
      }
      &.left {
        text-align: right;
        top: 50%;
        left: 135px;
        margin-top: -23px;
        @include breakpoint (768px) {
          left: 10px;
          margin-top: -27px;
        }
        @include breakpoint (1024px) {
          margin-top: -37px;
        }
        .fa {
          margin-right: 5px;
        }
        span {
          @include breakpoint($desktop-small) {
            margin-left: -30px;
          }
        }
      }
      &.right {
        text-align: left;
        top: 50%;
        right: 135px;
        margin-top: -23px;
        @include breakpoint (768px) {
          right: 10px;
          margin-top: -27px;
        }
        @include breakpoint (1024px) {
          margin-top: -37px;
        }
        .fa {
          margin-left: 5px;
        }
      }
      span {
        font-size: 50px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        @include breakpoint(0 $desktop-small) {
          font-size: 30px;
        }
      }
    }
    .carousel-inner > .item img,
    .carousel-inner > .item a img {
      height: auto;
      width: 100%;
    }
  }
}

.text-banner {
  h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.1em;
    margin: 20px 0 10px;
    color: white;
    font-family: 'Cachet';
    @include breakpoint(0 $tablet-start) {
      font-size: 40px;
    }
    @include breakpoint(0 $tablet) {
      font-size: 20px;
    }
  }
  p {
    font-size: 20px;
    margin: 0 0 10px;
    color: white;
  }
}

#banner {
  position: relative;
  min-height: 455px;
  @include breakpoint(0 $tablet-start) {
    height: auto;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 4;
    display: block;
    visibility: visible;
    width: 66%;
    height: 100%;
    background: $black3;
    content: '';
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    @include breakpoint($desktop) {
      left: 55%;
    }
    @include breakpoint(0 $tablet-start) {
      display: none;
    }
  }
  .image {
    position: inherit;
  }
  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 62%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-img-mobile {
    @include breakpoint(0 $tablet) {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -20%;
      max-width: none;
      width: 140%;
    }
  }
  .banner-caption {
    color: white;
    z-index: 5;
    padding-top: 80px;
    min-height: 435px;
    position: relative;
    right: auto !important;
    bottom: auto;
    left: auto !important;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: -20%;
    text-align: right;
    p {
      text-align: right;
    }
    a {
      padding: 15px 35px !important;
      font-size: 20px !important;
      margin-top: 20px;
      @extend .pink-button;
    }
    @include breakpoint(0 $tablet-start) {
      text-align: center;
      width: 100%;
      position: static;
      padding: 10px 30px 60px;
      background: $black4;
      margin: 0;
      min-height: 100px;
      h1 {
        font-size: 40px;
      }
      p {
        text-align: center;
      }
    }
    @include breakpoint(0 $tablet) {
      h1 {
        font-size: 20px;
      }
    }
  }
}

#small-text-banner {
  position: relative;
  @include breakpoint(0 $tablet) {
    height: auto;
    .container-fluid {
      padding: 0 15px;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: -21%;
    z-index: 2;
    width: 80%;
    height: 100%;
    background: inherit;
    content: '';
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    @include breakpoint(0 $tablet) {
      display: none;
    }
  }
  .header-copy {
    z-index: 3;
    background: inherit;
    .banner-copy {
      padding: 30px 0;
      z-index: 3;
      h1 {
        color: white;
        margin-top: 0;
        @include breakpoint(0 $tablet-start) {
          font-size: 48px;
        }
      }
      p {
        font-size: 24px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
    }
  }
  .header-image {
    z-index: 1;
    height: 100%;
    position: absolute;
    left: 50%;
    padding-right: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint($desktop) {
      padding-right: 100px;
    }
    @include breakpoint(0 $tablet) {
      background-image: none !important;
      position: static;
      width: 100%;
      padding: 0;
    }
    figure {
      overflow: hidden;
      margin: 0 -30px 0 -20px;
    }
  }
}

.paragraph--type--promo-text {
  padding: 20px 40px;
  background: #e5e5e5;
  border: 0;
  position: relative;
  font-weight: 200;
  line-height: 1.4;
  font-size: 21px;
  &:before {
    position: absolute;
    top: 0;
    display: block;
    width: 80%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.43),rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,0.43),rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,0.43),rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,0.43),rgba(255,255,255,0));
    content: '';
    left: 45%;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
  }
  h2 {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Cachet',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
  }
  p {
    font-size: 21px;
  }
  a {
    font-weight: bold;
  }
  ul {
    padding: 0;
    li {
      position: relative;
      margin: 5px 0;
      font-size: 21px;
      padding-left: 20px;
      list-style: none;
      &:before {
        position: absolute;
        top: 2px;
        left: 0;
        margin-right: 8px;
        color: #bebcbc;
        content: '>';
        font-family: 'YMCA';
      }
      a {
        font-weight: bold;
        font-family: 'Cachet',Helvetica,Arial,sans-serif;
      }
    }
  }
}
