.paragraph--type--gallery-cta-content {
  position: relative;
  .field-prgf-image {
    @include breakpoint (0 767px) {
      margin: 0 -135px;
      .paragraph--type--gallery-cta & {
        margin: 0;
      }
    }
  }
  .cta-group-wrapper {
    @include breakpoint (0 767px) {
      margin: 0;
      .paragraph--type--gallery-cta & {
        margin: 0 135px;
      }
    }
    @include breakpoint (768px) {
      position: absolute;
      max-height: 100%;
      width: 100%;
      left: 60px;
      bottom: auto;
      transform: translate(0, -50%);
      top: 50%;
    }
    @include breakpoint (1368px) {
      left: 0;
      top: 70px !important;
      bottom: auto;
      transform: none;
    }
    .cta-group {
      background-color: rgba(215, 215, 215, 0.25);
      padding: 23px 15px;
      @include breakpoint (768px) {
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 400px;
      }
      @include breakpoint (1024px) {
        background-color: rgba(255, 255, 255, 0.8);
      }
      @include breakpoint (1024px) {
        padding: 25px 20px;
      }
      h1 {
        margin: 0;
        color: $pink;
        font-size: 32px;
        @include breakpoint (768px) {
          margin: 0 0 15px;
          font-size: 32px;
        }
        @include breakpoint (1024px) {
          font-size: 46px;
          line-height: 50px;
          margin: 0 0 10px;
        }
      }
      .text {
        @include cachet();
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        @include breakpoint (768px) {
          font-size: 20px;
          margin-bottom: 15px;
        }
        @include breakpoint (1024px) {
          font-size: 20px;
          margin-bottom: 30px;
        }
        @include breakpoint (1025px) {
          line-height: 23px;
        }
      }
      .btn {
        white-space: normal;
        font-size: 18px;
        padding: 0px;
        width: 100%;
        @include breakpoint (768px) {
          font-size: 20px;
        }
        a {
          display: block;
          padding: 12px;
          @include breakpoint (1025px) {
            padding: 15px;
          }
        }
      }
    }
  }

}

.item__caption__wrapper {
  position: relative;
}

.item__caption {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: $purple;
  font-size: 14px;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.43;
  max-width: 260px;
  padding: 10px;
}

.paragraph--type--gallery-cta {
  position: relative;
  .carousel {
    margin: 0px -135px;
    @include breakpoint (768px) {
      margin: 0;
    }
    @include breakpoint (1024px) {
      margin: 0;
    }
    .carousel-control {
      background-color: rgba(255, 255, 255, 0.5);
      background-image: none;
      height: 46px;
      opacity: 1;
      width: 46px;
      z-index: 1;
      @include breakpoint (768px) {
        background: none;
        text-shadow: none;
        opacity: 0.5;
        height: 54px;
        width: 44px;
      }
      @include breakpoint (1024px) {
        height: 74px;
        width: 58px;
      }
      .fa {
        font-size: 34px;
        line-height: 46px;
        color: $white;
        @include breakpoint (768px) {
          font-size: 54px;
          line-height: 54px;
        }
        @include breakpoint (1024px) {
          font-size: 74px;
          line-height: 74px;
        }
      }
      &.left {
        text-align: right;
        top: 50%;
        left: 135px;
        margin-top: -23px;
        @include breakpoint (768px) {
          left: 10px;
          margin-top: -27px;
        }
        @include breakpoint (1024px) {
          margin-top: -37px;
        }
        .fa {
          margin-right: 5px;
        }
      }
      &.right {
        text-align: left;
        top: 50%;
        right: 135px;
        margin-top: -23px;
        @include breakpoint (768px) {
          right: 10px;
          margin-top: -27px;
        }
        @include breakpoint (1024px) {
          margin-top: -37px;
        }
        .fa {
          margin-left: 5px;
        }
      }
    }
    .carousel-inner > .item img,
    .carousel-inner > .item a img {
      height: auto;
      width: 100%;
    }
  }

}

