{#
/**
 * @file mapping.html.twig
 * Default theme implementation to present Mapping data.
 *
 * This template is used when viewing Mapping pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mapping()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mapping') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
