{#
/**
 * @file
 * Template for YMCA Retention layout.
 */
#}
<div class="retention-campaign{% if settings.extra_classes is not empty %} {{ settings.extra_classes }}{% endif %}">
  <nav id="top-nav" class="top-nav">
    {{ content.navigation }}
  </nav>
  <div id="hero-section" class="hero-section">
    {{ content.hero }}
  </div>
  {{ content.main }}
  <div class="tab-content"></div>
</div>
