{#
/**
 * @file
 * Template for YMCA Retention winner layout.
 */
#}
<div class="container-winners">
  <div class="compain-winners">
    {{ content.header }}
  </div>
</div>
<div class="container-full-width">
  {{ content.main }}
</div>
