{#
/**
 * @file
 * Template for YMCA Retention winner layout.
 */
#}
<div class="container-winners">

    <div class="compain-winners">
        <header class="compain-header">
            <div class="compain-header--content">
                <div class="container">
                    <div class="logo">
                        <img alt="logo" src="{{ base_path }}themes/custom/ymca/prototypes/ysr_2017/img/logo-phoenix-light.svg">
                    </div>

                    <div class="content">
                        <div class="title">Y RECHARGE CHALLENGE</div>
                        <div class="sub-title">Lucky Winners</div>
                    </div>
                </div>
            </div>
        </header>
        {{ content.header }}
    </div>
</div>
<div class="container-full-width">
    {{ content.main }}
</div>