<div class="row">
    <div class="container">
        <div class="col-xs-12">
            <div class="wrap">
                <img src="./img/cup.png" alt="Leaderboard">
            </div>
            <h2>Leaderboard</h2>

            <form action="#" class="leaderboard-form">
                <select name="location" id="leaderboard-location" class="form-select form-control text default">
                    <option value="none">Select location...</option>
                    <option value="option1">White Bear Area</option>
                    <option value="option2">option 2</option>
                    <option value="option3">option 3</option>
                </select>
            </form>

            <div class="results-table-wrapper">
                <table class="results-table">
                    <thead>
                    <tr>
                        <th colspan="2">Sort by:</th>
                        <th class="member-id"></th>
                        <th><a href="#" class="sort-link swimming">Swimming</a></th>
                        <th><a href="#" class="sort-link fitness">Fitness</a></th>
                        <th><a href="#" class="sort-link group-exercise">Group Exercises</a></th>
                        <th><a href="#" class="sort-link visits active">Visits</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="number">1
                            <small>st</small>
                        </td>
                        <td class="name">
                            Cristina V.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">16</td>
                    </tr>
                    <tr>
                        <td class="number">2
                            <small>nd</small>
                        </td>
                        <td class="name">
                            Jaime F.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">16</td>
                    </tr>
                    <tr>
                        <td class="number">3
                            <small>rd</small>
                        </td>
                        <td class="name">
                            Richard R.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">16</td>
                    </tr>

                    <tr>
                        <td class="number">4.</td>
                        <td class="name">
                            Cristina V.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">16</td>
                    </tr>
                    <tr>
                        <td class="number">5.</td>
                        <td class="name">Jaime F.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">15</td>
                    </tr>
                    <tr>
                        <td class="number">6.</td>
                        <td class="name">Richard R.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">14</td>
                    </tr>
                    <tr>
                        <td class="number">7.</td>
                        <td class="name">
                            Cristina V.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">13</td>
                    </tr>
                    <tr>
                        <td class="number">8.</td>
                        <td class="name">Jaime F.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">13</td>
                    </tr>
                    <tr>
                        <td class="number">9.</td>
                        <td class="name">Richard R.
                            <span class="member-id">ID: ******** 0902</span>
                        </td>
                        <td class="member-id">ID: ******** 0902</td>
                        <td class="activity-count">12</td>
                        <td class="activity-count">13</td>
                        <td class="activity-count">14</td>
                        <td class="activity-count">12</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pager">
                <a href="#" class="load-more">+ Show 20 more</a>
            </div>

        </div>
    </div>
</div>
