{#
/**
 * @file
 * Display retention campaign intro information.
 */
#}
<div class="shape-container">
  <div class="shapes-wrapper">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
  </div>
</div>
<div class="container">
  <div class="logo"></div>
  <h1>{{ content.title }}</h1>
  <div class="date">{{ content.dates }}</div>
</div>
