{#
/**
 * @file
 * Display menu navigation on the page.
 */
#}
<a href="{{ content.back_url }}" class="back-link">
    <span class="glyphicon glyphicon-arrow-left"></span>{{ "Back to Home"|t }}
</a>
<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".ysr-menu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<ul class="ysr-menu collapse">
    {% for key, link in content.links %}
        <li>{{ link }}</li>
    {% endfor %}
</ul>
