<div id="winners" class="winners">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrap">
          <img src="{{ base_path }}themes/custom/ymca/prototypes/ysr/img/cup.png" alt="Winners">
        </div>
        <h2>{{ 'Winners'|t }}</h2>

        <form action="#" class="leaderboard-form">
          <select name="location" id="leaderboard-location" class="form-select form-control text default">
            <option value="none">Select location...</option>
            <option value="option1">White Bear Area</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
          </select>
        </form>

      </div>
    </div>

    <div class="prize prize--gold">
      <div class="prize__header">
        <span class="prize__header__name">Gold Prize</span>
      </div>
      <div class="prize__prizes">
        <div class="row">
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--medallion prize__prize--medallion-gold">
            <span class="prize__prize__title">Gold Medallion</span>
          </div>
          <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--membership">
            <span class="prize__prize__title">1&nbsp;Month of&nbsp;Membership</span>
          </div>
          <div class="hidden-xs col-sm-1 prize__prize prize__prize--separator"></div>
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--towel">
            <span class="prize__prize__title">3&nbsp;Months&nbsp;of Towel&nbsp;Service</span>
          </div>
          <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--bottle">
            <span class="prize__prize__title">Hydro&nbsp;Flask Water&nbsp;Bottle</span>
          </div>
        </div>
      </div>
      <div class="prize__winners">
        <div class="prize__winners__category prize__winners__category--swimming">
          <div class="category__name">
            Swimming:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--fitness">
          <div class="category__name">
            Fitness:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jean Francois M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--groupex">
          <div class="category__name">
            Group Exercise:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Christopher M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--visits">
          <div class="category__name">
            Visit Goal:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="prize prize--silver">
      <div class="prize__header">
        <span class="prize__header__name">Silver Prize</span>
      </div>
      <div class="prize__prizes">
        <div class="row">
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--medallion prize__prize--medallion-silver">
            <span class="prize__prize__title">Silver Medallion</span>
          </div>
          <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--towel">
            <span class="prize__prize__title">3 Months of Towel&nbsp;Service</span>
          </div>
          <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--bottle">
            <span class="prize__prize__title">Hydro&nbsp;Flask Water&nbsp;Bottle</span>
          </div>
        </div>
      </div>
      <div class="prize__winners">
        <div class="prize__winners__category prize__winners__category--swimming">
          <div class="category__name">
            Swimming:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--fitness">
          <div class="category__name">
            Fitness:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--groupex">
          <div class="category__name">
            Group Exercise:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--visits">
          <div class="category__name">
            Visit Goal:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="prize prize--bronze">
      <div class="prize__header">
        <span class="prize__header__name">Bronze Prize</span>
      </div>
      <div class="prize__prizes">
        <div class="row">
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--medallion prize__prize--medallion-bronze">
            <span class="prize__prize__title">Bronze Medallion</span>
          </div>
          <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
          <div class="col-xs-4 col-sm-2 prize__prize prize__prize--bottle">
            <span class="prize__prize__title">Hydro&nbsp;Flask Water&nbsp;Bottle</span>
          </div>
        </div>
      </div>
      <div class="prize__winners">
        <div class="prize__winners__category prize__winners__category--swimming">
          <div class="category__name">
            Swimming:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--fitness">
          <div class="category__name">
            Fitness:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Christopher M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--groupex">
          <div class="category__name">
            Group Exercise:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jean Francois M.</div>
          </div>
        </div>
        <div class="prize__winners__category prize__winners__category--visits">
          <div class="category__name">
            Visit Goal:
          </div>
          <div class="category__winner">
            <div class="winner-id">ID: ******** 1234</div>
            <div class="winner-name">Jerome M.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
