{#
/**
 * @file
 * Display track activity login form.
 */
#}
<div id="report" class="slide slide-inactive report">
  <div class="container">
    <div class="row report-form">
      {{ form }}
    </div>
  </div>
</div>
