{#
/**
 * @file
 * Template for retention activity layout.
 */
#}
<!-- TOP BAR -->
<nav id="top-nav">
  {{ content.navigation }}
</nav>
<!-- HERO SECTION -->
<div id="hero-section">
  {{ content.hero }}
</div>
{{ content.main }}
