<div class="personal-result">
  <div class="personal-result__thumbup"></div>
  <p class="personal-result__description">
    {{ 'You were so close,<br/>but others made it to the podium.'|t }}
  </p>
  <div class="personal-result__separator"></div>
  <h3 class="personal-result__title">
    {{ 'Good luck with<br/>the next campaign!'|t }}
  </h3>
</div>
