<div class="block-banner">
  <div class="content-banner">
    <div class="wrapper-logo">
      <a class="logo" href="./index.html">
        <img alt="logo" src="./images/logo.png"/>
      </a>
    </div>
    <div class="description">
      <p>New campaign starting this fall.</p>
      <p>For more details visit: <br/><a href="#">www.ymcamn.org/y-spirit</a></p>
    </div>
  </div>
</div>
<div class="block-banner--footer">
  <div class="block-event">
    <div class="content">
      <div class="wrapper-info">
        <span class="label">Upcoming:</span>

        <div class="row">
          <span class="info">Active Together</span>
          <span class="user">With JAne G.</span>
        </div>
      </div>

      <div class="wrapper-time">
        <span class="time">18:03</span>
        <span class="label">min left</span>
      </div>
    </div>
  </div>
</div>
