.block-description {
  &--wrapper {
    @extend %decor--flex;
    @extend %decor--flex-wrap;
  }

  &--text {
    border-top: 2px solid $color-gray-d;
    padding: 12px 0;
    margin: 0 10px;
    width: calc(100% - 15px);

    @include breakpoint(tablet) {
      margin: 0 15px;
      padding: 24px 0;
    }


    h4 {
      font-family: $font-cachet-book;
      font-weight: normal;
      font-size: 26px;
      line-height: lh(30, 26);
      color: $color-violet;
      margin: 0 0 10px;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: lh(40, 36);
      }
    }

    p {
      font-size: 13px;
      line-height: lh(20, 13);
      margin: 0;

      @include breakpoint(tablet){
        font-size: 15px;
        line-height: lh(22, 15);
      }
    }

    .content {
      margin: 0 0 10px 0;
    }

    .field-sb-link {
      @include read-more-link();
    }
  }

  &--2 {
    .block-description--text {
      @include breakpoint(tablet){
        width: calc(100% / 2 - 30px);
      }
    }
  }

  &--3 {
    .block-description--text {
      @include breakpoint(tablet){
        width: calc(100% / 3 - 30px);
        position: relative;
        .block-share {
          margin: 0 0 40px 0;
        }
        .field-sb-link a {
          position: absolute;
          bottom:20px;
        }
      }
    }

  }

  &--4 {
    display: block;
    @include breakpoint(tablet) {
      display: flex;
    }
    @include breakpoint(tablet) {
      .wrapper {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .block-description--text {
      @include breakpoint(tablet) {
        width: calc(100% / 4 - 30px);
      }
    }
  }
}
