.block-description {
  &--wrapper {
    @extend %decor--flex;
    @extend %decor--flex-wrap;
  }

  &--text {
    border-top: 2px solid $color-gray-d;
    padding: 12px 0;
    margin: 0 10px;
    width: calc(100% - 15px);

    @include breakpoint(tablet) {
      margin: 0 15px;
      padding: 24px 0;
    }

    h2 {
      @include breakpoint (768px) {
        font-size: 26px;
      }
      @include breakpoint (1024px) {
        font-size: 30px;
      }
      &.with-icon {
        padding-left: 28px;
        @include breakpoint (768px) {
          padding-left: 32px;
        }
        @include breakpoint (1024px) {
          padding-left: 40px;
        }
      }
    }

    h4 {
      @include cachet();
      font-size: 26px;
      line-height: lh(30, 26);
      color: $purple;
      margin: 0 0 10px;
      vertical-align: middle;

      @include breakpoint(tablet) {
        font-size: 36px;
        line-height: lh(40, 36);
      }
    }

    .fa {
      color: $purple;
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
      max-height: 24px;
      max-width: 24px;
      float: left;
      width: auto;
      @include breakpoint(tablet) {
        font-size: 26px;
        max-height: 26px;
        max-width: 26px;
      }
      @include breakpoint(laptop) {
        font-size: 30px;
        max-height: 30px;
        max-width: 30px;
      }
    }

    .field-icon {
      vertical-align: middle;
      margin-right: 5px;
      float: left;
      img {
        vertical-align: middle;
        max-height: 24px;
        max-width: 24px;
        width: auto;
        @include breakpoint(tablet) {
          max-height: 28px;
          max-width: 28px;
        }
        @include breakpoint(laptop) {
          max-height: 35px;
          max-width: 35px;
        }
      }
    }

    p {
      font-size: 13px;
      line-height: lh(20, 13);
      margin: 0;

      @include breakpoint(tablet){
        font-size: 15px;
        line-height: lh(22, 15);
      }
    }

    .content {
      margin: 0 0 10px 0;
    }

    .field-sb-link {
      a {
        font-size: 15px;
        color: $color-blue;
        display: inline-block;
        vertical-align: top;
        line-height: lh(20.1, 15);
        position: relative;

        &:after {
          content: '>';
          display: inline-block;
          vertical-align: text-top;
          font-size: inherit;
          line-height: inherit;
          padding: 0 0 0 2px;
        }
      }
    }
  }

  &--2 {
    .block-description--text {
      @include breakpoint(tablet){
        width: calc(100% / 2 - 30px);
      }
    }
  }

  &--3 {
    .block-description--text {
      @include breakpoint(tablet){
        width: calc(100% / 3 - 30px);
        position: relative;
        .block-share {
          margin: 0 0 40px 0;
        }
        .field-sb-link a {
          position: absolute;
          bottom:20px;
        }
      }
    }

  }

  &--4 {
    display: block;
    @include breakpoint(tablet) {
      display: flex;
    }
    @include breakpoint(tablet) {
      .wrapper {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .block-description--text {
      @include breakpoint(tablet) {
        width: calc(100% / 4 - 30px);
      }
    }
  }
}
