.banner {
  background: linear-gradient(to top, $color-blue, $color-violet);
  overflow: hidden;
  position: relative;

  &-image {

    @include breakpoint(laptop) {
      position: absolute;
      right: 0;
      width: calc(50% + #{ceil($container-desktop/6 - $grid-gutter-width)});
    }

    @include breakpoint(desktop) {
      width: calc(50% + #{ceil($container-large-desktop/6 - $grid-gutter-width)});
    }

    img {
      width: 100% !important;
      height: auto !important;

      @include breakpoint(laptop) {
        width: 120% !important;
      }
    }
  }

  &-cta-section {
    padding-bottom: 18px;

    @include breakpoint(laptop) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include breakpoint(desktop) {
      padding-bottom: 75px;
    }
  }

  &-title {
    @include cachet;
    color: $white;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include breakpoint(laptop) {
      font-size: 48px;
      line-height: 48px;
    }

    @include breakpoint(desktop) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &-description {
    @include cachet;
    color: $white;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    line-height: 1.22;

    @include breakpoint(tablet) {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 30px;
    }
  }

  .btn {
    white-space: normal;
    font-size: 18px;
    padding: 0;
    width: 100%;
    margin: 0 0 5px;
    background: $white;

    a {
      display: block;
      padding: 12px;
      color: $color-blue;
      font-family: $font-cachet-bold;
      text-transform: uppercase;
    }
  }

  &--small {
    min-height: 105px;

    @include breakpoint(laptop) {
      min-height: 160px;
    }

    .banner-image {
      display: none;

      @include breakpoint(laptop) {
        display: block;
        position: absolute;
        right: 0;
        width: calc(50% - #{ceil($container-desktop/6 + 0*$grid-gutter-width)});
      }

      @include breakpoint(desktop) {
        width: calc(50% - #{ceil($container-large-desktop/6 + 0*$grid-gutter-width)});
      }
    }

    .banner-cta-section {
      padding: 13px 0;

      @include breakpoint(laptop) {
        padding: 30px 0;
      }
    }

    .banner-title {
      margin: 0;
    }

    &.color-assigned {
      background: none;
    }
  }
}
