/* style button */
.btn {
  background: $blue-light;
  border-radius: 3px;
  border: medium none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  padding: 11px 15px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background: $blue;
  }

  &--blue {
    background: $blue;

    &:hover {
      background: darken($blue, 5%);
    }
  }

  &--blue--light {
    background: $blue-light;

    &:hover {
      background: darken($blue, 5%);
    }
  }

  &--purple {
    background: $purple;

    &:hover {
      background: darken($purple, 5%);
    }
  }

  &--purple--light {
    background: $purple-light;

    &:hover {
      background: darken($purple, 5%);
    }
  }

  &--green {
    background: $green;

    &:hover {
      background: darken($green, 5%);
    }
  }

  &--orange {
    background: $orange;

    &:hover {
      background: darken($orange, 5%);
    }
  }
}
/* style button has icon */

.btn--has-icon {
  padding: 0 !important;
  position: relative;
  overflow: hidden;

  .text-button {
    padding: 10px !important;
    background: transparent !important;
  }

  &__image {
    padding: 6px 10px !important;
    border-radius: 3px 0 0 3px !important;

    .btn__icon__img {
      padding: 0 !important;
      width: 20px !important;
      margin: 0 !important;
      background: transparent !important;
    }
  }

  .icon {

    &--blue {
      background-color: $blue-dark ;
    }

    &--blue--light {
      background-color: $blue ;
    }

    &--purple {
      background-color: $purple-dark ;
    }

    &--purple--light {
      background-color: $purple ;
    }

    &--green {
      background-color: $green-dark ;
    }

    &--orange {
      background-color: $orange-dark ;
    }
  }

  table {
    width: auto !important;
    tr {
      background: transparent;
    }
  }
}

.link {
  text-decoration: none;
  color: $blue-dark;
  font-size: 16px;
  align-items: center;
  .img-left {
    padding-right: 8px;
  }
  .img-right {
    padding-left: 3px;
  }

  &--blue {
    color: $blue-dark;

    &:hover {
      color: darken($blue-dark, 10%);
    }
  }

  &--purple {
    color: $purple;

    &:hover {
      color: darken($purple, 10%);
    }
  }

  &--green {
    color: $green;
    &:hover {
      color: darken($green, 10%);
    }
  }

  &--orange {
    color: $orange;

    &:hover {
      color: darken($orange, 10%);
    }
  }

  &--has-icon {
    text-decoration: none;
  }
}




