// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000;
$white: #ffffff;
/* zip code color */

/* blue */
$blue-dark   : #0661ad;
$blue        : #0889cd;
$blue-light : #00aeef;
$blue-light1 : #09aeed;

/* Purple */
$purple-dark  : #5c2e91;
$purple       : #92278f;
$purple-light : #c6168d;

/* Green */
$green-dark  : #006a6a;
$green       : #00aa95;
$green-light : #26bcbd;

/* Orange */
$orange-dark  : #dc5829;
$orange       : #f37823;
$orange-light : #fbae1f;

/* gray */

$gray-a7: #a7a7a7;
$gray-77: #777777;
$gray-42: #424242;
$gray-36: #363636;
$gray-fa: #fafafa;
$gray-f3: #f3f3f3;
$gray-f0: #f0f0f0;
$gray-cc: #cccccc;
$gray-ed: #ededed;

/* highlight */

$highlight-purple-dark : #5c2d8f;

