// FONTS
// Import all webfonts here
//https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// Ex:
// @include font-face(Samplino, fonts/Samplino);

@include font-face(cachetstd-bold, fonts/cachetstd-bold);
@include font-face(cachetstd-medium, fonts/cachetstd-medium);
