// Pick specific breakpoint.
.container {
  margin: 0 auto;
  max-width: 686px;
}

.main-component {
  margin: 0 auto;
  padding: 10px;
  max-width: 530px;
}

.main-component--large {
  margin: 0 auto;
  padding: 10px;
  max-width: 570px;
}

.main-component--small {
  margin: 0 auto;
  padding: 10px;
}
