h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
  color: $gray-42;
}

p {
  margin-top: 0;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

.block-title {
  color: $gray-42;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
