.locations .node--type-branch .hb-location-checkbox-wrapper {
  background: none;
  border: none;
  padding: 0 0 16px 0;
  margin-top: -20px;
}

.locations .node--type-branch.node--view-mode-teaser.hb-selected .hb-location-checkbox-wrapper {
  border-top: none;
}

.locations .node--type-branch.node--view-mode-teaser.hb-selected {
  box-shadow: 0 2px 12px rgb(0, 96, 173);
  border: none;
}

.hb-branch-selector .hb-location-checkbox-wrapper {
  text-align: left;
}

.node--type-branch.node--view-mode-teaser {
  padding: 20px 20px 50px 20px !important;
}

.locations .node--type-branch .node__content {
  padding: 0;
}

.locations .node--type-branch .location-item--title {
  padding: 0 0 16px 0;
}
