{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<section class="page-heading black-header page-title title-only">
  <div class="container-fluid">
    <h1>
      {{ name }}
    </h1>
  </div>
</section>
<br>
<div class="container-fluid">
  <article{{ attributes }}>
    {% if content %}
      {{ content }}
    {% endif %}
  </article>
</div>
<br>
