.decor--flex {
  display: flex;
}

.decor--flex-wrap {
  flex-wrap: wrap;
}

.decor--justify-start {
  justify-content: flex-start;
}

.decor--justify-end {
  justify-content: flex-end;
}

.decor--justify-center {
  justify-content: center;
}

.decor--justify-between {
  justify-content: space-between;
}

.decor--align-start {
  align-items: flex-start;
}

.decor--align-end {
  align-items: flex-end;
}

.decor--align-center {
  align-items: center;
}

.decor--align-between {
  align-items: space-between;
}

.decor--direction-column {
  flex-direction: column;
}

.decor--row-reverse {
  flex-direction: row-reverse;
}

.decor--row-initial {
  flex-direction: row;
}
