.theme-ymca--2017-compain-register {
  height: 100%;
  position: relative;
  background: $blue image-url('2017_summer/bg-page-register.jpg') 50% 100px no-repeat;
  background-size: cover;

  @include breakpoint($tablet) {
    background-position: 50% 100px;
  }

  .viewport,
  #main {
    height: 100%;
    background: none;
    margin-top: auto;
  }

  .compain-header--content {
    @include rem(padding-top, 7px);
    @include rem(padding-bottom, 12px);
    position: static;

    @include breakpoint($tablet) {
      @include rem(padding-top, 5px);
      @include rem(padding-bottom, 11px);
    }

    .container {
      .content {
        @include rem(padding-top, 1px);
        @include rem(padding-bottom, 1px);

        @include breakpoint($tablet) {
          @include rem(line-height, 50px);
          @include rem(padding-top, 8px);
          @include rem(padding-bottom, 11px);
        }
      }
    }
  }

  .compain-register {

    .compain-header {
      background: none;
      height: auto;

      &--content {
        .logo {
          margin-bottom: 0;
        }
      }
    }

    .container {
      padding: 0;
    }
  }

  #registration {
    @include rem(padding, 20px);
    position: absolute;
    width: 100%;
    max-width: 646px;
    top: calc(50% + 80px);
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint($tablet) {
    }
  }

  .compain-form-register {
    @include rem(padding, 20px);
    background-color: rgba($green-dark, 0.9);
    border-radius: 8px;

    @include breakpoint($tablet) {
      @include rem(padding, 30px);
    }

    @include breakpoint($desktop-small) {
      @include rem(padding, 39px 45px);
    }

    .col-sm-8 {
      @include breakpoint($tablet) {
        padding-right: 0;
      }
    }

    .btn {
      @include rem(line-height, 26px);
      display: block;
      width: 100%;
      // Change to blue.
      &.compain-dark-green {
        background: $blue;
        box-shadow: none;
      }
    }

    .form-item {
      @include rem(margin, 0 0 20px 0);

      @include breakpoint($tablet) {
        margin-bottom: 0;
      }
    }

    + .compain-form-register--alert {
      margin-top: 20px;
    }
  }
}

#ymca-retention-user-menu-register-form {
  .alert {
    padding-right: 40px;
    position: relative;
    button.close {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      right: 6px;
    }
  }
}
