#childcare-payment-history-form-wrapper {
  padding-top: 50px;
}
#childcare-payment-history-form-wrapper .download-pdf-wrapper {
  margin: -30px 0 40px;
  text-align: center;
}
@media (min-width: 992px) {
  #childcare-payment-history-form-wrapper .download-pdf-wrapper {
    text-align: right;
    margin: 0;
    position: absolute;
    top: -115px;
    right: 15px;
  }
}
#childcare-payment-history-form-wrapper .results {
  padding-top: 50px;
  padding-bottom: 50px;
}
#childcare-payment-history-form-wrapper .form-item-child {
  float: left;
  margin-right: 25px;
}
@media screen and (max-width: 767px) {
  #childcare-payment-history-form-wrapper .form-item-child {
    float: none;
    margin-right: 0;
  }
}
#childcare-payment-history-form-wrapper .form-item-child select {
  height: 50px;
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  #childcare-payment-history-form-wrapper .form-item-child select {
    max-width: none;
  }
}
#childcare-payment-history-form-wrapper .form-item-start-date,
#childcare-payment-history-form-wrapper .form-item-end-date {
  position: relative;
  float: left;
  margin-right: 25px;
}
@media screen and (max-width: 767px) {
  #childcare-payment-history-form-wrapper .form-item-start-date,
  #childcare-payment-history-form-wrapper .form-item-end-date {
    float: none;
    margin-right: 0;
  }
}
#childcare-payment-history-form-wrapper .form-item-start-date input,
#childcare-payment-history-form-wrapper .form-item-end-date input {
  padding-left: 50px;
  height: 50px;
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  #childcare-payment-history-form-wrapper .form-item-start-date input,
  #childcare-payment-history-form-wrapper .form-item-end-date input {
    max-width: none;
  }
}
#childcare-payment-history-form-wrapper .form-item-start-date:before,
#childcare-payment-history-form-wrapper .form-item-end-date:before {
  background-color: #f8f8f8;
  border-radius: 5px;
  color: #777;
  content: "\e953";
  font-family: icomoon;
  font-size: 20px;
  left: 1px;
  padding: 10px;
  position: absolute;
  top: 26px;
}
#childcare-payment-history-form-wrapper table {
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  #childcare-payment-history-form-wrapper table {
    font-size: 12px;
    margin-bottom: 25px;
  }
}
#childcare-payment-history-form-wrapper table caption {
  text-align: left;
  padding: 20px 15px;
  background-color: #696969;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  font-family: "Cachet", Arial, sans-serif;
}
@media screen and (max-width: 767px) {
  #childcare-payment-history-form-wrapper table caption {
    padding: 10px 5px;
  }
}
#childcare-payment-history-form-wrapper table th {
  background-color: #f8f8f8;
}
#childcare-payment-history-form-wrapper table td, #childcare-payment-history-form-wrapper table th {
  padding: 20px 15px;
}
@media screen and (max-width: 767px) {
  #childcare-payment-history-form-wrapper table td, #childcare-payment-history-form-wrapper table th {
    padding: 10px 5px;
  }
}
#childcare-payment-history-form-wrapper table tr:nth-child(even) td {
  background-color: #f8f8f8;
}
#childcare-payment-history-form-wrapper table tr:nth-child(odd) td {
  background-color: #fefefe;
}
#childcare-payment-history-form-wrapper table .description {
  max-width: 200px;
}
#childcare-payment-history-form-wrapper table .order {
  white-space: nowrap;
}
#childcare-payment-history-form-wrapper table .total-for-child {
  font-weight: bold;
  text-align: right;
}
#childcare-payment-history-form-wrapper table .total-for-child-amount {
  font-weight: bold;
}
#childcare-payment-history-form-wrapper .total {
  font-size: 16px;
  float: right;
  font-weight: bold;
  font-family: "Cachet", Arial, sans-serif;
}
