/*
* Location Selection.
*/

.schedule-locations__wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .schedule-locations__wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.field-prgf-repeat-lschedules-prf {
  display: none;
}

.text-right .error {
  color: #a51b00;
  font-size: 12px;
}
