#page-head,
#block-openy-rose-views-block-alerts-header-alerts,
.breadcrumbs,
.openy-page-tabs,
.pre-footer,
.footer,
.schedule-dashboard__sidebar {
  display: none;
}
.schedule-dashboard__wrapper {

}
.schedule-dashboard__content {
  width: 100% !important;
}
.schedule-dashboard__content a {
  color: #0060ac !important;
}
/*
* Set flexbox widths based on number of columns.
*/
/* Doesn't have category or instructor columns. */
.schedules-data__cols-5 .schedules-data__header > div,
.schedules-data__cols-5 .schedules-data__row > div {
  max-width: calc(100% / 3);
}
/* Has category column. */
.schedules-data__cols-6 .schedules-data__header > div,
.schedules-data__cols-6 .schedules-data__row > div {
  padding: 24px 12px;
  max-width: calc(100% / 4);
}
/* Has category & instructor columns. */
.schedules-data__cols-7 .schedules-data__header > div,
.schedules-data__cols-7 .schedules-data__row > div {
  padding: 24px 10px;
  max-width: calc(100% / 5);
}

html body {
  padding-top: 0 !important;
}
.viewport {
  margin-top: 0 !important;
}
.calendar-column,
.register-column {
  display: none !important;
}

.schedules-data__row:nth-child(even) {
  background-color: #f0faf9 !important;
}