/*
* Schedules Page.
*/
[v-cloak] {
  display: none;
}

/* Content > Subheader */
.schedule-dashboard__arrow {
  cursor: pointer;
}

.schedule-dashboard__arrow:hover {
	opacity: .7;
}

/* remove styles from sidebar */
.schedule-dashboard__sidebar .navbar-toggle {
	border: none;
	margin: 0;
	padding: 0;
	float: left;
	position: static !important;
	background: none !important;
}

.schedule-dashboard__sidebar .navbar-default {
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: none;
}

.schedule-dashboard__sidebar .navbar-header {
	float: none;
}

.schedule-dashboard__sidebar .navbar-collapse {
	border: none;
}

@media (min-width: 768px) {
	.schedule-dashboard__sidebar .navbar-collapse {
		padding: 0;
	}
}

/* filter controls */
.navbar-controls {
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-controls__title {
	font-size: 16px;
}

/* form styling */
.schedule-dashboard__sidebar .navbar-form {
	margin: 2.5rem 0 0;
	border: none;
	padding: 0;
	box-shadow: none;
}
.schedule-dashboard__sidebar .navbar-form .form-control,
.schedule-dashboard__sidebar .navbar-form .checkbox {
	width: 100%;
}

.schedule-dashboard__sidebar .form-group-wrapper {
	padding: 2.5rem 0 1.5rem;
	border-top: 2px solid #d4d4d4;

}

.schedule-dashboard__sidebar .form-group-wrapper > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
	margin-bottom: 1rem;
	font-size: 16px;
}

.schedule-dashboard__sidebar .form-group-wrapper > label:hover {
	opacity: .9;
}

.schedule-dashboard__sidebar .form-group-wrapper,
.schedule-dashboard__sidebar .form-group-wrapper > label,
.schedule-dashboard__sidebar .date {
	width: 100%;
}

.schedule-dashboard__sidebar .collapse.in {
	padding-bottom: 1rem;
}

/* custom checkboxes */
.schedule-dashboard__sidebar .navbar-form .checkbox {
	margin-bottom: 1rem;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked + label,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked + label:before,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  background: white;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked + label:after,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #00a69c;
  position: absolute;
  top: 5px;
  left: -12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* dashboard main date heading */
.schedule-dashboard__content--header h2 {
	margin-top: 0;
	margin-bottom: 16px;
	color: #333;
}

.schedule-dashboard__content--header .btn {
	border: 1px solid #d4d4d4;
	background-color: #f4f4f4;
	border-radius: 0;
	box-shadow: none;
	color: #333;
}

.schedule-dashboard__content--header .btn:hover {
	border: 1px solid #ccc;
	background-color: #eee;
	color: #333;
}

.schedule-dashboard__content--header .btn .fa {
	margin-left: 10px;
}


/* dashboard main table */
.schedule-dashboard__content .table-responsive {
	overflow-y: hidden;
}

/* table headers */
.schedule-dashboard__content .table > thead > tr > th,
.schedule-dashboard__content .table > tbody > tr > th,
.schedule-dashboard__content .table > tfoot > tr > th {
	padding: 24px;
	text-transform: uppercase;
	font-weight: normal;
	border-bottom: 1px solid #c2c2c2;
	color: black;
}

.schedule-dashboard__content .table > thead > tr > th:first-child {
	min-width: 150px;
}

/* table cells */
.schedule-dashboard__content .table > thead > tr > td,
.schedule-dashboard__content .table > tbody > tr > td,
.schedule-dashboard__content .table > tfoot > tr > td {
	padding: 24px;
  border: 0;
}

/* default striping */
.schedule-dashboard__content .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f0faf9;
}