/*
* Schedules & Program results page.
*/

/* Content > Subheader */

.schedule-dashboard__arrow {
  cursor: pointer;
  background: none;
  border: 0;
}

.schedule-dashboard__arrow:hover {
  opacity: .7;
}

/* dashboard main date heading */

.schedule-dashboard__content--header h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #333;
  text-align: left;
}

@media (min-width: 768px) {
  .schedule-dashboard__content--header h2 {
    font-size: 32px;
  }
}

.btn.btn-schedule-pdf,
.btn.btn-schedule-pdf-generate {
  border: 1px solid #d4d4d4;
  background-color: #f4f4f4;
  border-radius: 0;
  box-shadow: none;
  color: #333;
}

.btn.btn-schedule-pdf:hover,
.btn.btn-schedule-pdf-generate:hover {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
}

.btn.btn-schedule-pdf .fa,
.btn.btn-schedule-pdf-generate .fa {
  margin-left: 10px;
}

button.show-date-filter {
  background: none;
  border: none;
  padding: 0;
}