/*
* Schedules Page.
*/

[v-cloak] {
  display: none;
}

/* BS4 styles. */
.mb-5 {
  margin-bottom: 3rem;
}

.schedule-dashboard__wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 992px) {
  .schedule-dashboard__wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}


/* No results text. */

.schedules-empty_results {
  margin-top: 3rem;
  display: flex;
  align-items: start;
}

.schedules-empty_results i {
  font-size: 1.75rem;
  color: #979797;
  margin-right: 1rem;
  padding-top: .15rem;
}

.column-hidden {
  display: none;
  flex: none;
}


/* Content > Subheader */

.schedule-dashboard__arrow {
  cursor: pointer;
}

.schedule-dashboard__arrow:hover {
  opacity: .7;
}

/* Keyword search. */
.schedule-dashboard__search--form {
  display: flex;
}

/* remove styles from sidebar */

.schedule-dashboard__sidebar .navbar-toggle {
  border: none;
  margin: 0;
  padding: 0;
  float: left;
  position: static !important;
  background: none !important;
}

body.toolbar-fixed.toolbar-horizontal .viewport .schedule-dashboard__sidebar .navbar-default,
.schedule-dashboard__sidebar .navbar-default {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  top: 0 !important;
}

.schedule-dashboard__sidebar .navbar-header {
  float: none;
}

.schedule-dashboard__sidebar .navbar-header .row {
  display: flex;
  align-items: center;
}

.schedule-dashboard__sidebar .navbar-header a[data-toggle] {
  color: #4f4f4f;
  text-decoration: none;
  cursor: pointer;
}

.schedule-dashboard__sidebar .navbar-collapse {
  border: none;
  padding: 0;
}

a.collapsed .minus {
  display: none;
}

/* Toggle +/- */
a[data-toggle][aria-expanded=true] .plus,
label[data-toggle][aria-expanded=true] .plus,
label.expanded:not(.collapsed) .plus,
label[aria-expanded=false] .minus {
  display: none;
}

@media (max-width: 768px) {
  .clear-all {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* filter controls */

.navbar-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-controls__title {
  font-size: 16px;
}


/* form styling */

.schedule-dashboard__sidebar .navbar-form {
  margin: 2.5rem 0 0;
  border: none;
  padding: 0;
  box-shadow: none;
}

.schedule-dashboard__sidebar .form-group-wrapper {
  padding: 2.5rem 0 1.5rem;
  border-top: 2px solid #d4d4d4;
}

.schedule-dashboard__sidebar .form-group-wrapper > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 16px;
  cursor: pointer;
}

.schedule-dashboard__sidebar .form-group-wrapper > label:hover {
  opacity: .9;
}

.schedule-dashboard__sidebar .form-group-wrapper,
.schedule-dashboard__sidebar .form-group-wrapper,
.schedule-dashboard__sidebar .form-group-wrapper > label,
.schedule-dashboard__sidebar .navbar-form .form-control,
.schedule-dashboard__sidebar .date {
  width: 100%;
}

.schedule-dashboard__sidebar .collapse.in,
.schedule-dashboard__sidebar .collapse.show {
  padding-bottom: 1rem;
}


/* custom checkboxes */

.schedule-dashboard__sidebar .checkbox-wrapper label {
  font-weight: normal;
  cursor: pointer;
}

/* Tabs (Age/Days) */
.schedule-dashboard__sidebar .tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper {
  padding: 0 5px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper input {
  position: absolute;
  left: -9999px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper label {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: #666;
  color: #fff;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper input:checked + label {
  background: #222;
}

/* Checkboxes (locations) */
.schedule-dashboard__sidebar .checkboxes input {
  position: absolute;
  left: -9999px;
}

.schedule-dashboard__sidebar .checkboxes input + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
}

.schedule-dashboard__sidebar .checkboxes input + label:before,
.schedule-dashboard__sidebar .checkboxes input + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Checkbox outline. */
.schedule-dashboard__sidebar .checkboxes input + label:before {
  border: 1px solid #ddd;
  background: white;
}

/* Checkbox > checkmark icon (default). */
.schedule-dashboard__sidebar .checkboxes input + label:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");  background-size: contain;
}

.schedule-dashboard__sidebar .checkboxes input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.schedule-dashboard__sidebar .checkboxes .checkbox-partial input + label:after,
.schedule-dashboard__sidebar .checkboxes .checkbox-checked input + label:after,
.schedule-dashboard__sidebar .checkboxes input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Parent styles (nested locations). */
/* Material Icons + https://yoksel.github.io/url-encoder */
.schedule-dashboard__sidebar .checkboxes .checkbox-partial input + label:after {
  /* minus icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='white' d='M19 13H5v-2h14v2z'/%3E%3C/svg%3E");
}

.schedule-dashboard__sidebar .checkboxes .checkbox-checked input + label:after {
  /* plus icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='white' d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3C/svg%3E");
}


@media (min-width: 768px) {
  .schedule-dashboard__sidebar .checkboxes .checkbox-wrapper {
    padding-left: 15px;
  }
  .schedule-dashboard__sidebar .checkboxes input:checked + label,
  .schedule-dashboard__sidebar .checkboxes input:not(:checked) + label {
    padding-left: 10px;
  }
  .schedule-dashboard__sidebar .checkboxes input:checked + label:before,
  .schedule-dashboard__sidebar .checkboxes input:not(:checked) + label:before,
  .schedule-dashboard__sidebar .checkboxes input:checked + label:after,
  .schedule-dashboard__sidebar .checkboxes input:not(:checked) + label:after {
    left: -15px;
  }
}


/* dashboard main date heading */

.schedule-dashboard__content--header h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #333;
  text-align: left;
}

@media (min-width: 768px) {
  .schedule-dashboard__content--header h2 {
    font-size: 32px;
  }
}

.btn.btn-schedule-pdf,
.btn.btn-schedule-pdf-generate {
  border: 1px solid #d4d4d4;
  background-color: #f4f4f4;
  border-radius: 0;
  box-shadow: none;
  color: #333;
}

.btn.btn-schedule-pdf:hover,
.btn.btn-schedule-pdf-generate:hover {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
}

.btn.btn-schedule-pdf .fa,
.btn.btn-schedule-pdf-generate .fa {
  margin-left: 10px;
}


/*
* Main flex table data
*
*/

.schedule-dashboard__wrapper {
  font-size: 14px;
}

/* heading row */

.schedules-data__header {
  display: none;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #c2c2c2;
  color: black;
}

/* row styles */

.schedules-data__row {
  padding: 14px 0;
  display: flex;
  flex-wrap: wrap;
  color: #656565;
}

.schedules-data__row a {
  text-transform: capitalize;
  cursor: pointer;
}

.schedules-data__row strong {
  color: #333;
}

.schedules-data__row p {
  padding-top: 5px;
}

.schedules-data__row .time {
  text-transform: lowercase;
}

.schedules-data__row .schedule-dashboard__modal--class-link {
  overflow-wrap: break-word;
}

/* striping bg */

.schedules-data__row:nth-child(even) {
  background-color: #f0faf9;
}


/* mobile > headers & row */

.schedules-data__header>div,
.schedules-data__row>div {
  padding: 8px 20px;
  flex: 0 0 50%;
}


/* mobile > right col */

.schedules-data__row>div:nth-child(even) {
  text-align: right;
}

.schedules-data__row .btn {
  white-space: normal !important;
}

/* desktop */

@media (min-width: 992px) {
  .schedules-data__header {
    display: flex;
  }
  .schedules-data__row {
    padding: 0;
  }
  .schedules-data__header>div,
  .schedules-data__row>div {
    flex-basis: 0;
    flex-grow: 1;
    padding: 24px;
  }
  .schedules-data__row>div:nth-child(even) {
    text-align: left;
  }

  /*
  * Set flexbox widths based on number of columns.
  */
  /* Doesn't have category or instructor columns. */
  .schedules-data__cols-5 .schedules-data__header > div,
  .schedules-data__cols-5 .schedules-data__row > div {
    max-width: calc(100% / 5);
  }
  /* Has category column. */
  .schedules-data__cols-6 .schedules-data__header > div,
  .schedules-data__cols-6 .schedules-data__row > div {
    padding: 24px 12px;
    max-width: calc(100% / 6);
  }
  /* Has category & instructor columns. */
  .schedules-data__cols-7 .schedules-data__header > div,
  .schedules-data__cols-7 .schedules-data__row > div {
    padding: 24px 10px;
    max-width: calc(100% / 7);
  }
}

.schedule-dashboard__sidebar .checkbox-room-wrapper {
  padding-left: 15px;
}

button.show-date-filter {
  background: none;
  border: none;
  padding: 0;
}