@media (max-width: 767px) {
  .schedule-dashboard__wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .schedule-dashboard__modal .modal-dialog {
    max-width: 100%;
  }
  .modal-dialog {
    top: 15px;
    height: 100% !important;
    padding-top: 35px !important;
  }

  body.modal-open  .nav-global {
    display: none !important;
  }

  .schedule-dashboard__modal .modal-dialog {
    height: 100%;
  }

  .schedule-dashboard__modal--header {
    padding: 0;
  }

  .date-column {
    flex: 0 0 20%;
  }
  .time-column {
    flex: 0 0 20%;
  }

  .schedules-data,
  .schedule-dashboard__pager,
  .schedule-dashboard__top-header,
  .schedule-dashboard__modal--body {
    font-size: 12px;
  }

  .schedule-dashboard__modal--class .addtocalendar {
    float: left;
    padding-left: 15px;
  }

  .schedule-dashboard__modal--body h4 {
    font-size: 14px;
    padding: 0;
  }

  .schedules-data__row {
    padding: 5px 0;
  }

  .schedule-dashboard__modal--class .date-column,
  .schedule-dashboard__modal--class .instructor-column {
    flex: 0 1 50%;
  }

  .schedule-dashboard__modal--class .time-column {
    flex: auto;
  }

  .schedule-dashboard__modal--class .location-column {
    flex: 1 1 100%;
  }

  .schedules-data__row>div:nth-child(even) {
    text-align: left !important;
  }

  .schedule-dashboard__modal--instructor .class-column,
  .schedule-dashboard__modal--instructor .location-column,
  .schedule-dashboard__modal--instructor .calendar-column {
    flex: 0 1 100%;
  }

  .schedule-dashboard__modal--instructor .date-column {
    flex: 0 1 50%;
  }

  .schedule-dashboard__modal--instructor .calendar-column .addtocalendar {
    padding-left: 15px;
    float: left;
  }

  .schedules-data__row span{
    font-size: 10px;
  }

  .schedule-dashboard__modal--header .modal-title {
    padding-left: 15px;
  }

  .schedules-data__row .time-column p,
  .schedules-data__row .class-column p,
  .schedules-data__row .location-column p {
    padding: 0;
    margin-bottom: 0;
  }

  .schedules-data__row .location-column,
  .schedules-data__row .time-column,
  .schedules-data__row .date-column,
  .schedules-data__row .class-column,
  .schedules-data__row .instructor-column,
  .schedules-data__row .calendar-column {
    padding: 5px 0;
  }

  .schedule-dashboard__wrapper > .container {
    margin-top: 0
  }

  .schedule-dashboard__modal--instructor .schedules-data__row>div,
  .schedule-dashboard__modal--class .schedules-data__row>div {
    padding: 0 20px;
  }

  .schedules-data__row>div {
    padding: 5px 10px;
  }
  .atcb-link {
    font-size: 12px;
  }

  .schedule-dashboard__sidebar .form-group-date .datepicker-inline {
    width: 273px;
    margin: 0 auto;
  }

  .datepicker .table-condensed>tbody>tr>td {
    padding: 9px;
  }

  .datepicker .table-condensed > tbody > tr > td {
    border: 2px solid #636466;
  }

  .day-label .date {
    font-size: 14px;
  }

  .day-label .schedule-dashboard__arrow {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1230px) {
  .schedule-dashboard__sidebar .form-group-date .datepicker-inline {
    width: 197px;
    margin: 0 auto;
  }

  .datepicker .table-condensed {
    height: 220px;
  }

  .datepicker .table-condensed>tbody>tr>td {
    padding: 0;
  }

  .datepicker {
    padding: 0;
  }
}

@media (max-width: 540px) {
  .modal-dialog {
    padding-right: 15px !important;
  }
}
