/*
* Schedules Page.
*/
[v-cloak] {
  display: none;
}

/* Content > Subheader */
.schedule-dashboard__arrow {
  cursor: pointer;
}

.schedule-dashboard__arrow:hover {
	opacity: .7;
}

/* remove styles from sidebar */
.schedule-dashboard__sidebar .navbar-toggle {
	border: none;
	margin: 0;
	padding: 0;
	float: left;
	position: static !important;
	background: none !important;
}

.schedule-dashboard__sidebar .navbar-default {
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: none;
}

.schedule-dashboard__sidebar .navbar-header {
	float: none;
}

.schedule-dashboard__sidebar .navbar-header .row {
	display: flex;
	align-items: center;
}

.schedule-dashboard__sidebar .navbar-header a[data-toggle] {
	color: #4f4f4f;
	text-decoration: none;
}

.schedule-dashboard__sidebar .navbar-collapse {
	border: none;
	padding: 0;
}

/* filter controls */
.navbar-controls {
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-controls__title {
	font-size: 16px;
}

/* form styling */
.schedule-dashboard__sidebar .navbar-form {
	margin: 2.5rem 0 0;
	border: none;
	padding: 0;
	box-shadow: none;
}

.schedule-dashboard__sidebar .form-group-wrapper {
	padding: 2.5rem 0 1.5rem;
	border-top: 2px solid #d4d4d4;
}

.schedule-dashboard__sidebar .form-group-wrapper > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
	margin-bottom: 1rem;
	font-size: 16px;
}

.schedule-dashboard__sidebar .form-group-wrapper > label:hover {
	opacity: .9;
}

.schedule-dashboard__sidebar .form-group-wrapper,
.schedule-dashboard__sidebar .form-group-wrapper > label,
.schedule-dashboard__sidebar .navbar-form .form-control,
.schedule-dashboard__sidebar .date {
	width: 100%;
}

.schedule-dashboard__sidebar .collapse.in {
	padding-bottom: 1rem;
}

/* custom checkboxes */
.schedule-dashboard__sidebar .checkbox-wrapper label {
	font-weight: normal;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked + label,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked + label:before,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  background: white;
}

.schedule-dashboard__sidebar [type="checkbox"]:checked + label:after,
.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #333;
  position: absolute;
  top: 5px;
  left: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (min-width: 768px) {
	.schedule-dashboard__sidebar .checkbox-wrapper {
		padding-left: 15px;
	}

	.schedule-dashboard__sidebar [type="checkbox"]:checked + label,
	.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label {
		padding-left: 10px;
	}

	.schedule-dashboard__sidebar [type="checkbox"]:checked + label:before,
	.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:before {
		left: -15px;
	}

	.schedule-dashboard__sidebar [type="checkbox"]:checked + label:after,
	.schedule-dashboard__sidebar [type="checkbox"]:not(:checked) + label:after {
		left: -12px;
	}
}

/* dashboard main date heading */
.schedule-dashboard__content--header h2 {
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 16px;
	color: #333;
	text-align: left;
}

@media (min-width: 768px) {
	.schedule-dashboard__content--header h2 {
		font-size: 36px;
	}
}

.btn.btn-schedule-pdf {
	border: 1px solid #d4d4d4;
	background-color: #f4f4f4;
	border-radius: 0;
	box-shadow: none;
	color: #333;
}

.btn.btn-schedule-pdf:hover {
	border: 1px solid #ccc;
	background-color: #eee;
	color: #333;
}

.btn.btn-schedule-pdf .fa {
	margin-left: 10px;
}

/*
* Main flex table data
*
*/
/* heading row */
.schedules-data__header {
	display: none;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #c2c2c2;
  color: black;
}

.schedules-data__header,
.schedules-data__row {
	flex-direction: column;
	width: 100%;
}

/* row styles */
.schedules-data__row {
	padding: 14px 0;
	display: flex;
	color: #333;
}

/* striping bg */
.schedules-data__row:nth-child(even) {
	background-color: #f0faf9;
}

/* grouped for mobile displays */
.schedules-data__group {
	display: flex;
	flex: 1 1 auto;
}

.schedules-data__group:last-child {
	align-items: center;
}

/* inner group divs */
.schedules-data__group > div {
	padding: 8px 20px;
	flex: 0 0 50%;
}

/* mobile > right col */
.schedules-data__group > div:last-child {
	text-align: right;
}

/* desktop */
@media (min-width: 992px) {
	.schedules-data__header {
		display: flex;
	}

	.schedules-data__header,
	.schedules-data__row {
		flex-direction: row;
	}

	.schedules-data__row {
		padding: 0;
	}

	.schedules-data__group {
    width: calc(100% / 3);
	}

	.schedules-data__group:last-child {
		align-items: start;
	}

	.schedules-data__group > div  {
		padding: 24px;
		width: 50%;
	}

	.schedules-data__group > div:last-child {
		text-align: left;
	}
}