.activity-finder__step_header__line1 {
  background-color: #eee;
  padding: 15px;
}

.activity-finder__step_header__line2 {
  padding: 30px 0;
}

.activity-finder__step_header .start_over {
  float: right;
}

.activity-finder__step_header .actions {
  float: right;
}
