/*
* Table styles (Programs & Schedules).
*/

[v-cloak] {
  display: none;
}

.column-hidden {
  display: none;
  flex: none;
}

.schedule-dashboard__wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 14px;
}

@media (min-width: 992px) {
  .schedule-dashboard__wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}


/* No results text. */

.schedules-empty_results {
  margin-top: 3rem;
  display: flex;
  align-items: start;
}

.schedules-empty_results i {
  font-size: 1.75rem;
  color: #979797;
  margin-right: 1rem;
  padding-top: .15rem;
}


/*
* Main flex table data
*/

/* heading row */
.schedules-data__header {
  display: none;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #c2c2c2;
  color: black;
}

/* row styles */
.schedules-data__row {
  padding: 14px 0;
  display: flex;
  flex-wrap: wrap;
  color: #656565;
}

.schedules-data__row a {
  text-transform: capitalize;
  cursor: pointer;
}

.schedules-data__row strong {
  color: #333;
}

.schedules-data__row p {
  padding-top: 5px;
}

.schedules-data__row .time {
  text-transform: lowercase;
}

.schedules-data__row .schedule-dashboard__modal--class-link {
  overflow-wrap: break-word;
}

/* striping bg */

.schedules-data__row:nth-child(even) {
  background-color: #f0faf9;
}


/* mobile > headers & row */

.schedules-data__header>div,
.schedules-data__row>div {
  padding: 8px 20px;
  flex: 0 0 50%;
}


/* mobile > right col */

.schedules-data__row>div:nth-child(even) {
  text-align: right;
}

.schedules-data__row .btn {
  white-space: normal !important;
}

/* desktop */

@media (min-width: 992px) {
  .schedules-data__header {
    display: flex;
  }
  .schedules-data__row {
    padding: 0;
  }
  .schedules-data__header>div,
  .schedules-data__row>div {
    flex-basis: 0;
    flex-grow: 1;
    padding: 24px;
  }
  .schedules-data__row>div:nth-child(even) {
    text-align: left;
  }

  /*
  * Set flexbox widths based on number of columns.
  */
  /* Doesn't have category or instructor columns. */
  .schedules-data__cols-5 .schedules-data__header > div,
  .schedules-data__cols-5 .schedules-data__row > div {
    max-width: calc(100% / 5);
  }
  /* Has category column. */
  .schedules-data__cols-6 .schedules-data__header > div,
  .schedules-data__cols-6 .schedules-data__row > div {
    padding: 24px 12px;
    max-width: calc(100% / 6);
  }
  /* Has category & instructor columns. */
  .schedules-data__cols-7 .schedules-data__header > div,
  .schedules-data__cols-7 .schedules-data__row > div {
    padding: 24px 10px;
    max-width: calc(100% / 7);
  }

}

.schedule-dashboard__sidebar .checkbox-room-wrapper {
  padding-left: 15px;
}
