[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\f09e";
}

.icon-angle-double-left:before {
  content: "\f100";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-laptop:before {
  content: "\e900";
}

.icon-mobile:before {
  content: "\e901";
}

.icon-tablet:before {
  content: "\e902";
}

.icon-location2:before {
  content: "\e948";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-user:before {
  content: "\e971";
}

.icon-cog:before {
  content: "\e994";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-phone:before {
  content: "\e942";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-mail:before {
  content: "\ea83";
}
