/* todo change styles for TV screens */
.openy-digital-signage-block-time {

}
.openy-digital-signage-block-time .block-time {
  display: inline;
  position: absolute;
  z-index: 1000;
}

.openy-digital-signage-block-time .block-time-color-white {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.openy-digital-signage-block-time .block-time-color-black {
  color: #000;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.openy-digital-signage-block-time .block-time-position-top-right {
  top: 5%;
  right: 5%;
}

.openy-digital-signage-block-time .block-time-position-top-left {
  top: 5%;
  left: 5%
}

.openy-digital-signage-block-time .block-time-position-bottom-right {
  bottom: 5%;
  right: 5%;
}

.openy-digital-signage-block-time .block-time-position-bottom-left {
  bottom: 5%;
  left: 5%
}

.openy-digital-signage-block-time .time:before {
  content: "\e023";
  font-family: 'Glyphicons Halflings';
  font-size: 0.76em;
  display: inline-block;
  left: 0;
  padding-right: 0.3em;
  -webkit-transform: translateY(4%);
  -ms-transform: translateY(4%);
  transform: translateY(4%);
}

.openy-digital-signage-block-time .time {
  padding-left: 35px;
  font-size: 300%;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

.panels-ipe-active .openy-digital-signage-block-time .block-time {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  background: #ccc;
}