{#
/**
 * @file cdn_prs_product.html.twig
 * Default theme implementation to present Camp du Nord Personify Product data.
 *
 * This template is used when viewing Camp du Nord Personify Product pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cdn_prs_product()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cdn_prs_product') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
