.theme-ymca--2017-compain-upcoming {
  height: 100%;
  position: relative;
  .compain-header--content {
    background: none;
  }

  .viewport,
  #main {
    height: 100%;
    background: none;
    margin-top: auto;
  }

  .compain-upcoming {
    background: transparent image-url('2017_summer/upc_top.png') 50% 0 no-repeat;
    @include rem(padding, 20px);
    width: 100%;
    max-width: 740px;
    text-align: center;
    margin: 0px auto;

    .compain-header {
      background: transparent image-url('2017_summer/upc_bottom.png') 50% 100% no-repeat;
      height: auto;
      min-height: 400px;
      margin-top: 250px;
      @include breakpoint($tablet) {
        margin-top: 300px;
      }
      .title {
        color: $blue-medium;
        margin-bottom: 40px ;
        @include rem(font-size, 46px);
        margin-top: -13px;
        @include breakpoint($tablet) {
          @include rem(font-size, 50px);
        }
      }
      .winner-text {
        color: $green-medium;
        @include rem(font-size, 30px);
        line-height: 1em;
        &:before {
          content: image-url('2017_summer/cup.png');
          display: block;
          padding-bottom: 20px;
          padding-top: 20px;
        }
      }
      .sub-title-grey {
        color: $grey5;
        @include rem(font-size, 20px);
      }
      .container .content {
        text-align: center;
        hr {
          width: 175px;
          border-bottom: 1px solid $green-light-lighter;
          opacity: 0.5;
        }
        .sub-title {
          margin-top: 45px;
          @include rem(font-size, 30px);
          margin-bottom: 25px ;
          line-height: 1.2em;
          text-transform: none;
          color: #555555;
          text-transform: uppercase;
          strong {
            @include rem(font-size, 50px);
            display: inline-block;
            padding-top: 10px;
          }
        }
        a {
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
      &--content {
        .logo {
          display: block;
          margin: 0 auto;
          max-width: 175px;
          @include breakpoint($tablet) {
            margin-top: 185px;
          }
        }
      }
    }

    .container {
      text-align: center;
      padding: 0;
    }
  }
  .campaign-ending {
    @include rem(padding, 20px);
    width: 100%;
    max-width: 740px;
    text-align: center;
    @include breakpoint($tablet) {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 50%;
    }

    .compain-header {
      background: none;
      height: auto;
      @include rem(padding, 0 0 68px 0);
      position: relative;

      .title {
        color: $blue-light;
        @include rem(font-size, 46px);
        margin: {
          bottom: 50px;
          top: 35px;
        }
        @include breakpoint($tablet) {
          margin-top: -35px;
          @include rem(font-size, 50px);
        }
      }
      .sub-title-grey {
        color: $grey5;
        @include rem(font-size, 20px);
      }
      .container .content {
        text-align: center;
        hr {
          width: 175px;
          border-bottom: 1px solid $green-light-lighter;
          opacity: 0.5;
        }
        .sub-title {
          margin-top: 45px;
          @include rem(font-size, 30px);
          margin-bottom: 50px ;
          line-height: 1.2em;
          text-transform: none;
          color: #555555;
        }
        a {
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
      &--content {
        padding: initial;
        position: static;
        @include breakpoint($tablet) {
          height: calc(100% - 62px + 50px);
          width: 100%;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-align-content: center;
          -ms-flex-line-pack: center;
          align-content: center;
          -webkit-align-items: flex-end;
          -ms-flex-align: end;
          align-items: flex-end;
        }

        .logo {
          display: block;
          margin: 0 auto;
          max-width: 175px;
          @include breakpoint($tablet) {
            margin-top: 185px;
          }
        }
        .container {
          @include breakpoint($tablet) {
            width: 100%;
            height: auto;
          }
          .content {
            @include cachet-bold();
            @include rem(font-size, 26px);
            @include rem(line-height, 30px);
            background: none;
            text-align: center;
            color: $white;
            text-transform: uppercase;

            @include breakpoint($tablet) {
              @include rem(font-size, 50px);
              @include rem(line-height, 54px);
              @include rem(margin, 60px 0 0 0);
              display: inline-block;
              vertical-align: top;
            }
          }
        }
      }
    }
    .container {
      text-align: center;
      padding: 0;
    }
  }
}
