.sidebar {
  .card {
    margin-bottom: 20px;
    &-title {
      margin-bottom: 0;
    }
    &-text {
      margin-bottom: 0;
    }

    li:first-child a:after {
      content: '|';
      padding-left: 8px;
    }
  }
  .card-subtitle {
    margin-bottom: 0.5rem;
  }
  .btn-result {
    background: #fff;
    color: #777;
    border-radius: 0;
  }
}
