@mixin ysr-rules-text-block() {
  @include rem(font-size, 15px);
  @include rem(line-height, 25px);
  @include rem(margin-bottom, 40px);
  color: $grey4;
}

.detailed-rules {
  @include rem(max-width, 790px);
  margin: auto;

  h3 {
    @include rem(font-size, 30px);
    @include rem(line-height, 35px);
    @include rem(margin-top, 120px);
    @include rem(padding-bottom, 55px);
    border-bottom: 1px solid #f2f2f2;
    color: #e49bbd;
    letter-spacing: -0.8px;
    text-align: center;
    text-transform: uppercase;
  }

  h4 {
    @include rem(margin-top, 70px);
    @include rem(font-size, 25px);
    color: $grey7;
    text-transform: uppercase;
  }


  dl {

    dt {
      @include cachet();
      @include rem(font-size, 20px);
      @include rem(margin-top, 10px);
      color: $purple-light;
      font-weight: normal;
      text-transform: uppercase;
    }

    dd {
      @include ysr-rules-text-block();
      @include rem(padding-left, 20px);
    }
  }

  ol, ul {
    @include rem(padding-left, 20px);

    li {
      @include ysr-rules-text-block();
      @include rem(padding-top, 10px);
      color: $grey7;

      p {
        @include ysr-rules-text-block();
        @include rem(padding-top, 10px);
        @include rem(margin-bottom, 20px);
      }
    }

    ol, ul {
      padding-left: 0;

      li {
        list-style-position: inside;
      }
    }
  }

  & > ol,
  & > ul {
    > li {
      font-weight: bold;

      > * {
        font-weight: normal;
      }
    }
  }

}