{#
/**
 * @file
 * Groupex class template.
 *
 * Available variables:
 * - message: Alert block message;
 *
 * @ingroup themeable
 */
#}

<section class="groupex-class">
  {{ dump(class) }}
</section>
