{#
/**
 * @file
 * Groupex week schedule template.
 *
 * Available variables:
 * - days: array of days with arrays of classes;
 *
 * @ingroup themeable
 */
#}

{% for day, classes in days %}
  <h2>{{ day }}</h2>
  {% for class in classes %}
    <dl>
      <dd>{{ class }}</dd>
    </dl>
  {% endfor %}
{% endfor %}
