// Main Colour Palette

// Gray, Black and White
$grey: #636466; // Cool Gray
$black: #231f20; // PMS Process Black C
$white: #fff;

// Blue.
$blue-light: #00aeef; // PMS Process Cyan C
$blue-medium: #0089d0;
$blue-dark: #0060af;

// Green.
$green-light: #20bdbe;
$green-medium: #01a490;
$green-dark: #006b6b;


// Purple.
$purple-light: #c6168d;
$purple-medium: #92278f;
$purple-dark: #5c2e91;

// Red.
$red-light: #f15922;
$red-medium: #ed1c24;
$red-dark: #a92b31;
$red-dark2: #a82c30;
$red-dark3: #cc422a;

// Orange.
$orange-light: #fcaf17;
$orange-medium: #f47920;
$orange-dark: #dd5828;

// Grey.
$grey1: #f8f8f8;
$grey2: #e9e9e9;
$grey3: #d8d8d8;
$grey4: #a7a7a7;
$grey5: #777;
$grey6: #fafafa;
$grey7: #424242;
$grey8: #fefefe;
$grey8-ysr: #c9c9c9;
$grey9: #afafae;
$grey10: #696969;
$grey11: #e2e2e2;
$grey12: #e5e5e5;
$grey13: #f8f8f8;
$grey14: #383838;
$grey15: #cfcfcf;
$grey16: #ebebeb;
$grey17: #d3d3d3;
$grey18: #ababab;
$grey19: #897364;
$grey20: #f0f0f0;
$grey21: #ededed;
$grey22: #f4f4f4;
$grey23: #d2d2d2;

$black2: #1d1d1b;

$light-pink: #f4d1e8;
$pale-blue: #84d8f8;
$pale-green: #93c6c2;
$pale-purple: #8b6ab0;
$pale-purple-2: #ac99ca;
$pale-pink: #e2a2cc;
$pink: #c6188b;
$purple: #92288d;
$light-purple: #e3c7e1;

$green1: #00aa95;
$green2: #bde6e6;
$green3: #26bcbd;
$green4: #22aaab;
$green5: #006a6a;
$green6: #008c7a;
$green7: #057777;
$green8: #88dfe0;
$green9: #058e7d;
$green10: #019183;

$blue1: #0889cd;

$orange1: #f37823;

$green1-lighter: #12b8a4;

// Blue.
$blue-light-lighter: #19c0fc; // PMS Process Cyan C
$blue-medium-lighter: #169bde;
$blue-dark-lighter: #1370bd;

// Green.
$green-light-lighter: #37cccc;
$green-medium-lighter: #13b09e;
$green-dark-lighter: #0c7878;

// Purple.
$purple-light-lighter: #d42c9f;
$purple-medium-lighter: #9e3a9b;
$purple-dark-lighter: #6d429e;

// Red.
$red-light-lighter: #f15922;
$red-medium-lighter: #ed1c24;
$red-dark-lighter: #a92b31;
$red-disabled: #691c20;
$red-disabled-text: #814044;

// Orange.
$orange-light-lighter: #fcaf17;
$orange-medium-lighter: #f47920;
$orange-dark-lighter: #dd5828;
$orange-dark-lighter-2: #e97922;
$orange-dark-lighter-3: #e46b24;
$orange-dark-lighter-4: #dd5828;

// Silver
$silver:  #bfccd5;

// Bronze
$bronze: #dc915a;

$sky-blue: #dbf5ff;

// Mud

$mud: #423e39;
