// Main Colour Palette

// Gray, Black and White
$grey: #636466; // Cool Gray
$black: #231f20; // PMS Process Black C
$white: #fff;

// Blue.
$blue-light: #00aeef; // PMS Process Cyan C
$blue-medium: #0089d0;
$blue-dark: #0060af;

// Green.
$green-light: #20bdbe;
$green-medium: #01a490;
$green-dark: #006b6b;

// Purple.
$purple-light: #c6168d;
$purple-medium: #92278f;
$purple-dark: #5c2e91;

// Red.
$red-light: #f15922;
$red-medium: #ed1c24;
$red-dark: #a92b31;

// Orange.
$orange-light: #fcaf17;
$orange-medium: #f47920;
$orange-dark: #dd5828;
