// Main Colour Palette

// Gray, Black and White
$grey: #636466; // Cool Gray
$black: #231f20; // PMS Process Black C
$white: #fff;

// Blue.
$blue-light: #00aeef; // PMS Process Cyan C
$blue-medium: #0089d0;
$blue-dark: #0060af;

// Green.
$green-light: #20bdbe;
$green-medium: #01a490;
$green-dark: #006b6b;

// Purple.
$purple-light: #c6168d;
$purple-medium: #92278f;
$purple-dark: #5c2e91;

// Red.
$red-light: #f15922;
$red-medium: #ed1c24;
$red-dark: #a92b31;

// Orange.
$orange-light: #fcaf17;
$orange-medium: #f47920;
$orange-dark: #dd5828;

$grey1: #f8f8f8;
$grey2: #e9e9e9;
$grey3: #d8d8d8;
$grey4: #a7a7a7;
$grey5: #777777;
$grey6: #fafafa;
$grey7: #424242;
$grey8: #fefefe;
$grey9: #afafae;
$grey10: #696969;

$black2: #1d1d1b;

$light_pink: #f4d1e8;
$pink: #c6188b;
$purple: #92288d;
$light-purple: #e3c7e1;

$green1: #00aa95;
$green2: #bde6e6;
$green3: #26bcbd;

$sky-blue: #dbf5ff;
