@mixin cachet() {
  font-family: "Cachet",Arial,sans-serif;
  letter-spacing: -0.025em;
}

@mixin cachet-normal() {
  @include cachet();
  font-weight: normal;
}

@mixin cachet-bold() {
  @include cachet();
  font-weight: bold;
}
