/* Add Style Improvements for Page Variant admin page. */

.page-manager-wizard-tree label {
  font-weight: normal;
}
.page-manager-wizard-tree .page__section__2 {
  display: none;
}
.page-manager-wizard-tree .page__section__2.active {
  display: inherit;
}
.page-manager-wizard-tree .page__section_item__1 > .page__section__label {
  color: #0074bd;
  text-decoration: none;
}
.page-manager-wizard-tree .page__section_item__1 > .page__section__label:hover {
  cursor: pointer;
  text-decoration: underline;
}
.page-manager-wizard-tree .page__section_item__1 > .page__section__label.active {
  font-weight: bold;
}
.page-manager-wizard-tree .page__section_item__1 > .page__section__label.current_variant:before {
  content: '\00bb';
  font-weight: bold;
  color: black;
  font-size: 18px;
}
