{#
/**
 * @file
 * Customize the display of a complete webform.
 *
 * This file may be renamed "webform-form-[node.id].html.twig" to target a
 * specific webform on your site. Or you can leave it "webform-form.html.twig"
 * to affect all webforms on your site.
 *
 * Available variables:
 * - form: The complete form array.
 * - nid: The node ID of the Webform.
 *
 * The form array contains two main pieces:
 * - form.submitted: The main content of the user-created form.
 * - form.details: Internal information stored by Webform.
 *
 * If a preview is enabled, these keys will be available on the preview page:
 * - form.preview_message: The preview message renderable.
 * - form.preview: A renderable representing the entire submission preview.
 */
#}
{# Print out the progress bar at the top of the page. #}
{{ form.progressbar }}

{# Print out the preview message if on the preview page. #}
{% if form.preview_message %}
  <div class="messages warning">
    {{ form.preview_message }}
  </div>;
{% endif %}

{#
Print out the main part of the form.
Feel free to break this up and move the pieces within the array.
#}
{{ form.submitted }}

{#
Always print out the entire form. This renders the remaining pieces of the form
that haven't yet been rendered above (buttons, hidden elements, etc).
#}
{{ form }}
