.block-description--4 {
  margin: 40px 0;
  .field-prgf-title h2 {
    margin-bottom: 0;
  }
  .field-prgf-description {
    @include cachet();
    font-size: 20px;
    line-height: 1.4;
    color: $purple;
    max-width: 764px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .block-description--text {
    h4 {
      @include cachet();
      font-size: 22px;
      color: $default-grey;
      text-align: left;
    }

    .field-sb-body {
      color: $darker-grey;
    }
  }

  .clearfix {
    height: 1px;
    width: 100%;
  }

  .field-prgf-4c-button {
    text-align: center;
    display: block;
    width: 100%;
    .btn {
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      @include breakpoint('tablet') {
        font-size: 20px;
      }
    }
  }



  .field-icon-class {
    text-align: center;
    margin-bottom: 15px;
    .fa {
      color: $purple;
      font-size: 36px;
    }
  }

  .field-icon {
    text-align: center;
    margin-bottom: 15px;
    .field-image {
      text-align: center;
      height: 36px;
      margin: auto;
      img {
        display: inline;
        max-height: 100%;
        width: auto;
      }
    }
  }

  .slick-dotted {
    margin-bottom: 25px;
  }
  .slick-slide {
    margin: 0 50px;
  }
  .slick-prev {
    text-align: right;
  }
  .slick-arrow {
    height: 20px;
    width: 26px;
    &:before {
      color: $blue;
    }
    &.slick-disabled {
      &:before {
        color: $default-grey;
      }
    }
  }
  .slick-dots {
    bottom: -15px;
  }
}

.node--type-landing {
  .content-sidebar-region {
    @media (min-width: $screen-tablet) {
      margin-top: 25px;
    }
  }
}

article .node--view-mode-flexible-content {
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    a span {
      font-family: CachetBook;
      font-size: 36px;
    }
  }
}
