body .branch-popup {
  @include box-shadow(0 3px 9px rgba(0, 0, 0, .5));
  border-radius: 0;
  font-family: inherit;
  max-width: 750px;
  min-width: 300px;
  padding: 0;
  z-index: 1031 !important;

  .ui-dialog-titlebar {
    display: none;
  }

  .ui-dialog-content {
    padding: 0;
    overflow-x: hidden;

    h3 {
      font-size: 20px;
      margin-bottom: 15px;
      margin-top: 15px;
      padding-right: 15px;
      color: $purple;
      width: 100%;

      &:after {
        content: ":";
      }
    }

    .form-item-branch {
      line-height: 20px;
      padding: 7px 15px 7px 10px;
      position: relative;

      &:hover {
        background-color: $lighter-grey;
      }

      &:first-child {
        width: 100%;
      }

      input {
        margin: 7px 0 0 0;
        position: absolute;
        top: 5px;
      }

      label {
        display: inline-block;
        font-size: 14px;
        margin: 0;
        padding-left: 20px;
        font-weight: bold;
      }
    }

    @include breakpoint($screen-md) {
      .branch-popup-map {
        position: relative;
        overflow: hidden;
        max-height: 100px;
        transition: max-height 0.3s;

        &:hover {
          max-height: 500px;
        }
      }
    }
  }

  & + .ui-widget-overlay {
    z-index: 1030!important;
    opacity: 0.5;
  }
}

.modal-body {
  overflow: hidden;

  & + .modal-body {
    padding-top: 0;
    margin-top: -10px;
  }

  .fieldset-legend {
    margin: 0;
    font-weight: normal;
    line-height: inherit;
    @include cachet();
    @include breakpoint($screen-sm) {
      font-size: 24px;
    }
  }

  .button {
    @extend .blue;
    @include cachet();
    height: 40px;
    float: right;
    padding: 10px 20px;
  }

  legend {
    border-bottom: 0;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .fieldset-wrapper > div {
    @extend .row-eq-height;
  }

  .js-form-type-radio {
    display: inline-block;
    padding: 15px;

    @include breakpoint($screen-sm) {
      width: 50%;
    }

    @include breakpoint($screen-lg) {
      width: 33.33%;
    }

    input {
      margin: 4px 5px 0 0;
      margin-top: 1px \9;
    }

    label {
      display: inline;
    }
  }
}

.ygs-popups-class-branches-form {
  hr {
    margin: 0;
    width: 100%;
  }
}

// Vertically align modals
.modal-dialog {
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  width: 100%;
}