.footer {
  background-color: $dark-grey;
  font-size: 12px;
  padding: 30px 0;

  @include breakpoint(768px) {
    .container {
      padding: 0 50px;
    }
  }
  @include breakpoint(992px) {
    .container {
      padding: 0;
    }
  }

  .footer__brand {
    background: url("../logo.png?iefix") no-repeat 0 0;
    background-size: contain;
    display: block;
    height: 56px;
    margin-bottom: 20px;
    width: 72px;
    @include breakpoint(768px) {
      height: 75px;
      width: 99px;
    }
  }

  .footer__nav {
    nav {
      border-bottom: 1px solid $medium-grey;
      margin-bottom: 20px;
      &:last-of-type {
        border-bottom: none;
      }
      @include breakpoint(768px) {
        border-bottom: none;
        display: inline-block;
        float: left;
        width: 33%;
      }
      ul {
        padding: 0 30px 0 0;
        margin: 0;
        list-style: none;

        li {
          margin: 0 0 18px;
          padding: 0;

          a {
            @include cachet();
            font-size: 20px;
            text-transform: uppercase;
            line-height: 22px;
          }

          ul {
            padding-top: 5px;
            margin-bottom: -3px;
            li {
              margin: 0 0 14px;
              @include breakpoint(768px) {
                margin: 0;
              }
              a {
                font-size: 14px;
                text-transform: none;
                @include breakpoint(768px) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer__social {
    border-top: 1px solid $medium-grey;
    margin-left: -15px;
    padding: 25px 0px 10px 25px;
    @include breakpoint(0 $screen-md) {
      width: 110%;
    }
    @include breakpoint($screen-xs) {
      padding: 25px 45px 10px 60px;
    }
    @include breakpoint(768px) {
      border-top: none;
      margin: 0 0 0;
      padding: 0 0 10px;
    }

    .contextual-region {
      &:before,
      &:after {
        display: table;
        content: "";
        clear: both;
      }
    }

    .body,
    .quickedit-field {
      clear: both;
    }

    .fa {
      background-color: $white;
      border-radius: 16px;
      color: $dark-grey;
      font-size: 0;
      height: 32px;
      margin-right: 20px;
      line-height: 32px;
      text-align: center;
      text-decoration: none;
      width: 32px;
      &:before {
        font-size: 22px;
      }
    }

    form {
      margin: 30px 0;
      max-width: 400px;
      label {
        @include cachet();
        color: $white;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
      }
      .form-control {
        border: solid 1px $light-grey;
        float: left;
        height: 40px;
        width: 70%;
        @include breakpoint(768px) {
          margin-right: 20px;
        }
      }
      .btn {
        float: left;
        height: 40px;

        @include breakpoint(0 $screen-xs) {
          float: none;
          width: 30%;
          padding: 10px;
        }
      }
    }

    p {
      margin: 0;
    }
  }
}
