.global-search-results {

  .view-results-summary {
    font-weight: bold;
  }

  .views-exposed-form {
    @include rem(padding-bottom, 20px);

    .js-form-item-query {
      padding: 2px;
      position: relative;

      &:before {
        @include rem(left, 12px);
        @include rem(top, 12px);
        color: $blue;
        content: "\f002";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
      }

      input {
        @include border-radius(5px);
        @include rem(padding-left, 30px);
      }
    }

    .form-actions {
      display: none;
    }
  }

  .item-list {

    ul {
      padding: 0;
      list-style: none;
    }

    li {
      @include rem(padding, 0 0 16px 0);
    }

    .views-field-title {
      font-weight: bold;
    }
  }
}

.paragraph--type--search-api {
  padding: 20px 15px;
  overflow: visible;
}
