/*
 Override Google custom search classes
 */

.paragraph.paragraph--type--google-search {
  margin: 20px 0;
  background: none;

  .cse .gsc-control-cse,
  .gsc-control-cse {
    padding: 1em 0;
    width: auto;
  }

  .gsc-control-cse,
  .gsc-control-cse .gsc-table-result {
    width: 100%;
    font-family: Verdana, arial, sans-serif;
    font-size : 14px;
  }

  .gsc-results .gsc-cursor-box {
    text-align: center;
    margin: 10px;

    .gsc-cursor-page {
      font-size: 15px;
      border-radius: 0;
      cursor : pointer;
      color: #0060ac;
      text-decoration: none;
      padding: 5px 10px;
      display : inline-block;
      background-color: #fff;
      border: 1px solid #ddd;

      &:hover, &:active {
        text-decoration: none;
        background-color: #eeeeee;
      }
    }
    .gsc-cursor-current-page {
      color: #636466;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b,
  .gs-imageResult a.gs-title:link,
  .gs-imageResult a.gs-title:link b {
    color: #337AB8
  }

  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b {
    color: #337AB8
  }

  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b,
  .gs-imageResult a.gs-title:hover,
  .gs-imageResult a.gs-title:hover b {
    color: #23527C
  }

  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b,
  .gs-imageResult a.gs-title:active,
  .gs-imageResult a.gs-title:active b {
    color: #23527C
  }

  .gs-spelling a {
    color: #337AB8;
  }

  .gcsc-find-more-on-google {
    color: #337AB8
  }
  .gcsc-find-more-on-google-magnifier {
    fill: #337AB8;
  }
  .gs-web-image-box, .gs-promotion-image-box {
    margin-right: 10px;
  }
}
