.openy-gtranslate {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
}

.openy-google-translate select {
  @include cachet();
  background: transparent;
  border: none;
  font-size: 16px;
}

.goog-te-gadget {
  font-size: 0 !important;

  .goog-logo-link, span {
    display: none;
  }
}

.goog-te-banner-frame {
  display: none;

  @include breakpoint($screen-sm) {
    display: block;
  }
}

.mobile_menu {
  .openy-google-translate {
    @include breakpoint($screen-sm) {
      display: none;
    }
    select {
      @include cachet();
      color: $white;
      font-size: 18px !important;
      font-weight: bold;
      margin-left: 10px;
      text-transform: uppercase;

      option {
        color: $default-grey;
      }
    }
  }
}
