.openy-gtranslate {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
}

.openy-google-translate select {
  @include cachet();
  background: transparent;
  border: none;
  font-size: 16px;
}

.nav {
  .language {
    .openy-google-translate {
      select {
        @include cachet();
        margin-left: 10px;
        text-transform: uppercase;
        color: $white;
        font-size: 18px !important;
        font-weight: bold;

        option {
          color: $default-grey;
        }
      }
    }
  }
}