#hb-loc-modal {
 .hb-loc-modal__modal {
   // Fix HB modal z-index.
   z-index: 99500;
 }
}

.node--type-branch {
  .location-masthead {
    .hb-branch-selector {
      min-height: auto;

      .hb-location-checkbox-wrapper {
        @include breakpoint($screen-tablet) {
          text-align: left;
        }
      }
    }
  }
}

.hb-loc-modal__modal--footer {
  .btn.btn-default {
    border: none;
  }
  .btn.action-cancel {
    background-color: #999;
  }
}
