body {
  padding-top: 70px !important;
  top: 0 !important;

  @include breakpoint($screen-desktop) {
    padding-top: $top-nav-height !important;
  }
}

.layout-container {
  position: relative;
}

.block-region-header .node-title {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.taxonomy-term {
  margin-top: 20px;

  & > h3 {
    margin-top: 0;
  }
}

.error-page {
  padding: 25px 0;
}
