#schedules-search-form-wrapper {
  .controls-wrapper {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: $sky-blue;
    a {
      display: inline-block;
      padding: 3px 15px;
    }
  }
  form {
    background-color: $sky-blue;
    margin-bottom: 20px;
    @include breakpoint($screen-sm) {
      background-color: $lighter-grey;
      margin-bottom: 40px;
    }
  }
  .js-form-type-select {
    float: left;
    display: inline-block;
    padding: 10px 0 5px;
    width: 100%;
    @include breakpoint($screen-sm) {
      padding: 15px 0;
      margin-right: 18px;
      width: 150px;
    }

    label {
      font-size: 14px;
      line-height: 1.6;
      @include cachet();
      color: $dark-grey;
      margin-bottom: 0;
      @include breakpoint($screen-sm) {
        margin-bottom: 5px;
      }
    }

    select {
      text-transform: uppercase;
      color: $dark-grey;
      @include cachet();
    }
    &.form-item-location {
      padding: 15px 0 25px;
      width: 100%;
      @include breakpoint($screen-sm) {
        padding: 15px 0;
        width: 150px;
      }
    }
    &.form-item-time {
      padding: 15px 0 25px;
      width: 100%;
      @include breakpoint($screen-sm) {
        margin-right: 18px;
        padding: 15px 0;
        width: 90px;
      }
    }
  }
  .js-form-type-textfield {
    float: left;
    display: inline-block;
    padding: 10px 0 5px;
    width: 100%;
    @include breakpoint($screen-sm) {
      padding: 15px 0;
      margin-right: 18px;
      width: 120px;
    }

    label {
      font-size: 14px;
      line-height: 1.6;
      @include cachet();
      color: $dark-grey;
      margin-bottom: 0;
      @include breakpoint($screen-sm) {
        margin-bottom: 5px;
      }
    }

    input {
      text-transform: uppercase;
      color: $dark-grey;
      @include cachet();
      width: 100%;
    }

    .hasDatepicker {
      background: $white url("../img/icons/input_calc_icon.png") no-repeat 95% center;
      padding-right: 20px;
      padding-left: 5px;
    }
  }
  .form-item.form-item-display {
    clear: left;
    padding: 0;
    width: 100%;
    @include breakpoint($screen-sm) {
      margin: 0;
      width: 140px;
    }
    label {
      font-size: 14px;
      line-height: 1.6;
      @include cachet();
      color: $dark-grey;
      margin-bottom: 0;
      display: inline-block;
      @include breakpoint($screen-sm) {
        margin-bottom: 5px;
      }
    }
    input {
      display: inline-block;
    }
  }
  .selects-container {
    hr {
      border-color: $default-grey;
      margin: 0 0 12px;
      @include breakpoint($screen-sm) {
        display: none;
      }
    }
  }
  .actions-wrapper {
    padding-top: 23px;
    padding-bottom: 23px;
    input {
      text-transform: uppercase;
      font-size: 18px;
      padding: 12px 0;
      width: 100%;
    }
  }
  .filters-main-wrapper {
    clear: both;
    @include breakpoint($screen-sm) {
      background-color: rgba(0, 136, 208, 0.25);
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .filters-container {
    clear: both;
    position: relative;
    @include breakpoint($screen-sm) {
      margin-top: 0;
    }

    .container {
      position: relative;
    }

    .reset-wrapper {
      position: absolute;
      right: 35px;
      top: 4px;
      @include breakpoint($screen-sm) {
        top: 0;
        right: 15px;
      }
      .clear {
        @include cachet();
        background: none;
        border: none;
        color: $blue;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        @include breakpoint($screen-sm) {
          text-transform: uppercase;
        }
      }
    }
  }

  .filters-wrapper {
    padding-bottom: 5px;
    border-top: 1px solid $default-grey;
    padding-top: 5px;
    @include breakpoint($screen-sm) {
      padding-bottom: 0;
      padding-top: 0;
      border: 0;
    }
    .label {
      @include cachet();
      color: $dark-grey;
      display: block;
      font-size: 14px;
      line-height: 30px;
      margin-right: 20px;
      padding: 0;
      text-align: left;
      @include breakpoint($screen-sm) {
        display: inline-block;
      }
    }
    .filters {
      display: inline-block;
      .filter {
        @include cachet();
        background: $white;
        border-radius: 4px;
        color: $light-blue;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 10px;
        margin: 0 5px 10px 0;
        @include breakpoint($screen-sm) {
          margin: 5px 20px 5px 0;
          color: $dark-grey;
        }
        .remove {
          margin-left: 10px;
          line-height: 30px;
          @include breakpoint($screen-sm) {
            margin-left: 15px;
          }
          .fa {
            font-size: 13px;
            color: $blue;
            @include breakpoint($screen-sm) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .form-control  {
    &[readonly], &[disabled] {
      color: $dark_grey;
      background: $lighter-grey;
    }
  }
}

#schedules-search-listing-wrapper {
  .results {
    margin-bottom: 40px;
    h2 {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 18px;
      font-weight: 700;

      @include breakpoint($screen-sm) {
        font-size: 44px;
        line-height: 48px;
      }
      em {
        font-style: normal;
      }
    }

    .group_time {
      @include cachet();
      color: $purple;
      font-size: 18px;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: inherit;
      font-weight: normal;
      @include breakpoint($screen-sm) {
        font-size: 30px;
      }
    }
    .schedule-sessions-group-slider {
      margin: 0 0 45px;
      @include breakpoint($screen-sm) {
        margin: 0 35px 55px;
      }
      @include breakpoint($screen-lg+100) {
        margin-right: 0;
      }
      .slick-track {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
      }
      .slick-arrow {
        background: none;
        color: $light-blue;
        padding: 0;
        z-index: 1;
        height: 40px;
        width: 40px;
        margin-top: -7px;

        &:before {
          color: $light-blue;
        }

        @include breakpoint($screen-sm) {
          height: 70px;
          width: 50px;
        }
        .fa {
          font-size: 30px;
          @include breakpoint($screen-sm) {
            font-size: 70px;
          }
        }
        &.slick-prev {
          left: -20px;
          @include breakpoint($screen-sm) {
            left: -45px;
          }
        }
        &.slick-next {
          right: -20px;
          @include breakpoint($screen-sm) {
            right: -45px;
          }
        }
      }
      .slick-dots {
        bottom: -40px;
        li {
          button {
            &:before {
              opacity: 1;
              color: $lighter-grey;
            }
          }
          &.slick-active {
            button:before {
              opacity: 1;
              color: $pink;
            }
          }
        }
      }
    }
    .week-control {
      font-size: 16px;
      &.prev-week {
        float: left;
      }
      &.next-week {
        float: right;
      }
    }
    .views-row {
      border: 1px solid $pink;
      margin: 0 15px;
      padding: 15px;
      height: auto;
      outline: none;
      text-decoration: none;
      position: relative;

      &:hover {
        h3 {
          text-decoration: underline;
        }
      }

      .included-in-membership {
        background: url("../img/icons/included-in-membership.png") no-repeat 0 0;
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        height: 32px;
        width: 90px;
      }

      .ticket {
        color: $purple;
        margin-top: 10px;
        display: block;
      }

      h3 {
        @include cachet();
        font-size: 22px;
        line-height: 1;
        color: $blue;
        margin: 40px 0 27px;
        white-space: normal;
      }
      .time {
        color: $default-grey;
      }
      p {
         font-size: 15px;
         line-height: 1.5;
         color: $darker-grey;
       }
      img {
        display: none;
      }
      .node__content {
        color: $darker-grey;
      }
    }
  }
  .branch-hours-wrapper {
    margin-bottom: 10px;

    .slick-slider {
      padding: 0 30px;
    }

    .slick-track {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(0 $screen-xs) {
        flex-wrap: nowrap;
      }
    }

    .slick-slide {
      display: -webkit-flex;
      display: flex;
      height: auto;
    }

    .row-eq-height {
      margin: 0 10px 10px 0;

      .slick-arrow {
        color: $light-blue;

        &:hover:before {
          color: $light-blue;
        }

        &:before {
          color: $light-blue;
        }
      }

      .slick-next,
      .slick-prev {
        z-index: 100;
      }

      .slick-next {
        text-align: right;
      }

    }

    .card {
      background-color: $orange;
      color: $white;
      padding: 10px 20px;
      width: 100%;
      height: auto;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;

      h4 {
        font-size: 20px;
        line-height: 17px;
        letter-spacing: -0.5px;
      }
      p {
        font-size: 30px;
        line-height: 1.15;
        @include cachet();
      }
    }
    .col-sm-2 {
      h4 {
        font-size: 14px;
      }
      p {
        font-size: 20px;
      }
    }
    .row {
      @include breakpoint(0 $screen-sm) {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        .row-eq-height {
          -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
          h4 {
            font-size: 20px;
            white-space: normal;
          }
          p {
            font-size: 30px;
            white-space: normal;
          }
        }
      }
    }
  }
}

#group-ex-results,
.groupex-results {
  .col-xs-12,
  .cards-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .caption {
    @include cachet();
    letter-spacing: -0.8px;
    color: $purple;
    font-size: 30px;
    margin-bottom: 15px;
    a {
      color: $purple;
    }
  }
  .card-wrapper {
    display: inline-block;
    padding-bottom: 100px;
    width: 32%;
    @include breakpoint(0 $screen-sm) {
      width: 49%;
      padding-bottom: 55px;
    }
    &:nth-child(3n+2) {
      margin: 0 2%;
    }
    @include breakpoint(0 $screen-sm) {
      &:nth-child(3n+2) {
        margin: 0;
      }
      &:nth-child(odd) {
        margin-right: 1%;
      }
      &:nth-child(even) {
        margin-left: 1%;
      }
    }
  }
  .time {
    @include cachet();
    color: $purple;
    font-size: 18px;
    .hh-mm {
      display: inline-block;
      min-width: 69px;
    }
    .duration {
      font-size: 16px;
      color: $pink;
      white-space: nowrap;
      word-wrap: normal;
    }
    @include breakpoint($screen-tablet) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
  .card {
    border: 1px solid $pink;
    height: 100%;
    outline: none;
    text-decoration: none;
    padding: 15px;
    margin-bottom: -10px;
    position: relative;
    width: 100%;

    h3 {
      @include cachet();
      color: $blue;
      font-size: 22px;
      letter-spacing: -0.8px;
      line-height: 1;
      margin: 5px 0;
      white-space: normal;
      word-wrap: break-word;
      min-height: 44px;
      a {
        color: $blue;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.5;
      color: $darker-grey;
    }
    .instructor {
      .fa {
        color: $purple;
        margin-right: 5px;
      }
      a {
        color: $purple;
      }
      .fa-refresh {
        font-size: 12px;
        color: $pink;
        margin-left: 16px;
        margin-right: 5px;
      }
      .sub {
        font-size: 12px;
        color: $pink;
      }
    }
  }
}

.groupex-form-full {
  .instructor-chosen {
    margin-bottom: 30px;
    color: $pink;
    font-size: 18px;
  }
  .js-form-type-radios {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    .js-form-type-radio {
      flex-basis: 100%;
      padding-right: 15px;
      margin: 0 0 10px;
      position: relative;
      padding-left: 20px;
      line-height: 20px;
      @include breakpoint($screen-tablet) {
        flex-basis: 50%;
      }
      label {
        @include cachet();
        font-size: 15px;
        margin: 0 0 0 7px;
        vertical-align: top;
      }
      input {
        margin: 0;
        position: absolute;
        left: 0;
        top: 11px;
        vertical-align: top;
      }
    }
  }
  .top-form-wrapper {
    background-color: $lighter-grey;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px 20px 20px;
    .js-form-type-select,
    .js-form-type-date {
      margin: 0;
    }
    select {
      border: 1px solid $medium-grey;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-color: $white;
      padding-right: 25px;
      @include cachet();
      color: $dark-grey;
      font-size: 14px;
      text-transform: uppercase;
      max-width: 220px;
      ::-ms-expand {
        display: none;
      }
    }
    > div {
      margin-top: 20px;
      @include breakpoint($screen-tablet) {
        float: left;
        margin-right: 30px;
      }
    }
    #date-select-wrapper {
      max-width: 220px;
    }
    #submit-wrapper {
      display: none !important;
      @include breakpoint($screen-tablet) {
        margin: 46px 30px 0 0;
      }
      @include breakpoint($screen-md) {
        clear: both;
        float: left;
        margin-top: 20px;
      }
      @include breakpoint($screen-lg) {
        clear: none;
        margin-top: 46px;
      }
    }
    .groupex-pdf-link-container {
      float: right;
      @include breakpoint($screen-tablet) {
        margin-top: 46px;
      }
      @include breakpoint($screen-md) {
        margin-top: 20px;
      }
      @include breakpoint($screen-lg) {
        margin-top: 46px;
      }
      a {
        @extend .pink-button;
        padding: 12px 15px;
      }
    }
  }
  .groupex-results {
    clear: both;
    padding: 40px 0;
  }
  .class-description {
    margin: 15px 0;
    font-size: 20px;
    img {
      max-width: 100%;
    }
  }
  &.branch-specific-form {
    #location-select-wrapper {
      display: none !important;
    }
    #class-select-wrapper {
      display: block !important;
    }
    #date-select-wrapper {
      display: block !important;
    }
    .class-description {
      display: block;
    }
  }
}

//Daxko registration iframe
iframe#ga_iframe {
  border: 0;
  width: 100%;
  height: 865px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include breakpoint($screen-desktop) {
    height: 460px;
  }
}

/**
 * AddToCalendar Blue Style
 * http://addtocalendar.com
 */

.addtocalendar var {
  display: none;
}

.addtocalendar {
  position: relative;
  display: inline-block;
  background: transparent !important;
}

.atcb-link {
  display: block;
  outline: none !important;
  cursor: pointer;
}

.atcb-link ~ ul.active {
  display: block;
}

.atcb-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  z-index: 900;
  border: 1px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 0 5px #AAA;

  @include breakpoint($screen-desktop) {
    left: auto;
    right: 0;
  }
}

.atcb-list,
.atcb-item {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}

.atcb-item {
  float: none;
  text-align: left;
}

.atcb-item-link {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 3px 10px;

  &:hover {
    background-color: $lighter-grey;
  }
}

.atcb-item.hover,
.atcb-item:hover {
  position: relative;
  z-index: 900;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

/* Blue */

.atc-style-blue .atcb-link,
.atc-style-blue .atcb-link:hover,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus {
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  &:before {
    content: "\f073";
    font-size: 14px;
  }
}

.atc-style-blue .atcb-list {
  width: 170px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  box-shadow: 0 0 5px #AAA;
}

.atc-style-blue .atcb-list,
.atc-style-blue .atcb-item {
  background: #fff;
  color: #000;
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-item-link {
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
}

.atc-style-blue .atcb-item-link,
.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus {
  color: #000;
  @include verdana();
  font-size: 14px;
  text-decoration: none;
  outline: none;
  padding: 5px 15px;
}

.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus {
  color: #fff;
}

.atc-style-blue .atcb-item.hover,
.atc-style-blue .atcb-item:hover {
  background: rgb(66, 129, 244);
}
