.field-media-local-video {
  padding: 20px;
  video {
    background-color: $black;
    width: 300px !important;
    height: 200px !important;

    @include breakpoint($screen-xs) {
      width: 320px !important;
      height: 240px !important;
    }

    @include breakpoint($screen-sm) {
      width: 400px !important;
      height: 300px !important;
    }

    @include breakpoint($screen-md) {
      width: 640px !important;
      height: 480px !important;
    }
  }
}

.sidebar-region {
  .field-media-local-video {
    padding: 20px;
    video {
      width: 300px !important;
      height: 200px !important;

      @include breakpoint($screen-xs $screen-sm-max) {
        width: 180px !important;
        height: 120px !important;
      }
    }

    .video-js.vjs-fullscreen {
      width: 100% !important;
      height: 100% !important;
      padding-top: 0 !important;
    }
  }
}



