<div class="col-sm-push-6 col-md-push-7 col-sm-offset-1 col-md-4 col-sm-5 call-to-action lead right">
  {% block call_to_action %}{% endblock %}
</div>
<div class="col-sm-pull-6 col-md-pull-5 col-md-7 col-sm-6 lead">
  {% block lead_description %}{% endblock %}
</div>
