@import 'breakpoint';
@import '../bootstrap/variables';
@import 'global/colors';
article.node--type-landing-page {
  background-color: $grey22;
}
.paragraph-70-30-columns {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  &.lead-copy {
    background: $grey12;
  }
}

.paragraph--type--simple-content {
  iframe {
    width: 100% !important;
  }
}
