{% extends "page.html.twig" %}

{% block pagecontent %}
  <div class="container">
    <div class="row error-page">
      <div class="col-md-12 error-page">
        <h1>{{ '404 Page not found'|t }}</h1>
        <p>{{ 'Oops! The page that you\'re looking for was not found.'|t }}</p>
      </div>
    </div>
  </div>
{% endblock %}
