.compain-header {
  @include rem(height, 226px);
  @include rem(padding, 0 0 68px 0);
  position: relative;
  background: #fff url('../prototypes/ysr_2017/img/hero/hero-mobile.jpg') 50% 50% no-repeat;
  @include background-size(cover);

  @include breakpoint($tablet) {
    @include rem(height, 380px);
    background: #fff url('../prototypes/ysr_2017/img/hero/hero-1400.jpg') 50% 0 no-repeat;
    @include background-size(cover);
  }

  &--content {
    .logo {
      display: none;

      @include breakpoint($tablet) {
        @include rem(margin, 0 50px 60px 0);
        display: inline-block;
        vertical-align: top;
        max-width: 102px;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
    }

    @include breakpoint($tablet){
      height: calc(100% - 62px + 50px);
      width: 100%;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
    }


    .container {
      @include breakpoint($tablet) {
        width: 100%;
        height: auto;
      }

      .content {
        @include cachet-bold();
        @include rem(font-size, 26px);
        @include rem(line-height, 30px);
        background: none;
        text-align: center;
        color: $white;
        text-transform: uppercase;

        @include breakpoint($tablet) {
          @include rem(font-size, 50px);
          @include rem(line-height, 54px);
          @include rem(margin, 60px 0 0 0);
          text-align: left;
          display: inline-block;
          vertical-align: top;
        }

        .sub-title,
        .date {
          color: $green-light;

          @include breakpoint($tablet) {
            @include rem(font-size, 36px);
          }
        }
      }
    }
  }
}


.compain-top-nav {
  @include rem(margin, 0 0 12px 0);
  width: 100%;
  z-index: 102;
  text-align: center;

  @include breakpoint($tablet) {
    @include rem(padding, 0 48px 0 74px);
    margin: 0;
    text-align: left;
    background: $green-medium;
  }

  .logo {
    @include rem(width, 40px);
    @include rem(margin, 12px auto 10px);
    display: block;

    @include breakpoint($tablet) {
      @include rem(width, 74px);
      @include rem(padding, 12px);
      @include rem(margin, 0 0 0 -74px);
      float: left;
      top: 0;
      left: 0;
      background: $green-dark;
    }

    img {
      width: 100%;
    }
  }

  .link-back {
    @include cachet-bold();
    @include rem(padding, 0 0 0 18px);
    @include rem(line-height, 20px);
    color: $white;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: relative;
    vertical-align: top;
    opacity: 0.5;

    @include breakpoint($tablet) {
      @include rem(line-height, 62px);
      @include rem(margin, 0 0 0 16px);
      opacity: 1;
    }

    &:before {
      @include rem(height, 10px);
      @include rem(width, 14px);
      background-image: inline-image('../prototypes/ysr_2017/img/icons/icon-arrow-left.svg');
      background-size: cover;
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.compain-user-menu {
  @include rem(padding, 0 44px);
  @include rem(height, 68px);
  background: $green-dark;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: $white;

  @include breakpoint($tablet) {
    @include rem(padding, 0 48px 0 0);
    @include rem(height, 62px);
    left: auto;
    bottom: auto;
    top: 0;
    margin: 0;
  }

  a, span {
    @include cachet-normal();
    @include rem(font-size, 16px);
    @include rem(line-height, 68px);
    color: inherit;
    text-transform: uppercase;
    display: block;

    @include breakpoint($tablet) {
      @include rem(line-height, 62px);
      @include rem(margin, 0 0 0 38px);
    }

    &:before {
      opacity: 0.8;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }

  .link--register,
  .link--sign-in,
  .login--user,
  .link--log-out,
  .link--email {
    @include rem(padding, 0 0 0 24px);
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  .login--user,
  .link--register {
    float: left;
  }

  .link--register {
    float: left;

    &:before {
      background-image: inline-image('../prototypes/ysr_2017/img/icons/icon-register.svg');
      width: 18px;
      height: 22px;
      background-size: auto 100%;
    }
  }

  .login--user {
    @include rem(padding, 0 0 0 44px);
    @include rem(line-height, 50px);

    &:before {
      background-image: inline-image('../prototypes/ysr_2017/img/icons/icon-signedin-user.svg');
      width: 30px;
      height: 30px;
      background-size: cover;
      opacity: 1;
    }

    @include breakpoint($tablet) {
      background: $green-medium;
      @include rem(line-height, 62px);
      @include rem(padding-right, 18px);
      margin: 0;
    }
  }

  .link--log-out,
  .link--sign-in {
    float: right;
  }

  .link--log-out,
  .link--email {
    color: $green8;
  }

  .link--log-out {
    text-transform: uppercase;

    &:before {
      background-image: inline-image('../prototypes/ysr_2017/img/icons/icon-logout.svg');
      width: 20px;
      height: 16px;
      background-size: auto 100%;
    }
  }

  .link--sign-in {
    float: right;

    &:before {
      background-image: inline-image('../prototypes/ysr_2017/img/icons/icon-login.svg');
      width: 20px;
      height: 16px;
      background-size: auto 100%;
    }
  }

  .link-wrapper {
    float: left;

    @include breakpoint($tablet) {

    }
  }

  .link--email {
    @include rem(line-height, 20px);
    @include rem(padding, 0 0 0 44px);
    @include rem(top, -12px);
    text-transform: inherit;
    display: block;
    clear: left;
    position: relative;

    @include breakpoint($tablet) {
      @include rem(line-height, 62px);
      top: auto;
      float: right;
      clear: none;
      margin: 0;
      @include rem(margin-left, 48px);
      @include rem(padding, 0 0 0 28px);

      &:before {
        background-image: inline-image('../prototypes/ysr_2017/img/icons/icon-mail.svg');
        width: 20px;
        height: 16px;
        background-size: auto 100%;
      }
    }

  }

  @include breakpoint($desktop-small) {}
}
