
{% extends 'blocks/layout.twig' %}

{% block title %}Aquatics{% endblock %}

{% block page_heading %}Aquatics{% endblock %}


{% set section_dropdown_data = [
    {'name':'Aquatics','image':'images/activities/offset_259369.jpg'},
    {'name':'Health & Fitness','image':'images/activities/offset_250707.jpg'},
    {'name':'Sports & Recreation','image':'images/activities/offset_202198.jpg'},
    {'name':'Outdoor adventure','image':'images/activities/offset_157023.jpg'},
    {'name':'Arts & Enrichment','image':'images/activities/offset_164520.jpg'},
    {'name':'Certifications & Training','image':'images/activities/offset_111370.jpg'},
    {'name':'Parties & Rental','image':'images/activities/offset_228919.jpg'},
    {'name':'Amenities','image':'images/activities/offset_148616.jpg'},
    {'name':'Adaptive','image':'images/activities/offset_193973.jpg'}
] %}

{% set utility_bar_data = [
  {
    'title': '<span class="amount--circle"><span class="amount">0</span></span><ins id="heart-counter">Favorites</ins>',
    'href': '#',
  }
]
%}

{% set breadcrumbs_data = [
  {
    'title': 'All activities',
    'href': 'index.html'
  }
]
%}

{% set activities = [
    {'title':'DIVING','image':'images/activities/aquatics/offset_245376.jpg','heart': TRUE, 'link' : 'sub-category.html'},
    {'title':'LAP SWIM','image':'images/activities/aquatics/offset_251237.jpg','heart': TRUE, 'link' : 'sub-category.html'},
    {'title':'OPEN SWIM','image':'images/activities/aquatics/offset_255157.jpg','heart': TRUE, 'link' : 'sub-category.html'},
    {'title':'SWIM LESSONS','image':'images/activities/aquatics/offset_248733.jpg','heart': TRUE, 'link' : 'sub-category.html'},
    {'title':'SWIM TEAM','image':'images/activities/aquatics/offset_252569.jpg','heart': TRUE, 'link' : 'sub-category.html'},
    {'title':'WATER ACTIVITIES','image':'images/activities/aquatics/offset_230670.jpg','heart': TRUE, 'link' : 'sub-category.html'},
    {'title':'WATER EXERCISE','image':'images/activities/aquatics/offset_140851.jpg','heart': TRUE, 'link' : 'sub-category.html'}
] %}

{% set playlist_data = [
  {
  'title':'<a href="#">Sport Enthusiast<span>&#62;</span></a>',
  'content':'<p>Spend your days playing floor hockey, learning archery or imroving your free throw with our variety of sports activities.</p>',
  'link': '',
  },
  {
  'title':'<a href="#">Homemade Fun<span>&#62;</span></a>',
  'content':"<p>If you like to make things we've got you covered. Learn everything from knitting to ceramincs to cooking.</p>",
  'link': '',
  },
  {
  'title':'<a href="#">Outdoor Adventure<span>&#62;</span></a>',
  'content':"<p>Like spending your days outside? We've got the perfect activities lined up so you will make the most of this summer.</p>",
  'link': '',
  },
] %}

{% block banner %}
  <aside class="banner banner--category-page">
      <div class="container">
        {% include "blocks/section-dropdown.twig" %}
      </div>
      <section>
      <div class="banner__image-container">
        <div class="banner__image" style="background-image: url(../images/activities/offset_259369.jpg);">
        </div>
      </div>
    </section>
  </aside>
{% endblock %}

{% block filters %}
  <aside class="filter">
    <div class="container">
      {% include "blocks/filter.twig" %}
    </div>
  </aside>
{% endblock %}

{% block content %}
  {% include "blocks/utility-bar.twig" %}
  {% include "blocks/activities-grid.twig" %}
  <section>
    <h2>Summer Playlist: Ideas for  Everyone</h2>
    {% include "blocks/playlist-grid.twig" %}
  </section>
{% endblock %}

