body { overflow-x: hidden; }
#main > .content {
    padding-bottom: 0;
}
.centered {
    text-align: center;
}
.page-title h1 {
    margin: 0;text-transform: uppercase;font-weight: bold;font-size: 48px;color: #fff;
}
.panel-title .try-the-y-toggle {
    background-color: #0d63ad;
    background-image: -webkit-gradient(linear,0 0,0 100%,color-stop(0.7,#158acc),to(rgba(21,138,204,0)));
    background-image: -webkit-linear-gradient(#158acc 70%,rgba(21,138,204,0));
    background-image: -moz-linear-gradient(#158acc 70%,rgba(21,138,204,0));
    background-image: -o-linear-gradient(#158acc 70%,rgba(21,138,204,0));
    background-image: linear-gradient(#158acc 70%,rgba(21,138,204,0));
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    font-size: 20px;
    line-height: 32px;
    padding: 14px 50px;
    margin-bottom: 20px;
    min-width: 250px;
    width: auto;
    display: inline-block;
    color: #fff;
    font-family: Cachet;
    border-radius: 4px;
    outline: 0 !important;
    position: relative;
    text-transform: uppercase;
}
/*.panel-title .try-the-y-toggle.active:before {
    display: block;
    line-height: 38px;
    top: 0;
    padding: 3px 12px 4px 12px;
    border-radius: 7px 0 0 7px;
    background-color: #8c1471;
    background-image: none;
    position: absolute;
    left: 0;
    content: "\e082";
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-size: .7em;
    font-family: 'Glyphicons Halflings';
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25 ease-in-out;
    -webkit-transition: opacity .25 ease-in-out;
}*/
.panel-title .join-online-now {
    background-color: #9c1f7b;
    background-image: -webkit-gradient(linear,0 0,0 100%,color-stop(0.7,#aa248e),to(rgba(171,36,144,0)));
    background-image: -webkit-linear-gradient(#aa248e 70%,rgba(171,36,144,0));
    background-image: -moz-linear-gradient(#aa248e 70%,rgba(171,36,144,0));
    background-image: -o-linear-gradient(#aa248e 70%,rgba(171,36,144,0));
    background-image: linear-gradient(#aa248e 70%,rgba(171,36,144,0));
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    font-size: 20px;
    line-height: 32px;
    padding: 14px 50px;
    margin-bottom: 20px;
    min-width: 250px;
    width: auto;
    display: inline-block;
    color: #fff;
    font-family: Cachet;
    border-radius: 4px;
    outline: 0 !important;
    position: relative;
    text-transform: uppercase;
}
.become-a-member {
    margin-top: -40px;
    margin-bottom: 25px;
    padding: 80px 0 30px;
}
.become-a-member h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 27px;
}
.become-a-member .full-width-background-image h2 {
    display: none;
}
.become-a-member .p1 {
    color: #ebebeb;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.become-a-member .buttons-wrap {
    margin-top: 30px;
}
.become-a-member .buttons-wrap p {
    color: #5e5e5e;
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    max-width: 250px;
    margin: 0 auto;
    opacity: 0.5;
}
.become-a-member .bottom {
    margin-top: 90px;
    position: relative;
}
@media screen and (max-width: 767px) {
    .become-a-member.content_wrapper {
        background-color: #f8f8f8;
        padding: 0;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .become-a-member .full-width-background-image {
        position: relative;
        margin-bottom: 20px;
    }
    .become-a-member .full-width-background-image h2 {
        font-size: 24px;
        display: block;
        position: absolute;
        z-index: 36;
        top: 50%;
        margin: -10px 0 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    .become-a-member > div {
        background-image: none !important;
    }
    .become-a-member img {
        display: block !important;
    }
    .become-a-member .lead {
        margin-bottom: 20px;
    }
    .become-a-member .lead h2 {
        display: none;
    }
    .become-a-member .row p {
        color: #434334;
        font-size: 14px;
        line-height: 18px;
    }
    .become-a-member .row p br {
        display: none;
    }
    .become-a-member .buttons-wrap {
        margin-top: 10px;
    }
    .panel-title .join-online-now,
    .panel-title .try-the-y-toggle {
        padding: 6px 50px;
        margin-bottom: 10px;
    }
    .become-a-member .buttons-wrap p {
        font-size: 12px;
        opacity: 1;
        color: #434334;
    }
    .become-a-member .bottom {
        margin: 15px auto 10px;
        max-width: 220px;
    }
    .become-a-member .bottom p {
        opacity: 1 !important;
        color: #434334 !important;
        font-size: 12px !important;
    }
}
.why-join-the-why {
    margin: 20px 0 110px;
}
.why-join-the-why .lead {
    margin-bottom: 30px;
}
.why-join-the-why .lead h2 {
    color: #000;
    margin-bottom: 20px;
}
.why-join-the-why .lead p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 27px;
}
.why-join-the-why .card {
    margin-bottom: 55px;
}
.why-join-the-why .card img {
    height: 60px;
    margin-bottom: 18px;
    width: auto;
}
.why-join-the-why .card h4 {
    line-height: 22px;
    margin: 10px 0 5px;
}
.why-join-the-why .card p {
    line-height: 22px;
    max-width: 250px;
    margin: 0 auto;
}
.why-join-the-why .discover-link-wrap {
    margin-top: 60px;
}
.why-join-the-why .discover-link-wrap a {
    background-color: #eee;
    border-radius: 4px;
    color: #000;
    font-family: Cachet;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    padding: 18px 25px;
    text-decoration: none;
}
.why-join-the-why .discover-link-wrap i {
    font-size: 20px;
}
.why-join-the-why .discover-link-wrap i.mobile {
    display: none;
}
@media (min-width: 768px) {
    .why-join-the-why .col-sm-offset-1-custom {
        margin-left: 12.5%;
    }
}
@media screen and (max-width: 767px) {
    .why-join-the-why {
        margin: 20px 0 30px;
    }
    .why-join-the-why .lead h2 {
        margin: 0 0 15px;
    }
    .why-join-the-why .lead p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .why-join-the-why .card {
        margin-bottom: 20px;
    }
    .why-join-the-why .card img {
        height: 35px;
        margin-bottom: 5px;
    }
    .why-join-the-why .card br {
        display: none;
    }
    .why-join-the-why .card h4 {
        font-size: 15px;
        line-height: 16px;
    }
    .why-join-the-why .card p {
        font-size: 12px;
        line-height: 14px;
    }
    .why-join-the-why .discover-link-wrap {
        margin-top: 30px;
    }
    .why-join-the-why .discover-link-wrap i:first-child {
        display: none;
    }
    .why-join-the-why .discover-link-wrap i.mobile {
        display: block;
        margin: 0 auto;
        font-size: 14px;
    }
    .why-join-the-why .discover-link-wrap a {
        font-size: 15px;
        line-height: 18px;
        padding: 10px 45px;
        display: block;
        margin: 0 15px;
    }
    .discover-section {
        padding: 15px 0 0;
    }
}
.what-does-it-cost {
    background-color: #fff;
    padding: 75px 0 85px;
}
.what-does-it-cost h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
    margin: 20px 0 75px;
    text-transform: uppercase;
}
.what-does-it-cost .row {
    position: relative;
}
.what-does-it-cost .pricing-plus {
    margin-top: 333px;
}
.what-does-it-cost .pricing-table {
    background: transparent;
}
.what-does-it-cost .pricing-table h3 {
    background: #fff;
    border: 1px solid #acacac;
    text-align: center;
    font-family: Cachet;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
}
.what-does-it-cost .pricing-table .content_group {
    background-color: rgba(255,255,255,0.2);
    border-color: #acacac;
    border-style: solid;
    border-width: 0 1px 1px;
}
.what-does-it-cost .pricing-table .enrollment-fee .wrap {
    padding-top: 263px;
}
.what-does-it-cost .pricing-table .enrollment-fee .wrap h4 {
    margin: 0 0 20px;
}
.what-does-it-cost .pricing-table .enrollment-fee .wrap p {
    color: #464646;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
.what-does-it-cost .pricing-table .content_group section:first-child {
    border: none;
}
.what-does-it-cost .pricing-table .content_group section {
    clear: both;
    overflow: hidden;
    margin: 0 10px;
    border-top: 1px solid #acacac;
    padding: 0 20px;
}
.what-does-it-cost .pricing-table .content_group section article {
    overflow: hidden;
    clear: both;
    line-height: 105px;
}
.what-does-it-cost .pricing-table .content_group section p:first-child {
    float: left;
    margin: 0;
    font-weight: bold;
    font-family: Cachet;
}
.what-does-it-cost .pricing-table .content_group section h4 {
    float: right;
    margin: 0 3px 0 0;
    line-height: 100px;
    font-size: 36px !important;
    letter-spacing: 0 !important;
}
.what-does-it-cost .pricing-table .content_group section .extra {
    color: #464646;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    line-height: 18px;
    clear: left;
    margin-top: -47px;
    margin-bottom: 33px;
}
.what-does-it-cost .pricing-table .content_group section .extra.two-lines {
    margin-top: -75px;
    margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
    .what-does-it-cost {
        padding: 10px 0 33px;
    }
    .what-does-it-cost h2 {
        font-size: 24px;
        margin: 20px 0 30px;
    }
    .what-does-it-cost .row {
        margin: 0 -8px;
    }
    .what-does-it-cost .pricing-table .content_group {
        height: auto !important;
        padding: 10px 0;
    }
    .what-does-it-cost .pricing-table .content_group.monthly-fee {
        margin: 0;
    }
    .what-does-it-cost .pricing-table {
        min-height: 0;
    }
    .what-does-it-cost .pricing-table .enrollment-fee .wrap {
        padding-top: 0;
    }
    .what-does-it-cost .pricing-table .enrollment-fee .wrap h4 {
        margin: 6px 0 5px;
        font-size: 24px !important;
    }
    .what-does-it-cost .pricing-plus {
        margin-top: 0;
    }
    .what-does-it-cost .pricing-plus p {
        font-size: 32px !important;
        line-height: 32px;
        margin-bottom: 5px;
    }
    .what-does-it-cost .pricing-table h3 {
        font-size: 18px;
        padding: 12px 0;
    }
    .what-does-it-cost .pricing-table .content_group section {
        padding: 0;
    }
    .what-does-it-cost .pricing-table .content_group section p:first-child {
        font-size: 18px !important;
        margin-top: 0 !important;
    }
    .what-does-it-cost .pricing-table .content_group section p:first-child span {
        font-size: 18px !important;
    }
    .what-does-it-cost .pricing-table .content_group section article {
        line-height: 55px;
    }
    .what-does-it-cost .pricing-table .content_group section h4 {
        line-height: 55px;
        font-size: 24px !important;
    }
    .what-does-it-cost .pricing-table section.one-line .extra {
        margin-top: -24px !important;
        margin-bottom: 18px;
        font-size: 12px;
        line-height: 15px;
    }
    .what-does-it-cost .pricing-table section.one-line h4 {
        margin-top: 8px;
    }
    .what-does-it-cost .pricing-table section .two-lines {
        margin-top: -52px !important;
    }
    .what-does-it-cost .pricing-table section.two-lines h4 {
        margin-top: 18px;
    }
    .what-does-it-cost .pricing-table section.two-lines .extra {
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 15px;
    }
    .what-does-it-cost .row-description {

    }
    .what-does-it-cost .row-description p {
        font-size: 12px !important;
        text-align: left !important;
        margin: 15px 0 0 !important;
    }
}
.membership-form-wrapper {
    padding-top: 40px;
}
.membership-form-wrapper .address legend {
    display: none;
}
.membership-form-wrapper .inline-messages {
    margin-left: 15px;
    margin-right: 15px;
}
@media screen and (max-width: 767px) {
    .membership-form-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .membership-form-wrapper .form-description {
        margin-bottom: 40px;
    }
}
.membership-bottom-area {
    background-color: #005cab;
    padding-top: 43px;
    padding-bottom: 55px;
    color: #fff;
}
.membership-bottom-area h3 {
    font-size: 24px;
    text-transform: uppercase;
}
.membership-bottom-area h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 12px 0 4px;
    /*font-family: Verdana, sans-serif;*/
}
.membership-bottom-area p {
    font-size: 16px;
    line-height: 24px;
    /*font-family: Verdana, sans-serif;*/
}
.membership-bottom-area a, .membership-bottom-area a:visited {
    color: #fff;
    text-decoration: underline;
}
.membership-bottom-area a:hover {
    color: lightgrey;
}
.membership-bottom-area ul {
    margin: 15px 0 10px;
    padding: 0 0 0 20px;
}
.membership-bottom-area li {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
.ready-to-get-started {
    background-color: #fff;
    padding: 80px 0 60px;
}
.ready-to-get-started .full-width-background-image h2 {
    display: none;
}
.ready-to-get-started h2 {
    color: #fff;
    font-size: 30px;
    margin: 0 0 115px;
}
.ready-to-get-started p {
    color: #fff;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 30px;
}
.discover-section {
    display: none;
    padding: 40px 0 0;
}
@media screen and (max-width: 767px) {
    .ready-to-get-started {
        padding: 0 0 20px;
    }
    .ready-to-get-started .full-width-background-image {
        position: relative;
        margin-bottom: 20px;
    }
    .ready-to-get-started h2 {
        display: none;
    }
    .ready-to-get-started .full-width-background-image h2 {
        font-size: 24px;
        display: block;
        position: absolute;
        z-index: 36;
        top: 50%;
        margin: -10px 0 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    .ready-to-get-started > div {
        background-image: none !important;
    }
    .ready-to-get-started img {
        display: block !important;
    }
    .ready-to-get-started p {
        color: #3a3a3a;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
    }
    .ready-to-get-started br {
        display: none;
    }
    .ready-to-get-started .join-online-now,
    .ready-to-get-started .try-the-y-toggle {
        padding: 6px 50px;
        margin-bottom: 10px;
        text-transform: capitalize;
        min-width: 210px;
        padding: 4px 0;
    }
    .ready-to-get-started hr {
        display: block !important;
        margin: 15px 15px 22px;
        border-color: #c6c6c6;
    }
    .membership-bottom-area {
        padding: 20px 15px 0;
    }
    .membership-bottom-area h3 {
        font-size: 18px;
        margin: 20px 0 5px;
        letter-spacing: -0.5px;
    }
    .membership-bottom-area h4 {
        font-size: 12px;
        margin: 0;
    }
    .membership-bottom-area p {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px
    }
    .membership-bottom-area br {
        display: none;
    }
    .membership-bottom-area ul {
        margin: -15px 0 5px;
    }
    .membership-bottom-area li {
        font-size: 12px;
        line-height: 15px;
    }
}
