<div class="block-table block-table--current">
  <div class="table-title">
    Current sessions:
  </div>
  <div class="row row--active">
    <div class="cell--time">
      <span class="period">
        9:30am
      </span>

      <span class="duration">
        60 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Strength Train Together</span>
      <div class="progress--small">
        <div class="progress-bar" style="width: 80%;"></div>
      </div>
    </div>
    <div class="cell--user">
      <span class="user">
        Colette I.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio A
      </span>
    </div>
  </div>

  <div class="row row--active">
    <div class="cell--time">
      <span class="period">
        9:35am
      </span>

      <span class="duration">
        60 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Boot Camp</span>
      <div class="progress--small">
        <div class="progress-bar" style="width: 40%;"></div>
      </div>
    </div>
    <div class="cell--user">
      <span class="user">
        Terry J.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Gym
      </span>
    </div>
  </div>
</div>

<div class="block-table block-table--upcoming">
  <div class="table-title">
    Upcoming sessions:
  </div>

  <div class="row">
    <div class="cell--time">
      <span class="period">
        10:00am
      </span>

      <span class="duration">
        60 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Gentle Yoga</span>
    </div>
    <div class="cell--user">
      <span class="user">
        Vance G.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio C
      </span>
    </div>
  </div>

  <div class="row">
    <div class="cell--time">
      <span class="period">
        10:35am
      </span>

      <span class="duration">
        30 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Moving For Better Balance</span>
    </div>
    <div class="cell--user">
      <span class="user">
        Colette I.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio A
      </span>
    </div>
  </div>

  <div class="row">
    <div class="cell--time">
      <span class="period">
        11:15am
      </span>

      <span class="duration">
        45 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">SilverSneakers<sup>&reg;</sup> Yoga</span>
    </div>
    <div class="cell--user">
      <span class="user">
        Colette I.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio A
      </span>
    </div>
  </div>

  <div class="row">
    <div class="cell--time">
      <span class="period">
        12:15pm
      </span>

      <span class="duration">
        60 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Mat Pilates</span>
    </div>
    <div class="cell--user">
      <span class="user">
        Colette I.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio C
      </span>
    </div>
  </div>

  <div class="row">
    <div class="cell--time">
      <span class="period">
        12:15pm
      </span>

      <span class="duration">
        60 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Strength Train Together</span>
    </div>
    <div class="cell--user">
      <span class="user">
        Lisa H.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio A
      </span>
    </div>
  </div>

  <div class="row">
    <div class="cell--time">
      <span class="period">
        4:30pm
      </span>

      <span class="duration">
        45 min
      </span>
    </div>
    <div class="cell--info">
      <span class="info">Tabata</span>
    </div>
    <div class="cell--user">
      <span class="user">
        Laura V.
      </span>
    </div>
    <div class="cell--group">
      <span class="group">
        Studio A
      </span>
    </div>
  </div>
</div>
