<article class="richtext"><h2 class="membership">{{ 'Membership'|t }}</h2>
  <p>$0 enrollment when you join by January 13th.&nbsp;<a href="{{ base_path }}membership">Learn more and get started</a></p>
</article>
