{% extends '@openy_lily/page/page.html.twig' %}

{% block pagecontent %}
  <section class="page-heading black-header page-title title-only">
    <div class="container-fluid">
      <h1>{{ 'Search Results'|t }}</h1>
    </div>
  </section>
  {{ page.content }}
{% endblock %}
