/* zip code color */
/* blue */
/* Purple */
/* Green */
/* Orange */
/* gray */
@font-face {
  font-family: "cachetstd-bold";
  src: url("../fonts/cachetstd-bold.eot?") format("eot"), url("../fonts/cachetstd-bold.woff2") format("woff2"), url("../fonts/cachetstd-bold.woff") format("woff"), url("../fonts/cachetstd-bold.ttf") format("truetype"), url('../fonts/cachetstd-bold.svg#str-replace(cachetstd-bold, " ", "_")') format("svg"); }

@font-face {
  font-family: "cachetstd-medium";
  src: url("../fonts/cachetstd-medium.eot?") format("eot"), url("../fonts/cachetstd-medium.woff2") format("woff2"), url("../fonts/cachetstd-medium.woff") format("woff"), url("../fonts/cachetstd-medium.ttf") format("truetype"), url('../fonts/cachetstd-medium.svg#str-replace(cachetstd-medium, " ", "_")') format("svg"); }

.icon {
  display: inline-block;
  margin-bottom: 20px;
  min-width: 100px;
  text-align: center; }
  .icon__img {
    margin-bottom: 7px;
    display: inline-block; }
  .icon__title {
    font-size: 13px;
    color: #363636; }

@font-face {
  font-family: 'ymca';
  src: url("../fonts/ymca.eot?bl1lw9");
  src: url("../fonts/ymca.eot?bl1lw9#iefix") format("embedded-opentype"), url("../fonts/ymca.ttf?bl1lw9") format("truetype"), url("../fonts/ymca.woff?bl1lw9") format("woff"), url("../fonts/ymca.svg?bl1lw9#ymca") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ymca' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-discout:before {
  content: "\e900"; }

.icon-price:before {
  content: "\e900"; }

.icon-sale:before {
  content: "\e900"; }

.icon-tag:before {
  content: "\e900"; }

.icon-time:before {
  content: "\e901"; }

.icon-clock:before {
  content: "\e901"; }

.icon-message:before {
  content: "\e903"; }

.icon-location:before {
  content: "\e905"; }

.icon-map-marker:before {
  content: "\e905"; }

.icon-pin:before {
  content: "\e905"; }

.icon-compass:before {
  content: "\e906"; }

.icon-direction:before {
  content: "\e906"; }

.icon-location2:before {
  content: "\e906"; }

.icon-play:before {
  content: "\e907"; }

.icon-player:before {
  content: "\e907"; }

.icon-mail-envelope-closed:before {
  content: "\e902"; }

.icon-zoom-in:before {
  content: "\e904"; }

.icon-trophy:before {
  content: "\e910"; }

.icon-fa:before {
  content: "\e911"; }

.icon-font-awesome:before {
  content: "\e911"; }

.icon-chevron-small-right:before {
  content: "\e913"; }

.icon-light-bulb:before {
  content: "\e90c"; }

.icon-calendar:before {
  content: "\e90d"; }

.icon-location3:before {
  content: "\e90e"; }

.icon-map-marker2:before {
  content: "\e90e"; }

.icon-pin2:before {
  content: "\e90e"; }

.icon-twitter:before {
  content: "\e90b"; }

.icon-social:before {
  content: "\e90b"; }

.icon-youtube:before {
  content: "\e90a"; }

.icon-flickr:before {
  content: "\e909"; }

.icon-brand2:before {
  content: "\e909"; }

.icon-social3:before {
  content: "\e909"; }

.icon-facebook:before {
  content: "\e908"; }

.icon-brand:before {
  content: "\e908"; }

.icon-social2:before {
  content: "\e908"; }

.icon-spinner:before {
  content: "\e90f"; }

.icon-loading:before {
  content: "\e90f"; }

.icon-loading-wheel:before {
  content: "\e90f"; }

.icon-busy:before {
  content: "\e90f"; }

.icon-wait:before {
  content: "\e90f"; }

.icon-volume-control-phone:before {
  content: "\e912"; }

.container {
  margin: 0 auto;
  max-width: 686px; }

.main-component {
  margin: 0 auto;
  padding: 10px;
  max-width: 530px; }

.main-component--large {
  margin: 0 auto;
  padding: 10px;
  max-width: 570px; }

.main-component--small {
  margin: 0 auto;
  padding: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #424242; }

a,
img {
  outline: none;
  border: 0; }

p {
  margin-top: 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.block-title {
  color: #424242;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-bottom: 15px; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

/* style tabel */
.tables {
  border-collapse: collapse;
  font-family: arial,sans-serif;
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }
  .tables tr.odd {
    background: #DADADA; }
  .tables tr.even {
    background: #ECECEC; }
  .tables tr td {
    padding: 12px 20px; }

table {
  border-collapse: collapse;
  border: 0; }

* {
  font-family: Arial, sans-serif; }

a img {
  border: 0; }

.bold {
  font-weight: 700;
  color: #424242; }

.uppercase {
  text-transform: uppercase; }

/* style button */
.btn {
  background: #00aeef;
  border-bottom: 11px solid #00aeef;
  border-left: 15px solid #00aeef;
  border-radius: 3px;
  border-right: 15px solid #00aeef;
  border-top: 11px solid #00aeef;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }
  .btn--blue {
    background: #0089d0;
    border-bottom: 11px solid #0089d0;
    border-left: 15px solid #0089d0;
    border-right: 15px solid #0089d0;
    border-top: 11px solid #0089d0; }
  .btn--blue-light {
    background: #00aeef;
    border-bottom: 11px solid #00aeef;
    border-left: 15px solid #00aeef;
    border-radius: 3px;
    border-right: 15px solid #00aeef;
    border-top: 11px solid #00aeef; }
  .btn--purple {
    background: #92278f;
    border-bottom: 11px solid #92278f;
    border-left: 15px solid #92278f;
    border-right: 15px solid #92278f;
    border-top: 11px solid #92278f; }
  .btn--purple-light {
    background: #c6168d;
    border-bottom: 11px solid #c6168d;
    border-left: 15px solid #c6168d;
    border-right: 15px solid #c6168d;
    border-top: 11px solid #c6168d; }
  .btn--green {
    background: #01a490;
    border-bottom: 11px solid #01a490;
    border-left: 15px solid #01a490;
    border-right: 15px solid #01a490;
    border-top: 11px solid #01a490; }
  .btn--orange {
    background: #f47920;
    border-bottom: 11px solid #f47920;
    border-left: 15px solid #f47920;
    border-right: 15px solid #f47920;
    border-top: 11px solid #f47920; }

/* style button has icon */
.btn-icon__text {
  border-radius: 0 3px 3px 0;
  padding: 11px 15px; }
  .btn-icon__text a {
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; }

.btn-icon__img {
  padding: 8px 10px;
  border-radius: 3px 0 0 3px; }

.icon--blue {
  background: #0089d0; }
  .icon--blue .btn-icon__img {
    background-color: #0060af; }

.icon--blue-light {
  background: #00aeef; }
  .icon--blue-light .btn-icon__img {
    background-color: #0089d0; }

.icon--purple {
  background: #92278f; }
  .icon--purple .btn-icon__img {
    background-color: #5c2e91; }

.icon--purple-light {
  background: #c6168d; }
  .icon--purple-light .btn-icon__img {
    background-color: #92278f; }

.icon--green {
  background: #01a490; }
  .icon--green .btn-icon__img {
    background-color: #006b6b; }

.icon--orange {
  background: #f47920; }
  .icon--orange .btn-icon__img {
    background-color: #dd5828; }

.btn-border {
  background-color: transparent;
  border: 2px solid #f3f3f3;
  margin: 5px 8px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px 18px; }
  .btn-border--green {
    color: #01a490; }
  .btn-border--orange {
    color: #f47920; }
  .btn-border--purple {
    color: #c6168d; }
  .btn-border--blue {
    color: #0060af; }

.link {
  text-decoration: none;
  color: #0060af;
  font-size: 16px;
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center; }
  .link .img-left {
    padding-right: 8px; }
  .link .img-right {
    padding-left: 3px; }
  .link--blue {
    color: #0060af; }
    .link--blue:hover {
      color: #00447c; }
  .link--purple {
    color: #92278f; }
    .link--purple:hover {
      color: #6a1c68; }
  .link--green {
    color: #01a490; }
    .link--green:hover {
      color: #017163; }
  .link--orange {
    color: #f47920; }
    .link--orange:hover {
      color: #d6600b; }
  .link--has-icon {
    text-decoration: none; }

/* blue */
.blue-dark {
  color: #0060af; }

.blue {
  color: #0089d0; }

.blue-light {
  color: #00aeef; }

/* Purple */
.purple-dark {
  color: #5c2e91; }

.purple {
  color: #92278f; }

.purple-light {
  color: #c6168d; }

/* Green */
.green-dark {
  color: #006b6b; }

.green {
  color: #01a490; }

.green-light {
  color: #20bdbe; }

/* Orange */
.orange-dark {
  color: #20bdbe; }

.orange {
  color: #f47920; }

.orange-light {
  color: #fcaf17; }

/* style component header */
.header-wrapper {
  margin: 0 auto;
  max-width: 600px;
  min-width: 65%;
  padding-bottom: 28px;
  padding-top: 33px;
  padding-left: 10px;
  padding-right: 10px;
  table-layout: fixed; }
  .header-wrapper a {
    color: #0089d0;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase; }
    .header-wrapper a.site-slogan {
      color: #c6168d;
      font-weight: bold;
      text-align: left;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      padding: 0; }
  .header-wrapper .logo {
    width: 80px;
    padding: 0; }
  .header-wrapper .site-logo {
    padding-right: 0; }
  .header-wrapper .main-menu {
    vertical-align: bottom;
    text-align: right; }

.header__item {
  padding: 10px 0;
  white-space: nowrap; }
  .header__item td {
    padding: 0 5px;
    text-align: center; }

.header__branch {
  padding-right: 30px; }

.header--programs-classes a {
  color: #01a490; }
  .header--programs-classes a.site-slogan {
    color: #0089d0; }

.header--camps-summer a {
  color: #f47920; }
  .header--camps-summer a.site-slogan {
    color: #01a490; }

/* style component block social */
.footer-wrapper {
  margin: 0 auto;
  max-width: 650px; }

.block-social {
  background-color: #fafafa;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center; }
  .block-social__list a {
    text-decoration: none;
    outline: none;
    padding: 0;
    border: 0; }
    .block-social__list a img {
      border: 0; }

/* style block contact */
.block-contact {
  color: #ffffff;
  font-size: 13px;
  background-size: cover;
  background-position: center center; }
  .block-contact__content {
    margin: 0 auto; }
  .block-contact .padding_top {
    padding-top: 20px; }
  .block-contact__inner {
    padding: 0 30px; }
  .block-contact__icon {
    padding-right: 15px; }
  .block-contact a {
    color: #fff;
    outline: none;
    text-decoration: none; }
  .block-contact__phone-mail a {
    padding-right: 35px;
    white-space: nowrap; }
  .block-contact .opacity {
    opacity: 0.4; }
  .block-contact--programs-classes {
    background-color: #0089d0; }
  .block-contact--camps-summer {
    background-color: #01a490; }

/* style block unsubscribe */
.block-unsubscribe {
  padding: 10px 0;
  margin-bottom: 25px;
  text-align: center; }

/* style block copyright */
.block-copyright {
  font-family: Verdana;
  font-size: 13px;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  line-height: 20px; }
  .block-copyright__top {
    color: #a7a7a7;
    margin-bottom: 20px; }
  .block-copyright__bottom {
    color: #424242; }

.block-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .block-hero table {
    max-width: 650px;
    overflow: hidden;
    width: 100%; }
  .block-hero td {
    padding: 0;
    width: 100%;
    margin: 0; }
  .block-hero tr {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%; }
  .block-hero .block-hero__title {
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Arial Black';
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.9;
    padding: 20px 15px;
    text-align: center;
    text-transform: uppercase;
    max-width: 650px;
    width: 100%; }
  .block-hero img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 650px; }
  .block-hero--bg--blue .block-hero__title {
    background-color: #0089d0; }
  .block-hero--bg--purple .block-hero__title {
    background-color: #c6168d; }
  .block-hero--bg--orange .block-hero__title {
    background-color: #f47920; }
  .block-hero--bg--green .block-hero__title {
    background-color: #01a490; }

.block-body {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .block-body th {
    margin: 0;
    padding: 0; }
  .block-body__header {
    background-color: #424242;
    background-position: center left, center right;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Arial Black";
    font-size: 18px;
    font-weight: normal;
    line-height: 82px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle; }
    .block-body__header img {
      height: auto;
      margin-right: 15px;
      vertical-align: sub;
      width: 32px; }
    .block-body__header tr, .block-body__header td {
      color: #fff; }
    .block-body__header td {
      font-size: 18px;
      vertical-align: middle;
      line-height: 1.5; }
  .block-body__item__content {
    padding-top: 30px;
    padding-bottom: 20px; }
    .block-body__item__content p {
      margin: 0 auto 15px;
      max-width: 456px; }
  .block-body__item:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .block-body .border-bottom {
    border-bottom: 1px solid #f0f0f0; }
  .block-body .height-img {
    height: 82px; }

.block-cta {
  max-width: 550px;
  margin: 0 auto;
  width: 100%; }
  .block-cta .padding {
    padding: 0 5px; }
  .block-cta .border-bottom {
    border-bottom: 15px solid transparent; }
  .block-cta__content {
    padding-bottom: 24px; }
  .block-cta__title {
    color: #424242;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase; }
  .block-cta__img img {
    width: 100%;
    height: auto; }
  .block-cta--image--left .block-cta__body {
    vertical-align: top;
    padding-left: 25px; }
  .block-cta__table tr {
    background: transparent !important; }
    .block-cta__table tr td {
      padding: 0;
      vertical-align: top; }

.block-grid {
  margin: 0 auto;
  max-width: 620px;
  width: 100%; }
  .block-grid table tr {
    background: transparent; }
  .block-grid .padding {
    min-height: 50px;
    padding: 0 15px;
    vertical-align: top;
    width: 50%; }

.text-indent {
  padding-left: 25px;
  list-style: none;
  margin: 0; }

.text-icon {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0; }
  .text-icon img {
    width: 17px;
    height: auto;
    padding: 0; }

.block-text-icon {
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }
  .block-text-icon .padding {
    padding: 5px 0; }
  .block-text-icon .padding-right {
    padding-right: 8px; }
    .block-text-icon .padding-right img {
      padding: 0 !important; }

.layout-icon {
  margin-bottom: 30px !important; }
  .layout-icon td {
    padding: 0 10px; }

.style-list {
  padding-left: 15px;
  font-size: 16px; }
  .style-list li {
    padding: 0 0 10px 0; }
    .style-list li a {
      display: block;
      text-decoration: none; }
  .style-list--sub {
    list-style: outside none none;
    margin-top: 2px; }
    .style-list--sub li {
      padding: 5px 0; }

.block-style-list {
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }

.block-keyword {
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }

.block-linked {
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }
  .block-linked img {
    width: 100%; }

.block-sponsors-logo {
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }
  .block-sponsors-logo__image {
    border: 1px solid #ededed;
    display: block;
    padding: 34px 0;
    text-align: center; }
    .block-sponsors-logo__image a {
      display: block;
      width: 100%; }
    .block-sponsors-logo__image img {
      max-width: 220px;
      width: 100%;
      height: auto; }

.box-font-icons__content {
  text-align: center; }

.box-font-icons .font-icon {
  display: inline-block;
  margin: 0 10px 30px;
  min-width: 100px;
  text-align: center; }

.box-font-icons [class^="icon-"], .box-font-icons [class*=" icon-"] {
  font-size: 40px;
  color: #555555;
  margin-right: -20px; }

.box-font-icons .text {
  font-size: 14px; }

.box-font-icons__activity [class^="icon-"], .box-font-icons__activity [class*=" icon-"] {
  background: #ffffff;
  border-radius: 100px;
  box-shadow: 0 2px 4px #cccccc;
  color: #999999;
  display: inline-block;
  font-size: 60px;
  height: 60px;
  margin-right: 0;
  width: 60px; }

.box-font-icons__marketing [class^="icon-"], .box-font-icons__marketing [class*=" icon-"] {
  background: #ffffff;
  border-radius: 100px;
  border: 2px solid #999999;
  color: #999999;
  display: inline-block;
  font-size: 60px;
  height: 60px;
  margin-right: 0;
  width: 60px; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

@viewport {
  width: extend-to-zoom;
  zoom: 1; }

html {
  font-family: Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #777777;
  font-size: 16px;
  font-smoothing: antialiased;
  line-height: 1.5; }

body {
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }
