.theme_ymca_2016_fall_retention {

  .viewport {
    padding-top: 0;
  }

  .content {
    background-color: $white;
  }

  @include breakpoint($mobile-tablet-portrait-only) {
    .container {
      padding: 0;
    }
  }
}
