.yfr-ticker {
  @include cachet();
  @include rem(padding, 16px 0);
  background: $red-dark-lighter;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  color: $white;
  line-height: 22px;
  font-size: 16px;
  height: 54px;
  display: none;

  @include breakpoint($tablet){
    @include rem(padding, 30px 0);
    font-size: 20px;
    height: 82px;
  }

  .item-ticker {
    @include rem(padding, 0 34px);
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    vertical-align: top;

    @include breakpoint($tablet){
      @include rem(padding, 0 68px);
    }
  }

  .content-ticker {
    @include cachet-bold();
    @include rem(padding, 0 0 0 30px);
    text-transform: uppercase;
    color: $orange-medium;
    position: relative;

    &:before {
      @include rem(width, 20px);
      @include rem(height, 20px);
      @include translateY(-50%);
      background: transparent inline-image('../prototypes/yfr/img/tabs/icon-star.svg') 50% 50% no-repeat;
      display: block;
      left: 0;
      position: absolute;
      top: 50%;
      content: '';
      @include background-size(cover);
    }

    .user {
      color: $white;
    }
  }

  .time {
    @include rem(padding, 0 14px);
    @include rem(margin, 0 0 0 16px);
    @include border-radius(3px);
    background: $red-dark3;
    text-transform: uppercase;
    font-size: 12px;
  }

  .yfr-ticker__btn {
    @include rem(width, 54px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    @include breakpoint($tablet) {
      @include rem(width, 82px);
    }

    .btn-close {

      border: none;
      text-indent: -999px;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      outline: none;
      background: $orange-medium inline-image('../prototypes/yfr/img/tabs/icon-close.svg') 50% 50% no-repeat;
      @include rem(background-size, 12px 12px);

      @include breakpoint($tablet) {
        @include rem(background-size, 18px 18px);
      }

      &:hover {
        background-color: $orange-light;
      }
    }
  }
}

.alert-active {
  .yfr-ticker {
    bottom: 52px;
  }
}
