<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="intro">
        test
      </div>
    </div>

    <div class="col-md-3">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
        <ul class="nav bs-sidenav">
          <li><a href="#intro">Introduction</a></li>
          <li><a href="#colors">Colors</a></li>
          <li><a href="#headings">Headings</a></li>
          <li>
            <a href="#typography">Typography</a>
            <ul class="nav">
              <li><a href="#typography-body">Body</a></li>
              <li><a href="#typography-bodylead">Body lead</a></li>
              <li><a href="#typography-inline">Inline elements</a></li>
              <li><a href="#typography-alignment">Alignment classes</a></li>
              <li><a href="#typography-abbreviations">Abbreviations</a></li>
              <li><a href="#typography-lists">Lists</a></li>
              <li><a href="#typography-links">Links</a></li>
              <li><a href="#typography-blockquotes">Blockquotes</a></li>
            </ul>
          </li>

          <li><a href="#icons">Icons</a></li>
          <li><a href="#nav">Navigation</a></li>
          <li><a href="#blocks">Embed blocks</a></li>
          <li><a href="#media">Embed media usage</a></li>
          <li>
            <a href="#grid">Layouts</a>
            <ul class="nav">
              <li><a href="#layouts-page">Page layouts</a></li>
              <li><a href="#layouts-content">Content layouts</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
