<footer class="footer">
  <div class="inner-footer">
    <div class="inner-footer--left">
      <div class="logo">
        <a href="#">
          <img alt="logo" src="../images/logo.svg"/>
        </a>
      </div>
      <div class="inner-footer--nav">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
              <li>
                <a href="#">programs</a>

                <ul>
                  <li><a href="#">Health &amp; Fitness</a></li>
                  <li><a href="#">Swimming</a></li>
                  <li><a href="#">Kids, Teens  &amp; Families </a></li>
                  <li><a href="#">Camps</a></li>
                  <li><a href="#">Childcare</a></li>
                  <li><a href="#">Social Responsibility</a></li>
                </ul>
              </li>
              <li><a href="#">schedules</a></li>
              <li><a href="#">locations</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
              <li><a href="#">blog</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">careers</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="#">my account</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
              <li><a href="#">give</a></li>
              <li><a href="#">volunteer</a></li>
              <li><a href="#">join the ymca</a></li>
              <li><a href="#">financial assistance</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="inner-footer--right">
      <div class="block-share">
        <ul>
          <li>
            <a class="item-share--facebook" href="#">facebook</a>
          </li>
          <li>
            <a class="item-share--twitter" href="#">twitter</a>
          </li>
          <li>
            <a class="item-share--youtube" href="#">youtube</a>
          </li>
        </ul>
      </div>

      <div class="block-subscribe">
        <h3>Sign up for email updates!</h3>
        <div class="form-item form-item-email">
          <input  type="email" value="" placeholder="Your email address:" class="form-text"/>
        </div>

        <div class="form-actions">
          <button class="button">sign up</button>
        </div>
      </div>

      <div class="block-description">
        <p>&copy; 2016 Greater Houston YMCA</p>

        <p>Our Mission: To put Judeo-Christian principles into practice through programs that build healthy spirit, mind and body for all. Everyone is Welcome.</p>
      </div>
    </div>

    <div class="inner-footer--bottom">
      <div class="col-left">
        <p>YMCA of Greater Houston | PO Box 3007 | Houston, Texas 77253 | 713-659-5566</p>
      </div>

      <div class="col-right">
        <p>A United Way Agency</p>
      </div>
    </div>
  </div>
</footer>
