<header class="header ">
  <div class="inner-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navigation"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="logo">
      <a href="#">
        <img alt="logo" src="../images/logo.svg"/>
      </a>
    </div>
    <div class="inner-header--nav">
      <div class="navigation-top">
        <div class="text">
          <p>your branch: fort bend family ymca</p>
        </div>
        <div class="navigation">
          <ul class="nav navbar-nav">
            <li><a href="#">blog</a></li>
            <li><a href="#">my account</a></li>
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                english
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">english 1</a></li>
                <li><a href="#">english 2</a></li>
                <li><a href="#">english 3</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <div id="navigation" class="navigation collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown">
              programs
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4">
                  <h3><a href="#">health &amp; fitness</a></h3>

                  <ul class="hidden-xs">
                    <li><a href="#">Group Exercise Classes</a></li>
                    <li><a href="#">Trainer-Led Classes</a></li>
                    <li><a href="#">Personal Training</a></li>
                    <li><a href="#">Diabetes Prevention</a></li>
                    <li><a href="#">Active Older Adults</a></li>
                    <li><a href="#">Weight Loss</a></li>
                    <li><a href="#">Wellness &amp; Chronic Disease Prevention</a></li>
                  </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4">
                  <h3><a href="#">swimming</a></h3>

                  <ul class="hidden-xs">
                    <li><a href="#">Swim Lessons</a></li>
                    <li><a href="#">Swim Team</a></li>
                    <li><a href="#">Certifications and Training</a></li>
                    <li><a href="#">Swim Tests, Policies and Facilities</a></li>
                    <li><a href="#">Water Safety</a></li>
                    <li><a href="#">Program</a></li>
                  </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4">
                  <h3><a href="#">kids &amp; teens activities</a></h3>

                  <ul class="hidden-xs">
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Arts</a></li>
                    <li><a href="#">Teen Leadership</a></li>
                    <li><a href="#">Family Fun &amp; Fitness</a></li>
                    <li><a href="#">Afterschool Enrichment</a></li>
                  </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4">
                  <h3><a href="#">camps</a></h3>

                  <ul class="hidden-xs">
                    <li><a href="#">Day Camp</a></li>
                    <li><a href="#">Overnight Camp</a></li>
                    <li><a href="#">Teen Wilderness</a></li>
                    <li><a href="#">Family Camp</a></li>
                  </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4">
                  <h3><a href="#">childcare</a></h3>

                  <ul class="hidden-xs">
                    <li><a href="#">Infants &amp; Toddlers</a></li>
                    <li><a href="#">Preschool</a></li>
                    <li><a href="#">Before and After-School</a></li>
                    <li><a href="#">Family Camp</a></li>
                  </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4">
                  <h3><a href="#">social services</a></h3>

                  <ul class="hidden-xs">
                    <li><a href="#">YMCA Accelerator</a></li>
                    <li><a href="#">Education &amp; Employment</a></li>
                    <li><a href="#">Mental Health &amp; Substance Abuse</a></li>
                    <li><a href="#">Housing &amp; Transistion Planning</a></li>
                    <li><a href="#">Family Support</a></li>
                    <li><a href="#">Street Outreach</a></li>
                    <li><a href="#">Leadership Development</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li><a href="#">locations</a></li>
          <li><a href="#" class="active">schedules</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">give</a></li>
          <li><a href="#">join</a></li>
          <li class="item-nav--search"><a href="#">search</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
