.color-preview,
.camp-color-preview,
.branch-color-preview {
  background-color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  overflow: hidden;
  word-wrap: break-word;
}
.color-preview-header {
  background-color: #0089d0;
  color: #ffffff;
  padding: 10px 10px 0 10px;
}
.color-preview-logo {
  background: rgba(0, 0, 0, 0) url("../logo.png") no-repeat scroll 0 0 / contain;
  height: 56px;
  margin-bottom: -20px;
  width: 72px;
}
.color-preview-menu {
  text-align: right;
}
.color-preview-menu-link {
  display: inline-block;
  margin-right: 10px;
}
.color-preview-menu-link.hover {
  background-color: #0060af;
  padding: 10px;
}
.color-preview-main-menu-link {
  display: inline-block;
  margin-right: 20px;
}
.color-preview-main-menu-link.hover {
  background-color: rgba(255, 255, 255, 0.18);
  padding: 10px;
}
.color-preview-branch-subheader {
  background-color: #c6168b;
  color: #ffffff;
  padding: 10px;
}
.color-preview-main {
  color: #636466;
  padding: 10px;
}
.color-preview-main a {
  color: #337ab7;
}
.color-preview-main h3 {
  color: #5c2e91;
}
.color-preview-main h4 {
  color: #c6168d;
}
.color-preview .preview-button {
  background-color: #00aeef;
  color: #fffffc;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 50px;
}
.color-preview-footer {
  background-color: #4f4f4f;
  color: #ffffff;
  padding: 10px;
}

/* Camp specific preview */
.camp-color-preview .color-preview-header {
  background-color: #f47920;
}
.camp-color-preview .color-preview-menu-link.hover {
  background-color: #f86b05;
}
.camp-color-preview .color-preview-campmenu {
  background-color: #0060ad;
  color: #ffffff;
}
.camp-color-preview .color-preview-campmenu .color-preview-menu-link:first-child {
  margin-left: 10px;
}
.camp-color-preview .color-preview-campmenu .hover {
  background-color: #0089d1;
}
.camp-color-preview .color-preview-main a {
  color: #01a491;
}
.camp-color-preview .preview-button {
  background-color: #2fb998;
  color: #ffffff;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 50px;
}
.camp-color-preview .color-preview-footer {
  background-color: #01a490;
}

/* Branch specific preview */
.branch-color-preview .color-preview-header {
  background-color: #f47920;
}
.branch-color-preview .color-preview-menu-link.hover {
  background-color: #f86b05;
}
.branch-color-preview .color-preview-branch-menu {
  background-color: #383838;
  color: #ffffff;
}
.branch-color-preview .color-preview-branch-menu .color-preview-menu-link:first-child {
  margin-left: 10px;
}
.branch-color-preview .color-preview-branch-menu .hover {
  background-color: #505050;
}
.branch-color-preview .color-preview-main a {
  color: #01a491;
}
.branch-color-preview .preview-button {
  background-color: #2fb998;
  color: #ffffff;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 50px;
}
.branch-color-preview .color-preview-footer {
  background-color: #01a490;
}
