.crop-wrapper {
  direction: rtl;
  display: table;
  border-top: 2px solid #cfcfcf;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
  max-width: 940px;
}

.crop-wrapper .ratio-list {
  direction: ltr;
  display: table-cell;
  width: 31%;
  min-width: 280px;
  margin-top: 0;
  margin-bottom: 25px;
  vertical-align: top;
}

.crop-wrapper .ratio-list h1 {
  padding-top: 9px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lucida Grande', sans-serif;
  color: #828282;
  margin: 0;
}

.crop-wrapper .ratio-list h1:before {
  content: "\f03a";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  padding-right: 5px;
}

.crop-wrapper .ratio-list .carousel-frame {
  padding: 0px;
  width: 100% !important;
}

.crop-wrapper .ratio-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  background-color: #f2f2f2;
  max-height: 360px;
  overflow-y: scroll;
}

.crop-wrapper .ratio-list ul li {
  border-bottom: 2px solid #dddcdd;
  transition: all 0.25s ease;
  border-collapse: separate;
}

.crop-wrapper .ratio-list ul li .edit-box {
  display: none;
}

.crop-wrapper .ratio-list ul li.saved .edit-box {
  opacity: 0;
}

.crop-wrapper .ratio-list ul li.saved a {
  background-color: #61cc86;
  transition: all 0.25s ease;
}

.crop-wrapper .ratio-list ul li.saved a:after {
  content: "\f05d";
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-size: 26px;
  padding-left: 10px;
  opacity: 1;
  transition: all 0.35s ease;
}

.crop-wrapper .ratio-list ul li.saved a:hover {
  transition: all 0.5s ease;
  background-color: #000 !important;
  color: #fff;
}

.crop-wrapper .ratio-list ul li.saved a:hover .edit-box {
  display: table-cell;
  opacity: 1;
  padding-left: 10px;
}

.crop-wrapper .ratio-list ul li.saved a:hover .rectangle,
.crop-wrapper .ratio-list ul li.saved a:hover .popin {
  transform: translateX(10px);
  transition: all 0.25s ease;
}

.crop-wrapper .ratio-list ul li.saved a:hover .edit {
  display: table-cell;
  vertical-align: middle;
}

.crop-wrapper .ratio-list ul li.saved a:hover .edit:hover {
  transition: all 0.35s ease;
  -ms-transform: rotate(20deg);
  /* IE 9 */
  -webkit-transform: rotate(20deg);
  /* Safari */
  transform: rotate(20deg);
}

.crop-wrapper .ratio-list ul li.saved a:hover .edit:before {
  content: "\f044";
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-size: 26px;
  padding-left: 10px;
}

.crop-wrapper .ratio-list ul li.saved a:hover .edit i {
  text-indent: -555em;
  display: none;
}

.crop-wrapper .ratio-list ul li.saved a:hover .delete {
  display: table-cell;
  vertical-align: middle;
}

.crop-wrapper .ratio-list ul li.saved a:hover .delete:hover {
  transition: all 0.35s ease;
  -ms-transform: rotate(20deg);
  /* IE 9 */
  -webkit-transform: rotate(20deg);
  /* Safari */
  transform: rotate(20deg);
}

.crop-wrapper .ratio-list ul li.saved a:hover .delete:before {
  content: "\f00d";
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-size: 26px;
  padding-left: 10px;
}

.crop-wrapper .ratio-list ul li.saved a:hover .delete i {
  text-indent: -555em;
  display: none;
}

.crop-wrapper .ratio-list ul li.saved a:hover:after {
  content: none;
  opacity: 0;
  transition: all 0.35s ease;
}

.crop-wrapper .ratio-list ul li.active a {
  transition: all 0.25s ease;
  background-color: #c0c0c0;
}

.crop-wrapper .ratio-list ul li.active.saved a {
  background-color: #4fa36c;
  transition: all 0.5s ease;
}

.crop-wrapper .ratio-list ul li a {
  display: table;
  transition: all 0.25s ease;
  width: 90%;
  padding: 20px 5%;
  text-decoration: none;
  color: #2a2a2a;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.crop-wrapper .ratio-list ul li a:hover {
  background-color: #dddcdd;
}

.crop-wrapper .ratio-list ul li a .rectangle {
  display: table-cell;
  transform: translateX(0px);
  transition: all 0.25s ease;
  vertical-align: middle;
  position: relative;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
}

.crop-wrapper .ratio-list ul li a .rectangle i {
  font-style: normal;
  display: block;
  border: 2px solid;
  padding: 1px;
}

.crop-wrapper .ratio-list ul li a .rectangle:before {
  content: "";
  display: block;
  height: 23px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 38px;
}

.crop-wrapper .ratio-list ul li a .popin {
  display: table-cell;
  transform: translateX(0px);
  transition: all 0.25s ease;
  padding-left: 13px;
  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
  white-space: normal;
  word-wrap: break-word;
}

.crop-wrapper .preview-wrapper-crop {
  direction: ltr;
  display: table-cell;
  padding-right: 2%;
  width: 67%;
}

.crop-wrapper .preview-wrapper-crop h2 {
  color: #828282;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.crop-wrapper .preview-wrapper-crop h2:before {
  content: "\f125";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  padding-right: 5px;
}

.crop-wrapper .preview-wrapper-crop img {
  float: left;
  margin-right: 15px;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list {
  display: none;
  position: relative;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list#crop-help {
  display: block;
  position: relative;
  border: 4px dashed rgb(180, 180, 180);
  text-align: center;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  font-size: 30px;
  border-radius: 15px;
  color: rgb(113, 113, 113);
  min-height: 303px;
  padding: 35px;
  box-sizing: border-box;
  margin-top: 21px;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list#crop-help img {
  float: right;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list#crop-help #crop-help-text {
  clear: both;
  margin: 0;
  line-height: 30px;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list .content-crop-img {
  overflow: hidden;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list .content-crop-img img {
  height: auto;
}

.crop-wrapper .preview-wrapper-crop .crop-preview-wrapper-list .content-crop-img aside {
  float: left;
}

.save-crop {
  transition: all 0.25s ease;
  border: none;
  outline: none;
  background-color: #3a5859;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-top: 15px;
  width: 100%;
  text-align: left;
  text-align: center;
}

.save-crop:hover {
  transition: all 0.25s ease;
  background-color: #446161;
}

.delete-crop {
  border: none;
  outline: none;
  background-color: #b4716d;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  width: 240px;
  text-align: left;
}

.delete-crop:hover {
  background-color: #b87874;
}
