{#
/**
 * @file
 * Default theme implementation for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 *
 * @ingroup themeable
 */
 @todo: remove this file once https://www.drupal.org/node/1819284 is resolved.
 This is identical to core/modules/system/templates/container.html.twig
#}


<label class="control-label">
  {{ attribute(element, '#title')|raw }}
  {% if attribute(element, '#title_extra') %}
  <small>
    {{ attribute(element, '#title_extra')|raw }}
  </small>
  {% endif %}
</label>
<div class="group-ex-time form-group">
  {{ element }}
</div>

