{#
/**
 * @file
 * GroupEx Pro week schedule template.
 *
 * Available variables:
 * - days: array of days with arrays of classes;
 * - pdf_href: string link to pdf file on groupex;
 *
 * @ingroup themeable
 */
#}
{% if instructor_location %}
  <div class="instructor-chosen">
    {{ instructor_location }}
  </div>
{% endif %}
<div{% if instructor_location %} class="instructor-display-mode"{% endif %}>
  {% for day, classes in days %}
    <div class="caption">
      <a class="use-ajax" href="{{ classes.date_link }}">{{ classes.day_short }}</a>
    </div>
    <div class="cards-wrapper">
      {% for class in classes.classes %}
        {{ class }}
      {% endfor %}
    </div>
  {% endfor %}
</div>
