// ICONS. 
%icons {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    @extend %icons;
  }
}


// IMPORTANT. For updating the icon lib, replace the icons code below:

.icon-minus:before {
  content: "\e60d";
}
.icon-plus:before {
  content: "\e60e";
}
.icon-menu:before {
  content: "\e60f";
}
.icon-heart-outlined:before {
  content: "\e602";
}
.icon-heart:before {
  content: "\e60b";
}
.icon-calendar:before {
  content: "\e609";
}
.icon-facebook:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e604";
}
.icon-location:before {
  content: "\e60c";
}
.icon-flickr:before {
  content: "\e600";
}
.icon-youtube:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-chevron-down:before {
  content: "\e605";
}
.icon-chevron-up:before {
  content: "\e606";
}
.icon-chevron-right:before {
  content: "\e607";
}
.icon-chevron-left:before {
  content: "\e608";
}
