.breadcrumbs {
}
.blog #content {
	width: 660px;
	float: left;
	margin-top: 0;
	padding: 10px 20px;
}
#blog_sidebar {
	width: 220px;
	float: left;
	padding: 0 20px;
}
.post_img_auth_title_section_date_time {
	margin: 0;
	padding: 10px 10px 10px 30px;
	min-height: 80px;
}