.pager {
  margin: 50px 0;
  >ul {
    float: left;
    margin: 10px 0;
    list-style: none;
    padding: 0;
    text-align: center;
    @include clearfix;
    li {
      @include cachet();
      font-size: 16px;
      @media (max-width: $screen-xs-min) {
        font-size: 12px;
      }
      display: inline;
      line-height: 17px;
      margin: 0 5px;
      text-align: center;
      font-weight: 500;
      > a,
      > span {
        width: 32px;
        height: 32px;
        display: inline-block;
        padding: 8px 0 0 0;
        background-color: $pager-bg;
        border: 1px solid $color-gray-f;
        border-radius: 0;
        @include cachet();
        text-transform: uppercase;
        color: $color-blue;
      }

      > a:hover,
      > a:focus {
        text-decoration: none;
        color: $link-hover-color;
        background-color: inherit;
      }
    }

    .pager__item--next {
      > a,
      > span {
        border: none;
        padding: 5px 0;
        width: 58px;
      }
      > a span:last-child {
        display: none;
      }
      a:after {
        font-family: FontAwesome;
        content: "\f105";
      }
    }

    .pager__item--previous {
      > a,
      > span {
        border: none;
        padding: 5px 0;
        width: 90px;
      }
      > a span:last-child {
        display: none;
      }
      a:before {
        font-family: FontAwesome;
        content: "\f104 ";
      }
    }

    .pager__item--first {
      > a,
      > span {
        display: none;
      }
    }

    .pager__item--last {
      > a,
      > span {
        display: none;
      }
    }

    .pager__item--ellipsis {
      display: none;
    }

    .is-active {
      > a,
      > span {
        color: $default-grey;
      }
    }

    .disabled {
      > a,
      > a:hover,
      > a:focus,
      > span {
        color: $pager-disabled-color;
        background-color: $pager-bg;
        cursor: $cursor-disabled;
      }
    }
  }
}

.views-element-container .pager {
  clear: both;
}
