{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% block input %}
  <div class="input-wrapper position-relative {{ attributes.offsetGet('data-drupal-selector') }}">
    <input{{ attributes.setAttribute('aria-label', element['#title']) }} />{{ children }}
  </div>
{% endblock %}
