{{ attach_library('openy_myy/openy_myy') }}
<div id="__nuxt">
  <script>window.addEventListener('error', function () {  var e = document.getElementById('nuxt-loading');  if (e) e.className += ' error';});</script>
  <div id="nuxt-loading" aria-live="polite" role="status">
    <div>Loading...</div>
  </div>
</div>
