{#
/**
 * @file
 * Advanced help block listing as block render.
 *
 * Available variables:
 * - render_type: block or message.
 * - blocks: array of blocks. Contains title, descritpion and youtube_link:
 *
 *
 * @see advanced_help_block_help()
 *
 */
#}

{{ attach_library('advanced_help_block/ahb_modal') }}
{% if render_type is defined %}
    {% if blocks is defined and blocks|length > 0 %}
        <div id="block-help" role="complementary" class="block block-help block-help-block">
            {% if render_type == 'block' %}
                {% for block in blocks %}
                    {% if block.title is defined %}
                        <strong>{{ block.title }}</strong>
                    {% endif %}
                    {% if block.description is defined %}
                        {% autoescape %}
                            {{ block.description|raw }}
                        {% endautoescape %}
                    {% endif %}
                    {% if block.youtube_link is defined %}
                        <p> {{ block.youtube_link }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endif %}
