.openy-digital-signage-block-html {
  height: 100%;
  margin: 0;
  padding: 0;

  .block-background-image {
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding: 5%;
  }
}
