a:focus,
.dropdown-toggle:focus,
.carousel-control:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
.slick-arrow:focus:before,
.navbar-toggle:focus {
  outline: 5px auto $bright-green;
}

.focusable.skip-link:focus {
  position: fixed !important;
  top: 0;
}
