a:focus,
input:focus,
select:focus,
textarea:focus,
.dropdown-toggle:focus,
.carousel-control:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
.form-control:focus,
.slick-arrow:focus:before,
.navbar-toggle:focus {
  border-color: $bright-green;
  box-shadow: 0 0 0 5px $bright-green;
  outline: none !important;
}

.focusable.skip-link:focus {
  position: fixed !important;
  top: 0;
}
