a:focus,
input:focus,
select:focus,
textarea:focus,
.dropdown-toggle:focus,
.carousel-control:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
.form-control:focus,
.slick-arrow:focus:before,
.navbar-toggle:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px $bright-green;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  box-shadow: 0px 0px 3px 3px $bright-green;
  outline: none;
}

.focusable.skip-link:focus {
  position: fixed !important;
  top: 0;
}
