.ui-autocomplete {
  width: 90%;
  overflow-y: scroll;
  height: 200px;
}

.ui-autocomplete li.ui-menu-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ui-autocomplete li.ui-menu-item hr {
  display: none;
}
