<div class="compain-content-bonus">
  <p><b data-ng-bind-html="retentionC.daysLeftMessage()"></b></p>
  <p>{{ 'Not available yet,<br>the challenge will start soon.'|t }}</p>
  <a class="btn btn-lg btn-primary compain-green" data-dismiss="modal" href="#">{{ 'OK'|t }}</a>
</div>
