/**
 * @file
 * Stylesheet for Panelizer IPE customizations.
 */

.panelizer-ipe-save-button {
  display: inline-block;
  margin: 10px;
}

.ipe-icon.ipe-icon-revert:before {
  /* @todo: Make a new icon for revert! */
  content: "\e90a";
}

/* Show the cancel title so it easier to tell the difference from revert. */
[data-tab-id="cancel"] .ipe-tab-title {
  display: inline;
}

