{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
<ul{{ attributes.addClass('my-3 d-flex align-items-center') }}>
  <li class="pager__item load_more_button m-auto">
    <a class="btn btn-primary btn-lg" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text }}</a>
  </li>
</ul>
{% endif %}
