{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="container">
    {% if form.messages is defined %}
      <div class="row form-message">
          {{ form.messages }}
      </div>
    {% endif %}
  <div class="form-items campaign-register-form">
    <div class="row">
        {{ form.membership_id }}
      <div class="form-btn">
          {{ form.submit }}
      </div>
    </div>
    {{ form|without('membership_id', 'submit', 'messages') }}
  </div>
</div>