.ng-hide {
  display: none !important;
}

.viewport {
  padding-top: 0;
}

.top-nav {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.top-nav .back-link {
  font-family: "Cachet",Arial,sans-serif;
  font-weight: bold;
  padding: 24px 20px 24px 37px;
  padding: 2.4rem 2rem 2.4rem 3.7rem;
  line-height: 21px;
  line-height: 2.1rem;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  position: relative;
}
@media (min-width: 48em) {
  .top-nav .back-link {
    margin-top: 15px;
    margin-top: 1.5rem;
  }
}
.top-nav .back-link:before {
  height: 9px;
  height: 0.9rem;
  margin-left: -17px;
  margin-left: -1.7rem;
  margin-top: -5px;
  margin-top: -0.5rem;
  width: 11px;
  width: 1.1rem;
  background-image: url(../prototypes/yfr/img/hero/back-arrow.png);
  background-size: cover;
  content: ' ';
  position: absolute;
  top: 50%;
}
.top-nav .ysr-menu {
  padding: 24px 20px;
  padding: 2.4rem 2rem;
  display: inline-block;
  float: right;
  list-style: none;
  margin: 0;
}
@media (min-width: 48em) {
  .top-nav .ysr-menu {
    float: none;
    margin-top: 15px;
    margin-top: 1.5rem;
  }
}
.top-nav .ysr-menu li a {
  font-family: "Cachet",Arial,sans-serif;
  font-weight: normal;
  line-height: 21px;
  line-height: 2.1rem;
  color: #fcaf17;
  font-size: 18px;
}

.hero-section {
  height: 270px;
  height: 27rem;
  background-color: #804114;
  position: relative;
}
@media (min-width: 48em) {
  .hero-section {
    height: 600px;
    height: 60rem;
  }
}
.hero-section:before {
  background-image: linear-gradient(to bottom, #6d4446, rgba(109, 68, 70, 0));
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}
.hero-section__background {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.hero-section__background img {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: auto;
}
@media (min-width: 34.375em) {
  .hero-section__background img {
    height: auto;
    width: 100%;
  }
}
.hero-section__content {
  padding-top: 84px;
  padding-top: 8.4rem;
  position: relative;
  z-index: 102;
}
@media (min-width: 48em) {
  .hero-section__content {
    padding-top: 120px;
    padding-top: 12rem;
  }
}
@media (min-width: 62em) {
  .hero-section__content {
    padding-top: 300px;
    padding-top: 30rem;
  }
}
.hero-section__logo {
  height: 103px;
  height: 10.3rem;
  width: 178px;
  width: 17.8rem;
  background-image: url(../prototypes/yfr/img/hero/logo.png);
  background-size: cover;
  margin: auto;
}
@media (min-width: 48em) {
  .hero-section__logo {
    height: 190px;
    height: 19rem;
    width: 390px;
    width: 39rem;
    background-image: url(../prototypes/yfr/img/hero/logo-large.png);
  }
}
@media (min-width: 62em) {
  .hero-section__logo {
    float: right;
    margin: 0;
  }
}
.hero-section__slogan, .hero-section__date {
  font-family: "Cachet",Arial,sans-serif;
  font-weight: bold;
  line-height: 25px;
  line-height: 2.5rem;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .hero-section__slogan, .hero-section__date {
    line-height: 45px;
    line-height: 4.5rem;
  }
}
@media (min-width: 62em) {
  .hero-section__slogan, .hero-section__date {
    text-align: left;
  }
}
.hero-section__slogan {
  color: #fff;
}
@media (min-width: 48em) {
  .hero-section__slogan {
    margin-top: 75px;
    margin-top: 7.5rem;
    font-size: 50px;
    letter-spacing: -0.7px;
  }
}
.hero-section__date {
  color: #fcaf17;
}
@media (min-width: 48em) {
  .hero-section__date {
    padding-top: 4px;
    padding-top: 0.4rem;
    font-size: 40px;
    letter-spacing: -0.8px;
  }
}

.ysr-user-menu {
  background-color: #a92b31;
  padding: 17px 20px;
  padding: 1.7rem 2rem;
  height: 55px;
  height: 5.5rem;
}
.ysr-user-menu__greetings {
  font-family: "Cachet",Arial,sans-serif;
  font-weight: normal;
  line-height: 21px;
  line-height: 2.1rem;
  padding-left: 30px;
  padding-left: 3rem;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  position: relative;
}
.ysr-user-menu__greetings:before {
  height: 21px;
  height: 2.1rem;
  width: 21px;
  width: 2.1rem;
  background-image: url(../prototypes/yfr/img/hero/user-icon.png);
  background-size: cover;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
}
.ysr-user-menu__logout {
  padding-left: 20px;
  padding-left: 2rem;
  display: inline-block;
  float: right;
}
.ysr-user-menu__logout a {
  font-family: "Cachet",Arial,sans-serif;
  font-weight: normal;
  line-height: 21px;
  line-height: 2.1rem;
  color: #fcaf17;
  font-size: 18px;
}
@media (min-width: 48em) {
  .ysr-user-menu {
    top: 15px;
    top: 1.5rem;
    padding: 24px 20px;
    padding: 2.4rem 2rem;
    background: none;
    position: absolute;
    right: 0;
    z-index: 101;
  }
}

/*# sourceMappingURL=yfr.css.map */
