@charset "UTF-8";
.nav-global.navbar-default.navbar {
  display: none;
  top: 0 !important;
}

#page-head,
.breadcrumb-container {
  display: none !important;
}

#sidebar {
  border-right: 0;
}

.viewport {
  background: #fff;
  padding-top: 0;
}

#main {
  margin-top: 0;
}

.page-middle .content {
  padding-top: 0;
  padding-bottom: 0;
}

#top-nav {
  background-color: #5c2e91;
  height: 72px;
  line-height: 72px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#top-nav ul {
  float: right;
  height: auto !important;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  #top-nav ul.collapse {
    display: block;
  }
}
#top-nav ul li {
  display: inline-block;
  line-height: 71px;
}
#top-nav ul li a {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 0 25px;
  font-family: "Cachet", Arial, sans-serif;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
#top-nav ul li a:hover {
  background-color: #92278f;
  text-decoration: none;
}
@media screen and (max-width: 860px) and (min-width: 768px) {
  #top-nav ul li a {
    font-size: 15px;
    padding: 0 5px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 861px) {
  #top-nav ul li a {
    font-size: 17px;
    padding: 0 8px;
  }
}
@media screen and (max-width: 767px) {
  #top-nav ul {
    background-color: #5c2e91;
    padding: 0;
    position: absolute;
    width: 80%;
  }
  #top-nav ul li {
    display: block;
  }
  #top-nav ul li a {
    display: block;
  }
  #top-nav ul.open {
    left: 20%;
  }
}
@media screen and (max-width: 767px) {
  #top-nav .navbar-toggle {
    float: right;
    margin-bottom: 18px;
    margin-top: 18px;
  }
  #top-nav .navbar-toggle .icon-bar {
    height: 4px;
    border-radius: 4px;
    background: #8b6ab0;
  }
  #top-nav .navbar-toggle:hover {
    background: #8b6ab0;
  }
  #top-nav .navbar-toggle:hover .icon-bar {
    background: #5c2e91;
  }
  #top-nav .ysr-menu {
    left: 20%;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  #top-nav .ysr-menu.collapsing {
    left: 100%;
  }
}
#top-nav .back-link {
  background-color: #92278f;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-top: 0;
  padding: 0 30px;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
@media screen and (max-width: 860px) and (min-width: 768px) {
  #top-nav .back-link {
    font-size: 15px;
  }
}
#top-nav .back-link:hover {
  background-color: #9e3a9b;
  text-decoration: none;
}
#top-nav .back-link .glyphicon {
  font-size: 12px;
  margin-right: 5px;
}

.btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.btn.blue {
  background-color: #0060af;
}
.btn.blue:hover {
  background-color: #1370bd;
}
.btn.blue-medium {
  background-color: #0089d0;
}
.btn.blue-medium:hover {
  background-color: #169bde;
}
.btn.orange {
  background-color: #f47920;
}
.btn.orange:hover {
  background-color: #f47920;
}
.btn.orange-light {
  background-color: #fcaf17;
}
.btn.orange-light:hover {
  background-color: #fcaf17;
}
.btn.purple-medium {
  background-color: #92278f;
}
.btn.purple-medium:hover {
  background-color: #9e3a9b;
}
.btn.green {
  background-color: #00aa95;
}
.btn.green:hover {
  background-color: #12b8a4;
}

#hero-section {
  background-color: #2a193b;
  position: relative;
  padding: 107px 0 0 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  margin-top: 72px;
}
#hero-section:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.47;
  background-image: url("../prototypes/ysr/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#hero-section.hero-1:before {
  background-image: url("../prototypes/ysr/img/hero-bg.jpg");
}
#hero-section.hero-2:before {
  background-image: url("../prototypes/ysr/img/ysr_hero2.png");
  opacity: 1;
}
#hero-section.hero-3:before {
  background-image: url("../prototypes/ysr/img/ysr_hero3.png");
  opacity: 1;
}
@media screen and (max-width: 767px) {
  #hero-section {
    padding-top: 57px;
  }
}
#hero-section .shape-container {
  height: 80.6rem;
  overflow: hidden;
  position: absolute;
  top: 181px;
  width: 100%;
  z-index: 2;
}
#hero-section .shape-container .shape {
  position: absolute;
  top: 0;
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}
#hero-section .shape-container .shape-1 {
  background-image: url(../prototypes/ysr/img/shape-layer-1.png);
}
#hero-section .shape-container .shape-2 {
  background-image: url(../prototypes/ysr/img/shape-layer-2.png);
}
#hero-section .shape-container .shape-3 {
  background-image: url(../prototypes/ysr/img/shape-layer-3.png);
}
#hero-section.shifted-layers .shape-2 {
  opacity: 0.5;
}
#hero-section.shifted-layers .shape-3 {
  opacity: 0.5;
}
#hero-section img {
  width: 100%;
}
#hero-section .logo {
  background: url("../img/march/ymca-white-logo.png") no-repeat center top;
  background-size: contain;
  height: 111px;
  margin: 0 auto 67px;
}
@media (max-width: 767px) {
  #hero-section .logo {
    height: 72px;
    margin: 0 auto 40px;
  }
}
#hero-section .container {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3;
}
#hero-section h1 {
  color: #fff;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 100px;
  margin-bottom: 16px;
  margin-top: 18px;
}
#hero-section h1 .gold {
  color: #fcaf17;
}
@media (max-width: 767px) {
  #hero-section h1 {
    font-size: 50px;
    letter-spacing: -0.3px;
    line-height: 50px;
    margin-top: 12px;
  }
}
#hero-section .date {
  color: #fff;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 31px;
  letter-spacing: -0.8px;
  line-height: 31px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #hero-section .date {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.6px;
  }
}

#main-description-individual .wrap {
  height: 100px;
  line-height: 100px;
}
#main-description-individual .wrap img {
  height: 100%;
}

#register-and-report {
  position: relative;
  overflow: hidden;
  z-index: 3;
}
#register-and-report p {
  color: #c9c9c9;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-top: 40px;
}
#register-and-report .btn {
  background-image: none;
  font-size: 21px;
  letter-spacing: -0.8px;
  line-height: 23px;
  width: 100%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#register-and-report input {
  width: 100%;
}
#register-and-report input[type="text"] {
  border: none;
  color: #424242;
  font-size: 14px;
  height: 47px;
  line-height: 47px;
  padding: 0 25px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#register-and-report input[type="text"]:-moz-placeholder {
  font-style: italic;
  color: #a7a7a7;
}
#register-and-report input[type="text"]::-moz-placeholder {
  font-style: italic;
  color: #a7a7a7;
}
#register-and-report input[type="text"]:-ms-input-placeholder {
  font-style: italic;
  color: #a7a7a7;
}
#register-and-report input[type="text"]::-webkit-input-placeholder {
  font-style: italic;
  color: #a7a7a7;
}
#register-and-report input[type="submit"] {
  min-width: 120px;
}
@media (max-width: 767px) {
  #register-and-report input {
    margin-bottom: 10px;
  }
  #register-and-report input[type="submit"] {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }
}
#register-and-report .icon-back {
  display: block;
  height: 47px;
  width: 47px;
  background-image: url(../prototypes/ysr/img/arrow-back.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 767px) {
  #register-and-report .icon-back {
    height: 161px;
  }
}
#register-and-report .register-or-report {
  height: 338px;
}
@media screen and (min-width: 768px) {
  #register-and-report .register-or-report .buttons {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
#register-and-report .register-or-report .track-activity-btn {
  justify-content: space-between;
}
@media (max-width: 370px) {
  #register-and-report .register-or-report .track-activity-btn {
    letter-spacing: -2.5px;
  }
}
@media (max-width: 440px) {
  #register-and-report .register-or-report .track-activity-btn {
    letter-spacing: -2px;
  }
}
@media (min-width: 768px) and (max-width: 825px) {
  #register-and-report .register-or-report .track-activity-btn {
    letter-spacing: -2.5px;
  }
}
@media (min-width: 826px) and (max-width: 880px) {
  #register-and-report .register-or-report .track-activity-btn {
    letter-spacing: -1.5px;
  }
}
#register-and-report .registration .registration-form {
  padding-bottom: 35px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #register-and-report .registration .registration-form {
    margin: auto;
    max-width: 900px;
    padding-bottom: 40px;
  }
}
#register-and-report .registration .access-help {
  text-align: center;
}
#register-and-report .registration .access-help.open .access-question {
  opacity: 0;
  z-index: 0;
}
#register-and-report .registration .access-help.open .access-question a {
  display: none;
}
#register-and-report .registration .access-help.open .access-answer {
  display: block;
  opacity: 1;
  padding-bottom: 310px;
  z-index: 2;
}
#register-and-report .registration .access-help.open .access-answer .hand {
  height: 287px;
  margin-left: -333px;
}
@media (max-width: 767px) {
  #register-and-report .registration .access-help.open .access-answer .hand {
    margin-left: -183px;
  }
}
#register-and-report .registration .access-help p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
#register-and-report .registration .access-help .access-question {
  left: 0;
  opacity: 1;
  padding-bottom: 35px;
  position: absolute;
  width: 100%;
  z-index: 1;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#register-and-report .registration .access-help .access-question p {
  text-align: center;
}
#register-and-report .registration .access-help .access-question .where-can-i-find {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 7px;
  text-decoration: none;
}
@media (max-width: 767px) {
  #register-and-report .registration .access-help .access-question .where-can-i-find {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 6px;
  }
}
#register-and-report .registration .access-help .access-answer {
  opacity: 0;
  padding-bottom: 25px;
  -moz-transition: padding-bottom 0.5s, opacity 0.3s;
  -o-transition: padding-bottom 0.5s, opacity 0.3s;
  -webkit-transition: padding-bottom 0.5s, opacity 0.3s;
  transition: padding-bottom 0.5s, opacity 0.3s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#register-and-report .registration .access-help .access-answer p {
  color: #fff;
  font-size: 18px;
  margin: 0;
}
@media (max-width: 767px) {
  #register-and-report .registration .access-help .access-answer p {
    font-size: 16px;
  }
}
#register-and-report .registration .access-help .access-answer p.note {
  font-size: 15px;
}
@media (max-width: 767px) {
  #register-and-report .registration .access-help .access-answer p.note {
    font-size: 14px;
  }
}
#register-and-report .registration .access-help .access-answer .hand {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 28.7px;
  width: 666px;
  margin-left: -33px;
  background-image: url(../prototypes/ysr/img/hand.png);
  background-size: contain;
  background-repeat: no-repeat;
  -moz-transition: height 0.5s, margin-left 0.5s;
  -o-transition: height 0.5s, margin-left 0.5s;
  -webkit-transition: height 0.5s, margin-left 0.5s;
  transition: height 0.5s, margin-left 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
@media (max-width: 767px) {
  #register-and-report .report .icon-back {
    height: 101px;
  }
}
@media screen and (min-width: 768px) {
  #register-and-report .report .report-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
}
#register-and-report.slides {
  position: relative;
  width: 200%;
}
#register-and-report.slides .slide {
  float: left;
  padding: 80px 0 0 0;
  position: relative;
  width: 50%;
}
#register-and-report.slides .slide.slide-inactive {
  display: none;
}

#leaderboard {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  #leaderboard {
    padding-top: 100px;
  }
}
#leaderboard .col-xs-12 {
  text-align: center;
}
#leaderboard .wrap {
  height: 52px;
  line-height: 52px;
}
#leaderboard .wrap img {
  height: 100%;
}
#leaderboard h2 {
  color: #c6168d;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.8px;
  margin: 22px 0 50px;
  text-transform: uppercase;
}
#leaderboard .leaderboard-form {
  text-align: center;
}
#leaderboard #leaderboard-location {
  max-width: 380px;
  margin: auto;
}
#leaderboard .pager .load-more {
  color: #c6168d;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.8px;
  margin: auto;
  text-transform: uppercase;
}

#main-description-individual {
  padding: 80px 0 60px;
}
#main-description-individual .col-xs-12 {
  text-align: center;
  padding: 0 50px;
}
#main-description-individual h2 {
  color: #f47920;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.8px;
  margin: 40px 0 15px;
  text-transform: uppercase;
}
#main-description-individual p {
  color: #777777;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: -0.8px;
  line-height: 25px;
  margin-bottom: 35px;
}
#main-description-individual p span {
  color: #424242;
}
#main-description-individual p.other-winners {
  color: #a7a7a7;
}
#main-description-individual .your-prize {
  border: 2px solid #fbae1f;
  border-radius: 2px;
  max-width: 380px;
  margin: 75px auto 25px;
  font-weight: bold;
  color: #f37823;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 50px 20px;
  position: relative;
}
#main-description-individual .your-prize img {
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: -22px;
}

#prizes {
  background: url("../img/prizes_bg.png") no-repeat center 0;
  background-size: cover;
  padding: 95px 0 30px;
}
#prizes .grand-prize {
  background: url("../img/winners_grand_prize_title.png") no-repeat center 0;
  padding: 48px 0 0;
  margin-bottom: 100px;
}
#prizes .grand-prize p {
  color: #777;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-family: "Cachet", Arial, sans-serif;
  margin-bottom: 0;
}
#prizes .grand-prize .col-sm-6 .inner {
  background: #fff url("../img/winners_tickets.png") no-repeat 35px 26px;
  padding: 25px 20px 25px 133px;
  font-family: "Cachet", Arial, sans-serif;
  margin-bottom: 30px;
}
#prizes .grand-prize .winner {
  color: #c6188b;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#prizes .grand-prize .name {
  color: #5c2d8f;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
#prizes .grand-prize .id {
  color: #424242;
  font-size: 15px;
  font-weight: bold;
}
#prizes .grand-prize .location-line {
  color: #777;
  font-size: 15px;
}
#prizes .grand-prize .location-line span {
  color: #c6188b;
  margin-right: 4px;
}
#prizes .first-prize {
  background: url("../img/first_prize_title.png") no-repeat center 0;
  padding: 40px 0 0;
  font-family: "Cachet", Arial, sans-serif;
}
#prizes .first-prize p {
  color: #777;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 0;
}
#prizes .first-prize p:first-child {
  color: #000;
}
#prizes .first-prize .titles {
  margin: 27px 0 15px;
}
#prizes .first-prize .card-1 .inner {
  background: #fff url("../img/first_prize_1.png") no-repeat 35px 36px;
  padding: 25px 20px 25px 133px;
  margin-bottom: 30px;
}
#prizes .first-prize .card-2 .inner {
  background: #fff url("../img/first_prize_2.png") no-repeat 34px 25px;
  padding: 25px 20px 25px 133px;
  margin-bottom: 30px;
}
#prizes .first-prize .winner {
  color: #f47920;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#prizes .first-prize .name {
  color: #ec1d24;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
#prizes .first-prize .id {
  color: #424242;
  font-size: 15px;
  font-weight: bold;
}
#prizes .first-prize .location-line {
  color: #777;
  font-size: 15px;
}
#prizes .first-prize .location-line span {
  color: #f05923;
  margin-right: 4px;
}

#more-prizes {
  padding: 95px 0 30px;
  background: #fff;
}

#prizes .container, #more-prizes .container {
  padding: 0 15px;
  max-width: 790px;
}

#second-prize {
  background: url("../img/winners_2nd_prize_title.png") no-repeat center 0;
  padding: 40px 0 0;
  margin: 0;
  font-family: "Cachet", Arial, sans-serif;
}

#third-prize {
  background: url("../img/winners_3rd_prize_title.png") no-repeat center 0;
  padding: 40px 0 0;
  margin: 100px 0 100px;
  font-family: "Cachet", Arial, sans-serif;
}

.second-third-prizes-wrapper .container {
  padding: 0 15px;
  max-width: 790px;
}

.second-third-prizes-wrapper .sub-title {
  color: #777;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 0;
  padding: 20px 0;
}

.second-third-prizes-wrapper .form-select {
  max-width: 380px;
  margin: 60px auto;
  font-size: 14px;
  height: 50px;
}

.results-table-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.results-table {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 850px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .results-table td.member-id, .results-table th.member-id {
    display: none;
  }
}
.results-table thead th {
  color: #a7a7a7;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .results-table thead th {
    padding-bottom: 30px;
  }
}
.results-table thead th:first-child {
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .results-table thead th:first-child {
    padding-left: 0;
  }
}
.results-table thead th a {
  color: inherit;
}
.results-table thead th a.sort-link {
  display: block;
  position: relative;
}
.results-table thead th a.sort-link.active, .results-table thead th a.sort-link:hover {
  text-decoration: none;
}
.results-table thead th a.sort-link.active.swimming, .results-table thead th a.sort-link:hover.swimming {
  color: #00aeef;
}
.results-table thead th a.sort-link.active.fitness, .results-table thead th a.sort-link:hover.fitness {
  color: #fcaf17;
}
.results-table thead th a.sort-link.active.group-exercise, .results-table thead th a.sort-link:hover.group-exercise {
  color: #f47920;
}
.results-table thead th a.sort-link.active.visits, .results-table thead th a.sort-link:hover.visits {
  color: #c6168d;
}
.results-table thead th a.sort-link.active:after, .results-table thead th a.sort-link:hover:after {
  content: "\xE2";
  display: block;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  left: 50%;
  margin-left: -6.5px;
  margin-top: 63px;
  top: 0;
  position: absolute;
}
.results-table thead th a.sort-link:before {
  background-size: contain;
  content: " ";
  display: block;
  height: 31px;
  margin: auto;
  position: relative;
  width: 35px;
}
.results-table thead th a.sort-link.swimming:before {
  background-image: url("../prototypes/ysr/img/l-swimming.png");
}
.results-table thead th a.sort-link.fitness:before {
  background-image: url("../prototypes/ysr/img/l-fitness.png");
}
.results-table thead th a.sort-link.group-exercise:before {
  background-image: url("../prototypes/ysr/img/l-group-exercise.png");
}
.results-table thead th a.sort-link.visits:before {
  background-image: url("../prototypes/ysr/img/l-visits.png");
}
.results-table tbody tr .member-id {
  font-size: 13px;
  color: #777777;
  font-weight: normal;
}
.results-table tbody tr .name, .results-table tbody tr .member-id {
  font-family: "Cachet", Arial, sans-serif;
}
.results-table tbody tr td {
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .results-table tbody tr td {
    vertical-align: middle;
  }
}
.results-table tbody tr td.number {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.results-table tbody tr td.number, .results-table tbody tr td.name, .results-table tbody tr td.member-id {
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .results-table tbody tr td.number, .results-table tbody tr td.name, .results-table tbody tr td.member-id {
    padding-left: 30px;
  }
}
.results-table tbody tr td.name .member-id {
  display: block;
}
@media screen and (min-width: 768px) {
  .results-table tbody tr td.name .member-id {
    display: none;
  }
}
.results-table tbody tr td.activity-count {
  color: #ac99ca;
  font-weight: bold;
  text-align: center;
  width: 100px;
}
.results-table tbody tr td:last-child {
  color: #c6168d;
}
.results-table tbody tr:first-child {
  border-top: solid 1px #f3f3f3;
}
.results-table tbody tr:last-child {
  border-bottom: solid 1px #f3f3f3;
}
.results-table tbody tr:nth-child(1), .results-table tbody tr:nth-child(2), .results-table tbody tr:nth-child(3) {
  background-color: #fcfcfc;
}
.results-table tbody tr:nth-child(1) td.number, .results-table tbody tr:nth-child(2) td.number, .results-table tbody tr:nth-child(3) td.number {
  color: #fcaf17;
  font-weight: bold;
}
.results-table tbody tr:nth-child(1) td.name, .results-table tbody tr:nth-child(2) td.name, .results-table tbody tr:nth-child(3) td.name {
  color: #f47920;
}
.results-table tbody tr:nth-child(3) td, .results-table tbody tr:last-child td {
  padding-bottom: 38px;
}
.results-table tbody tr:nth-child(1) td, .results-table tbody tr:nth-child(4) td {
  padding-top: 38px;
}
.results-table tbody td {
  color: #777;
  font-family: "Cachet", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 15px 5px;
  text-align: left;
  white-space: nowrap;
}
.results-table tbody td:first-child {
  color: #424242;
}
.results-table tbody td.name {
  color: #00aa95;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.results-table tbody .even td {
  background-color: #f9f9f9;
}

#second-prize .results-table td.name {
  width: 55%;
}
#second-prize .results-table td:first-child {
  width: 30%;
  color: #777;
  font-size: 15px;
}

#third-prize .results-table td.name {
  color: #0889cd;
}

@media screen and (max-width: 767px) {
  #main-description {
    padding: 30px 0;
  }

  #main-description p br {
    display: none;
  }

  #main-description h2 {
    margin: 10px 0 20px;
  }

  #prizes {
    padding: 30px 0 0;
  }

  #prizes .grand-prize {
    margin-bottom: 50px;
  }

  #second-prize,
  #third-prize {
    margin: 50px 0;
  }

  .results-table {
    margin-bottom: 0;
  }
}
select.form-control.default {
  font-style: italic;
  color: #a7a7a7;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../prototypes/ysr/fonts/slick.eot");
  src: url("../prototypes/ysr/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../prototypes/ysr/fonts/slick.woff") format("woff"), url("../prototypes/ysr/fonts/slick.ttf") format("truetype"), url("../prototypes/ysr/fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
.slick-next:before {
  content: '→';
}

/* Dots */
.slick-slider {
  margin-bottom: 0;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .slick-slider {
    margin-top: 160px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 0 15px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 23px;
  height: 23px;
  padding: 15px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 23px;
  line-height: 23px;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 1px #231f20;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

#slider .slider .slick-slide {
  position: relative;
  overflow: hidden;
}
#slider .slider .slick-slide .slider-item__image {
  position: relative;
  height: 667px;
}
@media screen and (min-width: 48rem) {
  #slider .slider .slick-slide .slider-item__image {
    height: 60rem;
  }
}
@media screen and (min-width: 87.5rem) {
  #slider .slider .slick-slide .slider-item__image {
    height: 83rem;
  }
}
@media screen and (min-width: 120rem) {
  #slider .slider .slick-slide .slider-item__image {
    height: 110rem;
  }
}
#slider .slider .slick-slide .slider-item__image:before {
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#slider .slider .slick-slide .slider-item__image img {
  display: block;
  height: 100%;
  left: 50%;
  max-width: none;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#slider .slider .slick-slide .slider-item__content {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  left: 50%;
  padding: 0 1.5rem;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
#slider .slider .slick-slide .slider-item__highlight,
#slider .slider .slick-slide .slider-item__title {
  color: #fff;
  font-family: "Cachet", Arial, sans-serif;
  font-weight: bold;
  line-height: 4rem;
  text-transform: uppercase;
}
@media screen and (min-width: 76.8rem) {
  #slider .slider .slick-slide .slider-item__highlight,
  #slider .slider .slick-slide .slider-item__title {
    line-height: 6rem;
  }
}
#slider .slider .slick-slide .slider-item__title {
  font-size: 3rem;
}
@media screen and (min-width: 76.8rem) {
  #slider .slider .slick-slide .slider-item__title {
    font-size: 3.5rem;
  }
}
#slider .slider .slick-slide .slider-item__highlight {
  font-size: 4rem;
}
@media screen and (min-width: 76.8rem) {
  #slider .slider .slick-slide .slider-item__highlight {
    font-size: 5rem;
  }
}
#slider .slider .slick-slide .slider-item__button {
  margin-top: 6rem;
}
#slider .slider .slick-slide .slider-item__button .btn {
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#slider .slider .slick-slide.blue-overlay .slider-item__image:before {
  background: rgba(23, 67, 104, 0.7);
}
#slider .slider .slick-slide.blue-overlay .slider-item__title {
  color: #84d8f8;
}
#slider .slider .slick-slide.purple-overlay .slider-item__image:before {
  background: rgba(88, 19, 85, 0.7);
}
#slider .slider .slick-slide.purple-overlay .slider-item__title {
  color: #e2a2cc;
}
#slider .slider .slick-slide.green-overlay .slider-item__image:before {
  background: rgba(8, 66, 66, 0.7);
}
#slider .slider .slick-slide.green-overlay .slider-item__title {
  color: #93c6c2;
}

/*# sourceMappingURL=ysr.css.map */
