.paragraph--type--lto {
  background-color: $dark-blue;
  padding: 20px 0;

  .field-lto-title {
    @include cachet();
    color: $white;
    font-size: 24px;

    @include breakpoint(mobileonly) {
      margin: 0 0 0px 10px;
    }
  }

  .field-lto-subtitle {
    @include cachet();
    color: $white;
    font-size: 20px;

    @media (max-width: $screen-sm) {
      padding-bottom: 14px;
    }

    @include breakpoint(mobileonly) {
      margin: 0 0 0 10px;
    }
  }

  @media  (min-width: $screen-sm) and (max-width: $screen-desktop) {
    .block--subtitle {
      clear: both;
    }
    .block--btn {
      display: inline-block;
      float: none;
      padding: 25px 20px 0 20px;
    }
  }

  .btn {
    white-space: normal;
    font-size: 20px;
    padding: 0;
    width: 100%;
    background: white;
    a {
      display: block;
      padding: 12px;
      color: $color-blue;
      @include cachet-medium();
      text-transform: uppercase;
    }
  }
}
