.block-cta {
  margin: 0 auto;
  max-width: 556px;
  padding: 0 10px 49px;

  &__content {
    padding-bottom: 24px;
  }

  &__img {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    line-height: 0;
  }

  &--image--left {
    .block-cta__img {
      padding-bottom: 29px;
    }

    .block-cta__title {
      margin-bottom: 0;
      padding-bottom: 8px;
    }

    .block-cta__body {
      vertical-align: top;
      padding-left: 30px;
    }
  }

  &--grid {
    .block-cta__title {
      margin-bottom: 0;
      padding-bottom: 8px;
    }
  }

  &__table {
    tr {
      background: transparent !important;
      td {
        padding: 0;
        vertical-align: top;
      }
    }
  }
}

