.block-grid {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;

  table tr {
    background: transparent;
  }

  .padding {
    min-height: 50px;
    padding: 0 15px;
    vertical-align: top;
    width: 50%;
  }
}
