.block-body {
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;

  .bg-gray {
    background-color: $gray-42;
    overflow: hidden;
  }

  .line-height-none {
    line-height: 1px;

    div {
      line-height: 1.5;
    }
  }

  .block-body__content {
    margin: 0 auto;
    width: 100%;
    max-width: 540px;

    table {
      margin: 0 auto;
    }
  }

  tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }

  &__header {
    background-color: $gray-42;
    //background-image: url('https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title1.png'), url('https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title3.png');
    background-position: center left, center right;
    background-repeat: no-repeat;
    color: $white;
    font-family: "Arial Black";
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle;

    img {
      height: auto;
      margin-right: 15px;
      vertical-align: sub;
      width: 32px;
    }

    td,
    tr {
      font-size: 18px;
      vertical-align: middle;
      margin: 0;
      border: 0;
      padding: 0;
    }
  }

  &__item {
    &__content {
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;

      div {
        margin: 0 auto 15px;
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .border-bottom {
    border-bottom: 1px solid $gray-f0;
  }

  .height-img {
    height: 102%;
    width: 65px;
  }
}
