.block-body {
  padding-left: 10px;
  padding-right: 10px;

  &__title {
    background-color: $gray-42;
    box-sizing: border-box;
    color: $white;
    font-family: "Arial Black";
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    width: 100%;

    img {
      height: auto;
      padding-right: 15px;
      vertical-align: sub;
      width: 32px;
    }
  }

  &__item {
    border-bottom: 1px solid $gray-f0;
    margin-bottom: 30px;
    padding-bottom: 20px;

    &__content {
      margin: 0 auto 15px;
      max-width: 456px;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__table {
    border-spacing: 0;
    border: 0;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
    line-height: 0;
    padding: 0;

    tr {
      background-color: transparent;
      border-collapse: collapse;
      padding: 0;

      td {
        vertical-align: middle;
        border-spacing: 0;
        border: 0;
        border-collapse: collapse;
        padding: 0;
      }
    }
  }
}
