.block-hero {
  position: relative;
  margin-bottom: 50px;
  max-width: 686px;

  &__title {
    color: $white;
    font-family: 'Arial Black';
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.9;
    box-sizing: border-box;
    padding: 20px 15px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &--bg {
    &--blue {
      .block-hero__title {
        background-color: $blue;
      }
    }

    &--purple {
      .block-hero__title {
        background-color: $purple-light;
      }
    }

    &--orange {
      .block-hero__title {
        background-color: $orange;
      }
    }

    &--green {
      .block-hero__title {
        background-color: $green;
      }
    }
  }
}
