.block-sponsors-logo {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;

  &__image {
    border: 1px solid $gray-ed;
    display: block;
    padding: 34px 0;
    text-align: center;

    a {
      display: block;
      width: 100%;
    }

    img {
      max-width: 220px;
      width: 100%;
      height: auto;
    }
  }
}

