.block-hero {
  position: relative;
  margin-bottom: 50px;

  &__title {
    color: $white;
    font-family: 'Arial Black';
    font-size: 25px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    opacity: 0.9;
    box-sizing: border-box;
  }

  &__image {
    width: 100%;
    line-height: 0;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &--top {
    &__title {
      background-color: $purple-light;
      padding: 30px 15px;
    }

    &--mobile {
      &__title {
        align-items: center;
        display: flex;
        font-size: 20px;
        justify-content: center;
        min-height: 60px;
      }
    }
  }

  &--bottom {
    &__title {
      background-color: $blue;
      padding: 20px 15px;
      bottom: 0;
    }

    &--mobile {
      &__title {
        align-items: center;
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 0;
        min-height: 90px;
        padding: 3px 10px;
      }
    }
  }
}
