.block-body {
  padding-left: 10px;
  padding-right: 10px;

  &__header {
    background-color: $gray-42;
    background-image: url('https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title1.png'), url('https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title3.png');
    background-position: center left, center right;
    background-repeat: no-repeat;
    color: $white;
    font-family: "Arial Black";
    font-size: 18px;
    font-weight: normal;
    padding: 20px 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 30px;

    img {
      height: auto;
      padding-right: 15px;
      vertical-align: sub;
      width: 32px;
    }
  }

  &__item {
    border-bottom: 1px solid $gray-f0;
    margin-bottom: 30px;
    padding-bottom: 20px;

    &__content {
      margin: 0 auto 15px;
      max-width: 456px;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__table {
    border-spacing: 0;
    border: 0;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
    line-height: 0;
    padding: 0;
    background-color: #424242;

    tr {
      background-color: transparent;
      border-collapse: collapse;
      padding: 0;

      td {
        vertical-align: middle;
        border-spacing: 0;
        border: 0;
        border-collapse: collapse;
        padding: 0;
      }
    }
  }

  .last {
    img {
      margin-right: -1px;
    }
  }
}
