/* style component block social */

.block-social {
  background-color: $gray-fa;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;

  &__list {
    a {
      text-decoration: none;
      outline: none;
      padding: 0;
      border: 0;

      img {
        border: 0;
      }
    }
  }
}

/* style block contact */
.block-contact {
  background-color: $purple-light;
  background-image: url('https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-contact.png');
  background-position: right center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: $white;
  font-size: 13px;
  margin-bottom: 25px;
  padding: 30px 10px 25px;

  td {
    padding-bottom: 10px;
  }

  &__content {
    margin: 0 auto;
    max-width: 406px;
  }

  &__icon {
    padding-right: 15px;
  }

  a {
    color: #fff;
    outline: none;
    text-decoration: none;
  }

  &__phone-mail {
    a {
      padding-right: 35px;
      white-space: nowrap;
    }
  }

  .opacity {
    opacity: 0.4;
  }

  &--programs-classes {
    background-color: $blue;
  }

  &--camps-summer {
    background-color: $green;
  }
}

/* style block unsubscribe */

.block-unsubscribe {
  margin-bottom: 25px;
  text-align: center;
}

/* style block copyright */
.block-copyright {
  font-family: Verdana;
  font-size: 13px;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  line-height: 20px;

  &__top {
    color: $gray-a7;
    margin-bottom: 20px;
  }

  &__bottom{
    color: $gray-42;
  }
}


.btn--border {
  background-color: transparent;
  border: 2px solid $gray-f3;
  margin: 5px 8px;

  &--green {
    color: $green;
  }

  &--orange {
    color: $orange;
  }

  &--purple {
    color: $purple-light;
  }

  &--blue {
    color: $blue-dark ;
  }
}
