/* style component block social */

.block-social {

}

/* style block contact */

.block-contact {
  &--programs-classes {
    background-color: $blue;
  }
}



/* style block unsubscribe */

.block-unsubscribe {
  .btn {
    &--green-color {
      color: $green;

       &:hover {
        color : darken($green, 10%)
      }
    }

    &--orange-color {
      color: $orange;

       &:hover {
        color : darken($orange, 10%)
      }
    }
  }
}
