/* style component header */

.header {
  display: inline-block;
  padding-bottom: 28px;
  padding-top: 33px;
  width: 100%;

  &--camps-summer {

    .main-nav {
      margin-top: 12px;
    }

    ul.nav li a {
      padding: 5px 18px;
      color: $orange;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
    }

    ul.nav li a:hover {
      color: $orange-dark;
    }

    ul.nav li a.active {
      box-sizing: border-box;
      color: $green;
      display: inline-block;
      text-align: left;
    }
  }
}
