/* style component header */

.header {
  &--programs-classes {

    .main-nav {
      margin-top: 12px;
    }

    ul.nav li a {
      padding: 5px 18px;
      color: $green;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
    }

    ul.nav li a:hover {
      color: $green-dark;
    }

    ul.nav li a.active {
      box-sizing: border-box;
      color: $blue;
      display: inline-block;
      text-align: left;
    }
  }
}
