.text-indent {
  margin-left: 20px;
}

.text-icon {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;

  &__img {
    margin-right: 9px;
    margin-top: 1px;

    img {
      width: 17px;
      height: auto;
    }
  }
}

.block-text-icon {
  margin: 0 auto;
  max-width: 556px;
  padding-left: 10px;
  padding-right: 10px;

  &__top {
    margin-bottom: 22px;
  }
}

.layout-icon {
  margin-bottom: 30px !important;

  td {
    padding: 0 10px;
  }
}
