/* ---------- Color Module Styles ----------- */
body {
  background-color: #ffffff;
  color: #636466;
}
a,
.link {
  color: #337ab7;
}
.button,
.btn {
  background-color: #00aeef;
}
.top-navs {
  background-color: #0089d0;
}
.nav.dropdown-menu {
  background-color: #0060af;
}
.footer {
  background-color: #4f4f4f;
}