.paragraph--type--all-amenities {
  .field-field-prgf-amnts-view {
    table {
      width: 100%;
      tr {
        border: none;
        padding: 0;
      }
      td {
        padding: 7px 10px;
      }
      tr:nth-child(odd) {
        td {
          background-color: $green-aa;
        }
      }
      tr:nth-child(even) {
        td {
          background-color: $dark-green-aa;
        }
      }
    }
    .views-field-title {
      font-size: 16px;
      a {
        color: $white;
        @include cachet();
      }
    }
  }
  .views-field-field-location-amenities {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 1px 5px;
    }
  }

  .field-amenities-icon {
    background-color: $white;
    border-radius: 32px;
    padding: 4px;
    width: 32px;
    height: 32px;
    svg {
      * {
        fill: $dark-green;
      }
    }
  }

  .views-element-container {
    margin: 0 15px 40px;
    legend {
      color: $default-grey;
    }
    form {
      margin-bottom: 1em;
      .webform-options-display-one-column.form-checkboxes {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        @include breakpoint(mobileonly) {
          -webkit-columns: 1;
          -moz-columns: 1;
          columns: 1;
        }
        @include breakpoint(tablet) {
          -webkit-columns: 2;
          -moz-columns: 2;
          columns: 2;
        }
        @include breakpoint(laptiop) {
          -webkit-columns: 4;
          -moz-columns: 4;
          columns: 4;
        }
      }
      .form-item {
        .field-amenities-icon {
          padding: 0;
          width: 20px;
          height: 20px;
          margin: 0 4px;
          position: relative;
          top: 3px;
        }
        label {
          vertical-align: middle;
          div {
            display: inline-block;
            svg {
              * {
                fill: $blue;
                color: $green-aa;
              }
            }
          }
        }
      }
    }
  }
}

.list-branch-amenities-wrapper {
  h5 {
    font-size: 15px;
    @include helvetica-neue();
  }
}
