.node--type-blog, .node--type-testimonial {
  font-size: 15px;

  &.node--view-mode-full {
    margin-bottom: 50px;
  }

  h1 {
    letter-spacing: -1.2px;
    padding-top: 32px;
    padding-bottom: 8px;
  }

  &.node--view-mode-sidebar {
    margin-top: 118px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  p {
    line-height: 1.62em;
  }

  p + h2 {
    margin-top: 1em;
  }

  &.node--view-mode-teaser {
    width: 310px;
    max-width: 100%;
    display: inline-block;

    @media (max-width: 768px) {
      padding: 0;
      margin: 0 auto;
      display: block;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      float: left;
      display: block;
      width: 50%;
    }

    @media (min-width: 1024px) {
      float: left;
      display: block;
      width: 33.3%;
    }

    .inner-wrapper {
      position: relative;
      overflow: hidden;
      margin: 15px;
      @include breakpoint(0 $screen-sm) {
        margin: 0 auto;
      }
      .quotes {
        display: none;
      }
    }

    img {
      height: auto;
      max-width: inherit;
      width: 100%;
      vertical-align: top;
      margin: auto;
    }

    .blog-heading {
      padding: 12px 22px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-align: left;

      h2 {
        font-size: 28px;
        @include breakpoint(tablet) {
          font-size: 32px;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      word-break: break-word;
    }

    h2,
    h4 {
      color: white;
    }

    h4 {
      margin: 0;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: 2px;
      @include helvetica-neue();

      a {
        position: relative;
        z-index: 1;
      }
    }

    h2 a:after {
      content: '';
      position: absolute;
      height: 100%;
      min-height: 362px;
      width: 100%;
      left: 0;
      top: 0;
    }

    &.blog-green .inner-wrapper {
      background-color: $green;

    }

    &.blog-fuchsia .inner-wrapper {
      background-color: $pink;

    }

    &.blog-photo .inner-wrapper {
      .blog-heading {
        background-color: rgba(35, 31, 32, 0.5);
      }

    }

    &.blog-color .inner-wrapper {
      padding-top: 90%;
      @media (min-width: 768px) and (max-width: 1023px) {
        padding-top: 94%;
      }
      @media (min-width: 1024px) and (max-width: 1199px) {
        height: 283px
      }
      @media (min-width: 1200px) {
        height: 350px;
      }

    }


    &.blog-story .inner-wrapper {
      border: 1px solid $light-grey;

      h2,
      h4 {
        color: $purple;
      }

      .quotes {
        display: inline-block;
        font-size: 100px;
        font-family: Helvetica Neue LT W01_55 Roman;
        height: 35px;
        vertical-align: top;
        position: relative;
        top: -20px;
      }

      span:not(.quotes) {
        display: inline-block;
        width: 80%;
      }
    }

    &.blog-news .inner-wrapper {
      border: 1px solid $light-grey;

      h4 {
        color: inherit;
      }

      h2 {
        color: $purple;
      }
    }



    .quote {
      float: left;
      min-height: 360px;

      i {
        background-size: 27px;
        background-position: top left;
        margin-top: 21px;
      }
    }
  }
}

.blog-color img {
  display:none;
}

.blog-card {
  overflow: hidden;
  padding-top: 20px;

  @include breakpoint(0 $screen-xs) {
    overflow: visible;
  }
}

.blog-related {
  position: relative;

  h2 a:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.adjust-container {
  max-width: 100%;
  text-align: center;

  @media (min-width: 1024px) {
    margin: -20px;
    max-width: inherit;
  }
}
.blog-more-teaser {
  margin-top: 40px;

  @media (min-width: 1024px) {

  }

  .h1 {
    padding-bottom: 0;
  }

  h2 {

  }

  .views-view-grid {
    text-align: center;

    @media (max-width: 1200px) {

      .row {
        display: inline;

        &:before,
        &:after {
          content: none;
        }
      }
    }

    @media (min-width: 1200px) {

      .row {
        display: inline;
      }
    }
  }

  .views-exposed-form {
    background-color: #ebebeb;
    width: 100%;
    padding: 17px 25px;
    margin-bottom: 49px;

    @media (min-width: 1024px) {
      height: 92px;
      display: table;
    }

    & > div {
      vertical-align: bottom;

      @media (min-width: 1024px) {
        display: table-cell;
        padding: 0 40px 0 0;

        &.form-item-field-blog-category-target-id {
          width: 239px;
        }

        &.form-item-combine {
          padding: 0 0 0 270px;
        }

        &.form-item-related-content-titles {
          width: 258px;
        }

        &.form-actions {
          padding-right: 0;
        }
      }
    }
  }

  .form-actions {
    text-align: center;
    padding-top: 20px;

    @media (min-width: 1024px) {
      padding-top: 0;
      text-align: inherit;
    }
  }

  label {
    display: block;
    @include cachet();

    &[for="edit-combine"] {
      opacity: 0;
    }
  }

  select {
    @include cachet();
  }

  .form-text {
    width: 100%;
    height: 34px;
    padding-left: 10px;

    @media (min-width: 1024px) {
      width: 250px;
    }
  }

  input[type="submit"] {
    width: 90px;
    height: 34px;
    padding: 7px 16px;
    background-color: #00aeef;
    border: solid 1px #636466;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    @include cachet();
    text-transform: uppercase;
  }
}

.comma-list {

  .item:after {
    content: ",";
  }

  .item:last-child:after {
    content: none;
  }
}

.paragraph--type--featured-blogs {
  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }

  .slick-arrow {
    top: 55%;
  }
}

.container {
  .paragraph--type--featured-blogs {
    @include breakpoint(0 $screen-xs) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .slick-prev {
      @include breakpoint(0 $screen-xs) {
        left: -17px;
      }
    }

    .slick-next {
      @include breakpoint(0 $screen-xs) {
        right: -17px;
      }
    }
  }
}

.field-prgf-nu-view, .field-prgf-whay-view {

  @media (min-width: 768px) and (max-width: 1023px) {
    div:nth-child(2n+1) {
      clear: left
    }
  }
  @media (min-width: 1024px) {
    div:nth-child(3n+1) {
      clear: left
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (min-width: 768px) and (max-width: 1023px) {
      li:nth-child(2n+1) {
        clear: left;
      }
    }
    @media (min-width: 1024px) {
      li:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}

.branch--updates-queue {
  margin: 0 0 25px;
  .slick-slider {
    margin: 0 15px 50px;

    @include breakpoint(tablet) {
      margin: 0 0 50px;
    }
  }
  .btn {
    display: none;
    @include breakpoint(tablet) {
      margin: 30px auto 30px;
      min-width: 280px;
      width: 30.8%;
      display: block;
    }
  }
  .slick-arrow {
    background: none;
    color: $light-blue;
    padding: 0;
    z-index: 1;
    height: 40px;
    width: 40px;
    margin-top: -15px;
    .fa {
      font-size: 30px;
    }
    &.slick-prev {
      left: -25px;
    }
    &.slick-next {
      right: -25px;
    }
  }
  .slick-dots {
    bottom: -15px;
    li {
      button {
        &:before {
          opacity: 1;
          color: $lighter-grey;
        }
      }
      &.slick-active {
        button:before {
          opacity: 1;
          color: $pink;
        }
      }
    }
  }
}
