$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

.myy-main {
  .btn.select {
    background-color: #92278F !important;
    border-color: #92278F;
    border-radius: 5px;
    font-size: 12px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    &:after {
      top: 28px;
    }
    @media (min-width: 992px) {
      font-size: 14px;
    }
  }
  .dropdown-menu.select {
    padding: 10px;
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.myy-modal__modal {
  .modal-content {
    border-radius: 0;
    border: none;
  }
  &--header {
    border-bottom: 2px solid #b9bbba;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: relative;
    h3 {
      color: #777;
      font-size: 18px;
      line-height: 50px;
      margin: 0;
      text-transform: uppercase;
    }
    button {
      background-color: #005faf !important;
      font-size: 27px;
      height: 48px;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      i {
        color: #fff;
      }
    }
  }
  &__body {
    .text-center {
      font-size: 12px;
      line-height: 18px;
      margin: 10px 0;
    }
  }
}

// Remove delay before loading animation rendering.
#nuxt-loading {
  animation: nuxtLoadingIn 0s ease;
  -webkit-animation: nuxtLoadingIn 0s ease;
  visibility: visible;
  opacity: 1 !important;
 }
