.node--type-blog {
  font-size: 15px;

  &.node--view-mode-full {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 36px;
    letter-spacing: -1.2px;
    padding-bottom: 8px;
  }

  &.node--view-mode-sidebar {
    margin-top: 118px;
  }

  .field-blog-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  p {
    line-height: 1.62em;
  }

  p + h2 {
    margin-top: 1em;
  }

  &.node--view-mode-teaser {
    margin: auto;
    @include breakpoint($screen-xs) {
      max-width: 373px;
      width: 100%;
    }

    .inner-wrapper {
      height: 240px;
      width: 288px;
      margin: 15px auto;
      position: relative;
      overflow: hidden;
      @include breakpoint($screen-xs) {
        height: 288px;
        width: auto;
      }
      @include breakpoint($screen-sm) {
        height: 288px;
        width: auto;
      }
      @include breakpoint($screen-md) {
        height: 245px;
      }
      @include breakpoint($screen-lg) {
        height: 300px;
      }

    }

    img {
      height: auto;
      max-width: inherit;
      width: 100%;
      vertical-align: top;
      margin: auto;
    }

    .blog-heading {
      padding: 12px 22px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: left;
      font-weight: 500;

      h3 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 20px;
        @include breakpoint($screen-xs) {
          font-size: 28px;
        }
      }
    }

    a {
      color: inherit;
      word-break: break-word;
    }

    h3,
    .blog-category {
      color: white;
    }

    .blog-category {
      margin: 0 0 12px;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: 2px;
      font-family: Verdana, sans-serif;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 22px;

      a {
        position: relative;
        z-index: 1;
      }
    }

    h3 a:after {
      content: '';
      position: absolute;
      height: 100%;
      min-height: 250px;
      width: 100%;
      left: 0;
      top: 0;
    }

    &.blog-green .inner-wrapper {
      background-color: $green;
    }

    &.blog-fuchsia .inner-wrapper {
      background-color: $pink;
    }

    &.blog-photo .inner-wrapper {
      .blog-heading {
        background-color: rgba(51, 51, 51, 0.7);
      }
    }

    &.blog-story .inner-wrapper {
      border: 1px solid $light-grey;

      h3,
      .blog-category {
        color: $purple;
      }
    }

    &.blog-news .inner-wrapper {
      border: 1px solid $light-grey;

      .blog-category {
        color: inherit;
      }

      h3 {
        color: $purple;
      }
    }

    .story {
      h3 {
        overflow: hidden;
        width: auto;
      }
    }

    .quote {
      float: left;

      svg {
        margin-top: 1px;
      }
    }
  }
}

.blog-card {
  overflow: hidden;
  padding-top: 20px;

  @include breakpoint(0 $screen-xs) {
    overflow: visible;
  }
}

.blog-related {
  position: relative;

  h2 {
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    color: $default-grey !important;
    margin: 0 0 25px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  h3 {
    font-weight: bold;
    font-size: 28px;

    a {
      color: inherit;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}

.adjust-container {
  max-width: 100%;
  text-align: center;

  @media (min-width: 1024px) {
    margin: -20px;
    max-width: inherit;
  }
}
.blog-more-teaser {
  margin-top: 40px;

  .h1 {
    padding-bottom: 0;
  }

  .views-view-grid {
    text-align: center;

    @media (max-width: 1200px) {

      .row {
        display: inline;

        &:before,
        &:after {
          content: none;
        }
      }
    }

    @media (min-width: 1200px) {

      .row {
        display: inline;
      }
    }
  }

  .views-exposed-form {
    background-color: #ebebeb;
    width: 100%;
    padding: 17px 25px;
    margin-bottom: 49px;

    @media (min-width: 1024px) {
      height: 92px;
      display: table;
    }

    & > div {
      vertical-align: bottom;

      @media (min-width: 1024px) {
        display: table-cell;
        padding: 0 40px 0 0;

        &.form-item-field-blog-location-target-id-verf {
          width: 210px;
        }

        &.form-item-field-blog-category-target-id {
          width: 210px;
        }

        &.form-item-combine {
          input {
            width: 100%;
          }
        }

        &.form-item-related-content-titles {
          width: 258px;
        }

        &.form-actions {
          padding-right: 0;
          width: 90px;
        }
      }

      @media (min-width: 1200px) {

        &.form-item-field-blog-location-target-id-verf {
          width: 240px;
        }

        &.form-item-field-blog-category-target-id {
          width: 240px;
        }
      }
    }
  }

  .form-actions {
    text-align: center;
    padding-top: 20px;

    @media (min-width: 1024px) {
      padding-top: 0;
      text-align: inherit;
    }
  }

  label {
    display: block;
    @include cachet();
  }

  .form-item-combine label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  select {
    @include cachet();
  }

  .form-text {
    width: 100%;
    height: 34px;
    padding-left: 10px;

    @media (min-width: 1024px) {
      width: 250px;
    }
  }

  input[type="submit"] {
    width: 90px;
    height: 34px;
    padding: 7px 16px;
    border: solid 1px #636466;
    font-size: 14px;
    font-weight: 600;
    @include cachet();
    text-transform: uppercase;
  }

  .no-results {
    margin-bottom: 49px;
  }
}

.comma-list {
  .item:after {
    content: ",";
  }

  .item:last-child:after {
    content: none;
  }
}
