.node--type-event {
  .main-region {
    padding: 0 15px;
  }
  .date-start,
  .event-time {
    color: $purple;
    &:before {
      content: "\f017";
      font-family: 'FontAwesome';
      font-size: 30px;
      padding-right: 10px;
    }
  }
  .location-link {
    a:hover {
      text-decoration: underline !important;
    }
    &:before {
      content: "\f041";
      font-family: 'FontAwesome';
      font-size: 30px;
      padding-right: 10px;
      color: $purple;
    }
  }

  .event-image {
    min-height: 237px;
    @media (max-width: $screen-lg) {
      min-height: 190px;
    }
    @media (max-width: $screen-md) {
      min-height: 247px;
    }
  }

  // Event individual page
  &.node--view-mode-full {
    .field-event-location {
      border-radius: 8px;
      box-shadow: 0 3px 30px 2px rgba(0,0,0,0.05);
      margin-bottom: 20px;

      .location-link, .location-address,
      .date-start, .date-end,
      .contact-phone, .contact-fax {
        margin-bottom: 15px;
      }
      .location, .date, .contact {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .location-link, .date-start, .contact-phone {
        line-height: 20px;
      }

      .location-link a, .date-start {
        font-size: 20px;
        @include cachet-bold();
        color: $purple;
      }

      .location-directions > a, .addtocalendar > a {
        @include cachet-bold();
      }

      .contact {
        background-color: #f9f9f9;
      }
      .contact-phone, .contact-fax {
        span {
          padding-left: 10px;
          @include cachet-bold();
        }
      }
    }
    // Desktop screen
    @media (min-width: $screen-md) {
      .field-event-location {
        &:before, &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
      }
    }
  }

  // Event teaser
  &.node--view-mode-teaser {
    display: inline-block;
    width: 100%;
    @media (max-width: $screen-sm) {
      max-width: 270px;
      margin-left: auto;
      margin-right: auto;
    }
    .event-date-month {
      display: inline-block;
      position: absolute;
      top: -20px;
      margin-left: 20px;
      height: 66px;
      width: 71px;
      text-align: center;
      @include cachet-bold();
      color: $white;
      background-color: $dark-blue;
      border: 1px solid $white;
      // border-radius: 8px;
      .event-date {
        font-size: 30px;
        line-height: 35px;
      }
      .event-month {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
    .field-event-image img {
      display: inline-block;
      //border-radius: 10px;
      width: 100%;
      max-width: 266px;
      height: auto;
    }
    h2 {
      margin: 10px 0 5px;
      line-height: 16px;
      a {
        display: inline-block;
        width: 100%;
        color: $brown;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
    .event-time,
    .field-event-location a, .field-event-location a:hover{
      color: $dark-magenta;
      @include cachet-bold();
      font-size: 16px;
      line-height: 30px;
    }
    .field-event-location {
      line-height: 30px;
      a {
        padding-left: 11px;
      }
    }
    .event-time:before,
    .field-event-location:before {
      color: $dark-magenta;
      font-size: 22px;
    }
  }
}
