::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.form-control {
  border: 1px solid $medium-grey;
  border-radius: 0;
  font-size: 12px;
  text-shadow: none;
  padding: 6px 12px 6px 5px;
}

.btn {
  @include cachet();
  background-image: none;
  border-radius: 0;
  border: none;
  text-shadow: none;

  &.blue {
    a {
      text-decoration: none;
    }
  }

  &.white-blue {
    background-color: $white;
    color: $light-blue;
    border: 1px solid $light-blue;

    a {
      color: $light-blue;
      text-decoration: none;
    }
  }

  &.transparent-blue {
    background-color: transparent;
    color: $blue;
    border: 1px solid $blue;

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  &.btn-link {
    text-decoration: none;
  }
}

.form-select {
  border: 1px solid $medium-grey;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  background: image-url('icons/arrow_down.svg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: white;
  padding-right: 25px;
  ::-ms-expand {
    display:none;
  }
}

/* Prevent iphone from zooming in when filling out a form. */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width : 999px)  {
  select,
  input,
  textarea {
    font-size: 16px!important;
  }
}

/* Styles for Guest pass form */
.yamlform-submission-guest-pass-form-form {
  padding: 15px 0;

  label {
    @include cachet();

    font-size: 18px;
    line-height: 23px
  }

  .form-control {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    padding: 6px 12px 6px 5px;

    border: solid 1px #ccc;

    @include breakpoint(0 $screen-sm) {
      width: 80%;
    }

    @include breakpoint(0 $screen-xs) {
      width: 100%;
    }
  }

  .yamlform-button--submit {
    margin: 10px 0;
  }
}

.form-item, .form-actions {
  margin: 1em 0.75em;
}
.form-type-checkbox {
  padding: 0;
}
.captcha {
  margin: 1em 0.75em;

  .form-item {
    margin: 1em 0;
  }
}


// Use CSS/SVG image for required mark.
// @see https://www.drupal.org/node/2152217
// @see https://www.drupal.org/node/2274631
.form-required:after {
  background-image: url(../img/required.svg);
  background-size: 10px 7px;
  content:"";
  display: inline-block;
  line-height:1;
  height: 7px;
  width: 10px;
  vertical-align: text-top;
}
