.openy-gtranslate {
  display: inline-block;
  vertical-align: bottom;
  height: 39px;
}

.openy-google-translate select {
  background: transparent;
  border: none;
  max-width: 145px;
  text-transform: uppercase;
  color: $white;
  font-size: 12px;
  margin-top: 6px;

  option {
    color: $default-grey;
  }
}

.nav {
  .language {
    .openy-google-translate {
      select {
        margin-left: 10px;
      }
    }
  }
}
