.two-column-fixed {
  .affix,
  .affix-bottom {
    top: 126px;
    position: static;
    @include breakpoint($screen-sm) {
      width: 220px;
      position: fixed;
    }
    @include breakpoint($screen-md) {
      width: 294px;
    }
    @include breakpoint($screen-lg) {
      width: 360px;
    }
    .toolbar-fixed & {
      @include breakpoint($screen-sm) {
        top: 150px;
      }
      @include breakpoint($screen-md) {
        top: 186px;
      }
      @include breakpoint($screen-lg) {
        top: 196px;
      }
    }
  }
}

.embedded-entity {
  img {
    height: auto;
    max-width: 100%;
    width: auto;
  }
  .media-image.view-mode-link {
    display: inline;
  }

  img {
    display: inline-block;
  }
}
