.paragraph--type--prgf-location-finder {
  margin-top: 40px;
  .views-element-container {
    padding: 0;
    .locations-list {
      padding: 20px 0;
      .label-for-field-location-fax,
      .label-for-field-location-phone {
        text-transform: lowercase;
        display: inline;
      }

      .field-location-fax,
      .field-location-phone {
        display: inline;
      }
    }
  }
}

.form__locations {
  background-color: $lighter-grey;
  height: 92px;
  display: table;
  width: 100%;
  padding: 35px 0px 17px;
  @media (min-width: $screen-md) {
    padding: 35px 25px 17px;
  }
  .form-group {
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0px;
    }
  }
  label {
    text-transform: none;
    padding: 6px 8px;
    left: -1px;
    margin: 10px 10px 0 0;
    @media (min-width: $screen-md-min) {
      left: -20px;
      margin: 0 10px 0 0;
    }
  }
  input[type="checkbox"] {
    margin: 0 10px 0px 0;
    vertical-align: middle;
  }
  .btn-group-justified {
    border-spacing: 1px;
    margin: -1px -1px 5px 1px;
    min-width: 234px;
    @media (min-width: $screen-md) {
      border-spacing: 10px;
      margin: -10px -10px -10px 10px;
    }
  }
}

.locations-list {
  margin: -20px;

  .views-row__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
  }

  .views-row {
    display: flex;

    flex-basis: 100%;

    @media (min-width: 600px) and (max-width: 1025px) {
      flex-basis: 50%;
    }

    @media (min-width: 1025px) {
      flex-basis: 33.33%;
    }

    .node--view-mode-teaser {
      flex-basis: 100%;
      align-self: stretch;
    }
  }
  header h1,
  header h2,
  header h2.h1 {
    font-size: 36px;
    padding-left: 20px;
    padding-bottom: 0px;
    clear: both;
    margin-top: 0;
    font-weight: bold;
  }
  h1.color-purple,
  h2.color-purple {
    color: $purple;
  }
  .field_location_state {
    float: right;
    top: 0;
    right: 0;
    position: absolute;
    padding: 5px;
    font-size: 10px;
    color: #231f20;
    width: 100px;
    height: 32px;
    vertical-align: bottom;
    background: #fcaf17;
    line-height: 1.2;
    font-style: italic;
    .fa {
      color: white;
      height: 32px;
      float: left;
      font-size: 16px;
      padding-right: 6px;
    }
    span {
      display: block;
    }
  }
  .field-branch-hours {
    h4 {
      font-size: 14px;
    }
  }
}

.tag_filters img {
  margin: -2px 0 0 3px;
  width: 13px;
}
