body {
  padding-top: 70px !important;

  @include breakpoint($screen-desktop) {
    padding-top: $top-nav-height !important;
  }
}

.layout-container {
  position: relative;
}

.block-region-header .node-title {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.error-page {
  padding: 25px 0;
}
