.pager li.load_more_button > a {
  padding: 12px 35px;
  border: none;
  border-radius: 0;
  font-size: 18px;
}

.pager__items {
  padding-left: 0;
}

.pager li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;

  &.is-active a {
    color: #636466;
    font-size: 15px;
    font-weight: 500;
  }

  > a {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 0;
  }
}
