//
// Shared schedules styling.
//
.schedule-locations__wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @media (min-width: $screen-tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.schedule-dashboard__wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media (min-width: $screen-tablet) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

//
// Locations selection page.
//
.locations-header {
  align-items: flex-end;
  margin-bottom: 1rem;

  @media (min-width: $screen-tablet) {
    margin-bottom: 2rem;
  }

  // select heading
  h4 {
    font-size: 16px;

    @media (min-width: $screen-tablet) {
      font-size: 18px;
    }
  }
}

.schedule-locations__item label {
  border-color: $light-grey;
  color: $dark-grey;

  &.selected {
    color: white;
    border-color: $yet-another-green;
    background: $yet-another-green;
  }
}

//
// Schedules dashboard.
//
.schedule-dashboard__sidebar {
  color: $darker-grey;
}

.schedule-dashboard__modal--body .table h4 {
  color: $dark-blue;
}