html.js .ajax-progress .throbber,
html.js .flag-waiting .flag-throbber {
  width: 15px;
  height: 15px;

  top: 5px !important;
  position: relative;

  background-image: url(../img/bx_loader.gif);
  background-size: contain;

  opacity: 1;
}
