
.ui-dialog {
  background: transparent;
  border: none !important;
  width: auto !important;
  .ui-dialog-title {
    float: none;
  }
  .ui-dialog-titlebar {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: $h2-size;
    font-weight: normal;
    text-align: center;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Cachet W01 Book";
    font-weight: 700;
  }
  .ui-dialog-titlebar-close {
    /*display: none !important;*/
    background: none;
    border: none;
    color: #fff;
    &:before {
      content: "\f00d";
      font-family: "FontAwesome";
      display: block;
      position: absolute;
      left: 0px;
      top: -12px;
      font-size: 30px;
    }
    .ui-button-icon-primary,
    .ui-button-text {
      display: none;
    }

  }
  .ui-dialog-content {
    height: auto;
    max-width: 400px;
    background: #fff;
    max-height: auto;
    margin: 0 auto;
    padding: 40px;
    border-radius: 4px;
    .form-item {
      margin: 0 0 5px 0;
    }
    .form-text, .form-email {
      height: 50px;
      border-radius: 4px;
    }
    .button {
      width: 100%;
    }
  }
}
.ui-widget-overlay {
  background: black;
  opacity: 0.6;
}
