.calendar h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.calendar .month {
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  margin: 0px;
  padding: 0px;

  .date-data {
    width: 14%;
    text-align: center;
    margin-bottom: 180px;
    .month {
      display: none;
    }
    .visits {
      display: none;
      font-size: 18px;
    }
    span {
      font-size: 20px;
      text-transform: uppercase;
    }
    .day {
      display: block;
      cursor: pointer;
    }
    .weekday {
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
      cursor: pointer;
    }
    .data {
      display: none;
    }
    &.active .weekday{
      border-radius: 58%;
      border-color: #fff;
      border: 1px solid;
      width: 63px;
      padding-top: 10px;
      background: #fff;
      margin: 0 auto;
      margin-top: 10px;
      padding-bottom: 10px;
      color: $pink;
      cursor: pointer;
    }
    &.active {
      .visits {
        display: block;
        position: absolute;
        width: 315px;
        border-radius: 10px;
        z-index: 1000;
        top: 140px;
        text-transform: uppercase;
        &:before {
          border: 1px solid;
        }
        &:after {
          border: 1px solid;
        }
        .visited {
          background: #C6168D;
          color: #fff;
          padding: 10px;
          /* border-top: 1px solid; */
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .entriesNum {
          background: #fff;
          color: #92278F;
          padding: 10px;
          /* border-bottom: 1px solid; */
          text-align: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }

}

.calendar-wrapper {
  position: relative;
  .prev {
    float: left;
    height: 100px;
    background: #C6168D;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  ul.month {
    float: left;
  }
  .next {
    cursor: pointer;
    height: 100px;
    background: #C6168D;
    float: right;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}