.form-item input.form-checkbox {
  visibility: hidden;
}



.form-item input:checked + label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  padding-left: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 93%;
  background-color: #fff;
  //background-image: url(http://ymcatc.ixm.ca/themes/custom/ymca/img/2017_summer/icon-activity-check.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 26px 27px;
  &:hover {
    //background-image: url(http://ymcatc.ixm.ca/themes/custom/ymca/img/2017_summer/icon-activity-check.png);
    background-repeat: no-repeat;
    background-position: 26px 27px;
  }
}

.form-item input + label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  padding-left: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 93%;
  &:hover{
    background: #fff;
    cursor: pointer;
  }
}

.form-item input + label:before {
  font-family: "Cachet",Arial,sans-serif;
  letter-spacing: -0.025em;
  height: 22px;
  height: 2.2rem;
  width: 22px;
  width: 2.2rem;
  left: 24px;
  left: 2.4rem;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: inherit;
  content: '';
  position: absolute;
  text-align: center;
  top: 50%;
}
.activity {
  .paragraph-background-container {
  }
}

.category-data {

  text-transform: uppercase;
  margin: 25px;
  border-radius: 10px;
  padding-top: 10px;
  .activity-name {
    display: none;
  }
  form {
    input[type="submit"] {
      visibility: hidden;
    }
    .fieldgroup {
      legend {
        display: none;
      }

      .form-checkboxes {
        .form-item {
          float: left;
          width: 30%;
          font-size: 16px;
          overflow: hidden;
          word-wrap: unset;
          white-space: nowrap;

        }
      }
    }
  }
}
.activity-data {
  margin-top: 30px;
  .activity-daily-data {
    .category-data {
      display: none;
    }
  }
}
.activity-data .categories {
  ul {
    padding: 0px;
    text-align: center;
    li {
      display: inline-block;
      padding: 15px;
      opacity: 0.7;
      margin: 25px;
      width: 200px;
      height: 200px;
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
      border-radius: 10px;
      padding-top: 105px;
      cursor: pointer;

      &.active{
        opacity: 1;
      }
      &.Aquatics {
        background-image: url('../img/swimming.png');
        background-repeat: no-repeat;
        background-position: 70px 50px;
      }
      &.Fitness {
        background-image: url('../img/fitnes.png');
        background-repeat: no-repeat;
        background-position: 70px 50px;
      }
      &.Community {
        background-image: url('../img/community.png');
        background-repeat: no-repeat;
        background-position: 70px 50px;
      }
      &.GroupExercise {
        background-image: url('../img/groupex.png');
        background-repeat: no-repeat;
        background-position: 70px 50px;
      }
    }
    }
  }

.activity .paragraph-background-container {

  @include breakpoint($screen-sm) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  @include breakpoint($screen-md) {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  @include breakpoint($screen-lg-desktop) {
    padding-left: 130px !important;
    padding-right: 130px !important;
  }

  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 47%;
    bottom: -57px;
    border: 30px solid transparent;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.calendar h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.calendar .month {
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  margin-left: 80px;
  margin-right: 80px;

  .date-data {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin-bottom: 180px;
    display: inline-block;
    .month {
      display: none;
    }
    .visits {
      display: none;
      font-size: 18px;
    }
    span {
      font-size: 20px;
      text-transform: uppercase;
    }
    .day {
      display: block;
      cursor: pointer;
    }
    .weekday {
      padding-top: 35px;
      padding-bottom: 20px;
      display: block;
      cursor: pointer;
      width: 50px;
    }
    .data {
      display: none;
    }
    &.active .weekday{
      border-radius: 58%;
      border-color: #fff;
      border: 1px solid;
      width: 50px;
      padding-top: 10px;
      background: #fff;
      margin: 0 auto;
      margin-top: 25px;
      padding-bottom: 10px;
      cursor: pointer;
    }
    &.active {
      .visits {
        display: block;
        position: absolute;
        width: 315px;
        border-radius: 10px;
        z-index: 1000;
        top: 140px;
        text-transform: uppercase;
        &:before {
          content: '';
          position: absolute;
          left: 135px;
          top: -50px;
          border: 20px solid transparent;
          border-bottom: 30px solid #fff;
          text-align: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .visited {

          color: #fff;
          padding: 10px;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .entriesNum {
          background: #fff;

          padding: 10px;
          text-align: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }

}

.calendar-wrapper {
  position: relative;
  .prev {
    float: left;
    height: 100px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  .next {
    cursor: pointer;
    height: 100px;
    float: right;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}