.form-item input.form-checkbox {
  display: none;
}

.form-item input:checked + label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid;
  border-radius: 40px;
  padding-left: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  color: $purple;
  background-position: 26px 27px;
  white-space: normal;
  padding-right: 50px;
  &:hover {
    background-repeat: no-repeat;
    background-position: 26px 27px;
  }
}

.form-item input + label {
  display: inline-block;
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
  border: 2px solid;
  border-radius: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  white-space: normal;
  padding-right: 50px;
  &:hover{
    background: #fff;
    cursor: pointer;
    color: #C6168D;
  }
}

.form-item input + label:before {
  content: "";
  font-family: "FontAwesome";
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: inherit;
  position: absolute;
  text-align: center;
  top: 35%;
  height: 2.2rem;
  width: 2.2rem;
  right: 2rem;
}

.form-item input:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
}

.activity {
  .paragraph-background-container {
    background-color: $dark-magenta;
    background-image: -moz-linear-gradient($pink, $dark-magenta);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($pink), to($dark-magenta));
    background-image: -webkit-linear-gradient(top, $pink, $dark-magenta);
    background-image: -o-linear-gradient($pink, $dark-magenta);
  }
  .personal-progress {
    text-align: center;
  }
}

.category-data {
  background: $dark-magenta;
  color: #fff;
  text-transform: uppercase;
  margin: 8px;
  border-radius: 10px;
  padding-top: 10px;
  .activity-name {
    display: none;
  }
  form {
    input[type="submit"] {
      visibility: hidden;
    }
    .fieldgroup {
      legend {
        display: none;
      }

      .form-checkboxes {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint($screen-phone) {
          flex-direction: column;
        }
        @include breakpoint($screen-sm) {
          flex-direction: row;
        }
        @include breakpoint($screen-md) {
          flex-direction: row;
        }
        @include breakpoint($screen-lg-desktop) {
          flex-direction: row;
        }
        .form-item {
          margin: 5px 4px;
          margin-bottom: 25px;
          font-size: 16px;
          overflow: hidden;
          word-wrap: unset;
          white-space: nowrap;
          @include breakpoint($screen-phone) {
            float: none;
          }
          @include breakpoint($screen-sm) {
            float: left;
            width: 30%;
          }
          @include breakpoint($screen-md) {
            float: left;
            width: 30%;
          }
          @include breakpoint($screen-lg-desktop) {
            float: left;
            width: 32%;
          }

        }
      }
    }
  }
}

.activity-data {
  margin-top: 30px;
  @include breakpoint($screen-phone) {
    margin-left: 0px;
    margin-right: 0px;
  }
  @include breakpoint($screen-lg-desktop) {
    margin-left: 85px;
    margin-right: 85px;
  }
  .activity-daily-data {
    .category-data {
      display: none;
    }
  }
}

.activity-data .categories {
  ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    li {
      display: block;
      width: calc(100%/4 - 20px);
      float: left;
      opacity: 0.7;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;
      cursor: pointer;
      margin: 10px;
      background-position: center 10px;
      background-repeat: no-repeat;
      background-size: 35px;

      @include breakpoint($screen-phone) {
        height: 80px;
        font-size: 10px;
        padding-top: 50px;
      }
      @include breakpoint($screen-sm) {
        height: 85px;
        font-size: 16px;
      }
      @include breakpoint($screen-lg-desktop) {
        height: 200px;
        font-size: 22px;
        padding-top: 115px;

        background-position: center 50px;
        background-size: 70px;
      }

      &.active{
        opacity: 1;
      }

      /*
      &.Aquatics {
        background-image: url('../img/swimming.png');
        background-repeat: no-repeat;
        @include breakpoint($screen-phone) {
          background-position: center 15px;
          background-size: 35px;
        }
        @include breakpoint($screen-lg-desktop) {
          background-position: center 50px;
          background-size: auto;
        }
      }
      &.Fitness {
        background-image: url('../img/fitnes.png');
        background-repeat: no-repeat;
        background-position: 70px 50px;
        @include breakpoint($screen-phone) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-sm) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-md) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-lg-desktop) {
          background-position: center 50px;
          background-size: auto;
        }
      }
      &.GroupExercise {
        background-image: url('../img/groupex.png');
        background-repeat: no-repeat;
        @include breakpoint($screen-phone) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-sm) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-lg-desktop) {
          background-position: center 50px;
          background-size: auto;
        }
      }
      &.Community {
        background-image: url('../img/community.png');
        background-repeat: no-repeat;
        @include breakpoint($screen-phone) {
          background-position: center 5px;
          background-size: 35px;
        }
        @include breakpoint($screen-sm) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-md) {
          background-position: center 10px;
          background-size: 35px;
        }
        @include breakpoint($screen-lg-desktop) {
          background-position: center 50px;
          background-size: auto;
        }
      }
      */
    }

  }
}

.activity .paragraph-background-container {
  @include breakpoint($screen-sm) {
    padding: 0 15px !important;
  }
  @include breakpoint($screen-md) {
    padding: 0 70px !important;
  }
  @include breakpoint($screen-lg-desktop) {
    padding: 0 130px !important;
  }

  position: relative;
  &:before {
    content: '';
    position: absolute;
    left:  calc(50% - 30px);
    bottom: -57px;
    border: 30px solid transparent;
    border-top: 30px solid #92278F;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.calendar h2 {
  padding: 30px;
  text-align: center;
}

.calendar .month {
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0 55px;
  position: relative;
  .slick-list {
    overflow: hidden;  
  }
  .date-data {
    text-align: center;
    margin-bottom: 180px;
    display: inline-block;
    position: relative;
    .month {
      display: none;
    }
    .visits {
      display: none;
      font-size: 18px;
    }
    span {
      font-size: 20px;
      text-transform: uppercase;
    }
    .day {
      display: block;
      cursor: pointer;
    }
    .weekday {
      padding-top: 35px;
      padding-bottom: 20px;
      display: block;
      cursor: pointer;
      width: 50px;
      margin: 0 auto;
    }
    .data {
      display: none;
    }
    &.slick-current .weekday{
      border-radius: 58%;
      border-color: #fff;
      border: 1px solid;
      padding-top: 10px;
      background: #fff;
      margin: 0 auto;
      margin-top: 25px;
      padding-bottom: 10px;
      color: $pink;
      cursor: pointer;
    }
    &.slick-current {
      .visits {
        display: block;
        position: absolute;
        width: 315px;
        border-radius: 10px;
        left: -105px;

        @include breakpoint($screen-phone) {
          width: 180px;
          left: calc(50% - 90px);
        }
        @include breakpoint($screen-sm) {
          width: 315px;
          left: calc(50% - 160px);
        }
        top: 140px;
        text-transform: uppercase;
        &:before {
          content: '';
          position: absolute;
          top: -50px;
          @include breakpoint($screen-phone) {
            left: calc(50% - 20px)
          }
          @include breakpoint($screen-sm) {
            left: calc(50% - 17px)
          }
          border: 20px solid transparent;
          border-bottom: 30px solid #fff;
          text-align: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .visited {
          background: #C6168D;
          color: #fff;
          padding: 10px;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .entriesNum {
          background: #fff;
          color: #92278F;
          padding: 10px;
          text-align: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          @include breakpoint($screen-phone) {
            white-space: normal;
          }
        }
      }
    }
    &.disabled {
      color: #a9a9a9;
      .visits {
        display: none !important;
      }
    }
  }
}

.calendar-wrapper {
  position: relative;
  .current-month {
    text-align: center;
  }
  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    border: none;
    height: 100px;
    background: #C6168D;
    display: block;
    position: absolute;
    cursor: pointer;
    color: transparent;
    width: 42px;
    padding-left: 12px;
  }
  .slick-prev.slick-arrow {
    &:before {
      content: "\f104";
      color: #ffffff;
      font-family: "FontAwesome";
      font-size: 35px;
    }
    left: 15px;
  }
  .slick-next  {
    &:before {
      content: "\f105";
      color: #ffffff;
      font-family: "FontAwesome";
      font-size: 35px;
    }
    right: 5px;
    top: 0px;
  }
}

#modal_openy_campaign_login_form {
  .campaign-link-collapsed {
    text-align: center;
    .campaign-facility-access-hint-link {
      color: #0060ac;
      font-size: 14px;
    }
  }
  .campaign-facility-access-hint-wrapper {
    margin-top: 10px;
    .campaign-facility-access-hint p {
      font-size: 14px !important;
    }
  }
}

.openy-campaign-activity-modal-form {
  .form-checkboxes {
    .form-item {
      position: relative;
      &.counted {
        label {
          &:before {
            display: none;
          }
        }
      }
      .preudo-activity-counter {
        position: absolute;
        border: 1px solid $black;
        right: 15px;
        top: 20px;
        width: 35px;
        color: $black;
      }
    }
  }
}

.openy-campaign-activity-modal-form {
  .form-checkboxes {
    .form-item {
      position: relative;
      &.counted {
        label {
          &:before {
            display: none;
          }
        }
      }
      .preudo-activity-counter {
        position: absolute;
        border: 1px solid $black;
        right: 15px;
        top: 20px;
        width: 35px;
        color: $black;
      }
    }
  }
}
