// Header styles.
.sidebar .page-head__top-menu .member-full-name {
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  background: #7C57A7;
  font-size: 18px;
  .fa {
    padding-right: 5px;
  }
}

#block-openy-campaign-theme-campaignusermenublock {
  border-left: 2px solid #fff;
  padding-left: 15px;
  position: relative;
  .member-full-name {
    border-left: 2px solid #fff;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    float: left;
    margin-top: -2px;
    //padding-right: 33px;
    .fa {
      padding-right: 5px;
      font-weight: 700;
    }
  }

  .dropdown-menu {
    top: 37px;
    left: unset;
    a {
      &:before {
        content: "\f08b";
        font-family: "FontAwesome";
        padding-right: 5px;
      }
      color: #424242;
      padding-left: 20px;
      padding-top: 15px;
      height: 40px;
      display: block;
    }
  }
}

.viewport {
  margin: 0px 15px;
  width: auto;
  z-index: 35;
  .top-navs {

    margin-top: 0px !important;
    background-color: inherit;
    height: 70px;

    // Main manu
    .container {
      background-color: inherit;
      padding: 0px 135px;
    }

    .campaign-menu > li {
      display: inline-block;
      padding: 0px 15px;
    }

    .page-head__logo {
      top: 15px;
      width: auto;
      img {
        width: 50px;
        height: auto;
      }
    }

    .campaign-menu {
      text-align: right;
    }

    .page-head__primary-menu {
      margin-right: 0px;
      padding-right: 0px;
    }

    .page-head__main-menu {
      position: relative;
      padding-top: 30px;
      a {
        font-size: 16px;
      }
    }

    .page-head__secondary-menu {
      text-align: right;
      padding-right: 0px;
      padding-left: 0px;
    }

    #block-openy-campaign-theme-campaignusermenublock a {
      padding-right: 10px;
    }

  }
}

.sidebar .page-head__top-menu {
  a {
    height: 47px;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.sidebar .page-head__main-menu {
    .campaign-menu {
      margin-left: 0px;
      padding-left: 0px;
      list-style: none;
      > li {
        height: 47px;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
      }
    }
}

.top-navs {
  .page-head__logo {
    top: 15px;
    width: auto;
    @include breakpoint($screen-phone) {
      position: relative;
    }
    @include breakpoint($screen-sm) {
      position: relative;
    }
    @include breakpoint($screen-md) {
      position: absolute;
    }
    @include breakpoint($screen-lg-desktop) {
      position: absolute;
    }
    img {
      width: 50px;
      height: auto;
    }
  }
}

.top-navs {
  z-index: 100;
  button.navbar-toggle {
    position: absolute;
    left: 15px;
    top: 0px;
  }
  .page-head__logo {
    margin: 0 auto;
    text-align: center;
    display: block;
    z-index: 100;
  }
}
