body {
  padding-top: 0px !important;
  background-color: $purple;
}

.container {
  background-color: #ffffff;
  max-width: 1400px;
  width: 100%;

}

main[role="main"] {
  padding-top: 15px;
}

.layout-container {
  position: relative;
}

#block-campaignmemberregister {
  text-align: center;
  h1 {
    padding-top: 100px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 48px;
    text-align: center;
  }
  .finish-date {
    font-size: 18px;
    color: #ffffff;
  }
  .countdown {
    margin: 0 auto;
    color: #ffffff;
    .simply-section {
      display: inline-flex;
      margin-right: 35px;
    }
    .simply-amount {
      font-size: 30px;
      display: block;
    }
    .simply-word{
      font-size: 16px;
      display: block;
    }
  }
}
