body {
  padding-top: 0px !important;
}

.container {
  max-width: 1400px;
  @include breakpoint($screen-phone) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint($screen-sm) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint($screen-md) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint($screen-lg-desktop) {
    width: 100%;
    max-width: 1400px;
  }
}

.page-node-type-campaign-page,
.path-campaign-game,
.path-campaign-scorecards,
.path-team-member-registration,
.path-members-list {
  main[role="main"] {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    .layout-content {
      background-color: #ffffff;
      @include breakpoint($screen-phone) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
        padding: 0px;
        box-shadow: 0px;
      }
      @include breakpoint($screen-sm) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -550px;
        padding: 30px;
        box-shadow: 10px 20px 115px 10px;
      }
      @include breakpoint($screen-md) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -245px;
        padding: 30px;
        box-shadow: 10px 20px 115px 10px;
      }
      @include breakpoint($screen-lg-desktop) {
        margin-left: 125px;
        margin-right: 125px;
        margin-top: -245px;
        padding: 40px;
        box-shadow: 10px 20px 115px 10px;
      }

      position: relative;
      margin-bottom: 100px;
      min-height: 500px;
      h1 {
        text-transform: uppercase;
        text-align: center;
        @include breakpoint($screen-phone) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include breakpoint($screen-md) {
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
      .main-region {
        padding: 0px;
      }

    }
  }
}

.page-node-type-campaign,
.path-campaign-scorecards,
.path-team-member-registration,
.path-members-list {
  .wrapper-field-content {
    background: #fff;
    &:first-child .paragraph-2c-wrapper h4{
      margin-top: 10px !important;
    }
  }
  main[role="main"] {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    .container {
      padding: 0px;
    }
    .layout-content {
      background-color: #ffffff;
      @include breakpoint($screen-phone) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
        padding: 0px;
        box-shadow: 0px;
      }
      @include breakpoint($screen-sm) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -403px;
        padding: 30px;
        box-shadow: 10px 20px 115px 10px;
      }
      @include breakpoint($screen-md) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -245px;
        padding: 30px;
        box-shadow: 10px 20px 115px 10px;
      }
      @include breakpoint($screen-lg-desktop) {
        margin-left: 125px;
        margin-right: 125px;
        margin-top: -245px;
        padding: 40px;
        box-shadow: 10px 20px 115px 10px;
      }

      position: relative;
      margin-bottom: 100px;
      min-height: 500px;
      h1 {
        text-transform: uppercase;
        text-align: center;
        @include breakpoint($screen-phone) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include breakpoint($screen-md) {
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
      .main-region {
        padding: 0px;
      }
    }
  }
  // For logged members.
  &.logged-in main[role="main"] .layout-content {
    @include breakpoint($screen-md) {
      margin-top: -245px;
    }
    @include breakpoint($screen-lg-desktop) {
      margin-top: -245px;
    }
  }
}

.path-team-member-registration,
.path-members-list {
  main[role="main"] .layout-content {
    margin-top: 0;
  }
}

.layout-container {
  position: relative;
}

#block-campaignmemberregister {
  text-align: center;

  @include breakpoint($screen-phone) {
    margin-top: 65px;
  }
  @include breakpoint($screen-md) {
    margin-top: 0px;
  }
  .content-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 850px;
    padding: 40px 0px;

    @include breakpoint($screen-phone) {
      margin: 15px auto 15px auto;
    }
    @include breakpoint($screen-md) {
      margin: 75px auto 15px auto;
    }
  }
  .container {
    background-size: cover;
    height: 100% !important;
    @include breakpoint($screen-phone) {
      padding-bottom: 0px;
    }
    @include breakpoint($screen-sm) {
      padding-bottom: 0px;
    }
    @include breakpoint($screen-md) {
      padding-bottom: 60px;
    }
  }
  h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }
  .finish-date {
    color: #ffffff;
    @include breakpoint($screen-phone) {
      font-size: 14px !important;
    }
    @include breakpoint($screen-sm) {
      font-size: 18px !important;
    }
  }

  .countdown {
    margin: 0 auto;
    color: #ffffff;
    width: 300px;
    .simply-section {
      padding: 0 15px;
      position: relative;
      display: table-cell;
      &:not(:last-child) {
        &:after {
          content: "\f111";
          display: block;
          font-family: "FontAwesome";
          font-size: 8px;
          position: absolute;
          right: -5px;
          left: unset;
          top: 20px;
        }
      }
    }

    .simply-amount {
      display: block;
      font-weight: 700;
      @include breakpoint($screen-phone) {
        font-size: 20px;
      }
      @include breakpoint($screen-sm) {
        font-size: 30px;
      }
    }

    .simply-word {
      font-size: 16px;
      display: block;
    }
  }

  .openy-campaign-registration-simple-form {
    max-width: 400px;
    display: block;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    overflow: hidden;
    .button {
      width: 100%;
    }
    .form-item {
      margin: 0 0 5px 0;
    }
    .form-item-membership-id label {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
    }
    .form-control {
      height: 50px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
  }

  .message-wrapper {
    background: #fff;
    display: block;
    max-width: calc(100% / 1.2);
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
  }

}

.activity-tracking-menu-columns {
  &.left {
    @include breakpoint($screen-phone) {
      padding-right: 0px;
    }
    @include breakpoint($screen-lg-desktop) {
      padding-right: 53px;
    }
  }
  &.right {
    padding-left: 15px;
    h4 {
      @include breakpoint($screen-phone) {
        padding-left: 0px;
      }
      @include breakpoint($screen-lg-desktop) {
        padding-left: 60px;
      }

    }
    .field-prgf-campaign-game {
      @include breakpoint($screen-phone) {
        padding-left: 0px;
        border-left: none;
      }
      @include breakpoint($screen-lg-desktop) {
        padding-left: 60px;
        border-left: 1px solid;
      }
    }
  }
}

.visits-goal {
  .uppercase {
    text-transform: uppercase;
  }
  .bold {
    font-weight: bold;
  }
  .visits-goal-progress {
    margin-top: 5px;
    margin-bottom: 40px;
    .clearfix {
      clear: both;
    }
    .progress-row {
      clear: both;
    }
    .point {
      background: url('../img/inactive.png');
      background-repeat: no-repeat;
      background-position: center;
      width: calc(100% / 5);
      padding-left: calc(100% / 10 - 4px);
      padding-right: calc(100% / 10);
      padding-top: 2px;
      margin-top: 35px;
      margin-right: 0px;
      height: 60px;
      color: #fff;
      float: left;
      border-bottom: 4px solid #cecece;
      display: block;
      svg {
        width: 33px;
        margin-top: -6px;
        margin-left: -12px;
      }
      .point-count {
        margin-top: -38px;
        display: block;
      }
    }
    .point-1 {
      background-position: left !important;
      width: 33px !important;
      padding-left: 12px !important;
    }

  }
}

.field-prgf-campaign-activity {
  margin-top: 50px;
}

.wrapper-field-prgf-campaign-game {

  @include breakpoint($screen-phone) {
    border-top: 1px solid;
    padding-top: 20px;
  }
  @include breakpoint($screen-sm) {
    border-top: none;
    padding-top: 0px;
  }
}

.campaign-game {
  .cover-images {
    span {
      display: table-cell;
      padding: 5px;
      img {
        width: 100%;
      }
    }
  }
  .btn {
    width: 100%;
  }
}

.prizes {
  padding-left: 50px;
  margin-top: -65px;
  div {
    &.first-prize {
      font-size: 48px;
      span.h2 {
        background-image: url('../img/star.png');
        background-repeat: no-repeat;
        display: block;
        float: left;
        width: 135px;
        color: #fff;
        height: 130px;
        position: relative;
        padding-left: 30px;
        padding-top: 45px;
        text-transform: none;
      }
      span.title {
        line-height: 140px;
        font-size: 48px;
        border-bottom: none;
        color: $purple;
        position: relative;
        border-bottom: none;
        left: 15px;
        top: 15px;
      }
    }
    span.title {
      text-transform: uppercase;
      border-bottom: 1px solid;
      padding-bottom: 5px;
      font-size: 24px;
      small {
        font-size: 100%;
        text-transform: none;
      }
    }
    ul {
      list-style: none;
      padding-top: 30px;
      padding-bottom: 25px;
      li {
        color: $pink;
        position: relative;
        padding-left: 20px;
        text-transform: uppercase;
        font-size: 18px;
        &:after {
          content: "\f00c";
          font-family: "FontAwesome";
          display: block;
          color: $pink;
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
      li:not(:first-child) {
        &:after {
          left: 0px;
          top: 22px;
        }
        &:before {
          content: "\f067";
          font-family: "FontAwesome";
          display: block;
          color: $pink;
          font-weight: 700;
          padding-left: 70px;
        }
      }
    }

  }
}

.path-campaign-scorecards,
.path-team-member-registration,
.path-members-list {
  main[role="main"] {
    margin-top: 70px;
  }
}
.path-members-list {
  #views-exposed-form-campaign-members-members-list-block {
    margin-bottom: 3rem;
    .form-item, .form-actions {
      display: inline-block;
      vertical-align: middle;
    }
  }
  table {
    width: 100%;

    td {
      padding: 0 7px;
    }
  }
}

.node-422 {
  li a {
    font-size: 18px;
  }
  @include breakpoint($screen-phone) {
    .label-for-field-prgf-activity-visits {
      padding: 0 15px 15px;
      h4 {
        text-align: center;
        font-size: 28px !important;
        font-weight: 400;
        line-height: 40px;
      }
    }
    .field-prgf-activity-visits {
      padding: 0 15px;
    }
  }
  @include breakpoint($screen-lg-desktop) {
    .field-content {
      display: inline-block;
      width: 50%;
      float: left;
    }
    .label-for-field-prgf-activity-visits {
      padding: 0 10px 32px 10px;
      h4 {
        text-align: center;
        font-size: 40px !important;
        font-weight: 400;
        line-height: 57px;
      }
    }
    .columns .paragraph-container {
      padding: 0;
    }
  }
}

a:active, a:focus,
div:active, div:focus,
button:active, button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

#campaign-winner-stream {
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 9;
  position: fixed;
  background: white;
  min-height: 80px;
  .wrapper {
    height: 80px;
    padding-top: 24px;
    .marquee {
      font-size: 24px;
      span {
        display: inline-block;
      }
      .winner-name {
        color: #fff;
      }
      .spacer {
        width: 120px;
      }
      .time {
        font-size: 14px;
        color: #fff;
        padding: 0 5px;
        border-radius: 5px;
        vertical-align: middle;
      }
    }
    .close {
      top: 0;
      right: 0;
      height: 100%;
      opacity: 1;
      position: absolute;
      i {
        top: 20px;
        color: #fff;
        margin: 0 26px;
        position: relative;
        font-size: 40px;
        font-weight: 400;
      }
    }
  }
}

.play-again {
  margin-bottom: 25px;
}
