body {
  padding-top: 0px !important;
}

.container {
  max-width: 1400px;
  @include breakpoint($screen-phone) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint($screen-sm) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint($screen-md) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint($screen-lg-desktop) {
    width: 100%;
    max-width: 1400px;
  }
}

.page-node-type-campaign-page,
.path-campaign-game {
  main[role="main"] {
    background-color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;

    margin: 0 auto;

    .layout-content {
      background-color: inherit;

      @include breakpoint($screen-phone) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
        padding: 0px;
        box-shadow: 0px;
      }
      @include breakpoint($screen-sm) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -550px;
        padding: 0px;
        box-shadow: 10px 20px 115px 10px;
      }
      @include breakpoint($screen-md) {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -400px;
        padding: 0px;
        box-shadow: 10px 20px 115px 10px;
      }
      @include breakpoint($screen-lg-desktop) {
        margin-left: 125px;
        margin-right: 125px;
        margin-top: -400px;
        padding: 40px;
        box-shadow: 10px 20px 115px 10px;
      }

      position: relative;
      margin-bottom: 100px;
      min-height: 500px;
      h1 {
        text-transform: uppercase;
        text-align: center;
        @include breakpoint($screen-phone) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include breakpoint($screen-sm) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @include breakpoint($screen-md) {
          margin-top: 60px;
          margin-bottom: 70px;
        }
        @include breakpoint($screen-lg-desktop) {
          margin-top: 60px;
          margin-bottom: 70px;
        }
      }
      .main-region {
        padding: 0px;
      }

    }
  }
}

.page-node-type-campaign {
  .wrapper-field-content {
    background: #fff;
  }

  main[role="main"] {
    padding-left: 0px;
    padding-right: 0px;
    .container {
      padding: 0px;
    }
  }
}



.layout-container {
  position: relative;
}


#block-campaignmemberregister {
  text-align: center;
  .content-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 800px;
    padding: 40px 0px;
    margin: 75px auto;
  }
  .container {
    background-size: cover;
    padding-bottom: 60px;
    height: 100% !important;
  }
  h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }
  .finish-date {
    color: #ffffff;
    @include breakpoint($screen-phone) {
      font-size: 14px !important;
    }
    @include breakpoint($screen-sm) {
      font-size: 18px !important;
    }
  }

  .countdown {
    display: flex;
    margin: 0 auto;
    color: #ffffff;
    width: 300px;
    .simply-section {
      padding: 0 15px;
      position: relative;
      &:not(:last-child) {
        &:after {
          content: "\f111";
          display: block;
          font-family: "FontAwesome";
          font-size: 8px;
          position: absolute;
          right: -5px;
          left: unset;
          top: 20px;
        }
      }
    }

    .simply-amount {
      display: block;
      font-weight: 700;
      @include breakpoint($screen-phone) {
        font-size: 20px;
      }
      @include breakpoint($screen-sm) {
        font-size: 30px;
      }
    }

    .simply-word {
      font-size: 16px;
      display: block;
    }
  }

  .openy-campaign-registration-simple-form {
    max-width: 400px;
    display: block;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    overflow: hidden;
    .button {
      width: 100%;
    }
    .form-item {
      margin: 0px;
    }
    .form-item-membership-id label {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
    }
    .form-control {
      height: 50px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
  }

  .message-wrapper {
    background: #fff;
    display: block;
    max-width: calc(100% / 2);
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
  }

}


.activity-tracking-menu-columns {
  &.left {
    @include breakpoint($screen-phone) {
      padding-right: 0px;
    }
    @include breakpoint($screen-lg-desktop) {
      padding-right: 53px;
    }
  }
  &.right {
    padding-left: 15px;
    h4 {
      @include breakpoint($screen-phone) {
        padding-left: 0px;
      }
      @include breakpoint($screen-lg-desktop) {
        padding-left: 60px;
      }

    }
    .field-prgf-campaign-game {
      @include breakpoint($screen-phone) {
        padding-left: 0px;
        border-left: none;
      }
      @include breakpoint($screen-lg-desktop) {
        padding-left: 60px;
        border-left: 1px solid;
      }
    }
  }
}

.visits-goal {
  .description {
    text-align: center;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .bold {
    font-weight: bold;
  }
  .visits-goal-progress {
    margin-top: 5px;
    margin-bottom: 40px;
    .clearfix {
      clear: both;
    }
    .progress-row {
      clear: both;
    }
    .point {
      background: url('../img/inactive.png');
      background-repeat: no-repeat;
      background-position: center;
      width: calc(100% / 5);
      padding-left: calc(100% / 10 - 4px);
      padding-right: calc(100% / 10);
      padding-top: 2px;
      margin-top: 35px;
      margin-right: 0px;
      height: 60px;
      color: #fff;
      float: left;
      border-bottom: 4px solid #cecece;
      display: block;
    }
    .point.active {
      background: url('../img/active.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    .point-1 {
      background-position: left !important;
      width: 33px !important;
      padding-left: 12px !important;
    }

  }
}

.field-prgf-campaign-activity {
  margin-top: 50px;
}

.wrapper-field-prgf-campaign-game {

  @include breakpoint($screen-phone) {
    border-top: 1px solid;
    padding-top: 20px;
  }
  @include breakpoint($screen-sm) {
    border-top: none;
    padding-top: 0px;
  }
}

.campaign-game {
  .cover-images {
    display: flex;
    span {
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      flex-flow: column;
      img {
        width: 100%;
      }
    }
  }
  .btn {
    width: 100%;
  }
}


.prizes {
  padding-left: 50px;
  margin-top: -65px;
  div {
    &.first-prize {
      font-size: 48px;
      span.h2 {
        background-image: url('../img/star.png');
        background-repeat: no-repeat;
        display: block;
        float: left;
        width: 135px;
        color: #fff;
        height: 130px;
        position: relative;
        padding-left: 30px;
        padding-top: 45px;
        text-transform: none;
      }
      span.title {
        line-height: 140px;
        font-size: 48px;
        border-bottom: none;
        color: $purple;
        position: relative;
        border-bottom: none;
        left: 15px;
        top: 15px;
      }
    }
    span.title {
      text-transform: uppercase;
      border-bottom: 1px solid;
      padding-bottom: 5px;
      font-size: 24px;
      small {
        font-size: 100%;
        text-transform: none;
      }
    }
    ul {
      list-style: none;
      padding-top: 30px;
      padding-bottom: 25px;
      li {
        color: $pink;
        position: relative;
        padding-left: 20px;
        text-transform: uppercase;
        font-size: 18px;
        &:after {
          content: "\f00c";
          font-family: "FontAwesome";
          display: block;
          color: $pink;
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
      li:not(:first-child) {
        &:after {
          left: 0px;
          top: 22px;
        }
        &:before {
          content: "\f067";
          font-family: "FontAwesome";
          display: block;
          color: $pink;
          font-weight: 700;
          padding-left: 70px;
        }
      }
    }

  }
}