.field-prgf-1c-column {
  text-align: center;
  padding-bottom: 15px;
  .field-sb-body {
    p {
      text-transform: uppercase;
    }
  }
}

// Campaign Winners prgf type.
.paragraph--type--campaign-winners {
  .winners-branches-select {
    @extend .paragraph-background-container;
    .form-item-branch {
      text-align: center;
      @include breakpoint($screen-phone) {
        width: 100%;
      }
      @include breakpoint($screen-sm) {
        width: 300px;
      }
      margin: 0 auto;
      padding: 30px 0 40px 0;
      label {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
  #winners-block-wrapper {
    margin: 20px auto 0 auto;
    width: 90%;
    .winners-wrapper {
      margin-top: 20px;
      .winners-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
      }
      .winners-prize {
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .winners-members {
        text-transform: uppercase;
        @include breakpoint($screen-phone) {
          width: 100%;
        }
        @include breakpoint($screen-sm) {
          width: 60%;
        }

        margin: 0 auto;
        thead {
          font-size: 14px;
        }
        tbody {
          font-size: 18px;
          td:first-child {
            width: 70%;
          }
        }
      }
    }
  }
}

// Campaign Leadership prgf type.
.paragraph--type--campaign-leadership {
  overflow: hidden;

  .leadership-filters {
    overflow: hidden;
    &>.form-wrapper {
      @include breakpoint($screen-phone) {
        width: 100%;

      }
      @include breakpoint($screen-sm) {
        width: 600px;
        margin: 0 auto;
      }
    }
    .leadership-branches-select,
    .leadership-activities-select,
    .leadership-specify-select {
      text-align: center;
      justify-content: center;
      @include breakpoint($screen-phone) {
        width: 100%;

      }
      @include breakpoint($screen-sm) {
        width: 300px;
        float: left;
      }
      margin: 0 auto;
      padding: 0 0 10px 0;
      label {
        text-transform: uppercase;
        font-size: 18px;
        display: none;
      }

    }
  }
  .leadership-members {
    text-transform: uppercase;
    @include breakpoint($screen-phone) {
      width: 100%;
    }
    @include breakpoint($screen-sm) {
      width: 60%;
    }

    margin: 0 auto;
    thead {
      font-size: 14px;
      th:first-child {
        text-align: center;
      }
    }
    tbody {
      font-size: 18px;
      td:first-child {
        text-align: center;
      }
      td:nth-child(3) {
        width: 40%;
      }
    }
  }
  .leadership-no-results {
    text-align: center;
    font-size: 16px;
  }
  .leadership-pager {
    text-align: center;
    padding-bottom: 20px;
  }
}

// Background container prgf type styles.
@include breakpoint($screen-lg-desktop) {
  .paragraph-background-container {
    .title {
      padding-bottom: 50px;
    }
  }
}

.paragraph-background-container {
  padding: 0 20px;
  .field-inner-paragraph {
    .paragraph-container {
      padding: 0px;
    }
  }
  .paragraph-container {
    background-color: inherit;
    color: #ffffff;
    h2 {
      margin: 0px;
      padding-top: 30px;
    }
    h1, h2, h4 {
      color: inherit !important;
      text-transform: uppercase;
    }
    .fa {
      color: inherit;
      font-size: 64px;
      max-width: 100%;
      max-height: 100%;
      float: none;
    }
  }
}

// General paragraph columns styles.
.block-description--wrapper {
  .block-description--text {
    vertical-align: top;
    border: none !important;
    .field-icon {
      float: none;
      img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: 0 auto;
        display: block;
      }
    }
    h2 {
      &.with-icon {
        .field-sb-title {
          padding-top: 35px;
          text-transform: uppercase;
        }
      }
    }
    .field-sb-title {
      h4 {
        margin-top: 15px;
        font-size: $h4-size;
        padding-left: 0px !important;
        text-transform: uppercase;
      }

    }
    .field-sb-body {
      margin-top: 5px;
      p {
        margin: 0 0 5px;
      }
    }
  }
}

.columns .paragraph-container {
  @include breakpoint($screen-phone) {
    .block-description--text {
      display: block;
    }
  }
  @include breakpoint($screen-sm) {
    .block-description--text {
      padding: 10px;
      display: table-cell;
    }
  }
  @include breakpoint($screen-lg-desktop) {
    .block-description--text {
      display: table-cell;
      padding: 0px 10px 10px 10px;
    }
  }
}

// Specific styles for the "Campaign" node type.
.page-node-type-campaign {
  .columns .paragraph-container {
    @include breakpoint($screen-phone) {
      padding: 30px 15px;
    }
    @include breakpoint($screen-lg-desktop) {
      padding: 0px 50px;
    }
  }
}

// Specific styles for the "Campaign page" node type.
.page-node-type-campaign-page,
.path-campaign-game {
  .paragraph-background-container {
    p {
      font-size: 18px;
    }
    @include breakpoint($screen-phone) {
      margin-right: -15px;
      margin-left: -15px;
    }
    @include breakpoint($screen-lg-desktop) {
      margin-right: -40px;
      margin-left: -40px;
    }
    .paragraph-container {
      padding: 0px;
    }
  }
}

.paragraph-1c-wrapper {
  .paragraph-container {
    margin: 0 auto;
    .block-description--text {
      display: block;
    }
  }
}


.paragraph-2c-wrapper {
  .paragraph-container {
    margin: 0 auto;
    .block-description--text {
      @include breakpoint($screen-phone) {
        width: 100%;
      }
      @include breakpoint($screen-sm) {
        width: 50%;
      }
    }
  }
}

.paragraph-3c-wrapper {
  .paragraph-container {
    margin: 0 auto;
    .block-description--text {
      @include breakpoint($screen-phone) {
        width: 100%;
      }
      @include breakpoint($screen-sm) {
        width: 33%;
      }
      p:first-child {
        min-height: 75px;
      }
    }
  }
}

// Campaign Info Blocks paragraph type.
.paragraph--campaign-info-blocks {
  .columns {
    display: inline-block;
    width: 100%;
  }
  .info-column p:first-of-type {
    margin-top: 20px;
  }
}
