{#
/**
 * @file
 *
 * Available variables:
 * - data: contains all the data..
 */
 *
#}

{{ attach_library('openy_activity_finder/openy_activity_finder') }}

<div id="activity-finder-app">
  <div class="activity-finder__wrapper">

    {# Step 1 #}
    <div v-show="step === 0" class="activity-finder__step">
      {% include '@openy_activity_finder/steps/openy-activity-finder-step-1.html.twig' %}
    </div>
    {# / Step 1 #}

    {# Step 2 #}
    <div v-show="step === 1" class="activity-finder__step">
      {% include '@openy_activity_finder/steps/openy-activity-finder-step-2.html.twig' %}
    </div>
    {# / Step 2 #}

    {# Step 3 #}
    <div v-show="step === 2" class="activity-finder__step">
      {% include '@openy_activity_finder/steps/openy-activity-finder-step-3.html.twig' %}
    </div>
    {# / Step 3 #}

    {# Step 4 #}
    <div v-show="step === 3" class="activity-finder__step">
      {% include '@openy_activity_finder/steps/openy-activity-finder-step-4.html.twig' %}
    </div>
    {# / Step 4 #}

  </div>
</div>
<br/><br/>{#Debug: {{data}}#}
