/**
 * @file content_browser_grid.view.css
 */

.content-browser-grid-form .views-exposed-form .form-actions {
  display: inline-block;
  margin-top: 2em;
}

.content-browser-grid-form .tabs {
  display: none;
}

/*center grid */
.content-browser-grid-form .view-content {
  margin: 0 auto;
}

/* Since we dont know the width of what exposed filters will be there, this will align them center */
.content-browser-grid-form .views-exposed-form {
  text-align: center;
  width: 100%;
}

/* Dont center the text though for the actual items */
.content-browser-grid-form .views-exposed-form .form-item {
  text-align: left;
}

.content-browser-form.content-browser-grid-form .views-row {
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 5px;
  margin: 0 0 10px 0;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

.content-browser-grid-form .content-browser-actions {
  position: fixed;
  z-index: 1;
  bottom: 0;
  padding: 10px;
  background: white;
  width: 100%;
  border-top: 1px solid lightgray;
}
