/* --------------------------
    Icon Fonts
----------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot');
  src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icons/icomoon.woff') format('woff'),
  url('../fonts/icons/icomoon.ttf') format('truetype'),
  url('../fonts/icons/icomoon.svg#icomoon') format('svg');
}

