h1,
.h1,
h1.node-title {
  font-size: 50px;  
  font-weight: 500;
  letter-spacing: -2px;
  color: $gray-700;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  color: $gray-700;
}

h3, #membership-calc-wrapper legend {
  font-size: 30px;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: $gray-400;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

h6,
.h6 {
  font-size: 20px;
  font-weight: 500;
}

p {
  word-wrap: break-word;
}

figcaption {
  font-size: 13px;
  font-style: italic;
  text-align: right;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
