$sprite: map-get($icons, sprite) !default;

@function sprite-attr($icon, $attr) {
	$newIcon: map-get($icons, $icon);
	@if $newIcon == null {
		@warn "Can't find an icon with the name #{$icon}";
	}
	@return map-get($newIcon, $attr);
}

@function icon-attr($icon) {
	$attr: (
		width: sprite-attr($icon, width),
		height: sprite-attr($icon, height),
		x: sprite-attr($icon, backgroundX),
		y: sprite-attr($icon, backgroundY)
	);

	@return $attr;
}

@function icon_width($icon) {
	@return sprite-attr($icon, width);
}

@function icon_height($icon) {
	@return sprite-attr($icon, height);
}

%sprite {
	display: inline-block;
	background-image: url(map-get($sprite, svgPath));
	background-size: map-get($sprite, width) map-get($sprite, height);
}

%ie-sprite {
	 background-image: url(map-get($sprite, pngPath));
}

@mixin ie-sprite($icon, $type: all) {
	$iconMap: icon-attr($icon);

	@if $ieSprite {
		#{$ieSprite} & {
			@if $type == all {
				// Shares the PNG background
				//@extend %ie-sprite;
			}
			// Outputs dimensions of icon
			@if $type == all or $type == size {
				width: map-get($iconMap, width);
				height: map-get($iconMap, height);
			}
			// Outputs background position
			@if $type == all or $type == bg {
				background-position: (map-get($iconMap, x) - 5) (map-get($iconMap, y) - 5);
			}
		}
	}
}

@mixin sprite($icon, $type: all) {
	@if $type == all {
		@extend %sprite;
	}

	$iconMap: icon-attr($icon);

	@if $type == all or $type == size {
		width: map-get($iconMap, width);
		height: map-get($iconMap, height);
	}

	@if $type == all or $type == bg {
		background-position: map-get($iconMap, x) - 5 map-get($iconMap, y) - 5;
	}
}

@mixin icon-center($position: ($top, $left, $bottom, $right)) {
  @if length($position) == 2 {

    @if index($position, top) > 0 and index($position, left) {
      transform: translate(-50%, -50%);
    }

    @if index($position, top) > 0 and index($position, right) {
      transform: translate(50%, -50%);
    }

  } @else if length($position) == 1  {

    @if index($position, top) {
      transform: translateY(-50%);
    }

    @if index($position, right) {
      transform: translateX(50%);
    }

    @if index($position, bottom) {
      transform: translateY(50%);
    }

    @if index($position, left) {
      transform: translateX(-50%);
    }
  }
}
