$icons: (
    sprite: (width: 588px, height: 543px, svgPath: '../images/sprite.svg'),
icon-arrow-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: 0px),
icon-arrow-right: (width: 48px, height: 48px, backgroundX: -58px, backgroundY: -58px),
icon-camps: (width: 50px, height: 50px, backgroundX: -116px, backgroundY: -116px),
icon-childcare: (width: 50px, height: 50px, backgroundX: -176px, backgroundY: -176px),
icon-facebook-f: (width: 12px, height: 20px, backgroundX: -236px, backgroundY: -236px),
icon-kidsteensfamilies: (width: 50px, height: 50px, backgroundX: -258px, backgroundY: -266px),
icon-noun_130272: (width: 50px, height: 44.93px, backgroundX: -318px, backgroundY: -326px),
icon-noun_99411: (width: 50px, height: 33.33px, backgroundX: -378px, backgroundY: -381px),
icon-search: (width: 22px, height: 22px, backgroundX: -438px, backgroundY: -425px),
icon-swimming: (width: 50px, height: 19.01px, backgroundX: -470px, backgroundY: -457px),
icon-twitter: (width: 20px, height: 16px, backgroundX: -530px, backgroundY: -487px),
icon-youtube: (width: 18px, height: 20px, backgroundX: -560px, backgroundY: -513px),
);
