$fontSizeRoot : 10px;
$top-nav-height: 100px;

// Fonts
$font-cachet-bold   : "CachetBold";
$font-cachet-book   : "CachetBook";
$font-cachet-medium : "CachetMedium";

// Color
/// Blue
$color-blue   : #0089d0;
$color-blue-a : #0060af;
$color-blue-b : #00447b;
$color-blue-c : #00aeef;
$color-blue-f : #337ab7;

/// Gray
$color-gray   : #636466;
$color-gray-a : #d8d8d8;
$color-gray-b : #979797;
$color-gray-c : #4f4f4f;
$color-gray-d : #333;
$color-gray-f : #ccc;

///	Violet
$color-violet : #5c2e91;

/// Pink
$color-pink: #c6168d;

/// Default
$color-white : #fff;
