/* reset styles from sidebar */
.schedule-dashboard__sidebar .navbar-toggle {
  border: none;
  margin: 0;
  padding: 0;
  float: left;
  position: static !important;
  background: none !important;
}

body.toolbar-fixed.toolbar-horizontal .viewport .schedule-dashboard__sidebar .navbar-default,
.schedule-dashboard__sidebar .navbar-default {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: none;
  top: 0 !important;
}

.schedule-dashboard__sidebar .navbar-header {
  float: none;
  width: 100%;
}

.schedule-dashboard__sidebar .navbar-header .row {
  display: flex;
  align-items: center;
}

.schedule-dashboard__sidebar .navbar-header [data-toggle] {
  color: #4f4f4f;
  text-decoration: none;
  cursor: pointer;
}

.schedule-dashboard__sidebar .navbar-collapse {
  border: none;
  padding: 0;
}

/**
 * Styles the mobile collapsed view for the filters sidebar component.
 * On mobile the sidebar collapses into a "Show/Hide Filters +/-" button.
 */
.schedule-dashboard__sidebar .navbar-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.schedule-dashboard__sidebar .navbar-controls__title {
  font-size: 16px;
}

/* search styling */
.schedule-dashboard__search--form {
  display: flex;
  align-items: stretch;
  margin-bottom: 2rem;
}

.schedule-dashboard__search--form .form-control {
  flex: 1 auto;
  border-radius: 0;
}
.schedule-dashboard__wrapper .schedule-dashboard__sidebar .schedule-dashboard__search--form {
  padding: 0;
  border-top: 0;
}

/**
 * Form Styling
 */
.schedule-dashboard__sidebar .form-group-wrapper {
  padding: 2.5rem 0 1.5rem;
  border-top: 2px solid #d4d4d4;
}

.schedule-dashboard__sidebar .form-group-wrapper > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 16px;
  cursor: pointer;
}

.schedule-dashboard__sidebar .form-group-wrapper > label:hover {
  opacity: .9;
}

.schedule-dashboard__sidebar .form-group-wrapper,
.schedule-dashboard__sidebar .form-group-wrapper,
.schedule-dashboard__sidebar .form-group-wrapper > label,
.schedule-dashboard__sidebar .navbar-form .form-control,
.schedule-dashboard__sidebar .date {
  width: 100%;
}

.schedule-dashboard__sidebar .collapse.in,
.schedule-dashboard__sidebar .collapse.show {
  padding-bottom: 1rem;
}

/* Adds spacing for checkbox wrappers. */
.schedule-dashboard__sidebar .form-group-wrapper > .radios > .checkbox-wrapper {
  padding-bottom: .5rem;
}

.schedule-dashboard__sidebar .form-group-wrapper > .radios > .checkbox-wrapper:last-child {
  padding-bottom: 0;
}

/* custom checkboxes > labels */
.schedule-dashboard__sidebar .checkbox-wrapper label {
  font-weight: normal;
  cursor: pointer;
}

/* Tabs (Age/Days) */
.schedule-dashboard__sidebar .tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper {
  padding: 0 5px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper input {
  position: absolute;
  left: -9999px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper label {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: #666;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
}

.schedule-dashboard__sidebar .tabs .checkbox-wrapper input:checked + label {
  background: #222;
}

/* Checkboxes & radios (locations) */
.schedule-dashboard__sidebar .checkboxes input,
.schedule-dashboard__sidebar .radios input {
  position: absolute;
  left: -9999px;
}

.schedule-dashboard__sidebar .checkboxes input + label,
.schedule-dashboard__sidebar .radios input + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  word-break: break-word;
}

.schedule-dashboard__sidebar .checkboxes input + label:before,
.schedule-dashboard__sidebar .checkboxes input + label:after,
.schedule-dashboard__sidebar .radios input + label:before,
.schedule-dashboard__sidebar .radios input + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.schedule-dashboard__sidebar .radios input + label:before,
.schedule-dashboard__sidebar .radios input + label:after {
  width: 14px;
  height: 14px;
}

.schedule-dashboard__sidebar .checkbox-unchecked,
.schedule-dashboard__sidebar .checkbox-checked,
.schedule-dashboard__sidebar .checkbox-partial {
  width: 100%;
  display: flex;
}

/* Checkbox outline. */
.schedule-dashboard__sidebar .checkboxes input + label:before {
  border: 2px solid #666666;
  background: white;
}

/* Checkbox > checkmark icon (default). */
.schedule-dashboard__sidebar .checkboxes input + label:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
  background-size: contain;
}

.schedule-dashboard__sidebar .checkboxes input:not(:checked) + label:after,
.schedule-dashboard__sidebar .radios input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.schedule-dashboard__sidebar .checkboxes .checkbox-partial input + label:after,
.schedule-dashboard__sidebar .checkboxes .checkbox-checked input + label:after,
.schedule-dashboard__sidebar .checkboxes input:checked + label:after,
.schedule-dashboard__sidebar .radios input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Parent styles (nested locations). */
/* Material Icons + https://yoksel.github.io/url-encoder */
.schedule-dashboard__sidebar .checkboxes .checkbox-partial input + label:after {
  /* minus icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='white' d='M19 13H5v-2h14v2z'/%3E%3C/svg%3E");
}

.schedule-dashboard__sidebar .checkboxes .checkbox-checked input + label:after {
  /* plus icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='white' d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3C/svg%3E");
}

/* Radios outline. */
.schedule-dashboard__sidebar .radios input + label:before {
  box-sizing: content-box;
  content: '';
  color: #666666;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  border: 2px solid #666666;
  text-align: center;
  border-radius: 50%;
}

.schedule-dashboard__sidebar .radios input + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #666666;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-radius: 50%;
}

/* Arrow icon styling for checkboxes with children. (ie. Location > Branch) */
.checkbox-toggle-subset span {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .schedule-dashboard__sidebar .checkboxes .checkbox-wrapper {
    padding-left: 15px;
  }
  .schedule-dashboard__sidebar .checkboxes input:checked + label,
  .schedule-dashboard__sidebar .checkboxes input:not(:checked) + label {
    padding-left: 10px;
  }
  .schedule-dashboard__sidebar .checkboxes input:checked + label:before,
  .schedule-dashboard__sidebar .checkboxes input:not(:checked) + label:before,
  .schedule-dashboard__sidebar .checkboxes input:checked + label:after,
  .schedule-dashboard__sidebar .checkboxes input:not(:checked) + label:after {
    left: -15px;
  }
}
