/* BS4 Helpers. */
.d-inline-flex {
  display: inline-flex;
}

.ml-auto {
  margin-left: auto;
}

/* Stepper styling. */
.activity-finder__step_header--progress {
  background-color: #eee;
}
.activity-finder__step_header--progress > .container {
  max-width: 100%;
}
.activity-finder__step_header--progress-inner {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 0.75rem 0;
}

.activity-finder__step_header--progress-spacer {
  padding: 0 .5rem 0 0;
}

.activity-finder__step_header--actions {
  margin-bottom: 3rem;
  padding: 30px 0;
}

.activity-finder__step_header .start_over {
  float: right;
  font-weight: bold;
  font-size: 14px;
}

.activity-finder__step_header .actions {
  float: right;
}
