.level-list {
  padding: 20px;
  margin-bottom: 60px;
  .form-group .form-check {
    padding: 15px 20px;
    border-top: 1px solid #777;
  }

  .btn-next {
    background: #fff;
    color: #777;
    border-radius: 0;
  }

  .breadcrumb {
    font-size: 1.75rem;
    background: #fff;
    padding: 0.5rem 0;
    margin-bottom: 0;
    .breadcrumb-item.active {
      color: inherit;
      &:before {
        color: inherit;
        content: '>';
      }
    }
  }
}

.kids-data {
  padding: 0.5rem 0;
  text-align: right;
}
