.level-list {
  padding: 20px;
  margin-bottom: 60px; }
  .level-list .form-group .form-check {
    padding: 15px 20px;
    border-top: 1px solid #777; }
  .level-list .btn-next {
    background: #fff;
    color: #777;
    border-radius: 0; }
  .level-list .breadcrumb {
    font-size: 1.75rem;
    background: #fff;
    padding: 0.5rem 0;
    margin-bottom: 0; }
    .level-list .breadcrumb .breadcrumb-item.active {
      color: inherit; }
      .level-list .breadcrumb .breadcrumb-item.active:before {
        color: inherit;
        content: ">"; }

.kids-data {
  padding: 0.5rem 0;
  text-align: right; }
