.paragraph--type--lto {
  background-color: $dark-blue;
  padding: 20px 0;
  margin: -20px 0 40px;

  .field-lto-title {
    @include cachet();
    color: $white;
    font-size: 32px;

    @media (max-width: $screen-phone) {
      margin: 0 0 0 10px;
      font-size: 24px;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-md) {
      font-size: 28px;
    }
  }

  .field-lto-subtitle {
    @include cachet();
    color: $white;
    font-size: 20px;
    @media (min-width: $screen-md) {
      padding: 15px 0 0 0;
    }
    @media (max-width: $screen-sm) {
      padding-bottom: 14px;

    }
    @media (max-width: $screen-phone) {
      margin: 0 0 0 10px;
      font-size: 18px;
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-desktop) {
    .block--subtitle {
      clear: both;
    }
    .block--btn {
      display: inline-block;
      float: none;
      padding: 10px 20px 0 20px;
    }
  }

  .btn {
    white-space: normal;
    font-size: 18px;
    padding: 0;
    width: 100%;
    border: 1px solid white;
    a {
      display: block;
      padding: 12px;
      color: white;
      @include cachet-medium();
      text-transform: uppercase;
    }
  }

  .wrapper-field-bottom-content & {
    margin: 0;
  }
}
