{#
/**
 * @file
 * GroupEx Pro day schedule template.
 *
 * Available variables:
 * - classes: an array of classes;
 * - title: (string) short title of Location;
 * - pdf_href: string link to pdf file on groupex;
 *
 * @ingroup themeable
 */
#}
<figure id="group-ex-results clearfix">
  <div class="row">
    {% for class in classes %}
      {{ class }}
    {% endfor %}
  </div>
</figure>
