@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Cachet Bold';
  src: url('../fonts/cachetstd-bold-webfont.eot');
  src: url('../fonts/cachetstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cachetstd-bold-webfont.woff') format('woff'),
  url('../fonts/cachetstd-bold-webfont.ttf') format('truetype'),
  url('../fonts/cachetstd-bold-webfont.svg#CachetStdnormal') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Cachet Book';
  src: url('../fonts/cachetstd-book-webfont.eot');
  src: url('../fonts/cachetstd-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cachetstd-book-webfont.woff') format('woff'),
  url('../fonts/cachetstd-book-webfont.ttf') format('truetype'),
  url('../fonts/cachetstd-book-webfont.svg#CachetStdBook') format('svg');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Cachet';
  src: url('../fonts/cachetstd-medium-webfont.eot');
  src: url('../fonts/cachetstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cachetstd-medium-webfont.woff') format('woff'),
  url('../fonts/cachetstd-medium-webfont.ttf') format('truetype'),
  url('../fonts/cachetstd-medium-webfont.svg#CachetStdMedium') format('svg');
}

.menu-base-theme a.is-active {
  text-decoration: underline;
}

#page-title {
  background-color: $grey1;
  margin-bottom: 30px;
  h1 {
    text-transform: uppercase;
    font-size: 40px;
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
}

#block-multipurpose-business-theme-breadcrumbs {
  display: none;
}

#block-multipurpose-business-theme-content {
  .view-wrap {
    .views-row {
      clear: both;
    }
    .views-row {
      h2 {
        display: none;
      }
    }

    .views-row:first-child {
      h2 {
        display: block;
        font-size: 40px;
        color: $pink;
        margin-bottom: 40px;
        @media screen and (max-width: 767px) {
          font-size: 30px;
        }
        a {
          color: $pink;
        }
      }

      ul {
        list-style: none;
        overflow: hidden;
        padding-left: 0;
        li {
          float: left;
          padding: 0 22px 0 40px;
          font-size: 15px;
          text-align: left;
          line-height: 20px;
          margin-bottom: 25px;
          position: relative;
          width: 100%;
          @media screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 17px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 50px;
            padding: 0 22px;
            width: 50%;
            &:nth-child(3) {
              clear: both;
            }
          }
          @media screen and (min-width: 992px) {
            font-size: 17px;
            line-height: 25px;
            text-align: center;
            padding: 0 22px;
            margin-bottom: 50px;
            width: 25%;
          }
          &:before {
            color: $pink;
            font-size: 36px;
            position: absolute;
            left: 0;
            top: 5px;
            @media screen and (min-width: 768px) {
              position: static;
              display: block;
              float: none;
              margin-bottom: 35px;
            }
          }
          &:nth-child(1):before {
            content: '1.';
          }
          &:nth-child(2):before {
            content: '2.';
          }
          &:nth-child(3):before {
            content: '3.';
          }
          &:nth-child(4):before {
            content: '4.';
          }
        }
      }
    }
  }
  .rounded {
    h3 {
      font-size: 25px;
      margin-bottom: 40px;
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    .inner {
      border: 1px solid;
      border-radius: 50%;
      width: 175px;
      height: 175px;
      margin: 40px auto;
      text-align: center;
      padding: 35px 0 0;
      @media screen and (max-width: 767px) {
        padding: 20px 0 0;
        width: 125px;
        margin: 15px auto;
        height: 125px;
      }
      .title {
        color: $black;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
      .value {
        font-size: 36px;
        line-height: 36px;
        @media screen and (max-width: 768px) {
          font-size: 26px;
          line-height: 26px;
        }
      }
      .sub {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 22px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    .row > div {
      &:nth-child(1) .inner {
        border-color: $blue;
        padding: 30px 0 0;
        .value {
          font-size: 30px;
          color: $blue;
          line-height: 50px;
          @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 25px;
          }
        }
        .sub {
          color: $blue;
        }
      }
      &:nth-child(2) .inner {
        border-color: $pink;
        padding: 30px 0 0;
        .value {
          color: $pink;
          line-height: 50px;
          @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 25px;
          }
        }
        .sub {
          color: $pink;
        }
      }
      &:nth-child(3) .inner {
        border-color: $green;
        .value {
          color: $green;
        }
        .sub {
          color: $green;
          padding: 0px 20px;
        }
      }
      &:nth-child(4) .inner {
        border-color: $yellow;
        .value {
          color: $yellow;
        }
        .sub {
          color: $yellow;
          font-size: 15px;
          padding: 0px 20px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

.get-started-with-open-y {
  p {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
      br {
        display: none;
      }
    }
  }

  .share {
    text-align: center;
    margin-bottom: 50px;
    p {
    color: $pink;
    }
    a.fb {
      background: url('../images/social.png') no-repeat 0 0;
      display: inline-block;
      margin-right: 50px;
      height: 49px;
      width: 49px;
    }
    a.tw {
      background: url('../images/social.png') no-repeat -98px 0;
      display: inline-block;
      margin-right: 50px;
      height: 49px;
      width: 49px;
    }
    a.mail {
      background: url('../images/social.png') no-repeat -195px 0;
      display: inline-block;
      height: 49px;
      width: 49px;
    }
  }

  .form {
    text-align: center;
    margin-bottom: 50px;
    p {
      color: $yellow;
    }
    input[type='text'] {
      height: 49px;
      border-color: white;
      font-size: 14px;
      width: 200px;
    }
    input[type='submit'] {
      padding: 9px 20px 10px;
      border-radius: 2px;
      font-size: 20px;
      vertical-align: top;
      margin-left: -4px;
    }
  }
}

.fa.fa-round {
  font-size: 100px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;

  &.blue {
    color: $blue;
  }
  &.pink {
    border: 1px solid $pink;
    color: $pink;
  }
  &.yellow {
    border: 1px solid $yellow;
    color: $yellow;
  }
  &.green {
    border: 1px solid $green;
    color: $green;
  }
}

.fa.fa-round-small {
  font-size: 48px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;

  &.blue {
    color: $blue;
  }
  &.pink {
    border: 1px solid $pink;
    color: $pink;
  }
  &.yellow {
    border: 1px solid $yellow;
    color: $yellow;
  }
  &.green {
    border: 1px solid $green;
    color: $green;
  }
}

.about-open-y {
  margin: 50px 0;
  .container {
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
  .wrapper {
    text-align: center;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 20px;
    line-height: 25px;
    max-width: 340px;
    margin: 0 auto 20px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.bottom-widgets {
  .row .region {
    background: none;
    box-shadow: none;

    p {
      @media screen and (max-width: 767px) {
        /* font-size: 14px; */
        /* line-height: 18px; */
      }
      .morecontent span {
        display: none;
      }
    }
  }
  .row > div {
    img {
      margin: 0;
    }
  }
}

.open_y_container {
  ul {
    list-style: none;
    padding: 0;
    clear: both;
    overflow: hidden;

    li {
      font-size: 24px;
      width: (100% / 3);
      padding: 0 30px 20px;
      box-sizing: border-box;
      float: left;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    li:first-child {
      &:before {
        display: none;
      }
    }
  }

}


.open_y_is {
  background: url('../images/open_y_is.png') no-repeat center 0;
  clear: both;
  text-align: center;
  color: white;
  padding: 120px 0 60px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  background-size: cover;
  @media screen and (max-width: 767px) {
    padding: 50px 0 30px;
  }

  h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
  .inner {
    padding: 0 30px;
  }
  ul {
    list-style: none;
    li {
      font-size: 23px;
      padding-bottom: 20px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
      &:before {
        content: '';
        display: block;
        width: 20px;
        border-top: 2px solid $blue;
        margin: 0 auto 20px;
        color: white;
      }
    }
    li:first-child {
      &:before {
        display: none;
      }
    }
  }
}

.flexslider {
  .slides {
    > li {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
  .flex-caption {
    text-align: center;
    color: white;
    width: 100%;
    position: static;
    padding: 2% 2% 10%;

    h2 {
      font-size: 50px;
      color: white;
      margin: 0 auto 82px;
      display: inline-block;
      vertical-align: top;
      line-height: 82px;
      padding: 0 0 34px;
      border-bottom: 2px solid #fff;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 50px;
      }
      @media screen and (max-width: 767px) {
        font-size: 50px;
      }
    }
    .sub {
      font-size: 16px;
      margin-bottom: 80px;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
    .flex-description {
      margin: 0 auto 0;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 40px;
        p {
          display: none;
        }
      }
    }
    .more-link {
      color: white;
      text-decoration: none;
      &:after {
        content: '⋁';
        display: block;
      }
    }
  }
}

#ui_accordion .panel-heading h4 .fa {
  color: $blue;
  margin-right: 10px;
}

.features-wrapper {
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  .features-alt_item {
    text-align: center;
  }
  .features-alt_icon {
    float: none;
    margin-right: 0;
  }
  .features-alt_title {
    font-weight: bold;
    color: black;
  }
}
