.paragraph-1c-wrapper {
  padding-bottom: 30px;

  .field-prgf-1c-title {
    @include cachet();
    font-weight: normal;
    font-size: 28px;
    color: $gray-400;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 40px;
    }
  }

  .field-prgf-1c-description {
    @include cachet();
    color: $black;
    font-size: 20px;
    line-height: 1.45em;

    p {
      margin: 0 0 5px;
    }
  }
}

@include media-breakpoint-up(md) {
  .node--type-landing .field-landing-body > .paragraph-1c-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

