.paragraph--type--all-amenities {
  .field-field-prgf-amnts-view {
    table {
      width: 100%;

      tr {
        border: none;
        padding: 0;
      }

      td {
        padding: 7px 10px;
      }

      tr:nth-child(odd) td {
        background-color: $primary;
      }

      tr:nth-child(even) td {
        background-color: $primary-darker;
      }
    }

    .views-field-title {
      font-size: 16px;

      a {
        @include cachet();
        color: $white;
      }
    }
  }

  .views-field-field-location-amenities {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 1px 5px;
    }
  }

  .field-amenities-icon {
    background-color: $white;
    border-radius: 32px;
    padding: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;

    svg * {
      fill: $primary-darker;
    }
  }

  .views-element-container {
    margin-bottom: 40px;

    legend {
      color: $gray-400;

      span {
        border-bottom: 1px solid #ccc;
        color: $gray-400;
        text-transform: none;
        display: block;
        margin: 20px 0;
      }
    }

    form {
      margin-bottom: 1em;

      fieldset {
        margin: 0;
      }

      .fieldgroup.form-checkboxes {
        display: flex;
        flex-wrap: wrap;

        // checkboxes
        .form-item {
          margin: 0 0 5px;
          display: flex;
          align-items: center;
          width: 100%;

          @include media-breakpoint-up(md){
            width: 50%;
          }

          @include media-breakpoint-up(lg){
            width: 33.33333%;
          }

          .field-amenities-icon {
            padding: 2px;
            width: 30px;
            height: 30px;
            margin: 0 4px;
          }

          label {
            > div {
              display: flex;
              align-items: center;
            }

            .field-amenities-icon-wrapper {
              vertical-align: middle;
            }

            .term-name {
              padding-right: 20px;
            }

            svg * {
              fill: $blue;
              color: $green-aa;
            }

          }
        }

      }
    }
  }

  .views-field-field-location-amenities .term-name {
    display: none;
  }
}

.list-branch-amenities-wrapper h5 {
  font-size: 15px;
}

.paragraph--type--branch-amenities-with-icons {
  background-color: #333333 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;

  .wrapper-field-location-amenities {
    display: block;
    margin: 0px;
    padding: 0px;
    max-width: none;

    .label-for-field-location-amenities {
      font-family: $font-family-sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      border-bottom: 1px solid #979797;
      max-height: initial;
      max-width: initial;

      padding-bottom: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      padding-left: 0px;
    }

    > div:last-child {
      @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
      }

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0px;
      padding: 15px;
      max-width: none;
      flex: none;

      .contextual-region {
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
        margin-bottom: 35px;

        .field-amenities-icon-wrapper {
          float: left;

          .field-amenities-icon {
            background-color: $white;
            border-radius: 32px;
            padding: 4px;
            width: 32px;
            height: 32px;
            overflow: hidden;
          }

          svg * {
            fill: $primary-darker;
          }
        }

        .term-name {
          margin: 0px;
          padding: 5px 0px 0px 40px;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.block-description--wrapper .header-amenities {
  font-weight: bold;
}

.paragraph--type--branch-amenities {
  border: none;
  background: $white;
  box-shadow: 0 3px 30px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 50px;
  color: $gray-500;
  padding: 30px 40px;

  .field-amenities-block {
    text-align: center;
  }

  .field-sb-title {
    @extend h2;
    text-transform: uppercase;
  }
  .field-branch-am {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .list-branch-amenities-wrapper {
    width: 100%;

    .col-md-6 {
      padding-right: 5px;
      padding-left: 5px;

      &:nth-child(2) {
        .term-name {
          @media (max-width: 766px) {
            margin-top:0px;
          }
        }
      }
    }

    .header-amenities {
      @include cachet;
      font-size: 20px;
      margin-top: 10px;
      text-align: left;
    }

    .term-name {
      @include cachet;
      display: flex;
      border-radius: 5px;
      padding: 5px 0;
      text-align: left;
      font-size: 18px;
    }
    .term-name:before {
      font-family: $font-awesome;
      content: "\f00c";
      color: $success;
      display: inline-block;
      font-size: 18px;
      padding: 0 10px;
      font-weight: 900;
    }
    .term-name .name {
      display: inline-block;
      padding-left: 8px;
    }

    .amenities-closed .term-name:before {
      font-family: $font-awesome;
      font-weight: 900;
      content: "\f00d";
      color: $red;
    }
  }

  .field-sb-link a {
    margin-top: 23px;
  }
}

