.banner {
  background-color: $cyan;
  overflow: hidden;
  position: relative;

  // Color variations.
  &--dark-blue { background-color: $primary-darker; }
  &--dark-green { background-color: $teal; }
  &--green { background-color: $cyan; }
  &--grey { background-color: $gray-400; }
  &--purple { background-color: $purple; }

  &-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 40px;
      line-height: 44px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
      line-height: 55px;
    }
  }

  &-description {
    font-size: 16px;
    line-height: 1.22;

    @include media-breakpoint-up(md) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  // heading only
  &--small {
    min-height: 120px;
    max-height: 400px;

    @include media-breakpoint-up(lg) {
      min-height: 400px;
    }
  }

  // heading + subheading (program nodes)
  &--medium {
    min-height: 120px;

    @include media-breakpoint-up(lg) {
      min-height: 400px;
    }
  }

  // large cta banners (homepage)
  &--large {
    @include media-breakpoint-up(lg) {
      min-height: 700px;

      .banner-cta {
        min-height: 700px;
      }
    }
  }
}