.banner {
  background-color: $cyan;
  overflow: hidden;
  position: relative;

  // Color variations.
  &--dark-blue { background-color: $primary-darker; }
  &--dark-green { background-color: $teal; }
  &--green { background-color: $cyan; }
  &--grey { background-color: $gray-400; }
  &--purple { background-color: $purple; }

  //  &-image {
  //
  //    @include media-breakpoint-up(md) {
  //      position: absolute;
  //      right: 0;
  //      //width: calc(50% + #{ceil($container-desktop/6 - $grid-gutter-width)});
  //    }
  //
  //    @include media-breakpoint-up(lg) {
  //      //width: calc(50% + #{ceil($container-large-desktop/6 - $grid-gutter-width)});
  //    }
  //
  //    .media--image {
  //      @include media-breakpoint-up(lg) {
  //        height: 600px;
  //        overflow: hidden;
  //        padding-bottom: 0 !important;
  //        position: relative;
  //      }
  //    }
  //
  //    img.media__element {
  //      width: 100% !important;
  //      height: auto !important;
  //
  //      @include media-breakpoint-up(md) {
  //        width: 120% !important;
  //      }
  //    }
  //  }
  //

  &-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 40px;
      line-height: 44px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
      line-height: 55px;
    }
  }

  &-description {
    font-size: 16px;
    line-height: 1.22;

    @include media-breakpoint-up(md) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  //.banner-btn {
  //  white-space: normal;
  //  font-size: 18px;
  //  padding: 0;
  //  width: 100%;
  //
  //  a {
  //    border: 1px solid $white;
  //    color: $white;
  //    display: block;
  //    padding: 16px;
  //
  //    @include media-breakpoint-up(sm) {
  //      padding: 15px;
  //    }
  //  }
  //}

  &--small {
    min-height: 120px;
    max-height: 400px;

    @include media-breakpoint-up(md) {
      min-height: 400px;
    }

    //.banner-image {
    //  display: none;
    //
    //  @include media-breakpoint-up(md) {
    //    display: block;
    //    position: absolute;
    //    right: 0;
    //    //width: calc(50% - #{ceil($container-desktop/6 + 0*$grid-gutter-width)});
    //  }
    //
    //  @include media-breakpoint-up(lg) {
    //    //width: calc(50% - #{ceil($container-large-desktop/6 + 0*$grid-gutter-width)});
    //  }
    //}

    //.banner-title {
    //  margin: 0;
    //  max-width: 700px;
    //}
  }
}