.paragraph--type--lto {
  background-color: $dark-blue;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 10px;

  .container {
    max-width: 100%;

    .row {
      margin-left: 0px;
    }
  }

  .block--title {
    @include cachet();

    @include media-breakpoint-down(sm) {
      margin: 0px;
      padding: 0px;
      font-size: 24px;
    }

    @include media-breakpoint-between(sm, md) {
      font-size: 32px;
    }

    color: $white;
    font-size: 32px;
  }

  .block--subtitle {
    @include cachet();

    @include media-breakpoint-up(lg) {
      padding: 20px 0 0 0;
    }

    @include media-breakpoint-up(md) {
      margin: 0 0 0 10px;
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0px 0px 14px;
      font-size: 16px;
    }

    color: $white;
    font-size: 20px;
    padding-bottom: 14px;
  }

  .block--btn {
    @include media-breakpoint-down(sm) {
      padding-left: 0px;
    }
  }

  @include media-breakpoint-between(sm, lg) {
    .block--subtitle {
      clear: both;
    }

    .block--btn {
      display: inline-block;
      float: none;
      padding-left: 20px;
    }
  }

  .btn {
    white-space: normal;
    font-size: 18px;
    padding: 0;
    width: 100%;
    border: 1px solid $white;

    a {
      @include cachet(500);
      display: block;
      padding: 12px;
      color: $white;
      text-transform: uppercase;
    }
  }

  .wrapper-field-bottom-content & {
    margin: 0;
  }
}
