.paragraph--type--lto {
  background-color: $dark-blue;
  padding: 20px 0;
  margin: -20px 0 40px;

  .field-lto-title {
    @include cachet();
    color: $white;
    font-size: 28px;

    @include media-breakpoint-up(sm) {
      margin: 0 0 0 10px;
      font-size: 24px;
    }

    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
  }

  .field-lto-subtitle {
    @include cachet();
    color: $white;
    font-size: 20px;
    padding-bottom: 14px;

    @include media-breakpoint-up(sm) {
      margin: 0 0 0 10px;
      font-size: 18px;
    }

    @include media-breakpoint-up(md) {
      padding: 15px 0 0 0;
    }
  }

  @include media-breakpoint-between(sm, lg) {
    .block--subtitle {
      clear: both;
    }

    .block--btn {
      display: inline-block;
      float: none;
      padding: 10px 20px 0 20px;
    }
  }

  .btn {
    white-space: normal;
    font-size: 18px;
    padding: 0;
    width: 100%;
    border: 1px solid white;

    a {
      @include cachet(500);
      display: block;
      padding: 12px;
      color: white;
      text-transform: uppercase;
    }
  }

  .wrapper-field-bottom-content & {
    margin: 0;
  }
}
