.paragraph--type--latest-news-and-updates {
  margin-bottom: 40px;

  .pager {
    margin-top: 25px;
  }

  .field-prgf-nu-title {
    clear: both;
    padding: 20px 0 30px;
  }

  .pager__item .btn {
    margin: 30px auto 30px;
    min-width: 280px;
    width: 30.8%;
    display: block;
  }

  form {
    background-color: $lighter-grey;
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin: 0 15px 25px;
    clear: both;
    @include breakpoint(laptop) {
      margin: 0 15px 50px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url("../img/select-arrows.png");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-color: $white;
      padding-right: 25px;
      height: 32px;
      &::-ms-expand {
        display: none;
      }
      @include breakpoint(tablet) {
        max-width: 225px;
      }
    }

    label {
      @include cachet();
      font-size: 14px;
      line-height: 1.57;
      color: $dark-grey;
      margin-bottom: 3px;
    }

    .js-form-type-select {
      margin-bottom: 20px;
      width: 100%;
      @include breakpoint(tablet) {
        float: left;
        padding-right: 35px;
        width: 50%;
      }
      @include breakpoint(laptop) {
        margin-bottom: 0;
        width: auto;
      }
      &.form-item-field-belongs-to {
        margin-bottom: 0;
      }
    }

    .form-item-rendered-item {
      padding-right: 0;
      float: left;
      clear: both;
      @include breakpoint(laptop) {
        position: absolute;
        float: none;
        right: 125px;
        top: 37px;
      }
      input {
        height: 40px;
        @include breakpoint(tablet) {
          max-width: 250px;
        }
      }
    }
    .form-actions {
      text-align: center;
      @include breakpoint(laptop) {
        position: absolute;
        right: 35px;
        top: 37px;
      }
      input {
        @include btn-blue();
        width: 90px;
        margin-top: 10px;
        @include breakpoint(tablet) {
          margin: 0;
        }
      }
    }
  }
}

.node--type-blog {
  .sidebar-card {
    border: 1px solid $light-grey;
    padding: 20px 17px;
    margin-bottom: 20px;
    h3 {
      @include helvetica-neue();
      text-transform: uppercase;
      color: $default-grey;
      margin: 0 0 25px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 2px;
    }
    h2 {
      a {
        color: $purple;
        text-decoration: none;
      }
    }
  }

  .blog-related {
    position: relative;

    h2 a:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  .paragraph--type--content-pager {
    padding-top: 50px;
  }

  .field-blog-description {
    clear: both;
  }
}

img.alignleft {
  display: block;
  margin: 10px 0;
  @include breakpoint(tablet) {
    float: left;
    margin: 5px 24px 12px 0;
  }
}

img.alignright {
  display: block;
  margin: 10px 0;
  @include breakpoint(tablet) {
    float: right;
    margin: 5px 0 12px 24px;
  }
}

.field-prgf-sc-body {
  table {
    border: 1px solid $lighter-grey;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    td {
      border-top: 1px solid $lighter-grey;
      padding: 6px 24px;
    }
  }

  p {
    margin-bottom: 25px;
  }
}
