#group-ex-results,
.groupex-results {
  .col-xs-12,
  .cards-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .caption {
    @include cachet();
    letter-spacing: -0.8px;
    color: $purple;
    font-size: 30px;
    margin-bottom: 15px;
    a {
      color: $purple;
    }
  }
  .card-wrapper {
    padding-bottom: 100px;
    width: 32%;
    @include breakpoint(mobileonly) {
      width: 49%;
    }
    &:nth-child(3n+2) {
      margin: 0 2%;
    }
    @include breakpoint(mobileonly) {
      &:nth-child(3n+2) {
        margin: 0;
      }
      &:nth-child(odd) {
        margin-right: 1%;
      }
      &:nth-child(even) {
        margin-left: 1%;
      }
    }
  }
  .time {
    @include cachet();
    color: $purple;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 15px;
    .duration {
      font-size: 16px;
      color: $pink;
    }
    @include breakpoint(tablet) {
      font-size: 30px;
    }
  }
  .card {
    border: 1px solid $pink;
    height: 100%;
    outline: none;
    text-decoration: none;
    padding: 15px;
    margin-bottom: -40px;
    position: relative;
    width: 100%;

    h3 {
      @include cachet();
      color: $blue;
      font-size: 22px;
      letter-spacing: -0.8px;
      line-height: 1;
      margin: 15px 0;
      white-space: normal;
      a {
        color: $blue;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.5;
      color: $darker-grey;
    }
    .instructor {
      .fa {
        color: $purple;
        margin-right: 5px;
      }
      a {
        color: $purple;
      }
    }
  }
}

.groupex-form-full {
  .instructor-chosen {
    margin-bottom: 30px;
    color: $pink;
    font-size: 18px;
  }
  .js-webform-radios {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    .js-form-type-radio {
      flex-basis: 100%;
      padding-right: 15px;
      margin: 0 0 10px;
      position: relative;
      padding-left: 20px;
      line-height: 20px;
      @include breakpoint(tablet) {
        flex-basis: 50%;
      }
      @include breakpoint(laptop) {
        flex-basis: 33%;
      }
      label {
        @include helvetica-neue();
        font-size: 15px;
        margin: 0 0 0 7px;
        vertical-align: top;
      }
      input {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        vertical-align: top;
      }
    }
  }
  .top-form-wrapper {
    background-color: $lighter-grey;
    overflow: hidden;
    padding: 20px;
    .js-form-type-select {
      margin: 0;
    }
    select {
      border: 1px solid $medium-grey;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-color: $white;
      padding-right: 25px;
      @include cachet();
      color: $dark-grey;
      font-size: 14px;
      text-transform: uppercase;
      max-width: 220px;
      ::-ms-expand {
        display:none;
      }
    }
  }
  @include breakpoint(tablet) {
    #location-select-wrapper {
      float: left;
      margin-right: 30px;
    }
    #class-select-wrapper {
      float: left;
    }
    #date-select-wrapper {
      float: left;
      margin-right: 30px;
    }
  }
  .groupex-pdf-link-container {
    margin-top: 10px;
    @include breakpoint(tablet) {
      float: right;
      margin: 0;
    }
    a {
      @include btn-large-purple();
    }
  }
  .groupex-results {
    clear: both;
    padding: 40px 0;
  }
  .class-description {
    margin: 15px 0;
    img {
      max-width: 100%;
    }
  }
  &.branch-specific-form {
    #location-select-wrapper {
      display: none !important;
    }
    #class-select-wrapper {
      display: block !important;
    }
    #date-select-wrapper {
      display: block !important;
    }
    .class-description {
      display: none;
    }
  }
}
