.paragraph--type--global-search {
  form {
    margin-bottom: 40px;
    label,
    .js-form-submit {
      display: none;
    }
    .form-text {
      border-radius: 8px;
      border: 1px solid $light-grey;
      font-size: 20px;
      padding: 5px 35px 5px 45px;
      height: 40px;
      max-width: 100%;
    }
    .form-select {
      border-radius: 8px;
      border: 1px solid $light-grey;
      font-size: 20px;
      padding: 5px 35px 5px 45px;
      height: 40px;
      max-width: 100%;
    }
    .form-item-search-api-fulltext {
      position: relative;
      .fa-search {
        color: $blue;
        left: 12px;
        position: absolute;
        top: 10px;
        font-size: 20px;
        z-index: 1;
      }
    }
  }
  header {
    @include cachet();
    color: $default-grey;
    font-size: 34px;
    margin: 0 0 25px;
    text-transform: none;
    @include breakpoint(tablet) {
      font-size: 44px;
    }
  }
  .views-row {
    margin-bottom: 20px;
  }
}

.node--view-mode-search-results {
  h3 {
    margin: 0 0 5px;
    a {
      @include helvetica-neue();
      font-size: 15px;
      color: $blue;
    }
  }

  .node__content {
    @include helvetica-neue();
    font-size: 15px;
    color: $dark-grey;
  }
}
