{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% block input %}
  <div class="input-wrapper position-relative {% if is_hidden %}hidden{% endif %}">
    <input{{ attributes.setAttribute('aria-label', element['#title']) }} />{{ children }}
    <span class="title{% if is_hidden %} hidden{% endif %}">{{ title }}</span>
  </div>
{% endblock %}
