{#
/**
 * @file
 * Contains sidebar search and menu that is used in mobile layout.
 */
#}

<div id="search-box" class="hidden-xs">
  <form method="get" action="{{ search_view_content_path }}">
    <div class="form-group col-xs-12">
      <div class="input-group">
        <input type="text" name="{{ search_key }}" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-info" aria-label="Search submit" type="submit">{{ "SEARCH THE Y"|t }}</button>
        </span>
      </div>
    </div>
  </form>
</div>

