{#
/**
 * @file
 * Contains site search form static template.
 */
#}
{% if display_search %}
  <article class="hidden-xs ">
    <div id="site-search" class="site-search collapse">
      <div class="container search-container">
        <form action="{{ search_view_content_path }}" method="get">
          <div class="input-group">
            <input type="text" aria-label="Search input" name="{{ search_key }}" class="form-control input-lg">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" aria-label="Search submit" type="submit">{{ "Search The Y"|t }}</button>
            </span>
          </div>
          <!-- /input-group -->
        </form>
      </div>
    </div>
  </article>
{% endif %}
