#css-editor-field .CodeMirror,
#css-editor-field textarea,
#css-editor-preview-path,
#css-editor-preview {
  border: 1px solid #ccc;
}

#css-editor-field .CodeMirror,
#css-editor-field textarea {
  height: 200px;
}

#css-editor-field .form-textarea-wrapper label {
  display: inline;
  font-weight: normal;
  line-height: 36px;
  font-size: 12px;
}

#css-editor-preview {
  width: 100%;
  height: 400px;
}

#css-editor-field label + input[type=checkbox] {
  margin-left: 36px;
}

#css-editor-preview-path-wrapper label {
  display: inline;
  font-weight: normal;
  margin-right: 6px;
}

#css-editor-preview-path-wrapper {
  margin-bottom: 6px;
}
