{#
/**
 * @file mindbody_cache.html.twig
 * Default theme implementation to present MindBody Cache data.
 *
 * This template is used when viewing MindBody Cache pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mindbody_cache()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mindbody_cache') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
