.openy-ds-layout {
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  &.scheme-orange {
    background-color: $orange-light;
    background-image: url(../images/bg-body-orange.png);
  }

  &.scheme-blue {
    background-color: $blue-medium;
    background-image: url(../images/bg-body-blue.png);
  }

  &.scheme-purple {
    background-color: $purple-medium;
    background-image: url(../images/bg-body.png);
  }

  &.landscape {
    width: 100vw;
    height: 56.25vw;
  }

  &.portrait {
    margin: auto;
    width: 56.25vh;
    height: 100vh;
  }

  .block-wrapper {
    height: 100%;
  }

  .ipe-actions {
    background-color: rgba(128, 128, 128, 0.5);
  }
}
