{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

{% if extra_text %}
  <p class="text-right"><small>{{ extra_text }}</small></p>
{% endif %}
<form{{ attributes }}>
  {{ children }}
</form>
