{#
/**
 * @file
 * Display menu navigation on the page.
 */
#}
<nav class="compain-top-nav clearfix">
  <a class="logo" href="{{ content.back_url }}">
    <img alt="" src="{{ content.back_url }}themes/custom/ymca/prototypes/ysr_2017/img/ymca-logo.svg"/>
  </a>
  <a href="{{ content.back_url }}" class="link-back">{{ 'BACK TO YMCA TWIN CITIES'|t }}</a>
</nav>
