//Greyscale tones
$grey-1: #111;
$grey-2: #222;
$grey-3: #333;
$grey-4: #444;
$grey-5: #555;
$grey-6: #666;
$grey-7: #777;
$grey-8: #888;
$grey-9: #999;

$grey-a: #aaa;
$grey-b: #bbb;
$grey-c: #ccc;
$grey-d: #ddd;
$grey-e: #eee;

//Brand Colors
$red: #da2626;
$blue: #00aeef;
$header-bg: #f8f8f8; 
$footer-bg: #eee;
$banner-bg: #e8e8e8;
$playlist-bg: #f0f0f0;
$maroon: #aa228d;

$dark-blue: #0060af;
$light-blue: #0f74c7;
$purple: #9c1f7b;
$light-red: #FF5A5A;
$logo-blue: #00aeef;
$light-grey: #e5e5e5;


//Theme specifics
$border: #000;
$default-background-color: $grey-e;
$default-color: #000;
$default-light: #fff;
$hover-links: $blue;
$header: #f0f0f0;
$links: #428bca;
