#prizes-info {
  @include rem(font-size, 20px);
  @include rem(line-height, 28px);
  @include cachet-normal();
  text: {
    align: center;
    transform: uppercase;
  }
  h2 {
    @include breakpoint(max-width $tablet - 1) {
      @include rem(font-size, 25px);
      // @include rem(margin-bottom, 4px);
    }
  }
  .compaign-tab-header {
    background: rgba($blue, 0.11);
    @include rem(margin-bottom, 12px);
    @include rem(margin-top, 59px);
    @include rem(padding-bottom, 24px);
    @include rem(padding-top, 40px);
    @include breakpoint($tablet) {
      @include rem(margin-bottom, 50px);
      @include rem(padding-bottom, 60px);
    }
    .inner-container {
      background: image-url('2017_summer/retention_summer_2017_guest_passes.png') 50% 0 no-repeat;
      background-size: inherit;
      @include rem(padding-top, 139px);
      @include breakpoint($tablet) {
        background-size: initial;
        @include rem(padding-top, 142px);
      }
    }
    h2 {
      color: $blue-dark;
      @include breakpoint(max-width $tablet - 1) {
        // @include rem(font-size, 25px);
        @include rem(margin-bottom, 4px);
      }
    }
  }
  .compaign-tab-sub-header {
    @include breakpoint($tablet) {
      margin: {
        left: auto;
        right: auto;
      }
      max-width: 800px;
    }
    h2 {
      // Mobile only.
      @include breakpoint(max-width $tablet - 1) {
        @include rem(line-height, 38px);
        @include rem(margin-bottom, 7px);
      }
      @include breakpoint($tablet) {
        @include rem(margin-bottom, 16px);
      }
    }
  }
  .compaign-content {
    @include rem(padding-top, 5px);
    @include breakpoint($tablet) {
      @include rem(padding-top, 19px);
    }
  }
  .campaign-btn {
    @include rem(margin-bottom, 35px);
  }
}
.prizes {
  text-align: center;
  .header {
    @include rem(font-size, 20px);
    @include rem(margin-bottom, 5px);
    position: relative;
    &:before {
      border-bottom: 1px solid $grey12;
      content: '';
      height: 1px;
      left: 50%;
      margin-left: -293px;
      position: absolute;
      top: 50%;
      width: 586px;
      z-index: 10;
    }
    .inner {
      background: $white;
      padding: {
        left: 35px;
        right: 35px;
      }
      position: relative;
      z-index: 15;
      span {
        @include rem(font-size, 40px);
      }
    }
  }
  .sub-header {
    @include rem(font-size, 16px);
    line-height: normal;
    @include rem(margin-bottom, 32px);
  }
  // Individual prize.
  > .prize {
    &:not(:first-child) {
      @include rem(padding-top, 25px);
      @include breakpoint($tablet) {
        @include rem(padding-top, 31px);
      }
    }
    &:last-child {
      @include rem(margin-bottom, 43px);
    }
  }
  .prize-list {
    @include cachet-bold();
    color: $prize_grey;
    @include rem(font-size, 15px);
    @include rem(line-height, 20px);
    list-style: none;
    padding-left: 0;
    @include breakpoint($tablet) {
      text-align: center;
    }
    li {
      text-align: left;
      @include breakpoint($tablet) {
        display: inline-block;
      }
    }
    .calendar,
    .towel,
    .bottle {
      max-width: 210px;
      margin-left: auto;
      margin-right: auto;
      padding: {
        bottom: 10px;
        left: 65px;
        top: 10px;
      }
    }
    .calendar {
      background: image-url('2017_summer/icon-calendar.png') 0 50% no-repeat;
    }
    .towel {
      background: image-url('2017_summer/icon-towel.png') 0 50% no-repeat;
    }
    .bottle {
      background: image-url('2017_summer/icon-bottle.png') 0 50% no-repeat;
      @include breakpoint($tablet) {
        margin-left: -15px;
      }
    }
    .spacer {
      color: $grey4;
      @include rem(font-size, 30px);
      line-height: normal;
      margin: {
        top: -6px;
        bottom: 2px;
      }
      text-align: center;
      @include rem(padding-top, 5px);
      @include breakpoint($tablet) {
        margin: {
          left: 26px;
          right: 25px;
        }
      }
    }
  }
}
