html {
  height: 100%;
}

html, body {
  min-height: 100%;
}

.theme-ymca--2017-compain {
  font-family: 'Cachet', Verdana, Arial, Helvetica, sans-serif;
  color: $grey7;

  &.toolbar-vertical {
    @include breakpoint(max-width 767px) {
      // Fix admin toolbar on mobile.
      padding-top: 36px !important;
    }
  }
  .viewport {
    padding-top: 0;
    background: none;
  }

  .main--content {
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 0.8) 100%));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 60px;

    @include breakpoint($tablet) {
      background-size: 100% 70px;
    }
  }

  .container {
    transition: padding .3s;
    @include breakpoint($mobile-tablet-portrait-only) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .inner-container {
    @include rem(padding, 0 20px);
    transition: padding .3s;

    @include breakpoint($tablet) {
      @include rem(padding, 0 30px);
    }

    @include breakpoint($desktop-small) {
      @include rem(padding, 0 50px);
    }

    @include breakpoint($desktop) {
      @include rem(padding, 0 100px);
    }
  }

  // The main campaign "Sign-Up" button.
  .campaign-btn {
    text-align: center;
    @include rem(padding-top, 22px);
    @include breakpoint($tablet) {
      @include rem(padding-top, 40px);
    }
    .compain-dark-green {
      border-radius: 10px;
      display: block;
      @include rem(font-size, 30px);
      @include breakpoint($tablet) {
        display: inline-block;
        padding: {
          left: 46px;
          right: 46px;
        }
      }
      &:active {
        background: $green-medium;
      }
    }
  }
  .btn {
    &.campaign-blue {
      background: $blue-medium;
    }
    &.compain-green {
      background: $green-medium;
    }

    &.compain-dark-green {
      background: $green-dark;
    }

    &.compain-grey {
      background: $grey7;
    }
  }

  .page-footer {
    &.footer-themes-b {
      .richtext {
        text-align: left;
      }
    }
  }

  .form-item {
    margin: 0;
  }

  .form-select,
  .form-text,
  .form-email {
    @include rem(font-size, 14px);
    @include rem(line-height, 20px);
    @include rem(padding, 14px);
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    display: block;
    width: 100%;
    color: $grey7;
    vertical-align: top;
    background-color: $white;
    border: 1px solid $grey12;
    border-radius: 3px;

    @include input-placeholder {
      color: $grey4;
      font-style: italic;
      line-height: 26px;
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.sub-title-grey span {
  text-transform: none;
}

.theme-ymca--2017-compain-winners {
  height: 100%;
  position: relative;

  .compain-winners {

    .compain-header {
      background-image: image-url('2017_summer/winners.jpg');
      background-position: 50% 0;
      height: 560px;
      background-size: 100%;

      &--content {
        text-align: center;
        .title {
          color: #94e2ff;
          padding-top: 25px;
          padding-bottom: 11px;
        }
        .sub-title {
          font-size: 30px;
          &:after,
          &:before {
            content: image-url('2017_summer/win_icon.png');
            display: inline-block;
            margin: 0px 29px 27px;
            position: relative;
            top: 20px;
          }
          &:after {
            transform: scale(-1,1);

          }
        }
        .logo {
          display: block;
          margin: 0 auto;
          max-width: 102px;
        }
      }
    }

    .container {
      padding: 0;
    }
  }

  .compain-form-winners {
    @include rem(padding, 20px);
    @include breakpoint($tablet) {
      @include rem(padding, 30px);
    }
    @include rem(max-width, 453px);
    margin: 0 auto;

    @include breakpoint($desktop-small) {
      @include rem(padding, 53px 37px 40px);
    }

    .btn {
      @include rem(line-height, 26px);
      display: block;
      width: 100%;
    }

    .form-item {
      @include rem(margin, 0 0 20px 0);

      @include breakpoint($tablet) {
        margin-bottom: 0;
      }
    }

    .form-select {
      height: 50px;
    }

  }

  .img.center {
    text-align: center;
  }

  .compain-info-blocks .content-wrapper {
    overflow: visible;
  }
}

.winner {
  @include cachet-bold();
  text-align: center;
  text-transform: uppercase;
  .bucks-header {
    display: table;
    margin: 0 auto;
    font-weight: bold;
    border-bottom: 1px solid $grey2;
    padding-bottom: 4px;
    @include rem(margin-bottom, 16px);
    min-width: 308px;
    .col-sm-4 & {
      @include rem(padding-left, 40px);
      @include breakpoint(max-width 900px) {
        min-width: initial;
        padding-left: 0;
        .cert-description {
          @include rem(padding-left, 10px);
          @include rem(font-size, 18px);
        }
      }
    }
  }


  .sum {
    display: table-cell;
    color: $green-medium;
    letter-spacing: -6px;
    @include rem(font-size, 60px);
    .currency {
      font-size: 60%;
    }
  }
  .cert-description {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    @include rem(font-size, 20px);
    @include rem(line-height, 25px);

  }
  .winner-name {
    color: $green-medium;
    @include rem(font-size, 24px);
    font-weight: bold;
    margin-bottom: 2px;
    .col-sm-2 & {
      @include rem(margin-top, 6px);
    }
  }
  .winner-id {
    color: $grey5;
    @include rem(font-size, 13px);
    .col-sm-2 & {
      @include rem(margin-bottom, 57px);
    }
  }
  .col-sm-12 & {
    @include rem(font-size, 21px);
  }

}

.container.win-list {
  @include breakpoint($tablet) {
    padding: 35px;
    .col-sm-3 {
      width: 24%;
      display: inline-block;
      float: none;
      padding: 0;
      margin: 0;
    }
  }
  text-align: center;
}

.bucks-5 {
  .container {
    border-bottom: 1px solid $grey2;
    @include rem(margin, 0 48px 48px);
    @include rem(padding-top, 88px);
    @include rem(padding-left, 80px);
    @include breakpoint($tablet) {
      @include rem(padding-left, 188px);
    }
    .winner {
      margin-bottom: 0;
    }
    .bucks-header {
      border: 0 none;
      @include rem(margin-bottom, 6px);
    }
  }
  .winner-name {
    @include rem(font-size, 20px);
  }
  .row {
    margin-right: -100px;
    margin-left: -100px;
  }
}
.theme-ymca--2017-compain-winners ul.prize-list{
  max-width: 790px;
  margin: 0 auto;
  padding: 50px 0;
  background: #f3faf9;
  .prize-list .spacer {
    margin-left: 45px;
    margin-right: 45px;
  }
}

.retention-campaign {
  .panel-group {
    // Mobile only.
    @include breakpoint(max-width $tablet - 1) {
      margin-bottom: 0;
    }
  }
}
