@import 'compass';
@import 'breakpoint';

@import 'base/colors';
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/typography';
@import 'base/utilities';

// _page.scss
body {
  background-color: $purple;
}

.page-node-type-campaign-page,
.path-campaign-game,
.path-campaign-scorecards,
.path-team-member-registration,
.path-members-list {
  main[role="main"] {
    background-color: $purple;
  }
}



.paragraph-background-container {
  @include gradient($pink, $purple);
}
.btn {
  background-color: $pink;
}
.block-description--wrapper {
  .block-description--text {
    .field-sb-title {
      h4 {
        color: $default-grey;
      }
    }
  }
}

.paragraph-1c-wrapper {
  .field-prgf-1c-description {
    color: $dark-grey !important;
  }
}

.visits-goal {
  .description {
    .goal {
      color: $pink;
    }
  }
}

.paragraph--type--campaign-winners {
  #winners-block-wrapper {
    .winners-wrapper {
      .winners-prize {
        color: $pink;
      }
      .winners-members {
        tbody {
          td:first-child {
            color: $pink;
          }
        }
      }
    }
  }
}

.paragraph--type--campaign-leadership {
  .leadership-members {
    tbody {
      td:nth-child(3) {
        color: $pink;
      }
    }
  }
}

// _forms.scss
.form-item {
  input + label {
    //color: $pink;
    &:hover{
      color: $pink;
    }
  }
  input:checked + label {
    color: $purple;
  }
}
.activity {
  .paragraph-background-container {
    background-color: #92278F;
    background-image: -moz-linear-gradient($pink, $dark-magenta);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($pink), to($dark-magenta));
    background-image: -webkit-linear-gradient(top, $pink, $dark-magenta);
    background-image: -o-linear-gradient($pink, $dark-magenta);
  }
}
.category-data {
  background: $dark-magenta;
  color: #fff;
}

.activity-data .categories {
  ul {
    li {
      background-color: $dark-magenta;
      color: #fff;
    }
  }
}

.activity .paragraph-background-container {
  &:before {
    border-top: 30px solid $dark-magenta;
  }
}
.calendar .month {
  .date-data {
    &.slick-current, &.active {
      .weekday{
        color: $pink;
      }
      .visits {
        .visited {
          background: $pink;
        }
        .entriesNum {
          color: $dark-magenta;
        }
      }
    }
  }
}
.calendar-wrapper {
  .prev, .slick-prev.slick-arrow {
    background: $pink;
  }
  .next, .slick-next.slick-arrow {
    background: $pink;
  }
}

.progress-row .point.active svg g {
  fill: $pink;
}

// _header.scss
.top-navs,
.sidebar,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
  background: $purple;
}

.sidebar .page-head__top-menu {
  a {
    background-color: $pink;
  }
}
.sidebar .page-head__main-menu {
  .campaign-menu {
    > li {
      background-color: $pink;
    }
  }
}

.spin-the-wheel-inner .start {
  background: $purple;
}

.game-result--header {
  color: $purple;
}

.game-result--body {
  border-color: $dark-magenta;
  background: $pink;
}

.load-bar {
  background-color: $pink;
}

.bar:nth-child(1) {
  background-color: $purple;
}

.bar:nth-child(2) {
  background-color: $dark-magenta;
}

.bar:nth-child(3) {
  background-color: $pink;
}
