<div class="gcse-searchbox-only" data-gname="searchs" data-resultsurl="/{{ search_page_url }}" data-newwindow="false" data-queryparametername="q"></div>
<div class="gcse-searchresults-only" data-gname="searchr" data-queryparametername="q" data-newwindow="false" data-autosearchonload="true" data-enableimagesearch="false"></div>
