<div class="winners-wrapper">
    <div class="winners-title">{{ title }}</div>
    <div class="winners-prize">{{ prize }}</div>
    <div class="winners-members">
    {% for winner in winners %}
        <div class="member-name">{{ winner.name }}</div>
        <div class="member-id">ID: ***** {{ winner.membership_id }}</div>
    {% endfor %}
    </div>
</div>