{#
/**
 * @file
 * Theme implementation for login popup.
 *
 * Available variables
 * - form: Popup form.
 *
 * @ingroup themeable
 */
#}
<div class="container">
    <div class="form-items campaign-login-form">
        {{ form|without('messages') }}
    </div>
</div>