{#
/**
 * @file
 * Theme implementation for registration popup.
 *
 * Available variables
 * - form: Popup form.
 *
 * @ingroup themeable
 */
#}
<div class="container">
    <div class="form-items campaign-register-form">
        {{ form|without('messages') }}
    </div>
    <div class="campaign-link-collapsed">
        <a href="javascript:void(0)" class="campaign-facility-access-hint-link collapsed" data-toggle="collapse" data-target=".campaign-facility-access-hint-wrapper">
            {{ 'Where can I find my Member ID?'|t }}
        </a>
    </div>
    <div class="campaign-facility-access-hint-wrapper collapse">
        <div class="campaign-facility-access-hint">
            <p>
              Please find your member ID below the barcode on your Membership Card.
            </p>
            <p class="small">
              Please note it might be on the front of the card on older membership cards.
            </p>
        </div>
    </div>
</div>