{#
/**
 * @file
 * Theme implementation for text in Registration popup block.
 *
 * Available variables
 * - text: Array with counted activities groupped by name.
 *
 * @ingroup themeable
 */
#}

<div class="campaign-link-collapsed">
    <a href="javascript:void(0)" class="campaign-facility-access-hint-link collapsed" data-toggle="collapse" data-target=".campaign-facility-access-hint-wrapper">
        {{ 'Where can I find my Member ID?'|t }}
    </a>
</div>
<div class="campaign-facility-access-hint-wrapper collapse">
    <div class="campaign-facility-access-hint">{{ text }}</div>
</div>
