{#
/**
 * @file
 * Theme implementation for login popup.
 *
 * Available variables
 * - form: Popup form.
 *
 * @ingroup themeable
 */
#}
<div class="form-items">
    {{ form|without('messages') }}
</div>
