{#
/**
 * @file
 * Default Campaign menu block template implementation.
 *
 * Available variables:
 * - base_path: Site base URL path.
 * - links: Menu links from the Campaign node.
 *
 * @ingroup themeable
 */
#}

<div class="campaign-menu-wrapper">
    <div class="container">
        <nav class="columns">
            <h2 class="visually-hidden">{{ 'Campaign Menu'|t }}</h2>
            <ul class="campaign-menu">
                {% for link in links %}
                    <li class="campaign-menu__item">
                        {{ link }}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
