.hb-checkbox-wrapper {
  position: relative;
}

.hb-checkbox-wrapper input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hb-checkbox-wrapper label {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  position: relative;
  padding: 0 0 0 22px;
  cursor: pointer;
}

.hb-checkbox-wrapper label:before {
  border: solid 1px #777777;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
}

.hb-checkbox-wrapper input:checked ~ label:before {
  background-color: #2196F3;
  border: solid 1px #2196F3;
}

.hb-checkbox-wrapper label:hover:before {
  border: solid 1px #2196F3;
}

.hb-checkbox-wrapper label:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hb-checkbox-wrapper input:checked ~ label:after {
  display: block;
}
