.hb-branch-selector {
  min-height: 100px;
}

.hb-branch-selector .hb-location-checkbox-wrapper {
  text-align: center;
  padding: 0;
}

.hb-branch-selector .hb-location-checkbox-wrapper label:before {
  border: solid 1px #fff;
}

.hb-branch-selector .hb-location-checkbox-wrapper input:checked ~ label:before {
  border: solid 1px #2196F3;
}

.hb-branch-selector .hb-branch-selector-change-wrapper,
.hb-branch-selector .hb-branch-selector-change {
  font-size: 13px;
}

.hb-branch-selector-change-wrapper {
  display: none;
}

.hb-branch-selector--selected .hb-branch-selector-change-wrapper {
  display: inline;
}
