.hb-loc-modal__modal {
  font-size: 14px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 15%;
  width: 24em;
  z-index: 1500;
}

@media (min-width: 30em) {
  .hb-loc-modal__modal {
    width: 28em;
  }
}

/* modal > header */
.hb-loc-modal__modal--header {
  border-bottom: #0a001f solid 1px;
  clear: both;
  display: block;
  height: 48px;
  overflow: hidden;
}
.hb-loc-modal__modal--header h4 {
  float: left;
  line-height: 48px;
  margin: 0;
  padding: 0 0 0 20px;
  text-transform: uppercase;
}
.hb-loc-modal__modal--header button {
  float: right;
  font-size: 27px;
  opacity: .8;
}

.hb-loc-modal__modal--header button.close {
  padding: 10px;
  background: #0e5188;
  color: white;
  font-weight: 400;
}

.hb-loc-modal__modal--header button.close .fa {
  color: white;
}

/* modal > body */
.hb-loc-modal__modal .modal-content {
  border-radius: unset;
  position: relative;
}
.hb-loc-modal__modal--body {
  padding: 20px 20px 0 20px;
}

@media (min-width: 48em) {
  .hb-loc-modal__modal--body {
    margin: 15px 0;
  }
}

.hb-loc-modal__modal .modal-content .dont-ask {
  margin: 15px 0;
  font-weight: 400;
}

.hb-loc-modal__modal .modal-content select {
  cursor: pointer;
}

.hb-loc-modal__modal .modal-content .dont-ask label {
  font-weight: 400;
}

/* modal > footer */
.hb-loc-modal__modal--footer {
  overflow: hidden;
  padding: 20px;
}

.hb-loc-modal__modal--footer .btn {
  font-size: 14px;
}

.hb-loc-modal__modal--footer .btn.btn-default {
  border: #0a6eb4 2px solid;
}

.hb-loc-modal__modal--footer .btn.btn-success {
  float: right;
}

.hb-loc-modal-wrapper {
  position: relative;
  padding-top: 11px;
  padding-bottom: 12px;
  cursor: pointer;
}

/* Learn more */
.modal-content .hb-loc-modal__modal--learn-more {
  display: none;
  top: 0;
  left: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}

.modal-content__learn_more .hb-loc-modal__modal--header,
.modal-content__learn_more .hb-loc-modal__modal--body,
.modal-content__learn_more .hb-loc-modal__modal--footer {
  display: none;
}

.modal-content__learn_more .hb-loc-modal__modal--learn-more {
  display: block;
}

.hb-loc-modal__modal .modal-content .open-learn-more {
  background: none;
  color: #0060ad;
  padding: 0;
  margin: 10px 0 15px;
}

.hb-loc-modal__modal .modal-content .close-learn-more {
  background: none;
  border-width: 4px 4px 0 0;
  border-style: solid;
  color: #0060ad;
  font-size: 0;
  height: 15px;
  left: 4px;
  line-height: 0;
  margin: 10px;
  padding: 0;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 15px;
}

.hb-loc-modal__modal .modal-content .close-learn-more:hover {
  border-color: #0060ad;
}

.hb-loc-modal__modal .modal-content .close-learn-more:after,
.hb-loc-modal__modal .modal-content .close-learn-more:before {
  content: "";
  box-sizing: border-box;
}

.hb-loc-modal__modal .modal-content .close-learn-more:before {
  box-shadow: inset 0 0 0 32px;
  height: 4px;
  position: absolute;
  right: 0;
  top: -3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  width: 23px;
}

.learn-more-title {
  border-bottom: 1px solid;
  height: 48px;
  overflow: hidden;
}

.hb-loc-modal__modal--learn-more .learn-more-content {
  padding: 10px 20px;
}

.hb-loc-modal__modal--learn-more .learn-more-content h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hb-loc-modal__modal--learn-more .learn-more-title--label {
  font-weight: bold;
  line-height: 48px;
  margin: 0 0 0 48px;
  text-transform: uppercase;
}
