.locations .node--type-branch.node--view-mode-teaser.hb-selected {
  border: solid 1px #0060ad;
}

.hb-location-checkbox-wrapper {
  padding: 20px;
}

.locations .node--type-branch .hb-location-checkbox-wrapper {
  align-self: end;
  background-color: #f2f2f2;
  border-top: solid 1px #cccccc;
  margin: auto 0 0 0;
  padding: 20px;
  width: 100%;
}

.locations .node--type-branch.node--view-mode-teaser.hb-selected .hb-location-checkbox-wrapper {
  border-top: solid 1px #0060ad;
}

.locations-list .views-row .node--view-mode-teaser {
  display: flex;
  flex-flow: column;
}

.node--type-branch.node--view-mode-teaser {
  padding: 0 !important;
}

.locations .node--type-branch .location-item--title,
.locations .node--type-branch .field-location-area {
  padding: 0 20px;
}

.locations .node--type-branch .node__content {
  padding: 0 20px 20px;
}
