#main {
  position: relative !important;
  &.expanded-menu {
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    &:before {
      background-color: rgba(255, 255, 255, 0.8);
      visibility: visible;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 32;
    display: block;
    visibility: hidden;
    background: transparent;
    content: '';
    -webkit-transition: background-color .3s ease-out, visibility 0s .3s linear;
    -moz-transition: background-color .3s ease-out, visibility 0s .3s linear;
    -ms-transition: background-color .3s ease-out, visibility 0s .3s linear;
    -o-transition: background-color .3s ease-out, visibility 0s .3s linear;
    transition: background-color .3s ease-out, visibility 0s .3s linear;
  }
}

a.tel-link {
  color: $blue1;
  font-size: 15px;
  font-weight: normal;
  .icon {
    margin-right: 8px;
  }
}

.icon-clock {
  font-family: inherit;
  * {
    font-family: inherit;
  }
  &:before {
    margin-right: 5px;
    font-family: 'icomoon';
  }
}

@mixin sports_icons() {
  &.baseball-softball-t-ball {
    background: $white url("../img/icon-big-baseball.png") no-repeat 26px center;
  }
  &.basketball {
    background: $white url("../img/icon-big-basketball.png") no-repeat 20px center;
  }
  &.flag-football {
    background: $white url("../img/icon-big-flag-football.png") no-repeat 20px center;
  }
  &.martial-arts {
    background: $white url("../img/icon-big-martial-arts.png") no-repeat 20px center;
  }
  &.olympic,
  &.special-olympics-young-athletes-program {
    background: $white url("../img/icon-big-olympic.png") no-repeat 20px center;
  }
  &.soccer {
    background: $white url("../img/icon-big-soccer.png") no-repeat 20px center;
  }
  &.track-and-field,
  &.running-club {
    background: $white url("../img/icon-big-track.png") no-repeat 20px center;
  }
  &.volleyball {
    background: $white url("../img/icon-big-volleyball.png") no-repeat 20px center;
  }
  &.lacrosse {
    background: $white url("../img/icon-big-lacrosse.png") no-repeat 20px center;
  }
  &.tumbling {
    background: $white url("../img/icon-big-tumbling.png") no-repeat 20px center;
  }
  &.dodgeball {
    background: $white url("../img/icon-big-dodgeball.png") no-repeat 20px center;
  }
  &.floor-hockey {
    background: $white url("../img/icon-big-floor-hockey.png") no-repeat 20px center;
  }
}

a.sports-icon {
  background-color: $white;
  display: block;
  border-radius: 3px;
  border: 1px solid $grey12;
  padding: 20px 80px;
  position: relative;

  &:after {
    content: ">";
    position: absolute;
    right: 15px;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }

  @include sports_icons();

  @media screen and (min-width: 768px) and (max-width: 992px) {
    background-position: 10px center;
    padding: 15px 10px 15px 60px;
    position: relative;
    font-size: 12px;
    word-break: break-all;
  }
}

.node--type-class {
  .field-class-description {
    margin-top: 30px;
    @include cachet();
  }
  .class__session-instances-list {
    margin-bottom: 30px;
    @include breakpoint ($desktop) {
      font-size: 16px;
    }
  }
}

.addthis {
  margin-top: 20px;
}

.landing-content {
  &.one-column {
    .subprogram-listing-item {
      max-width: 780px;
    }
  }
}
