.openy-ds-layout {

  .ipe-actions {
    min-height: 20 / 1440 * 100vw;
    border-radius: 5 / 1440 * 100vw 5 / 1440 * 100vw 0 0;
    padding: 5 / 1440 * 100vw;
    font-size: 0;

    h5,
    li {
      font-size: 12 / 1440 * 100vw;
    }
  }

  .ipe-action-list {
    .ipe-icon {
      height: 24 / 1920 * 100vw;
      margin-top: -10 / 1920 * 100vw;
      display: block;
    }

    [data-action-id="move"] select {
      font-size: 14 / 1920 * 100vw;
    }
  }

  .ipe-icon {
    font-size: 24 / 1920 * 100vw;

    &.ipe-icon-remove {
      font-size: 20 / 1920 * 100vw;
    }
  }
}
