footer {
  background-color: inherit !important;
  .container {
    @include breakpoint($screen-phone) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    @include breakpoint($screen-md) {
      padding-left: 135px !important;
      padding-right: 0px !important;
    }
    .footer__social .fa {
      border-radius: 0px;
      color: $purple;
      height: 0px;
      margin-right: 0px;
      line-height: 32px;
      text-align: center;
      text-decoration: none;
      width: auto;
      font-size: 1px;
      &:before {
        color: #ffffff;
      }
    }
    .footer__nav nav {
      float: none;
      width: 100%;
      ul {
        > li {
          @include breakpoint($screen-phone) {
            display: block;
            padding: 0px 0px;
            border-left: none;
            text-align: center;
          }
          @include breakpoint($screen-md) {
            display: inline;
            padding: 0px 25px;
            border-left: 1px solid;
            text-align: left;
          }
          &:first-child {
            border-left: none;
            @include breakpoint($screen-phone) {
              padding: 0px 0px 0px 0px;
            }
            @include breakpoint($screen-md) {
              padding: 0px 25px 0px 0px;
            }
          }
          a {
            font-size: 11px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
