BODY
{
	background-color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}


FONT {
	color: #000000;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	text-decoration: none;
}

BOLD {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
}

.grid {
	background-color: #999999;
}

.text
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	color: #000000;
	line-height: 16px;
}

p, td
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
}

H1
{
	line-height: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.hd1
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

H2
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.hd2
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

H3
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.hd3
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

H4
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.hd4
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

H5
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.hd5
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #333333;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

H6
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.hd6
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}


.navglobal { color: #ffffff; text-decoration: none; font-weight: normal} 
a.navglobal:link { color: #ffffff; text-decoration: none; font-weight: normal} 
a.navglobal:visited { color: #ffffff; text-decoration: none; font-weight: normal} 
a.navglobal:hover { color: #FF9900; text-decoration: none; font-weight: normal} 

.subnav {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
} 
a.subnav:link { color: #003366; text-decoration: none; font-weight: normal} 
a.subnav:visited { color: #003366; text-decoration: none; font-weight: normal} 
a.subnav:hover { color: #FF9900; text-decoration: none; font-weight: normal} 

.subnav3 { color: #003366; text-decoration: none; font-size: 10px; font-weight: normal} 
a.subnav3:link { color: #003366; text-decoration: none; font-size: 10px; font-weight: normal} 
a.subnav3:visited { color: #003366; text-decoration: none; font-size: 10px; font-weight: normal} 
a.subnav3:hover { color: #FF9900; text-decoration: none; font-size: 10px; font-weight: normal} 


.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}

.legal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
}

a:link {
	color: #FF9900;
}
a:visited {
	color: #FF9900;
}
a:hover {
	color: #CC0000;
}
.subtext {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	color: #003366;
	line-height: 16px;
}
.textbold {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
}
.bgLeftCol {
	background-image: url(/amm/themes/home/images/clockwork_home_16.gif);
	background-repeat: repeat;
}
.bgTopBlack {
	background-image: url(/amm/themes/home/images/clockwork_home_05.gif);
	background-repeat: repeat;
}
.bgMasthead {
	background-image: url(/amm/themes/home/images/BGmasthead.gif);
	background-repeat: repeat-x;
}
.subnavhead {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	font-style: normal;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
}


.calgrid {
	background-color: #999999;
}

a.calbutton:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-size: 9;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.calbutton:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-size: 9;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #333333;
}

a.calbutton:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-size: 9;
	background-color: #CCCCCC;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #333333;
}

a.calbutton:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	text-decoration: none;
	font-weight: normal;
	font-size: 9;
	background-color: #CCCCCC;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #999999;
}
.calnavrow {
	background-color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF9900;
	font-weight: bold;
}
.caldayrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
}
.calweekrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	background-color: #CCCCCC;
}

.caltitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(/amm/themes/default_home/images/bg_nav.gif);
}

.caltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.caldate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.bgBlueNav {
	background-image: url(/amm/themes/default_home/images/bg_nav.gif);
	background-repeat: repeat;
}
.textSub {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	color: #666666;
	line-height: 16px;
}
