{% extends "@ymca/page.html.twig" %}

{% block primary_menu %}
    {{ parent() }}
{% endblock %}

{% block content %}
  <section class="page-header page-title title-only">
    <div class="container title-container">
      <div class="row">
        <div class="col-sm-12 header-copy">
          <h1>{{ attribute(page, '#title') }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container">

      {% if page.highlighted %}
        <div class="container alerts-wrapper">
          {{ page.highlighted }}
        </div>
      {% endif %}

      {{ page.content }}

    </div>
  </section>
{% endblock %}