<!-- Optimize.ly -->
<script>
(function(projectId) {
    var protocol = ('https:' == document.location.protocol ?
    'https://' : 'http://');
    var scriptTag = document.createElement('script');
    scriptTag.type = 'text/javascript';
    scriptTag.async = true;
    scriptTag.src = protocol + 'cdn.optimizely.com/js/' +
    projectId + '.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(scriptTag, s);
})("2665540759");
</script>
<!-- end of Optimize.ly -->
<script id="excerpt-template" type="text/x-handlebars-template">
  {{#each excerpts}}
  <article class="row post-excerpt">
    {{!--
    <div class="post-thumbnail col-sm-3">
      {{#if image.src}}/>
      {{/if}}
      <img class="img-responsive" src="{{ image.src }}" />
    </div>
    --}}
    <div class="col-sm-12">
      <h3>{{ title }}</h3>
      <div class="copy">{{{ copy }}}</div>
      <p>
        <a href="{{ link.href }}" class="btn btn-link post-link">Continue Reading</a>
      </p>
    </div>
  </article>
  {{/each}}
</script>

<script id="location-nav-template" type="text/x-handlebars-template">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs nav-justified">
          {{#each children}}
          {{#each children}}
          {{#each children}}
          {{#if active}}
          {{#each children}}
          {{#if overview}}
          <li class="{{ classes }}">
            <a class="home" href="{{ url }}" ></a>
          </li>
          {{ else }}
          {{#unless_eq page_name compare="Join"}}
          {{#unless_eq page_name compare="Register"}}
          <li class="{{ classes }}">
            <a href="{{ url }}">{{ page_name }}</a>
          </li>
          {{/unless_eq}}
          {{/unless_eq}}
          {{/if}}
          {{/each}}
          {{/if}}
          {{/each}}
          {{/each}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</script>

<script id="nav-item-template" type="text/x-handlebars-template">
  {{#if children}}
  <li class="{{#if children}} dropdown {{/if}} {{ dasherized }} nav-level-{{ nav_level }}">
    <a class="dropdown-toggle" data-toggle="dropdown">{{ page_name }}</a>
    <ul class="nav dropdown-menu"></ul>
  </li>
  {{ else }}
  <li class="{{#if current}} current{{/if}} {{ dasherized }}{{#if abe_page }} abe{{/if}}">
    <a href="{{ url }}" class="{{ classes }} {{#if overview }}overview {{/if}} link">{{ page_name }}</a>
  </li>
  {{/if}}
</script>

<script id="programs-services-nav-template" type="text/x-handlebars-template">
  {{#each children}}
  {{#if_eq show_in_meganav compare=1}}
  {{#if children}}
  <li class="{{#if children}} dropdown{{/if}} {{ classes }} {{ dasherized }} nav-level-{{ nav_level }}">
    <a class="dropdown-toggle {{#if active}} active{{/if}}" data-toggle="dropdown">
      {{{ page_name }}} <b class="caret"></b>
    </a>
    <ul class="nav dropdown-menu">
      {{#each children}}
      {{#overview}}
      {{#unless exclude_from_nav }}
      <li class="overview {{ classes }} {{ dasherized }} nav-level-{{ nav_level }}">
        <a class="{{#if active}} active{{/if}}" href="{{ url }}">{{{ page_name }}}</a>
      </li>
      {{/unless}}
      {{/overview}}
      {{/each}}
      <li>
        <ul class="row-level-2">
          {{#each children}}
          {{#overview}}
          {{ else }}
          {{#unless exclude_from_nav }}
          <li class="{{ classes }} {{ dasherized }} nav-level-{{ nav_level }}">
            <strong>
              <a class="{{#if active}} active{{/if}}" href="{{ url }}">{{{ page_name }}}</a>
            </strong>
            <ul class="nav-stacked nav">
              {{#if_eq site_page_id compare=4562}}
              {{#each children}}
              {{#if_lt @index compare=1}}
              <li class="
										{{ classes }}
										{{ dasherized }}
										nav-level-{{ nav_level }}">
                <a class="
												{{#if current}} current{{/if}}
												{{#if active}} active{{/if}}"
                   href="{{ url }}">
                  {{{ page_name }}}
                </a>
              </li>
              {{/if_lt}}
              {{/each}}
              {{/if_eq}}
              {{#if_eq site_page_id compare=18304}}
              {{#each children}}
              {{#if_lt @index compare=1}}
              <li class="
												{{ classes }}
												{{ dasherized }}
												nav-level-{{ nav_level }}">
                <a class="
														{{#if current}} current{{/if}}
														{{#if active}} active{{/if}}"
                   href="{{ url }}">
                  {{{ page_name }}}
                </a>
              </li>
              {{/if_lt}}
              {{/each}}
              {{/if_eq}}
              {{#unless_eq site_page_id compare=4562}}
              {{#unless_eq site_page_id compare=18304}}
              {{#each children}}
              <li class="
									{{ classes }}
									{{ dasherized }}
									nav-level-{{ nav_level }}">
                <a class="
											{{#if current}} current{{/if}}
											{{#if active}} active{{/if}}"
                   href="{{ url }}">
                  {{{ page_name }}}
                </a>
              </li>
              {{/each}}
              {{/unless_eq}}
              {{/unless_eq}}
            </ul>
          </li>
          {{/unless}}
          {{/overview}}
          {{/each}}
        </ul>
      </li>
    </ul>
  </li>
  {{ else }}
  <li class="{{ classes }}{{#if current}} current{{/if}} {{ dasherized }}">
    <a href="{{ url }}" class="{{ classes }} link">{{{ page_name }}}</a>
  </li>
  {{/if}}
  {{/if_eq}}
  {{/each}}
</script>

<script id="slides-template" type="text/x-handlebars-template">
  <ol class="carousel-indicators hidden">
    {{#each slides}}
    <li data-target="#carousel" data-slide-to="{{@index}}" class="{{#unless @index}} active{{/unless}}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each slides}}
    <div class="item {{#unless @index}} active{{/unless}}">
      <div class="row">
        <div class="col-md-8 image" >
          <div class="img-lg visible-md visible-lg" style="background-image: url({{ img.src }});"></div>
          <img class="img-responsive hidden-lg hidden-md" src="{{ img.src }}"/>
        </div>
        <div class="caption col-md-4">
          <div class="carousel-caption">
            {{{ copy }}}
            <br/>
            {{#if link.href}}
            <a class="btn btn-primary btn-lg" href="{{ link.href }}">{{ link.title }}</a>
            {{/if}}
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</script>

<script id="subnav-template" type="text/x-handlebars-template">
  {{#each children }}
  {{#each children }}
  {{#unless overview }}
  {{#if active }}
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{{ this.url }}">{{ page_name }}</a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <ul class="nav-level-3 nav nav-stacked">
        {{#each children }}
        {{#unless overview }}
        <li class="{{#if children }} dropdown {{#if active }} open{{/if}}{{/if}}{{#if current}} current{{/if}}">
          {{#unless children }}
          <a href="{{ url }}" class="">{{ page_name }}</a>
          {{ else }}
          <a href="{{ url }}" class="dropdown-toggle" data-toggle="dropdown">
            {{ page_name }}<b class="caret"></b>
          </a>
          <ul class="nav-level-4 nav nav-stacked dropdown-menu">
            {{!-- <li class="{{ classes }}">
            <a href="{{ url }}" class="overview-link">{{ page_name }}</a>
          </li> --}}
            {{#each children}}
            {{#unless overview}}
            <li class="{{ classes }}{{#if children}} dropdown {{#if active }} open{{/if}}{{/if}}{{#if current}} current{{/if}}">
              {{#unless children }}
              <a href="{{ url }}" class="{{ classes }}">{{ page_name }}</a>
              {{ else }}
              <a href="{{ url }}" class="dropdown-toggle" data-toggle="dropdown">
                {{ page_name }} <b class="caret"></b>
              </a>
              <ul class="nav-level-5 nav nav-stacked dropdown-menu">
                {{!-- <li class="{{ classes }}">
                <a href="{{ url }}" class="overview-link">{{ page_name }}</a>
              </li>
                --}}
                {{#each children }}
                {{#unless overview}}
                <li class="{{#if children}} dropdown {{#if active }} open{{/if}}{{/if}}{{#if current}} current{{/if}}">
                  {{#unless children }}
                  <a href="{{ url }}" class="">{{ page_name }}</a>
                  {{ else }}
                  <a href="{{ url }}" class="dropdown-toggle" data-toggle="dropdown">
                    {{ page_name }} <b class="caret"></b>
                  </a>
                  <ul class="nav-level-5 nav nav-stacked dropdown-menu">
                    {{!-- <li class="{{ classes }}">
                    <a href="{{ url }}" class="overview-link">{{ page_name }}</a>
                  </li> --}}
                    {{#each children }}
                    {{#unless overview}}
                    <li class="{{#if current}} current{{/if}}">
                      <a href="{{ url }}" class="">{{ page_name }}</a>
                    </li>
                    {{/unless}}
                    {{/each}}
                  </ul>
                  {{/unless}}
                </li>
                {{/unless}}
                {{/each}}
              </ul>
              {{/unless}}
            </li>
            {{/unless}}
            {{/each}}
          </ul>
          {{/unless}}
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
  {{/unless}}
  {{/each}}
  {{/each}}
</script>
