{#
/**
 * @file
 * Default theme implementation to display a event location info.
 *
 * Available variables:
 * - info: The info array with access to event date info.
 *   - info.loc_link will return link to location entity.
 *   - info.loc_address will return location address.
 *   - info.directions will return link to Google Maps linked to location address.
 *
 * @see openy_node_event_preprocess_field__node__field_event_location__event()
 *
 * @ingroup themeable
 */
#}
<div class="info-col location col-md-4">
  <div class="location-link">{{ info.loc_link }}</div>
  <div class="location-address">{{ info.loc_address }}</div>
  <div class="location-directions">{{ info.directions }}</div>
</div>