.frame-container {
  background-color: #CCCCCC;
  border: 1px solid #808080;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  &.frame-container--portrait {
    padding-bottom: 100%;

    iframe {
      width: 56.25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
