.dashboard-wrapper .conflicts-wrapper summary {
  color: red;
}
.dashboard-wrapper .resolved-wrapper summary {
  color: green;
}
.dashboard-wrapper .view-filters .form-actions {
  float: left;
  clear: none;
  margin-top: 27px;
}
