#openy-focal-point-preview {
  max-height: 550px;
  text-align: center;
}

#openy-focal-point-preview-image {
  max-height: 500px;
  max-width: 100%;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.75);
}

#openy-focal-point-derivatives {
  white-space: nowrap;
  overflow-y: hidden;
}

.openy-focal-point-derivative-preview {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  margin: .5em 1em 1em 0;
  padding: 0 1em 1em 1em;
  border: 1px solid #cccccc;
  background: #eeeeee;
  min-height: 11.5em;
  vertical-align: top;
  cursor: pointer;
  max-width: 25%;
}

.openy-focal-point-derivative-preview.active {
  background: #cccccc;
  border-color: #999999;
}

.openy-focal-point-derivative-preview-image {
  max-height: 8em;
  max-width: 100%;
}

#openy-focal-point-preview-wrapper .note {
  display: block;
  color: #999999;
  font-size: .8em;
  line-height: 1.5em;
  text-align: center;
}

.image-data__crop-wrapper .crop-preview-wrapper__crop-reset {
  display: none;
}
