@import 'breakpoint';
@import 'global/colors';
@import 'bootstrap/variables';
@import 'global/fonts';
.content-banner {
  background: $grey1;
  box-shadow: 0 0 15px #d8d8d8;
  margin: 0 0 10px;
  @media (min-width: 768px) {
    margin: 0 0 40px;
  }
  &.page-title {
    &:before {
      background: $grey1;
    }
  }
  .banner-title {
    color: $grey7;
    font-size: 30px;
    margin: 0 25px 15px;
    @media (min-width: 768px) {
      margin: 0 45px 15px;
    }
  }
  .richtext {
    padding: 0 25px 0;
    color: $grey7;
    font-size: 15px;
    line-height: 20px;
    @media (min-width: 768px) {
      padding: 0 45px 0;
    }
     p {
       font-size: 15px;
       line-height: 20px;
     }
  }
  .content-prgf-image {
    position: relative;
    right: inherit;
    left: auto;
    margin-right: -30px;
    margin-left: 0;
    padding: 0;
    height: 100%;
    @media (min-width: 768px) {
      position:absolute;
      left: 50%;
      padding-right: 30px;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media (min-width: 1200px) {
      padding-right: 100px;
    }
    figure {
      position: relative;
      overflow: hidden;
      margin: 0 -30px 0 -20px;
      padding: 0;
      height: 100%;
      @media (min-width: 1200px) {
        margin-right: -100px;
      }
    }
  }
}
