@import "../../../../profiles/contrib/openy/themes/openy_themes/openy_lily/sass/global/_colors.scss";
#childcare-payment-history-form-wrapper {
  padding-top: 50px;
  .download-pdf-wrapper {
    margin: -30px 0 40px;
    text-align: center;
    @media (min-width: 992px) {
      text-align: right;
      margin: 0;
      position: absolute;
      top: -115px;
      right: 15px;
    }
  }

  .results {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form-item-child {
    float: left;
    margin-right: 25px;
    @media screen and (max-width: 767px) {
      float: none;
      margin-right: 0;
    }
    select {
      height: 50px;
      max-width: 200px;
      @media screen and (max-width: 767px) {
        max-width: none;
      }
    }
  }
  .form-item-start-date,
  .form-item-end-date {
    position: relative;
    float: left;
    margin-right: 25px;
    @media screen and (max-width: 767px) {
      float: none;
      margin-right: 0;
    }
    input {
      padding-left: 50px;
      height: 50px;
      max-width: 200px;
      @media screen and (max-width: 767px) {
        max-width: none;
      }
    }
    &:before {
      background-color: $grey1;
      border-radius: 5px;
      color: $grey5;
      content: "\e953";
      font-family: icomoon;
      font-size: 20px;
      left: 1px;
      padding: 10px;
      position: absolute;
      top: 26px;
    }
  }
  table {
    margin-bottom: 50px;
    width: 100%;
    @media screen and (max-width: 991px) {
      font-size: 12px;
      margin-bottom: 25px;
    }
    caption {
      text-align: left;
      padding: 20px 15px;
      background-color: $grey10;
      font-size: 15px;
      color: $white;
      font-weight: bold;
      font-family: "Cachet", Arial, sans-serif;
      @media screen and (max-width: 767px) {
        padding: 10px 5px;
      }
    }
    th {
      background-color: $grey1;
    }
    td, th {
      padding: 20px 15px;
      @media screen and (max-width: 767px) {
        padding: 10px 5px;
      }
    }
    tr {
      &:nth-child(even) td {
        background-color: $grey1;
      }
      &:nth-child(odd) td {
        background-color: $grey8;
      }
    }
    .description {
      max-width: 200px;
    }
    .order {
      white-space: nowrap;
    }
    .total-for-child {
      font-weight: bold;
      text-align: right;
    }
    .total-for-child-amount {
      font-weight: bold;
    }
  }
  .total {
    font-size: 16px;
    float: right;
    font-weight: bold;
    font-family: "Cachet", Arial, sans-serif;
  }
}
