<p>In order to use this module, you'll need an <a href="http://optimize.ly/OZRdc0">Optimizely</a> account. A Free 30 day trial account is available.</p>

<p>Most of the configuration and designing of the A/B tests is done by logging into your account on the <a href="http://optimize.ly/OZRdc0">Optimizely website</a>.</p>

{{ form }}
