{% block activity_icon %}
<div class="container">
  <div class="list-icon align-center">
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/strength.png"></span>
      <span class="icon__title">Strength</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/cardio.png"></span>
      <span class="icon__title">Cardio</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/aquatics.png"></span>
      <span class="icon__title">Aquatics</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/yoga.png"></span>
      <span class="icon__title">Yoga</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/dance.png"></span>
      <span class="icon__title">Dance</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/run.png"></span>
      <span class="icon__title">Run</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/camp.png"></span>
      <span class="icon__title">Camp</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="http://thuvienthongtin.net/sites/icons/activity/family.png"></span>
      <span class="icon__title">Family</span>
    </div>
  </div>
</div>
{% endblock %}
