<style type="text/css">
  @import "https://ymca.ffwua.com/fonts/style.css";
</style>

<div class="container">
  <div class="box-font-icons box-font-icons__activity">
    <div class="box-font-icons__content">
      <div class="font-icon">
        <span class="icon-time"></span>
        <div class="font-icon__text">time</div>
      </div>

      <div class="font-icon">
        <span class="icon-date"></span>
        <div class="font-icon__text">date</div>
      </div>

      <div class="font-icon">
        <span class="icon-location"></span>
        <div class="font-icon__text">location</div>
      </div>

      <div class="font-icon">
        <span class="icon-direction"></span>
        <div class="font-icon__text">direction</div>
      </div>

      <div class="font-icon">
        <span class="icon-question"></span>
        <div class="font-icon__text">question</div>
      </div>

      <div class="font-icon">
        <span class="icon-video"></span>
        <div class="font-icon__text">video</div>
      </div>

      <div class="font-icon">
        <span class="icon-message"></span>
        <div class="font-icon__text">message</div>
      </div>

      <div class="font-icon">
        <span class="icon-tip"></span>
        <div class="font-icon__text">tip</div>
      </div>

      <div class="font-icon">
        <span class="icon-mail"></span>
        <div class="font-icon__text">mail</div>
      </div>

      <div class="font-icon">
        <span class="icon-phone"></span>
        <div class="font-icon__text">phone</div>
      </div>

      <div class="font-icon">
        <span class="icon-zoom"></span>
        <div class="font-icon__text">zoom</div>
      </div>

      <div class="font-icon">
        <span class="icon-check"></span>
        <div class="font-icon__text">check</div>
      </div>

      <div class="font-icon">
        <span class="icon-cardio"></span>
        <div class="font-icon__text">cardio</div>
      </div>

      <div class="font-icon">
        <span class="icon-strength"></span>
        <div class="font-icon__text">strength</div>
      </div>

      <div class="font-icon">
        <span class="icon-aquatics"></span>
        <div class="font-icon__text">aquatics</div>
      </div>

      <div class="font-icon">
        <span class="icon-yoga"></span>
        <div class="font-icon__text">yoga</div>
      </div>

      <div class="font-icon">
        <span class="icon-dance"></span>
        <div class="font-icon__text">dance</div>
      </div>

      <div class="font-icon">
        <span class="icon-crunches"></span>
        <div class="font-icon__text">crunches</div>
      </div>

      <div class="font-icon">
        <span class="icon-camp"></span>
        <div class="font-icon__text">camp</div>
      </div>

      <div class="font-icon">
        <span class="icon-run"></span>
        <div class="font-icon__text">run</div>
      </div>

      <div class="font-icon">
        <span class="icon-family"></span>
        <div class="font-icon__text">family</div>
      </div>

      <div class="font-icon">
        <span class="icon-donate"></span>
        <div class="font-icon__text">donate</div>
      </div>

      <div class="font-icon">
        <span class="icon-discount"></span>
        <div class="font-icon__text">discount</div>
      </div>

      <div class="font-icon">
        <span class="icon-event"></span>
        <div class="font-icon__text">event</div>
      </div>

      <div class="font-icon">
        <span class="icon-prize"></span>
        <div class="font-icon__text">prize</div>
      </div>

      <div class="font-icon">
        <span class="icon-announcment"></span>
        <div class="font-icon__text">announcment</div>
      </div>

      <div class="font-icon">
        <span class="icon-baseball"></span>
        <div class="font-icon__text">baseball</div>
      </div>

      <div class="font-icon">
        <span class="icon-flag_football"></span>
        <div class="font-icon__text">flag_football</div>
      </div>

      <div class="font-icon">
        <span class="icon-floor_hockey"></span>
        <div class="font-icon__text">floor_hockey</div>
      </div>

      <div class="font-icon">
        <span class="icon-lacrosse"></span>
        <div class="font-icon__text">lacrosse</div>
      </div>

      <div class="font-icon">
        <span class="icon-martial"></span>
        <div class="font-icon__text">martial</div>
      </div>

      <div class="font-icon">
        <span class="icon-running_club"></span>
        <div class="font-icon__text">running_club</div>
      </div>

      <div class="font-icon">
        <span class="icon-soccer"></span>
        <div class="font-icon__text">soccer</div>
      </div>

      <div class="font-icon">
        <span class="icon-olympic"></span>
        <div class="font-icon__text">olympic</div>
      </div>

      <div class="font-icon">
        <span class="icon-track_and_field"></span>
        <div class="font-icon__text">track_and_field</div>
      </div>

      <div class="font-icon">
        <span class="icon-tumbling"></span>
        <div class="font-icon__text">tumbling</div>
      </div>

      <div class="font-icon">
        <span class="icon-volleyball"></span>
        <div class="font-icon__text">volleyball</div>
      </div>
    </div>
  </div>
</div>
