<style type="text/css">
  @import "https://ymca.ffwua.com/fonts/style.css";
</style>

<div class="container">
  <div class="box-font-icons box-font-icons__activity">
    <div class="box-font-icons__content">
      <div class="font-icon">
        <div class="icon-time"></div>
        <div class="font-icon__text">time</div>
      </div>

      <div class="font-icon">
        <div class="icon-date"></div>
        <div class="font-icon__text">date</div>
      </div>

      <div class="font-icon">
        <div class="icon-location"></div>
        <div class="font-icon__text">location</div>
      </div>

      <div class="font-icon">
        <div class="icon-direction"></div>
        <div class="font-icon__text">direction</div>
      </div>

      <div class="font-icon">
        <div class="icon-question"></div>
        <div class="font-icon__text">question</div>
      </div>

      <div class="font-icon">
        <div class="icon-video"></div>
        <div class="font-icon__text">video</div>
      </div>

      <div class="font-icon">
        <div class="icon-message"></div>
        <div class="font-icon__text">message</div>
      </div>

      <div class="font-icon">
        <div class="icon-tip"></div>
        <div class="font-icon__text">tip</div>
      </div>

      <div class="font-icon">
        <div class="icon-mail"></div>
        <div class="font-icon__text">mail</div>
      </div>

      <div class="font-icon">
        <div class="icon-phone"></div>
        <div class="font-icon__text">phone</div>
      </div>

      <div class="font-icon">
        <div class="icon-zoom"></div>
        <div class="font-icon__text">zoom</div>
      </div>

      <div class="font-icon">
        <div class="icon-check"></div>
        <div class="font-icon__text">check</div>
      </div>

      <div class="font-icon">
        <div class="icon-cardio"></div>
        <div class="font-icon__text">cardio</div>
      </div>

      <div class="font-icon">
        <div class="icon-strength"></div>
        <div class="font-icon__text">strength</div>
      </div>

      <div class="font-icon">
        <div class="icon-aquatics"></div>
        <div class="font-icon__text">aquatics</div>
      </div>

      <div class="font-icon">
        <div class="icon-yoga"></div>
        <div class="font-icon__text">yoga</div>
      </div>

      <div class="font-icon">
        <div class="icon-dance"></div>
        <div class="font-icon__text">dance</div>
      </div>

      <div class="font-icon">
        <div class="icon-crunches"></div>
        <div class="font-icon__text">crunches</div>
      </div>

      <div class="font-icon">
        <div class="icon-camp"></div>
        <div class="font-icon__text">camp</div>
      </div>

      <div class="font-icon">
        <div class="icon-run"></div>
        <div class="font-icon__text">run</div>
      </div>

      <div class="font-icon">
        <div class="icon-family"></div>
        <div class="font-icon__text">family</div>
      </div>

      <div class="font-icon">
        <div class="icon-donate"></div>
        <div class="font-icon__text">donate</div>
      </div>

      <div class="font-icon">
        <div class="icon-discount"></div>
        <div class="font-icon__text">discount</div>
      </div>

      <div class="font-icon">
        <div class="icon-event"></div>
        <div class="font-icon__text">event</div>
      </div>

      <div class="font-icon">
        <div class="icon-prize"></div>
        <div class="font-icon__text">prize</div>
      </div>

      <div class="font-icon">
        <div class="icon-announcment"></div>
        <div class="font-icon__text">announcment</div>
      </div>

      <div class="font-icon">
        <div class="icon-baseball"></div>
        <div class="font-icon__text">baseball</div>
      </div>

      <div class="font-icon">
        <div class="icon-flag_football"></div>
        <div class="font-icon__text">flag_football</div>
      </div>

      <div class="font-icon">
        <div class="icon-floor_hockey"></div>
        <div class="font-icon__text">floor_hockey</div>
      </div>

      <div class="font-icon">
        <div class="icon-lacrosse"></div>
        <div class="font-icon__text">lacrosse</div>
      </div>

      <div class="font-icon">
        <div class="icon-martial"></div>
        <div class="font-icon__text">martial</div>
      </div>

      <div class="font-icon">
        <div class="icon-running_club"></div>
        <div class="font-icon__text">running_club</div>
      </div>

      <div class="font-icon">
        <div class="icon-soccer"></div>
        <div class="font-icon__text">soccer</div>
      </div>

      <div class="font-icon">
        <div class="icon-olympic"></div>
        <div class="font-icon__text">olympic</div>
      </div>

      <div class="font-icon">
        <div class="icon-track_and_field"></div>
        <div class="font-icon__text">track_and_field</div>
      </div>

      <div class="font-icon">
        <div class="icon-tumbling"></div>
        <div class="font-icon__text">tumbling</div>
      </div>

      <div class="font-icon">
        <div class="icon-volleyball"></div>
        <div class="font-icon__text">volleyball</div>
      </div>
    </div>
  </div>
</div>
