{% block activity_icon %}
<table class="align-center container layout-icon" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/strength.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/cardio.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/aquatics.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/yoga.png"></td>
  </tr>
  <tr>
    <td class="icon__title">Strength</td>
    <td class="icon__title">Cardio</td>
    <td class="icon__title">Aquatics</td>
    <td class="icon__title">Yoga</td>
  </tr>
</table>
</br>
</br>
<table class="align-center container layout-icon" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/dance.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/run.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/camp.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/activity/family.png"></td>
  </tr>
  <tr>
    <td class="icon__title">Dance</td>
    <td class="icon__title">Run</td>
    <td class="icon__title">Camp</td>
    <td class="icon__title">Family</td>
  </tr>
</table>
{% endblock %}
