<div class="block-hero block-hero--bottom">
  <h2 class="block-hero__title block-hero--bottom__title">
    Spring swim skills = safe summer splashing
  </h2>
  <div class="block-hero__image">
    <img src="images/hero2.png" alt="hero1">
  </div>
</div>
