{% block block_keyword %}
    <div class="container">
      <div class="block-keyword">
        <h2 class="block-title">Get Your Swimmer Ready for Summer</h2>
        <div class="block-keyword__content">
          <p>Your swimmer knows that summer is on the way - help get them excited (and prepared) by signing up for Group Swim Lessons at the Y.  <span class="highlight-purple-dark">This 7-week</span> session begins April 18 and ends just in time for summer vacation.</p>
          <p>Cost is <span class="purple-light">$45 for members</span>, space is limited.</p>
        </div>
      </div>
    </div>
{% endblock %}
