<div class="container">
  <div class="block-grid">
    <table class="block-cta">
      <tr>
        <td>
          <img class="block-cta__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta3.png">
          <h2 class="block-title block-cta__title ">Y RUN: Saturday</h2>
          <div class="block-cta__content">Another Y run is coming! Here is everything you need to crush it...
          </div>
          <a class="btn btn--blue--light block-cta__button" href="#" target="_blank">READ MORE</a>
        </td>
        <td>
          <img class="block-cta__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta4.png">
          <h2 class="block-title block-cta__title ">Y Summer campaign</h2>
          <div class="block-cta__content">Enjoy your visits, report daily activities and win cool prizes.
          </div>
          <a class="btn btn--blue--light block-cta__button" href="#" target="_blank">READ MORE</a>
        </td>
      </tr>
    </table>
  </div>
</div>
