<div class="container">
  <div class="block-cta">
    <h2 class="block-title block-cta__title ">May is Water Safety Month </h2>
    <div class="block-cta__content">Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.
    </div>

    <a class="btn btn--has-icon" href="#">
      <table class="btn--purple--light">
        <tr>
          <td class="btn--has-icon__image icon--purple--light">
            <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/lifebuoy-icon.png">
          </td>
          <td class="text-button">SAFETY TIPS</td>
        </tr>
      </table>
    </a>
  </div>
</div>
