<div class="block-hero block-hero--small block-hero--top block-hero--bg--purple">
  <h2 class="block-hero__title">
    May Member News
  </h2>
  <div class="block-hero__image">
    <img src="http://thuvienthongtin.net/sites/icons/hero1.png" alt="hero1">
  </div>
</div>

