<div class="block-hero block-hero--top block-hero--bg--orange">
  <h2 class="block-hero__title"> May Member News </h2>
  <div class="block-hero__image block-hero--top__image">
    <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/hero1.png" alt="hero1">
  </div>
</div>

