<div class="container">
  <div class="block-grid">
    <div class="block-grid__list">
      <div class="block-grid__item">
        <div class="block-cta block-cta--grid">
          <div class="block-cta__image"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta3.png"></div>
          <h2 class="block-title block-cta__title ">Y RUN: Saturday</h2>
          <div class="block-cta__content">Another Y run is coming! Here is everything you need to crush it...
          </div>
          <div class="btn btn--blue--light block-cta__button">READ MORE</div>
        </div>
      </div>
      <div class="block-grid__item">
        <div class="block-cta block-cta--grid">
          <div class="block-cta__image"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta4.png"></div>
          <h2 class="block-title block-cta__title ">Y Summer campaign</h2>
          <div class="block-cta__content">Enjoy your visits, report daily activities and win cool prizes.
          </div>
          <div class="btn btn--blue--light block-cta__button">READ MORE</div>
        </div>
      </div>
    </div>
  </div>
</div>
