<div class="container">
  <div class="block-cta">
    <h2 class="block-title block-cta__title ">May is Water Safety Month </h2>
    <div class="block-cta__content">Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.
    </div>
    <table>
      <tr class="btn-icon icon--blue-light">
        <td class="btn-icon__img">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
        </td>
        <td class="btn-icon__text">
          <a href="#" target="_blank">Background Blue light</a>
        </td>
      </tr>
    </table>
  </div>
</div>
