<div class="container">
  <div class="block-cta">
    <div class="block-cta__image"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta-image1.png"></div>
    <h2 class="block-title block-cta__title ">Register now for classes and lessons</h2>
    <div class="block-cta__content">Y summer lessons and specialty classes begin June 20. Register by June 6 to take advantage of early-bird pricing. On the computer or on the go, it's easy to search all Y schedules for classes and lessons.
    </div>
    <a class="btn btn--has-icon btn--blue btn--blue--light" href="#">
      <span class="icon--blue--light">
        <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
      </span>
      VIEW SCHEDULES
    </a>
  </div>
</div>
