<div class="block-hero-heading-bottom">
  <h2 class="block-hero-heading-bottom__title">
    Spring swim skills = safe summer splashing
  </h2>
  <div class="block-hero-heading-bottom__image">
    <img src="images/hero2.png" alt="hero1">
  </div>
</div>
