<div class="block-body">
  <table class="bg-gray" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr class="line-height-none">
        <td class="line-height-none" valign="top" align="left"  width="65" height="82" ><img width="65" height="82" class="height-img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title1.png" alt=""></td>
        <td class="line-height-none" valign="top" align="center" height="82">
          <table class="block-body__header" cellspacing="0" cellpadding="0" border="0" width="100%" height="82">
            <tbody>
              <tr class="line-height-none">
                <td height="82" align="right" width="30%" valign="middle">
                  <div><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cardio-icon-2x.png" width="32" height="33" alt=""></div></td>
                <td height="82" align="left" width="70%" valign="middle"><div>HEALTHY LIVING</div></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="line-height-none bg-white" valign="top" align="right" width="65" height="82" ><img class="height-img" width="65" height="82" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title3.png" alt=""></td>
      </tr>
    </tbody>
  </table>
  <div class="block-body__content">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr class="block-body__item ">
          <td class="block-body__item__content border-bottom text-size">
            <div>Y summer lessons and specialty classes begin June 20. Register by June 6 to take advantage of early-bird pricing. On the computer or on the go, it's easy to search all Y schedules for classes and lessons</div>
          </td>
        </tr>
        <tr class="block-body__item">
          <td colspan="" rowspan="" headers="" class="block-body__item__content text-size">
            <div>Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
