<table class="block-cta block-cta--image--left" cellspacing="0" cellpadding="0" border="0" width="650">
  <tbody>
    <tr>
      <td  width="50"></td>
      <td align="left" width="540">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <tbody>
            <tr>
              <td class="block-cta__image">
                <div class="block-cta__img">
                  <img width="140" height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/03body.png">
                </div>
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tbody>
                    <tr height="25"><td></td></tr>
                  </tbody>
                </table>
                <a class="btn btn--purple-light block-cta__button" href="http://ymcamn.org" target="_blank">MORE DETAILS</a>
              </td>
              <td class="block-cta__body">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <thead>
                    <tr>
                      <th align="left" class="block-cta__title">
                        Helping kids develop a <br/> healthy lifestyle
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tbody>
                            <tr height="15"><td width="100%"></td></tr>
                          </tbody>
                        </table>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="block-cta__content" align="left" width="570">
                        Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td  width="50"></td>
    </tr>
    <tr height="50">
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


