{% block sponsors_logo %}
    <div class="container">
      <div class="block-sponsors-logo">
        <a class="block-sponsors-logo__image" href="#"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/sponsors-logo.png" alt="sponsors logo"></a>
      </div>
    </div>
{% endblock %}
