{% block block_linked_thumnail %}
    <div class="container">
      <div class="block-linked">
        <div class="block-linked__thumnail">
          <a target="_blank" href="#"><img src="http://thuvienthongtin.net/sites/icons/map-image.png" alt=""></a>
        </div>
        <p>Click on map to see parking options<br/>and start/finish lines</p>
      </div>
    </div>
{% endblock %}
