<div class="block-cta">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <thead>
      <tr>
        <th align="left"  class="block-cta__img">
          <img  height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta-image1.png">
          <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <tr height="25"><td></td></tr>
            </tbody>
          </table>
        </th>
      </tr>
      <tr>
        <th align="left"  class="block-cta__title">
          May is Water Safety Month
          <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <tr height="15"><td width="100%"></td></tr>
            </tbody>
          </table>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="block-cta__content" align="left" width="570">
          Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.
        </td>
      </tr>
      <tr>
        <td align="left" >
          <table>
            <tr class="btn-icon icon--blue-light">
              <td class="btn-icon__img">
                <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white-2x.png" width="20" height="22">
              </td>
              <td class="btn-icon__text">
                <a href="http://ymcamn.org" target="_blank">Background Blue light</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr height="50">
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
