<div class="block-grid">
  <table class="block-cta" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr>
        <td class="padding">
          <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <tr>
                <td class="block-cta__img"><img width="270" height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta3.png">
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                      <tr height="25"><td width="100%"></td></tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="block-cta__title ">Y RUN: Saturday
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                      <tr height="15"><td width="100%"></td></tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="block-cta__content text-size">Another Y run is coming! Here is everything you need to crush it...</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="padding">
          <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <tr>
                <td class="block-cta__img"><img width="270" height="auto" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cta4.png">
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                      <tr height="25"><td width="100%"></td></tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="block-cta__title ">
                  Y Summer campaign
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                      <tr height="15"><td width="100%"></td></tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="block-cta__content text-size">Enjoy your visits, report daily activities and win cool prizes.</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="padding">
          <a class="btn btn--blue--light block-cta__button" href="http://ymcamn.org" target="_blank">READ MORE</a>
        </td>
        <td class="padding">
          <a class="btn btn--blue--light block-cta__button" href="http://ymcamn.org" target="_blank">READ MORE</a>
        </td>
      </tr>
      <tr height="50">
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
