<table class="block-body" cellspacing="0" cellpadding="0" border="0" width="100%">
  <thead>
    <tr>
      <th width="91" height="82" valign="top"><img width="91" height="82" class="height-img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title1.png" alt=""></th>
      <th width="490" height="82" valign="top">
        <table class="block-body__header" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tbody>
            <tr>
              <td height="82" align="right" width="30%" valign="middle"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/cardio-icon.png" alt=""></td>
              <td height="82" align="left" width="70%" valign="middle">HEALTHY LIVING</td>
            </tr>
          </tbody>
        </table>
      </th>
      <th width="69" height="82" valign="top"><img class="height-img" width="91" height="82" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-body-title3.png" alt=""></th>
    </tr>
  </thead>
  <tbody>
    <tr class="block-body__item">
      <td class="border-bottom">
      </td>
      <td class="block-body__item__content border-bottom">
        <p>Y summer lessons and specialty classes begin June 20. Register by June 6 to take advantage of early-bird pricing. On the computer or on the go, it's easy to search all Y schedules for classes and lessons</p>
      </td>
      <td class="border-bottom"></td>
    </tr>
    <tr class="block-body__item">
      <td >
      </td>
      <td colspan="" rowspan="" headers="" class="block-body__item__content">
        <p>Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.</p>
      </td>
      <td colspan="" rowspan="" headers=""></td>
    </tr>
  </tbody>
</table>

