<div class="container">
  <div class="block-cta">
    <h2 class="block-title block-cta__title ">May is Water Safety Month </h2>
    <div class="block-cta__content">Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.
    </div>


    <table class="btn--has-icon">
      <tbody>
        <tr class="btn--blue--light">
          <td class="btn--has-icon__img icon--blue--light">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn--has-icon__text">
            <a href="#">Background Blue light</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
