<div class="container">
  <div class="block-cta">
    <h2 class="block-title block-cta__title ">May is Water Safety Month </h2>
    <div class="block-cta__content">Gear up for a safe summer of swimming with 10 tips for water safety. Plus, now is a great time to sign up for Y Swim Lessons, which provide a safe environment for swimmers of all ages and abilities.
    </div>

    <a class="btn btn--has-icon btn--purple--light" href="#">
      <span class="icon--purple--light">
        <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/lifebuoy-icon.png">
      </span>
      SAFETY TIPS
    </a>
  </div>
</div>
