<div class="block-body">
  <h2 class="block-body__title">
    <span class="block-body__title__icon"><img src="images/cardio-icon.png" alt=""></span>
    HEALTHY LIVING
  </h2>

  <section class="block-body__item">
    <div class="block-body__item__content">
      <p>Content Block</p>
    </div>
  </section>

  <section class="block-body__item">
    <div class="block-body__item__content">
      <p>Content Block</p>
    </div>
  </section>
</div>
