<div class="container">
  <div class="block-cta block-cta--image--left">
    <table class="block-cta__table" >
      <tr>
        <td class="block-cta__image">
         <img class="block-cta__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/03body.png">
         <a class="btn btn--purple-light block-cta__button" href="http://ymcamn.org" target="_blank">MORE DETAILS</a>
        </td>
        <td class="block-cta__body">
          <h2 class="block-title block-cta__title">Helping kids develop a <br/> healthy lifestyle  </h2>
          <div class="block-cta__content">Y programs strive to empower young people to practice healthy habits--from tots to teens.
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
