<div class="block-hero block-hero--bottom block-hero--bg--green">
  <h2 class="block-hero__title">
    Spring swim skills = safe summer splashing
  </h2>
  <div class="block-hero__image">
    <img src="http://thuvienthongtin.net/sites/icons/hero2.png" alt="hero1">
  </div>
</div>
