{% block sponsors_logo %}
    <div class="container">
      <div class="block-sponsors-logo">
        <a class="block-sponsors-logo__image" href="#"><img src="http://thuvienthongtin.net/sites/icons/sponsors-logo.png" alt="sponsors logo"></a>
      </div>
    </div>
{% endblock %}
