<div class="block-hero-heading-top-mobile">
  <h2 class="block-hero-heading-top-mobile__title">
    May Member News
  </h2>
  <div class="block-hero-heading-top-mobile__image">
    <img src="images/hero1.png" alt="hero1">
  </div>
</div>

