<div class="block-hero block-hero--bottom block-hero--bg--green">
  <div class="block-hero__image">
    <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/hero2.png" alt="hero1">
  </div>
  <h2 class="block-hero__title">
    Spring swim skills = safe summer splashing
  </h2>
</div>
