<div class="container">
  <div class="main-component">
    <div>
      <a class="btn btn--has-icon " href="#">
        <table class="btn--orange">
          <tbody>
            <tr>
              <td class="btn--has-icon__image icon--orange">
                <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
              </td>
              <td class="text-button">Background orange</td>
            </tr>
          </tbody>
        </table>
      </a>

      <a class="btn btn--has-icon " href="#">
        <table class="btn--blue">
          <tr>
            <td class="btn--has-icon__image icon--blue">
              <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
            </td>
            <td class="text-button">Background Blue</td>
          </tr>
        </table>
      </a>

      <a class="btn btn--has-icon " href="#">
        <table class="btn--blue--light">
          <tr>
            <td class="btn--has-icon__image icon--blue--light">
              <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
            </td>
            <td class="text-button">Background Blue light</td>
          </tr>
        </table>
      </a>

      <a class="btn btn--has-icon " href="#">
        <table class="btn--green">
          <tr>
            <td class="btn--has-icon__image icon--green">
              <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
            </td>
            <td class="text-button">Background Green</td>
          </tr>
        </table>
      </a>

      <a class="btn btn--has-icon " href="#">
        <table class="btn--purple">
          <tr>
            <td class="btn--has-icon__image icon--purple">
              <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
            </td>
            <td class="text-button">Background Purple</td>
          </tr>
        </table>
      </a>

      <a class="btn btn--has-icon " href="#">
        <table class="btn--purple--light">
          <tr>
            <td class="btn--has-icon__image icon--purple--light">
              <img class="btn__icon__img" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
            </td>
            <td class="text-button">Background Purple light</td>
          </tr>
        </table>
      </a>
    </div>
  </div>
</div>
