{% block button %}
<div class="container">
  <div class="main-component">
    <p><a class="btn" href="#">Default</a></p>
    <p><a class="btn btn--orange" href="#">Background Orange</a></p>
    <p><a class="btn btn--blue" href="#">Background Blue</a></p>
    <p><a class="btn btn--green" href="#">Background Green</a></p>
    <p><a class="btn btn--purple" href="#">Background Purple</a></p>
  </div>
</div>
{% endblock %}
