<div class="container">
  <div class="main-component">
    <div class="component-buttons">

      <table>
        <tr class="btn-icon icon--orange">
          <td class="btn-icon__img">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn-icon__text">
            <a href="#">Background orange</a>
          </td>
        </tr>
      </table>
      </br>
      <table>
        <tr class="btn-icon icon--blue">
          <td class="btn-icon__img">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn-icon__text">
            <a href="#">Background Blue</a>
          </td>
        </tr>
      </table>
      </br>
      <table>
        <tr class="btn-icon icon--blue-light">
          <td class="btn-icon__img">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn-icon__text">
            <a href="#">Background Blue light</a>
          </td>
        </tr>
      </table>
      </br>
      <table>
        <tr class="btn-icon icon--green">
          <td class="btn-icon__img">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn-icon__text">
            <a href="#">Background Green</a>
          </td>
        </tr>
      </table>
      </br>
      <table>
        <tr class="btn-icon icon--purple">
          <td class="btn-icon__img">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn-icon__text">
            <a href="#">Background Purple</a>
          </td>
        </tr>
      </table>
      </br>
      <table>
        <tr class="btn-icon icon--purple-light">
          <td class="btn-icon__img">
            <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/calender-white.png">
          </td>
          <td class="btn-icon__text">
            <a href="#">Background Purple light</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
