{% block button %}
<div class="container">
  <div class="main-component">
    <p>
      <a class="btn" href="#">Default</a>
      <a class="btn btn--orange" href="#">Background Orange</a>
      <a class="btn btn--blue" href="#">Background Blue</a>
      <a class="btn btn--blue-light" href="#">Background Blue light</a>
      <a class="btn btn--green" href="#">Background Green</a>
      <a class="btn btn--purple" href="#">Background Purple</a>
      <a class="btn btn--purple-light" href="#">Background Purple light</a>
    </p>
  </div>
</div>
{% endblock %}
