{% block button %}
<div class="container">
  <div class="main-component">
    <a class="btn"  href="http://ymcamn.org" target="_blank">Default</a>
    </br>
    <a class="btn btn--orange"  href="http://ymcamn.org" target="_blank">Background Orange</a>
    </br>
    <a class="btn btn--blue"  href="http://ymcamn.org" target="_blank">Background Blue</a>
    </br>
    <a class="btn btn--blue-light"  href="http://ymcamn.org" target="_blank">Background Blue light</a>
    </br>
    <a class="btn btn--green"  href="http://ymcamn.org" target="_blank">Background Green</a>
    </br>
    <a class="btn btn--purple"  href="http://ymcamn.org" target="_blank">Background Purple</a>
    </br>
    <a class="btn btn--purple-light"  href="http://ymcamn.org" target="_blank">Background Purple light</a>
  </div>
</div>

{% endblock %}
