<div class="container">
  <div class="main-component">
    <p>
      <a class="btn btn--has-icon" href="#">
        <span><img src="http://thuvienthongtin.net/sites/icons/calender-white.png" alt=""></span>Default
      </a>

      <a class="btn btn--has-icon btn--orange " href="#">
      <span class="icon--orange">
        <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
      </span>
      Background Orange
    </a>

      <a class="btn btn--has-icon btn--blue" href="#">
        <span class="icon--blue">
          <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
        </span>
        Background Blue
      </a>

      <a class="btn btn--has-icon btn--blue btn--blue--light" href="#">
        <span class="icon--blue--light">
          <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
        </span>
        Background Blue light
      </a>

      <a class="btn btn--has-icon btn--green" href="#">
        <span class="icon--green">
         <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
        </span>
        Background Green
      </a>

      <a class="btn btn--has-icon btn--purple" href="#">
        <span class="icon--purple">
          <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
        </span>
        Background Purple
      </a>

      <a class="btn btn--has-icon btn--purple--light" href="#">
        <span class="icon--purple--light">
          <img class="btn__icon__img" src="http://thuvienthongtin.net/sites/icons/calender-white.png">
        </span>
        Background Purple light
      </a>
    </p>
  </div>
</div>
