<style type="text/css">
  .block-contact,
  .block-contact a {
    color: #FFFFFF;
  }
</style>

<div class="container">
  <div class="block-social">
    <div class="block-social__list">
      <a href="http://www.facebook.com/YMCATwinCities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/fb-blue.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="http://twitter.com/ymcatwincities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/twi-blue.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="https://www.youtube.com/user/YMCATwinCities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/tube-blue.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="http://www.flickr.com/photos/ymcatwincities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/flckr-blue.png" alt=""></a>
    </div>
  </div>

  <div class="block-contact block-contact--programs-classes">
    <table class="block-contact__content">
      <tr>
        <td class="block-contact__icon"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/pin.png" alt=""></td>
        <td><a href="#">2125 E. Hennepin Ave.<br/>Minneapolis, MN 55413</a></td>
      </tr>
      <tr>
        <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/phone.png" alt=""></td>
        <td class="block-contact__phone-mail">
          <div class="opacity">Customer Service:</div>
            <a href="tel:6122309622">(P) 612-230-9622</a>
            <a href="mailto:mail@ymcamn.org">mail@ymcamn.org</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="block-unsubscribe">
    <a class="btn btn--border btn--border--blue" href="#" target="_blank">unsubscribe</a>
    <a class="btn btn--border btn--border--green" href="#" target="_blank">MANAGE PREFERENCES</a>
  </div>

  <div class="block-copyright">
    <div class="block-copyright__top">
      The YMCA is a 501(c)(3) not-for-profit social services organization dedicated to Youth Development,<br/> Healthy Living, and Social Responsibility
    </div>
    <div class="block-copyright__bottom"> ©2016 YMCA Twin Cities </div>
  </div>
</div>
