<div class="container">
  <footer>
    <div class="block-social">
      <div class="block-social__item"><a href="#"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/fb.png" alt=""></a></div>
      <div class="block-social__item"><a href="#"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/twi.png" alt=""></a></div>
      <div class="block-social__item"><a href="#"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/tube.png" alt=""></a></div>
      <div class="block-social__item"><a href="#"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/flckr.png" alt=""></a></div>
    </div>

    <div class="block-contact">
      <div class="block-contact__content">
        <div class="block-contact__address">
          <span class="block-contact__icon"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/pin.png" alt=""></span>
          <p>2125 E. Hennepin Ave.<br/>Minneapolis, MN 55413
          </p>
        </div>
        <div class="block-contact__phone">
          <span class="block-contact__icon"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/phone.png" alt=""></span>
          <p><span class="opacity">Customer Service:</span><br/><span class="phone">(P) 612-230-9622</span>mail@ymcamn.org</p>
        </div>
      </div>
    </div>

    <div class="block-unsubscribe">
      <a class="btn btn--border btn--border--purple" href="#">unsubscribe</a>
      <a class="btn btn--border btn--border--blue" href="#">MANAGE PREFERENCES</a>
    </div>

    <div class="block-copyright">
        <div class="block-copyright__top">
          The YMCA is a 501(c)(3) not-for-profit social services organization dedicated to Youth Development,<br/> Healthy Living, and Social Responsibility
        </div>
        <div class="block-copyright__bottom"> ©2016 YMCA Twin Cities </div>
    </div>
  </footer>
</div>
