<div class="container">
  <div class="block-social">
    <div class="block-social__list">
      <a href="http://www.facebook.com/YMCATwinCities"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/fb.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="http://twitter.com/ymcatwincities"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/twi.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="https://www.youtube.com/user/YMCATwinCities"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/tube.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="http://www.flickr.com/photos/ymcatwincities"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/flckr.png" alt=""></a>
    </div>
  </div>
  <div class="block-contact">
    <table class="block-contact__content">
      <tr>
        <td class="block-contact__icon"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/pin.png" alt=""></td>
        <td><a href="#">2125 E. Hennepin Ave.<br/>Minneapolis, MN 55413</a></td>
      </tr>
      <tr>
        <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/phone.png" alt=""></td>
        <td class="block-contact__phone-mail">
          <div class="opacity">Customer Service:</div>
            <a href="tel:6122309622">(P) 612-230-9622</a>
            <a href="mailto:mail@ymcamn.org">mail@ymcamn.org</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="block-unsubscribe">
    <a class="btn btn--border btn--border--purple" href="#">unsubscribe</a>
    <a class="btn btn--border btn--border--blue" href="#">MANAGE PREFERENCES</a>
  </div>

  <div class="block-copyright">
      <div class="block-copyright__top">
        The YMCA is a 501(c)(3) not-for-profit social services organization dedicated to Youth Development,<br/> Healthy Living, and Social Responsibility
      </div>
      <div class="block-copyright__bottom"> ©2016 YMCA Twin Cities </div>
  </div>
</div>
