<div container>
  <footer>
    <div class="block-social">
      <div class="block-social__list">
        <div class="block-social__item"><a href="#"><img src="http://thuvienthongtin.net/sites/icons/fb-green.png" alt=""></a></div>
        <div class="block-social__item"><a href="#"><img src="http://thuvienthongtin.net/sites/icons/twi-green.png" alt=""></a></div>
        <div class="block-social__item"><a href="#"><img src="http://thuvienthongtin.net/sites/icons/tube-green.png" alt=""></a></div>
        <div class="block-social__item"><a href="#"><img src="http://thuvienthongtin.net/sites/icons/flckr-green.png" alt=""></a></div>
      </div>
    </div>

    <div class="block-contact block-contact--camps-summer">
      <div class="block-contact__content">
        <div class="block-contact__address">
          <span class="icon-"><img src="http://thuvienthongtin.net/sites/icons/pin.png" alt=""></span>
          <p>2125 E. Hennepin Ave.<br/>Minneapolis, MN 55413
          </p>
        </div>
        <div class="block-contact__phone">
          <span class="icon-"><img src="http://thuvienthongtin.net/sites/icons/phone.png" alt=""></span>
          <p><span class="opacity">Customer Service:</span><br/><span class="phone">(P) 612-230-9622</span>ask@ymcamn.org</p>
        </div>
      </div>
    </div>

    <div class="block-unsubscribe">
      <div class="block-unsubscribe__content">
        <a class="btn btn--green-color" href="#">unsubscribe</a>
        <a class="btn btn--orange-color" href="#">MANAGE PREFERENCES</a>
      </div>
    </div>

    <div class="block-copyright">
      <div class="block-copyright__content">
        <div class="block-copyright__content-top">
          The YMCA is a 501(c)(3) not-for-profit social services organization dedicated to Youth Development,<br/> Healthy Living, and Social Responsibility
        </div>
        <div class="block-copyright__content-bottom"> ©2016 YMCA Twin Cities </div>
      </div>
    </div>
  </footer>
</div>
