<style type="text/css">
  .block-contact,
  .block-contact a {
    color: #FFFFFF;
  }
</style>

<table class="footer-wrapper" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td class="block-social">
    <div class="block-social__list">
      <a href="http://www.facebook.com/YMCATwinCities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/fb-blue.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="http://twitter.com/ymcatwincities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/twi-blue.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="https://www.youtube.com/user/YMCATwinCities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/tube-blue.png" alt=""></a>
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/distance-1.png" alt="">
      <a href="http://www.flickr.com/photos/ymcatwincities" target="_blank"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/flckr-blue.png" alt=""></a>
    </div>
    </td>
  </tr>
  <tr height="135">
    <td class="block-contact" background="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-footer2.png" bgcolor="#0089d0" width="650" height="135" valign="middle">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:650px;height:135px;">
        <v:fill type="tile" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bg-footer2.png" color="#0089d0" />
        <v:textbox inset="0,0,0,0">
      <![endif]-->
      <div class="block-contact__inner">
        <table class="block-contact__content" cellspacing="0" cellpadding="0" border="0" align="center" height="100">
          <tr height="50">
            <td class="block-contact__icon padding_top"><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/pin.png" alt=""></td>
            <td class="padding_top"><a href="#">2125 E. Hennepin Ave.<br/>Minneapolis, MN 55413</a></td>
          </tr>
          <tr height="50">
            <td><img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/phone.png" alt=""></td>
            <td class="block-contact__phone-mail">
              <div class="opacity-blue">Customer Service:</div>
                <a href="tel:6122309622">(P) 612-230-9622</a>
                <a href="mailto:mail@ymcamn.org">mail@ymcamn.org</a>
            </td>
          </tr>
        </table>
      </div>
      <!--[if gte mso 9]>
        </v:textbox>
      </v:rect>
      <![endif]-->
    </td>
  </tr>

  <tr>
    <td class="block-unsubscribe">
      <a class="btn-border btn-border--blue shorter" href="http://ymcamn.org" target="_blank">unsubscribe</a>
      <a class="btn-border btn-border--green" href="http://ymcamn.org" target="_blank">MANAGE PREFERENCES</a>
    </td>
  </tr>

  <tr>
    <td class="block-copyright">
      <div class="block-copyright__top">
        The YMCA is a 501(c)(3) not-for-profit social services organization dedicated to Youth Development,<br/> Healthy Living, and Social Responsibility
      </div>
      <div class="block-copyright__bottom"> ©2016 YMCA Twin Cities </div>
    </td>
  </tr>
</table>
