<div class="container">
  <header class="header">
    <div class="site-logo">
      <img class="site-logo__image" src="http://thuvienthongtin.net/sites/icons/logo-blue.png" alt="log ymca">
    </div>
    <div class="main-nav">
      <ul class="nav">
        <li class="nav__item"><a class="active" href="#">YMCA Twin Cities</a> </li>
        <li class="nav__item"><a href="#">Schedules</a> </li>
        <li class="nav__item"><a href="#">Blog</a> </li>
        <li class="nav__item"><a href="#">Locations</a> </li>
      </ul>
    </div>
  </header>
</div>
