<div class="header header--programs-classes">
  <table>
    <tr>
      <td>
        <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-green.png" alt="log ymca">
        <a href="#" class="site-slogan">Mounds View </br> Community Center</a>
      </td>
      <td class="main-menu">
        <table>
          <tr>
            <td><a href="#">Schedules</a></td>
            <td><a href="#">Blog</a></td>
            <td><a href="#">Locations</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
