<div class="header">
  <table>
    <tr>
      <td>
        <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-blue.png" alt="Logo ymca">
        <a href="#" class="site-slogan">YMCA Twin Cities</a>
      </td>
      <td class="main-menu">
        <table>
          <tr>
            <td><a href="#">Schedules</a></td>
            <td><a href="#">Blog</a></td>
            <td><a href="#">Locations</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

Mobile

<div class="header">
  <table>
    <tr>
      <td>
        <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-blue.png" alt="Logo ymca">
        <a href="#" class="site-slogan">YMCA Twin Cities</a>
      </td>
    </tr>
  </table>
  <table>
    <tr class="main-menu">
      <td><a href="#">Schedules</a></td>
      <td><a href="#">Blog</a></td>
      <td><a href="#">Locations</a></td>
    </tr>
  </table>
</div>
