<div class="container">
  <table class="header-wrapper" border="0" cellspacing="0" align="center">
    <tr class="header__item header__branch">
      <td rowspan="2" class="logo">
        <a href="http://ymcamn.org" target="_blank" class="site-logo">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-blue-144.png" width="72" height="55" alt="Logo ymca">
        </a>
      </td>
      <td colspan="3">
        <a href="http://ymcamn.org" target="_blank" class="site-slogan">YMCA Twin Cities</a>
      </td>
    </tr>
    <tr class="header__item">
      <td>
        <table width="100%">
          <tr>
            <td>
              <a href="http://ymcamn.org/all_y_schedules" target="_blank">Schedules</a>
            </td>
            <td width="25"></td>
            <td>
              <a href="http://ymcamn.org/blog" target="_blank">Blog</a>
            </td>
            <td width="25"></td>
            <td>
              <a href="http://ymcamn.org/locations" target="_blank">Locations</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr><td height="20"></td></tr>
  </table>
</div>
