<div class="header">
  <div class="header__item header__branch">
    <a href="http://ymcamn.org" class="site-logo">
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-blue.png" alt="Logo ymca">
    </a>
    <a href="http://ymcamn.org" class="site-slogan">YMCA Twin Cities</a>
  </div>
  <div class="header__item">
    <a href="http://ymcamn.org/all_y_schedules">Schedules</a>
    <a href="http://ymcamn.org/blog">Blog</a>
    <a href="http://ymcamn.org/locations">Locations</a>
  </div>
</div>
