<div class="container">
  <header class="header header--camps-summer">
    <div class="site-logo">
      <img class="site-logo__image" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-orange.png" alt="log ymca">
    </div>
    <div class="site-slogan">
      <div class="site-slogan__content"><a class="active" href="#">Day Camp </br> Guy Robinson</a></div>
    </div>
    <div class="main-nav">
      <ul class="nav">
        <li class="nav__item"><a href="#">Schedules</a> </li>
        <li class="nav__item"><a href="#">Blog</a> </li>
        <li class="nav__item"><a href="#">Locations</a> </li>
      </ul>
    </div>
  </header>
</div>
