<div class="header">
  <div class="header__item">
    <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-blue.png" alt="Logo ymca">
    <a href="#" class="site-slogan">YMCA Twin Cities</a>
  </div>
  <div class="header__item">
    <a href="#">Schedules</a>
    <a href="#">Blog</a>
    <a href="#">Locations</a>
  </div>
</div>
