<div container>
  <header class="header header--programs-classes">
    <div class="site-logo">
      <img class="site-logo__image" src="http://thuvienthongtin.net/sites/icons/Y_logo_green.svg" alt="log ymca">
    </div>
    <div class="main-nav">
      <ul class="nav">
        <li><a class="active" href="#">Mounds View </br> Community Center </a> </li>
        <li><a href="#">Schedules</a> </li>
        <li><a href="#">Blog</a> </li>
        <li><a href="#">Locations</a> </li>
      </ul>
    </div>
  </header>
</div>
