<div class="header header--camps-summer">
  <div class="header__item header__branch">
    <a href="http://ymcamn.org" target="_blank" class="site-logo">
      <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/logo-orange.png" alt="Logo ymca">
    </a>
    <a href="http://ymcamn.org" target="_blank" class="site-slogan">Day Camp </br> Guy Robinson</a>
  </div>
  <div class="header__item">
    <a href="http://ymcamn.org/all_y_schedules" target="_blank">Schedules</a>
    <a href="http://ymcamn.org/blog" target="_blank">Blog</a>
    <a href="http://ymcamn.org/locations" target="_blank">Locations</a>
  </div>
</div>
