<div container>
  <header class="header header--camps-summer">
    <div class="site-logo">
      <img class="site-logo__image" src="images/Y_logo_orange.svg" alt="log ymca">
    </div>
    <div class="main-nav">
      <ul class="nav">
        <li><a class="active" href="#">Day Camp </br> Guy Robinson</a> </li>
        <li><a href="#">Schedules</a> </li>
        <li><a href="#">Blog</a> </li>
        <li><a href="#">Locations</a> </li>
      </ul>
    </div>
  </header>
</div>
