 {% block links %}
<div class="container">
  <div class="main-component">
    <p>
      <a class="link link--has-icon link--blue" href="#A3">
        <span class="link__img">
          <img src="//thuvienthongtin.net/sites/icons/bulb.png">
        </span>
        View tips: preparing for  lessons
        <span class="link__arrow">
          <img src="//thuvienthongtin.net/sites/icons/arrow-right.png">
        </span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--purple" href="#A3">
        <span class="link__img">
          <img src="//thuvienthongtin.net/sites/icons/bulb-purple.png">
        </span>
        View tips: preparing for lessons
        <span class="link__arrow">
          <img src="//thuvienthongtin.net/sites/icons/arrow-right-purple.png">
        </span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--orange" href="#A3">
        <span class="link__img">
          <img src="//thuvienthongtin.net/sites/icons/bulb-orange.png">
        </span>
        View tips: preparing for lessons
        <span class="link__arrow">
          <img src="//thuvienthongtin.net/sites/icons/arrow-right-orange.png">
        </span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--green" href="#A3">
        <span class="link__img">
          <img src="//thuvienthongtin.net/sites/icons/bulb-green.png">
        </span>
        View tips: preparing for lessons
        <span class="link__arrow">
          <img src="//thuvienthongtin.net/sites/icons/arrow-right-green.png">
        </span>
      </a>
    </p>
  </div>
</div>
{% endblock %}
