{% block button %}
<div class="container">
  <div class="main-component">
    <p><a href="#A1">Link style A1. This is default link.</a></p>
    <p><a class="link--underline" href="#A2">Link style A2.</a></p>
    <p class="bg--teal"><a class="link--citrine-white" href="#A3">Link style A3.</a></p>
  </div>
</div>
{% endblock %}
