{% block button %}
<div class="container">
  <div class="main-component">
    <p>
      <a class="link" href="#A3">
        View tips: preparing for lessons
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--has-icon--blue" href="#A3">
        <span class="icon-light-bulb"></span>View tips: preparing for lessons<span class="icon-chevron-small-right"></span>
      </a>
      </p>
    <p>
      <a class="link link--has-icon link--has-icon--purple" href="#A3"><span class="icon-light-bulb"></span>View tips: preparing for lessons<span class="icon-chevron-small-right"></span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--has-icon--green" href="#A3"><span class="icon-light-bulb"></span>View tips: preparing for lessons<span class="icon-chevron-small-right"></span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--has-icon--orange" href="#A3"><span class="icon-light-bulb"></span>View tips: preparing for lessons<span class="icon-chevron-small-right"></span>
      </a>
    </p>
  </div>
</div>
{% endblock %}
