{% block links %}
<div class="container">
  <div class="main-component">
    <p>
      <a class="link link--has-icon link--blue" href="#A3">
        View tips: preparing for lessons
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--purple" href="#A3">
        View tips: preparing for lessons
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--orange" href="#A3">
        View tips: preparing for lessons
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--green" href="#A3">
        View tips: preparing for lessons
      </a>
    </p>
  </div>
</div>
{% endblock %}
