 {% block links %}
<div class="container">
  <div class="main-component">
    <p>
      <a class="link link--has-icon link--blue" href="#A3">
        <span class="link__img">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bulb.png">
        </span>
        View tips: preparing for  lessons
        <span class="link__arrow">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/arrow-right.png">
        </span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--purple" href="#A3">
        <span class="link__img">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bulb-purple.png">
        </span>
        View tips: preparing for lessons
        <span class="link__arrow">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/arrow-right-purple.png">
        </span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--orange" href="#A3">
        <span class="link__img">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bulb-orange.png">
        </span>
        View tips: preparing for lessons
        <span class="link__arrow">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/arrow-right-orange.png">
        </span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--green" href="#A3">
        <span class="link__img">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bulb-green.png">
        </span>
        View tips: preparing for lessons
        <span class="link__arrow">
          <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/arrow-right-green.png">
        </span>
      </a>
    </p>
  </div>
</div>
{% endblock %}
