{% block button %}
<div class="container">
  <div class="main-component">
    <p>
      <a class="link link--has-icon link--blue" href="#A3">
        <span class="link__text">View tips: preparing for lessons</span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--purple" href="#A3">
        <span class="link__text">View tips: preparing for lessons</span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--orange" href="#A3">
        <span class="link__text">View tips: preparing for lessons</span>
      </a>
    </p>
    <p>
      <a class="link link--has-icon link--green" href="#A3">
        <span class="link__text">View tips: preparing for lessons</span>
      </a>
    </p>
  </div>
</div>
{% endblock %}
