{% block marketing_icon %}
<div class="container">
  <div class="list-icon align-center">
    <div class="icon">
      <span class="icon__img"><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/discount.png"></span>
      <span class="icon__title">Discount</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/donate.png"></span>
      <span class="icon__title">Donate</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/event.png"></span>
      <span class="icon__title">Event</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/prize.png"></span>
      <span class="icon__title">Prize</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/promotion.png"></span>
      <span class="icon__title">Promotion</span>
    </div>
  </div>
</div>
{% endblock %}
