{% block marketing_icon %}
<div class="container">
  <div class="list-icon align-center">
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/marketing/discount.png"></span>
      <span class="icon__title">Discount</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/marketing/donate.png"></span>
      <span class="icon__title">Donate</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/marketing/event.png"></span>
      <span class="icon__title">Event</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/marketing/prize.png"></span>
      <span class="icon__title">Prize</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/marketing/promotion.png"></span>
      <span class="icon__title">Promotion</span>
    </div>
  </div>
</div>
{% endblock %}
