{% block marketing_icon %}
<table class="align-center container layout-icon" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/discount.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/donate.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/event.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/prize.png"></td>
    <td><img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/marketing/promotion.png"></td>
  </tr>
  <tr>
    <td class="icon__title">Discount</td>
    <td class="icon__title">Donate</td>
    <td class="icon__title">Event</td>
    <td class="icon__title">Prize</td>
    <td class="icon__title">Promotion</td>
  </tr>
</table>
{% endblock %}
