{% block service_icon %}
<table class="align-center container layout-icon" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/time-2x.png" width="23" height="23">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/date-2x.png" width="23" height="25">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/location-2x.png" width="19" height="24">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/faq-2x.png" width="23" height="26">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/message-2x.png" width="23" height="26">
    </td>
  </tr>
  <tr>
    <td class="icon__title">Time</td>
    <td class="icon__title">Date</td>
    <td class="icon__title">Location</td>
    <td class="icon__title">FAQ</td>
    <td class="icon__title">Message</td>
  </tr>
</table>
</br>
<table class="align-center container layout-icon" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/direction-2x.png" width="22" height="22">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/video-2x.png" width="24" height="24">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/hints-2x.png" width="16" height="22">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/email-2x.png" width="24" height="19">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/phone-2x.png" width="22" height="22">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/zoom-2x.png" width="22" height="21">
    </td>
  </tr>
  <tr>
    <td class="icon__title">Direction</td>
    <td class="icon__title">Video</td>
    <td class="icon__title">Hints</td>
    <td class="icon__title">Email</td>
    <td class="icon__title">Phone</td>
    <td class="icon__title">Zoom</td>
  </tr>
</table>
{% endblock %}
