{% block service_icon %}
<div class="container">
  <div class="list-icon align-left">
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/time.png"></span>
      <span class="icon__title">Time</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/date.png"></span>
      <span class="icon__title">Date</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/location.png"></span>
      <span class="icon__title">Location</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/faq.png"></span>
      <span class="icon__title">FAQ</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/message.png"></span>
      <span class="icon__title">Message</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/direction.png"></span>
      <span class="icon__title">Direction</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/video.png"></span>
      <span class="icon__title">Video</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/hints.png"></span>
      <span class="icon__title">Hints</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/email.png"></span>
      <span class="icon__title">Email</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/phone.png"></span>
      <span class="icon__title">Phone</span>
    </div>
    <div class="icon">
      <span class="icon__img"><img  src="//thuvienthongtin.net/sites/icons/service/zoom.png"></span>
      <span class="icon__title">Zoom</span>
    </div>
  </div>
</div>
{% endblock %}
