{% block service_icon %}
<table class="align-center container layout-icon" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/time.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/date.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/location.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/faq.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/message.png">
    </td>
  </tr>
  <tr>
    <td class="icon__title">Time</td>
    <td class="icon__title">Date</td>
    <td class="icon__title">Location</td>
    <td class="icon__title">FAQ</td>
    <td class="icon__title">Message</td>
  </tr>
</table>
</br>
<table class="align-center container layout-icon" align="center" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/direction.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/video.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/hints.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/email.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/phone.png">
    </td>
    <td>
      <img  src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/zoom.png">
    </td>
  </tr>
  <tr>
    <td class="icon__title">Direction</td>
    <td class="icon__title">Video</td>
    <td class="icon__title">Hints</td>
    <td class="icon__title">Email</td>
    <td class="icon__title">Phone</td>
    <td class="icon__title">Zoom</td>
  </tr>
</table>
{% endblock %}
