{% block style_list %}
<div class="container">
  <div class="block-style-list">
    <ul class="style-list">
      <li>Y Run HQ near the Lake Calhoun Executive Center</li>
      <li>Soccer clinic and kid-friendly camp activities</li>
      <li>Family-friendly obstacle course by Spartan Race
          <ul class="style-list style-list--sub">
            <li><a class="blue-light" href="">Over-under-over-under walls: </a>Jump high, crawl low, repeat.</li>
            <li><a class="blue-light" href="">Low crawl: </a>Time to get down and dirty. Stay low, crawl fast.</li>
            <li><a class="blue-light" href="">Balance beam: </a>Breathe deep, focus, you can do this.</li>
          </ul>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
