{% block style_list_has_links %}
<div class="block-style-list">
  <table  cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr><td align="left" class="bold"> NEW THIS YEAR:</td></tr>
      <tr>
        <td align="left" class="text-icon">
          <ul class="style-list">
            <li><a class="blue-light" href="#">Y Run HQ near the Lake Calhoun Executive Center</a></li>
            <li><a class="purple-light" href="#">Soccer clinic and kid-friendly camp activities</a></li><li><a class="orange-light" href="#">Soccer clinic and kid-friendly camp activities</a></li>
            <li><a class="green-light" href="#">Family-friendly obstacle course by Spartan Race</a>
                <ul class="style-list style-list--sub">
                  <li><a class="blue-light" class="" href="#">Over-under-over-under walls: </a>Jump high, crawl low, repeat.</li>
                  <li><a class="blue-light" href="#">Low crawl: </a>Time to get down and dirty. Stay low, crawl fast.</li>
                  <li><a class="blue-light" href="#">Balance beam: </a>Breathe deep, focus, you can do this.</li>
                </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
