{% block tables %}
<div class="tables">
  <table>
    <tr>
      <td>7:00 am - On-site registration and packet pick-up</td>
    </tr>
    <tr>
      <td>8:15 am - 1 Mile Run/Walk</td>
    </tr>
    <tr>
      <td>8:45 am - 10k</td>
    </tr>
    <tr>
      <td>9:00 am - 5k</td>
    </tr>
  </table>
</div>
{% endblock %}
