{% block tables %}
<div class="tables text-size">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr class="odd">
        <td>7:00 am - On-site registration and packet pick-up</td>
      </tr>
      <tr class="even">
        <td>8:15 am - 1 Mile Run/Walk</td>
      </tr>
      <tr class="odd">
        <td>8:45 am - 10k</td>
      </tr>
      <tr class="even">
        <td>9:00 am - 5k</td>
      </tr>
      <tr height="30">
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
