
{% block text_icons %}
<div class="block-text-icon">
  <div class="block-text-icon__top">
    <p class="text-icon">
      <span class="text-icon__img">
        <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/date.png">
      </span>Friday, April 15,
    </p>

    <p class="text-icon">
      <span class="text-icon__img">
        <img src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/service/time.png">
      </span>11:00 am - 7:00 pm
    </p>
  </div>
  <div class="block-text-icon__bottom">
    <a class="link link--has-icon link--green" href="#A3">
        <img class="img-left" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/bulb-green.png">
      View tips: preparing for lessons
        <img class="img-right" src="https://images.magnetmail.net/images/clients/YMCA_TWIN/2016_redesign/arrow-right-green.png">
    </a>

    <p class="text-indent">Administration and Training Center<br/>2125 East Hennepin Avenue<br/>Minneapolis, MN 55413 </p>
  </div>
</div>
{% endblock %}
