{#
/**
 * @file
 * Default theme implementation to display a event location info.
 *
 * Available variables:
 * - info: The info array with access to event date info.
 *   - info.loc_link will return link to location entity.
 *   - info.loc_address will return location address.
 *   - info.directions will return link to Google Maps linked to location address.
 *
 * @see openy_node_event_preprocess_field__node__field_event_location__event()
 *
 * @ingroup themeable
 */
#}
<div class="d-inline-block w-100 pb-4 mb-4 border-light border-bottom">
  <h4>{{ info.loc_link }}</h4>

  <address>
    <div class="field-location-address">
      <i class="fas fa-map-marker-alt text-gray-300"></i> {{ info.loc_address }}
    </div>
  </address>

  {% if info.directions is not empty %}
    <div class="location-directions">
      {{ info.directions }} <i class="fa fa-arrow-right text-pink"></i>
    </div>
  {% endif %}
</div>
