html{
	-webkit-font-smoothing: antialised;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background:#78cbef; color:#fff; text-shadow: none; }
::selection { background:#78cbef; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #78cbef; }

@font-face {
    font-family: 'Cachet';
    src: url('../fonts/cachetstd-bold-webfont.eot');
    src: url('../fonts/cachetstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cachetstd-bold-webfont.woff') format('woff'),
         url('../fonts/cachetstd-bold-webfont.ttf') format('truetype'),
         url('../fonts/cachetstd-bold-webfont.svg#CachetStdnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Pictos';
    src: url('../fonts/Pictos-webfont.eot');
    src: url('../fonts/Pictos-webfont.eot?iefix') format('eot'),
         url('../fonts/Pictos-webfont.woff') format('woff'),
         url('../fonts/Pictos-webfont.ttf') format('truetype'),
         url('../fonts/Pictos-webfont.svg#webfontVz8pnSxt') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Cachet';
    src: url('../fonts/cachetstd-book-webfont.eot');
    src: url('../fonts/cachetstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cachetstd-book-webfont.woff') format('woff'),
         url('../fonts/cachetstd-book-webfont.ttf') format('truetype'),
         url('../fonts/cachetstd-book-webfont.svg#CachetStdBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cachet';
    src: url('../fonts/cachetstd-medium-webfont.eot');
    src: url('../fonts/cachetstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cachetstd-medium-webfont.woff') format('woff'),
         url('../fonts/cachetstd-medium-webfont.ttf') format('truetype'),
         url('../fonts/cachetstd-medium-webfont.svg#CachetStdMedium') format('svg');
    font-weight: 700;
    font-style: normal;
}

sup {
	top: -0.6em;
	font-size: 55%;
}

#main h1{
	color: #217eb7;
	font: normal 38px/1em 'Cachet W02 Medium';
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 5px;
}
.ie7 #main h1 {
	height: 70px;
}
#main article.promo h1 {
	font: normal 26px/27px 'Cachet W02 Bold', Arial;
	color: white;
	text-transform: uppercase;
	margin: 0 0 10px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	width: auto;
	float: none;
	letter-spacing: 0;
	top: -5px;
	position: relative;
}
#main.internal article.promo h1 {
	font-size: 18px;
	line-height: 20px;
}
article.promo h2 {
	font: normal 54px/1em 'Cachet W02 Bold', Arial;
	color: white;
	letter-spacing: -5px;
	float: right;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
	top: -12px;
	position: relative;
}
.ie article.promo h2{
	text-indent: -3px;
}
h3,
footer h5{
	color: #258BCB;
	text-transform: uppercase;
	font: normal 26px/1em 'Cachet W02 Bold', Arial	;
}
.home #articles h3 {
	margin-bottom: 20px;
}
footer h3 {
	color: #6C6969;
	font: normal 21px/1em 'Cachet W02 Medium', Arial;
}
header h3,
footer h5 {
	font-size: 12px;
	display: inline-block;
	vertical-align: baseline;
	bottom: 4px;
	position: relative;
	text-transform: uppercase;
	line-height: 1.4em;
}
#content header h3 {
	font-size: 15px;
	margin: 1em 0 0;
}
.csstransforms body > header h3 {
	position: absolute;
	left: 51px;
	top: 92px;
	letter-spacing: -1px;
	-webkit-transform: scale(0.38);
	-moz-transform: scale(0.38);
	-o-transform: scale(0.38);
	-ms-transform: scale(0.38);
	font-size: 32px;
	line-height: 1.31em;
}
footer h4{
	margin-bottom: 10px;
	margin-top: 0;
}
footer h5{
	display: block;
}

.ie7 header hgroup{
	float: left;
	clear: left;
}

.ie6 header h3,
.ie6 header h2,
.ie7 header h3,
.ie7 header h2{
	display: inline;
}

article.promo small{
	font-size: 13px;
	clear: both;
	display: block;
}
.promo a{
	color: white;
	text-decoration: underline;
	margin-left: 10px;
}


nav a,
#content header h2,
.locations nav#subnav-utility .level_2 a,
.camps nav#subnav-utility .level_2 a{
	font: normal 18px/1em 'Cachet W02 Book', Arial;
	color: white;
	vertical-align: middle;
	background: none;
	text-decoration: none;
	padding-top: 0;
	text-shadow: 0px 1px 1px rgba(0,0,0,.6);
}
#content header h2,
.locations nav#subnav-utility .level_2 a,
.camps nav#subnav-utility .level_2 a{
	font-family: 'Cachet W02 Bold';
}
nav.primary a{
	font-family: 'Cachet W02 Medium';
	line-height: 65px;
}
nav.primary h4{
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	height: 25px;
	font: normal 24px/24px 'Cachet W02 Bold', sans-serif;
}
.slide h2 {
	font: normal 92px/1em 'Cachet W02 Bold';
	letter-spacing: -6px;
	margin: 51px 37px 0px;
	color: #99238B;
	text-transform: uppercase;
	text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1);
}
.ie nav.primary a{
	font-size: 17px;
}
.ie nav.primary header a{
	font-size: 18px;
}
.ie7 nav.primary a span{
	line-height: 21px;
}

.ie nav.primary ul ul a{
	font-size: 12px;
	padding-top: 0;
	height: 29px;
	padding-bottom: 0;
}
#content h2{
	font-size: 22px;
	margin: 1em 0 0;
	font-weight: normal;
	color: #4D4D4D;
	font-family: 'Cachet W02 Medium';
}
h4{
	color: #6c6968;
	margin: 1em 0;
	font: normal 16px/1.4em 'Cachet W02 Medium', Arial;
}
nav h4 a,
.locations nav#subnav-utility .level_2 a,
.camps nav#subnav-utility .level_2 a {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Cachet W02 Bold';
}
.locations nav#subnav-utility h4,
.camps nav#subnav-utility h4{
	display: none;
}
nav h4{
	margin: 0 0 10px;
}
#subnav-promos nav h4 {
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
	font-family: 'Cachet W02 Bold';
	margin-bottom: 10px;
}
.button a,
.button-blue a,
#content form button {
	font: normal 13px/32px 'Cachet W02 Medium', Arial;
	text-decoration: none;
	height: 30px;
}
body > footer nav a{
	font: normal 11px/1em 'Verdana', sans-serif;
	color: #0081B8;
	margin: 10px 0;
	float: none;
	text-shadow: none;
}
body > footer nav li{
	margin: .5em 0;
}
.ie7 #content header {
	padding-top: 0px;
}
#content header h2{
	background: rgba(0, 0, 0, .1);
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 -10px 10px;
	padding: 10px;
}
#content h2:first-child{
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin-top: -10px;
	behavior: url(/amm/themes/2011_ymca/css/PIE.htc);
}
.ie7 #content header h2 {
	background: #c6c6c6;
	border-radius: 10px 10px 0 0;
	behavior: url(/amm/themes/2011_ymca/css/PIE.htc);
}
.ie7 #content h2:first-child{
	margin-top: 0;
}
.ie8 #content header h2 {
	background: url(../images/ie/ie-content_header_h2.png) 0 0 no-repeat transparent;
	height: 30px;
	padding-bottom: 0;
	width: 420px; 
}
header h2{
	display: inline-block;
	vertical-align: baseline;
}
#content header h2{
	display: block;
}
.module h2,
article.schedules h2{
	text-align: left;
	font: normal 16px/1.2em 'Cachet W02 Medium', Arial;
	text-shadow: 0px 1px 1px rgba(0,0,0,.4);
	padding: 10px;
	position: relative;
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 50%,
		from(rgba(255, 255, 255, 0)),
		color-stop(1, rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, 0)));
}
.ie article.schedules h2{
	float: left;
	width: 170px;
}
.ie9 article.schedules h2{
	background-image:
		url(../images/calendar.svg);
}
.ie article.schedules .bg div{
	float: left;
	background: url(../images/ie/schedule-picker-bottom.png) no-repeat bottom left;
}
article.schedules h2 span{
	position: absolute;
	top: 27px;
	color: #e3bddc;
	letter-spacing: -1px;
	right: 15px;
	font-size: 20px;
	width: 27px;
	display: block;
	text-align: center;
}
.ie article.schedules h2 span{
	top: 25px;
}
article.schedules h2{
	padding-right: 50px;
	background-image: url(../images/ie/schedule-picker.png);
	min-height: 32px;
}
.smil article.schedules h2{
	background-image:
		url(../images/calendar.svg),
		-webkit-gradient(
			linear,
			0 0,
			0 100%,
			from(rgba(255, 255, 255, 0)),
			to(rgba(255, 255, 255, .1)));
	background-image:
		url(../images/calendar.svg),
		-o-linear-gradient(
			-90deg,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, .1));
	background-image:
		url(../images/calendar.svg),
		-moz-linear-gradient(
			-90deg,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, .1));
	background-size: 35px auto, auto;
	background-repeat: no-repeat;
	background-position: 184px 9px, 0 0;
}
#slideshow .text-link span.cal {
	background: url(../images/calendar.svg) no-repeat 0 0;
	background-size: 35px auto;
	float: right;
	color: rgba(255,255,255,.8);
	font-weight: normal;
	width: 36px;
	text-align: center;
	line-height: 52px;
	margin: 10px 15px 0 0;
}
#content header li {
	margin: 1em 0 1em 20px;
/*	font-style: italic;1*/
	color: rgba(64, 64, 64, 1);
	font-size: 11px;
}
li{
	margin: 1em 0 1em 30px;	
}
#content p{
	margin: .5em 0;
}
hgroup h2 a {
	background-image: url(../images/ymca-logo.png);
	width: 141px;
	padding-top: 104px;
	overflow: hidden;
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
	height: 0;
	background-size: auto 102px;
	background-position: 0 0;
}
.smil hgroup h2 a{
	background-image: url(../images/ymca-logo.svg);
}

a {
	color: #2685C1;
	text-decoration: none;
}
p{
	margin: 1em 0;
}
.blockquote{
	margin: 20px 0;
}
blockquote{
	color: #7d7d7d;
	font: normal italic 14px/16px Verdana;
	text-indent: 30px;
	position: relative;
	clear: both;
	padding-top: 30px;
	margin: 0 0 10px 0;
}

blockquote::before {
	content: '“';
	font: normal 85px/1em 'Times New Roman', 'Times', serif;
	display: block;
	position: absolute;
	left: -45px;
	top: 10px;
	color: #7d7d7d;
}
.ie blockquote::before {
	margin-left:-100px;
}

blockquote .quote {
	font: normal 85px/1em 'Times New Roman', 'Times', serif;
	display: inline;
	position: absolute;
	left: -38px;
	top: 10px;
	color: #7d7d7d;
}

.blockquote cite{
	padding: 0;
	color: #7d7d7d;
}
.blockquote cite:before{
	content: '- ';
}
#promos iframe{
	margin: 20px 0;
}
