.content-browser-form .form--inline .second-row {
  clear: none;
  float: left;
}
.content-browser-form .form--inline .form-actions {
  clear: none;
  float: left;
  margin-top: 2em;
}
.node--view-mode-content-browser-preview .field--name-field-content h2 {
  display: none;
}