{% if image %}
  <div class="branch-popup-map">
    <img src="{{ image }}" style="width: 100%; height: auto;">
  </div>
{% endif %}
<div class="modal-body">{{ description }}</div>
<div class="modal-body">{{ form }}</div>
