.features-stories__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .features-stories__item {
    position: relative;

    flex-basis: 30%;
    width: 362px;
    height: 362px;

    h2 {
      position: absolute;
      top: 50px;
      left: 22px;
      right: 22px;

      font-size: 36px;
      line-height: 40px;

      z-index: 1;

      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .field-blog-image {
      position: absolute;

      height: 362px;

      overflow: hidden;
      z-index: -1;

      img {
        max-width: 100%;
        height: 100%;
      }
    }

    .wrapper-field-blog-tags {
      padding: 12px 22px;

      a {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 17px;
        color: #ffffff;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .node__content {
      height: 362px;
    }

    ul {
      position: absolute;
      bottom: 30px;
      left: 22px;

      padding: 0;

      list-style: none;

      z-index: 1;

      a {

        font-size: 13px;
        line-height: 17px;
        font-weight: 700;
      }
    }
  }
}
