html {
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.field-prgf-title,
.field-prgf-nu-title,
.field-prgf-whay-title,
.field-prgf-fc-title {
  text-align: center;
  width: 100%;
  clear: both;

  h2 {
    font-family: $font-cachet-book;
    font-weight: 600;
    line-height: lh(30, 26);
    color: $default-grey;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &.mobile {
    h2 {
      font-size: 28px;
      margin-bottom: -15px;
    }
  }
}

.user-login-form,
.user-pass,
.user-form {
  margin-bottom: 25px;
  @include breakpoint(tablet) {
    margin-bottom: 50px;
  }

  .form-item {
    margin-bottom: 10px;
    @include breakpoint(tablet) {
      margin-bottom: 20px;
    }
  }
}

.content-main-region {
  .field-sb-body {
    a {
      display: initial;
    }
  }
}

.node__content .node--view-mode-flexible-content h2 a {
  color: $purple;
  &:hover {
    text-decoration: none;
  }
}

.node--type-landing {
  font-size: 15px;
}

.paragraph--type--simple-content,
.paragraph--type--1c,
.paragraph-1c-wrapper,
.block-description--4,
.paragraph--type--4c,
.paragraph--type--header
{
  .field-prgf-sc-body,
  .field-prgf-1c-description,
  .field-prgf-description,
  .field-prgf-header-description {
    @include content-headings();
  }
}

.paragraph--type--header .field-prgf-header-description {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
