html {
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.field-prgf-title {
  text-align: center;
  width: 100%;
  h2 {
    font-family: $font-cachet-book;
    font-weight: 600;
    line-height: lh(30, 26);
    color: $default-grey;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}