html {
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.field-prgf-title,
.field-prgf-nu-title,
.field-prgf-whay-title,
.field-prgf-fc-title {
  text-align: center;
  width: 100%;
  h2 {
    font-family: $font-cachet-book;
    font-weight: 600;
    line-height: lh(30, 26);
    color: $default-grey;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


nav {
  clear: both;
  > ul.js-pager__items {
    display: table;
    margin: 10px auto;
    font-size: 0;
    list-style: none;

    li {
      @include cachet();
      display: inline-block;
      font-size: 16px;
      text-align: center;

      @media (max-width: $screen-xs-min) {
        font-size: 12px;
      }

      a {
        @include cachet();

        display: block;
        padding: 9px;
        text-decoration: none;
        text-align: center;
        @media (max-width: $screen-xs-min) {
          padding: 6px;
        }
      }
    }
  }
}