.header {
  background: $color-blue;
  color: $color-white;

  @include breakpoint(tablet){

  }

  .logo {
    width: 30%;

    a {
      display: block;
      max-width: 50px;

      @include breakpoint(tablet) {
        max-width: 104px;
      }

      @include breakpoint(laptop) {
        max-width: 136px;
      }
    }

    img {
      width: 100%;
    }
  }

  .inner-header {
    position: relative;
    padding: 14px;
    @extend .container;
    @extend %decor--flex;
    @extend %decor--align-end;

    &--nav {
      width: 100%;

      @include breakpoint(tablet) {
        margin-bottom: -14px;
      }
    }

    .navigation-top {
      padding: 0 15px;

      .text {
        font-family: $font-cachet-medium;
        font-size: 14px;
        line-height: lh(22.1, 14);
        padding: 0 10px;
        text-transform: uppercase;
      }
    }

    .navigation {
      width: 100%;
      position: absolute;
      background: $color-blue;
      top: 100%;
      left: 0;
      right: 0;

      .item-nav--search {
        max-width: 46px;

        a {
          position: relative;
          display: block;
          @include hide-text($position: true);

          &:after {
            @include pseudo-block($top: 12px, $right: 12px);
            @include sprite(icon-search);
          }
        }
      }

      a {
        font-family: $font-cachet-medium;

        @include breakpoint(laptop){
          padding-bottom: 20px;
        }
      }

      @include breakpoint(tablet) {
        position: static;
      }

      .dropdown-menu {
        right: 0;
        background: $color-blue-a;
        border: none;
        padding: 0 30px 18px;
        border-radius: 0;

        @include breakpoint(tablet) {
          box-shadow: 0 0 0 1px $color-white;
        }

        ul {
          padding: 0;
          list-style: none;
        }

        li {
          margin-bottom: 4px;
        }

        a {
          font-size: inherit;
          line-height: lh(20.1, 14);
          text-transform: capitalize;
          display: inline-block;
          vertical-align: top;

          @include breakpoint(tablet) {
            padding-top: 0;
            padding-bottom: 0;
          }

          @include breakpoint(laptop) {
            padding-bottom: 0;
          }
        }

        h3 {
          font-family: $font-cachet-medium;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 18px;
          line-height: lh(22, 18);
          margin: 0;
          padding: 0;

          a {
            font-size: inherit;
            font-family: inherit;
            text-transform: inherit;
            line-height: inherit;
            display: block;

            @include breakpoint(laptop) {
              margin-top: 80px;
            }

            @include breakpoint(tablet) {
              min-height: 66px;
            }
          }
        }
      }
    }

    .navbar-toggle {
      position: absolute;
      top: 50%;
      right: 0;
      padding: 8px;
      float: none;
      transform: translateY(-50%);
      margin: 0 6px 0 0;

      .icon-bar {
        background: $color-white;
        width: 30px;
        height: 4px;

        + .icon-bar {
          margin-top: 6px;
        }
      }
    }
  }

  .navbar-nav {
    @extend %decor--flex;
    @extend %decor--justify-between;
    width: 100%;

    > li {
      width: 100%;

      > a {
        display: inline-block;
        vertical-align: top;

        @include breakpoint(tablet){
          padding-left: 10px;
          padding-right: 10px;
        }

        @include breakpoint(laptop) {}
      }
    }

    a {
      font-size: 18px;
      line-height: lh(22, 18);
      color: inherit;
      text-transform: uppercase;
      padding-top: 12px;
      padding-bottom: 12px;

      &.dropdown-toggle {
        white-space: nowrap;
      }

      &:hover {
        background: transparent;

        &:not(.dropdown-toggle) {
          color: $color-gray-a;
        }
      }

      &:focus {
        background: transparent;
      }

      &.active {
        color: $color-blue-b;
      }
    }
  }

  .nav {

    li {
      position: initial;
    }

    .open {
      > a {
        background: $color-blue-a;
        position: relative;
        z-index: $zindex-dropdown + 1;

         @include breakpoint(tablet) {
          box-shadow: inset 0 0 0 1px $color-white;

          &:after {
            @include pseudo-block($bottom: 0, $left: 1px, $right: 1px);
            height: 1px;
            background-color: $color-blue-a;
          }
        }

        &:hover,
        &:focus {
          background: $color-blue-a;
        }
      }
    }
  }
}
