$white: #fff;
$black: #000;

$lighter-grey: #ebebeb;
$light-grey: #ccc;
$medium-grey: #979797;
$default-grey: #636466;
$dark-grey: #4f4f4f;
$darker-grey: #333333;
$one-more-grey: #DADADA;


$sky-blue: #bfe1f3;
$light-blue: #00aeef;
$blue: #0089d0;
$dark-blue: #0060af;

$pink: #c6168d;
$dark-magenta: #92278f;
$purple: #5c2e91;

$red: #ed1c24;
$orange: #f15922;
$yellow: #fcaf17;

$bright-green: #69ff00;
$green: #20bdbe;
$dark-green: #006b6b;
$green-aa: #008485;
$dark-green-aa: #007677;

$yet-another-green: #01A490;

$brown: #231f20;
