body {
  color: $default-grey;
  @include cachet();
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  @include cachet();
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: $h1-size;
  margin-bottom: 70px;
}

h2,
.h2 {
  font-size: $h2-size;
}

h4 {
  font-size: $h4-size;
}

p {
  word-wrap: break-word;
  font-size: 18px !important;
}
