body {
  color: $default-grey;
  @include helvetica-neue();
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  @include cachet();
}

h1,
.h1 {
  font-size: $h1-size;
  margin-bottom: 70px;
}

h2,
.h2 {
  font-size: $h2-size;
}

p {
  word-wrap: break-word;
}

figcaption {
  font-size: 13px;
  font-style: italic;
  text-align: right;
}
