body {
  color: $default-grey;
  @include cachet();
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  @include cachet();
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {

  margin-bottom: 70px;

  @include breakpoint($screen-phone) {
    font-size: 24px;
  }
  @include breakpoint($screen-sm) {
    font-size: 24px;
  }
  @include breakpoint($screen-md) {
    font-size: $h1-size;
  }
  @include breakpoint($screen-lg-desktop) {
    font-size: $h1-size;
  }
}

h2,
.h2 {

  @include breakpoint($screen-phone) {
    font-size: 24px !important;
  }
  @include breakpoint($screen-sm) {
    font-size: $h2-size !important;
  }
  @include breakpoint($screen-md) {
    font-size: $h2-size !important;
  }
  @include breakpoint($screen-lg-desktop) {
    font-size: $h2-size !important;
  }
}

h4 {
  @include breakpoint($screen-phone) {
    font-size: 18px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  @include breakpoint($screen-sm) {
    font-size: 18px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  @include breakpoint($screen-md) {
    font-size: $h4-size  !important;
    margin-top: 30px  !important;
    margin-bottom: 30px  !important;
  }
  @include breakpoint($screen-lg-desktop) {
    font-size: $h4-size  !important;
    margin-top: 30px  !important;
    margin-bottom: 30px  !important;
  }
}

p {
  word-wrap: break-word;
  @include breakpoint($screen-phone) {
    font-size: 16px !important;
  }
  @include breakpoint($screen-sm) {
    font-size: 16px !important;
  }
  @include breakpoint($screen-md) {
    font-size: 18px !important;
  }
  @include breakpoint($screen-lg-desktop) {
    font-size: 18px !important;
  }
}
