.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.pull-right-lg {
  @include breakpoint($screen-desktop) {
    float: right !important;
  }
}

.ajax-progress-throbber {
  position: absolute;
  opacity: 0.2;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  @include display-flex;
  @include flex-wrap(wrap);

  &:before,
  &:after {
    content: none;
  }
}

.button {
  @extend .btn;
}
