.openy-page-tabs {

  .is-active {
    color: $white;

    background: $light-blue;
  }

  >ul {
    display: table;
    margin: 10px auto;
    padding: 0;

    font-size: 0;

    list-style: none;

    li {
      font-family: $headings-font-family;
      display: inline-block;
      font-size: 16px;
      line-height: 17px;
      text-align: center;
      font-weight: 500;
      border: solid 1px $light-blue;
      border-right: 0;

      @include media-breakpoint-up(lg) {
        font-size: 12px;
      }

      &:last-child {
        border-right: solid 1px $light-blue;
      }

      a {
        font-family: $headings-font-family;
        display: block;
        padding: 9px;
        text-decoration: none;
        text-align: center;

        @include media-breakpoint-up(lg) {
          padding: 6px;
        }
      }
    }
  }
}
