.paragraph--type--banner {
  position: relative;
  overflow: hidden;

  .banner-cta {
    position: relative;
    background: $green;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: none;
    }
  }

  .banner-title {
    font-size: 60px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .banner-description {
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    color: $gray-500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .btn-transparent a {
    color: white;
  }
}
