.paragraph--type--blog-posts-listing {
  .listing-blog-posts {
    padding-top: 0;
  }
}

// featured blog posts (carousel)
.paragraph--type--featured-blogs {
  .slick-prev {
    left: 10px;

    @include media-breakpoint-up(sm) {
      left: 15px;
    }
  }

  .slick-next {
    right: 10px;

    @include media-breakpoint-up(sm) {
      right: 15px;
    }
  }

  .slick-arrow {
    cursor: pointer;
    top: 107%;
  }
}

// featured articles
.blog-card {
  overflow: visible;
  padding-top: 20px;

  @include media-breakpoint-up(sm) {
    overflow: hidden;
  }
}

// teaser
.node--type-blog.node--view-mode-teaser {
  margin: auto;
  width: 100%;

  .inner-wrapper {
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    height: 240px;
    background-color: $blue;
    border-radius: 8px;

    .blog-heading {
      background-color: rgba($gray-900, 0.5);
      padding: 12px 22px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      text-align: left;

      @include media-breakpoint-up(lg) {
        bottom: auto;
      }
    }

    img {
      width: 100%;
    }

    h6 a,
    h2 a {
      color: inherit;
    }

    h6,
    h2 {
      color: $white;
    }
  }
}

// nodes
.node--type-blog .node__content {
  line-height: 1.62em;

  ol, ul {
    margin: 1rem 0;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.view-mode-node-blog img {
  border-radius: 1rem;
}
