.block-description {
  &--text {

    h2 {
      @include media-breakpoint-up(sm) {
        font-size: 26px;
      }

      @include media-breakpoint-up(md) {
        font-size: 30px;
      }

      &.with-icon {
        padding-left: 28px;

        @include media-breakpoint-up(sm) {
          padding-left: 32px;
        }

        @include media-breakpoint-up(md) {
          padding-left: 40px;
        }
      }
    }

    h4 {
      @include cachet();
      font-size: 26px;
      color: $purple;
      margin: 0 0 10px;
      vertical-align: middle;

      @include media-breakpoint-up(md) {
        font-size: 36px;
      }
    }

    .fa {
      color: $purple;
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
      max-height: 24px;
      max-width: 24px;
      float: left;
      width: auto;

      @include media-breakpoint-up(md) {
        font-size: 26px;
        max-height: 26px;
        max-width: 26px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 30px;
        max-height: 30px;
        max-width: 30px;
      }
    }

    .field-icon {
      vertical-align: middle;
      margin-right: 5px;
      float: left;

      img {
        vertical-align: middle;
        max-height: 24px;
        max-width: 24px;
        width: auto;

        @include media-breakpoint-up(md) {
          max-height: 28px;
          max-width: 28px;
        }

        @include media-breakpoint-up(lg) {
          max-height: 35px;
          max-width: 35px;
        }
      }
    }

    p {
      font-size: 13px;
      margin: 0;

      @include media-breakpoint-up(md) {
        font-size: 15px;
      }
    }

    .content {
      margin: 0 0 10px 0;
    }

    .field-sb-link {
      @include read-more-link();
    }

    .field-sb-body {
      @include media-breakpoint-up(md) {
        font-size: 15px;
      }
    }
  }

  &--3 {
    margin-bottom: 3rem;

    .block-description--text {
      padding-top: 30px;
      padding-bottom: 30px;

      .field-branch-am,
      .field-sb-body {
        padding-bottom: 15px;
      }

      .btn {
        margin-top: 1rem;
        display: block;
        width: 100%;
      }

      > h2 {
        @include cachet();
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        font-size: 22px;
        line-height: 1.5;
        color: $gray-400;
        text-align: left;
        border-bottom: 5px solid $pink;
      }
    }
  }

  &--4 {
    .fa-icon {
      text-align: center;

      .fa {
        float: none;
        margin: 15px auto;
        width: 100%;
      }
    }

    .field-icon {
      float: none;
      margin: 10px auto;

      .field-image {
        width: 100%;
      }
    }
  }
}

.block-description--3 {
  .block-description--text {
    > h2 {
      border-bottom: none;
    }
  }
}

.block-description--wrapper--outline--top {
  .block-description--text {
    border-top: 1px solid $gray-500;
    h2 {
      border-bottom: 5px solid $pink;
    }
  }

  &.paragraph-1c-wrapper {
    border-top: 1px solid $gray-500;

    .field-prgf-1c-description {
      padding-top: 24px;
    }
  }
}
