.branch-info {
  background: white;
  color: $gray-400;
  margin: 0;
  box-shadow: 0 3px 30px 2px rgba(0, 0, 0, 0.15);
}

a.direction-link {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  color: inherit;

  @include media-breakpoint-up(md) {
    color: $pink;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.address {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
}

.field-location-phone,
.field-location-fax {
  font-size: 16px;

  i {
    margin-right: 5px;
    font-size: 18px;
  }

  a {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    color: inherit;

    @include media-breakpoint-up(md) {
      color: $gray-400;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

// nav tabs
.nav.bg-pink {
  .nav-link.active {
    background-color: $indigo;
  }
}

// @todo: implement if new paragraph gets added to openy
//.page-node-type-branch.with-banner .branch-title h1 {
//  @include cachet(700);
//  color: $gray-400;
//  font-size: 60px;
//
//  @include media-breakpoint-up(lg) {
//    color: white;
//  }
//}

.page-node-type-branch {
  .branch-header {

    // branch information
    .branch-info {
      padding: 0;
      border-radius: 8px;
      position: relative;

      .branch-header__item {
        padding: 34px 3% 34px 8%;

        h5 {
          @include cachet(500);
          display: inline-block;
          color: $gray-700;
          font-size: 24px;
          letter-spacing: -1px;
          text-transform: none;
          margin-bottom: 0;
        }

        .extra-hours-label {
          padding-left: 15px;
          font-size: 15px;
        }
      }

      // address & contacts
      .address-wrapper {
        > h4 {
          @include cachet(500);
          color: $primary;
          font-size: 24px;
          letter-spacing: -1px;
          margin-bottom: 15px;
        }

        .address {
          font-size: 16px;
          margin-bottom: 15px;
          line-height: 1.5;
          font-family: Verdana, sans-serif;
        }
      }

      a.direction-link {
        font-family: Verdana, sans-serif;
        font-size: 16px;
        line-height: 2;
        display: block;

        i {
          font-size: 18px;
          margin-right: 5px;
        }
      }

      // hours of operation
      .hours-wrapper {
        background-color: #f8f8f8;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    // hours table
    .today-hours {
      margin-bottom: 20px;
      margin-top: 15px;

      .dropdown-toggle {
        display: none;
      }

      .today {
        margin-bottom: 1.5rem;
        display: block;
      }

      > h5 {
        display: none;
      }

      table {
        margin-top: 1rem;

        td {
          font-size: 16px;
          line-height: 30px;
          text-align: left;
          border: none;
          height: auto;
          width: 50%;

          @include media-breakpoint-up(md) {
            color: $gray-700;
          }

          &:first-child {
            font-weight: bold;
            text-align: left;
            padding-right: 10px;

            @include media-breakpoint-up(md) {
              color: $gray-400;
            }
          }

          &:last-child::before {
            margin-right: 10px;
            font-family: "Font Awesome 5 Free";
            content: "\f017";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
          }
        }
      }
    }

    // @todo: implement? (save as preferred branch)
    //.save-link {
    //  padding-top: 25px;
    //
    //  @include media-breakpoint-up(lg) {
    //    padding-right:20px;
    //  }
    //
    //  a {
    //    @include cachet();
    //    font-size: 16px;
    //    line-height: normal;
    //
    //    @include media-breakpoint-up(md) {
    //      color: $pink;
    //    }
    //  }
    //}

    // tab - hours
    #tabs-clock {
      .today-hours > h5 {
        display: none;
      }

      table tr td {
        border: 0;
        height: auto;
      }
    }
  }
}

.branch-content {
  .node__content {
    .paragraph {
      @include make-container();
      margin-bottom: 2.5rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 1.5rem;
      }
    }
  }
}

//
// branch amenities
//
.grid-branch-features {
  @include cachet(500);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  border-bottom: 1px solid $gray-400;
  padding: 0 0 15px 0;
}

.wrapper-field-location-amenities {
  @include make-row();

  & > div {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .term-name {
    position: relative;
    padding-left: 40px;
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.25;
    color: $gray-300;

    &:before {
      font-size: 24px;
      color: $green;
      position: absolute;
      top: -2px;
      left: 0;
      content: '\f00c';
      font-family: 'FontAwesome';
    }
  }
}

//





.branch__updates_queue {
  @include rem(padding-top, 20px);

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }

  &.container {
    max-width: 100%;
    width: auto;
    padding: 0;
  }

  h1 {
    font-size: 28px;
    margin: 0 0 20px;

    @include media-breakpoint-up(sm) {
      font-size: 40px;
      margin: 0 0 30px;
    }
  }

  .node--type-blog-post.node--view-mode-teaser {
    float: none;
    margin: 0 0 35px;
  }

  .branch__updates_queue__button {
    display: none;
  }

  .field-updates-queue-update {
    @include media-breakpoint-up(sm) {
      //@include breakpoint($screen-xs $screen-sm) {
      width: 362px;
      margin: 0 auto;
    }
  }

  .node--type-blog-post.node--view-mode-teaser {
    width: 100%;
    .inner-wrapper {
      margin: 0;
    }
  }

  .slick-slider {
    margin: 0 0 50px;

    @include media-breakpoint-up(sm) {
      margin: 0 15px 50px;
    }
  }

  .slick-arrow {
    background: none;
    color: $light-blue;
    padding: 0;
    z-index: 1;
    height: 40px;
    width: 40px;
    margin-top: -15px;

    .fa {
      font-size: 30px;
    }

    &.slick-prev {
      left: -25px;
    }

    &.slick-next {
      right: -25px;
    }
  }

  .slick-dots {
    bottom: -15px;

    li {
      button {
        &:before {
          opacity: 1;
          color: $gray-100;
        }
      }

      &.slick-active {
        button:before {
          opacity: 1;
          color: $pink;
        }
      }
    }
  }
}

html.js {
  .branch__updates_queue__button {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    .branch__updates_queue {
      .cards:nth-child(7),
      .cards:nth-child(8),
      .cards:nth-child(9),
      .cards:nth-child(10),
      .cards:nth-child(11),
      .cards:nth-child(12) {
        display: none;
      }
    }

    .branch__updates_queue__button {
      text-align: center;

      a {
        font-size: 20px;
        padding: 16px 0;
        max-width: 360px;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

#branch-sessions-form-wrapper {
  .container {
    padding: 0;

    @include media-breakpoint-up(sm) {
      padding: auto;
    }
  }
}

.ygs-branch-sessions-form {

  > h1 {
    margin: 0 15px 10px;
    font-size: 28px;

    @include media-breakpoint-up(sm) {
      margin: 0 0 20px;
      font-size: 40px;
    }

    em.placeholder {
      font-style: normal !important;
    }
  }

  label {
    @include cachet();
    font-size: 14px;
    line-height: 1.6;
    color: $gray-500;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      margin-bottom: 5px;
    }
  }

  .elements-wrapper {
    padding: 20px;
    margin-bottom: 17px;
    position: relative;
    background-color: $sky-blue;

    @include media-breakpoint-up(sm) {
      background-color: $gray-100;
      margin-bottom: 40px;
    }
  }

  .controls-wrapper {
    background-color: $sky-blue;
    padding: 10px 15px;

    a {
      padding: 3px 10px;
    }
  }

  .js-form-type-select {
    padding: 10px 0 5px;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 0;
    }

    select {
      @include cachet();
      text-transform: uppercase;
      color: $gray-500;
    }
  }

  .form-item-when-day {
    display: inline-block;

    @include media-breakpoint-up(sm) {
      width: 130px;
    }
  }

  .form-item-when-hours {
    display: inline-block;
    margin-right: 20px;

    @include media-breakpoint-up(sm) {
      width: 130px;
    }
  }

  .form-item-program {
    display: inline-block;

    @include media-breakpoint-up(sm) {
      width: 200px;
    }
  }

  .at {
    display: inline-block;
    width: 44px;
    text-align: center;
  }

  .schedule-wrapper {
    margin-top: 10px;

    @include media-breakpoint-up(sm) {
      margin: 27px -7px 0 0;
      float: right;
    }

    @include media-breakpoint-up(md) {
      margin: 2px -7px 0 0;
      float: right;
    }

    a {
      font-size: 14px;
      padding: 10px 0;
      width: 100%;

      @include media-breakpoint-up(sm) {
        font-size: 12px;
        padding: 9px;
        width: auto;
      }

      @include media-breakpoint-up(md) {
        font-size: 20px;
        padding: 15px 0;
        width: 340px;
      }
    }
  }

  .schedule-wrapper-mobile {
    margin: 10px 15px;

    a {
      font-size: 18px;
      padding: 10px 0;
      width: 100%;
    }
  }

  .ajax-progress-throbber {
    position: absolute;
    left: 0;
    top: 0;
  }

  .selects-container {
    padding: 0 15px 15px;
    background-color: $sky-blue;

    @include media-breakpoint-up(sm) {
      background-color: $gray-100;
      padding: 15px 20px;
    }

    .inner {
      border-top: 1px solid $gray-400;

      @include media-breakpoint-up(sm) {
        border-top: none;
      }
    }
  }

  .js-form-submit {
    display: none;
  }

  .filters-main-wrapper {
    clear: both;
    background-color: rgba(0, 136, 208, 0.25);
    position: relative;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    > div {
      padding: 0 15px 15px;
    }

    //.reset-wrapper {
    //  position: absolute;
    //  right: 35px;
    //  top: 4px;
    //
    //  @include media-breakpoint-up(sm) {
    //    top: 0;
    //    right: 0;
    //  }
    //
    //  .clear {
    //    @include cachet();
    //    background: none;
    //    border: none;
    //    color: $primary;
    //    display: inline-block;
    //    font-size: 14px;
    //    height: 30px;
    //    line-height: 30px;
    //    padding: 0;
    //
    //    @include media-breakpoint-up(sm) {
    //      text-transform: uppercase;
    //    }
    //  }
    //}
  }

  .filters-wrapper {
    padding-bottom: 5px;
    padding-top: 5px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
      padding-top: 0;
      border: 0;
    }

    .label {
      @include cachet();
      color: $gray-500;
      display: block;
      font-size: 14px;
      line-height: 30px;
      margin-right: 20px;
      padding: 0;
      text-align: left;

      @include media-breakpoint-up(sm) {
        display: inline-block;
      }
    }

    .filters {
      display: inline-block;

      .filter {
        @include cachet();
        background: $white;
        border-radius: 4px;
        color: $light-blue;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 10px;
        margin: 0 5px 10px 0;

        @include media-breakpoint-up(sm) {
          margin: 5px 20px 5px 0;
          color: $gray-500;
        }

        .remove {
          margin-left: 10px;
          line-height: 30px;

          @include media-breakpoint-up(sm) {
            margin-left: 15px;
          }

          .fa {
            font-size: 13px;
            color: $primary;

            @include media-breakpoint-up(sm) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.branch-sessions-group {
  padding: 0;

  h3 {
    @include cachet(500);
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: -0.8px;
    color: $purple;
    margin: 0 15px 20px;
  }

  .row {
    margin-bottom: 40px;
  }

  .views-row {
    border: 1px solid $pink;
    margin: 0 30px;
    height: auto;
    max-width: 360px;
    text-decoration: none;
    position: relative
  }

  .inner {
    padding: 10px 18px 10px;
  }

  h4 {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    color: $gray-500;
    margin: 10px 0 15px;
  }

  h3 {
    font-size: 22px;
    line-height: 1.2;
    color: $primary;
    margin: 10px 0 5px;
  }

  .time {
    font-size: 14px;
    margin-bottom: 10px;
    color: $gray-400;
  }

  //.included-in-membership {
  //  background: url("../img/icons/included-in-membership.png") no-repeat 0 0;
  //  background-size: contain;
  //  position: absolute;
  //  top: 47px;
  //  right: 0;
  //  height: 32px;
  //  width: 90px;
  //
  //  @include media-breakpoint-up(sm) {
  //    top: 66px;
  //    right: 0;
  //  }
  //}

  .field-body-no-summary {
    font-size: 15px;
    line-height: 1.5;
    color: $gray-600;
  }

  .group_time {
    @include cachet();
    background: $white;
    border-bottom: 1px solid $pink;
    color: $purple;
    font-size: 18px;
    min-height: 50px;
    margin: -1px -2px 0;
    padding-left: 2px;

    @include media-breakpoint-up(sm) {
      letter-spacing: -0.8px;
      font-size: 30px;
      padding-left: 0;
    }
  }

  .branch-sessions-group-slider {
    margin: 0 45px 35px;

    .slick-track {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
    }

    .slick-arrow {
      background: none;
      color: $light-blue;
      padding: 0;
      z-index: 1;
      height: 40px;
      width: 40px;
      margin-top: 15px;

      @include media-breakpoint-up(sm) {
        margin-top: 30px;
      }

      .fa {
        font-size: 30px;
      }

      &.slick-prev {
        left: -20px;

        @include media-breakpoint-up(sm) {
          left: -13px;
        }
      }

      &.slick-next {
        right: -20px;

        @include media-breakpoint-up(sm) {
          right: -13px;
        }
      }
    }

    .slick-dots {
      bottom: -40px;

      li {
        button {
          &:before {
            opacity: 1;
            color: $gray-100;
          }
        }

        &.slick-active {
          button:before {
            opacity: 1;
            color: $pink;
          }
        }
      }
    }
  }
}


.node--location-content-type.node--view-mode-teaser,
.node--type-facility.node--view-mode-teaser,
.node--type-branch.node--view-mode-teaser,
.node--type-branch.node--view-mode-sidebar-teaser,
.node--type-branch.node--view-mode-class-location,
.node--type-camp.node--view-mode-teaser {
  border: solid 1px $gray-200;
  padding: 20px;
  min-height: 300px;
  margin: 20px;
  position: relative;
  font-size: 15px;

  [class*="sidebar"] & {
    height: auto;
    margin: 0 0 20px;
    border-color: $gray-200;

    > span {
      display: block;
    }

    .location-item--title {
      display: inline-block;

      a {
        color: $purple;
      }
    }

    .edit-class-popup {
      background-color: #00aeef;
      color: white;
      display: inline-block;
      font-size: 15px;
      font-weight: normal;
      padding: 3px 15px;
      text-transform: lowercase;
      vertical-align: middle;

      &:hover {
        background-color: #0089d0;
      }
    }
  }

  .marker_tooltip & {
    border: 0 none;
    padding: 0;
    margin: 0;
    height: auto;
    min-height: auto;
  }

  .location-item--title {
    @include cachet();
    font-size: 22px;

    .marker_tooltip & {
      margin: 0 0 5px;
    }

    &+.node__content {
      margin: 33px 0 0;
    }

    &~.field-location-area,
    &~.field-location-state {
      margin: 20px 0 33px;
    }
  }

  .branch-hours {
    margin-top: 15px;

    td:first-child {
      padding-right: 10px;
    }
  }

  .field-location-area {
    position: static;
    top: 15px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      letter-spacing: 1.1px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .label-for-field-address,
  .label-for-field-phone {
    display: none;
  }
}

.node--type-branch.node--view-mode-class-location h2 {
  font-size: 15px;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  margin: 0;
}

.paragraph--type--class-location.paragraph--view-mode--default {
  .empty-text {
    border: solid 1px $gray-200;
    padding: 20px;

    h2 {
      font-family: $font-family-sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      margin: 0 0 10px;
      text-transform: uppercase;
    }
  }

  .edit-class-popup {
    background-color: #00aeef;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    padding: 3px 15px;
    text-transform: lowercase;
    vertical-align: middle;

    &:hover {
      background-color: #0089d0;
    }
  }
}

.node--view-mode-full {
  &.node--type-facility {
    margin-top: -20px;

    .label-for-field-location-address {
      display: block;
    }

    .associated-branch-title {
      @include cachet();
      display: inline-block;
      font-size: 22px;
      margin: 20px 0 33px;
      line-height: 1.1;
      color: inherit;

      a {
        color: $purple;
      }
    }
  }

  .wrapper-field-location-phone {
    letter-spacing: 2px;
    padding-bottom: 35px;

    .label-for-field-location-phone,
    .field-location-phone {
      display: inline;
    }
  }

  .label-for-field-location-address:after,
  .label-for-field-location-phone:after {
    content: ":";
  }

  h2 {
    font-size: 22px;
  }

  .sidebar-card_h3 {
    position: absolute;
    margin-bottom: -20px;
    margin-left: 20px;
    margin-top: 18px;
  }

  .field-location-area {
    display: none;
  }
}

.sidebar-card_h3 {
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  color: $gray-400;
  margin: 0 0 25px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 2px;
}

.node--type-facility .field-collection-hours {
  .field-day-of-the-week,
  .field-start-end-time {
    display: inline;
    font-weight: normal;
    font-size: 14px;
  }

  .field-day-of-the-week+.field-start-end-time:before {
    content: ":";
    margin-left: -0.15em;
    margin-right: 0.25em;
  }
}
