.branch-info {
  background: $white;
  color: $gray-400;
  margin: 0;
  box-shadow: 0 3px 30px 2px rgba($black, 0.15);
}

a.direction-link {
  font-family: $font-family-base;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  color: inherit;

  @include media-breakpoint-up(md) {
    color: $pink;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.address {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: $font-family-base;
}

.field-location-phone,
.field-location-fax,
.field-location-email {
  font-size: 16px;

  i {
    margin-right: 5px;
    font-size: 18px;
  }

  a {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    color: inherit;

    @include media-breakpoint-up(md) {
      color: $gray-400;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

// nav tabs
.nav.bg-pink {
  .nav-link.active {
    background-color: $indigo;
  }
}

.branch-header {

  // branch information
  .branch-info {
    padding: 0;
    border-radius: 8px;
    position: relative;

    .branch-header__item {
      padding: 34px 3% 34px 8%;

      h5 {
        @include cachet(500);
        display: inline-block;
        color: $gray-700;
        font-size: 24px;
        letter-spacing: -1px;
        text-transform: none;
        margin-bottom: 0;
      }

      .extra-hours-label {
        padding-left: 15px;
        font-size: 15px;
      }
    }

    // address & contacts
    .address-wrapper {
      > h4 {
        @include cachet(500);
        color: $gray-400;
        font-size: 24px;
        letter-spacing: -1px;
        margin-bottom: 15px;
      }

      address {

        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1.5;
        font-family: $font-family-base;
      }
    }

    a.direction-link {
      font-family: $font-family-base;
      font-size: 16px;
      line-height: 2;
      display: block;

      i {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    // hours of operation
    .hours-wrapper {
      background-color: #f8f8f8;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      address {
        margin-top: 1rem;
      }
    }
  }

  // hours table
  .today-hours {
    margin-bottom: 20px;
    margin-top: 15px;

    .dropdown-toggle {
      display: none;
    }

    .today {
      margin-bottom: 1.5rem;
      display: block;
    }

    > h5 {
      display: none;
    }

    table {
      margin-top: 1rem;

      td {
        font-size: 16px;
        line-height: 30px;
        text-align: left;
        border: none;
        height: auto;
        width: 50%;

        @include media-breakpoint-up(md) {
          color: $gray-700;
        }

        &:first-child {
          font-weight: bold;
          text-align: left;
          padding-right: 10px;

          @include media-breakpoint-up(md) {
            color: $gray-400;
          }
        }

        &:last-child::before {
          margin-right: 10px;
          font-family: $font-awesome;
          content: "\f017";
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
        }
      }
    }
  }

  // tab - hours
  #tabs-clock {
    .today-hours > h5 {
      display: none;
    }

    table tr td {
      border: 0;
      height: auto;
    }
  }
}

.branch-content {
  .node__content {
    .paragraph {
      margin-bottom: 2.5rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 1.5rem;
      }
    }
  }
}

//
// branch amenities
//
.grid-branch-features {
  @include cachet(500);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  border-bottom: 1px solid $gray-400;
  padding: 0 0 15px 0;
}

.wrapper-field-location-amenities {
  @include make-row();

  & > div {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .term-name {
    position: relative;
    padding-left: 40px;
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.25;
    color: $gray-300;

    &:before {
      font-size: 24px;
      color: $green;
      position: absolute;
      top: -2px;
      left: 0;
      content: '\f00c';
      font-family: $font-awesome;
    }
  }
}

// @todo: check if this is being used
.branch__updates_queue {
  @include rem(padding-top, 20px);

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }

  &.container {
    max-width: 100%;
    width: auto;
    padding: 0;
  }

  h1 {
    font-size: 28px;
    margin: 0 0 20px;

    @include media-breakpoint-up(sm) {
      font-size: 40px;
      margin: 0 0 30px;
    }
  }

  .node--type-blog-post.node--view-mode-teaser {
    float: none;
    margin: 0 0 35px;
  }

  .branch__updates_queue__button {
    display: none;
  }

  .field-updates-queue-update {
    @include media-breakpoint-up(sm) {
      width: 362px;
      margin: 0 auto;
    }
  }

  .node--type-blog-post.node--view-mode-teaser {
    width: 100%;

    .inner-wrapper {
      margin: 0;
    }
  }

  .slick-slider {
    margin: 0 0 50px;

    @include media-breakpoint-up(sm) {
      margin: 0 15px 50px;
    }
  }

  .slick-arrow {
    background: none;
    color: $light-blue;
    padding: 0;
    z-index: 1;
    height: 40px;
    width: 40px;
    margin-top: -15px;

    .fa {
      font-size: 30px;
    }

    &.slick-prev {
      left: -25px;
    }

    &.slick-next {
      right: -25px;
    }
  }

  .slick-dots {
    bottom: -15px;

    li {
      button {
        &:before {
          opacity: 1;
          color: $gray-100;
        }
      }

      &.slick-active {
        button:before {
          opacity: 1;
          color: $pink;
        }
      }
    }
  }
}

html.js {
  .branch__updates_queue__button {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    .branch__updates_queue {
      .cards:nth-child(7),
      .cards:nth-child(8),
      .cards:nth-child(9),
      .cards:nth-child(10),
      .cards:nth-child(11),
      .cards:nth-child(12) {
        display: none;
      }
    }

    .branch__updates_queue__button {
      text-align: center;

      a {
        font-size: 20px;
        padding: 16px 0;
        max-width: 360px;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

#branch-sessions-form-wrapper {
  .container {
    padding: 0;
  }
}

.ygs-branch-sessions-form {

  > h1 {
    margin: 0 15px 10px;
    font-size: 28px;

    @include media-breakpoint-up(sm) {
      margin: 0 0 20px;
      font-size: 40px;
    }

    em.placeholder {
      font-style: normal !important;
    }
  }

  label {
    @include cachet();
    font-size: 14px;
    line-height: 1.6;
    color: $gray-500;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      margin-bottom: 5px;
    }
  }

  .elements-wrapper {
    padding: 20px;
    margin-bottom: 17px;
    position: relative;
    background-color: $sky-blue;

    @include media-breakpoint-up(sm) {
      background-color: $gray-100;
      margin-bottom: 40px;
    }
  }

  .controls-wrapper {
    background-color: $sky-blue;
    padding: 10px 15px;

    a {
      padding: 3px 10px;
    }
  }

  .js-form-type-select {
    padding: 10px 0 5px;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 0;
    }

    select {
      @include cachet();
      text-transform: uppercase;
      color: $gray-500;
    }
  }

  .form-item-when-day {
    display: inline-block;

    @include media-breakpoint-up(sm) {
      width: 130px;
    }
  }

  .form-item-when-hours {
    display: inline-block;
    margin-right: 20px;

    @include media-breakpoint-up(sm) {
      width: 130px;
    }
  }

  .form-item-program {
    display: inline-block;

    @include media-breakpoint-up(sm) {
      width: 200px;
    }
  }

  .at {
    display: inline-block;
    width: 44px;
    text-align: center;
  }

  .schedule-wrapper {
    margin-top: 10px;

    @include media-breakpoint-up(sm) {
      margin: 27px -7px 0 0;
      float: right;
    }

    @include media-breakpoint-up(md) {
      margin: 2px -7px 0 0;
      float: right;
    }

    a {
      font-size: 14px;
      padding: 10px 0;
      width: 100%;

      @include media-breakpoint-up(sm) {
        font-size: 12px;
        padding: 9px;
        width: auto;
      }

      @include media-breakpoint-up(md) {
        font-size: 20px;
        padding: 15px 0;
        width: 340px;
      }
    }
  }

  .schedule-wrapper-mobile {
    margin: 10px 15px;

    a {
      font-size: 18px;
      padding: 10px 0;
      width: 100%;
    }
  }

  .ajax-progress-throbber {
    position: absolute;
    left: 0;
    top: 0;
  }

  .selects-container {
    padding: 0 15px 15px;
    background-color: $sky-blue;

    @include media-breakpoint-up(sm) {
      background-color: $gray-100;
      padding: 15px 20px;
    }

    .inner {
      border-top: 1px solid $gray-400;

      @include media-breakpoint-up(sm) {
        border-top: none;
      }
    }
  }

  .js-form-submit {
    display: none;
  }

  .filters-main-wrapper {
    clear: both;
    background-color: rgba($blue, 0.25);
    position: relative;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    > div {
      padding: 0 15px 15px;
    }
  }

  .filters-wrapper {
    padding-bottom: 5px;
    padding-top: 5px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
      padding-top: 0;
      border: 0;
    }

    .label {
      @include cachet();
      color: $gray-500;
      display: block;
      font-size: 14px;
      margin-right: 20px;
      padding: 0;
      text-align: left;

      @include media-breakpoint-up(sm) {
        display: inline-block;
      }
    }

    .filters {
      display: flex;
      align-items: center;

      .filter {
        @include cachet();
        background: $white;
        border-radius: 4px;
        color: $light-blue;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 10px;
        margin: 0 5px 10px 0;

        @include media-breakpoint-up(sm) {
          margin: 5px 20px 5px 0;
          color: $gray-500;
        }

        .remove {
          margin-left: 10px;
          line-height: 30px;

          @include media-breakpoint-up(sm) {
            margin-left: 15px;
          }

          .fa {
            font-size: 13px;
            color: $primary;

            @include media-breakpoint-up(sm) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.branch-sessions-group {
  padding: 0;

  h3 {
    @include cachet(500);
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: -0.8px;
    color: $purple;
    margin: 0 15px 20px;
  }

  .row {
    margin-bottom: 40px;
  }

  .views-row {
    border: 1px solid $pink;
    margin: 0 30px;
    height: auto;
    max-width: 360px;
    text-decoration: none;
    position: relative
  }

  .inner {
    padding: 10px 18px 10px;
  }

  h4 {
    font-family: $font-family-base;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    color: $gray-500;
    margin: 10px 0 15px;
  }

  h3 {
    font-size: 22px;
    line-height: 1.2;
    color: $primary;
    margin: 10px 0 5px;
  }

  .time {
    font-size: 14px;
    margin-bottom: 10px;
    color: $gray-400;
  }

  .field-body-no-summary {
    font-size: 15px;
    line-height: 1.5;
    color: $gray-600;
  }

  .group_time {
    @include cachet();
    background: $white;
    border-bottom: 1px solid $pink;
    color: $purple;
    font-size: 18px;
    min-height: 50px;
    margin: -1px -2px 0;
    padding-left: 2px;

    @include media-breakpoint-up(sm) {
      letter-spacing: -0.8px;
      font-size: 30px;
      padding-left: 0;
    }
  }

  .branch-sessions-group-slider {
    margin: 0 45px 35px;

    .slick-track {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
    }

    .slick-arrow {
      background: none;
      color: $light-blue;
      padding: 0;
      z-index: 1;
      height: 40px;
      width: 40px;
      margin-top: 15px;

      @include media-breakpoint-up(sm) {
        margin-top: 30px;
      }

      .fa {
        font-size: 30px;
      }

      &.slick-prev {
        left: -20px;

        @include media-breakpoint-up(sm) {
          left: -13px;
        }
      }

      &.slick-next {
        right: -20px;

        @include media-breakpoint-up(sm) {
          right: -13px;
        }
      }
    }

    .slick-dots {
      bottom: -40px;

      li {
        button {
          &:before {
            opacity: 1;
            color: $gray-100;
          }
        }

        &.slick-active {
          button:before {
            opacity: 1;
            color: $pink;
          }
        }
      }
    }
  }
}


.node--location-content-type.node--view-mode-teaser,
.node--type-facility.node--view-mode-teaser,
.node--type-branch.node--view-mode-teaser,
.node--type-branch.node--view-mode-sidebar-teaser,
.node--type-branch.node--view-mode-class-location,
.node--type-camp.node--view-mode-teaser {
  font-size: 15px;

  [class*="sidebar"] & {
    height: auto;
    margin: 0 0 20px;
    border-color: $gray-200;

    > span {
      display: block;
    }

    // titles
    .location-item--title {
      display: inline-block;

      a {
        color: $purple;
      }
    }
  }

  // links (tel)
  h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-top: 1.5rem;
  }

  .marker_tooltip & {
    border: 0 none;
    padding: 0;
    margin: 0;
    height: auto;
    min-height: auto;

    .branch-info {
      display: none;
    }
  }

  .location-item--title {
    @include cachet();
    font-size: 22px;

    .marker_tooltip & {
      margin: 0 0 15px 0;
      padding: 10px 0;

      // tooltip title
      .title-link {
        font-size: 20px;
      }
    }

    & + .node__content {
      margin: 33px 0 0;
    }

    & ~ .field-location-area,
    & ~ .field-location-state {
      margin: 20px 0 33px;
    }
  }

  .branch-hours {
    margin-top: 15px;

    td:first-child {
      padding-right: 10px;
    }
  }

  .field-location-area {
    position: static;
    top: 15px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      letter-spacing: 1.1px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .label-for-field-address,
  .label-for-field-phone {
    display: none;
  }
}

.node--type-branch.node--view-mode-class-location h2 {
  font-size: 15px;
  font-family: $font-family-base;
  font-weight: normal;
  margin: 0;
}

.paragraph--type--class-location.paragraph--view-mode--default {
  .empty-text {
    border: solid 1px $gray-200;
    padding: 20px;

    h2 {
      font-family: $font-family-sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      margin: 0 0 10px;
      text-transform: uppercase;
    }
  }
}

.node--view-mode-full {
  &.node--type-facility {
    margin-top: -20px;

    .label-for-field-location-address {
      display: block;
    }

    .associated-branch-title {
      @include cachet();
      display: inline-block;
      font-size: 22px;
      margin: 20px 0 33px;
      line-height: 1.1;
      color: inherit;

      a {
        color: $purple;
      }
    }
  }

  .wrapper-field-location-phone {
    letter-spacing: 2px;
    padding-bottom: 35px;

    .label-for-field-location-phone,
    .field-location-phone {
      display: inline;
    }
  }

  .label-for-field-location-address:after,
  .label-for-field-location-phone:after {
    content: ":";
  }

  h2 {
    font-size: 22px;
  }

  .sidebar-card_h3 {
    position: absolute;
    margin: 18px 0 -20px 20px;
  }

  .field-location-area {
    display: none;
  }
}

.sidebar-card_h3 {
  font-family: $font-family-base;
  text-transform: uppercase;
  color: $gray-400;
  margin: 0 0 25px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 2px;
}

.node--type-facility .field-collection-hours {
  .field-day-of-the-week,
  .field-start-end-time {
    display: inline;
    font-weight: normal;
    font-size: 14px;
  }

  .field-day-of-the-week + .field-start-end-time:before {
    content: ":";
    margin-left: -0.15em;
    margin-right: 0.25em;
  }
}

.paragraph--type--branch-contacts-info {
  .label-for-field-branch-contacts-info {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    .container {
      max-width: 100%;
    }
  }

  background-color: #004c87;

  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  .branch-header-row {
    -webkit-font-smoothing: antialiased;
    padding: 17px 0 17px 0;

    &:first-of-type {
      box-sizing: border-box;
      padding-bottom: 0;

      @include media-breakpoint-up(md) {
        padding-top: 10px;
      }
    }

    &:last-of-type {
      @include media-breakpoint-up(md) {
        padding-bottom: 13px;
        padding-top: 13px;
      }
    }

    .header-branch-col-modifier {
      align-self: center;
      padding: 0;

      &.hours-wrapper {
        padding-left: 0;
      }
    }

    .col-modifier-sm-1 {
      @include media-breakpoint-down(sm) {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
      }
    }

    .col-modifier-sm-4 {
      @include media-breakpoint-down(sm) {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }
    }

    .col-modifier-sm-8 {
      @include media-breakpoint-down(sm) {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
      }
    }

    .col-modifier-sm-10 {
      @include media-breakpoint-down(sm) {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
      }
    }

    .masthead-button {
      a {
        @include media-breakpoint-up(sm) {
          border-radius: 21.5px;
          padding: 14px 30px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 12px;
          line-height: 15px;
          padding: 5px 15px;
        }

        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.24);
        opacity: 0.8;
        font-size: 12px;
        line-height: 15px;
        width: auto;
        float: right;
        border-radius: 5px;
      }
    }

    .back-link {
      display: block;
      color: #aabdcc;

      &::before {
        font-size: 12px;
        margin-right: 6px;
      }

      a {
        font-family: Verdana, sans-serif;
        font-weight: 400;
        color: #aabdcc;
        font-size: 8px;
        line-height: 10px;
        padding-left: 2px;
        text-align: left;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
          font-size: 12px;
          line-height: 15px;
        }

        &:hover {
          color: lighten(#aabdcc, 10%);
        }
      }
    }

    .masthead-brand {
      @include cachet();
      color: #f2f6f8;
      font-size: 23px;
      line-height: 30px;

      @include media-breakpoint-up(md) {
        font-size: 31px;
        line-height: 38px;
      }
    }

    .wrapper-field-header-content {
      @include media-breakpoint-down(md) {
        .cta-group-wrapper {
          .container {
            padding: 0 !important;
          }
        }
      }
    }

    .field-location-phone, .field-location-fax {
      a, i {
        color: $white;
        font-size: 12px;
        line-height: 15px;

        @include media-breakpoint-up(md) {
          font-size: 14px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 18px;
          line-height: 22px;
        }
      }

      a {
        font-weight: 400;
      }

      .tel-text {
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
    }

    .header-address {
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        line-height: 22px;
      }

      color: $white;
      font-size: 16px;
      line-height: 24px;

      a .fa-map-marker-alt {
        display: inline-block;
        color: $white;
        margin-left: -5%;
      }

      .wrapper-field-location-address {
        @include media-breakpoint-up(lg) {
          display: inline-block;
        }

        display: none;
        margin: 0;
      }

      i {
        top: 0;
        color: $white !important;
        font-size: 16px;

        @include media-breakpoint-up(md) {
          font-size: 14px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 18px;
        }
      }
    }

    .wrapper-get-directions {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      display: inline-block;

      a {
        background-color: #0060af !important;
        border: 0;
        border-radius: 5px;
        color: #ffffff !important;
        display: inline-block;
        font-family: Verdana, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-left: 10px;
        padding: 8px 4px 8px 14px;
        text-shadow: none;
        text-transform: initial;
        transition: all .1s linear;
        vertical-align: unset;
        white-space: unset;

        &::after {
          content: '\f14d';
          font-family: $font-awesome;
          margin-left: 12px;
        }
      }
    }

    .camp-today-hour {
      align-items: baseline;
      color: $white;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      justify-content: flex-end;
      line-height: 15px;

      .todays-hours-text {
        font-size: 12px;

        @include media-breakpoint-up(md) {
          margin-top: 5px;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 0;
        }

        @media (max-width: 400px) {
          display: none;
        }
      }

      .todays-hours-text-small {
        display: none;
        @media (max-width: 399px) {
          display: inline-block;
        }
      }

      .today {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;

      }
    }

    .wrapper-field-branch-hours {
      display: inline-block;

      .label-for-field-branch-hours {
        display: none;
      }

      .today-hours {
        margin: 0;
        padding-left: 8px;

        .branch-hours {
          background-color: #231f20;
          left: auto;
          margin-top: -7px;
          padding: 5px 15px 15px;
          position: absolute;
          right: 0;
          top: 50px;
          z-index: 999;

          @media (min-width: 390px) {
            margin-top: -7px;
          }
          @include media-breakpoint-up(lg) {
            margin-top: -2px;
          }

          h5 {
            color: #979797;
            font-size: 14px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: left;
            text-transform: uppercase;
          }

          td {
            color: #f2f6f8;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            width: auto;

            @include media-breakpoint-up(md) {
              font-size: 16px;
              line-height: 18px;
            }
          }

          td:last-child::before {
            margin-right: 10px;
            font-family: "Font Awesome 5 Free";
            content: "\f017";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
          }
        }

        .dropdown-toggle {
          background-color: #0060af !important;
          border: 0;
          border-radius: 5px;
          color: #ffffff !important;
          display: inline-block;
          font-family: Verdana, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 15px;
          padding: 8px 2rem 8px 5px;
          position: relative;

          text-shadow: none;
          text-transform: initial;
          transition: all .1s linear;
          vertical-align: unset;
          white-space: unset;
          width: auto;
          z-index: 0;

          @include media-breakpoint-up(md) {
            font-size: 12px;
            padding: 6px 24px 6px 6px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 19px;
            padding: 8px 2.5rem 8px 14px;
          }

          &::after {
            border-bottom: 2px solid $white;
            border-left: unset;
            border-right: 2px solid $white;
            border-top: unset;
            content: '';
            display: block;
            height: 8px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform-origin: 50% 0;
            transition: all .4s ease-in-out;
            width: 8px;

            @include media-breakpoint-up(md) {
              height: 10px;
              right: 10px;
              width: 10px;
            }
          }

          &.show-link::after {
            margin-top: -2px;
            transform: rotate(45deg) translateY(-50%);
          }

          &.hide-link::after {
            margin-top: 2px;
            transform: rotate(-135deg) translateY(-50%);
          }

          span {
            pointer-events: none;
            position: relative;
            z-index: -1;
          }

          .hide-text {
            display: none;
          }
        }
      }
    }
  }

  .branch-header-divisor {
    border-bottom: 1px solid #496e8c;
    margin-left: 15px;
    margin-right: 15px;
  }


  .menu-spacer {
    @include media-breakpoint-down(md) {
      height: 0;
    }

    display: none;
    height: 93px;
    width: 100%;
  }
}


.wrapper-field-header-content {
  div:nth-child(1).paragraph--type--branch-contacts-info {
    margin-bottom: 0;

    .menu-spacer {
      display: block;
    }
  }

  div:last-child.paragraph--type--branch-contacts-info {
    div:last-child.branch-header-row {
      padding-bottom: 28px;
    }
  }
}

