.yamlform-submission-guest-pass-form-form {
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;

    @include media-breakpoint-up(xs) {
      transform: scale(1.24);
      -webkit-transform: scale(1.24);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    @include media-breakpoint-up(sm) {
      transform: scale(0.78);
      -webkit-transform: scale(0.78);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    @include media-breakpoint-up(md) {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    @include media-breakpoint-up(lg) {
      transform: scale(1.24);
      -webkit-transform: scale(1.24);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    // iPad layout.
    @media screen and (width: 768px) {
      transform: scale(1.24);
      -webkit-transform: scale(1.24);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    // iPhone 5 layout.
    @media screen and (width: 568px) {
      transform: scale(1.425);
      -webkit-transform: scale(1.425);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    // iPhone 6 layout
    @media screen and (width: 375px) {
      transform: scale(1.14);
      -webkit-transform: scale(1.14);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }

    @media screen and (width: 667px) {
      transform: scale(1.69);
      -webkit-transform: scale(1.69);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }
  }
}

// Bottom margin-top to avoid overlay of captcha.
.yamlform-submission-guest-pass-form-form {
  input + #edit-actions {
    margin-top: 10px;

    @include media-breakpoint-up(sm) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }
  }
}

