.block-description--4 {
  .field-prgf-title h2 {
    margin-bottom: 0;
  }

  .field-prgf-description {
    @include cachet();
    font-size: 20px;
    line-height: 1.4;
    color: $purple;
    max-width: 764px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .block-description--text {
    h4 {
      @include cachet();
      font-size: 22px;
      color: $gray-400;
      text-align: left;
    }

    .field-sb-body {
      color: $gray-600;
    }
  }

  .clearfix {
    height: 1px;
    width: 100%;
  }

  .field-prgf-4c-button {
    text-align: center;
    display: block;
    width: 100%;

    .btn {
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }
    }
  }

  .btn-primary a {
    color: $white;
  }

  img {
    width: 100%;
    height: auto;
  }

  .field-icon-class {
    text-align: center;
    margin-bottom: 15px;

    .fa {
      color: $purple;
      font-size: 36px;
    }
  }

  .field-icon {
    text-align: center;
    margin-bottom: 15px;

    .field-image {
      text-align: center;
      height: 36px;
      margin: auto;

      img {
        display: inline;
        max-height: 100%;
        width: auto;
      }
    }
  }

  .slick-dotted {
    margin-bottom: 25px;
  }

  .slick-slide {
    margin: 0 50px;
  }

  .slick-prev {
    text-align: right;
  }

  .slick-arrow {
    height: 20px;
    width: 26px;

    &:before {
      color: $primary;
    }

    &.slick-disabled:before {
      color: $gray-400;
    }
  }

  .slick-dots {
    bottom: -15px;
  }
}

@include media-breakpoint-up(lg) {
  .node--type-landing .content-sidebar-region {
    margin-top: 25px;
  }
}

article .node--view-mode-flexible-content h2 {
  margin-top: 20px;
  margin-bottom: 10px;

  a span {
    @include cachet(500);
    font-size: 36px;
  }
}

// node sidebars
.side-col .card-body .border-bottom:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border: 0 !important;
}

.block-description--wrapper--outline--top {
  .block-description--text {
    padding-top: 15px;
  }
}

