.paragraph--type--upcoming-events {
  .view-header,
  .view-footer {
    display: none;
  }

  .field-prgf-block {
    padding-bottom: 100px;
  }

  .upcoming-events__header-info.clearfix {
    text-transform: uppercase;
    border-bottom: solid 2px #d8d8d8;
    padding: 20px 0;
    line-height: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    h2 {
      margin: 0;
    }
  }

  .views-field-field-event-date {
    position: absolute;
    top: -12px;
    left: 30px;
    color: white;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    padding: 3px;

    .field-content {
      background-color: #92278f;
      border-radius: 10px;
      width: 54px;
      height: 54px;
      font-size: 14px;

      .day {
        font-size: 28px;
        line-height: 22px;
        padding-top: 10px;
      }
    }
  }

  .views-field-field-event-image {
    width: 100%;

    img {
      max-width: 100%;
      height: auto;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 3px 30px 2px rgba(0, 0, 0, 0.05);
    }
  }

  .views-field-title {
    display: block;
    width: 100%;

    a {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.5px;
      color: $gray-700;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .views-field-field-event-location a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $primary;

    &:hover {
      text-decoration: underline !important;
    }

    &:before {
      content: "\e943";
      font-family: "icomoon" !important;
      font-size: 20px;
      display: inline-block;
      vertical-align: text-top;
      margin-top: -4px;
      margin-left: -6px;
      margin-right: 5px;
    }
  }

  .views-field-field-event-date-time {
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: #5c2e91;
    float: left;
    width: 100%;
  }

  .views-field-field-event-date-time .field-content::before {
    font-family: "icomoon" !important;
    content: "\e948";
    font-size: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -4px;
    margin-left: -5px;
    margin-right: 6px;
  }
}

.row.event-info.header-info {
  .location-title a {
    color: $primary;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
    display: block;
  }

  .field-event-location a::before {
    content: "\e943";
    font-family: "icomoon" !important;
    font-size: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 0;
    margin-left: -6px;
    margin-right: 5px;
  }

  .field-event-date-time {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $purple;

    &::before {
      font-family: "icomoon" !important;
      content: "\e948";
      font-size: 20px;
      display: inline-block;
      vertical-align: text-top;
      margin-top: -4px;
      margin-left: -5px;
      margin-right: 6px;
    }
  }

  .info-item-wrapper {
    font-size: 18px;
  }

  .field-direction a,
  .field-calendar a {
    color: $pink;
    font-size: 16px;
    line-height: 1.5;
    display: block;
  }

  .branch-phone {
    font-weight: 500;

    span {
      font-weight: normal;
      float: left;
    }

    a {
      color: #636466;
    }

    .field-location-email-id {
      color: $primary;

      &::before {
        font-family: "icomoon" !important;
        content: "\eb47";
        font-size: 20px;
        vertical-align: text-top;
        display: inline-block;
        margin-top: -4px;
        margin-right: 4px;
        color: $primary;
      }
    }
  }
}
