.paragraph-gallery {
  position: relative;

  @include media-breakpoint-up(lg) {
    max-height: 700px;
  }

  .carousel {
    margin: 0 -135px;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    .carousel-inner > .carousel-item {
      background: $gray-900;

      img,
      a img {
        height: auto;
        width: 100%;
        opacity: .5;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      background-color: $pink;
      height: 50px;
      opacity: 1;
      width: 50px;
      z-index: 1;
      text-align: center;
      top: 50%;
      margin-top: -25px;
      z-index: 1;

      @include media-breakpoint-up(lg) {
        text-shadow:none;
        width: 80px;
        height: 100px;
        margin-top: -50px;
      }
    }

    .carousel-control-prev {
      border-radius: 0 8px 8px 0;
    }

    .carousel-control-next {
      border-radius: 8px 0 0 8px;
    }

    .carousel-indicators {
      position: static;
      left: initial;
      width: initial;
      margin-left: initial;

      // thumbnails
      &.list-inline {
        white-space: nowrap;
        overflow-x: auto;
      }

      > li {
        width: initial;
        height: initial;
        text-indent: initial;

        &.active img {
          opacity: 0.7;
        }
      }
    }

  }

  .cta-group-wrapper {
    background: $cyan;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: transparent;
      z-index: 0;
    }

    .text {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .item__caption__wrapper {
    position: relative;
  }

  .item__caption {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: $purple;
    font-size: 14px;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.43;
    max-width: 260px;
    padding: 10px;
  }
}
