.paragraph-gallery {
  position: relative;

  .carousel {
    margin: 0px -135px;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    .carousel-control {
      background-color: rgba(255, 255, 255, 0.3);
      background-image: none;
      height: 46px;
      opacity: 1;
      width: 46px;
      z-index: 1;

      @include media-breakpoint-up(md) {
        background: none;
        opacity: 0.5;
        height: 54px;
        width: 44px;
      }

      @include media-breakpoint-up(lg) {
        height: 74px;
        width: 58px;
      }

      .fa {
        font-size: 34px;
        line-height: 46px;
        color: $white;

        @include media-breakpoint-up(md) {
          font-size: 54px;
          line-height: 54px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 74px;
          line-height: 74px;
        }
      }

      &.left {
        text-align: right;
        top: 50%;
        left: 135px;
        margin-top: -23px;

        @include media-breakpoint-up(md) {
          left: 10px;
          margin-top: -27px;
        }

        @include media-breakpoint-up(lg) {
          margin-top: -37px;
        }

        .fa {
          margin-right: 5px;
        }
      }

      &.right {
        text-align: left;
        top: 50%;
        right: 135px;
        margin-top: -23px;

        @include media-breakpoint-up(md) {
          right: 10px;
          margin-top: -27px;
        }

        @include media-breakpoint-up(lg) {
          margin-top: -37px;
        }

        .fa {
          margin-left: 5px;
        }
      }
    }

    .carousel-inner > .item {
      background: $gray-900;
    }

    .carousel-inner > .item img,
    .carousel-inner > .item a img {
      height: auto;
      width: 100%;
      opacity: .5;
    }
  }

  .cta-group-wrapper {
    background: $cyan;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: transparent;
    }

    .text {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .item__caption__wrapper {
    position: relative;
  }

  .item__caption {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: $purple;
    font-size: 14px;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.43;
    max-width: 260px;
    padding: 10px;
  }
}
