.desktop-menu {
  .openy-google-translate select {
    @include cachet();
    background: transparent;
    border: 0;
    color: $gray-300;
    font-size: 18px;
  }
}

.mobile-sidebar {
  .openy-google-translate {
    border-bottom: 1px solid #979797;
    margin: 0 -15px;
    padding-bottom: 21px;
    padding-left: 9px;
    padding-top: 21px;

    select {
      @include cachet();
      color: $white;
      font-size: 18px !important;
      text-transform: uppercase;
    }
  }
}

.goog-te-gadget {
  font-size: 0 !important;
  .goog-te-combo {
    margin: 0;
  }
}

.goog-logo-link {
  display: none;
}

@include media-breakpoint-down(md) {
  .goog-te-banner-frame {
    display: none;
  }
}

