.layout-container {
  .top-navs {
    background: black;
    background: -moz-linear-gradient(
      top,
      black 0%,
      black 34%,
      white 34%,
      white 34%,
      white 100%
    );
    background: -webkit-linear-gradient(
      top,
      black 0%,
      black 34%,
      white 34%,
      white 34%,
      white 100%
    );
    background: linear-gradient(
      to bottom,
      #000000 0%,
      #000000 34%,
      #ffffff 34%,
      #ffffff 34%,
      #ffffff 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#000000",
      endColorstr="#ffffff",
      GradientType=0
    );
    height: 200px;

    .logo.navbar-btn.pull-left {
      display: none;

      img {
        width: 45px;
      }
    }
  }

  .site-name {
    @include cachet(500);
    font-size: 20px;
    color: $gray-400;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 44px;
  }
}

.viewport .nav-global {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

body.with-banner .banner-zone-node {
  margin-top: 43px;
}

body.with-banner .layout-container .top-navs {
  background: none;

  &.affix {
    background-color: $gray-700;
  }
}

.page-head__top-menu {
  .navbar-nav > li > a {
    color: #777777;
    background-color: transparent !important;
    padding-bottom: 11px;
    padding-top: 11px;
    font-size: 18px;
    letter-spacing: -0.9px;
    text-shadow: none;
    text-transform: none;
  }

  .navbar-nav {
    float: right !important;
  }
}
