.layout-container {
  .top-navs {
    background: black;

    background: linear-gradient(
      to bottom,
      #000000 0%,
      #000000 34%,
      #ffffff 34%,
      #ffffff 34%,
      #ffffff 100%
    );
    height: 200px;

    .logo img {
      width: 45px;
    }
  }

  .site-name {
    //@include cachet(500);
    font-size: 20px;
    color: $gray-400;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 44px;
  }
}

.viewport .nav-global {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

body.with-banner .banner-zone-node {
  margin-top: 43px;
}

body.with-banner .layout-container .top-navs {
  background: none;

  &.affix {
    background-color: $gray-700;
  }
}

.page-head__top-menu {
  background-color: rgba($primary, .8);

  @include media-breakpoint-up(lg) {
    background-color: $black;
  }

  .navbar-nav > li {
    border-right: 1px solid #636466;

    &:last-child {
      border: none;
    }

    > a {
    color: #777777;
    background-color: transparent !important;
    padding-bottom: 11px;
    padding-top: 11px;
    font-size: 18px;
    letter-spacing: -0.9px;
    text-shadow: none;
    text-transform: none;
  }
  }
}
