// header banner section
body.with-banner {
  .layout-container .top-navs {
    background-color: rgba($primary, .8);
    transition: background-color 0.5s ease;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
    }

    &.affix {
      background-color: $gray-700;
    }

    &.affix.menu-in,
    &.menu-in {
      background-color: $primary;
    }
  }
}

.banner-zone-node {
  position: relative;

  .banner-image {
    max-height: 700px;

    img {
      width: 100%;
    }
  }

  .banner-cta {
    position: absolute;
    top: 0;
  }

  h1 {
    font-size: 60px;
    letter-spacing: -2px;
  }
}

.path-frontpage .paragraph--type--header-banner {
  margin-bottom: -110px;
}
