// header banner section
.banner-zone-node {
  position: relative;

  // main background image
  .banner-bg {
    min-height: 70px;

    @include media-breakpoint-up(sm) {
      min-height: 225px;
    }

    @include media-breakpoint-up(md) {
      min-height: 350px;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .banner-cta {
    position: relative;
    overflow: hidden;

    // start overlaying images
    @include media-breakpoint-up(lg) {
      padding-top: 140px;

      &:not(.banner-cta--no_overlay) {
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: black;
          content: "";
          opacity: .3;
          z-index: 1;
        }
      }
    }

    .banner-cta-content {
      position: relative;
      z-index: 2;
    }
  }

  // headings
  h1 {
    letter-spacing: -2px;
  }
}
