// header banner section
.banner-zone-node {
  position: relative;

  .banner-image {
    max-height: 700px;

    img {
      width: 100%;
    }
  }

  .banner-cta {
    position: absolute;
    top: 0;
  }

  h1 {
    letter-spacing: -2px;
  }
}

.path-frontpage .paragraph--type--header-banner {
  margin-bottom: -110px;
}
