.two-column-fixed {
  .affix,
  .affix-bottom {
    top: 126px;
    position: static;

    @include media-breakpoint-up(sm) {
      width: 220px;
      position: fixed;
    }

    @include media-breakpoint-up(md) {
      width: 294px;
    }

    @include media-breakpoint-up(lg) {
      width: 360px;
    }

    .toolbar-fixed & {
      @include media-breakpoint-up(sm) {
        top: 150px;
      }
      @include media-breakpoint-up(md) {
        top: 186px;
      }
      @include media-breakpoint-up(lg) {
        top: 196px;
      }
    }
  }
}

.embedded-entity {
  .media-image.view-mode-link {
    display: inline;
  }

  img {
    display: inline-block;
  }
}
