// gmap
.openy-map-canvas {
  height: 500px;
}

// address (with marker icon)
.field-location-address {
  position: relative;
  padding-left: 25px;

  i {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.node--type-facility.node--view-mode-teaser,
.node--type-branch.node--view-mode-teaser,
.node--type-camp.node--view-mode-teaser {
  min-height: 300px;
  font-size: 15px;
  background-color: $white;
  box-shadow: 0 3px 30px 2px rgba(0,0,0,0.05);
  border-radius: 8px;
  border: none;
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 52px;

  > h2 {
    padding-bottom: 16px;
    font-size: 22px;
    font-family: "Cachet",Arial,sans-serif;
    margin: 5px 0 33px;
    font-weight: bold;
    border-bottom: 2px solid $primary;

    &.card-type--camp,
    &.card-type--facility {
      border-bottom: 2px solid $success;
    }
  }

  // title link
  .title-link {
    font-family: "Cachet",Arial,sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.2px;
    text-transform: uppercase;

    i {
      margin-right: 8px;
      font-size: 22px;

      &:before {
        content: "\f594" !important;
      }
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  // button
  .button.branch-info a {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 90px);
    border-radius: 8px;
    text-transform: uppercase;
    width: 180px;
    height: 60px;
    font-family: "Cachet",Arial,sans-serif;
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.form__locations {
  background-color: rgba($gray-100, .5);
  height: 92px;
  display: table;
  width: 100%;
  padding: 35px 0;

  @include media-breakpoint-up(md) {
    padding: 35px 25px;
  }

  .form-group {
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  label {
    text-transform: none;
    padding: 6px 8px;
    left: -1px;
    margin: 10px 10px 0 0;

    @include media-breakpoint-up(md) {
      left: -20px;
      margin: 0 10px 0 0;
    }
  }

  input[type="checkbox"] {
    margin: 0 10px 0 0;
    vertical-align: middle;
  }

  .distance .form-group {
    position: relative;
    background: white;

    &:before {
      font-family: 'FontAwesome';
      position: absolute;
      content: '\f107';
      right: 10px;
      color: $pink;
      font-size: 24px;
      top: 50%;
      margin-top: -18px;
      z-index: 0;
    }

    .form-select {
      position: relative;
      border-radius: 5px;
      z-index: 1;
      background: transparent;
    }
  }

  input[type="text"] {
    border-radius: 5px !important;
    padding: 5px 15px;
  }

  .btn-group-justified {
    border-spacing: 1px;
    margin: -1px -1px 5px 1px;
    min-width: 234px;

    @include media-breakpoint-up(md) {
      border-spacing: 10px;
      margin: -10px -10px -10px 10px;
    }
  }

  .zip-code,
  .distance {
    display: none;

    @include media-breakpoint-up(xs) {
      display: initial;
    }
  }
}

.tag_filters img {
  margin: -2px 0 0 3px;
  width: 13px;
}

.locations-list {
  margin: 0 -15px;

  .views-row__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
  }

  .views-row {
    display: flex;
    flex-basis: 100%;

    @media (min-width: 600px) and (max-width: 1025px) {
      flex-basis: 50%;
    }

    @media (min-width: 1025px) {
      flex-basis: 33.33%;
    }

    .node--view-mode-teaser {
      flex-basis: 100%;
      align-self: stretch;
    }
  }

  header h1,
  header h2,
  header h2.h1 {
    font-size: 36px;
    padding-left: 20px;
    padding-bottom: 20px;
    clear: both;
    margin-top: 0;
    font-weight: bold;
  }

  .field_location_state {
    float: right;
    margin-right: -20px;
    margin-top: -20px;
    padding: 5px;
    font-size: 10px;
    color: #231f20;
    width: 100px;
    height: 32px;
    vertical-align: bottom;
    background: #fcaf17;
    line-height: 1.2;
    font-style: italic;

    .fa {
      color: white;
      height: 32px;
      float: left;
      font-size: 16px;
      padding-right: 6px;
    }

    span {
      display: block;
    }
  }

  .field-branch-hours h4 {
    font-size: 14px;
  }
}
