// primary nav (Y Logo)
.menu-item-home {
  background: url("../img/logo-white.png") no-repeat;
  background-size: 65px 50px;
  background-position: center;
  width: 65px;
  text-indent: -9999px;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  a {
    display: block;
    width: 95px;
  }
}

// primary nav > first level
.page-head__main-menu .navbar > li {
  > a,
  > button {
    color: white;
    padding: 35px 0;
    text-align: center;

    &:hover {
      color: $pink;
    }
  }
}

// global nav link styles
.page-head__main-menu a {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
}

.dropdown-menu > li > a {
  white-space: normal;
}

/*
** Main "Mega Menu" dropdown
*/
.nav-home {
  li.dropdown {
    position: static;
    visibility: inherit;
    float: none;
    display: table-cell;
    box-sizing: border-box;
  }

  .dropdown-menu {
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    width: 100%;
    position: absolute;
    top: 100%;
    overflow: auto;
    display: none;
    height: 0;

    &.show {
      display: flex;
      height: auto;
    }
  }
}


.viewport {
  .page-head__main-menu {
    .nav-level-2 {
      @include cachet();

      > a:hover,
      > a:focus {
        text-decoration: none;
      }
    }

    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
      background: none;
    }

    .nav-level-3 {
      font-family: $font-family-base;
      padding-top: 25px;

      > a {
        @include cachet(400);
        line-height: 24px;
        min-height: 34px;
        display: inline-block;
        padding: 0;
        position: relative;
        color: white;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
          min-height: 30px;
          color: $primary-darker;
        }
      }
    }

    .row-level-2 {
      padding: 2px 25px 37px 41px;
    }
  }

  .nav-level-2 {
    > a {
      &:hover,
      &:focus {
        background: none;
      }
    }

    &.show {
      background-color: white;
      box-shadow: 0 4px 0 0 white;

      > a,
      > a:hover,
      > a:focus {
        color: $pink;
        position: relative;
        z-index: 1001;
        background: white;
        box-shadow: 0 5px 0 0 white;

        &:hover {
          color: $primary-darker;
        }
      }
    }
  }

  .row-level-3,
  .nav-level-4 {
    list-style: none;
    padding-left: 0;
  }

  .nav-level-4 {
    padding: 4px 0;

    a {
      @include cachet();
      font-size: 14px;
      line-height: 20px;
      text-transform: none;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

// show/hide arrows (desktop)
.page-head__main-menu .nav-level-2 {
  .fa-caret-up,
  .fa-angle-up {
    display: none;
  }

  &.show {
    .fa-caret-up,
    .fa-angle-up {
      display: inline;
    }

    .fa-caret-down,
    .fa-angle-down {
      display: none;
    }
  }
}


// pages without a banner (ex. program nodes)
.without-banner {

  // adjust top margins
  .viewport {
    margin-top: 140px;

    @include media-breakpoint-up(lg) {
      margin-top: 200px;
    }
  }

  // change navbar background colours when scrolling
  .top-navs {
    background-color: rgba($primary, .8);
    transition: background-color 0.5s ease;

    @include media-breakpoint-up(lg) {
      background-color: transparent;

      // adjust main nav link colours
      &:not(.affix) .page-head__main-menu .navbar > li {
        > a {
          color: $primary;

          &:hover {
            color: $pink;
          }
        }

        &.show > a,
        &.show > a:focus {
          color: $pink;
        }
      }
    }


    .menu-item-home {
      background: url("../img/logo-color.png") no-repeat;
      background-size: 65px 50px;
      width: 65px;
      text-indent: -9999px;
      background-position: center;
    }

    &.affix {
      background-color: $gray-700;

      .menu-item-home {
        background: url("../img/logo-white.png") no-repeat;
        background-size: 65px 50px;
        background-position: center;
      }
    }

    &.affix.menu-in,
    &.menu-in {
      background-color: $primary;
    }
  }
}
