.microsites-menu.microsites-menu--hide-main-menu {
  ul.navbar {
    visibility: hidden;
  }
}

.camp-menu__wrapper,
.microsites-menu__wrapper {
  background: $primary-darker;

  a {
    @include cachet();
    color: $white;
    font-size: 16px;
    margin: 10px 15px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;

    &.is-active {
      background: $white;
      color: $primary-darker;
    }

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}
