.microsites-menu.microsites-menu--hide-main-menu .nav-home .navbar-nav {
  visibility: hidden;
}

.microsites-menu__wrapper {
  background: $primary;
}

.wrapper-field-menu-block-links {
  a {
    font-family: $headings-font-family;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 15px;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
