  //.sidebar {
    //top: 52px;
    //background: $blue;

    //.page-head__top-menu li a {
    //  padding: 25px;
    //  color: white;
    //}

    //.nav-level-2.show,
    //.row-level-2 {
    //  background-color: transparent;
    //}
    //
    //.nav-level-2.show .row-level-2 {
    //  border-bottom: 1px solid rgba(white, 0.2);
    //}
    //
    //.navbar-nav > li {
    //  width: 100%;
    //}
  //}

/*
** Mobile menu
*/
.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  z-index: 40;
  display: block !important;
  visibility: visible;
  overflow: hidden;
  overflow-y: auto;
  padding-right: inherit;
  height: auto;
  background: $blue;
  -webkit-overflow-scrolling: touch;

  &.collapse {
    width: 0;
  }

  &.collapse.show {
    width: 100%;
  }

  &.collapsing-out {
    transition: visibility 0s 0.4s linear;
  }

  .search-form-wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $gray-300;
    border-top: 1px solid $gray-300;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    position: relative;
    top: 0;
    z-index: 0;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: $blue;
  }

  .active > a {
    transition: height 0.3s 0.3s ease-out, opacity 0.3s 0s ease-out,
    background-color 0.2s 0.6s ease-out, color 0.2s 0.6s ease-out,
    color 0.2s 0.6s ease-out, border-color 0s ease-out;
  }

  .nav a {
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    line-height: 20px;
    cursor: pointer;
    transition: height 0.3s 0s ease-out, opacity 0.3s 0s ease-out,
    background-color 0.2s ease-out;

    &:hover,
    &[aria-expanded="true"] {
      background: $dark-blue;
    }
  }

  .nav-level-2 {
    .row-level-2 {
      display: none;
    }

    &.show .row-level-2 {
      display: block;
      border-bottom: 1px solid $gray-300;
      position: static !important;
      transform: none !important;
    }
  }

  .page-head__top-menu {
    overflow: visible;
  }

  .row-level-3 {
    list-style: none;
  }

  // Search form.
  input[type="submit"] {
    display: none;
  }

  .navbar-nav {
    margin: 0 -15px;
  }

  .nav-level-2 a {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-level-2.show,
  .row-level-2 {
    background-color: white;
  }

  //.navbar-nav .show .dropdown-menu > li > a,
  //.navbar-nav .show .dropdown-menu .dropdown-header {
  //  padding: 12px 15px 12px 23px;
  //}

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background: none;
  }
}