.node--type-news {
  font-size: 15px;

  &.node--view-mode-full {
    margin-bottom: 50px;
  }

  h1 {
    letter-spacing: -1.2px;
    padding-bottom: 8px;
  }

  &.node--view-mode-sidebar {
    margin-top: 118px;
  }

  .field-news-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  p {
    line-height: 1.62em;
  }

  p + h2 {
    margin-top: 1em;
  }
}

// category lists
.category-list {
  .badge a {
    color: $white;

    &:hover {
      opacity: .8;
    }
  }
}

//
.arrow-list {
  a {
    position: relative;
    padding-left: 20px;
    display: inline-block;

    &:before {
      position: absolute;
      left: 0;
      top: -1px;
      content: "\f105";
      display: inline-block;
      font-family: $font-awesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $pink;
      font-weight: bold;
    }
  }
}

// card style
.news-card {
  overflow: visible;
  padding-top: 20px;

  @include media-breakpoint-up(sm) {
    overflow: hidden;
  }
}

// related news
.news-related {
  position: relative;

  h2 {
    font-family: $font-family-base;
    text-transform: uppercase;
    color: $gray-400 !important;
    margin: 0 0 25px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  h3 {
    font-weight: bold;
    font-size: 36px;

    a {
      color: inherit;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}

.adjust-container {
  max-width: 100%;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin: -20px;
    max-width: inherit;
  }
}

.comma-list {
  .item:after {
    content: ",";
  }

  .item:last-child:after {
    content: none;
  }
}
