body {
  margin-top: 0 !important;
}

.layout-container {
  position: relative;
}

.node--type-blog .wrapper-field-blog-image {
  display: none !important;
}

.row-eq-height,
.modal-body .fieldset-wrapper > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.tabs {
  text-align: center;

  .tabs--primary.nav.nav-tabs {
    display: inline-block;
  }
}

.status-message {
  text-align: center;
  padding: 10px 0;
}

.field-link-attribute {
  display: none;
}

.toolbar-icon-admin-toolbar-tools-help::before {
  background-image: url(../img/logo-color.png);
}

.two-columns-container,
.user-login,
.webform-submission-form {
  padding-bottom: 20px;
  min-height: 600px;
}

.webform-submission-form {
  padding-top: 136px;
}
