.programs-search-block-form {
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 70px;
  }

  fieldset {
    legend span {
      @include cachet();
      border: none;
      color: $purple;
      font-size: 36px;
    }

    .js-webform-radios {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      .js-form-type-radio {
        flex-basis: 100%;
        padding-right: 15px;
        margin: 0 0 10px;
        position: relative;
        padding-left: 20px;
        line-height: 20px;

        @include media-breakpoint-up(md) {
          flex-basis: 50%;
        }

        @include media-breakpoint-up(lg) {
          flex-basis: 25%;
        }

        label {
          font-family: $font-family-base;
          font-size: 15px;
          margin: 0 0 0 7px;
          vertical-align: top;
        }

        input {
          margin: 0;
          position: absolute;
          left: 0;
          top: 5px;
          vertical-align: top;
        }

        .ajax-progress-throbber {
          position: absolute;
          left: -7px;

          .throbber {
            padding: 1px 6px 2px;
          }
        }
      }
    }
  }

  .result {
    @include cachet();
    font-size: 24px;
    color: $pink;
    margin: 40px 0 0;

    a {
      @include cachet(500);
      color: $pink;
      text-decoration: underline;
      font-style: normal;

      em {
        font-style: normal;
      }
    }
  }

  .no-result {
    font-size: 24px;
    color: $purple;
    margin: 40px 0 0;
  }
}
