#schedules-search-form-wrapper {
  .controls-wrapper {
    padding-top: 9px;
    padding-bottom: 9px;

    @include media-breakpoint-up(md) {
      display: none;
    }

    a {
      display: inline-block;
      padding: 3px 15px;
    }
  }

  .selects-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    &.hidden-xs {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    hr {
      border-color: $gray-400;
      margin: 0 0 12px;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .form-item {
    margin: 0 0 15px 0;
    width: 100%;
    position: relative;
    border-bottom: 1px solid $gray-100;

    @include media-breakpoint-up(md) {
      margin: 1em 0.75em;
      border: none;
    }

    .ajax-progress-throbber {
      position: absolute;
      margin: -20px 0 0 -15px;
      left: 50%;
      top: 50%;
    }

    .select-wrapper:before {
      color: $pink;
      font-size: 24px;
      right: 0;
      top: 50%;
      margin-top: -18px;
    }

    label {
      @include cachet(500);
      font-size: 14px;
      line-height: 1.6;
      color: $gray-500;
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        margin-bottom: 5px;
      }
    }

    input,
    select {
      @include cachet();
      padding-left: 0;
      text-transform: uppercase;
      background: transparent;
      color: $gray-500;
      font-size: 14px;
      width: 100%;
      border: 0;
      height: calc(3.5rem + 2px) !important;
      letter-spacing: -1.2px;
      position: relative;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .hasDatepicker {
      background: url("../img/input_calc_icon.png") no-repeat right center;
      padding-right: 20px;
    }
  }

  // location field
  .js-form-type-select.js-form-item-location {
    flex-basis: unset;
    border: none;

    @include media-breakpoint-up(md) {
      max-width: 300px;
    }

    .select-wrapper:before {
      right: 15px;
    }

    select {
      @include cachet();
      width: 100%;
      border: 1px solid $gray-100;
      border-radius: 8px;
      color: $gray-500;
      text-transform: uppercase;
      padding: 15px;
      font-size: 18px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  @include media-breakpoint-up(md) {
    .js-form-type-select,
    .js-form-type-textfield,
    .form-item-display {
      width: 150px;
    }
  }

  .actions-wrapper {
    display: none;
  }

  .filters-main-wrapper {
    clear: both;

    @include media-breakpoint-up(md) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .filters-container {
    clear: both;
    position: relative;
    border-top: 1px solid $gray-400;

    &.hidden {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      margin-top: 0;
      border: none;
      display: block;
    }

    .container {
      position: relative;
      padding: 0;
    }

    .filters-wrapper {
      padding-bottom: 5px;
      padding-top: 5px;

      @include media-breakpoint-up(md) {
        padding-bottom: 0;
        padding-top: 0;
        border: 0;
      }

      .label {
        @include cachet();
        color: $gray-500;
        display: block;
        font-size: 14px;
        margin-right: 20px;
        padding: 0;
        text-align: left;

        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }

      .filters {
        @include media-breakpoint-up(md) {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }

        .filter {
          @include cachet();
          background: rgba($gray-100, .3);
          border-radius: 4px;
          color: $gray-500;
          display: inline-block;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
          text-transform: uppercase;
          white-space: nowrap;
          padding: 0 10px;
          margin: 0 5px 10px 0;

          @include media-breakpoint-up(md) {
            margin: 5px 20px 5px 0;
          }

          .remove {
            margin-left: 10px;
            line-height: 30px;

            @include media-breakpoint-up(md) {
              margin-left: 15px;
            }

            .fa {
              font-size: 13px;
              color: $primary;

              &:hover {
                color: $pink;
              }

              @include media-breakpoint-up(md) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .form-control {
      &[readonly],
      &[disabled] {
        color: $gray-100;
        background: transparent;
      }
    }
  }
}

#schedules-search-listing-wrapper {
  .results {
    margin: 40px 0;

    h2 {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 18px;
      font-weight: 700;

      @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 44px;
      }

      em {
        font-style: normal;
      }
    }

    // time (line)
    .group_time {
      @include cachet();
      width: 80px;
      min-height: 50px;
      border-radius: 8px;
      background-color: $gray-100;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -1px;
      text-align: center;
      color: $gray-700;
      position: relative;

      &.group_time_week {
        width: 90px;
        font-size: 15px;
      }
    }

    .schedule-sessions-group {
      border-bottom: dotted 3px $gray-400;
      margin-bottom: 60px;
    }

    .time-wrapper {
      margin-top: -35px;
      padding-left: 40px;

      li {
        border-top: dotted 3px $gray-400;
        padding: 25px;

        @include media-breakpoint-up(lg) {
          padding:45px;
        }
      }
    }

    #ygd-scheduler-daxko-block .title-class {
      font-weight: bold;
      letter-spacing: -0.6px;
      color: #0060af;
    }

    .week-control {
      font-size: 16px;

      &.prev-week {
        float: left;
      }

      &.next-week {
        float: right;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

#group-ex-results,
.groupex-results {
  .caption {
    @include cachet();
    letter-spacing: -0.8px;
    color: $purple;
    font-size: 30px;
    margin-bottom: 15px;

    a {
      color: $purple;
    }
  }

  .card-wrapper {
    display: inline-block;
    padding-bottom: 55px;

    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }
  }

  .time {
    @include cachet();
    color: $purple;
    font-size: 18px;

    .hh-mm {
      display: inline-block;
      min-width: 69px;
    }

    .duration {
      font-size: 16px;
      color: $pink;
      white-space: nowrap;
      word-wrap: normal;
    }

    @include media-breakpoint-up(md) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .card {
    border: 1px solid $pink;
    height: 100%;
    outline: none;
    text-decoration: none;
    padding: 15px;
    margin-bottom: -10px;
    position: relative;
    width: 100%;

    h3 {
      @include cachet();
      color: $primary;
      font-size: 22px;
      letter-spacing: -0.8px;
      line-height: 1;
      margin: 5px 0;
      white-space: normal;
      word-wrap: break-word;
      min-height: 44px;

      a {
        color: $primary;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.5;
      color: $gray-600;
    }

    .instructor {
      .fa {
        color: $purple;
        margin-right: 5px;
      }

      a {
        color: $purple;
      }

      .fa-refresh {
        font-size: 12px;
        color: $pink;
        margin-left: 16px;
        margin-right: 5px;
      }

      .sub {
        font-size: 12px;
        color: $pink;
      }
    }
  }
}

.groupex-form-full {
  .instructor-chosen {
    margin-bottom: 30px;
    color: $pink;
    font-size: 18px;
  }

  .js-webform-radios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .js-form-type-radio {
      flex-basis: 100%;
      padding-right: 15px;
      margin: 0 0 10px;
      position: relative;
      padding-left: 20px;
      line-height: 20px;

      @include media-breakpoint-up(md) {
        flex-basis: 50%;
      }

      @include media-breakpoint-up(lg) {
        flex-basis: 33%;
      }

      label {
        font-family: Verdana, sans-serif;
        font-size: 15px;
        margin: 0 0 0 7px;
        vertical-align: top;
      }

      input {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        vertical-align: top;
      }
    }
  }

  .top-form-wrapper {
    @include make-row();
    background-color: $gray-100;
    margin: 20px 0;
    overflow: hidden;
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .show {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 1rem;
      max-width: 100%;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        flex-basis: 0;
        flex-grow: 1;
      }
    }

    #submit-wrapper {
      .input-wrapper {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
          flex-direction: row;
        }
      }
    }

    .ajax-progress-throbber {
      display: none;
    }

    .js-form-type-select,
    .js-form-type-date {
      margin: 0;
    }

    select {
      @include cachet();
      font-size: 14px;
      text-transform: uppercase;

      ::-ms-expand {
        display: none;
      }
    }

    #date-select-wrapper input {
      width: 100%;
      line-height: 32px;
      border: 1px solid $gray-300;
    }

    .groupex-pdf-link-container {
      a {
        color: white;
        background-color: $purple;
      }
    }
  }

  .class-description {
    margin: 20px 0 40px 0;
    font-size: 16px;

    img {
      max-width: 100%;
    }
  }

  &.branch-specific-form {
    #location-select-wrapper {
      display: none !important;
    }
  }
}

//Daxko registration iframe
iframe#ga_iframe {
  border: 0;
  width: 100%;
  height: 865px;
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    height: 460px;
  }
}

/**
 * AddToCalendar Blue Style
 * http://addtocalendar.com
 */

/* Base */
.addtocalendar var {
  display: none;
}

.addtocalendar {
  position: relative;
  right: 15px;
  top: -15px;
  display: inline-block;
  background: transparent !important;
  float: right;
}

.atcb-link {
  display: block;
  outline: none !important;
  cursor: pointer;
}

.atcb-link:focus ~ ul,
.atcb-link:active ~ ul,
.atcb-list:hover {
  visibility: visible;
}

.atcb-list {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  width: 170px;
  z-index: 900;
}

.atcb-list,
.atcb-item {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
}

.atcb-item {
  float: none;
  text-align: left;
}

.atcb-item-link {
  text-decoration: none;
  outline: none;
  display: block;
}

.atcb-item.hover,
.atcb-item:hover {
  position: relative;
  z-index: 900;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

/* Blue */
.atc-style-blue .atcb-link,
.atc-style-blue .atcb-link:hover,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus {
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  &:before {
    content: "\f073";
    font-size: 14px;
  }
}

.atc-style-blue .atcb-list {
  width: 170px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  box-shadow: 0 0 5px #aaa;
}

.atc-style-blue .atcb-list,
.atc-style-blue .atcb-item {
  background: white;
  color: #000;
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-item-link {
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
}

.atc-style-blue .atcb-item-link,
.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus {
  color: #000;
  font-family: "Verdana";
  font-size: 14px;
  text-decoration: none;
  outline: none;
  padding: 5px 15px;
}

.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus {
  color: white;
}

.atc-style-blue .atcb-item.hover,
.atc-style-blue .atcb-item:hover {
  background: rgb(66, 129, 244);
}
