/**
 * Schedules
 * (Framework)
 */
#schedules-search-listing-wrapper {
  .results {
    margin: 40px 0;

    h2 {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 18px;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 40px;
        line-height: 44px;
      }

      em {
        font-style: normal;
      }
    }

    // time (line)
    .group_time {
      @include cachet();
      width: 80px;
      min-height: 50px;
      border-radius: 8px;
      background-color: $gray-100;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -1px;
      text-align: center;
      color: $gray-700;
      position: relative;

      &.group_time_week {
        width: 90px;
        font-size: 15px;
      }
    }

    .time-wrapper {
      margin-top: -35px;
      padding-left: 40px;

      &:last-child li:last-child {
        border-bottom: dotted 3px $gray-400;
      }

      li {
        border-top: dotted 3px $gray-400;
        padding: 25px;

        @include media-breakpoint-up(lg) {
          padding: 45px;
        }
      }
    }

    #ygd-scheduler-daxko-block .title-class {
      font-weight: bold;
      letter-spacing: -0.6px;
      color: #0060af;
    }

    .week-control {
      font-size: 16px;

      &.prev-week {
        float: left;
      }

      &.next-week {
        float: right;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

/**
 * Group Schedules
 * (Results)
 */
#group-ex-results,
.groupex-results {

  > div {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $gray-100;
  }

  .caption {
    @include cachet();
    letter-spacing: -0.8px;
    color: $purple;
    font-size: 30px;
    margin-bottom: 15px;

    a {
      color: $purple;
    }
  }

  .card-wrapper {
    display: inline-block;
    padding-bottom: 55px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 100px;
    }
  }

  .time {
    @include cachet();
    color: $purple;
    font-size: 18px;

    .hh-mm {
      display: inline-block;
      min-width: 69px;
    }

    .duration {
      font-size: 16px;
      color: $pink;
      white-space: nowrap;
      word-wrap: normal;
    }

    @include media-breakpoint-up(md) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .card {
    border: 1px solid $pink;
    height: 100%;
    outline: none;
    text-decoration: none;
    padding: 15px;
    margin-bottom: -10px;
    position: relative;
    width: 100%;

    h3 {
      @include cachet();
      color: $primary;
      font-size: 22px;
      letter-spacing: -0.8px;
      line-height: 1;
      margin: 5px 0;
      white-space: normal;
      word-wrap: break-word;
      min-height: 44px;

      a {
        color: $primary;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.5;
      color: $gray-600;
    }

    .instructor {
      .fa {
        color: $purple;
        margin-right: 5px;
      }

      a {
        color: $purple;
      }

      .fa-refresh {
        font-size: 12px;
        color: $pink;
        margin-left: 16px;
        margin-right: 5px;
      }

      .sub {
        font-size: 12px;
        color: $pink;
      }
    }
  }
}

/**
 * Group Schedules
 * (GroupEX Form)
 */
.groupex-form-full {
  .top-form-wrapper {

    @include media-breakpoint-down(md) {
      align-items: unset !important;
    }

    > div {
      flex: 1 1 auto;
    }
  }

  .instructor-chosen {
    margin-bottom: 30px;
    color: $pink;
    font-size: 18px;
  }

  .js-webform-radios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .js-form-type-radio {
      flex-basis: 100%;
      padding-right: 15px;
      margin: 0 0 10px;
      position: relative;
      padding-left: 20px;
      line-height: 20px;

      @include media-breakpoint-up(md) {
        flex-basis: 50%;
      }

      @include media-breakpoint-up(lg) {
        flex-basis: 33%;
      }

      label {
        font-family: $font-family-base;
        font-size: 15px;
        margin: 0 0 0 7px;
        vertical-align: top;
      }

      input {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        vertical-align: top;
      }
    }
  }

  .class-description {
    margin: 20px 0 40px 0;
    font-size: 16px;

    img {
      max-width: 100%;
    }
  }

  &.branch-specific-form {
    #location-select-wrapper {
      display: none !important;
    }
  }
}

/**
 * Group Schedules
 * (Daxko registration iframe)
 */
iframe#ga_iframe {
  border: 0;
  width: 100%;
  height: 865px;
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    height: 460px;
  }
}
