.slick-dotted {
  margin-bottom: 75px;
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before {
        font-family: slick;
        font-size: 60px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 0.25;
        .featured-content & {
          opacity: 0.15;
        }
        color: black;
        -webkit-font-smoothing: antialiased;
      }
    }
    &.slick-active {
      button:before {
        opacity: .75;
        color: black;
        .featured-content & {
          color: $pink;
        }
      }
    }
  }
}

.blog-card .slick-arrow,
.featured-content .slick-arrow {
  width: auto;
  z-index: 1;
  &:before {
    color: $primary;
  }
}

.slick-track {

  &:before {
    width: 0;
  }
}
