html.js .ajax-progress .throbber,
html.js .flag-waiting .flag-throbber {
  width: 32px;
  height: 32px;
  top: 5px !important;
  position: relative;
  background-image: url(../img/throbber.svg);
  background-size: contain;
  opacity: 1;
}
