.top-navs {
  .navbar-default {
    background-color: $blue;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
    }

    .navbar-toggle {
      .icon-bar {
        background-color: white;
      }

      &:hover {
        background: transparent;
      }
    }

    .navbar .logo {
      margin-right: -15px !important;
      padding-left: 15px !important;
      padding-right: 15px;
    }
  }

  .name.navbar-brand {
    display: none;
  }

  //&.affix {
  //  background: none !important;
  //}
}