.social-post-list {
  .header {
    text-align: center;
    padding: 32px;

    .description {
      margin-bottom: 30px;
    }
  }

  .views-element-container {
    .masonry {
      padding: 0;
      margin: 0;

      @include media-breakpoint-up(xs) {
        column-count: 2;
        column-gap: 0.5em;
        margin: 0.5em auto;
      }

      @include media-breakpoint-up(sm) {
        column-count: 3;
        column-gap: 1em;
        margin: 2em auto;
      }
    }

    .masonry-item {
      display: inline-block;
      margin: 0 0 2em;
      width: 100%;
      padding: 0 0 20px 0;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 1px rgba($gray-800, .43);

      p,
      .link,
      .posted {
        padding: 0 20px;
      }

      img {
        width: 100%;
        margin-bottom: 15px;
      }

      i {
        margin-left: 10px;
        overflow: hidden;
        clear: both;
        color: $light-blue;
        font-weight: bold;
        margin-top: 15px;
      }

      .posted {
        font-size: 10px;
      }
    }
  }
}
