/**
 * @file
 * Thumbnails displayed as a static grid instead of dots.
 */

.slick .slick-dots--thumbnail-grid {
  bottom: 0;
  padding: 15px 0;
  position: relative;
}

.slick .slick-dots--thumbnail-grid li {
  display: inline-block;
  height: auto;
  vertical-align: top;
  width: 120px;
}

.slick .slick-dots--thumbnail-grid button {
  position: absolute;
  visibility: hidden;
}

.slick .slick-dots--thumbnail-grid img {
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick .slick-dots--thumbnail-grid li:hover img,
.slick .slick-dots--thumbnail-grid li.slick-active img {
  border-color: #ff6d2c;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/**
 * Enable if the grid is displayed side by side to the Main image.

.slick .slick-dots--thumbnail-grid::after,
.slick .slick-dots--thumbnail-grid .slick-dots__thumbnail::after {
  clear: none;
  display: none;
}
 */
