{{ content.header }}
<div class="container">
  <div class="row">
    <div class="two-column">
      <div class="main-region col-sm-8">
        {{ content.main }}
      </div>
      <div class="sidebar-region col-sm-4">
        {{ content.sidebar }}
      </div>
    </div>
  </div>
</div>
