<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="scheduler">
  <description>Default PHP CodeSniffer configuration for Scheduler.</description>
  <file>.</file>

  <!-- Initially include all Drupal and DrupalPractice sniffs. -->
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>

  <!-- Use 's' to print the full sniff name in the report. -->
  <arg value="s"/>
  <arg value="-colors"/>
  <arg name="report-width" value="130"/>

  <rule ref="Drupal.Files.TxtFileLineLength.TooLong">
    <!-- Do not run this sniff on README.md as the file has long markup lines.
         @todo These are now allowed in the latest dev version of Coder, and
         this exclusion can be removed when Coder 8.x-2.13 is released. -->
    <exclude-pattern>README.md</exclude-pattern>
  </rule>

  <rule ref="DrupalPractice">
    <!-- Allow empty lines after comments, we don't like this rule. -->
    <exclude name="DrupalPractice.Commenting.CommentEmptyLine"/>
  </rule>

</ruleset>
