// Initialize OpenY's default variables
@import "init";

// Bootstrap Framework (loaded from node_modules)
@import "bootstrap";

// Open Y (Carnation) Base Styles
@import "base";

// Decoupled from modules
@import '../../../scss/modules';
