article.site-alert {
  section {
    &.page-heading {
      margin-bottom: 0;
    }
  }
  ul {
    padding: 20px 40px;
    font-size: 16px;
    li div {
      display: inline-block;
    }
  }
}
.site-alert--header, .site-alert--footer {
  border: 1px solid $grey;
  position: relative;
  z-index: 901;
}

