.paragraph--type--camp-menu {
  margin-bottom: 30px;
  @include breakpoint (0 $tablet) {
    display: none;
  }
  .camp-menu-wrapper {
    padding: 0 30px;
    .columns-gradient {
      background: #383838 !important;
      &:before {
        background: #383838 !important;
      }
    }
    .camp-menu {
      width: 100% !important;
      text-align: center;
      height: 51px !important;
      @include breakpoint ($desktop) {
        height: 57px !important;
      }
      li {
        float: none;
        display: table-cell;
        width: 1%;
        vertical-align: top;
        a {
          z-index: 1;
          display: block;
          padding: 13px 5px;
          max-width: 100%;
          border: 0 !important;
          border-radius: 0;
          background-color: #383838 !important;
          color: #FFF;
          position: relative;
          height: 51px;
          white-space: nowrap;
          font-weight: normal;
          font-size: 16px;
          @include breakpoint ($desktop) {
            font-size: 20px;
            height: 57px;
            padding: 15px 5px;
          }
          line-height: 1.4em;
          -webkit-transition: background-color .2s linear;
          -moz-transition: background-color .2s linear;
          -ms-transition: background-color .2s linear;
          transition: background-color .2s linear;
          &:hover {
            background-color: #505050 !important;
            &:after {
              background-color: #505050 !important;
            }
          }
          &.active {
            &:after {
              position: absolute;
              bottom: -12px;
              left: 50%;
              z-index: -1;
              display: block;
              margin-left: -15px;
              width: 30px;
              height: 30px;
              border-radius: 3px;
              background-color: #383838;
              content: ' ';
              -webkit-transition: background-color .2s linear;
              -moz-transition: background-color .2s linear;
              -ms-transition: background-color .2s linear;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
            }
          }
        }
        &:first-child {
          a {
            line-height: 0;
            font-size: 0;
            color: transparent;
            &:before {
              content: "\e021";
              position: relative;
              display: inline-block;
              font-family: 'Glyphicons Halflings';
              font-style: normal;
              font-weight: 400;
              line-height: 1.4em;
              -webkit-font-smoothing: antialiased;
              font-size: 16px;
              color: white;
              @include breakpoint ($desktop) {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}