.account-page-sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-bottom: 5px;
    }
  }
}
.account-page-content {
  overflow-x: auto;
  [data-drupal-selector="edit-donation"] {
    margin-top: 10px;
  }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.account-page-content-wrapper {
  h2 {
    margin-top: 0;
  }
}

.path-account {
  #block-openy-lily-content {
    padding-top: 30px;
  }
}
