.account-page-sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-bottom: 5px;
    }
  }
}
.account-page-content-wrapper {
  h2 {
    margin-top: 0;
  }
}
