.account-page-sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-bottom: 10px;
      i.fa {
        padding-right: 20px;
        width: 16px;
      }
    }
  }
}
.account-page-content {
  overflow-x: auto;
  [data-drupal-selector="edit-donation"] {
    margin-top: 10px;
  }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .session-program-code {
    font-size: smaller;
  }
}
.account-page-content-wrapper {
  h2 {
    margin-top: 0;
  }
}

.path-account {
  #block-openy-lily-content {
    padding-top: 30px;
  }
}

[data-drupal-selector="edit-add-to-cart"],
.remove-from-cart-button {
  @extend .pink-button;
  margin-top: -15px;
  padding: 13px 25px;
}

#ajax-ccc-class-sessions-form {
  details {
  }
}

.openy-ccc-add-program-to-cart-form {
  .ajax-progress-throbber {
    top: 6px;
    margin-top: 27px !important;
    right: 145px !important;
    left: auto !important;
  }
}

.ymcali-class-sessions-accordion {
  details {
    display: inline-block;
    position: relative;
    margin: 20px 0 0 !important;
    width: 100%;

    .ajax-progress {
      right: 150px;
      top: -8px;
    }
    summary {
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
      font-family: 'Cachet', Helvetica, Arial, sans-serif;
      float: left;
      width: 75%;
    }
    .status-message {
      clear: both;
    }
    input {
      float: right;
    }
  }
}

[data-drupal-selector="edit-checkout"],
.cart-item-remove-button,
.cart-item-activate-coupon-button,
.cart-item-donation-button {
  @extend .pink-button;
  margin-top: 0;
  padding: 13px 25px;
}

.openy-ccc-show-program-info {
  .ajax-progress {
    right: 150px;
    top: auto;
    margin-top: -4px !important;
    z-index: 999;
    bottom: -57px;
    left: auto !important;
  }
}