body {
  padding-top: 138px !important;
}
header {
  .container-fluid {
    @media (min-width: 1200px) {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  .top-navs {
    background-color: $gray-light;
    .nav-global {
      margin-bottom: 0;
      .navbar-header {
        padding: 5px 0 8px;
      }
    }
    #block-openy-lily-main-menu {
      width: 100%;
      background: rgba(0, 96, 175, 0.95) !important;
      ul {
        float: none;
        li {
          a {
            color: white;
            padding: 20px 25px;
          }
        }
      }
    }
    #block-openy-lily-user-menu {
      li {
        a {
          color: $gray-dark;
          border-top: 2px solid transparent;
          line-height: 50px;
          @include transition(all 0.2s linear);
          &:hover {
            border-top: 2px solid #aa228d;
            background-color: #fff;
            color: black;
          }
        }
      }
    }
  }

  #block-openy-lily-branding {
    a {
      img {
        width: 85px;
        height: auto;
      }
    }
  }
}
