body {
  padding-top: 145px !important;
  @include transition(padding-top 0.2s ease);
  &.tiny-header {
    padding-top: 116px !important;
  }
}

header {
  @include transition(all 0.2s linear);
  @include clearfix;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .container-fluid {
    @media (min-width: 1200px) {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  .top-navs {
    height: auto !important;
    background-color: transparent;
    .nav-global {
      margin-bottom: 0;
      background-color: $gray-light;
      .navbar-header {
        padding: 5px 0 13px;
      }
    }
    #block-openy-lily-main-menu {
      width: 100%;
      background: rgba(0, 96, 175, 0.95) !important;
      ul {
        float: none;
        li {
          a {
            color: white;
            padding: 21px 25px;
            @include transition(padding 0.2s ease);
          }
        }
      }
    }
    #block-anonymoususersmenu,
    #block-openy-lily-user-menu {
      li {
        a {
          color: $gray-dark;
          border-top: 2px solid transparent;
          line-height: 50px;
          font-size: 16px;
          @include transition(all 0.2s linear);
          &:hover {
            border-top: 2px solid #aa228d;
            background-color: #fff;
            color: black;
          }
        }
      }
    }
  }
  #block-openy-lily-branding {
    a {
      img {
        @include transition(all 0.2s linear);
        width: 85px;
        height: auto;
      }
    }
  }
  &.tiny {
    .top-navs {
      .nav-global {
        .navbar-header {
          padding: 5px 0 4px;
          #block-openy-lily-branding {
            a {
              img {
                width: 55px;
              }
            }
          }
        }
      }
      #block-openy-lily-user-menu {
        li {
          a {
            line-height: 19px;
          }
        }
      }
      #block-openy-lily-main-menu {
        li {
          a {
            padding: 16px 25px;
          }
        }
      }
    }
  }
  &.expanded-search {
    top: 88px;
  }
}
