body {
  @include breakpoint ($tablet-start) {
    padding-top: 145px !important;
    @include transition(padding-top 0.2s ease);
    &.tiny-header {
      padding-top: 116px !important;
    }
  }
  @include breakpoint (0 $tablet-start) {
    padding-top: 0 !important;
    max-width: 100%;
  }
}
#side-area {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 52px;
  left: 0;
  overflow:auto;
  transition: 0.2s;
  background-color: #0089d0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
  .toolbar-vertical & {
    top: 92px;
  }
  &.expanded-mobile {
    width: 100%;
  }
  .top-side {
    padding: 14px 0 7px;
    form {
      padding: 0 15px;
    }
  }
  a {
    color: #fffffb;
    line-height: 20px;
    font-family: "Cachet", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 15px;
    display: block;
    text-transform: uppercase;
    &:hover,
    &:focus {
      background-color: #0060af;
      background: #0060af;
      text-decoration: none;
    }
  }
  ul {
    border-top: 1px solid #979797;
    margin: 0;
    padding-top: 7px;
    min-height: 650px;
    li {
      display: block;
      .dropdown-menu {
        min-height: 40px;
        &.open {
          display: block;
          position: static;
          float: none;
          border: none;
          margin: 0;
          box-shadow: none;
          border-radius: 0;
          border-bottom: 1px solid #979797;
          li {
            a {
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}

.viewport {
  &:after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @include transition(opacity 0.2s linear);
    opacity: 0;
    height: 100%;
    z-index: 900;
  }
  #main {
    transition: margin-left .2s;
    position: relative;
  }
  &.expanded-mobile {
    &:after {
      opacity: 1;
    }
    #main {
      margin-left: 100%;
    }
  }
  @include breakpoint (0 $tablet-start) {
    #main {
      margin-top: 52px !important;
    }
  }
}

header {
  @include transition(all 0.2s linear);
  @include clearfix;
  left:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .container-fluid {
    @media (min-width: 1200px) {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  .top-navs {
    height: auto !important;
    background-color: transparent;
    .nav-global {
      margin-bottom: 0;
      border-radius: 0;
      background-color: $gray-light;
      .navbar-header {
        padding: 5px 0 13px;
        .navbar-toggler {
          display: none;
        }
        @include breakpoint (0 $tablet-start) {
          width: 100%;
          padding: 0 !important;
          height: 52px !important;
          #block-openy-lily-branding {
            position: absolute;
            left: 50%;
            margin-left: -27px;
            margin-top: 5px;
            img {
              width: 54px !important;
            }
          }
          .navbar-toggler {
            display: block !important;
            float: right;
            position: absolute;
            right: 15px;
            outline: 0 !important;
            margin-top: 8px;
            background: transparent;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            transition: all .2s ease-out;
            padding: 9px 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            .icon-bar {
              height: 4px;
              border-radius: 4px;
              background: #bbb;
              display: block;
              transition-delay: 0.25s;
              width: 22px;
              + .icon-bar {
                margin-top: 2px;
              }
            }
            &:hover {
              background: #89c3f0;
              .icon-bar {
                background: #e4e4e4;
              }
            }
            &.expanded-mobile {
              .icon-bar {
                &:first-child {
                  -webkit-transform: translate(0, 6px) rotate(-35deg);
                  transform: translate(0, 6px) rotate(-35deg);
                  -webkit-transform-origin: 50%;
                  transform-origin: 50%;
                }
                &:nth-child(2) {
                  -webkit-transform: scale(0);
                  transform: scale(0);
                }
                &:last-child {
                  -webkit-transform: translate(0px, -6px) rotate(35deg);
                  transform: translate(0px, -6px) rotate(35deg);
                  -webkit-transform-origin: 50%;
                  transform-origin: 50%;
                }
              }
            }
          }
        }
      }
    }
    #block-openy-lily-main-menu {
      width: 100%;
      background: rgba(0, 96, 175, 0.95) !important;
      padding: 0 30px;
      @include breakpoint($desktop) {
        padding: 0 100px;
      }
      @include breakpoint (0 $tablet-start) {
        display: none !important;
      }

      ul {
        float: none;
        li {
          a {
            font-size: 17px;
            color: white;
            padding: 21px 25px;
            @include transition(all 0.2s ease);
            &.expanded-menu + .dropdown-menu {
              display: block;
            }
            @media screen and (max-width: 1199px) {
              font-size: 15px;
            }
          }

          &.nav-level-2 {
            float: none;
            display: table-cell;
            width: 1%;
            min-width: 10%;
            > a {
              padding: 21px 0px;
              i {
                font-size: 12px;
                margin-left: 5px;
              }
              &.expanded-menu,
              &:hover {
                background: rgba(255, 255, 255, 0.18);
              }
            }
            &.menu-icon-1 {
              a {
                &:after {
                  font-family: 'Glyphicons Halflings';
                  font-style: normal;
                  font-weight: 400;
                  color: white;
                  line-height: 1;
                  -webkit-font-smoothing: antialiased;
                  content: "\e021";
                  vertical-align: bottom;
                  position: absolute;
                  top: -37px;
                  left: 0;
                  @include breakpoint ($desktop) {
                    display: none;
                  }
                }
              }
              @media screen and (max-width: $desktop) {
                min-width: 3%;
                display: inline-block;
                float: left;
                position: relative;
                overflow: hidden;
                padding-top: 62px;
                height: 62px;
                padding-left: 6px;
                &:hover {
                  background: rgba(255, 255, 255, 0.18);
                }
              }
            }
          }
          &.nav-level-3 {
            float: none;
          }
        }
        &.nav-level-1 {
          text-align: center;
        }
        &.row-level-2 {
          background: rgba(255, 255, 255, 0.98);
          padding-top: 14px;
          padding-bottom: 14px;
          border: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: none;
          border-radius: 0;
          li {
            width: 100%;
            padding: 0;
            a {
              display: block;
              font-size: 18px;
              padding: 10px 28px;
              text-overflow: initial;
              white-space: normal;
              color: #7d7b7b;
              &:hover {
                background: none;
                color: #7d7b7b;
              }
            }
          }
        }
      }
    }
    #block-anonymoususersmenu,
    #block-openy-lily-user-menu {
      @include breakpoint (0 $tablet-start) {
        display: none !important;
      }
      li {
        a {
          color: $gray-dark;
          border-top: 2px solid transparent;
          line-height: 50px;
          font-size: 16px;
          @include transition(all 0.2s linear);
          &:hover {
            border-top: 2px solid #aa228d;
            background-color: #fff;
            color: black;
          }
        }
      }
    }
    #block-anonymoususersmenu {
      ul {
        li {
          &:first-child {
            a {
              padding: 3px 15px;
              border-radius: 5px;
              background-color: $main-purple;
              text-transform: capitalize;
              font-weight: bold;
              font-size: 17px;
              line-height: 20px;
              color: white;
              text-shadow: none;
              margin: 28px 5px 0 0;
              border-top: none;
              &:hover {
                border-top: none;
                background-color: $dark-purple;
              }
            }
          }
        }
      }
    }
  }
  #block-openy-lily-branding {
    a {
      img {
        @include transition(all 0.2s linear);
        width: 85px;
        height: auto;
      }
    }
  }
  &.tiny {
    .top-navs {
      .nav-global {
        .navbar-header {
          padding: 5px 0 4px;
          #block-openy-lily-branding {
            a {
              img {
                width: 55px;
              }
            }
          }
        }
      }
      #block-anonymoususersmenu,
      #block-openy-lily-user-menu {
        li {
          a {
            line-height: 19px;
          }
        }
      }
      #block-anonymoususersmenu {
        ul {
          li {
            &:first-child {
              a {
                margin: 13px 5px 0 0;
              }
            }
          }
        }
      }
      #block-openy-lily-main-menu {
        .nav-level-2 {
          > a {
            padding: 21px 0;
          }
        }
      }
    }
  }
  &.expanded-search {
    top: 88px;
  }
}
