.program-header {
  .content {
    padding: 0;
    .main {
      padding: 40px 0;
    }
    .image {
      margin: 0;
      position: static;
      img {
        right: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
      }
    }
  }
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  @include breakpoint(0 $tablet) {
    display: inline-block;
  }
}

.sub-category-classes-view .activity-group {
  margin-top: 30px;
  .activity-group-slider .views-field-rendered-entity {
    margin: 0 0 30px 0;
  }
}
