.program-header {
  .content {
    padding: 0;
    .main {
      padding: 40px 0;
    }
    .image {
      margin: 0;
      position: static;
      img {
        right: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
      }
    }
  }
}