.container-fluid {
  padding: 0 30px;
  @include breakpoint($desktop) {
    padding: 0 100px;
  }
}
.page-heading {
  padding: 30px 0;
  &.black-header {
    background: $black3;
    h1 {
      margin: 0;
      color: white;
      font-size: 48px;
      text-transform: uppercase;
      font-family:'Cachet';
      font-weight: bold;
    }
  }
}