.container-fluid {
  padding: 0 30px;
  @include breakpoint($desktop) {
    padding: 0 100px;
  }
}

.page-heading {
  padding: 30px 0;
  margin-bottom: 40px;
  &.black-header {
    background: $black3;
    h1 {
      margin: 0;
      color: white;
      font-size: 48px;
      text-transform: uppercase;
      font-family: 'Cachet';
      font-weight: bold;
    }
  }
  @include breakpoint(0 $tablet) {
    padding: 20px 0;
    h1 {
      font-size: 24px !important;
    }
  }
  .node--type-blog & {
    margin-bottom: 40px;
  }
}

.pager {
  li {
    > a {
      padding: 5px 10px;
      font-size: 15px;
      border-radius: 0;

    }
    @include breakpoint(0 $tablet) {
      margin-right: 3px;
      a {
        padding: 5px 8px;
      }
    }
    &.pager__item--next {
      a {
        border: 1px solid #ddd !important;
        &:hover {
          background: #eee !important;
        }
      }
    }
  }
}
.page-404 {
  h2 {
    color: #646464 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    margin-top: 0;
  }
  article {
    margin-top: 30px;
  }
}

a:hover, a:active, a:focus {
  outline: 0;
}