{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 * - categories: categories of "repeat" entity for filter.
 */
#}

{{ attach_library('openy_repeat/openy_repeat') }}

<div class="schedule-dashboard__wrapper mr-0 ml-0" id="app">
  <div class="container">
    <div class="row">
      <div class="col-12 ml-0 schedule-dashboard__top-header">
        <div class="col-md-5 col-xs-5">
          <div class="schedule-dashboard__results-count">
            <strong><span v-cloak>${ getResultsCount() }</span> results</strong>
          </div>
        </div>
        {% block buttons_wrapper %}
        <div class="col-md-7 col-xs-7">
          {% endblock %}
          <a class="btn-schedule-pdf-generate hidden" target="_blank">{{ 'Download Weekly PDF'|t }}
            <i class="fa fa-file"></i>
          </a>
        </div>
      </div>

      {# sidebar #}
      {% block sidebar_wrapper %}
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 schedule-dashboard__sidebar">
      {% endblock %}
        {% include 'openy-repeat-schedule-dashboard--sidebar.html.twig' %}
      </div>

      {# main table #}
      {% block maintable_wrapper %}
      <div class="col-12 col-sm-12 col-md-12 col-lg-9 schedule-dashboard__content main-table">
        {% endblock %}
        {% include 'openy-repeat-schedule-dashboard--table.html.twig' %}
      </div>

    </div>

    </div>
  </div>
