{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 * - categories: categories of "repeat" entity for filter.
 */
#}

{% extends '@openy_repeat/openy-repeat-schedule-dashboard.html.twig' %}

{# sidebar #}
{% block sidebar_wrapper %}
<div class="col-12 col-md-4 col-lg-3 schedule-dashboard__sidebar">
  {% include '@openy_carnation/openy_repeat/openy-repeat-schedule-dashboard--sidebar.html.twig' %}
</div>
{% endblock %}

{# main table #}
{% block maintable_wrapper %}
<div class="col schedule-dashboard__content main-table">
  {% include '@openy_carnation/openy_repeat/openy-repeat-schedule-dashboard--table.html.twig' %}
</div>
{% endblock %}