{#
/**
 * @file
 * Default theme implementation to display a Static Ticker block.
 *
 * Available variables:
 * - icon: The icon.
 * - message: The message.
 * - wrapper_attributes: array of HTML attributes, intended to be added to the main
 *   container tag of this template.
 *   - classes: A list of classes to identify position and styles of the block.
 *
 * @ingroup themeable
 */
#}
<div class="openy-digital-signage-block-static-ticker">
  <div{{ wrapper_attributes }}>
    <div class="openy-digital-signage-block-static-ticker__icon">
      <i class="glyphicon glyphicon-{{ icon }}"></i>
    </div>
    <div class="openy-digital-signage-block-static-ticker__message">
      {{ message|raw }}
    </div>
  </div>
</div>
