.flip-cards h2 {
  text-align: center;
}
.flip-cards .container {
  position: relative;
  perspective: 800px;
  margin: 20px auto;
}

.flip-cards .card {
  width: 293px;
  height: 409px;
  float: left;
  margin-right: 30px;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  cursor: pointer;
}

.flip-cards .card:last-child {
  margin-right: 0px;
}

.flip-cards .card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}
.flip-cards .card figure img {
  width: 100%;
}

.flip-cards .card figure span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  font-size: 40px;
}

.flip-cards .card .front {
  background: #fff no-repeat left top;
  background-size: contain;
}
.flip-cards .card .back {
  background: #F47920;
  transform: rotateY( 180deg );
  border: 2px solid #eee;
  border-radius: 5px;
  color: #fff;
}

.flip-cards .card .back.winner {
  background: #01A490;
}


.flip-cards .card.flipped {
  transform: rotateY( 180deg );
}
