.flip-cards h2 {
  text-align: center;
}
.flip-cards .container {
  position: relative;
  perspective: 800px;
  margin: 20px auto;
}

.flip-cards .card {
  width: 270px;
  height: 378px;
  float: left;
  margin-right: 30px;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  cursor: pointer;
}

.flip-cards .card:last-child {
  margin-right: 0px;
}

.flip-cards .card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-cards .card.flipped figure.front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.flip-cards .card.flipped figure.back {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -moz-backface-visibility: visible;
}

.flip-cards .card figure img {
  width: 100%;
}

.flip-cards .card figure span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 250px;
  font-size: 40px;
}

.flip-cards .card .front {
  background: #fff no-repeat left top;
  background-size: contain;
  z-index: 2;
}

.flip-cards .card .back {
  background: #f47920;
  transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg );
  border: 2px solid #eee;
  border-radius: 5px;
  color: #fff;
  z-index: 1;
}

.flip-cards .card.flipped .front {
  z-index: 1;
}

.flip-cards .card.flipped .back {
  z-index: 2;
}

.flip-cards .card .back.winner {
  background: #01a490;
}

.flip-cards .card.flipped {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY(180deg);
}
