.game-scratchcard {
  position: relative;
}
.game-scratchcard .box {
  width: 400px;
  height: 360px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.game-scratchcard .box img {
  max-width: 400px;
  max-height: 360px;
}
.game-scratchcard .content {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #fff;
}
.game-scratchcard .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 360px;
  cursor: pointer;
}
