{#
/**
 * @file
 * Default theme implementation for the slick-thumbnail item template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - item.slide: A renderable array of the thumbnail image/background.
 * - item.caption: A renderable array containing caption text.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_slick_thumbnail()
 */
#}
{%
  set classes = [
    'slick__slide',
    'slide',
    'slide--' ~ delta
  ]
%}
{% block slick_thumbnail %}
  <div{{ attributes.addClass(classes) }}>
    {{ item.slide }}
    {% if item.caption is not empty %}
      <div class="slide__caption">{{ item.caption }}</div>
    {% endif %}
  </div>
{% endblock %}
