{% if not is_mobile %}
<div class="top-navs nav hidden-xs hidden-sm" data-offset-top="1">
    <div class="container">
        <div class="page-head__logo">
            {% block page_logo_2 %}
                {{ page.logo }}
            {% endblock %}
        </div>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="page-head__main-menu header-content hidden-xs">
            <div class="pull-right page-head__secondary-menu">
                {{ page.secondary_menu }}
            </div>
            <div class="pull-right page-head__primary-menu nav-home">
                {{ page.primary_menu }}
            </div>
        </div>
    </div>
</div>
{% endif %}
