{#
/**
 * @file
 * Expander block template.
 *
 * Available variables:
 * - header: Block header.
 * - content: Block content.
 *
 * @ingroup themeable
 */
#}
<div class="expander-block collapsed">
  <h4>{{ header }}</h4>
  <div class="content">{{ content }}</div>
</div>
