//
// Colours
// --------------------------------------------------

// grays
$white:    #fff !default;
$gray-100: #ebebeb;
$gray-200: #ccc;
$gray-300: #979797;
$gray-400: #636466;
$gray-500: #4f4f4f;
$gray-600: #333333;
$gray-700: #2f2f2f;
//$gray-800: #777777 !default;
//$gray-900: #212529 !default;
$black:    #000 !default;

// openy colour palette
$sky-blue:            #bfe1f3;
$light-blue:          #00aeef;
$blue:                #0089d0;
$dark-blue:           #0060af;
$pink:                #c6168d;
$indigo:              #92278f;
$purple:              #5c2e91;
$red:                 #ed1c24;
$orange:              #f15922;
$yellow:              #fcaf17;
$green:               #20bdbe;
$teal:                #006b6b;
$cyan:                #01a490;

$colors: () !default;
$colors: map-merge((
    "sky-blue":       $sky-blue,
    "light-blue":     $light-blue,
    "dark-blue":      $light-blue,
), $colors);

$theme-colors: () !default;
$theme-colors: map-merge((
    "black":       $black
), $theme-colors);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base:              1rem !default;            // 16px
$font-size-sm:                ($font-size-base * .875); // 14px
$font-size-xs:                ($font-size-base * .625); // 10px

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-border-radius:            0;

// Navbar
$navbar-padding-y:                  1rem;
$navbar-padding-x:                  0;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75);
//$navbar-dark-active-color:          $white !default;
//$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='4' stroke-linecap='square' stroke-miterlimit='8' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
//$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

// Body
//
// Settings for the `<body>` element.
//$navbar-brand-height: 91;


// Body
//
// Settings for the `<body>` element.
//$body-color:      $gray-700;

// Links
//
// Style anchor elements.
//$link-color:                $primary-darker;
//$link-decoration:           none !default;
//$link-hover-color:          $blue-027;
//$link-hover-decoration:     none;

// Customize the light and dark text colors for use in our YIQ color contrast function.
//$yiq-text-dark:   $blue;