.fullcalendar {
  .fc-header-toolbar {
    background-color: #fff;
    margin-bottom: 0;
    padding: 23px 0 20px;
    .fc-center {
      h2 {
        font-size: 20px;
        letter-spacing: -0.5px;
        color: #2e2e2e;
        text-transform: uppercase;
      }
    }
    .ui-button {
      border: none;
      background: none;
      height: 24px;
    }
    .fc-prev-button {
      margin-right: 30px;
      span {
        background: url('../img/arrow-left.svg') no-repeat 0 0;
      }
    }
    .fc-next-button {
      margin-left: 30px;
      span {
        background: url('../img/arrow-right.svg') no-repeat 0 0;
      }
    }
  }
  .fc-view-container .fc-view {
    * {
      border-color: #d7d7d7;
    }
    .fc-head-container {
      .fc-row {
        background: #f3f3f3;
      }
      th {
        font-family: "Cachet Book", Arial, sans-serif;
        font-size: 17px;
        letter-spacing: -0.4px;
        color: #2e2e2e;
        font-weight: normal;
        span {
          display: block;
          height: 50px;
          line-height: 50px;
          background-color: #f3f3f3;
        }
      }
    }
    .ui-widget-content {
      background: none;
    }
    .fc-day {
      background-color: #eeeeee;
    }
    .fc-day-top {
      font-family: Cachet;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -0.6px;
      text-align: center;
      color: #999999;
      padding-top: 24px;
      .fc-day-number {
        float: none;
      }
    }
    td {

    }
  }
}
