.form-item {
  margin-bottom: 15px;
}

#edit-preview {
  display: none;
}

.form-wrapper {
  margin-bottom: 15px;
}

.field--type-list-integer {
  legend {
    border: none;
    margin: 0;
    padding: 7px 0;
  }

  .fieldset-legend {
    color: #000;
    text-transform: none;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  label {
    font-weight: normal;
  }

  input {
    margin-right: 10px
  }

  .form-item {
    margin: 0 0 7px;
  }
}

.form-tel.error {
  border-color: $red-dark;
}
