.locations-camps-template, .ancestor-locations, .theme_ymca_2013_location_home {
  .tabs--primary {
    margin-top: 51px;
  }
}

.location-schedules-content {
  .file {
    display: list-item;
    list-style-type: disc;
    margin-left: 40px;
  }
}

.locations-page-under-lead-copy {
  h2 {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Cachet';
  }
  li {
    @media (min-width: 768px) {
      float: left;
      width: 50%;
    }
    a {
      font-weight: bold;
      font-family: 'Cachet';
    }
    position: relative;
    margin: 5px 0;
    padding-left: 20px;
    list-style: none;
    &:before {
      position: absolute;
      top: 2px;
      left: 0;
      margin-right: 8px;
      color: #bebcbc;
      content: '>';
      font-family: 'YMCA';
    }
  }
  ul {
    padding: 0;
  }
}
