.locations-camps-template, .ancestor-locations, .theme_ymca_2013_location_home {
  .tabs--primary {
    margin-top: 51px;
  }
}

.location-schedules-content {
  .file {
    display: list-item;
    list-style-type: disc;
    margin-left: 40px;
  }
}
