.groupex-form-full {
  .instructor-chosen {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: "Cachet", Arial, sans-serif;
    font-weight: bold;
  }
}

.groupex-results {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  table {
    width: 100%;
    td {
      padding: 4px;
    }
    tr {
      &:nth-child(even) td {
        background-color: $sky-blue;
      }
      &:nth-child(odd) td {

      }
      td.caption {
        background-color: $grey3;
        text-align: center;
        font-weight: bold;
        font-family: "Cachet", Arial, sans-serif;
        a {
          color: $black2;
        }
      }
    }
  }
}
