.toolbar-fixed {
  .navbar-fixed-top {
    margin-top: 39px;
  }
  &.toolbar-horizontal {
    &.toolbar-tray-open {
      .navbar-fixed-top {
        margin-top: 79px;
      }
    }
  }
  &.toolbar-vertical {
    margin-top: 39px;
    padding-top: 0 !important;

    &.toolbar-tray-open {
      .navbar-fixed-top {
        left: 150px;
      }
    }
  }
}
