{#
/**
 * @file
 * Camp du Nord Village template.
 *
 * @ingroup themeable
 */
#}
<div class="inner">
  <img src="{{ image }}" alt="{{ title }}" />
  <div class="info">
    <span class="title">{{ title }}</span>
    <span class="capacity"><i class="fa fa-user"></i>{{ capacity }}</span>
  </div>
</div>

