.paragraphs-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.paragraphs-actions > .button {
  margin-left: 5px;
  margin-right: 0;
}

.paragraphs-actions > .button + .paragraphs-dropdown {
  margin-left: 5px;
}

.paragraphs-actions .paragraphs-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.paragraphs-dropdown {
  position: relative;
}

.paragraphs-dropdown-toggle {
  display: block;
  height: 36px;
  width: 36px;
  background: url("../icons/icon-actions.svg") no-repeat center;
  background-size: 26px 26px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media (min-width: 768px) {
  .paragraphs-dropdown-toggle {
    height: 26px;
    width: 26px;
  }
}

.paragraphs-dropdown-toggle:hover, .paragraphs-dropdown-toggle:focus {
  background-color: #f9f8f6;
  border: 1px solid #a6a6a6;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
  outline: none;
}

.paragraphs-dropdown-actions {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 100;
  background: #f9f8f6;
  border: 1px solid #a6a6a6;
  border-radius: 5px 0 5px 5px;
  -webkit-box-shadow: 0 2px 6px 0 #aaa;
          box-shadow: 0 2px 6px 0 #aaa;
}

@media (min-width: 768px) {
  .paragraphs-dropdown-actions {
    top: 26px;
  }
}

.item-list .paragraphs-dropdown-actions {
  list-style: none;
}

.item-list .paragraphs-dropdown-actions li {
  margin: 0;
  list-style: none;
}

.paragraphs-dropdown.open .paragraphs-dropdown-actions {
  display: block;
}

.paragraphs-dropdown-action {
  width: 100%;
}

.paragraphs-dropdown-action.button {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  background: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
}

.paragraphs-dropdown-action.button:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-wrapper .paragraphs-dropdown-action.button {
  margin-top: 0;
}

@media (max-width: 768px) {
  .form-wrapper .paragraphs-dropdown-action.button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.paragraphs-actions-item-icon {
  height: 20px;
  padding: 0 10px;
}
