.paragraph-1c-wrapper {
  padding-bottom: 30px;
  .field-prgf-1c-title {
    @include cachet();
    font-weight: normal;
    font-size: 28px;
    color: $default-grey;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: $screen-tablet) {
      font-size: 40px;
    }
  }

  .field-prgf-1c-description {
    p {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }
}

.node--type-landing {
  .field-landing-body > .paragraph-1c-wrapper {
    @media (min-width: $screen-tablet) {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
