.paragraph--type--all-amenities {
  .field-field-prgf-amnts-view {
    table {
      width: 100%;
      tr {
        border: none;
        padding: 0;
      }
      td {
        padding: 7px 10px;
      }
      tr:nth-child(odd) {
        td {
          background-color: $green-aa;
        }
      }
      tr:nth-child(even) {
        td {
          background-color: $dark-green-aa;
        }
      }
    }
    .views-field-title {
      font-size: 16px;
      a {
        color: $white;
        @include cachet();
      }
    }
  }
  .views-field-field-location-amenities {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 1px 5px;
    }
  }

  .field-amenities-icon {
    background-color: $white;
    border-radius: 32px;
    padding: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    svg {
      * {
        fill: $dark-green-aa;
      }
    }
  }

  .views-element-container {
    margin: 0 15px 40px;
    legend {
      color: $default-grey;
      span {
        border-bottom: 1px solid #ccc;
        color: $default-grey;
        text-transform: none;
        display: block;
        margin: 20px 0;
      }
    }
    form {
      margin-bottom: 1em;
      .webform-options-display-one-column.form-checkboxes {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        @media (max-width: $screen-phone) {
          -webkit-columns: 1;
          -moz-columns: 1;
          columns: 1;
        }
        @media (min-width: $screen-tablet) {
          -webkit-columns: 2;
          -moz-columns: 2;
          columns: 2;
        }
        @media (min-width: $screen-desktop) {
          -webkit-columns: 4;
          -moz-columns: 4;
          columns: 4;
        }
      }
      .form-item {
        margin: 0 0 5px;
        .field-amenities-icon {
          padding: 2px;
          width: 30px;
          height: 30px;
          margin: 0 4px;
        }
        label {
          .field-amenities-icon-wrapper {
            vertical-align: middle;
          }
          .term-name {
            @media (max-width: $screen-phone) {
              width: auto;
              font-weight: bold;
            }
            @media (min-width: $screen-tablet) {
              width: auto;
              font-weight: normal;
            }

            @media (min-width: $screen-desktop) {
              width: 155px;
            }
            @media (min-width: $screen-lg-desktop) {
              width: auto;
            }
          }
          div {
            display: inline-block;
            svg {
              * {
                fill: $blue;
                color: $green-aa;
              }
            }
          }
        }
      }
    }
  }

  .views-field-field-location-amenities .term-name {
    display: none;
  }
}

.list-branch-amenities-wrapper {
  h5 {
    font-size: 15px;
    @include verdana();
  }
}

.field-prgf-3c-left .header-amenities {
  font-weight: bold;
}

.paragraph--type--branch-amenities {
  border: none;
  margin-bottom: 50px;
  color: $default-grey;
  padding: 30px 40px;

  .field-amenities-block {
    text-align: center;
  }

  .field-sb-title {
    @extend h2;
    text-transform: uppercase;
  }
  .field-branch-am {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .list-branch-amenities-wrapper {
    width: 100%;

    .col-md-6 {
      padding-right: 5px;
      padding-left: 5px;

      &:nth-child(2) {
        .term-name {
          @media (max-width: 766px) {
            margin-top:0px;
          }
        }
      }
    }

    .header-amenities {
      @include cachet;
      font-size: 20px;
      margin-top: 10px;
      text-align: left;
    }

    .term-name {
      @include cachet;
      display: flex;
      border-radius: 5px;
      padding: 5px 0;
      text-align: left;
      font-size: 15px;
    }
    .term-name:before {
      font-family: "FontAwesome";
      font-weight: 900;
      content: "\f00c";
      color: $green-aa;
      display: inline-block;
      font-size: 15px;
      padding: 0 10px;
      font-weight: 900;
    }
    .term-name .name {
      display: inline-block;
      padding-left: 8px;
    }

    .amenities-closed .term-name:before {
      font-family: "FontAwesome";
      font-weight: 900;
      content: "\f00d";
      color: $red;
    }
  }

  .field-sb-link a {
    display: inline-block;
    font-size: 15px;
    margin-top: 25px;
  }

  .field-icon-class {
    display: none;
  }
}
