.paragraph--type--secondary-description-sidebar {
  background: $extra-grey3;
  padding: 10px 0 20px 0;
  margin-bottom: 20px;
  color: $darker-grey;
  font-family: $font-family-sans-serif;
  font-weight: 200;
  line-height: 1.4;
  @include breakpoint ($tablet) {
    margin-bottom: 40px;
    padding: 0;
  }

  .left {
    font-size: 18px;
    padding: 15px 0;
  }
  .right {
    padding: 15px 0;
    text-align: right;
    font-size: 18px;
    a {
      font-weight: bold;
    }
  }
}