<section class="page-header page-title title-only">
  <div class="container title-container">
    <div class="row">
      <div class="col-sm-12 header-copy">
        {% block label_and_description %}{% endblock %}
      </div>
    </div>
  </div>
</section>

