<div class="yfr-content-info">
  <div class="row">
    <div class="col-sm-12">
      <p><strong> {{ 'Thanks for registering for the Y Strive Challenge.'|t }}</strong></p>
      <p>{{ 'Check your email for additional details—you should receive an email confirmation on the next business day.'|t }}</p>
      <p>{{ 'Add <b>mail@ymcamn.org</b> to your address book to ensure you receive all Y Strive Challenge emails.'|t }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#" class="btn btn-lg btn-primary compain-green" data-dismiss="modal">{{ 'OK'|t }}</a>
    </div>
  </div>
</div>
