<div class="compain-content-bonus">
  <p class="days-left"><b data-ng-bind-html="retentionC.daysLeftMessage()"></b></p>
  <p>{{ 'This section is not available at the moment'|t }}</p>
  <p><strong>{{ 'The Challenge will start soon.'|t }}</strong></p>
  <a class="btn btn-lg btn-primary campaign-blue" data-dismiss="modal" href="#">{{ 'OK'|t }}</a>
</div>
