{% if class_location is not empty %}
  {{ class_location }}
{% else %}
  <div class="empty-text">
    <h2>{{ 'Class schedule for all locations'|t }}</h2>
    <a href="#" class="edit-class-popup hidden">{{ "Change Location"|t }}</a>
  </div>
{% endif %}
