{#
/**
/**
 * @file
 * Contains top menu site search form static template.
 *
 * Available variables:
 * - base_path - the website's base path.
 * - display_search - flag to enable display search.
 */
#}

{% if display_search %}
  <div class="header-search-wrapper">
    <form method="get" action="{{ search_results_path }}">
      <input type="search" name="{{ search_key }}" class="search-input" placeholder="{{ 'Search'|t }}">
      <input type="submit" value="Search">
      <button type="submit" class="fa fa-search search-input-decoration" aria-hidden="true"></button>
    </form>
  </div>
{% endif %}
