<div class="flip-cards">
    <div class="title">Select one card</div>
    <section class="container">
        <div class="card">
            <figure class="front"></figure>
            <figure class="back">{{ result }}</figure>
        </div>
        <div class="card">
            <figure class="front"></figure>
            <figure class="back">{{ result }}</figure>
        </div>
        <div class="card">
            <figure class="front"></figure>
            <figure class="back">{{ result }}</figure>
        </div>
    </section>
</div>
