<div class="back-link">{{ link }}</div>
<div class="game-magic-ball">
    <div class="shadow"></div>
    <div class="epos">
        <div class="eball">
            <div class="egrad"></div>
            <div class="ewin"></div>
            <div class="triangle"></div>
            <div class="textbox">{{ result }}</div>
        </div>
    </div>
</div>
