<div class="back-link">{{ link }}</div>
<div class="game-scratchcard">
    <div class="box">
        <div class="content">
            {{ result }}
        </div>
        <div class="mask"><canvas id="j-cvs"></canvas></div>
    </div>
</div>
