$icons: (
    sprite: (width: 472px, height: 427px, svgPath: '../images/sprite.svg'),
icon-camps: (width: 50px, height: 50px, backgroundX: 0px, backgroundY: 0px),
icon-childcare: (width: 50px, height: 50px, backgroundX: -60px, backgroundY: -60px),
icon-facebook-f: (width: 12px, height: 20px, backgroundX: -120px, backgroundY: -120px),
icon-kidsteensfamilies: (width: 50px, height: 50px, backgroundX: -142px, backgroundY: -150px),
icon-noun_130272: (width: 50px, height: 44.93px, backgroundX: -202px, backgroundY: -210px),
icon-noun_99411: (width: 50px, height: 33.33px, backgroundX: -262px, backgroundY: -265px),
icon-search: (width: 22px, height: 22px, backgroundX: -322px, backgroundY: -309px),
icon-swimming: (width: 50px, height: 19.01px, backgroundX: -354px, backgroundY: -341px),
icon-twitter: (width: 20px, height: 16px, backgroundX: -414px, backgroundY: -371px),
icon-youtube: (width: 18px, height: 20px, backgroundX: -444px, backgroundY: -397px),
);
