$icons: (
    sprite: (width: 112px, height: 118px, svgPath: '../images/sprite.svg'),
icon-facebook-f: (width: 12px, height: 20px, backgroundX: 0px, backgroundY: 0px),
icon-search: (width: 22px, height: 22px, backgroundX: -22px, backgroundY: -30px),
icon-twitter: (width: 20px, height: 16px, backgroundX: -54px, backgroundY: -62px),
icon-youtube: (width: 18px, height: 20px, backgroundX: -84px, backgroundY: -88px),
);
