.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.pull-right-lg {
  @include breakpoint(laptop) {
    float: right !important;
  }
}

// Embedded items.
.embedded-entity {
  clear: both;
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
  img {
    height: auto;
    width: 100%;
  }
  .media-document {
    iframe {
      height: 500px;
      width: 100%;
    }
  }
  &.view-mode-media-embedded-full {
    width: 100%;
  }
  &.view-mode-media-embedded-half {
    width: 50%;
    @media (min-width: 0) and (max-width: $screen-xs) {
      width: 100%;
    }
  }
  &.align-center {
    text-align: center;
  }

  &.align-left {
    @media (min-width: 0) and (max-width: $screen-xs) {
      float: none;
      text-align: center;
    }
    @media (min-width: $screen-xs) {
      float: left;
      margin-right: 20px;
    }
  }

  &.align-right {
    @media (min-width: 0) and (max-width: $screen-xs) {
      float: none;
      text-align: center;
    }
    @media (min-width: $screen-xs) {
      float: right;
      margin-left: 20px;
    }
  }
}