.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.pull-right-lg {
  @include breakpoint(laptop) {
    float: right !important;
  }
}
