{#
/**
 * @file
 * OpenY Schedules Branch Hours.
 *
 * Available variables:
 * - branch_hours: contains branch, activity hours.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="timeshift">
    <div class="row row-eq-height">
      {% for title, hours in branch_hours %}
        <div class=" row-eq-height">
          <div class="card">
            {% if title == 'main' %}
            <h4>{{ 'Today\'s Branch Hours'|t }}</h4>
            {% else %}
            <h4>{{ title }}</h4>
            {% endif %}
              <p>
              {% for hour in hours.hours %}
                {{ hour }} <br/>
              {% endfor %}
              </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
