{#
/**
 * @file
 * OpenY Schedules Alerts.
 *
 * Available variables:
 * - alerts: contains render array of alerts.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{ alerts|raw }}
    </div>
  </div>
</div>
