{#
/**
 * @file
 * Default theme implementation for the slick-test template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - content: A renderable array of the content.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_slick_test()
 */
#}
<div{{ attributes.addClass('slick-test') }}>
  {{ content }}
 </div>
