.compain-intro-block {
  @include background-image(linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(37,131,127,0.1) 100%));
  @include rem(margin, 0 -20px 30px);
  @include rem(padding, 30px 20px);

  @include breakpoint($tablet) {
    @include rem(margin, 0 -30px 60px);
    @include rem(padding, 60px 30px);
  }

  @include breakpoint($desktop-small) {
    @include rem(margin-left, -50px);
    @include rem(margin-right, -50px);
    @include rem(padding-left, 50px);
    @include rem(padding-right, 50px);
  }

  @include breakpoint($desktop) {
    @include rem(margin-left, -100px);
    @include rem(margin-right, -100px);
    @include rem(padding-left, 100px);
    @include rem(padding-right, 100px);
  }

  .content {
    background: none;

    @include breakpoint($tablet) {
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  .content-text {
    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
    @include rem(margin, 0 0 30px);

    @include breakpoint($tablet) {
      @include rem(font-size, 20px);
      @include rem(line-height, 32px);
      @include rem(margin, 0 0 0);
      @include rem(max-width, 530px);
      width: 60%;
      float: left;
    }
  }

  .compain-btn {
    @include breakpoint($tablet) {
      @include rem(margin, 16px 0 0 0);
      float: right;
      width: 40%;
    }
  }

  .btn {
    display: block;

    @include breakpoint($tablet) {
      @include rem(min-width, 280px);
      max-width: 100%;
      float: right;
    }
  }
}
