.compain-tabs {
  border-bottom: 1px solid $green-medium;


  @include breakpoint($tablet) {
    @include rem(padding, 30px 0 0 0);
  }

  @include breakpoint($desktop-small) {
    @include rem(padding, 50px 0 0 0);
  }

  > li {
    @include rem(margin, 0 14px 0 0);
    border-bottom: 6px solid $white;
    transition: margin-right .5s, border-bottom .2s;

    @include breakpoint($desktop-small) {
      @include rem(margin, 0 60px 0 0);
    }

    @include breakpoint($desktop+60) {
      @include rem(margin, 0 80px 0 0);
    }

    &:hover {
      border-bottom: 6px solid $green-medium;
    }

   > a {
      @include cachet-normal();
      @include rem(font-size, 16px);
      @include rem(line-height, 42px);
      @include rem(padding, 6px 0 0);
      background: none !important;
      border: none;
      color: $green-medium;
      display: block;
      margin: 0;
      position: relative;
      text-transform: uppercase;
      transition: color .2s;

      &:hover,
      &:focus {
        color: $grey7 !important;
      }

      @include breakpoint($desktop-small) {
        @include rem(font-size, 20px);
      }
    }

    &.active {
      border-bottom: 6px solid $green-medium;

      > a {
        color: $grey7;
      }
    }

    &.compain-tabs--detailed {
      margin: 0;
      float: right;
    }
  }
}

.compain-accordion {

  .panel,
  .panel-body,
  .panel-heading {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .panel-heading {
    a {
      @include cachet-normal();
      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
      @include rem(padding, 28px 10px 4px);
      @include rem(margin, 0 0 4px 0);
      color: $green-medium;
      display: block;
      position: relative;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid $green-medium;

      &.collapsed {
        color: $green-medium;
        border-bottom: 1px solid rgba($green-medium, 0.13);
      }

      &:hover,
      &:active {
        border-bottom: 1px solid $green-medium;
      }

      &:after {
        @include rem(height, 6px);
        @include rem(width, 24px);
        content: '';
        background: #fff inline-image('../prototypes/ysr_2017/img/tabs/icon-tab-arrow-down.svg') 50% 50% no-repeat;
        background-size: 10px 6px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      &.collapsed {

        &:after {
          background-image: inline-image('../prototypes/ysr_2017/img/tabs/icon-tab-arrow-up.svg');
        }
      }
    }
  }

  .panel-title {
    @include rem(padding, 0 20px);
  }

  .panel {

    > .panel-heading {

      + {
        .panel-collapse {
          .panel-body {
            border: none;
          }
        }
      }
    }
  }
}
