.loader {
  .loader-icon {
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100px;
    background-image: url(../images/rolling.svg);
    background-position: center;
    background-size: contain;
  }
}

.screen {
  display: none;
}

.screen-active {
  display: block;
}

.screen,
.screen-content {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.screen-content {
  display: none;
  font-family: $fontBold;
  font-weight: normal;
  padding: 0;


}

.screen-content-active,
.screen-content-activating {
  display: block;
}

.openy-ds-layout {
  background-image: url(../images/bg-body-blue.png);

  .scheme-orange & {
    background-color: #fcaf17;
    background-image: url(../images/bg-body-orange.png);
  }

  &.landscape {
    width: 100vw;
    height: 56.25vw;
  }

  &.portrait {
    margin: auto;
    width: 56.25vh;
    height: 100vh;
  }
}
