
//Breakpoints definition

// Mobile first.
$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 1200px;

// Grid variables
$container-margin: 15px;

$column-mobile: 4;
$column-tablet: 8;
$column-desktop: 12;