::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.form-control {
  border: 1px solid $medium-grey;
  border-radius: 0;
  text-shadow: none;
  padding: 6px 12px 6px 5px;
}

.btn {
  &.btn-primary {
    @include btn-large-purple();
  }

  &.btn-link {
    text-decoration: none;
  }
}

/* Prevent iphone from zooming in when filling out a form. */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width : 999px)  {
  select,
  input,
  textarea {
    font-size: 16px!important;
  }
}
