{%
  set header_classes = [
    'landing-header',
    'w-100',
    node.field_lp_layout.value|clean_class,
  ]
%}

{% if content.field_header_content|render|trim is not empty %}
  <article{{ attributes.addClass(header_classes) }}>
    <div{{ content_attributes.addClass('content') }}>
      <div class="main">
        {{ content.field_header_content }}
      </div>
    </div>
  </article>
{% else %}
  <div class="page-heading banner banner--small banner--grey">
    <div class="banner-cta d-block d-lg-flex">
      <div class="banner-cta-content container align-items-center m-auto py-4 py-lg-5 text-white">
        <div class="banner-cta-section">

          {% if label|render|trim is not empty %}
          <h1 class="banner-title text-uppercase m-0 text-white">
            {{ label }}
          </h1>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endif %}