{% if content.field_content is not empty %}
  <div class="container">
    <article{{ attributes.removeClass(header_classes).addClass(content_classes) }}>
      <div class="two-column row">
        <div class="main-region col-md-7 col-lg-8">
          {{ content.field_content }}
        </div>
        <div class="sidebar-region col-md-5 col-lg-4">
          <article{{ attributes.removeClass(header_classes).removeClass(content_classes).addClass(sidebar_classes) }}>
            {{ content.field_sidebar_content }}
          </article>
        </div>
      </div>
    </article>
  </div>
{% endif %}
