@media screen and (min-width: 0) and (max-width: 767px) {
  .search-form-wrapper.col-xs-12 {
    position: relative;

    .search-input {
      width: 100%;
      border: 1px solid white;
      border-radius: 4px;
      padding: 5px;
    }

    //.fa.fa-search.search-input-decoration {
    //  position: absolute;
    //  right: 25px;
    //  top: 16px;
    //  color: $pink;
    //  font-size: 18px;
    //}
  }
  //
  //body.with-banner .banner-zone-node {
  //  margin-top: 52px;
  //}

  //.page-head__top-menu {
  //  #block-openy-carnation-main-menu .menu-item-home {
  //    display: none;
  //  }
  //}

  //.top-navs {
  //  .navbar-default {
  //    background-color: $blue;
  //    border-color: $blue;
  //
  //    .navbar-toggle {
  //      .icon-bar {
  //        background-color: white;
  //      }
  //
  //      &:hover {
  //        background: transparent;
  //      }
  //    }
  //  }
  //
  //  .name.navbar-brand {
  //    display: none;
  //  }
  //
  //  &.affix {
  //    background: none !important;
  //  }
  //
  //  &.fixed-top.visible-xs.visible-sm.affix-top {
  //    height: 0 !important;
  //  }
  //}

  //.without-banner .viewport {
  //  margin-top: 52px !important;
  //}

  //.sidebar {
  //  top: 52px;
  //  background: $blue;
  //
  //  .page-head__top-menu li a {
  //    padding: 10px 0;
  //    color: white;
  //  }
  //
  //  .nav-level-2.show,
  //  .row-level-2 {
  //    background-color: transparent;
  //  }
  //
  //  .nav-level-2.show .row-level-2 {
  //    border-bottom: 1px solid rgba(white, 0.2);
  //  }
  //
  //  .nav-level-3 {
  //    .row-level-3 {
  //      //display: none;
  //    }
  //
  //    &.show .row-level-3 {
  //      display: block;
  //      border-bottom: 1px solid $gray-300;
  //    }
  //  }
  //}

  .path-frontpage .paragraph--type--header-banner {
    margin-bottom: 0 !important;
  }

  .paragraph--column-in-a-grid .inner {
    h2 {
      margin-top: 0;
    }

    .text {
      height: 100%;
      margin-bottom: 20px;
    }
  }

  .paragraph-gallery .carousel .carousel-control {
    width: 46px;
    height: 46px;

    .fa {
      line-height: 50px;
    }
  }

  .paragraph--type--upcoming-events {
    .views-row {
      margin-bottom: 40px;
    }

    .upcoming-events__header-info.clearfix {
      padding-top: 0;
    }

    .field-prgf-block {
      padding-bottom: 0;
    }
  }

  //.paragraph--type--banner .banner-cta {
  //  position: relative;
  //  background: $green;
  //  display: block;
  //  word-wrap: break-word;
  //
  //  .banner-description {
  //    color: white;
  //  }
  //}

  #block-footertel ul {
    padding: 0;
  }

  .region-footer-social .list-inline {
    text-align: left !important;
    margin-top: 15px;
  }

  .node,
  .two-columns-container,
  .user-login,
  .webform-submission-form {
    min-height: 100% !important;
  }

  #btn-shw-hide {
    transition: all 0.3s ease-in-out 0s;
    padding: 0 10px;
    float: left;
    width: 100%;

    ul.jquerymenu li span.parent {
      margin-right: 10px !important;
      right: 0;
      margin-top: 0;
      margin-left: 0;
      background-size: 20px auto !important;
      height: 20px;
      width: 20px;
      float: right;
      position: relative !important;
    }

    ul.jquerymenu li.parent span.closed {
      background: url("../img/plus-wite.png");
    }

    ul.jquerymenu li.parent span.open {
      background: url("../img/mines-wite.png");
    }

    ul {
      padding: 0;

      li {
        padding: 10px 0;
        list-style: none;
        border-top: dotted 1px #eee;

        ul {
          padding: 0 0 0 20px;

          li {
            border: 0 solid;
          }
        }
        
        a {
          color: #fff;
          font-size: 14px;
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}