@media screen and (min-width: 768px) and (max-width: 991px) {
  .search-form-wrapper.col-xs-12 {
    position: relative;
   
    .search-input {
      width: 100%;
      border: 1px solid white;
      border-radius: 4px;
      padding: 5px;
    }
  }

  .path-frontpage .paragraph--type--header-banner {
    margin-bottom: -60px;
  }

  .paragraph-gallery .carousel .carousel-control {
    width: 55px;
    height: 55px;

    .fa {
      line-height: 59px;
    }
  }

  .paragraph--type--upcoming-events {
    .views-row {
      min-height: 440px;
    }

    .field-prgf-block {
      padding-bottom: 0;
    }
  }

  .region-footer-info,
  .region-footer-tel {
    min-height: 100px;
  }
}
