@media screen and (min-width: 768px) and (max-width: 991px) {
  .search-form-wrapper.col-xs-12 {
    position: relative;
   
    .search-input {
      width: 100%;
      border: 1px solid white;
      border-radius: 4px;
      padding: 5px;
    }
    
    //.fa.fa-search.search-input-decoration {
    //  position: absolute;
    //  right: 25px;
    //  top: 16px;
    //  color: $pink;
    //  font-size: 18px;
    //}
  }

  //.page-head__top-menu {
  //  #block-openy-carnation-main-menu .menu-item-home {
  //    display: none;
  //  }
  //}

  //.without-banner .viewport {
  //  margin-top: 52px !important;
  //}

  //.sidebar {
  //  top: 52px;
  //  background: $blue;
  //
  //  .page-head__top-menu li a {
  //    padding: 10px 0;
  //    color: white;
  //  }
  //
  //  .nav-level-2.show,
  //  .row-level-2 {
  //    background-color: transparent;
  //  }
  //
  //  .nav-level-2.show .row-level-2 {
  //    border-bottom: 1px solid rgba(white, 0.2);
  //  }
  //
  //  .navbar-nav > li {
  //    width: 100%;
  //  }
  //}

  .path-frontpage .paragraph--type--header-banner {
    margin-bottom: -60px;
  }

  .paragraph-gallery .carousel .carousel-control {
    width: 55px;
    height: 55px;

    .fa {
      line-height: 59px;
    }
  }

  .paragraph--type--upcoming-events {
    .views-row {
      min-height: 440px;
    }

    .field-prgf-block {
      padding-bottom: 0;
    }
  }

  //.paragraph--type--banner .banner-cta {
  //  position: relative;
  //  background: $green;
  //  display: block;
  //  padding: 0 0 30px;
  //  word-wrap: break-word;
  //
  //  .banner-description {
  //    color: white;
  //  }
  //}

  .region-footer-info,
  .region-footer-tel {
    min-height: 100px;
  }

  //.list-inline {
  //  text-align: left;
  //}

  //.footer__copyright,
  //.region-footer-menus ul {
  //  text-align: center !important;
  //}
}
