.sitemap .description {
  margin-bottom: 0.5em;
}

.sitemap .sitemap-box {
  margin-bottom: 1em;
}

.sitemap .sitemap-box ul {
  padding-left: 1.5em;
}

.sitemap .sitemap-box ul ul {
  margin: 0;
}

/* Styles when RSS icons are displayed on the left. */
.sitemap .sitemap-rss-left ul {
  padding-left: 0;
}
.sitemap .sitemap-rss-left li {
  background-image: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sitemap .sitemap-rss-left ul li li {
  padding-left: 1.5em;
}
