/**
 * @file
 * Thumbnails hoverable inside dots.
 */

/* The main thumbnail container is slick-dots modifier */
.slick .slick-dots--thumbnail-hover {
  list-style: none;
  overflow: visible;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.slick .slick-dots--thumbnail-hover::after {
  content: "";
  display: table;
  clear: both;
}

.slick .slick-dots--thumbnail-hover li {
  overflow: hidden;
  position: relative;
  vertical-align: top;
  /* Individual thumbnail, adjust accordingly to actual thumbnail size */
}

.slick .slick-dots--thumbnail-hover li img {
  background: #fff;
  border: 2px solid transparent;
  display: block;
  opacity: .6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Overrides core > 1.3.11, otherwise thumbnails are non-clickable */
  pointer-events: auto;
}

.slick .slick-dots--thumbnail-hover li .slick-dots__thumbnail {
  bottom: 140%;
  left: 50%;
  margin: -60px 0 0 -60px;
  min-width: 120px;
  opacity: 0;
  overflow: visible;
  position: absolute;
  visibility: hidden;
  width: 120px;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick .slick-dots--thumbnail-hover li .slick-dots__thumbnail img {
  pointer-events: none;
}

.slick .slick-dots--thumbnail-hover li .slick-dots__thumbnail::after {
  border: 7px solid transparent;
  border-bottom: 0;
  border-top-color: #ff6d2c;
  bottom: -7px;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin: 0 0 0 -7px;
  position: absolute;
  width: 0;
}

.slick .slick-dots--thumbnail-hover li:hover {
  overflow: visible;
}

.slick .slick-dots--thumbnail-hover li:hover .slick-dots__thumbnail {
  bottom: 120%;
  margin-top: -20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 3;
}

.slick .slick-dots--thumbnail-hover li:hover img,
.slick .slick-dots--thumbnail-hover li.slick-active img {
  border: 2px solid #ff6d2c;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/**
 * Misc.
 */
.block .slick .slick-dots--thumbnail-hover {
  margin-left: 0;
  padding: 0;
}

@media (min-width: 720px) {
  .slick .slick-dots--thumbnail-hover {
    position: absolute;
  }
}
