.block-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  overflow: hidden;
  position: relative;
  width: 100%;

  table {
    max-width: 650px;
    overflow: hidden;
    width: 100%;
  }

  td {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  tr {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }

  .block-hero__title {
    box-sizing: border-box;
    color: $white;
    font-family: 'Arial Black';
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.9;
    padding: 20px 15px;
    text-align: center;
    text-transform: uppercase;
    max-width: 650px;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 650px;
  }

  &--bg {
    &--blue {
      .block-hero__title {
        background-color: $blue;
      }
    }

    &--purple {
      .block-hero__title {
        background-color: $purple-light;
      }
    }

    &--orange {
      .block-hero__title {
        background-color: $orange;
      }
    }

    &--green {
      .block-hero__title {
        background-color: $green;
      }
    }
  }
}
