body {
  color: #636466;
  font-family: "Cachet W01 Book", 'Ubuntu Condensed', sans-serif;
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  font-family: "Cachet W01 Book", 'Ubuntu Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  margin-bottom: 70px;
}
@media (min-width: 20em) {
  h1,
  .h1 {
    font-size: 24px;
  }
}
@media (min-width: 48em) {
  h1,
  .h1 {
    font-size: 24px;
  }
}
@media (min-width: 62em) {
  h1,
  .h1 {
    font-size: 48px;
  }
}
@media (min-width: 80.625em) {
  h1,
  .h1 {
    font-size: 48px;
  }
}

@media (min-width: 20em) {
  h2,
  .h2 {
    font-size: 24px !important;
  }
}
@media (min-width: 48em) {
  h2,
  .h2 {
    font-size: 36px !important;
  }
}
@media (min-width: 62em) {
  h2,
  .h2 {
    font-size: 36px !important;
  }
}
@media (min-width: 80.625em) {
  h2,
  .h2 {
    font-size: 36px !important;
  }
}

@media (min-width: 20em) {
  h4 {
    font-size: 18px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}
@media (min-width: 48em) {
  h4 {
    font-size: 18px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}
@media (min-width: 62em) {
  h4 {
    font-size: 24px !important;
    margin-top: 30px  !important;
    margin-bottom: 30px  !important;
  }
}
@media (min-width: 80.625em) {
  h4 {
    font-size: 24px !important;
    margin-top: 30px  !important;
    margin-bottom: 30px  !important;
  }
}

p {
  word-wrap: break-word;
}
@media (min-width: 20em) {
  p {
    font-size: 16px !important;
  }
}
@media (min-width: 48em) {
  p {
    font-size: 16px !important;
  }
}
@media (min-width: 62em) {
  p {
    font-size: 18px !important;
  }
}
@media (min-width: 80.625em) {
  p {
    font-size: 18px !important;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

@media (min-width: 62em) {
  .pull-right-lg {
    float: right !important;
  }
}

.ajax-progress-throbber {
  position: absolute;
  opacity: 0.2;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-eq-height:before, .row-eq-height:after {
  content: none;
}

body {
  background-color: #5c2e91;
}

.page-node-type-campaign-page main[role="main"],
.path-campaign-game main[role="main"],
.path-campaign-scorecards main[role="main"],
.path-team-member-registration main[role="main"],
.path-members-list main[role="main"] {
  background-color: #5c2e91;
}

.paragraph-background-container {
  /* fallback/image non-cover color */
  background-color: #c6168d;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#c6168d, #5c2e91);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6168d), to(#5c2e91));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #c6168d, #5c2e91);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#c6168d, #5c2e91);
}

.btn, .button {
  background-color: #c6168d;
}

.block-description--wrapper .block-description--text .field-sb-title h4 {
  color: #636466;
}

.paragraph-1c-wrapper .field-prgf-1c-description {
  color: #4f4f4f !important;
}

.visits-goal .description .goal {
  color: #c6168d;
}

.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-prize {
  color: #c6168d;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members tbody td:first-child {
  color: #c6168d;
}

.paragraph--type--campaign-leadership .leadership-members tbody td:nth-child(3) {
  color: #c6168d;
}

.form-item input + label:hover {
  color: #c6168d;
}
.form-item input:checked + label {
  color: #5c2e91;
}

.activity .paragraph-background-container {
  background-color: #92278F;
  background-image: -moz-linear-gradient(#c6168d, #92278f);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6168d), to(#92278f));
  background-image: -webkit-linear-gradient(top, #c6168d, #92278f);
  background-image: -o-linear-gradient(#c6168d, #92278f);
}

.category-data {
  background: #92278f;
  color: #fff;
}

.activity-data .categories ul li {
  background-color: #92278f;
  color: #fff;
}

.activity .paragraph-background-container:before {
  border-top: 30px solid #92278f;
}

.calendar .month .date-data.slick-current .weekday, .calendar .month .date-data.active .weekday {
  color: #c6168d;
}
.calendar .month .date-data.slick-current .visits .visited, .calendar .month .date-data.active .visits .visited {
  background: #c6168d;
}
.calendar .month .date-data.slick-current .visits .entriesNum, .calendar .month .date-data.active .visits .entriesNum {
  color: #92278f;
}

.calendar-wrapper .prev, .calendar-wrapper .slick-prev.slick-arrow {
  background: #c6168d;
}
.calendar-wrapper .next, .calendar-wrapper .slick-next.slick-arrow {
  background: #c6168d;
}

.progress-row .point.active svg g {
  fill: #c6168d;
}

.top-navs,
.sidebar,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
  background: #5c2e91;
}

.sidebar .page-head__top-menu a {
  background-color: #c6168d;
}

.sidebar .page-head__main-menu .campaign-menu > li {
  background-color: #c6168d;
}

.spin-the-wheel-inner .start {
  background: #5c2e91;
}

.game-result--header {
  color: #5c2e91;
}

.game-result--body {
  border-color: #92278f;
  background: #c6168d;
}

.load-bar {
  background-color: #c6168d;
}

.bar:nth-child(1) {
  background-color: #5c2e91;
}

.bar:nth-child(2) {
  background-color: #92278f;
}

.bar:nth-child(3) {
  background-color: #c6168d;
}

/*# sourceMappingURL=colors.css.map */
