/*@import 'vendor/bootstrap/bootstrap/variables';*/
@font-face {
  font-family: "Cachet W01 Book";
  src: url("/profiles/contrib/openy/themes/openy_themes/openy_campaign_theme/fonts/CachetBook.ttf");
}
body {
  color: #636466;
  font-family: "Cachet W01 Book", 'Ubuntu Condensed', sans-serif;
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  font-family: "Cachet W01 Book", 'Ubuntu Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  margin-bottom: 70px;
}
@media (min-width: 20em) {
  h1,
  .h1 {
    font-size: 24px;
  }
}
@media (min-width: 48em) {
  h1,
  .h1 {
    font-size: 24px;
  }
}
@media (min-width: 62em) {
  h1,
  .h1 {
    font-size: 48px;
  }
}
@media (min-width: 75em) {
  h1,
  .h1 {
    font-size: 48px;
  }
}

h2,
.h2 {
  font-size: 36px;
}

@media (min-width: 20em) {
  h4 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 48em) {
  h4 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 62em) {
  h4 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 75em) {
  h4 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

p {
  word-wrap: break-word;
}
@media (min-width: 20em) {
  p {
    font-size: 16px !important;
  }
}
@media (min-width: 48em) {
  p {
    font-size: 16px !important;
  }
}
@media (min-width: 62em) {
  p {
    font-size: 18px !important;
  }
}
@media (min-width: 75em) {
  p {
    font-size: 18px !important;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

@media (min-width: 62em) {
  .pull-right-lg {
    float: right !important;
  }
}

.ajax-progress-throbber {
  position: absolute;
  opacity: 0.2;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-eq-height:before, .row-eq-height:after {
  content: none;
}

body {
  padding-top: 0px !important;
}

.container {
  max-width: 1400px;
}
@media (min-width: 20em) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 48em) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 62em) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 75em) {
  .container {
    width: 100%;
    max-width: 1400px;
  }
}

.page-node-type-campaign-page main[role="main"],
.path-campaign-game main[role="main"] {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
}
.page-node-type-campaign-page main[role="main"] .layout-content,
.path-campaign-game main[role="main"] .layout-content {
  background-color: inherit;
  position: relative;
  margin-bottom: 100px;
  min-height: 500px;
}
@media (min-width: 20em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin-top: 0px;
    box-shadow: 0px;
  }
}
@media (min-width: 48em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin-top: -550px;
    box-shadow: 10px 20px 115px 10px;
  }
}
@media (min-width: 62em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin-top: -400px;
    box-shadow: 10px 20px 115px 10px;
  }
}
@media (min-width: 75em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 125px;
    margin-right: 125px;
    padding-left: 70px;
    padding-right: 70px;
    padding: 40px;
    margin-top: -400px;
    box-shadow: 10px 20px 115px 10px;
  }
}
.page-node-type-campaign-page main[role="main"] .layout-content h1,
.path-campaign-game main[role="main"] .layout-content h1 {
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 20em) {
  .page-node-type-campaign-page main[role="main"] .layout-content h1,
  .path-campaign-game main[role="main"] .layout-content h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 48em) {
  .page-node-type-campaign-page main[role="main"] .layout-content h1,
  .path-campaign-game main[role="main"] .layout-content h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 62em) {
  .page-node-type-campaign-page main[role="main"] .layout-content h1,
  .path-campaign-game main[role="main"] .layout-content h1 {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}
@media (min-width: 75em) {
  .page-node-type-campaign-page main[role="main"] .layout-content h1,
  .path-campaign-game main[role="main"] .layout-content h1 {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}
.page-node-type-campaign-page main[role="main"] .layout-content .main-region,
.path-campaign-game main[role="main"] .layout-content .main-region {
  padding: 0px;
}
@media (min-width: 20em) {
  .page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select,
  .path-campaign-game main[role="main"] .layout-content .paragraph-background-container,
  .path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select,
  .paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 48em) {
  .page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select,
  .path-campaign-game main[role="main"] .layout-content .paragraph-background-container,
  .path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select,
  .paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 62em) {
  .page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select,
  .path-campaign-game main[role="main"] .layout-content .paragraph-background-container,
  .path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select,
  .paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 75em) {
  .page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select,
  .path-campaign-game main[role="main"] .layout-content .paragraph-background-container,
  .path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select,
  .paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select {
    margin-right: -40px;
    margin-left: -40px;
  }
}
.page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container .paragraph-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select .paragraph-container, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select .paragraph-container,
.path-campaign-game main[role="main"] .layout-content .paragraph-background-container .paragraph-container,
.path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select .paragraph-container,
.paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select .paragraph-container {
  padding: 0px;
}
.page-node-type-campaign-page main[role="main"] .layout-content .paragraph-container,
.path-campaign-game main[role="main"] .layout-content .paragraph-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-node-type-campaign .wrapper-field-content {
  padding-top: 50px;
  background: #fff;
}
.page-node-type-campaign .paragraph-container {
  padding-top: 50px;
}
@media (min-width: 48em) {
  .page-node-type-campaign .paragraph-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 62em) {
  .page-node-type-campaign .paragraph-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 75em) {
  .page-node-type-campaign .paragraph-container {
    padding-left: 125px;
    padding-right: 125px;
  }
}
.page-node-type-campaign main[role="main"] {
  padding-left: 0px;
  padding-right: 0px;
}
.page-node-type-campaign main[role="main"] .container {
  padding: 0px;
}

.paragraph-background-container .paragraph-container, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container {
  background-color: inherit;
  color: #ffffff;
}
.paragraph-background-container .paragraph-container h1, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container h1, .paragraph-background-container .paragraph-container h2, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container h2, .paragraph-background-container .paragraph-container h4, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container h4 {
  color: inherit !important;
  text-transform: uppercase;
}
.paragraph-background-container .paragraph-container .fa, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container .fa {
  color: inherit;
  font-size: 64px;
  max-width: 100%;
  max-height: 100%;
  float: none;
}

.btn, .button {
  font-size: 18px;
  padding-top: 13px;
  text-align: center;
  min-width: 150px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px black;
  margin-top: 20px;
}

.layout-container {
  position: relative;
}

.block-description--wrapper {
  display: flex;
  flex-direction: row;
}
.block-description--wrapper .block-description--text {
  float: left;
  margin-top: 0px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.block-description--wrapper .block-description--text .field-sb-title h4 {
  margin-top: 15px;
  font-size: 24px;
  padding-left: 0px !important;
  text-transform: uppercase;
}
.block-description--wrapper .block-description--text .field-sb-body {
  margin-top: 5px;
}
.block-description--wrapper .block-description--text .field-sb-body p {
  margin: 0 0 5px;
}

#block-campaignmemberregister {
  text-align: center;
}
#block-campaignmemberregister .container {
  background-size: cover;
  padding-bottom: 60px;
}
@media (min-width: 20em) {
  #block-campaignmemberregister .container {
    height: 100% !important;
  }
}
@media (min-width: 48em) {
  #block-campaignmemberregister .container {
    height: 100% !important;
  }
}
@media (min-width: 62em) {
  #block-campaignmemberregister .container {
    height: 100% !important;
  }
}
@media (min-width: 75em) {
  #block-campaignmemberregister .container {
    height: 100% !important;
  }
}
#block-campaignmemberregister h1 {
  padding-top: 100px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
#block-campaignmemberregister .finish-date {
  color: #ffffff;
}
@media (min-width: 20em) {
  #block-campaignmemberregister .finish-date {
    font-size: 14px;
  }
}
@media (min-width: 48em) {
  #block-campaignmemberregister .finish-date {
    font-size: 18px;
  }
}
@media (min-width: 62em) {
  #block-campaignmemberregister .finish-date {
    font-size: 18px;
  }
}
@media (min-width: 75em) {
  #block-campaignmemberregister .finish-date {
    font-size: 18px;
  }
}
#block-campaignmemberregister .countdown {
  margin: 0 auto;
  color: #ffffff;
}
#block-campaignmemberregister .countdown .simply-section {
  display: inline-flex;
  padding-left: 15px;
  padding-right: 15px;
}
#block-campaignmemberregister .countdown .simply-amount {
  display: block;
  font-weight: 700;
}
@media (min-width: 20em) {
  #block-campaignmemberregister .countdown .simply-amount {
    font-size: 20px;
  }
}
@media (min-width: 48em) {
  #block-campaignmemberregister .countdown .simply-amount {
    font-size: 30px;
  }
}
@media (min-width: 62em) {
  #block-campaignmemberregister .countdown .simply-amount {
    font-size: 30px;
  }
}
@media (min-width: 75em) {
  #block-campaignmemberregister .countdown .simply-amount {
    font-size: 30px;
  }
}
#block-campaignmemberregister .countdown .simply-word {
  font-size: 16px;
  display: block;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-top: 40px;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .button {
  width: 100%;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .form-item {
  margin: 0px;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .form-item-membership-id label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .form-control {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.field-prgf-1c-column {
  text-align: center;
  padding-bottom: 15px;
}
.field-prgf-1c-column .field-sb-body p {
  text-transform: uppercase;
}

.field-inner-paragraph .paragraph-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.block-description--text {
  border: none !important;
}
.block-description--text .field-icon {
  float: none;
}
.block-description--text .field-icon img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}
.block-description--text h2.with-icon .field-sb-title {
  padding-top: 35px;
  text-transform: uppercase;
}

@media (min-width: 20em) {
  .activity-tracking-menu-columns.left {
    padding-right: 0px;
  }
}
@media (min-width: 48em) {
  .activity-tracking-menu-columns.left {
    padding-right: 0px;
  }
}
@media (min-width: 62em) {
  .activity-tracking-menu-columns.left {
    padding-right: 0px;
  }
}
@media (min-width: 75em) {
  .activity-tracking-menu-columns.left {
    padding-right: 53px;
  }
}
.activity-tracking-menu-columns.right {
  padding-left: 15px;
}
@media (min-width: 20em) {
  .activity-tracking-menu-columns.right h4 {
    padding-left: 0px;
  }
}
@media (min-width: 48em) {
  .activity-tracking-menu-columns.right h4 {
    padding-left: 0px;
  }
}
@media (min-width: 62em) {
  .activity-tracking-menu-columns.right h4 {
    padding-left: 0px;
  }
}
@media (min-width: 75em) {
  .activity-tracking-menu-columns.right h4 {
    padding-left: 60px;
  }
}
@media (min-width: 20em) {
  .activity-tracking-menu-columns.right .field-prgf-campaign-game {
    padding-left: 0px;
    border-left: none;
  }
}
@media (min-width: 48em) {
  .activity-tracking-menu-columns.right .field-prgf-campaign-game {
    padding-left: 0px;
    border-left: none;
  }
}
@media (min-width: 62em) {
  .activity-tracking-menu-columns.right .field-prgf-campaign-game {
    padding-left: 0px;
    border-left: none;
  }
}
@media (min-width: 75em) {
  .activity-tracking-menu-columns.right .field-prgf-campaign-game {
    padding-left: 60px;
    border-left: 1px solid;
  }
}

.visits-goal .description {
  text-align: center;
}
.visits-goal .uppercase {
  text-transform: uppercase;
}
.visits-goal .bold {
  font-weight: bold;
}
.visits-goal .visits-goal-progress {
  margin-top: 5px;
  margin-bottom: 40px;
}
.visits-goal .visits-goal-progress .clearfix {
  clear: both;
}
.visits-goal .visits-goal-progress .progress-row {
  clear: both;
}
.visits-goal .visits-goal-progress .point {
  background: url("../img/inactive.png");
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100%/5);
  padding-left: calc(100%/10 - 4px);
  padding-right: calc(100%/10);
  margin-top: 35px;
  height: 60px;
  color: #fff;
  float: left;
  border-bottom: 4px solid #cecece;
  display: block;
  padding-top: 2px;
  margin-right: 0px;
}
.visits-goal .visits-goal-progress .point.active {
  background: url("../img/active.png");
  background-repeat: no-repeat;
  background-position: center;
}
.visits-goal .visits-goal-progress .point-1 {
  background-position: left !important;
  width: 33px !important;
  padding-left: 12px !important;
}

.field-prgf-campaign-activity {
  margin-top: 50px;
}

@media (min-width: 20em) {
  .wrapper-field-prgf-campaign-game {
    border-top: 1px solid;
    padding-top: 20px;
  }
}
@media (min-width: 48em) {
  .wrapper-field-prgf-campaign-game {
    border-top: none;
    padding-top: 0px;
  }
}
@media (min-width: 62em) {
  .wrapper-field-prgf-campaign-game {
    border-top: none;
    padding-top: 0px;
  }
}
@media (min-width: 75em) {
  .wrapper-field-prgf-campaign-game {
    border-top: none;
    padding-top: 0px;
  }
}

.campaign-game .cover-images {
  display: flex;
}
.campaign-game .cover-images span {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-flow: column;
}
.campaign-game .cover-images span img {
  width: 100%;
}
.campaign-game .btn, .campaign-game .button {
  width: 100%;
}

.paragraph--type--campaign-winners .winners-branches-select .form-item-branch {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
.paragraph--type--campaign-winners .winners-branches-select .form-item-branch label {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.paragraph--type--campaign-winners #winners-block-wrapper {
  margin: 20px auto 0 auto;
  width: 90%;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper {
  margin-top: 20px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-prize {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members {
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members thead {
  font-size: 14px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members tbody {
  font-size: 18px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members tbody td:first-child {
  width: 70%;
}

footer {
  background-color: inherit !important;
}
@media (min-width: 20em) {
  footer .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (min-width: 48em) {
  footer .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (min-width: 62em) {
  footer .container {
    padding-left: 135px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 75em) {
  footer .container {
    padding-left: 135px !important;
    padding-right: 0px !important;
  }
}
footer .container .footer__social .fa {
  /* background-color: #fff; */
  border-radius: 0px;
  color: #fff;
  height: 0px;
  margin-right: 0px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  width: auto;
}
footer .container .footer__nav nav {
  float: none;
  width: 100%;
}
footer .container .footer__nav nav ul {
  display: inline-block;
}
footer .container .footer__nav nav ul > li {
  display: inline;
  padding: 0px 25px;
  border-left: 1px solid;
}
footer .container .footer__nav nav ul > li:first-child {
  border-left: none;
  padding: 0px 25px 0px 0px;
}
footer .container .footer__nav nav ul > li a {
  font-size: 11px;
  text-transform: uppercase;
}

#block-openy-campaign-theme-campaignusermenublock {
  border-left: 2px solid #fff;
  padding-left: 15px;
}
#block-openy-campaign-theme-campaignusermenublock .member-full-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  float: left;
  margin-top: -2px;
  padding-right: 33px;
}
#block-openy-campaign-theme-campaignusermenublock .member-full-name .fa {
  padding-right: 5px;
  font-weight: 700;
}
#block-openy-campaign-theme-campaignusermenublock .dropdown-menu {
  top: 37px;
  left: 10px;
}
#block-openy-campaign-theme-campaignusermenublock .dropdown-menu a {
  color: #424242;
  padding-left: 20px;
  padding-top: 15px;
  height: 40px;
  display: block;
}

.viewport {
  margin: 0px 15px;
  width: auto;
}
.viewport .top-navs {
  margin-top: 0px !important;
  background-color: inherit;
  height: 70px;
}
.viewport .top-navs .container {
  background-color: inherit;
  padding: 0px 135px;
}
.viewport .top-navs .campaign-menu > li {
  display: inline-block;
  padding: 0px 15px;
}
.viewport .top-navs .page-head__logo img {
  width: 50px;
  height: auto;
}
.viewport .top-navs .campaign-menu {
  text-align: right;
}
.viewport .top-navs .page-head__primary-menu {
  margin-right: 0px;
  padding-right: 0px;
}
.viewport .top-navs .page-head__main-menu {
  padding-top: 30px;
}
.viewport .top-navs .page-head__main-menu a {
  font-size: 16px;
}
.viewport .top-navs .page-head__secondary-menu {
  text-align: right;
  padding-right: 0px;
  padding-left: 0px;
}
.viewport .top-navs #block-openy-campaign-theme-campaignusermenublock a:first-child {
  padding-right: 20px;
}

.form-item input.form-checkbox {
  display: none;
}

.form-item input:checked + label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid;
  border-radius: 40px;
  padding-left: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #C6168D;
  background-position: 26px 27px;
  white-space: normal;
  padding-right: 50px;
}
.form-item input:checked + label:hover {
  background-repeat: no-repeat;
  background-position: 26px 27px;
}

.form-item input + label {
  display: inline-block;
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
  border: 2px solid;
  border-radius: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  white-space: normal;
  padding-right: 50px;
}
.form-item input + label:hover {
  background: #fff;
  cursor: pointer;
  color: #C6168D;
}

.form-item input + label:before {
  content: "";
  font-family: "FontAwesome";
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: inherit;
  position: absolute;
  text-align: center;
  top: 35%;
  height: 2.2rem;
  width: 2.2rem;
  right: 2rem;
}

.form-item input:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
}

.activity .paragraph-background-container, .activity .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .activity .winners-branches-select {
  background-color: #92278F;
  background-image: -moz-linear-gradient(#c6168d, #92278F);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6168d), to(#92278F));
  background-image: -webkit-linear-gradient(top, #c6168d, #92278F);
  background-image: -o-linear-gradient(#c6168d, #92278F);
}

.category-data {
  background: #92278F;
  color: #fff;
  text-transform: uppercase;
  margin: 8px;
  border-radius: 10px;
  padding-top: 10px;
}
.category-data .activity-name {
  display: none;
}
.category-data form input[type="submit"] {
  visibility: hidden;
}
.category-data form .fieldgroup legend {
  display: none;
}
.category-data form .fieldgroup .form-checkboxes .form-item {
  margin: 5px;
  margin-bottom: 25px;
  font-size: 16px;
  overflow: hidden;
  word-wrap: unset;
  white-space: nowrap;
}
@media (min-width: 20em) {
  .category-data form .fieldgroup .form-checkboxes .form-item {
    float: none;
  }
}
@media (min-width: 48em) {
  .category-data form .fieldgroup .form-checkboxes .form-item {
    float: left;
    width: 30%;
  }
}
@media (min-width: 62em) {
  .category-data form .fieldgroup .form-checkboxes .form-item {
    float: left;
    width: 30%;
  }
}
@media (min-width: 75em) {
  .category-data form .fieldgroup .form-checkboxes .form-item {
    float: left;
    width: 32%;
  }
}

.activity-data {
  margin-top: 30px;
}
@media (min-width: 20em) {
  .activity-data {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 48em) {
  .activity-data {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 62em) {
  .activity-data {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 75em) {
  .activity-data {
    margin-left: 85px;
    margin-right: 85px;
  }
}
.activity-data .activity-daily-data .category-data {
  display: none;
}

.activity-data .categories ul {
  padding: 0px;
  text-align: center;
  display: flex;
}
.activity-data .categories ul li {
  background: #92278F;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}
@media (min-width: 20em) {
  .activity-data .categories ul li {
    flex-flow: column;
    margin: 9px;
    width: 60px;
    height: 60px;
    font-size: 9px;
  }
}
@media (min-width: 48em) {
  .activity-data .categories ul li {
    flex-flow: column;
    margin: 9px;
    width: 60px;
    height: 60px;
    font-size: 9px;
  }
}
@media (min-width: 62em) {
  .activity-data .categories ul li {
    flex-flow: column;
    margin: 9px;
    width: 60px;
    height: 60px;
    font-size: 9px;
  }
}
@media (min-width: 75em) {
  .activity-data .categories ul li {
    flex-flow: column;
    margin: 13px;
    width: 200px;
    height: 200px;
    font-size: 22px;
  }
}
.activity-data .categories ul li.active {
  opacity: 1;
}
.activity-data .categories ul li.Aquatics {
  background-image: url("../img/swimming.png");
  background-repeat: no-repeat;
}
@media (min-width: 20em) {
  .activity-data .categories ul li.Aquatics {
    background-position: center 15px;
    background-size: 35px;
    padding-top: 38px;
  }
}
@media (min-width: 48em) {
  .activity-data .categories ul li.Aquatics {
    background-position: center 15px;
    background-size: 35px;
    padding-top: 38px;
  }
}
@media (min-width: 62em) {
  .activity-data .categories ul li.Aquatics {
    background-position: center 15px;
    background-size: 35px;
    padding-top: 38px;
  }
}
@media (min-width: 75em) {
  .activity-data .categories ul li.Aquatics {
    background-position: center 50px;
    background-size: auto;
    padding-top: 115px;
  }
}
.activity-data .categories ul li.Fitness {
  background-image: url("../img/fitnes.png");
  background-repeat: no-repeat;
  background-position: 70px 50px;
}
@media (min-width: 20em) {
  .activity-data .categories ul li.Fitness {
    background-position: center 10px;
    background-size: 35px;
    padding-top: 38px;
  }
}
@media (min-width: 48em) {
  .activity-data .categories ul li.Fitness {
    background-position: center 10px;
    background-size: 35px;
  }
}
@media (min-width: 62em) {
  .activity-data .categories ul li.Fitness {
    background-position: center 10px;
    background-size: 35px;
  }
}
@media (min-width: 75em) {
  .activity-data .categories ul li.Fitness {
    background-position: center 50px;
    background-size: auto;
    padding-top: 115px;
  }
}
.activity-data .categories ul li.Community {
  background-image: url("../img/community.png");
  background-repeat: no-repeat;
}
@media (min-width: 20em) {
  .activity-data .categories ul li.Community {
    background-position: center 5px;
    background-size: 35px;
    padding-top: 33px;
  }
}
@media (min-width: 48em) {
  .activity-data .categories ul li.Community {
    background-position: center 10px;
    background-size: 35px;
  }
}
@media (min-width: 62em) {
  .activity-data .categories ul li.Community {
    background-position: center 10px;
    background-size: 35px;
  }
}
@media (min-width: 75em) {
  .activity-data .categories ul li.Community {
    background-position: center 50px;
    background-size: auto;
    padding-top: 115px;
  }
}
.activity-data .categories ul li.GroupExercise {
  background-image: url("../img/groupex.png");
  background-repeat: no-repeat;
}
@media (min-width: 20em) {
  .activity-data .categories ul li.GroupExercise {
    background-position: center 5px;
    background-size: 35px;
    padding-top: 33px;
  }
}
@media (min-width: 48em) {
  .activity-data .categories ul li.GroupExercise {
    background-position: center 10px;
    background-size: 35px;
  }
}
@media (min-width: 62em) {
  .activity-data .categories ul li.GroupExercise {
    background-position: center 10px;
    background-size: 35px;
  }
}
@media (min-width: 75em) {
  .activity-data .categories ul li.GroupExercise {
    background-position: center 50px;
    background-size: auto;
    padding-top: 115px;
  }
}

.activity .paragraph-background-container, .activity .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .activity .winners-branches-select {
  position: relative;
}
@media (min-width: 48em) {
  .activity .paragraph-background-container, .activity .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .activity .winners-branches-select {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (min-width: 62em) {
  .activity .paragraph-background-container, .activity .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .activity .winners-branches-select {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}
@media (min-width: 75em) {
  .activity .paragraph-background-container, .activity .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .activity .winners-branches-select {
    padding-left: 130px !important;
    padding-right: 130px !important;
  }
}
.activity .paragraph-background-container:before, .activity .paragraph--type--campaign-winners .winners-branches-select:before, .paragraph--type--campaign-winners .activity .winners-branches-select:before {
  content: '';
  position: absolute;
  left: 47%;
  bottom: -57px;
  border: 30px solid transparent;
  border-top: 30px solid #92278F;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.calendar .month {
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  padding-left: 80px;
  padding-right: 80px;
}
.calendar .month .date-data {
  text-align: center;
  margin-bottom: 180px;
  display: inline-block;
  position: relative;
}
.calendar .month .date-data .month {
  display: none;
}
.calendar .month .date-data .visits {
  display: none;
  font-size: 18px;
}
.calendar .month .date-data span {
  font-size: 20px;
  text-transform: uppercase;
}
.calendar .month .date-data .day {
  display: block;
  cursor: pointer;
}
.calendar .month .date-data .weekday {
  padding-top: 35px;
  padding-bottom: 20px;
  display: block;
  cursor: pointer;
  width: 50px;
  margin: 0 auto;
}
.calendar .month .date-data .data {
  display: none;
}
.calendar .month .date-data.slick-current .weekday {
  border-radius: 58%;
  border-color: #fff;
  border: 1px solid;
  padding-top: 10px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 10px;
  color: #c6168d;
  cursor: pointer;
}
.calendar .month .date-data.slick-current .visits {
  display: block;
  position: absolute;
  width: 315px;
  border-radius: 10px;
  left: -105px;
  top: 140px;
  text-transform: uppercase;
}
@media (min-width: 20em) {
  .calendar .month .date-data.slick-current .visits {
    width: 178px;
    left: -57px;
  }
}
@media (min-width: 48em) {
  .calendar .month .date-data.slick-current .visits {
    width: 315px;
    left: -105px;
  }
}
@media (min-width: 62em) {
  .calendar .month .date-data.slick-current .visits {
    width: 315px;
    left: -105px;
  }
}
@media (min-width: 75em) {
  .calendar .month .date-data.slick-current .visits {
    width: 315px;
    left: -105px;
  }
}
.calendar .month .date-data.slick-current .visits:before {
  content: '';
  position: absolute;
  top: -50px;
  border: 20px solid transparent;
  border-bottom: 30px solid #fff;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 20em) {
  .calendar .month .date-data.slick-current .visits:before {
    left: 70px;
  }
}
@media (min-width: 48em) {
  .calendar .month .date-data.slick-current .visits:before {
    left: 135px;
  }
}
@media (min-width: 62em) {
  .calendar .month .date-data.slick-current .visits:before {
    left: 135px;
  }
}
@media (min-width: 75em) {
  .calendar .month .date-data.slick-current .visits:before {
    left: 135px;
  }
}
.calendar .month .date-data.slick-current .visits .visited {
  background: #C6168D;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.calendar .month .date-data.slick-current .visits .entriesNum {
  background: #fff;
  color: #92278F;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar-wrapper {
  position: relative;
}
.calendar-wrapper .current-month {
  text-align: center;
}
.calendar-wrapper .slick-prev.slick-arrow,
.calendar-wrapper .slick-next.slick-arrow {
  border: none;
  height: 100px;
  background: #C6168D;
  display: block;
  position: absolute;
  cursor: pointer;
  color: transparent;
  width: 42px;
  padding-left: 12px;
}
.calendar-wrapper .slick-prev.slick-arrow {
  left: 15px;
}
.calendar-wrapper .slick-prev.slick-arrow:before {
  content: "\f104";
  color: #ffffff;
  font-family: "FontAwesome";
  font-size: 35px;
}
.calendar-wrapper .slick-next {
  right: 5px;
  top: 0px;
}
.calendar-wrapper .slick-next:before {
  content: "\f105";
  color: #ffffff;
  font-family: "FontAwesome";
  font-size: 35px;
}

a:active, a:focus,
div:active, div:focus,
button:active, button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.ui-dialog {
  background: transparent;
  border: none !important;
  width: 400px;
}
.ui-dialog .ui-dialog-title {
  float: none;
}
.ui-dialog .ui-dialog-titlebar {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Cachet W01 Book";
  font-weight: 700;
}
.ui-dialog .ui-dialog-titlebar-close {
  display: none !important;
}
.ui-dialog .ui-dialog-content {
  height: auto;
  max-width: 400px;
  background: #fff;
  max-height: auto;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
}
.ui-dialog .ui-dialog-content .form-item {
  margin: 0px;
}
.ui-dialog .ui-dialog-content .form-text {
  height: 50px;
  border-radius: 4px;
}
.ui-dialog .ui-dialog-content .button {
  width: 100%;
}

.ui-widget-overlay {
  background: black;
  opacity: 0.6;
}

#block-openy-campaign-theme-tabs {
  padding-top: 20px;
}

a:focus,
.dropdown-toggle:focus,
.carousel-control:focus,
.btn:focus,
.button:focus,
.btn.focus,
.focus.button,
.btn:active:focus,
.button:active:focus,
.btn:active.focus,
.button:active.focus,
.btn.active:focus,
.active.button:focus,
.btn.active.focus,
.active.focus.button,
.slick-arrow:focus:before,
.navbar-toggle:focus {
  outline: 5px auto #69ff00;
}

.focusable.skip-link:focus {
  position: fixed !important;
  top: 0;
}

/*# sourceMappingURL=styles.css.map */
