/*@import 'vendor/bootstrap/bootstrap/variables';*/
@font-face {
  font-family: "Cachet W01 Book";
  src: url("/profiles/contrib/openy/themes/openy_themes/openy_campaign_theme/fonts/CachetBook.ttf");
}
body {
  color: #636466;
  font-family: "Cachet W01 Book", 'Ubuntu Condensed', sans-serif;
}

h1, .h1, h2, .h2, h3, h4, h5, h6 {
  font-family: "Cachet W01 Book", 'Ubuntu Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 48px;
  margin-bottom: 70px;
}

h2,
.h2 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  word-wrap: break-word;
  font-size: 18px !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

@media (min-width: 62em) {
  .pull-right-lg {
    float: right !important;
  }
}

.ajax-progress-throbber {
  position: absolute;
  opacity: 0.2;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-eq-height:before, .row-eq-height:after {
  content: none;
}

body {
  padding-top: 0px !important;
  background-color: #5c2e91;
}

.container {
  max-width: 1400px;
  width: 100%;
}

.page-node-type-campaign-page main[role="main"],
.path-campaign-game main[role="main"] {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
}
.page-node-type-campaign-page main[role="main"] .layout-content,
.path-campaign-game main[role="main"] .layout-content {
  background-color: inherit;
  position: relative;
  margin-bottom: 100px;
  margin-top: -400px;
  box-shadow: 10px 20px 115px 10px;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 500px;
}
@media (min-width: 48em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 62em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 75em) {
  .page-node-type-campaign-page main[role="main"] .layout-content,
  .path-campaign-game main[role="main"] .layout-content {
    margin-left: 125px;
    margin-right: 125px;
  }
}
.page-node-type-campaign-page main[role="main"] .layout-content h1,
.path-campaign-game main[role="main"] .layout-content h1 {
  margin-top: 60px;
  margin-bottom: 70px;
  text-transform: uppercase;
  text-align: center;
}
.page-node-type-campaign-page main[role="main"] .layout-content .main-region,
.path-campaign-game main[role="main"] .layout-content .main-region {
  padding: 0px;
}
.page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select,
.path-campaign-game main[role="main"] .layout-content .paragraph-background-container,
.path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select,
.paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select {
  margin-right: -70px;
  margin-left: -70px;
  padding-left: 40px;
  padding-right: 40px;
}
.page-node-type-campaign-page main[role="main"] .layout-content .paragraph-background-container .paragraph-container, .page-node-type-campaign-page main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select .paragraph-container, .paragraph--type--campaign-winners .page-node-type-campaign-page main[role="main"] .layout-content .winners-branches-select .paragraph-container,
.path-campaign-game main[role="main"] .layout-content .paragraph-background-container .paragraph-container,
.path-campaign-game main[role="main"] .layout-content .paragraph--type--campaign-winners .winners-branches-select .paragraph-container,
.paragraph--type--campaign-winners .path-campaign-game main[role="main"] .layout-content .winners-branches-select .paragraph-container {
  padding: 0px;
}
.page-node-type-campaign-page main[role="main"] .layout-content .paragraph-container,
.path-campaign-game main[role="main"] .layout-content .paragraph-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-node-type-campaign .wrapper-field-content {
  padding-top: 50px;
  background: #fff;
}
.page-node-type-campaign .paragraph-container {
  padding-top: 50px;
}
@media (min-width: 48em) {
  .page-node-type-campaign .paragraph-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 62em) {
  .page-node-type-campaign .paragraph-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 75em) {
  .page-node-type-campaign .paragraph-container {
    padding-left: 125px;
    padding-right: 125px;
  }
}
.page-node-type-campaign main[role="main"] {
  padding-left: 0px;
  padding-right: 0px;
}
.page-node-type-campaign main[role="main"] .container {
  padding: 0px;
}

.paragraph-background-container, .paragraph--type--campaign-winners .winners-branches-select {
  /* fallback/image non-cover color */
  background-color: #c6168d;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#c6168d, #5c2e91);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6168d), to(#5c2e91));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #c6168d, #5c2e91);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#c6168d, #5c2e91);
}
.paragraph-background-container .paragraph-container, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container {
  background-color: inherit;
  color: #ffffff;
}
.paragraph-background-container .paragraph-container h1, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container h1, .paragraph-background-container .paragraph-container h2, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container h2, .paragraph-background-container .paragraph-container h4, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container h4 {
  color: inherit !important;
  text-transform: uppercase;
}
.paragraph-background-container .paragraph-container .fa, .paragraph--type--campaign-winners .winners-branches-select .paragraph-container .fa {
  color: inherit;
  font-size: 64px;
  max-width: 100%;
  max-height: 100%;
  float: none;
}

.btn, .button {
  background-color: #c6168d;
  font-size: 18px;
  padding-top: 13px;
  text-align: center;
  min-width: 150px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px black;
  margin-top: 20px;
}

.layout-container {
  position: relative;
}

.block-description--wrapper {
  display: flex;
  flex-direction: row;
}
.block-description--wrapper .block-description--text {
  float: left;
  margin-top: 0px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.block-description--wrapper .block-description--text .field-sb-title h4 {
  margin-top: 15px;
  font-size: 24px;
  padding-left: 0px !important;
  text-transform: uppercase;
  color: #636466;
}
.block-description--wrapper .block-description--text .field-sb-body {
  margin-top: 5px;
}
.block-description--wrapper .block-description--text .field-sb-body p {
  margin: 0 0 5px;
}

#block-campaignmemberregister {
  text-align: center;
}
#block-campaignmemberregister h1 {
  padding-top: 100px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 48px;
  text-align: center;
}
#block-campaignmemberregister .finish-date {
  font-size: 18px;
  color: #ffffff;
}
#block-campaignmemberregister .countdown {
  margin: 0 auto;
  color: #ffffff;
}
#block-campaignmemberregister .countdown .simply-section {
  display: inline-flex;
  margin-right: 35px;
}
#block-campaignmemberregister .countdown .simply-amount {
  font-size: 30px;
  display: block;
  font-weight: 700;
}
#block-campaignmemberregister .countdown .simply-word {
  font-size: 16px;
  display: block;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-top: 40px;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .button {
  width: 100%;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .form-item {
  margin: 0px;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .form-item-membership-id label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
}
#block-campaignmemberregister .openy-campaign-registration-simple-form .form-control {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.paragraph-1c-wrapper .field-prgf-1c-description {
  color: #4f4f4f !important;
}

.field-prgf-1c-column {
  text-align: center;
  padding-bottom: 15px;
}
.field-prgf-1c-column .field-sb-body p {
  text-transform: uppercase;
}

.field-inner-paragraph .paragraph-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.block-description--text {
  border: none !important;
}
.block-description--text .field-icon {
  float: none;
}
.block-description--text .field-icon img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}
.block-description--text h2.with-icon .field-sb-title {
  padding-top: 35px;
  text-transform: uppercase;
}

.activity-tracking-menu-columns {
  padding-left: 45px;
  padding-right: 45px;
}

.visits-goal .description {
  text-align: center;
}
.visits-goal .description .goal {
  color: #c6168d;
}
.visits-goal .uppercase {
  text-transform: uppercase;
}
.visits-goal .bold {
  text-style: bold;
}
.visits-goal .visits-goal-progress {
  margin-top: 5px;
  margin-bottom: 40px;
}
.visits-goal .visits-goal-progress .clearfix {
  clear: both;
}
.visits-goal .visits-goal-progress .progress-row {
  clear: both;
}
.visits-goal .visits-goal-progress .point {
  background: url("../img/inactive.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 85px;
  padding-left: 65px;
  margin-top: 35px;
  height: 60px;
  color: #fff;
  float: left;
  border-bottom: 4px solid #cecece;
  display: block;
  padding-top: 2px;
  margin-right: 0px;
}
.visits-goal .visits-goal-progress .point.active {
  background: url("../img/active.png");
  background-repeat: no-repeat;
  background-position: right;
}
.visits-goal .visits-goal-progress .point-1 {
  background-position: left !important;
  width: 33px !important;
  padding-left: 12px !important;
}

.field-prgf-campaign-activity {
  margin-top: 50px;
}

.campaign-game .cover-images span {
  margin-right: 10px;
  width: 30%;
  display: inline-block;
}
.campaign-game .cover-images span img {
  width: 100%;
}
.campaign-game .btn, .campaign-game .button {
  width: 100%;
}

.paragraph--type--campaign-winners .winners-branches-select .form-item-branch {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
.paragraph--type--campaign-winners .winners-branches-select .form-item-branch label {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.paragraph--type--campaign-winners #winners-block-wrapper {
  margin: 20px auto 0 auto;
  width: 90%;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper {
  margin-top: 20px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-prize {
  text-align: center;
  font-size: 18px;
  color: #c6168d;
  margin-bottom: 20px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members {
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members thead {
  font-size: 14px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members tbody {
  font-size: 18px;
}
.paragraph--type--campaign-winners #winners-block-wrapper .winners-wrapper .winners-members tbody td:first-child {
  color: #c6168d;
  width: 70%;
}

footer {
  background-color: inherit !important;
}

#block-openy-campaign-theme-campaignusermenublock {
  border-left: 2px solid #fff;
  padding-left: 15px;
}
#block-openy-campaign-theme-campaignusermenublock .member-full-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  float: left;
  margin-top: -2px;
  padding-right: 33px;
}
#block-openy-campaign-theme-campaignusermenublock .member-full-name .fa {
  padding-right: 5px;
  font-weight: 700;
}

.viewport .top-navs {
  margin-top: 0px !important;
  background-color: inherit;
  height: 70px;
}
.viewport .top-navs .container {
  background-color: inherit;
}
.viewport .top-navs .campaign-menu > li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.viewport .top-navs .page-head__logo img {
  width: 50px;
  height: auto;
}
.viewport .top-navs .campaign-menu {
  text-align: right;
}
.viewport .top-navs .page-head__primary-menu {
  margin-right: 0px;
  padding-right: 0px;
}
.viewport .top-navs .page-head__main-menu {
  padding-top: 30px;
}
.viewport .top-navs .page-head__main-menu a {
  font-size: 16px;
}
.viewport .top-navs .page-head__secondary-menu {
  text-align: right;
  padding-right: 0px;
  padding-left: 0px;
}
.viewport .top-navs #block-openy-campaign-theme-campaignusermenublock a:first-child {
  padding-right: 20px;
}

.form-item input.form-checkbox {
  visibility: hidden;
}

.form-item input:checked + label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  padding-left: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 93%;
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #C6168D;
  background-position: 26px 27px;
}
.form-item input:checked + label:hover {
  background-repeat: no-repeat;
  background-position: 26px 27px;
}

.form-item input + label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  padding-left: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 93%;
}
.form-item input + label:hover {
  background: #fff;
  cursor: pointer;
  color: #C6168D;
}

.form-item input + label:before {
  font-family: "Cachet",Arial,sans-serif;
  letter-spacing: -0.025em;
  height: 22px;
  height: 2.2rem;
  width: 22px;
  width: 2.2rem;
  left: 24px;
  left: 2.4rem;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: inherit;
  content: '';
  position: absolute;
  text-align: center;
  top: 50%;
}

.activity .paragraph-background-container {
  background-color: #92278F;
  background-image: -moz-linear-gradient(#c6168d, #92278F);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6168d), to(#92278F));
  background-image: -webkit-linear-gradient(top, #c6168d, #92278F);
  background-image: -o-linear-gradient(#c6168d, #92278F);
}

.category-data {
  background: #92278F;
  color: #fff;
  text-transform: uppercase;
  margin: 25px;
  border-radius: 10px;
  padding-top: 10px;
}
.category-data .activity-name {
  display: none;
}
.category-data form input[type="submit"] {
  visibility: hidden;
}
.category-data form .fieldgroup legend {
  display: none;
}
.category-data form .fieldgroup .form-checkboxes .form-item {
  float: left;
  width: 30%;
  font-size: 16px;
  overflow: hidden;
  word-wrap: unset;
  white-space: nowrap;
}

.activity-data {
  margin-top: 30px;
}
.activity-data .activity-daily-data .category-data {
  display: none;
}

.activity-data .categories ul {
  padding: 0px;
}
.activity-data .categories ul li {
  display: inline-block;
  padding: 15px;
  background: #92278F;
  opacity: 0.7;
  margin: 25px;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  border-radius: 10px;
  padding-top: 105px;
  cursor: pointer;
}
.activity-data .categories ul li.active {
  opacity: 1;
}
.activity-data .categories ul li.Aquatics {
  background-image: url("../img/swimming.png");
  background-repeat: no-repeat;
  background-position: 70px 50px;
}
.activity-data .categories ul li.Fitness {
  background-image: url("../img/fitnes.png");
  background-repeat: no-repeat;
  background-position: 70px 50px;
}
.activity-data .categories ul li.Community {
  background-image: url("../img/community.png");
  background-repeat: no-repeat;
  background-position: 70px 50px;
}
.activity-data .categories ul li.GroupExercise {
  background-image: url("../img/groupex.png");
  background-repeat: no-repeat;
  background-position: 70px 50px;
}

.activity .paragraph-background-container {
  padding-left: 130px !important;
  padding-right: 130px !important;
  position: relative;
}
.activity .paragraph-background-container:before {
  content: '';
  position: absolute;
  left: 47%;
  bottom: -57px;
  border: 30px solid transparent;
  border-top: 30px solid #92278F;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.calendar .month {
  overflow: hidden;
  white-space: nowrap;
  width: 72%;
  margin: 0px;
  padding: 0px;
  margin-left: 80px;
  margin-right: 80px;
}
.calendar .month .date-data {
  width: 14%;
  text-align: center;
  margin-bottom: 180px;
}
.calendar .month .date-data .month {
  display: none;
}
.calendar .month .date-data .visits {
  display: none;
  font-size: 18px;
}
.calendar .month .date-data span {
  font-size: 20px;
  text-transform: uppercase;
}
.calendar .month .date-data .day {
  display: block;
  cursor: pointer;
}
.calendar .month .date-data .weekday {
  padding-top: 35px;
  padding-bottom: 20px;
  display: block;
  cursor: pointer;
}
.calendar .month .date-data .data {
  display: none;
}
.calendar .month .date-data.active .weekday {
  border-radius: 58%;
  border-color: #fff;
  border: 1px solid;
  width: 50px;
  padding-top: 10px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 10px;
  color: #c6168d;
  cursor: pointer;
}
.calendar .month .date-data.active .visits {
  display: block;
  position: absolute;
  width: 315px;
  border-radius: 10px;
  z-index: 1000;
  top: 140px;
  text-transform: uppercase;
}
.calendar .month .date-data.active .visits:before {
  content: '';
  position: absolute;
  left: 135px;
  top: -50px;
  border: 20px solid transparent;
  border-bottom: 30px solid #fff;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.calendar .month .date-data.active .visits .visited {
  background: #C6168D;
  color: #fff;
  padding: 10px;
  /* border-top: 1px solid; */
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.calendar .month .date-data.active .visits .entriesNum {
  background: #fff;
  color: #92278F;
  padding: 10px;
  /* border-bottom: 1px solid; */
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar-wrapper {
  position: relative;
}
.calendar-wrapper .prev {
  float: left;
  height: 100px;
  background: #C6168D;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.calendar-wrapper ul.month {
  float: left;
}
.calendar-wrapper .next {
  cursor: pointer;
  height: 100px;
  background: #C6168D;
  float: right;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.ui-dialog {
  background: transparent;
  border: none !important;
  width: 400px;
}
.ui-dialog .ui-dialog-title {
  float: none;
}
.ui-dialog .ui-dialog-titlebar {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Cachet W01 Book";
  font-weight: 700;
}
.ui-dialog .ui-dialog-titlebar-close {
  display: none !important;
}
.ui-dialog .ui-dialog-content {
  height: auto;
  max-width: 400px;
  background: #fff;
  max-height: auto;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
}
.ui-dialog .ui-dialog-content .form-item {
  margin: 0px;
}
.ui-dialog .ui-dialog-content .form-text {
  height: 50px;
  border-radius: 4px;
}
.ui-dialog .ui-dialog-content .button {
  width: 100%;
}

.ui-widget-overlay {
  background: black;
  opacity: 0.6;
}

#block-openy-campaign-theme-tabs {
  padding-top: 20px;
}

a:focus,
.dropdown-toggle:focus,
.carousel-control:focus,
.btn:focus,
.button:focus,
.btn.focus,
.focus.button,
.btn:active:focus,
.button:active:focus,
.btn:active.focus,
.button:active.focus,
.btn.active:focus,
.active.button:focus,
.btn.active.focus,
.active.focus.button,
.slick-arrow:focus:before,
.navbar-toggle:focus {
  outline: 5px auto #69ff00;
}

.focusable.skip-link:focus {
  position: fixed !important;
  top: 0;
}

/*# sourceMappingURL=styles.css.map */
