.categories {
  padding: 20px;
  .form-group .form-check {
    padding: 15px 20px;
    border-top: 1px solid #777;
  }

  .card {
    margin-bottom: 20px;
    &-title {
      margin-bottom: 0;
    }
    &-text {
      margin-bottom: 0;
    }


    li:first-child a:after {
      content: "|";
      padding-left: 8px;
    }
  }

  .btn-next {
    background: #fff;
    color: #777;
    border-radius: 0;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}
