{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="events-teaser-results-wrapper row clearfix justify-content-center">
  {% for row in rows %}
    <div class="events-teaser--row col-12 col-md-4 col-lg-3">
      {{ row.content }}
    </div>
  {% endfor %}
</div>
 