{% extends "page.html.twig" %}

{% block pagecontent %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ '403 Access Denied'|t }}</h1>
        <p>{{ 'You are not authorized to access this page.'|t }}</p>
      </div>
    </div>
  </div>
{% endblock %}
