@import 'compass';
@import 'breakpoint';

@import 'global/colors';
@import 'global/variables';
@import 'global/fonts';
@import 'ysr_2017/angular';
@import 'ysr_2017/misc';
@import 'ysr_2017/header';
@import 'ysr_2017/tabs';
@import 'ysr_2017/blocks';
@import 'ysr_2017/tabs-content';
@import 'ysr_2017/modals';
@import 'ysr_2017/ticker';
@import 'ysr_2017/footer';
