<div class="col-sm-push-6 col-sm-5 col-sm-offset-1 lead right">
  {% block call_to_action %}{% endblock %}
</div>
<div class="col-sm-pull-6 col-sm-6 lead left">
  {% block lead_description %}{% endblock %}
</div>