//Clearfix
%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%three-block-behaviour {
  margin-bottom: rem(20px);

  @include susy-media(tablet) {
    @include gallery(5 of 10);
    margin-bottom: gutter(10);
  }

  @include susy-media(desktop) {
    @include gallery(4 of 12);
    margin-bottom: gutter(12);
  }
}
