.goog-te-banner-frame.skiptranslate {
  display: none !important;
  visibility: hidden !important;
  height: 0px !important;
}
body {
  top: 0px !important;
}
.openy-google-translate {
  margin-bottom: 5px;
  .goog-te-gadget {
    color: #777;
    line-height: 58px;
    border-top: 2px solid transparent;
    font-size: 16px;
    max-height: 80px;
    padding: 15px;
    &:hover {
      background: #fff;
      border-top: 2px solid #aa228d;
    }
  }
}
.openy-google-translate select {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #777;
  &:hover {
    color: $black;
  }
}

@media (max-width: 767px) {
  .openy-gtranslate {
    display: none;
  }
}

@media (max-width: 767px) {
  .openy-google-translate {
    background: #0089d1;
    box-shadow: inset 0 1px #0181cc;
    font-family: "Cachet", Arial, sans-serif;
    text-shadow: none;
    select {
      color: #fff;
      font-size: 20px;
      &:hover {
        color: #fff;
      }
    }

    .goog-te-gadget {
      &:hover {
        background: none;
        border-top: none;
      }
    }
  }
  .goog-te-combo {
    border: none;
    background: none;
    text-transform: uppercase;
    width: 100%;
    option {
      color: $black;
    }
  }
}