@mixin hide-text($img: false, $position: false) {
  white-space: nowrap;
  overflow: hidden;
  @if $img == true {
    line-height: 0;
  }
  @if $position == true {
    text-indent: -9999px;
  }
  @if $position == false {
    text-indent: 100%;
  }
}

@mixin clearfix(){
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin pseudo-block($top: false, $right: false, $bottom: false, $left: false, $relative: false) {
  content: "";

  @if ($relative == false) {
    display: block;
    position: absolute;
  } @else {
    position: relative;
    display: block;
  }
  @if ($top) {
    top: $top;
  }
  @if ($right) {
    right: $right;
  }
  @if ($bottom) {
    bottom: $bottom;
  }
  @if ($left) {
    left: $left;
  }
}

@mixin form-placeholder ($color: inherit, $fontf: 0) {
  &::-webkit-input-placeholder {

    @if $fontf != 0 {
      font-family: $fontf;
    }

    color: $color;
  }

  &::-moz-placeholder {

    @if $fontf != 0 {
      font-family: $fontf;
    }

    color: $color;
  }

  &:-moz-placeholder {

    @if $fontf != 0 {
      font-family: $fontf;
    }

    color: $color
  }

  &:-ms-input-placeholder {

    @if $fontf != 0 {
      font-family: $fontf;
    }

    color: $color;
  }
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99.9%;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $screen-lg-desktop) {
       @content ;
     }
  }
   @else if $point == laptop {
     @media (min-width: $screen-desktop) {
       @content ;
     }
  }
    @else if $point == tablet {
      @media (min-width: $screen-tablet) {
        @content ;
      }
  }
  @else if $point == mobileonly {
    @media (max-width: $screen-phone)  {
      @content ;
    }
  }
}


@function pxtorem($px){
  @return ($px / $fontSizeRoot) + rem;
}

@function lh($lh, $fontSizeDefault: $fontSizeRoot) {
  @return $lh / $fontSizeDefault;
}

@mixin cachet() {
  font-family: "CachetBook", Verdana, sans-serif;
}

@mixin cachet-medium() {
  font-family: "CachetMedium", Verdana, sans-serif;
}

@mixin cachet-bold() {
  font-family: "CachetBold", Verdana, sans-serif;
}

@mixin helvetica-neue() {
  font-family: "Helvetica Neue LT W01_55 Roman", Helvetica, Arial, Verdana, sans-serif;
}

@mixin verdana() {
  font-family: Verdana, Arial, sans-serif;
}

@mixin btn-large-purple() {
  @include cachet-medium();
  background-image: linear-gradient(to bottom, $dark-magenta, $purple);
  border-radius: 0;
  border: none;
  color: $white;
  font-size: 18px;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  text-transform: uppercase;
  @include breakpoint(laptop) {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }
  &:hover {
    color: $border-grey;
  }
  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $border-grey;
    }
  }
}

@mixin reset-button-style() {
  background: none;
  color: $blue;
  padding: 0;
  height: auto;
  line-height: inherit;
  font-size: 15px;
  text-transform: none;
  font-family: Arial, Verdana, sans-serif;
}

@mixin btn-blue() {
  @include cachet();
  background-color: $blue;
  background-image: none;
  border-radius: 0;
  border: none;
  color: $white;
  font-size: 16px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  text-transform: uppercase;

  a {
    color: $white;
    text-decoration: none;
  }
}

@mixin read-more-link() {
  a {
    font-size: 15px;
    color: $color-blue;
    display: inline-block;
    vertical-align: top;
    line-height: lh(20.1, 15);
    position: relative;

    &:after {
      content: '>';
      display: inline-block;
      vertical-align: text-top;
      font-size: inherit;
      line-height: inherit;
      padding: 0 0 0 2px;
    }
  }
}
