.openy-digital-signage-block-promotional {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  .block-promotional {
    background-repeat: no-repeat;
    color: $black;
    height: 100%;

    &.block-promotional-background-cover {
      background-size: cover;
    }

    &.block-promotional-background-contain {
      background-size: contain;
    }

    &.block-promotional-background-top {
      background-position: top center;
    }

    &.block-promotional-background-bottom {
      background-position: bottom center;
    }

    &.block-promotional-background-left {
      background-position: center left;
    }

    &.block-promotional-background-right {
      background-position: center right;
    }

    &.block-promotional-color-white {

      .openy-digital-signage-block-promotional__headline {
        color: $white;
      }

      .openy-digital-signage-block-promotional__subheading {
        color: $grey2;
      }
    }

    &.block-promotional-color-orange {

      .openy-digital-signage-block-promotional__headline {
        color: $orange-medium;
      }

      .openy-digital-signage-block-promotional__subheading {
        color: $orange-dark;
      }

      &.block-promotional-background-dark {

        .openy-digital-signage-block-promotional__headline {
          color: $orange-light;
        }

        .openy-digital-signage-block-promotional__subheading {
          color: $orange-medium;
        }
      }
    }

    &.block-promotional-color-blue {

      .openy-digital-signage-block-promotional__headline {
        color: $blue-medium;
      }

      .openy-digital-signage-block-promotional__subheading {
        color: $blue-dark;
      }

      &.block-promotional-background-dark {

        .openy-digital-signage-block-promotional__headline {
          color: $blue-light;
        }

        .openy-digital-signage-block-promotional__subheading {
          color: $blue-medium;
        }
      }
    }

    &.block-promotional-color-purple {

      .openy-digital-signage-block-promotional__headline {
        color: $purple-medium;
      }

      .openy-digital-signage-block-promotional__subheading {
        color: $purple-dark;
      }

      &.block-promotional-background-dark {

        .openy-digital-signage-block-promotional__headline {
          color: $purple-light;
        }

        .openy-digital-signage-block-promotional__subheading {
          color: $purple-medium;
        }
      }
    }

    &.block-promotional-color-green {

      .openy-digital-signage-block-promotional__headline {
        color: $green-medium;
      }

      .openy-digital-signage-block-promotional__subheading {
        color: $green-dark;
      }

      &.block-promotional-background-dark {

        .openy-digital-signage-block-promotional__headline {
          color: $green-light;
        }

        .openy-digital-signage-block-promotional__subheading {
          color: $green-medium;
        }
      }
    }

    &.block-promotional-background-light {

      .openy-digital-signage-block-promotional__message {
        color: $black;
      }
    }

    &.block-promotional-background-dark {

      .openy-digital-signage-block-promotional__message {
        color: $white;
      }
    }
  }
}

.openy-digital-singage-block-promotional__image {
  background-position: center center;
  height: 100%;
}

.openy-digital-signage-block-promotional__headline {
  font-size: 120 / 1920 * 100vw;
  line-height: 120 / 1920 * 100vw;
  margin: 0;
  text-transform: uppercase;

  .portrait & {
    font-size: 80 / 1920 * 100vh;
    line-height: 80 / 1920 * 100vh;
  }

  .openy-ds-layout-2col--right & {
    font-size: 60 / 1920 * 100vw;
    line-height: 60 / 1920 * 100vw;
  }
}

.openy-digital-signage-block-promotional__subheading {
  font-size: 60 / 1920 * 100vw;
  line-height: 70 / 1920 * 100vw;
  margin: 0;
  margin-top: 60 / 1920 * 100vw;
  text-transform: uppercase;

  .portrait & {
    font-size: 50 / 1920 * 100vh;
    line-height: 60 / 1920 * 100vh;
  }

  .openy-ds-layout-2col--right & {
    font-size: 40 / 1920 * 100vw;
    line-height: 48 / 1920 * 100vw;
  }
}

.openy-digital-signage-block-promotional__message {
  font-size: 30 / 1920 * 100vw;
  letter-spacing: -1.4 / 1920 * 100vw;
  line-height: 40 / 1920 * 100vw;
  margin-top: 60 / 1920 * 100vw;

  .portrait & {
    font-size: 30 / 1920 * 100vh;
    letter-spacing: -1.4 / 1920 * 100vh;
    line-height: 40 / 1920 * 100vh;
  }

  .openy-digital-signage-block-promotional__message__inner {

  }
}

.openy-digital-signage-block-promotional__text-content {
  font-family: $fontBook;
  padding: 150 / 1920 * 100vw;
  position: absolute;

  .block-promotional-message-position-top & {
    top: 0;
  }

  .block-promotional-message-position-bottom & {
    bottom: 0;
  }

  .block-promotional-layout-l-left-50 & {
    width: (1920 / 2 + 150) / 1920 * 100vw;
  }

  .block-promotional-layout-l-bottom-50 & {
    width: 100%;
  }

  .block-promotional-layout-l-bottom-50.block-promotional-message-position-top & {
    top: 50%;
    transform: translateY(-150 / 1920 * 100vw);
  }

  .openy-ds-layout-2col--right & {
    padding-left: 90 / 1920 * 100vw;
    max-width:100%;
  }

  .portrait & {
    padding: 150 / 1920 * 100vh;
  }

  .portrait .block-promotional-message-position-bottom.block-promotional-layout-p-top-33 & {
    bottom: 66.667%;
    transform: translateY(150 / 1920 * 100vh);
  }

  .portrait .block-promotional-message-position-top.block-promotional-layout-p-bottom-33 & {
    top: 66.667%;
    transform: translateY(-150 / 1920 * 100vh);
  }

}
