/* Effective height is 108px */
.openy-digital-signage-block-system-message {
  width: 100%;
  height: 100%;
  position: relative;

  .block-system-message {
    height: 100%;
    width: 100%;
  }
}

//1312x599

.openy-digital-signage-block-system-message__icon {
  background-color: $white;
  border-radius: 116 / 1920 * 100vw;
  border: 5px solid $purple-dark;
  color: $purple-dark;
  height: 232 / 1920 * 100vw;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-150%);
  width: 232 / 1920 * 100vw;
  z-index: 20;

  .ds-icon {
    font-size: 200 / 1920 * 100vw;
    line-height: 222 / 1920 * 100vw;
  }
}

.openy-digital-signage-block-system-message__message {
  background-color: transparent;
  background-image: url(../images/blocks/system-message-balloon.png);
  background-size: cover;
  height: 599 / 1920 * 100vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-45%);
  width: 1312 / 1920 * 100vw;
  z-index: 10;


  .openy-digital-signage-block-system-message__message__inner {
    font-family: $fontBook;
    font-size: 65 / 1920 * 100vw;
    left: 50%;
    line-height: 70 / 1920 * 100vw;
    letter-spacing: -3 / 1920 * 100vw;
    position: absolute;
    text-align: center;
    top: 317 / 599 * 100%;
    transform: translateX(-50%) translateY(-50%);
    width: 1055 / 1312 * 100%;
  }

  a {
    color: #dd5828;
  }
}

$vwk: 1.5;

.openy-ds-layout.portrait {
  .openy-digital-signage-block-system-message__icon {
    border-radius: 116 / 1920 / $vwk * 100vh;
    height: 232 / 1920 / $vwk * 100vh;
    width: 232 / 1920 / $vwk * 100vh;

    .glyphicon {
      font-size: 116 / 1920 / $vwk * 100vh;
      line-height: 232 / 1920 / $vwk * 100vh;
    }
  }

  .openy-digital-signage-block-system-message__message {
    height: 599 / 1920 / $vwk * 100vh;
    width: 1312 / 1920 / $vwk * 100vh;

    .openy-digital-signage-block-system-message__message__inner {
      font-size: 65 / 1920 / $vwk * 100vh;
      line-height: 70 / 1920 / $vwk * 100vh;
      letter-spacing: -3 / 1920 / $vwk * 100vh;
    }
  }
}

.block-system-message-color-orange {
  background-color: $orange-medium;
  background-image: url(../images/bg-body-orange.png);
  background-size: cover;
  background-position: center center;

  .openy-digital-signage-block-system-message__icon {
    border-color: $orange-dark;
    color: $orange-dark;
  }

  .openy-digital-signage-block-system-message__message {
    a {
      color: $orange-dark;
    }
  }
}

.block-system-message-color-blue {
  background-color: $blue-medium;
  background-image: url(../images/bg-body-blue.png);
  background-size: cover;
  background-position: center center;

  .openy-digital-signage-block-system-message__icon {
    border-color: $blue-dark;
    color: $blue-dark;
  }

  .openy-digital-signage-block-system-message__message {
    a {
      color: $blue-dark;
    }
  }
}

.block-system-message-color-purple {
  background-color: $purple-medium;
  background-image: url(../images/bg-body.png);
  background-size: cover;
  background-position: center center;

  .openy-digital-signage-block-system-message__icon {
    border-color: $purple-dark;
    color: $purple-dark;
  }

  .openy-digital-signage-block-system-message__message {
    a {
      color: $purple-dark;
    }
  }
}