.node--type-blog {
  &.node--view-mode-teaser {
    .blog-category {
      font-family: $font-family-cachet;
    }
  }
}

.blog-related {
  position: relative;

  h2 {
    font-family: $font-family-cachet;
  }
}