.page_home .pre-footer {
  margin-top: 0;
}

.page_home #page-footer {
  padding-top: 14px;
}

#page-footer #block-openy-lily-footersocialblock ul li a.icon-youtube:before {
  content: "\f167";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-flickr:before {
  content: "\f16e";
}

.icon-instagram:before {
  content: "\f16d";
}

#page-footer #block-openy-lily-footermenucenter .nav li a {
  font-family: $font-family-cachet;
  font-size: 20px;
  color: #a8a8a8;
}

#page-footer #block-openy-lily-footersocialblock ul li a.social-icon {
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
}

#page-footer {
  #block-openy-lily-footercopyrightblock {
    padding-top: 20px;
    padding-bottom: 10px;
    h5, p {
      font-family: Verdana,Arial,sans-serif;
      display: inline-block;
      margin: 0;
      font-size: 12px;
      line-height: 20px;
      color: $gray;
    }
  }
}
