.path-frontpage {
  .masthead {
    .find-locations {
      .location-search {
        right: 0;
      }
    }

    @include breakpoint ($tablet 1499px) {
      .location-search {
        top: 15px;
      }

      .location-search-collapse {
        margin-top: 20px;
      }
    }
  }
}
