@media screen and (max-width: 767px) {
  .toolbar-vertical {
    &.sidebar-in #sidebar {
      margin-top: 52px;
    }
  }
}

.path-frontpage .container .container-fluid {
  padding: 0;
  margin: 0;
}

.container .container-fluid {
  padding: 0;
}

.viewport .openy-gtranslate .goog-te-gadget-simple .goog-te-menu-value {
  line-height: 96px;
}
