@media screen and (max-width: 767px) {
  .toolbar-vertical {
    &.sidebar-in #sidebar {
      margin-top: 52px;
    }
  }
}

.path-frontpage .container .container-fluid {
  padding: 0;
  margin: 0;
}

.container .container-fluid {
  padding: 0;
}

.viewport .openy-gtranslate .goog-te-gadget-simple .goog-te-menu-value {
  line-height: 96px;
}

.wrapper-field-sidebar-content {
  .paragraph--type--ygtc-block-wrapper {
    .content-expander .panel-title h2 a:before,
    .content-expander .panel-title h4 a:before {
      display: none;
    }

    #component_146028 {
      a {
        border-radius: 5px;
        border: 1px solid #e3c7e1;
        color: #92288d;
        display: inline-block;
        font-size: 16px;
        padding: 15px 35px;
        text-transform: uppercase;
        font-family: Cachet;
        font-weight: bold;
        margin-top: 15px;
      }
    }
    @media (min-width: 767px) {
      .panel-heading {
        cursor: none;
        display: block;
        background: #fff;
        padding: 0;
      }
    }

    @media (max-width: 767px) {
      .panel-heading {
        border:  1px solid #ddd;
        background: #fff;
        h2 {
          a {
            font-size: 12px;
          }
        }
      }
    }

    .panel-heading {
      h2 {
        text-transform: uppercase;
        a {
          color: #424242;
          padding-bottom: 0;
          ::before{
            display: none;
          }
          &.collapsed::before {
            display: none;
          }
        }
      }
    }

    ul {
      margin: 25px 0 30px;
      padding-left: 0;
      li {
        list-style: none;
        font-size: 15px;
        margin-bottom: 15px;

        a::before {
          content: "\f105";
          color: #777;
          font-family: icomoon;
          list-style: none;
          margin-right: 14px;
          font-weight: bold;
        }
      }
    }

    .panel-default {
      background: #fff;
      border: 0;

      .panel-body {
        border-top: 0;
        h3 {
          font-weight: bold;
          font-family: 'Cachet', Verdana, Arial, sans-serif;
          color: #333;
        }
      }
    }
    @media (min-width: 767px) {
      .panel-group > .panel-default > .panel-collapse {
        display: block;
        height: auto !important;
        background: transparent;
        border: 0;
      }
    }
  }
}

.wrapper-field-prgf-ygtc-block-ref {
  ul {
    margin: 25px 0 30px;
    padding-left: 0;
    li {
      list-style: none;
      font-size: 15px;
      margin-bottom: 15px;

      a::before {
        content: "\f105";
        color: #777;
        font-family: icomoon;
        list-style: none;
        margin-right: 14px;
        font-weight: bold;
      }
    }
  }
}
