@media screen and (max-width: 767px) {
  .toolbar-vertical {
    &.sidebar-in #sidebar {
      margin-top: 52px;
    }
  }
}

.path-frontpage .container .container-fluid {
  padding: 0;
  margin: 0;
}

.container .container-fluid {
  padding: 0;
}

.viewport .openy-gtranslate .goog-te-gadget-simple .goog-te-menu-value {
  line-height: 96px;
}

.wrapper-field-prgf-ygtc-block-ref {
  ul {
    margin: 25px 0 30px;
    padding-left: 0;
    li {
      list-style: none;
      font-size: 15px;
      margin-bottom: 15px;

      a::before {
        content: "\f105";
        color: #777;
        font-family: icomoon;
        list-style: none;
        margin-right: 14px;
        font-weight: bold;
      }
    }
  }
}
