#small-text-banner {
  @include breakpoint(0 $tablet) {
    min-height: initial;
  }

  &:before {
    position: absolute;
    top: 0;
    left: -21%;
    z-index: 2;
    width: 80%;
    height: 100%;
    background: inherit;
    content: '';
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    @include breakpoint(0 767px) {
      display: none;
    }
    @include breakpoint(768px) {
      display: block;
    }
  }

  .header-copy {
    .banner-copy {
      @include breakpoint(0 767px) {
        padding-top: 20px;
        padding-bottom: 10px;
      }
      h1 {
        @include breakpoint(0 $tablet-start) {
          font-size: 24px;
        }
      }
      p {
        @include breakpoint(0 767px) {
          font-size: 16px;
        }
      }
    }
  }

  .header-image {

    figure {
      .field-media-image div {
        padding-bottom: 0 !important;
      }

      .media--ratio {
        height: auto;
      }
      .media--ratio .media__element {
        display: block;
        height: auto;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }
}

.paragraph--type--secondary-description-sidebar {
  font-family: $font-family-cachet;
  margin-bottom: 0;
  padding: 10px 0 20px 0;

  h3 {
    margin-top: 0;
  }

  .left {
    @include breakpoint ($tablet) {
      padding: 20px 15px;
    }
  }

  .right {
    @include breakpoint ($tablet) {
      padding: 20px 15px;
    }
  }

  .field-prgf-right-column-block {
    a:after {
      margin-left: 10px;
      content: 'o';
      text-transform: none;
      font-size: 18px;
      font-family: 'YMCA';
    }
  }
}

.path-frontpage .field-prgf-right-column-block {
  a:after {
    content: none;
  }
}

.field-prgf-description {
  article a:hover .inner-wrapper h3:after {
    color: $blue;
  }
  .embedded-entity img {
    padding: 0;
  }

  .text-promo {
    background: none;
    box-shadow: none;
    a {
      color: $blue;
    }
    h3:hover {
      color: $black5;
    }
  }

  .inner-wrapper {
    background: $grey20;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    color: $grey28;

    .blog-heading {
      h3 {
        padding-left: 20px;
        padding-right: 20px;
        &:after {
          margin-right: 10px;
          margin-left: 10px;
          width: 8%;
          color: $grey29;
          content: 'o';
          vertical-align: baseline;
          text-align: center;
          font-size: 24px;
          font-family: 'YMCA';
          -webkit-transition: color .3s ease-out;
        }
      }
    }
    &:hover {
      color: $black5;
    }

    .promo-text {
      padding-bottom: 10px;
      p {
        margin: 0;
        padding: 0 20px 10px;
      }
    }
  }

  h2 a:after {
    position: relative;
    top: -1px;
    margin-left: 10px;
    content: 'o';
    vertical-align: middle;
    font-size: 20px;
    font-family: 'YMCA';
  }

  .content-expander .panel-title a {
    > *:before {
      position: relative;
      top: 0;
      margin-right: .3em;
      content: "\e082";
      vertical-align: middle;
      text-transform: none;
      font-weight: normal;
      font-size: .7em;
      font-family: 'Glyphicons Halflings';
    }
    &.collapsed > {
      *:before, h4:before {
        content: "\e081";
      }
    }
  }

  .textpander .panel-heading, .content-expander .panel-heading {
    position: relative;
    padding: 0;
    background: $white;
  }

  .panel-default {
    &.textpander, &.content-expander {
      border-radius: 5px;
      background: $gray30;
    }
  }

  .textpander .panel-title a, .content-expander .panel-title a {
    display: block;
    padding: 5px 5px 5px 10px;
    outline: 0 !important;
    box-shadow: none;
    color: $brilliant-cyan-blue;
    &:focus {
      border-color: $blue-malibu;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    h3 {
      margin: 0;
    }
  }
}

.featured-highlights-block a {
  &:after {
    display: none;
  }
}

.paragraph--type--featured-highlights {
  article a:hover .inner-wrapper .blog-heading {
    h3:after {
      background-color: $blue;
    }
    p {
      color: $grey25;
    }
  }

  .embedded-entity img {
    padding: 0;
  }

  article.featured-highlights-block a {
    .inner-wrapper:hover {
      background-color: $white;
      color: $grey25;
    }

    .inner-wrapper h3 {
      font-weight: bold;
      margin-top: 8px;
      font-size: 30px;
      &:after {
      margin: 10px 10px 0;
      display: inline-block;
      color: white;
      background: #b3b3b3;
      content: "\f054";
      text-align: center;
      font-size: 24px;
      font: normal normal normal 14px/1 FontAwesome;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      padding-top: 4px;
      padding-left: 2px;
      vertical-align: text-top;
      }
    }
  }

  article.featured-highlights-block {
    a {
      .inner-wrapper {
        background-color: #f1f1f1;
        .blog-heading {
          padding: 10px;
          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }
}

.sidebar-card {
  h2 {
    font-family: $font-family-cachet;
  }
}
