#search-box {
  &.expanded-search {
    @include breakpoint (767px 991px) {
      padding: 20px 15px;
    }
  }

  @include breakpoint (0 767px) {
    display: none;
  }

  @include breakpoint (767px 992px) {
    display: block;
  }
}
