{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 */
#}
{{ attach_library('openy_repeat/openy_repeat') }}

<div class="container repeat-schedule">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar js-sidebar">
            <h4>Filter by</h4>
            <form class="form">
                <div class="row">
                    <div class="form-group">
                        <label for="inputText">Date:</label>
                        <div class="input-group date" id="datepicker" data-date-format="MM dd, yyyy">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </span>
                        </div>
                    </div>
                </div>
                {% if locations is not empty %}
                    <div class="row">
                        <div class="form-group location">
                            <label for="inputText">Location:</label>
                            {% for location in locations %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ location }}" class="box"> {{ location }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main-table">
            <center>
                <h2 class="sub-header">
                    <span class="left"> < </span>
                    <span class="date"></span>
                    <span class="right"> > </span>
                </h2>
            </center>
            <div id="app">
                <results inline-template :prop-data="globalData.table">
                    <div class="vue-template">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Class</th>
                                        <th>Instructor</th>
                                        <th>Location</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in propData">
                                        <td v-cloak>${ item.time } <div>${ item.duration }</div></td>
                                        <td v-cloak>${ item.name }</td>
                                        <td v-cloak>${ item.instructor }</td>
                                        <td v-cloak>${ item.location }</td>
                                        <td v-cloak><a href="/node/item.nid">Learn more</a></td>
                                        <td v-cloak>
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </results>
            </div>
        </div>
    </div>
</div>
