{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 * - categories: categories of "repeat" entity for filter.
 */
#}

{{ attach_library('openy_repeat/openy_repeat') }}

<div class="schedule-dashboard__wrapper" id="app">
  <div class="container">
    <div class="row">

      {# sidebar #}
      {% block sidebar_wrapper %}
      <div class="col-xs-12 col-sm-4 col-md-3 schedule-dashboard__sidebar">
        {% include '@openy_repeat/openy-repeat-schedule-dashboard--sidebar.html.twig' %}
      </div>
      {% endblock %}

      {# main table #}
      {% block maintable_wrapper %}
      <div class="col-xs-12 col-sm-8 col-md-9 schedule-dashboard__content main-table">
        {% include '@openy_repeat/openy-repeat-schedule-dashboard--table.html.twig' %}
      </div>
      {% endblock %}

    </div>
  </div>
</div>
